<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Tokyo Story</h3>
          <p class="card-text mb-0">


  <span > An old couple visit their children and grandchildren in the city, but receive little attention.  </span>
                          <span > Elderly couple Shukishi and Tomi Hirayama live in the small coastal village of Onomichi, Japan with their youngest daughter, schoolteacher Kyoko Hirayama. Their other three surviving adult children, who they have not seen in quite some time, live either in Tokyo or Osaka. As such, Shukishi and Tomi make the unilateral decision to have an extended visit in Tokyo with their children, pediatrician Koichi Hirayama and beautician Shige Kaneko, and their respective families (which includes two grandchildren). In transit, they make an unexpected stop in Osaka and stay with their other son, Keiso Hirayama. All of their children treat the visit more as an obligation than a want, each trying to figure out what to do with their parents while they continue on with their own daily lives. At one point, they even decide to ship their parents off to an inexpensive resort at Atami Hot Springs rather than spend time with them. The only offspring who makes a concerted effort on this trip is Noriko Hirayama, their widowed daughter-in-law, whose husband, Shoji Hirayama, was killed eight years earlier in the war. Following the vacation, each child comes to some conclusion of their general behavior toward their parents, not only on this trip but throughout their entire adult lives. For some, this realization may come too late. -Huggo.  </span>
                          <span > In Onomichi, Hiroshima, the retired Shukishi Hirayama and his wife Tomi Hirayama live with their single daughter, the teacher Kyôko. They decide to travel in a long voyage by train to Tokyo to visit their children, the doctor Koichi Hirayama and the hairdresser Shige Kaneko. However, the indifferent and selfish Koichi and Shige can not afford time to spend with their parents but the widow sister-in-law Noriko Hirayama gives attention to them and goes on sightseeing through Tokyo with the old couple. Shukishi and Tomi note that their children do not have time for them and they decide to return to Onomichi. Along their trip, Tomi does not feel well and they stop in Osaka to visit their son Keizo Hirayama. Soon each son and daughter receives a telegram from Onomichi with sad news. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > An elderly couple, Shukishi and Tomi, travel from Hiroshima to Tokyo to visit their children. The trip is arduous for the humble, elderly couple who are keen to see their children again. Their son, Koichi, is a doctor and is often away from home. Their daughter Shige finds their visit to be a costly imposition on her time. The only person who seems to care about them is their widowed daughter-in-law Noriko. Their stay in Tokyo proves to be a sad one as they soon come to realize they are not particularly welcome and that their children see the visit more as a nuisance than anything else. As Tomi begins to feel unwell, they decide to return home but must face a tragic end. -garykmcd.  </span>
    <span class="additional-information" > An elderly couple head to Tokyo to spend a few days with their children and grandchildren. While their children are initially glad to see them, and the parents are models of patience and pleasantness, the novelty wears off pretty quickly for the children and they soon view the parents as a hindrance more than anything else. Then an event highlights the divide between the two generations. -grantss.  </span>
    <span class="additional-information" > The ageing couple of Shukishi, and his wife, Tomi, leave their small rural village of Onomichi to visit their married children and grandchildren in bustling post-war Tokyo. However, their offspring's reaction is far from what they expected: the reception of their elder son, the always busy, Dr Koichi, is utterly disappointing. Now, against the backdrop of unconscious but majestic indifference and silently culpable neglect, love turns into guilt; hope transforms into failure, and dreams suffocate in an abysmal generation gap. Can a simple trip to Tokyo expose the essence of loneliness and the frail existence of man? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWQ4ZTRiODktNjAzZC00Nzg1LTk1YWQtNDFmNDI0NmZiNGIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Tokyo Story"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Osaka, Japan
            </td>
                <td class="table__cell">
                34.68639, 135.52
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Japan, Hiroshima尾道市
            </td>
                <td class="table__cell">
                34.40889, 133.205
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                国立新美術館 (The National Art Center, 六本木7-22-2, 東京都, Tokyo Prefecture 106-0032, Japan
            </td>
                <td class="table__cell">
                35.6652065, 139.7263785
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tokyo Prefecture, Japan
            </td>
                <td class="table__cell">
                35.68, 139.77
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Japan, Shizuoka熱海市
            </td>
                <td class="table__cell">
                35.09611, 139.07167
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[35.09611, 139.07167], [35.6652065, 139.7263785], [35.68, 139.77]], "data": [{"lat": 34.68639, "lon": 135.52, "name": "Osaka, Japan"}, {"lat": 34.40889, "lon": 133.205, "name": "Japan, Hiroshima\u5c3e\u9053\u5e02"}, {"lat": 35.6652065, "lon": 139.7263785, "name": "\u56fd\u7acb\u65b0\u7f8e\u8853\u9928 (The National Art Center, \u516d\u672c\u67287-22-2, \u6771\u4eac\u90fd, Tokyo Prefecture 106-0032, Japan"}, {"lat": 35.68, "lon": 139.77, "name": "Tokyo Prefecture, Japan"}, {"lat": 35.09611, "lon": 139.07167, "name": "Japan, Shizuoka\u71b1\u6d77\u5e02"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>