<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Tokyo Story</h3>
                        <p class="card-text">
                          An old couple visit their children and grandchildren in the city, but receive little attention.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWQ4ZTRiODktNjAzZC00Nzg1LTk1YWQtNDFmNDI0NmZiNGIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Tokyo Story"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Osaka, Japan
            </td>   
                <td class="table__cell">
                34.68639, 135.52
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Onomichi, Hiroshima, Japan
            </td>   
                <td class="table__cell">
                34.40889, 133.205
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tokyo, Japan
            </td>   
                <td class="table__cell">
                35.6652065, 139.7263785
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rino ji temple, Ueno koen, Taito, Tokyo, Japan 
            </td>   
                <td class="table__cell">
                35.68, 139.77
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atami, Shizuoka, Japan
            </td>   
                <td class="table__cell">
                35.09611, 139.07167
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>