<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Batman</h3>
                        <p class="card-text">
                          When the Riddler, a sadistic serial killer, begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDdmMTBiNTYtMDIzNi00NGVlLWIzMDYtZTk3MTQ3NGQxZGEwXkEyXkFqcGdeQXVyMzMwOTU5MDk@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Batman"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                St. George's Hall, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.4086245</span>, <span class="lon">-2.980103</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Necropolis Cemetery, Glasgow, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.862627</span>, <span class="lon">-4.232136499999999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                N Wells St & W Kinzie St, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8891546</span>, <span class="lon">-87.6340145</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hartwood Psychiatric Hospital, Shotts, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.8113</span>, <span class="lon">-3.8387</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Anfield Cemetery, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.4378575</span>, <span class="lon">-2.9580735000000002</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Waterloo Monument, William Brown St, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.38145972</span>, <span class="lon">-0.676181762467007</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                County Sessions House, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.407154</span>, <span class="lon">-2.991665</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Walker Art Gallery, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.409957</span>, <span class="lon">-2.9795730000000002</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Printworks Nightclub, Surrey Quays Rd, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.530899</span>, <span class="lon">0.073583</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Royal Liver Building, Liverpool, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.405811</span>, <span class="lon">-2.99608</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kingsway Tram Tunnel, Southampton Row, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Leavesden Studios, Leavesden, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.69323</span>, <span class="lon">-0.4184505</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cardington Airship Hangars, Bedfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.28478</span>, <span class="lon">-0.760758</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Two Temple Place, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.5115615</span>, <span class="lon">-0.112318</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Central Saint Martins, 1 Granary Square, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.2781407</span>, <span class="lon">1.0948644</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                91 Wishart St, Glasgow, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.864935</span>, <span class="lon">-4.230782</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The O2, North Greenwich, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.502822125</span>, <span class="lon">0.0032571874999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                230 S LaSelle St, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8785</span>, <span class="lon">-87.632696</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>