<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Third Man</h3>
                        <p class="card-text">
                          Pulp novelist Holly Martins travels to shadowy, postwar Vienna, only to find himself investigating the mysterious death of an old friend, Harry Lime.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjE2OTdhMWUtOGJlMy00ZDViLWIzZjgtYjZkZGZmMDZjYmEyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Third Man"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                8 Schreyvogelgasse, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.212149, 16.362752
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hotel Sacher, Philharmonikerstrasse 4, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.2038435, 16.369573000000003
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Zentral Friedhof, Simmeringen Hauptstrasse, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.16329005, 16.42808725
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Neuer Markt, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.2060995, 16.370687500000003
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palais Pallavicini, Josefsplatz 5, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.2068175, 16.3674165
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Reichsbrücke, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.2282515, 16.4097055
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Morzinplatz, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.212917000000004, 16.374419000000003
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Prater Park, Prater, Vienna, Austria 
            </td>   
                <td class="table__cell">
                48.20833, 16.37306
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London Film Studios, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                51.407444, -0.465177
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Isleworth, Middlesex, England, UK
            </td>   
                <td class="table__cell">
                51.4666, -0.3363
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>