<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Batman Begins</h3>
                        <p class="card-text">
                          After training with his mentor, Batman begins his fight to free crime-ridden Gotham City from corruption.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Batman Begins"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Skaftafell, Iceland
            </td>   
                <td class="table__cell">
                <span class="lat"> 64.0165365</span>, <span class="lon">-16.9668115</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Svínafellsjökull, Vatnajökull, Austurland, Iceland
            </td>   
                <td class="table__cell">
                <span class="lat"> 64.007538</span>, <span class="lon">-16.875601</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mentmore Towers, Mentmore, Buckinghamshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.87</span>, <span class="lon">-0.684</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lower Wacker Drive, Downtown, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8928</span>, <span class="lon">-88.207</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chicago Board of Trade   141 W. Jackson Blvd., The Loop, Downtown, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.877263</span>, <span class="lon">-87.63204</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cardington Airship Hangars, Bedfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.28478</span>, <span class="lon">-0.760758</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                LaSalle Street, The Loop, Downtown, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8756</span>, <span class="lon">-87.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Coalhouse Fort, East Tilbury, Essex, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.465123500000004</span>, <span class="lon">0.4319505</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canary Wharf, Isle of Dogs, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Franklin Orleans Street Bridge, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8872375</span>, <span class="lon">-87.6359515</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hatfield House, Hatfield, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.761217</span>, <span class="lon">-0.2098325</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Knebworth House, Knebworth, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.873279499999995</span>, <span class="lon">-0.214523</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                George Farmiloe Building   28 36 St John Street, Clerkenwell, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.527098</span>, <span class="lon">-0.104408</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St. Pancras Chambers, St. Pancras Station, St. Pancras, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Waukegan, Illinois, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3636</span>, <span class="lon">-87.8448</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Öræfasveit, Iceland
            </td>   
                <td class="table__cell">
                <span class="lat"> 64.9975884448459</span>, <span class="lon">-18.6054668169534</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                ExCeL London, Royal Victoria Dock, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507746</span>, <span class="lon">0.019321</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Senate House, University College London, Malet Street, Bloomsbury, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.520851</span>, <span class="lon">-0.128585</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                H Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                K Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                J Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Knebworth, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.866</span>, <span class="lon">-0.184</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>