<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Gandhi</h3>
          <p class="card-text mb-0">


  <span > The life of the lawyer who became the famed leader of the Indian revolts against the British rule through his philosophy of nonviolent protest.  </span>
                          <span > In 1893, Mohandas K. Gandhi is thrown off a South African train for being an Indian and traveling in a first class compartment. Gandhi realizes that the laws are biased against Indians and decides to start a non-violent protest campaign for the rights of all Indians in South Africa. After numerous arrests and the unwanted attention of the world, the government finally relents by recognizing rights for Indians, though not for the native blacks of South Africa. After this victory, Gandhi is invited back to India, where he is now considered something of a national hero. He is urged to take up the fight for India's independence from the British Empire. Gandhi agrees, and mounts a non-violent non-cooperation campaign of unprecedented scale, coordinating millions of Indians nationwide. There are some setbacks, such as violence against the protesters and Gandhi's occasional imprisonment. Nevertheless, the campaign generates great attention, and Britain faces intense public pressure. Too weak from World War II to continue enforcing its will in India, Britain finally grants India's independence. Indians celebrate this victory, but their troubles are far from over. Religious tensions between Hindus and Muslims erupt into nation-wide violence. Gandhi declares a hunger strike, saying he will not eat until the fighting stops. The fighting does stop eventually, but the country is divided. It is decided that the northwest area of India, and eastern part of India (current day Bangladesh), both places where Muslims are in the majority, will become a new country called Pakistan (West and East Pakistan respectively). It is hoped that by encouraging the Muslims to live in a separate country, violence will abate. Gandhi is opposed to the idea, and is even willing to allow Muhammad Ali Jinnah to become the first prime minister of India, but the Partition of India is carried out nevertheless. Gandhi spends his last days trying to bring about peace between both nations. He thereby angers many dissidents on both sides, one of whom finally gets close enough to assassinate him. -gavin (gunmasterM@hotmail.com).  </span>
                          <span > The last fifty years of the life of Mahatma Gandhi leading to his assassination in 1948 is portrayed. In the late 1800's South Africa, then Indian-British attorney Mohandas K. Gandhi takes up the cause of fighting what he sees as racially discriminatory laws against colored people such as himself and other ethnic Indians. Being that South Africa is part of the British Empire, he is hoping that news of such in the British press will support his cause. Although violence is used against him by the authorities, his protests are only by peaceful means. Having made a name for himself as a motivator of peaceful action which he does not want confused with passivity, Gandhi returns to India in 1915, when he has now abandoned his western clothing for more basic self-made garb of shawls and loincloths. He is asked by prominent Indian figures of the day, such as Jawaharlal Nehru, Vallabhbhai Patel and Muhammad Ali Jinnah, to join the fight for Indian independence from the British, despite some within that group believing Gandhi's methods ineffective. Because of internal religious conflicts between the Hindus and minority Muslims among others, the British believe that an Indian self-government would lead to chaos, which to Gandhi is beside the point. But Gandhi's ability to rally the troops is enough to strike fear in the British controlled authorities, who do whatever they feel they need to quash his quiet revolution while trying not to make him appear the martyr. Even if Gandhi and his cohorts are able to achieve independence for their homeland, Gandhi must figure out how to control the dissent between the Hindus and the Muslims. Among those documenting the process are American journalist Vince Walker and American photojournalist Margaret Bourke-White, both on the most part sympathetic to Gandhi's cause. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > This acclaimed biographical drama presents major events in the life of Mohandas K. Gandhi, the beloved Indian leader who stood against British rule over his country. Dedicated to the concept of nonviolent resistance, Gandhi is initially dismissed by English officials, including the influential Lord Irwin, but eventually he and his cause become internationally renowned, and his gatherings of passive protest move India towards independence. -Jwelch5742.  </span>
    <span class="additional-information" > When Mohandas Gandhi first set foot in British India, he had already been to Britain and South Africa, and had created quite a stir for the betterment of the people. But in India, he realized that he had first to live the life of a peasant to understand what it is to be an Indian. This resolve will lead him to shed his westerners clothing, don a simple loincloth, mobilize awareness of local industry, lessen dependence on imported clothing and material, the historic Dandee march for withdrawal of the salt tax, a fast unto death to stop the virtual slaughter of British troops, and be imprisoned several times. His resolve was to work with stalwarts such as Mohammed Ali Jinnah, Sardar Valabhbhai Patel, Professor Gokhale, J.B. Kripalani, Maulana Azad, and Pandit Jawaharlal Nehru to ensure first of all to get the British to quit India, and then run an Indian Government under the Congress party. Gandhi will soon realize that it is not enough to be just an Indian, for India has many facets - Muslim, Hindu, Sikh, Jewish, and Christian. The British relied on these many facets as an excuse for their continuance as they wanted to ensure that the minorities are not oppressed. Concerned over the inroads made by Gandhi to unite the Hindus, Muslims, and all others under a common umbrella, the British invited Jinnah for talks, and it is here that a seed was laid for a separate country called Pakistan. When Gandhi came to know about this, he pleaded with Jinnah to unite the Muslims, even take over as the first Prime Minister with his choice of Muslim candidates for Parliament, but separatist Jinnah had already made up his mind. The World Wars of 1914 and 1944 having taken its toll on Europe, and on Britain in particular, the weary British finally decided to leave India in 1947 - not the India they had conquered - but an India that was ready to be divided in East Pakistan and West Pakistan. Now after the much awaited independence was the real test for Gandhi - a test that will make him or break him - as he started a fast unto death to try and stop the violence that was threatening to break out into a civil war. -rAjOo (gunwanti@hotmail.com).  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzJiZDRmOWUtYjE2MS00Mjc1LTg1ZDYtNTQxYWJkZTg1OTM4XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gandhi"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Staines-Upon-Thames, Surrey, England, United Kingdom
            </td>
                <td class="table__cell">
                51.43331, -0.49738
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Patna, Bihar, India
            </td>
                <td class="table__cell">
                25.61, 85.14139
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hydrabad House, 1688 Barracks, New Delhi, New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.616018, 77.228217
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                India Gate, New Delhi, New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.613, 77.2301
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Porbandar, Gujarat, India
            </td>
                <td class="table__cell">
                21.64219, 69.60929
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pune, Maharashtra, India
            </td>
                <td class="table__cell">
                18.52361, 73.84778
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Palase, Lavasa, Pune, Maharashtra, India
            </td>
                <td class="table__cell">
                18.394477, 73.539625
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Gandhi Smriti, 5 Tees January Marg, New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.6020695, 77.214247
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Buckingham Palace, Buckingham Palace Rd, London, England SW1A 1AA, United Kingdom
            </td>
                <td class="table__cell">
                51.500978, -0.1425615
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kolkata, West Bengal, India
            </td>
                <td class="table__cell">
                22.54111, 88.33778
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bromley, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.3897, 0.0286
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Maharashtra, India
            </td>
                <td class="table__cell">
                19.75554191457, 76.3571538571062
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pune, Maharashtra, India
            </td>
                <td class="table__cell">
                18.52361, 73.84778
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bromley, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.3897, 0.0286
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Punjab, India
            </td>
                <td class="table__cell">
                31.025164, 75.586342
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Delhi, India
            </td>
                <td class="table__cell">
                28.66667, 77.21667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.7, 77.2
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                West Bengal, India
            </td>
                <td class="table__cell">
                23.82201444752, 88.0386772435548
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Gujarat, India
            </td>
                <td class="table__cell">
                23.58157241658, 71.3624549010153
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                India
            </td>
                <td class="table__cell">
                22.1991660760527, 78.476681027237
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Amritsar, Punjab, India
            </td>
                <td class="table__cell">
                31.61667, 74.85
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bihar, Bihar, India
            </td>
                <td class="table__cell">
                25.2, 85.52
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Mumbai, Maharashtra, India
            </td>
                <td class="table__cell">
                18.96667, 72.83333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Rashtrapati Bhawan, President's Estate, New Delhi, New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.615075, 77.195968
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Red Fort  Lal Qila  लाल क़िला  لال قلعہ, Mahatma Gandhi Marg, New Delhi, Delhi, India
            </td>
                <td class="table__cell">
                28.655796000000002, 77.2411165
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Udaipur, Rajasthan, India
            </td>
                <td class="table__cell">
                24.58333, 73.68333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bromley By Bow Centre, London, England E3 3HN, United Kingdom
            </td>
                <td class="table__cell">
                51.527042, -0.013339
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Rajasthan, India
            </td>
                <td class="table__cell">
                26.9710515219598, 73.19536770545
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Delhi, India
            </td>
                <td class="table__cell">
                28.66667, 77.21667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom
            </td>
                <td class="table__cell">
                51.407444, -0.465177
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Staines, Staines-Upon-Thames, TW18 4HA, United Kingdom
            </td>
                <td class="table__cell">
                51.438698, -0.504102
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Delhi, India
            </td>
                <td class="table__cell">
                28.66667, 77.21667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                High Commission of Malaysia, Islamabad, Islamabad Capital Territory, Pakistan
            </td>
                <td class="table__cell">
                33.720283, 73.111434
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United Kingdom
            </td>
                <td class="table__cell">
                54.2379333607472, -2.36966957036279
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Dhaka, Dhaka, Bangladesh
            </td>
                <td class="table__cell">
                23.784506, 90.403409
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Colombo, Sri Lanka
            </td>
                <td class="table__cell">
                6.86667, 80.01667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kathmandu, Bagmati, Nepal
            </td>
                <td class="table__cell">
                27.71667, 85.36667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Yangon, Yangon, Myanmar
            </td>
                <td class="table__cell">
                16.8, 96.15
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Austin, Texas, United States
            </td>
                <td class="table__cell">
                30.2711, -97.7437
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[18.394477, 73.539625], [18.52361, 73.84778], [18.52361, 73.84778]], "data": [{"lat": 51.43331, "lon": -0.49738, "name": "Staines-Upon-Thames, Surrey, England, United Kingdom"}, {"lat": 25.61, "lon": 85.14139, "name": "Patna, Bihar, India"}, {"lat": 28.616018, "lon": 77.228217, "name": "Hydrabad House, 1688 Barracks, New Delhi, New Delhi, Delhi, India"}, {"lat": 28.613, "lon": 77.2301, "name": "India Gate, New Delhi, New Delhi, Delhi, India"}, {"lat": 21.64219, "lon": 69.60929, "name": "Porbandar, Gujarat, India"}, {"lat": 18.52361, "lon": 73.84778, "name": "Pune, Maharashtra, India"}, {"lat": 18.394477, "lon": 73.539625, "name": "Palase, Lavasa, Pune, Maharashtra, India"}, {"lat": 28.6020695, "lon": 77.214247, "name": "Gandhi Smriti, 5 Tees January Marg, New Delhi, Delhi, India"}, {"lat": 51.500978, "lon": -0.1425615, "name": "Buckingham Palace, Buckingham Palace Rd, London, England SW1A 1AA, United Kingdom"}, {"lat": 22.54111, "lon": 88.33778, "name": "Kolkata, West Bengal, India"}, {"lat": 51.3897, "lon": 0.0286, "name": "Bromley, Greater London, England, United Kingdom"}, {"lat": 19.75554191457, "lon": 76.3571538571062, "name": "Maharashtra, India"}, {"lat": 18.52361, "lon": 73.84778, "name": "Pune, Maharashtra, India"}, {"lat": 51.3897, "lon": 0.0286, "name": "Bromley, Greater London, England, United Kingdom"}, {"lat": 31.025164, "lon": 75.586342, "name": "Punjab, India"}, {"lat": 28.66667, "lon": 77.21667, "name": "Delhi, India"}, {"lat": 28.7, "lon": 77.2, "name": "New Delhi, Delhi, India"}, {"lat": 23.82201444752, "lon": 88.0386772435548, "name": "West Bengal, India"}, {"lat": 23.58157241658, "lon": 71.3624549010153, "name": "Gujarat, India"}, {"lat": 22.1991660760527, "lon": 78.476681027237, "name": "India"}, {"lat": 31.61667, "lon": 74.85, "name": "Amritsar, Punjab, India"}, {"lat": 25.2, "lon": 85.52, "name": "Bihar, Bihar, India"}, {"lat": 18.96667, "lon": 72.83333, "name": "Mumbai, Maharashtra, India"}, {"lat": 28.615075, "lon": 77.195968, "name": "Rashtrapati Bhawan, President\u0027s Estate, New Delhi, New Delhi, Delhi, India"}, {"lat": 28.655796000000002, "lon": 77.2411165, "name": "Red Fort  Lal Qila  \u0932\u093e\u0932 \u0915\u093c\u093f\u0932\u093e  \u0644\u0627\u0644 \u0642\u0644\u0639\u06c1, Mahatma Gandhi Marg, New Delhi, Delhi, India"}, {"lat": 24.58333, "lon": 73.68333, "name": "Udaipur, Rajasthan, India"}, {"lat": 51.527042, "lon": -0.013339, "name": "Bromley By Bow Centre, London, England E3 3HN, United Kingdom"}, {"lat": 26.9710515219598, "lon": 73.19536770545, "name": "Rajasthan, India"}, {"lat": 28.66667, "lon": 77.21667, "name": "Delhi, India"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.438698, "lon": -0.504102, "name": "Staines, Staines-Upon-Thames, TW18 4HA, United Kingdom"}, {"lat": 28.66667, "lon": 77.21667, "name": "Delhi, India"}, {"lat": 33.720283, "lon": 73.111434, "name": "High Commission of Malaysia, Islamabad, Islamabad Capital Territory, Pakistan"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 23.784506, "lon": 90.403409, "name": "Dhaka, Dhaka, Bangladesh"}, {"lat": 6.86667, "lon": 80.01667, "name": "Colombo, Sri Lanka"}, {"lat": 27.71667, "lon": 85.36667, "name": "Kathmandu, Bagmati, Nepal"}, {"lat": 16.8, "lon": 96.15, "name": "Yangon, Yangon, Myanmar"}, {"lat": 30.2711, "lon": -97.7437, "name": "Austin, Texas, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>