<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Gandhi</h3>
                        <p class="card-text">
                          The life of the lawyer who became the famed leader of the Indian revolts against the British rule through his philosophy of nonviolent protest.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzJiZDRmOWUtYjE2MS00Mjc1LTg1ZDYtNTQxYWJkZTg1OTM4XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gandhi"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Old Town Hall, Staines, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                51.43331, -0.49738
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Patna, Bihar, India 
            </td>   
                <td class="table__cell">
                25.61, 85.14139
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hyderabad House, Delhi, India 
            </td>   
                <td class="table__cell">
                28.616018, 77.228217
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                India Gate, New Delhi, Delhi, India 
            </td>   
                <td class="table__cell">
                28.613, 77.2301
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Porbandar, Gujarat, India 
            </td>   
                <td class="table__cell">
                21.64219, 69.60929
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pune, Maharashtra, India 
            </td>   
                <td class="table__cell">
                18.52361, 73.84778
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Aga Khan Palace, Nagar Rd, Pune, Maharashtra, India
            </td>   
                <td class="table__cell">
                18.394477, 73.539625
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Birla House, New Delhi, Delhi, India 
            </td>   
                <td class="table__cell">
                28.6020695, 77.214247
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Buckingham Palace, Westminster, London, England, UK
            </td>   
                <td class="table__cell">
                51.500978, -0.1425615
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Calcutta, West Bengal, India
            </td>   
                <td class="table__cell">
                22.54111, 88.33778
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kingsley Hall, Powis Road, Bromley by Bow, London, England, UK
            </td>   
                <td class="table__cell">
                51.3897, 0.0286
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Maharashtra, India
            </td>   
                <td class="table__cell">
                19.75554191457, 76.3571538571062
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nagar Rd, Pune, Maharashtra, India
            </td>   
                <td class="table__cell">
                18.52361, 73.84778
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Powis Road, Bromley by Bow, London, England, UK
            </td>   
                <td class="table__cell">
                51.3897, 0.0286
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Punjab, India
            </td>   
                <td class="table__cell">
                31.025164, 75.586342
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Delhi, India
            </td>   
                <td class="table__cell">
                28.66667, 77.21667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New Delhi, Delhi, India
            </td>   
                <td class="table__cell">
                28.7, 77.2
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                West Bengal, India
            </td>   
                <td class="table__cell">
                23.82201444752, 88.0386772435548
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gujarat, India
            </td>   
                <td class="table__cell">
                23.58157241658, 71.3624549010153
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Amritsar, Punjab, India
            </td>   
                <td class="table__cell">
                31.61667, 74.85
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bihar, India
            </td>   
                <td class="table__cell">
                25.2, 85.52
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mumbai, Maharashtra, India
            </td>   
                <td class="table__cell">
                18.96667, 72.83333
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rashtrapati Bhavan, Delhi, India 
            </td>   
                <td class="table__cell">
                28.615075, 77.195968
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Red Fort, Delhi, India
            </td>   
                <td class="table__cell">
                28.655796000000002, 77.2411165
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Udaipur, Rajasthan, India 
            </td>   
                <td class="table__cell">
                24.58333, 73.68333
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bromley by Bow, London, England, UK
            </td>   
                <td class="table__cell">
                51.527042, -0.013339
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rajasthan, India
            </td>   
                <td class="table__cell">
                26.9710515219598, 73.19536770545
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rajpath, Delhi, India 
            </td>   
                <td class="table__cell">
                28.633862, 77.221449
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                51.407444, -0.465177
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>