<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Into the Wild</h3>
                        <p class="card-text">
                          After graduating from Emory University, top student and athlete Christopher McCandless abandons his possessions, gives his entire $24,000 savings account to charity and hitchhikes to Alaska to live in the wilderness. Along the way, Christopher encounters a series of characters that shape his life.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTAwNDEyODU1MjheQTJeQWpwZ15BbWU2MDc3NDQwNw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Into the Wild"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Astoria, Oregon, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.1879</span>, <span class="lon">-123.8313</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Healy, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 63.8705</span>, <span class="lon">-148.9958</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Yuma, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7253</span>, <span class="lon">-114.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Beaverton, Oregon, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.4872</span>, <span class="lon">-122.8038</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Niland, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.314987</span>, <span class="lon">-115.733931</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Winner, South Dakota, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.3767</span>, <span class="lon">-99.859</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mount Hood, Oregon, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.330501</span>, <span class="lon">-121.710066</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Anchorage, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 61.2163</span>, <span class="lon">-149.8949</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Longview Fibre Company   300 Fibre Way, Longview, Washington, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.10403</span>, <span class="lon">-122.92277</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sisters, Oregon, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 44.2909</span>, <span class="lon">-121.5493</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Needles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.8481</span>, <span class="lon">-114.6141</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Reno, Nevada, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.5293</span>, <span class="lon">-119.8137</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Salton Sea, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.343029</span>, <span class="lon">-115.855313</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santa Catalina Island, Channel Islands, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.18</span>, <span class="lon">-119.23</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Topock, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.7183</span>, <span class="lon">-114.4872</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Portland, Oregon, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.5202</span>, <span class="lon">-122.6742</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Slab City, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.257573</span>, <span class="lon">-115.4688265</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palm Springs, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.8246</span>, <span class="lon">-116.5403</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Parker, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15</span>, <span class="lon">-114.2891</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Peach Springs, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.52904</span>, <span class="lon">-113.42447</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Seattle, Washington, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.6038</span>, <span class="lon">-122.3301</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Anza Borrego Desert State Park   200 Palm Canyon Drive, Borrego Springs, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.256077</span>, <span class="lon">-116.406841</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Denali National Park, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 63.760271</span>, <span class="lon">-150.39187</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Atlanta, Georgia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7491</span>, <span class="lon">-84.3902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cantwell, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 63.392261</span>, <span class="lon">-148.95152</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fairbanks, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 64.8378</span>, <span class="lon">-147.7164</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Orick Beach, Washington, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.7159</span>, <span class="lon">-122.6838</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Salton City, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.298611</span>, <span class="lon">-115.95528</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Black Hills Wild Horse Sanctuary   12163 Highland Road, Hot Springs, South Dakota, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.4316</span>, <span class="lon">-103.4744</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Copper River, Alaska, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 60.7304053</span>, <span class="lon">-144.6612734</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>