<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Amélie</h3>
                        <p class="card-text">
                          Amélie is an innocent and naive girl in Paris with her own sense of justice. She decides to help those around her and, along the way, discovers love. Amélie is a story about a girl named Amélie whose childhood was suppressed by her Father's mistaken concerns of a heart defect. With these concerns Amélie gets hardly any real-life contact with other people. This leads Amélie to resort to her own fantastical world and dreams of love and beauty. She later on becomes a young woman and moves to the central part of Paris as a waitress. After finding a lost treasure belonging to the former occupant of her apartment, she decides to return it to him. After seeing his reaction and his new found perspective - she decides to devote her life to the people around her. Such as, her father who is obsessed with his garden-gnome, a failed writer, a hypochondriac, a man who stalks his ex girlfriends, the "ghost," a suppressed young soul, the love of her life and a man whose bones are as brittle as glass. But after consuming herself with these escapades - she finds out that she is disregarding her own life and damaging her quest for love. Amélie then discovers she must become more aggressive and take a hold of her life and capture the beauty of love she has always dreamed of.::spragg_s Young Amélie Poulain works in a Paris café, lives alone and helps people, surreptitiously. Whether it's secretly returning the childhood treasures of a middle aged man, to matchmaking for the lovelorn, Amélie gives fate a helping hand. When Nino enters her world, her life takes a new and exciting turn. Amélie is a shy waitress in a Montmartre café. After returning a long-lost childhood treasure to a former occupant of her apartment, and seeing the effect it has on him, she decides to set out on a mission to make others happy and in the meantime pursues a quirky guy who collects discarded photo booth pictures.::Anonymous Amélie is looking for love, and perhaps for the meaning of life in general. We see her grow up in an original if slightly dysfunctional family. Now a waitress in central Paris, she interacts curiously with her neighbors and customers, as well as a mysterious Photomaton-image collector and one of his even more mysterious photo subjects. Little by little, Amélie realizes that the way to happiness (and yet more subtle humor) requires her to take her own initiative and reach out to others.::<xaviermartin@hotmail.com> Amélie tries to enrich the lives of those around her by weaving her special brand of mischievous magic. She befriends a neighbor who's a shut-in, plays pranks on another neighbor, steals a garden gnome and returns objects she collects to their rightful owners. She romantically daydreams in the café she works at and marvels at life's ironies. One day she finds a small box containing a child's mementos and decides to set about finding its rightful owner...will romance blossom for Amélie?::Mike <elwileycoyote@aol.com> In 1974, in Enghien in the northern suburbs of Paris, the girl Amélie Poulain was born and raised alone by her cold-hearted father and her stressed mother due to a mistake of her father's evaluation of her heart conditions. Her mother dies in a weird accident and, when the shy and daydreamer Amélie Poulain becomes a young woman, she moves to central Paris and works as waitress in the café Deux Moulins in Montmartre. On 30 August 1997, Amélie finds a childhood treasure hidden behind the wall that belonged to a dweller from the '50s, and she decides to anonymously return it to the owner. He seeks out the man and when she witnesses his happiness, she decides to become the "godmother of the rejected," anonymously helping people that are her acquaintances using her fantasy and little tricks. She convinces her father to travel abroad using his garden gnome; she helps her neighbor that is an outcast and lonely painter and the super that misses her unfaithful husband; she also helps her hypochondriac colleague that works in the tobacco shop and the man that stalks the other waitress acting like cupid; she plays pranks to an employer that mistreats his employee with abusive relationship. When Amélie finds the album of photos of an intriguing collector that collects rejected photos in the Photomaton of the Gare de l'Est, she seeks him out and falls in love with him. On 28 September 1997, Amélie Poulain finds love.::Claudio Carvalho, Rio de Janeiro, Brazil
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDg4NjM1YjMtYmNhZC00MjM0LWFiZmYtNGY1YjA3MzZmODc5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Amélie"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Köln, North Rhine-Westphalia, Germany
            </td>   
                <td class="table__cell">
                50.94222, 6.95778
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Saint-Martin, Bas-Rhin, France
            </td>   
                <td class="table__cell">
                48.35056, 7.28972
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                18 Route De Paris, 42300 Mably, France
            </td>   
                <td class="table__cell">
                46.066676, 4.054286
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                35 Rue Du Chevalier De La Barre, 75018 Paris, France
            </td>   
                <td class="table__cell">
                48.887094, 2.343424
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Saint-Denis, Gard, France
            </td>   
                <td class="table__cell">
                44.23306, 4.25194
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Eaubonne, Val-d'Oise, France
            </td>   
                <td class="table__cell">
                48.99139, 2.27972
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Au, Baden-Württemberg, Germany
            </td>   
                <td class="table__cell">
                47.95, 7.83333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rue De La Vanne, 94150 Rungis, France
            </td>   
                <td class="table__cell">
                48.7580415, 2.3490901
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cachan, Val-de-Marne, France
            </td>   
                <td class="table__cell">
                48.79194, 2.33194
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                3-7 Allée Chevillard, 95600 Eaubonne, France
            </td>   
                <td class="table__cell">
                48.981036, 2.277492
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cathédrale Notre-Dame de Paris, 6 parvis Notre-Dame, Paris, 75004, France
            </td>   
                <td class="table__cell">
                48.852987, 2.350423
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rue Pierre Brossolette, 95600 Eaubonne, France
            </td>   
                <td class="table__cell">
                48.986194, 2.275361
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rue Des Bussys, 95600 Eaubonne, France
            </td>   
                <td class="table__cell">
                48.978687, 2.277416
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Saint-Vincent, Haute-Loire, France
            </td>   
                <td class="table__cell">
                45.14417, 3.90944
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Métro Porte des Lilas [3bis, 3 boulevard Serurier, Paris, 75020, France
            </td>   
                <td class="table__cell">
                48.876921, 2.406702
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Enghien-les-Bains, Val-d'Oise, France
            </td>   
                <td class="table__cell">
                48.96972, 2.30806
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Köln, North Rhine-Westphalia, Germany
            </td>   
                <td class="table__cell">
                50.94222, 6.95778
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Square Saint Pierre, 94140 Alfortville, France
            </td>   
                <td class="table__cell">
                48.785724, 2.431369
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                France
            </td>   
                <td class="table__cell">
                47.8249046208979, 2.61878695312962
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Eleven Paris, 32 rue Étienne Marcel, Paris, 75002, France
            </td>   
                <td class="table__cell">
                48.864667, 2.346211
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[48.7580415, 2.3490901], [48.785724, 2.431369], [48.79194, 2.33194]], "data": [{"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 50.94222, "lon": 6.95778, "name": "K\u00f6ln, North Rhine-Westphalia, Germany"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.35056, "lon": 7.28972, "name": "Saint-Martin, Bas-Rhin, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 46.066676, "lon": 4.054286, "name": "18 Route De Paris, 42300 Mably, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.887094, "lon": 2.343424, "name": "35 Rue Du Chevalier De La Barre, 75018 Paris, France"}, {"lat": 44.23306, "lon": 4.25194, "name": "Saint-Denis, Gard, France"}, {"lat": 48.99139, "lon": 2.27972, "name": "Eaubonne, Val-d\u0027Oise, France"}, {"lat": 47.95, "lon": 7.83333, "name": "Au, Baden-W\u00fcrttemberg, Germany"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.7580415, "lon": 2.3490901, "name": "Rue De La Vanne, 94150 Rungis, France"}, {"lat": 48.79194, "lon": 2.33194, "name": "Cachan, Val-de-Marne, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.981036, "lon": 2.277492, "name": "3-7 All\u00e9e Chevillard, 95600 Eaubonne, France"}, {"lat": 48.852987, "lon": 2.350423, "name": "Cath\u00e9drale Notre-Dame de Paris, 6 parvis Notre-Dame, Paris, 75004, France"}, {"lat": 48.986194, "lon": 2.275361, "name": "Rue Pierre Brossolette, 95600 Eaubonne, France"}, {"lat": 48.978687, "lon": 2.277416, "name": "Rue Des Bussys, 95600 Eaubonne, France"}, {"lat": 45.14417, "lon": 3.90944, "name": "Saint-Vincent, Haute-Loire, France"}, {"lat": 48.876921, "lon": 2.406702, "name": "M\u00e9tro Porte des Lilas [3bis, 3 boulevard Serurier, Paris, 75020, France"}, {"lat": 48.96972, "lon": 2.30806, "name": "Enghien-les-Bains, Val-d\u0027Oise, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 50.94222, "lon": 6.95778, "name": "K\u00f6ln, North Rhine-Westphalia, Germany"}, {"lat": 48.785724, "lon": 2.431369, "name": "Square Saint Pierre, 94140 Alfortville, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}, {"lat": 48.864667, "lon": 2.346211, "name": "Eleven Paris, 32 rue \u00c9tienne Marcel, Paris, 75002, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>