<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Like Stars on Earth</h3>
                        <p class="card-text">
                          An eight-year-old boy is thought to be a lazy trouble-maker, until the new art teacher has the patience and compassion to discover the real problem behind his struggles in school.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDhjZWViN2MtNzgxOS00NmI4LThiZDQtZDI3MzM4MDE4NTc0XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Like Stars on Earth"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Panchgani, Maharashtra, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.918044</span>, <span class="lon">73.799756</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mumbai, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.96667</span>, <span class="lon">72.83333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St. Xavier's High School, Mumbai, Maharashtra, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.944321</span>, <span class="lon">72.829906</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mysore Colony, Chembur, Maharashtra, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.032711</span>, <span class="lon">72.891125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bungalow No. 55, Mysore Colony, Chembur, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.032711</span>, <span class="lon">72.891125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Trombay Club, B P Housing Colony, Chembur, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.035169</span>, <span class="lon">72.897258</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bungalow No. 4, B P Housing Colony, Chembur, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.05871</span>, <span class="lon">72.89969</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Haffkins Institute, 40/W, Acharya Dhonde Marg, Parel Village, Parel, Mumbai, Maharashtra 400012, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.998234</span>, <span class="lon">72.843157</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Borla Uttam Society, Mumbai, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.96667</span>, <span class="lon">72.83333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Acres Club, 411 B, Hemu Kalani Marg, Chembur East, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.052128</span>, <span class="lon">72.892529</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New Era High School, Chesson Rd, Panchgani, Maharashtra, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.918044</span>, <span class="lon">73.799756</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ravine Hotel, Sydney Point, Wai Panchgani Rd, Panchgani, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.934397</span>, <span class="lon">73.805594</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Il Palazzo Hotel, Shirinbai Davierwalla Marg, Dist. Satara, Panchgani, Maharashtra, India
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.925178</span>, <span class="lon">73.802047</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>