<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Casino</h3>
                        <p class="card-text">
                          A tale of greed, deception, money, power, and murder occur between two best friends: a mafia enforcer and a casino executive compete against each other over a gambling empire, and over a fast-living and fast-loving socialite.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Casino"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Le Bistro Lounge, Riviera Hotel & Casino   2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.136131</span>, <span class="lon">-115.162415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ruth's Chris Steak House   3900 Paradise Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.119404</span>, <span class="lon">-115.170703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hanford, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.3275</span>, <span class="lon">-119.6457</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                357 Desert Inn Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.12627</span>, <span class="lon">-115.15068</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glass Pool Inn   4613 S Las Vegas Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.08682</span>, <span class="lon">-115.17207</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tony Roma's, Main Street Station, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.173705</span>, <span class="lon">-115.143676</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Baker, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.2654</span>, <span class="lon">-116.0741</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bally's Casino Resort   3645 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.11344</span>, <span class="lon">-115.16855</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Overton, Nevada, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.5407</span>, <span class="lon">-114.443</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Peppermill Fireside Lounge, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.133776</span>, <span class="lon">-115.163154</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                3515 Cochise Lane, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.125965</span>, <span class="lon">-115.12381</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jean Dry Lake, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.4554</span>, <span class="lon">-114.8478</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                3010 S. Valley View Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.13606</span>, <span class="lon">-115.18989</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                520 S. Fourth St., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.16456</span>, <span class="lon">-115.14559</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                721 N. Main St #3., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.17932</span>, <span class="lon">-115.14232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Landmark Hotel   Convention Center Drive and Paradise Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.1292</span>, <span class="lon">-115.1528</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Las Vegas National Golf Club, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.128418</span>, <span class="lon">-115.125209</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mighty Mart   515 E Oakey Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.151189</span>, <span class="lon">-115.152379</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mojave Desert, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.0096785</span>, <span class="lon">-115.4742205</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Moulin Rouge   800 W Bonanza, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.177765</span>, <span class="lon">-115.15219</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Park Paseo, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.15825</span>, <span class="lon">-115.14155</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Piero's Restaurant   355 Convention Center Drive, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.13185</span>, <span class="lon">-115.15595</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Regency Motel   784 N. Main Street, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.179349</span>, <span class="lon">-115.141344</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Riviera Hotel & Casino   2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.136131</span>, <span class="lon">-115.162415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Oscar's Steakhouse, Plaza Hotel, 1 Main St., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.1663</span>, <span class="lon">-115.1492</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Henderson Sky Harbor Airport, Henderson, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.0391</span>, <span class="lon">-114.9819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Idle Spurs, Sandy Valley, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.8169</span>, <span class="lon">-115.6322</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kawasaki Dealership, West Sahara, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.14</span>, <span class="lon">-115.28</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                La Concha Motel   2955 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.13418</span>, <span class="lon">-115.16204</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Las Vegas Boulevard South, Las Vegas, Nevada, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.23118</span>, <span class="lon">-115.067275</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>