<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Casino</h3>
                        <p class="card-text">
                          A tale of greed, deception, money, power, and murder occur between two best friends: a mafia enforcer and a casino executive compete against each other over a gambling empire, and over a fast-living and fast-loving socialite.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Casino"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Le Bistro Lounge, Riviera Hotel & Casino   2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.136131, -115.162415
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ruth's Chris Steak House   3900 Paradise Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.119404, -115.170703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hanford, California, USA
            </td>   
                <td class="table__cell">
                36.3275, -119.6457
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                357 Desert Inn Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.12627, -115.15068
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glass Pool Inn   4613 S Las Vegas Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.08682, -115.17207
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tony Roma's, Main Street Station, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.173705, -115.143676
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Baker, California, USA
            </td>   
                <td class="table__cell">
                35.2654, -116.0741
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bally's Casino Resort   3645 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.11344, -115.16855
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Overton, Nevada, USA
            </td>   
                <td class="table__cell">
                36.5407, -114.443
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Peppermill Fireside Lounge, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.133776, -115.163154
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                3515 Cochise Lane, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.125965, -115.12381
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Jean Dry Lake, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.4554, -114.8478
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                3010 S. Valley View Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.13606, -115.18989
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                520 S. Fourth St., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.16456, -115.14559
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                721 N. Main St #3., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.17932, -115.14232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Landmark Hotel   Convention Center Drive and Paradise Road, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.1292, -115.1528
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Las Vegas National Golf Club, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.128418, -115.125209
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mighty Mart   515 E Oakey Blvd, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.151189, -115.152379
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mojave Desert, California, USA
            </td>   
                <td class="table__cell">
                35.0096785, -115.4742205
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Moulin Rouge   800 W Bonanza, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.177765, -115.15219
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Park Paseo, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.15825, -115.14155
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Piero's Restaurant   355 Convention Center Drive, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.13185, -115.15595
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Regency Motel   784 N. Main Street, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.179349, -115.141344
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Riviera Hotel & Casino   2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.136131, -115.162415
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oscar's Steakhouse, Plaza Hotel, 1 Main St., Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.1663, -115.1492
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Henderson Sky Harbor Airport, Henderson, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.0391, -114.9819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Idle Spurs, Sandy Valley, Nevada, USA 
            </td>   
                <td class="table__cell">
                35.8169, -115.6322
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kawasaki Dealership, West Sahara, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.14, -115.28
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                La Concha Motel   2955 Las Vegas Boulevard South, Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.13418, -115.16204
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Las Vegas Boulevard South, Las Vegas, Nevada, USA
            </td>   
                <td class="table__cell">
                36.23118, -115.067275
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>