<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Casino</h3>
          <p class="card-text mb-0">


  <span > A tale of greed, deception, money, power, and murder occur between two best friends: a mafia enforcer and a casino executive compete against each other over a gambling empire, and over a fast-living and fast-loving socialite.  </span>
                          <span > This Martin Scorsese film depicts the Janus-like quality of Las Vegas--it has a glittering, glamorous face, as well as a brutal, cruel one. Ace Rothstein and Nicky Santoro, mobsters who move to Las Vegas to make their mark, live and work in this paradoxical world. Seen through their eyes, each as a foil to the other, the details of mob involvement in the casinos of the 1970s and '80s are revealed. Ace is the smooth operator of the Tangiers casino, while Nicky is his boyhood friend and tough strongman, robbing and shaking down the locals. However, they each have a tragic flaw--Ace falls in love with a hustler, Ginger, and Nicky falls into an ever-deepening spiral of drugs and violence. -Tad Dibbern .  </span>
                          <span > In 1975, bookie and expert handicapper Sam Rothstein - Ace to his friends - goes somewhat legitimate when the Chicago based Italian Mafia hires him to run the Tangiers Casino on the Las Vegas Strip. Ace can do the job, applying for his gaming license despite his past, while having his ever changing job title be anything but running the casino and the actual license getting lost in the never ending process. Ace's best friend from childhood Nicky Santoro, eventually comes along for the ride, he who the Mafia hires to be Ace and the organization's unofficial protector. Ace is able to make a success of the casino, which includes the process of the Mafia bosses being able to skim profits off the top, while making the entire business look legitimate to the authorities. Ace's success is placed into jeopardy by Nicky, not only by his reckless, violent, volatile and ruthless behavior, but also by his want to eke out his own gangster fiefdom in Las Vegas. It is also placed into jeopardy by who becomes Ace's wife, Ginger McKenna, who he knew was a hustler when he married her and who he wants to trust in every aspect of the word in his love for her. She ends up being a self-destructive woman, her primary weakness being in wanting to help a friend, a hanger-on and loser named Lester Diamond. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Sam 'Ace' Rothstein, a mob-connected casino operator in Las Vegas, attempts a civilized lifestyle with his money-conditional wife, Ginger. Nicky Santoro, a boyhood friend of Ace and now a Made-Man of the Mafia, arrives in town with an ambitious agenda of his own that soon disrupts Ace's life. -Brian Whiting .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Casino"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.136131</span>, <span class="lon">-115.162415</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Ruth's Chris Steakhouse, 3475 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.119404</span>, <span class="lon">-115.170703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hanford, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.3275</span>, <span class="lon">-119.6457</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">357 E Desert Inn Rd, Paradise, Nevada 89169, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.12627</span>, <span class="lon">-115.15068</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4613 South Las Vegas Boulevard, Las Vegas, Nevada 89119, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.08682</span>, <span class="lon">-115.17207</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Main Street Station Parking, 301 North Main St., Las Vegas, Nevada 89101, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.173705</span>, <span class="lon">-115.143676</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Baker, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.2654</span>, <span class="lon">-116.0741</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3645 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.11344</span>, <span class="lon">-115.16855</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Overton, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.5407</span>, <span class="lon">-114.443</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Fireside Lounge, 2985 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.133776</span>, <span class="lon">-115.163154</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3515 Cochise Lane, Las Vegas, Nevada 89169, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.125965</span>, <span class="lon">-115.12381</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Dry Lake, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.4554</span>, <span class="lon">-114.8478</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3010 South Valley View Boulevard, Las Vegas, Nevada 89102, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.13606</span>, <span class="lon">-115.18989</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">520 South 4th Street, Las Vegas, Nevada 89101, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.16456</span>, <span class="lon">-115.14559</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">721 North Main Street, Las Vegas, Nevada 89101, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.17932</span>, <span class="lon">-115.14232</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Paradise Road, Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.1292</span>, <span class="lon">-115.1528</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Las Vegas National Golf Club, 1911 E Desert Inn Rd, Las Vegas, Nevada 89169, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.128418</span>, <span class="lon">-115.125209</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">515 East Oakey Boulevard, Las Vegas, Nevada 89104, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.151189</span>, <span class="lon">-115.152379</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mojave Desert, Essex, California 92323, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.0096785</span>, <span class="lon">-115.4742205</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.1663</span>, <span class="lon">-115.1492</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Park Paseo, Las Vegas, Nevada 89104, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.15751</span>, <span class="lon">-115.14493</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">355 Convention Center Drive, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.13185</span>, <span class="lon">-115.15595</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">784 North Main Street, Las Vegas, Nevada 89101, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.179849</span>, <span class="lon">-115.14102</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.136131</span>, <span class="lon">-115.162415</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.1663</span>, <span class="lon">-115.1492</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Henderson, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.0391</span>, <span class="lon">-114.9819</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Sandy Valley, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.8169</span>, <span class="lon">-115.6322</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Sahara, Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.14</span>, <span class="lon">-115.28</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">2955 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.13418</span>, <span class="lon">-115.16204</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">WorldMark Las Vegas - Boulevard, 8601 Las Vegas Blvd S, Las Vegas, Nevada 89123, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.0337</span>, <span class="lon">-115.173152</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Our Lady of Las Vegas Catholic Church, 3050 Alta Dr, Las Vegas, Nevada 89107, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.166687</span>, <span class="lon">-115.18277</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.1663</span>, <span class="lon">-115.1492</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">The Jockey Club Pool, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.110207</span>, <span class="lon">-115.175053</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Valley of Fire, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.66</span>, <span class="lon">-114.58</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5757 Wayne Newton Blvd, Las Vegas, Nevada 89111, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.08452</span>, <span class="lon">-115.13218</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Las Vegas, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.1663</span>, <span class="lon">-115.1492</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1130 East Desert Inn Road, Las Vegas, Nevada 89109, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.13032</span>, <span class="lon">-115.13957</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[35.0096785, -115.4742205], [35.2654, -116.0741], [35.8169, -115.6322]], "data": [{"lat": 36.136131, "lon": -115.162415, "name": "2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.119404, "lon": -115.170703, "name": "Ruth\u0027s Chris Steakhouse, 3475 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States"}, {"lat": 36.3275, "lon": -119.6457, "name": "Hanford, California, United States"}, {"lat": 36.12627, "lon": -115.15068, "name": "357 E Desert Inn Rd, Paradise, Nevada 89169, United States"}, {"lat": 36.08682, "lon": -115.17207, "name": "4613 South Las Vegas Boulevard, Las Vegas, Nevada 89119, United States"}, {"lat": 36.173705, "lon": -115.143676, "name": "Main Street Station Parking, 301 North Main St., Las Vegas, Nevada 89101, United States"}, {"lat": 35.2654, "lon": -116.0741, "name": "Baker, California, United States"}, {"lat": 36.11344, "lon": -115.16855, "name": "3645 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.5407, "lon": -114.443, "name": "Overton, Nevada, United States"}, {"lat": 36.133776, "lon": -115.163154, "name": "Fireside Lounge, 2985 Las Vegas Blvd S, Las Vegas, Nevada 89109, United States"}, {"lat": 36.125965, "lon": -115.12381, "name": "3515 Cochise Lane, Las Vegas, Nevada 89169, United States"}, {"lat": 36.4554, "lon": -114.8478, "name": "Dry Lake, Nevada, United States"}, {"lat": 36.13606, "lon": -115.18989, "name": "3010 South Valley View Boulevard, Las Vegas, Nevada 89102, United States"}, {"lat": 36.16456, "lon": -115.14559, "name": "520 South 4th Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.17932, "lon": -115.14232, "name": "721 North Main Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.1292, "lon": -115.1528, "name": "Paradise Road, Las Vegas, Nevada, United States"}, {"lat": 36.128418, "lon": -115.125209, "name": "Las Vegas National Golf Club, 1911 E Desert Inn Rd, Las Vegas, Nevada 89169, United States"}, {"lat": 36.151189, "lon": -115.152379, "name": "515 East Oakey Boulevard, Las Vegas, Nevada 89104, United States"}, {"lat": 35.0096785, "lon": -115.4742205, "name": "Mojave Desert, Essex, California 92323, United States"}, {"lat": 36.1663, "lon": -115.1492, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.15751, "lon": -115.14493, "name": "Park Paseo, Las Vegas, Nevada 89104, United States"}, {"lat": 36.13185, "lon": -115.15595, "name": "355 Convention Center Drive, Las Vegas, Nevada 89109, United States"}, {"lat": 36.179849, "lon": -115.14102, "name": "784 North Main Street, Las Vegas, Nevada 89101, United States"}, {"lat": 36.136131, "lon": -115.162415, "name": "2901 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.1663, "lon": -115.1492, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.0391, "lon": -114.9819, "name": "Henderson, Nevada, United States"}, {"lat": 35.8169, "lon": -115.6322, "name": "Sandy Valley, Nevada, United States"}, {"lat": 36.14, "lon": -115.28, "name": "West Sahara, Las Vegas, Nevada, United States"}, {"lat": 36.13418, "lon": -115.16204, "name": "2955 South Las Vegas Boulevard, Las Vegas, Nevada 89109, United States"}, {"lat": 36.0337, "lon": -115.173152, "name": "WorldMark Las Vegas - Boulevard, 8601 Las Vegas Blvd S, Las Vegas, Nevada 89123, United States"}, {"lat": 36.166687, "lon": -115.18277, "name": "Our Lady of Las Vegas Catholic Church, 3050 Alta Dr, Las Vegas, Nevada 89107, United States"}, {"lat": 36.1663, "lon": -115.1492, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.110207, "lon": -115.175053, "name": "The Jockey Club Pool, Las Vegas, Nevada 89109, United States"}, {"lat": 36.66, "lon": -114.58, "name": "Valley of Fire, Nevada, United States"}, {"lat": 36.08452, "lon": -115.13218, "name": "5757 Wayne Newton Blvd, Las Vegas, Nevada 89111, United States"}, {"lat": 36.1663, "lon": -115.1492, "name": "Las Vegas, Nevada, United States"}, {"lat": 36.13032, "lon": -115.13957, "name": "1130 East Desert Inn Road, Las Vegas, Nevada 89109, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>