<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">In the Name of the Father</h3>
                        <p class="card-text">
                          A man's coerced confession to an I.R.A. bombing he did not commit results in the imprisonment of his father as well. An English lawyer fights to free them.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="In the Name of the Father"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kilmainham Jail, Dublin, County Dublin, Ireland 
            </td>   
                <td class="table__cell">
                53.342054, -6.387231
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ardmore Studios, Herbert Road, Bray, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                53.2028, -6.1083
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dublin, County Dublin, Ireland
            </td>   
                <td class="table__cell">
                53.4258, -6.2568
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Liverpool, Merseyside, England, UK
            </td>   
                <td class="table__cell">
                53.407154, -2.991665
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Upper Thames Street, City of London, England, UK 
            </td>   
                <td class="table__cell">
                51.510159, -0.089614
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                100 Huskisson Street, Liverpool, Merseyside, England, UK 
            </td>   
                <td class="table__cell">
                53.397741, -2.963969
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, England, UK
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>