<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">In the Name of the Father</h3>
          <p class="card-text mb-0">


  <span > A man's coerced confession to an I.R.A. bombing he did not commit results in the imprisonment of his father as well. An English lawyer fights to free them.  </span>
                          <span > Young Belfastian Gerry Conlon (Daniel Day-Lewis) admits that he was in London at the time of the incident. He also admits that he is not a model citizen, having committed a petty robbery while in London. He does however profess his innocence when it comes to the bombing of the Guildford Pub in London in 1974, the event which killed several people inside. A self-professed non-political person, he and his three co-accused, dubbed the Guildford Four, are thought to be provisional members of the I.R.A. Their self-professed innocence is despite each having signed a statement of guilt which they claim were signed under duress. Their case includes having provable alibis for the time frame of the bombing. And eventually, Joe McAndrew (Don Baker), a known I.R.A. member, admits to the bombing. Dubbed the Maguire Seven, seven others, primarily members of Gerry's extended family including his father Giuseppe (Pete Postlethwaite), are accused of being accessories to the bombing. Following on the work initiated by Giuseppe, Gerry works on a campaign to prove their collective innocence, this work with the assistance of compassionate lawyer Gareth Peirce (Dame Emma Thompson). As Gareth works on this campaign, she is faced with obstacle after obstacle placed by Robert Dixon (Corin Redgrave), who led the initial investigation and questioning of the four accused on behalf of the Police. -Huggo.  </span>
                          <span > Based on the true story of Gerry Conlon (Daniel Day-Lewis), a Belfast youth who - along with family members and friends - was wrongly convicted of bombing two pubs outside of London. A story about the relationship between a father and his son who fought for justice to clear his father's name. -Harald Mayr .  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="In the Name of the Father"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cloverhlll Prison, Clondalkin, County Dublin D22, Ireland
            </td>
                <td class="table__cell">
                53.342054, -6.387231
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bray, Wicklow, Ireland
            </td>
                <td class="table__cell">
                53.2028, -6.1083
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Dublin, County Dublin, Ireland
            </td>
                <td class="table__cell">
                53.4258, -6.2568
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Liverpool, Merseyside, England, United Kingdom
            </td>
                <td class="table__cell">
                53.407154, -2.991665
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Upper Thames Street, City of London, London, EC4R 3UE, United Kingdom
            </td>
                <td class="table__cell">
                51.510159, -0.089614
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Huskisson Street, Liverpool, L8 7NS, United Kingdom
            </td>
                <td class="table__cell">
                53.397741, -2.963969
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 53.342054, "lon": -6.387231, "name": "Cloverhlll Prison, Clondalkin, County Dublin D22, Ireland"}, {"lat": 53.2028, "lon": -6.1083, "name": "Bray, Wicklow, Ireland"}, {"lat": 53.4258, "lon": -6.2568, "name": "Dublin, County Dublin, Ireland"}, {"lat": 53.407154, "lon": -2.991665, "name": "Liverpool, Merseyside, England, United Kingdom"}, {"lat": 51.510159, "lon": -0.089614, "name": "Upper Thames Street, City of London, London, EC4R 3UE, United Kingdom"}, {"lat": 53.397741, "lon": -2.963969, "name": "100 Huskisson Street, Liverpool, L8 7NS, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>