<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">In the Name of the Father</h3>
                        <p class="card-text">
                          A man's coerced confession to an I.R.A. bombing he did not commit results in the imprisonment of his father as well. An English lawyer fights to free them.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="In the Name of the Father"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Kilmainham Jail, Dublin, County Dublin, Ireland 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.342054</span>, <span class="lon">-6.387231</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ardmore Studios, Herbert Road, Bray, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.2028</span>, <span class="lon">-6.1083</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dublin, County Dublin, Ireland
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.4258</span>, <span class="lon">-6.2568</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Liverpool, Merseyside, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.407154</span>, <span class="lon">-2.991665</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Upper Thames Street, City of London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.510159</span>, <span class="lon">-0.089614</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                100 Huskisson Street, Liverpool, Merseyside, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.397741</span>, <span class="lon">-2.963969</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>