<p class=" mt-3 mb-1">
      DMS
        </p>

<div class="col-md-12 my-2">
<div class="input-group mb-3">
<div class="input-group-text">
    <input class="form-check-input mt-0" type="radio" value="" id="north" aria-label="Radio button for following text input" >
  </div>
  <span class="input-group-text">N</span>
<div class="input-group-text">
    <input class="form-check-input mt-0" id="south" type="radio" value="" >
  </div>
  <span class="input-group-text me-3">S</span>
  <input type="text" id= "degrees-lat"   step="any" class="form-control" required>
    <span class="input-group-text">°</span>
  <input type="text" id="minutes-lat" step="any" class="form-control" required>
      <span class="input-group-text"> ' </span>
    <input type="text" id="seconds-lat" step="any" class="form-control" required>
    <span class="input-group-text"> ''</span>
</div>
</div>
<div class="col-md-12 my-2">
<div class="input-group mb-3">



<div class="input-group-text">
    <input class="form-check-input mt-0" type="radio" value="" id="east" aria-label="Radio button for following text input" >
  </div>
  <span class="input-group-text">E</span>
<div class="input-group-text">
    <input class="form-check-input mt-0" id="west" type="radio" value="" >
  </div>
  <span class="input-group-text me-3">W</span>
  <input type="text" id="degrees-lon" step="any" class="form-control" required>
    <span class="input-group-text">°</span>
  <input type="text" id="minutes-lon" step="any" class="form-control" required>
      <span class="input-group-text"> ' </span>
    <input type="text" id="seconds-lon" step="any" class="form-control" required>
    <span class="input-group-text"> ''</span>
</div>
</div>