<div class="col-12">
              <label for="<%= inputName.id %>" class="form-label"><%= inputName.name %></label>
              <input type="<%= inputName.type %>" class="form-control" id="<%= inputName.id %>" placeholder="">
            </div>