     <div class="col-md-4">
       <form id="<%= formid %>">
         <!--     -->


                
    <%  var arr=inputName,
        i = 0,
        len = arr.length; %>

       <% while(i < len){ %>

       <%- include(`${partials}/form/inputcol`, {inputName:{name: arr[i].name, id: arr[i].id, type: arr[i].type} }); -%>
       <% 
        // some js in the loop
        console.log('arr[' + i + '] = ' + arr[i]);
        i += 1; 
         %>
       <% } %>

       </form>

     </div>