<div class="col-12">
              <label for="addressInput" class="form-label"><%= inputName %></label>
              <input type="number" class="form-control" id="addressInput" placeholder="">
            </div>