<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Singin' in the Rain</h3>
          <p class="card-text mb-0">


  <span > A silent film star falls for a chorus girl just as he and his delusionally jealous screen partner are trying to make the difficult transition to talking pictures in 1920s Hollywood.  </span>
                          <span > 1927 Hollywood. Monumental Pictures' biggest stars, glamorous on-screen couple Lina Lamont and Don Lockwood, are also an off-screen couple if the trade papers and gossip columns are to be believed. Both perpetuate the public perception if only to please their adoring fans and bring people into the movie theaters. In reality, Don barely tolerates her, while Lina, despite thinking Don beneath her, simplemindedly believes what she sees on screen in order to bolster her own stardom and sense of self-importance. R.F. Simpson, Monumental's head, dismisses what he thinks is a flash in the pan: talking pictures. It isn't until The Jazz Singer (1927) becomes a bona fide hit which results in all the movie theaters installing sound equipment that R.F. knows Monumental, most specifically in the form of Don and Lina, have to jump on the talking picture bandwagon, despite no one at the studio knowing anything about the technology. Musician Cosmo Brown, Don's best friend, gets hired as Monumental's ideas man and musical director. And by this time, Don has secretly started dating Kathy Selden, a chorus girl who is trying to make it big in pictures herself. Don and Kathy's relationship is despite their less than friendly initial meeting. Cosmo and Kathy help Don, who had worked his way up through the movie ranks to stardom, try make the leap to talking picture stardom, with Kathy following along the way. However, they have to overcome the technological issues. But the bigger problem is Lina, who will do anything to ensure she also makes the successful leap into talking pictures, despite her own inabilities and at anyone and everyone else's expense if they get in her way, especially Kathy as Don's off screen girlfriend and possibly his new talking picture leading lady. -Huggo.  </span>
                          <span > Taking place during the rise of the "talkies", we meet Don Lockwood and Lina Lamont who have risen to stardom during the silent-film era of Hollywood. Beautiful, charismatic and influential, the two combine to make a great on-screen pair. The introduction of talking pictures poses a threat to the powerful duo, however, when it is discovered by audiences that Lina has an excruciatingly shrill voice. Enter young studio singer Kathy Selden, a woman who lacks the stardom of Ms. Lamont but possesses the beautiful voice of which Lina is in dire need. Can Don and Lina find a solution to Lina's laughably annoying voice to salvage their careers? -Kyle Perez.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > In 1927, Don Lockwood and Lina Lamont are a famous on-screen romantic pair. Lina, however, mistakes the on-screen romance for real love. Don has worked hard to get where he is today, with his former partner Cosmo. When Don and Lina's latest film is transformed into a musical, Don has the perfect voice for the songs. But Lina - well, even with the best efforts of a diction coach, they still decide to dub over her voice. Kathy Selden is brought in, an aspiring actress, and while she is working on the movie, Don falls in love with her. Will Kathy continue to "aspire", or will she get the break she deserves ? -Colin Tinto .  </span>
    <span class="additional-information" > In 1927, the former stunt Don Lockwood becomes a successful actor with the company of his best friend Cosmo Brown forming a romantic pair with the actress Lina Lamont. In the period of transition from silent movies to talking pictures, Don accidentally meets the aspirant actress Kathy Selden while escaping from his fans and fall in love for her. Lina has troubles with the sharp tune of her voice, and Cosmo and Don decide to dub her, using Kathy's voice, to save their movie. When the jealous Lina finds out the strategy of the studio, she does not want to share the credits with Kathy and tries to force the studio to use Kathy in the shadow to dub her in other productions. But when Lina decides to speech and sing to the audience, the truth arises. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
    <span class="additional-information" > 1927: Don Lockwood and Lina Lamont are the darlings of the silent silver screen. Offscreen, Don, aided by his happy-go-lucky friend and piano accompanist, Cosmo Brown, has to dodge Lina's romantic overtures, especially when he falls for chorus girl Kathy Selden. With the advent of sound in motion pictures, it is decided to turn Don and Lina's new film into a "talkie" and a musical at that. The only problem is Lina's voice, which mere words cannot describe. Thus, Kathy is brought on to dub her speaking and singing voice in secret, and Don's on top of the world. But then Lina finds out... -Tommy Peter.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDRjNGViMjQtOThlMi00MTA3LThkYzQtNzJkYjBkMGE0YzE1XkEyXkFqcGdeQXVyNDYyMDk5MTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Singin' in the Rain"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                10202 West Washington Boulevard, Culver City, California 90232, United States
            </td>
                <td class="table__cell">
                34.017275, -118.402347
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                10202 West Washington Boulevard, Culver City, California 90232, United States
            </td>
                <td class="table__cell">
                34.017275, -118.402347
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hollywood Blvd, Burbank, California 90027, United States
            </td>
                <td class="table__cell">
                34.15843, -118.34964
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.017275, -118.402347], [34.017275, -118.402347], [34.0544, -118.2439]], "data": [{"lat": 34.017275, "lon": -118.402347, "name": "10202 West Washington Boulevard, Culver City, California 90232, United States"}, {"lat": 34.017275, "lon": -118.402347, "name": "10202 West Washington Boulevard, Culver City, California 90232, United States"}, {"lat": 34.15843, "lon": -118.34964, "name": "Hollywood Blvd, Burbank, California 90027, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>