<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Scarface</h3>
                        <p class="card-text">
                          In 1980 Miami, a determined Cuban immigrant takes over a drug cartel and succumbs to greed.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjdjNGQ4NDEtNTEwYS00MTgxLTliYzQtYzE2ZDRiZjFhZmNlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Scarface"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                656 Park Ln, Santa Barbara, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.44109</span>, <span class="lon">-119.617115</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                485 West Matheson Drive, Key Biscayne, Florida, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.6919</span>, <span class="lon">-80.174125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                631 Para Grande Lane, Santa Barbara, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.44004</span>, <span class="lon">-119.64677</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                728 Ocean Drive, Miami Beach, Florida, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.777335</span>, <span class="lon">-80.13161</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                I 110 and I 10 intersection, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0380821966999</span>, <span class="lon">-118.273944453147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Torrance, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.8358</span>, <span class="lon">-118.3406</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                16000 Ventura Boulevard, Encino, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15584</span>, <span class="lon">-118.48164</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                3501 Southwest 130th Avenue, Davie, Florida, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 26.07788</span>, <span class="lon">-80.32421</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                8623 West Sunset Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09294</span>, <span class="lon">-118.37951</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                8648 West Sunset Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09121</span>, <span class="lon">-118.38225</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Perino's Restaurant   4101 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.040041</span>, <span class="lon">-118.472487</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tudor City, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7486</span>, <span class="lon">-73.9714</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Miami, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.76513515625</span>, <span class="lon">-80.18537321875</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                South Beach, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.791159</span>, <span class="lon">-80.128934</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Swimming Pool, Fontainebleau Hilton Resort   4441 Collins Avenue, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.7906</span>, <span class="lon">-80.13</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santa Barbara, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.4098</span>, <span class="lon">-119.697</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Montecito, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.4367</span>, <span class="lon">-119.6321</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 12, Universal Studios   100 Universal City Plaza, Universal City, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.14138</span>, <span class="lon">-118.35659</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                8619 Sunset Blvd, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09269</span>, <span class="lon">-118.37923</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Infiniti   8825 Wilshire Boulevard   Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.06739</span>, <span class="lon">-118.38444</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1443 West E Street   Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.77487</span>, <span class="lon">-118.28124</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                San Diego, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7174</span>, <span class="lon">-117.1628</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Carlyle Hotel   1250 Ocean Drive, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.7906</span>, <span class="lon">-80.13</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Beacon Hotel   720 Ocean Dr, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.7906</span>, <span class="lon">-80.13</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Atlantis Condominium   2025 Brickell Avenue, Miami, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 25.752995</span>, <span class="lon">-80.1986</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>