<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Scarface</h3>
                        <p class="card-text">
                          In 1980 Miami, a determined Cuban immigrant takes over a drug cartel and succumbs to greed.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjdjNGQ4NDEtNTEwYS00MTgxLTliYzQtYzE2ZDRiZjFhZmNlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Scarface"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                656 Park Ln, Santa Barbara, California, USA 
            </td>   
                <td class="table__cell">
                34.44109, -119.617115
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                485 West Matheson Drive, Key Biscayne, Florida, USA 
            </td>   
                <td class="table__cell">
                25.6919, -80.174125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                631 Para Grande Lane, Santa Barbara, California, USA 
            </td>   
                <td class="table__cell">
                34.44004, -119.64677
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                728 Ocean Drive, Miami Beach, Florida, USA 
            </td>   
                <td class="table__cell">
                25.777335, -80.13161
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                I 110 and I 10 intersection, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0380821966999, -118.273944453147
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Torrance, California, USA 
            </td>   
                <td class="table__cell">
                33.8358, -118.3406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                16000 Ventura Boulevard, Encino, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.15584, -118.48164
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                3501 Southwest 130th Avenue, Davie, Florida, USA 
            </td>   
                <td class="table__cell">
                26.07788, -80.32421
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8623 West Sunset Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                34.09294, -118.37951
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8648 West Sunset Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                34.09121, -118.38225
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Perino's Restaurant   4101 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.040041, -118.472487
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tudor City, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7486, -73.9714
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Miami, Florida, USA
            </td>   
                <td class="table__cell">
                25.76513515625, -80.18537321875
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                South Beach, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                25.791159, -80.128934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Swimming Pool, Fontainebleau Hilton Resort   4441 Collins Avenue, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                25.7906, -80.13
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Barbara, California, USA
            </td>   
                <td class="table__cell">
                34.4098, -119.697
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Montecito, California, USA
            </td>   
                <td class="table__cell">
                34.4367, -119.6321
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 12, Universal Studios   100 Universal City Plaza, Universal City, California, USA 
            </td>   
                <td class="table__cell">
                34.14138, -118.35659
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8619 Sunset Blvd, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                34.09269, -118.37923
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Infiniti   8825 Wilshire Boulevard   Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                34.06739, -118.38444
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1443 West E Street   Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.77487, -118.28124
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Diego, California, USA
            </td>   
                <td class="table__cell">
                32.7174, -117.1628
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carlyle Hotel   1250 Ocean Drive, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                25.7906, -80.13
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Beacon Hotel   720 Ocean Dr, Miami Beach, Florida, USA
            </td>   
                <td class="table__cell">
                25.7906, -80.13
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlantis Condominium   2025 Brickell Avenue, Miami, Florida, USA
            </td>   
                <td class="table__cell">
                25.752995, -80.1986
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>