<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Grand Budapest Hotel</h3>
                        <p class="card-text">
                          A writer encounters the owner of an aging high-class hotel, who tells him of his early years serving as a lobby boy in the hotel's glorious years under an exceptional concierge.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzM5NjUxOTEyMl5BMl5BanBnXkFtZTgwNjEyMDM0MDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Grand Budapest Hotel"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Görlitz, Saxony, Germany 
            </td>   
                <td class="table__cell">
                51.15278, 14.98722
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Zwinger, Dresden, Saxony, Germany 
            </td>   
                <td class="table__cell">
                51.053425000000004, 13.733105625
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kraków, Malopolskie, Poland 
            </td>   
                <td class="table__cell">
                50.06667, 19.95
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Osterstein Castle, Zwickau, Saxony, Germany 
            </td>   
                <td class="table__cell">
                50.721002, 12.49999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hainewalde, Saxony, Germany 
            </td>   
                <td class="table__cell">
                50.90556, 14.7
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dresden, Saxony, Germany
            </td>   
                <td class="table__cell">
                51.05, 13.75
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Waldenburg, Saxony, Germany 
            </td>   
                <td class="table__cell">
                50.87583, 12.59972
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sächsische Schweiz, Saxony, Germany 
            </td>   
                <td class="table__cell">
                50.958545, 14.006784
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Studio Babelsberg, Potsdam, Brandenburg, Germany
            </td>   
                <td class="table__cell">
                52.387806, 13.120573
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burg Kriebstein, Kriebstein, Saxony, Germany 
            </td>   
                <td class="table__cell">
                51.05, 13.01972
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elbe Sandstone Mountains, Saxony, Germany 
            </td>   
                <td class="table__cell">
                51.02694, 13.35889
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>