<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Intouchables</h3>
          <p class="card-text mb-0">


  <span > After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caregiver.  </span>
                          <span > In Paris, the aristocratic and intellectual Philippe is a quadriplegic millionaire who is interviewing candidates for the position of his carer, with his red-haired secretary Magalie. Out of the blue, Driss cuts the line of candidates and brings a document from the Social Security and asks Phillipe to sign it to prove that he is seeking a job position so he can receive his unemployment benefit. Philippe challenges Driss, offering him a trial period of one month to gain experience helping him. Then Driss can decide whether he would like to stay with him or not. Driss accepts the challenge and moves to the mansion, changing the boring life of Phillipe and his employees. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
                          <span > A rich quadriplegic, living in a mansion in Paris, requires a live-in carer. A young offender turns up for an interview, but he is not really looking to get the job. However, to his surprise, he is hired. The two men then develop a close friendship. -Anonymous.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTYxNDA3MDQwNl5BMl5BanBnXkFtZTcwNTU4Mzc1Nw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Intouchables"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cabourg, Calvados, France
            </td>
                <td class="table__cell">
                49.28833, -0.11639
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Route Du Mont Bisanne, 73270 Villard-sur-Doron, France
            </td>
                <td class="table__cell">
                45.750438, 6.539935
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                85 Rue De Grenelle, 75007 Paris, France
            </td>
                <td class="table__cell">
                48.856126, 2.322049
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Les Deux Magots, 6 place Saint-Germain-des-Prés, Paris, 75006, France
            </td>
                <td class="table__cell">
                48.854027, 2.333164
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[48.854027, 2.333164], [48.856126, 2.322049], [48.85658, 2.35183]], "data": [{"lat": 49.28833, "lon": -0.11639, "name": "Cabourg, Calvados, France"}, {"lat": 45.750438, "lon": 6.539935, "name": "Route Du Mont Bisanne, 73270 Villard-sur-Doron, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.856126, "lon": 2.322049, "name": "85 Rue De Grenelle, 75007 Paris, France"}, {"lat": 48.854027, "lon": 2.333164, "name": "Les Deux Magots, 6 place Saint-Germain-des-Pr\u00e9s, Paris, 75006, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>