<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Great Escape</h3>
                        <p class="card-text">
                          Allied prisoners of war plan for several hundred of their number to escape from a German camp during World War II.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzA2NmYxMWUtNzBlMC00MWM2LTkwNmQtYTFlZjQwODNhOWE0XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Great Escape"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Füssen, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.56667</span>, <span class="lon">10.7</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bavaria, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.7775</span>, <span class="lon">11.43111</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Geiselgasteig, Grünwald, Bavaria, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.062632</span>, <span class="lon">11.547945</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hamburg   Munich Railway Line, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.13333</span>, <span class="lon">11.56667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Munich, Bavaria, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.13333</span>, <span class="lon">11.56667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bavaria Studios, Bavariafilmplatz 7, Geiselgasteig, Grünwald, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.066591</span>, <span class="lon">11.549117</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Geiselgasteig, Bavaria, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.062632</span>, <span class="lon">11.547945</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Neuschwanstein Castle, Hohenschwangau, Schwangau, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.557638</span>, <span class="lon">10.749785</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Perlacher Forst, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.063827</span>, <span class="lon">11.576672</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Grosshesselohe Isartal station, Pullach, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.0707675</span>, <span class="lon">11.530719</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ebersberger Straße, Markt Schwaben, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.1871298</span>, <span class="lon">11.8694147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sebastianstraße, Füssen, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.5687795</span>, <span class="lon">10.7021456</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St. Mary's Church, Speiden, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.61056</span>, <span class="lon">10.61275</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lechhalde, Füssen, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.5669033</span>, <span class="lon">10.7003286</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pfronten Ried station, Pfronten, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.583759</span>, <span class="lon">10.560715</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Füssen station, Bahnhofstraße, Füssen, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.5704035</span>, <span class="lon">10.697481</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Füssener Straße and Kemptener Straße, Pfronten, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.5958033</span>, <span class="lon">10.553988</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Malerweg, Pfronten, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.5946098</span>, <span class="lon">10.5530338</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Penzing, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.071479</span>, <span class="lon">12.249645</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mariahilfer Straße, Speiden, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.6108398</span>, <span class="lon">10.6123573</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Frauenried, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.7769049</span>, <span class="lon">11.940954</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lechhalde Bridge, Füssen, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.565564</span>, <span class="lon">10.700114</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Port of Emden, Emden, Lower Saxony, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.37009</span>, <span class="lon">7.2031</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 4/5, Bavaria Studios, Bavariafilmplatz 7, Geiselgasteig, Grünwald, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.067312</span>, <span class="lon">11.546399</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>