<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Pirates of the Caribbean: The Curse of the Black Pearl</h3>
          <p class="card-text mb-0">


  <span > Blacksmith Will Turner teams up with eccentric pirate "Captain" Jack Sparrow to save his love, the governor's daughter, from Jack's former pirate allies, who are now undead.  </span>
                          <span > This swash-buckling tale follows the quest of Captain Jack Sparrow, a savvy pirate, and Will Turner, a resourceful blacksmith, as they search for Elizabeth Swann. Elizabeth, the daughter of the governor and the love of Will's life, has been kidnapped by the feared Captain Barbossa. Little do they know, but the fierce and clever Barbossa has been cursed. He, along with his large crew, are under an ancient curse, doomed for eternity to neither live, nor die. That is, unless a blood sacrifice is made. -the lexster.  </span>
                          <span > When Captain Barbossa sends his pirate crew to kidnap Elizabeth Swan and the last remaining piece of Aztec gold. A blacksmith called Will Turner joins a recently captured pirate named Jack Sparrow and goes off searching for Elizabeth. It's isn't until they all meet up, that they discover the real terrifying truth behind the Aztec gold, and why they need Will Turner and not Elizabeth Swan. -Film_Fan.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > William Turner, a resourceful young blacksmith, teams up with the eccentric pirate "Captain" Jack Sparrow to save his love, the Governor's daughter, Elizabeth Swann, who has been mistakenly captured by the clever and treacherous Barbossa, a former ally of Jack, to make a blood sacrifice so as to end the curse that has been casted upon him and his crew. Will and Jack steal a ship from the Royal Navy and arrive at Tortuga, a pirate port. There Jack meets his friend Joshamee Gibbs and with a buccaneer and "able bodied" crew, set sail to save Elizabeth and take back the Black Pearl. Meanwhile, Barbossa discovers that not Elizabeth's but someone else's blood was required for the sacrifice. Whose blood is it? -ahmetkozan.  </span>
    <span class="additional-information" > Pirates of the Caribbean is a sweeping action-adventure story set in an era when villainous pirates scavenged the Caribbean seas. This roller coaster tale teams a young man, Will Turner, with an unlikely ally in rogue pirate Jack Sparrow. Together, they must battle a band of the world's most treacherous pirates, led by the cursed Captain Barbossa, in order to save Elizabeth, the love of Will's life, as well as recover the lost treasure that Jack seeks. Against improbable odds, they race towards a climactic confrontation on the mysterious Isla de Muerta. Clashing their swords in fierce mortal combat, Will and Jack attempt to recapture The Black Pearl ship, save the British navy, and relinquish a fortune in forbidden treasure thereby lifting the curse of the Pirates of the Caribbean. -Anonymous.  </span>
    <span class="additional-information" > After Elizabeth Swann is kidnapped by the evil Captain Barbossa and his crew, the blacksmith Will Turner and the pirate Jack Sparrow, who used to be captain of Barbossa's ship, team up to rescue Ms. Swann. But they soon discover that the pirates have their own secret, sinister purpose with Ms. Swann, and that there's much more going on that a simple kidnapping. -moviefreak_4.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGYyZGM5MGMtYTY2Ni00M2Y1LWIzNjQtYWUzM2VlNGVhMDNhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Pirates of the Caribbean: The Curse of the Black Pearl"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Samaná, Samaná, Dominican Republic
            </td>
                <td class="table__cell">
                19.20528, -69.33639
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saint Vincent and the Grenadines
            </td>
                <td class="table__cell">
                13.2548078283631, -61.1937651880492
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saint Vincent and the Grenadines
            </td>
                <td class="table__cell">
                13.2548078283631, -61.1937651880492
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kingstown, Saint George, Saint Vincent and the Grenadines
            </td>
                <td class="table__cell">
                13.161647, -61.221612
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Dominican Republic
            </td>
                <td class="table__cell">
                18.6062576970524, -70.1067224933053
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Universal City Plz, Los Angeles, California 91608, United States
            </td>
                <td class="table__cell">
                34.14138, -118.35659
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, United States
            </td>
                <td class="table__cell">
                33.7775, -118.1885
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                6610 Palos Verdes Drive South, Rancho Palos Verdes, California 90275, United States
            </td>
                <td class="table__cell">
                33.73948, -118.40028
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Universal City Plz, Los Angeles, California 91608, United States
            </td>
                <td class="table__cell">
                34.14138, -118.35659
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Burbank, California, United States
            </td>
                <td class="table__cell">
                34.1816, -118.3259
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                500 S Buena Vista St, Burbank, California 91521, United States
            </td>
                <td class="table__cell">
                34.19026, -118.30795
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Universal City Plz, Los Angeles, California 91608, United States
            </td>
                <td class="table__cell">
                34.14138, -118.35659
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[13.161647, -61.221612], [13.2548078283631, -61.1937651880492], [13.2548078283631, -61.1937651880492]], "data": [{"lat": 19.20528, "lon": -69.33639, "name": "Saman\u00e1, Saman\u00e1, Dominican Republic"}, {"lat": 13.2548078283631, "lon": -61.1937651880492, "name": "Saint Vincent and the Grenadines"}, {"lat": 13.2548078283631, "lon": -61.1937651880492, "name": "Saint Vincent and the Grenadines"}, {"lat": 13.161647, "lon": -61.221612, "name": "Kingstown, Saint George, Saint Vincent and the Grenadines"}, {"lat": 18.6062576970524, "lon": -70.1067224933053, "name": "Dominican Republic"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 33.7775, "lon": -118.1885, "name": "Long Beach, California, United States"}, {"lat": 33.73948, "lon": -118.40028, "name": "6610 Palos Verdes Drive South, Rancho Palos Verdes, California 90275, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 34.1816, "lon": -118.3259, "name": "Burbank, California, United States"}, {"lat": 34.19026, "lon": -118.30795, "name": "500 S Buena Vista St, Burbank, California 91521, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>