<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Pirates of the Caribbean: The Curse of the Black Pearl</h3>
                        <p class="card-text">
                          Blacksmith Will Turner teams up with eccentric pirate "Captain" Jack Sparrow to save his love, the governor's daughter, from Jack's former pirate allies, who are now undead.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGYyZGM5MGMtYTY2Ni00M2Y1LWIzNjQtYWUzM2VlNGVhMDNhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Pirates of the Caribbean: The Curse of the Black Pearl"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Samana, Dominican Republic
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.20528</span>, <span class="lon">-69.33639</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wallilabou Bay, St Vincent and the Grenadines
            </td>   
                <td class="table__cell">
                <span class="lat"> 13.2548078283631</span>, <span class="lon">-61.1937651880492</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bequia, St Vincent and the Grenadines
            </td>   
                <td class="table__cell">
                <span class="lat"> 13.2548078283631</span>, <span class="lon">-61.1937651880492</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kingstown, St Vincent, St Vincent and the Grenadines
            </td>   
                <td class="table__cell">
                <span class="lat"> 13.161647</span>, <span class="lon">-61.221612</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mexican Street, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.14138</span>, <span class="lon">-118.35659</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Beach, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7775</span>, <span class="lon">-118.1885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Marineland of the Pacific   6610 Palos Verdes Drive South, Rancho Palos Verdes, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.73948</span>, <span class="lon">-118.40028</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Little Europe, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.14138</span>, <span class="lon">-118.35659</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 2, Walt Disney Studios, 500 South Buena Vista Street, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.19026</span>, <span class="lon">-118.30795</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Walt Disney Studios, 500 South Buena Vista Street, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.19026</span>, <span class="lon">-118.30795</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mediterranean Square, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.14138</span>, <span class="lon">-118.35659</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>