<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Cool Hand Luke</h3>
                        <p class="card-text">
                          A laid back Southern man is sentenced to two years in a rural prison, but refuses to conform.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWFlNzZhYmYtYTI5YS00MDQyLWIyNTUtNTRjMWUwNTEzNjA0XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Cool Hand Luke"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Jacksonville, Florida, USA
            </td>   
                <td class="table__cell">
                30.3322, -81.6557
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stockton, California, USA
            </td>   
                <td class="table__cell">
                37.9577, -121.2908
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Joaquin River, California, USA 
            </td>   
                <td class="table__cell">
                36.834202, -119.919535
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tavares, Florida, USA
            </td>   
                <td class="table__cell">
                28.8042, -81.7256
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Joaquin Sacramento River Delta, California, USA
            </td>   
                <td class="table__cell">
                36.6066, -120.189
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lodi, California, USA
            </td>   
                <td class="table__cell">
                38.1302, -121.2724
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Joaquin Valley, California, USA
            </td>   
                <td class="table__cell">
                33.525867, -117.166415
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 9, Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 1, Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA
            </td>   
                <td class="table__cell">
                34.1816, -118.3259
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 6, Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA
            </td>   
                <td class="table__cell">
                34.1816, -118.3259
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>