<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Good, the Bad and the Ugly</h3>
                        <p class="card-text">
                          A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Good, the Bad and the Ugly"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Carazo, Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                40.39139, 8.99444
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cabo de Gata, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                36.781144, -2.242177
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Covarrubias, Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                42.765485, -2.824134
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santo Domingo de Silos, Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                41.9625, -3.41972
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                42.765485, -2.824134
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tabernas, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                37.04989, -2.39138
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Colmenar Viejo, Madrid, Spain 
            </td>   
                <td class="table__cell">
                40.65879, -3.76632
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cortijo del Fraile, Níjar, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                36.96556, -2.20639
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                La Calahorra, Granada, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                37.2225409475203, -3.64270536340856
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rome, Lazio, Italy
            </td>   
                <td class="table__cell">
                41.9499874999981, 12.7727081111137
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mini Hollywood, Tabernas, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                37.020366499999994, -2.4319275
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elios Film, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                41.89306, 12.48278
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Arlanza River, Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                42.64028, -6.68583
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Monasterio de San Pedro de Arlanza, Hortigüela, Burgos, Castilla y León, Spain 
            </td>   
                <td class="table__cell">
                42.06806, -3.42528
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                La Pedriza, Manzanares el Real, Madrid, Spain
            </td>   
                <td class="table__cell">
                40.727836, -3.8865
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Andalucía, Spain
            </td>   
                <td class="table__cell">
                41.395242, 2.187077
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Desierto de Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                37.090023, -2.379403
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                37.1452098010523, -2.07507758056227
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Durango, Mexico 
            </td>   
                <td class="table__cell">
                23.911273, -104.919807
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Albaricoques, Cabo de Gata, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                36.781144, -2.242177
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Granada, Andalucía, Spain
            </td>   
                <td class="table__cell">
                37.1202823858649, -3.58119996388976
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Estación de Calahorra, Guadix, Granada, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                37.29955, -3.13712
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rodalquilar, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                36.846802, -2.040604
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cortijada del Higo Seco, Níjar, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                36.96556, -2.20639
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>