<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">

              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Good, the Bad and the Ugly</h3>
          <p class="card-text mb-0">


  <span > A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.  </span>
                          <span > Blondie, The Good (Clint Eastwood), is a professional gunslinger who is out trying to earn a few dollars. Angel Eyes, The Bad (Lee Van Cleef), is a hitman who always commits to a task and sees it through--as long as he's paid to do so. And Tuco, The Ugly (Eli Wallach), is a wanted outlaw trying to take care of his own hide. Tuco and Blondie share a partnership making money off of Tuco's bounty, but when Blondie unties the partnership, Tuco tries to hunt down Blondie. When Blondie and Tuco come across a horse carriage loaded with dead bodies, they soon learn from the only survivor, Bill Carson (Antonio Casale), that he and a few other men have buried a stash of gold in a cemetery. Unfortunately, Carson dies and Tuco only finds out the name of the cemetery, while Blondie finds out the name on the grave. Now the two must keep each other alive in order to find the gold. Angel Eyes (who had been looking for Bill Carson) discovers that Tuco and Blondie met with Carson and knows they know where the gold is; now he needs them to lead him to it. Now The Good, the Bad, and the Ugly must all battle it out to get their hands on $200,000.00 worth of gold. -Jeremy Thomson.  </span>
                          <span > During the American Civil War, three men set off to find $200,000.00 in buried gold coins. Tuco (Eli Wallach) and Blondie (Clint Eastwood) have known each other for some time now having used the reward on Tuco's head as a way of earning money. They come across a dying man, Bill Carson (Antonio Casale), who tells them of a treasure in gold coins. By chance, he tells Tuco the name of the cemetery and tells Blondie the name of the grave where the gold is buried. Now rivals, the two men have good reason to keep each other alive. The third man, Angel Eyes (Lee Van Cleef), hears of the gold stash from someone he's been hired to kill. All he knows is to look for for someone named Bill Carson. The three ultimately meet in a showdown that takes place amid a major battle between Confederate and Union forces. -garykmcd.  </span>

                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Three different men of three different temperaments and tastes get involved in a long and adventure-filled battle in order to find a fortune in gold. While the first man, an ex-bounty hunter and a forgiving person, knows the name of the cemetery in which the gold is buried, the second, a fast-tempered greedy man, knows the name on the grave. But the third person, a cruel, cold-blooded murderer, knows none, so he must reach the gold in his own way of finding something. -J. S. Golden.  </span>
    <span class="additional-information" > A $200,000.00-shipment of Confederate gold is ambushed by Yankees in the southwest making it open season for huge news for every grifter, bad guy, and bounty hunter in the area. Blondie (Clint Eastwood), Angel Eyes (Lee Van Cleef), and Tuco (Eli Wallach) are Good, Bad, and Ugly, respectively. Each one has a key portion of the puzzle leading to the location of the gold, but none of them ever learned to share. -LA-Lawyer.  </span>
    <span class="additional-information" > As the Union Army advances and the Confederate forces retreat, two drifters and amoral partners-in-crime, opportunistic gunslinger Blondie and greasy Mexican bandit Tuco, have come up with a foolproof money-making scheme. But, as usual, all good things must come to an end, and now the promise of a legendary cache of gold buried somewhere in the sun-baked Sad Hill Cemetery turns the comrades into enemies bent on getting their hands on the treasure. However, there is a catch: only one knows the name on the grave. As if that weren't enough, the smell of profit attracts yet another vulture: treacherous mercenary Angel Eyes. Now, against the backdrop of Civil-War-torn America and a mutually disadvantageous partnership, three deadly antagonists must try to find together the whereabouts of the grand prize, enduring pitiless torture and crafty double-crosses along the way. Who can walk away in one piece from the inevitable Mexican stand-off under the sun? -Nick Riganas.  </span>
    </div>

<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>



                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjJlYmNkZGItM2NhYy00MjlmLTk5NmQtNjg1NmM2ODU4OTMwXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Good, the Bad and the Ugly"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Burgos, Sassari, Italy </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.39139</span>, <span class="lon">8.99444</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cabo de Gata, Almería, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.781144</span>, <span class="lon">-2.242177</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Castilla y León, La Puebla De Arganzón, Burgos 09294, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.765485</span>, <span class="lon">-2.824134</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santo Domingo de Silos, Burgos, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.9625</span>, <span class="lon">-3.41972</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Castilla y León, La Puebla De Arganzón, Burgos 09294, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.765485</span>, <span class="lon">-2.824134</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tabernas, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.04989</span>, <span class="lon">-2.39138</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Colmenar Viejo, Madrid, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.65879</span>, <span class="lon">-3.76632</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Níjar, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.96556</span>, <span class="lon">-2.20639</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Calahorra, 18220 Albolote, Granada, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.2225409475203</span>, <span class="lon">-3.64270536340856</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mini Hollywood, Desierto de Tabernas, Tabernas, Almería 04200, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.020366499999994</span>, <span class="lon">-2.4319275</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rome, Italy </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.89306</span>, <span class="lon">12.48278</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Lazio, 00019 Tivoli Rome, Italy </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.9499874999981</span>, <span class="lon">12.7727081111137</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Arganza, León, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.64028</span>, <span class="lon">-6.68583</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hortigüela, Burgos, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.06806</span>, <span class="lon">-3.42528</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">La Pedriza, Manzanares el Real, Manzanares el Real, Madrid 28410, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.727836</span>, <span class="lon">-3.8865</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Andalucía, Av. Meridiana 30, Barcelona, Barcelona 08018, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.395242</span>, <span class="lon">2.187077</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Desierto De Tabernas, Tabernas, Almería 04212, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.090023</span>, <span class="lon">-2.379403</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Andalucía, 04271 Sorbas, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1452098010523</span>, <span class="lon">-2.07507758056227</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Durango, Durango, Mexico </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">23.911273</span>, <span class="lon">-104.919807</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cabo de Gata, Almería, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.781144</span>, <span class="lon">-2.242177</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Guadix, Granada, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.29955</span>, <span class="lon">-3.13712</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Andalucía, 18140 La Zubia, Granada, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1202823858649</span>, <span class="lon">-3.58119996388976</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rodalquilar, Níjar, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.846802</span>, <span class="lon">-2.040604</span></a>

            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Níjar, Almería, Spain </a>

            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.96556</span>, <span class="lon">-2.20639</span></a>

            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[36.781144, -2.242177], [36.781144, -2.242177], [36.846802, -2.040604]], "data": [{"lat": 40.39139, "lon": 8.99444, "name": "Burgos, Sassari, Italy"}, {"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 42.765485, "lon": -2.824134, "name": "Castilla y Le\u00f3n, La Puebla De Arganz\u00f3n, Burgos 09294, Spain"}, {"lat": 41.9625, "lon": -3.41972, "name": "Santo Domingo de Silos, Burgos, Spain"}, {"lat": 42.765485, "lon": -2.824134, "name": "Castilla y Le\u00f3n, La Puebla De Arganz\u00f3n, Burgos 09294, Spain"}, {"lat": 37.04989, "lon": -2.39138, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 40.65879, "lon": -3.76632, "name": "Colmenar Viejo, Madrid, Spain"}, {"lat": 36.96556, "lon": -2.20639, "name": "N\u00edjar, Almer\u00eda, Spain"}, {"lat": 37.2225409475203, "lon": -3.64270536340856, "name": "Calle Calahorra, 18220 Albolote, Granada, Spain"}, {"lat": 37.020366499999994, "lon": -2.4319275, "name": "Mini Hollywood, Desierto de Tabernas, Tabernas, Almer\u00eda 04200, Spain"}, {"lat": 41.89306, "lon": 12.48278, "name": "Rome, Italy"}, {"lat": 41.9499874999981, "lon": 12.7727081111137, "name": "Via Lazio, 00019 Tivoli Rome, Italy"}, {"lat": 42.64028, "lon": -6.68583, "name": "Arganza, Le\u00f3n, Spain"}, {"lat": 42.06806, "lon": -3.42528, "name": "Hortig\u00fcela, Burgos, Spain"}, {"lat": 40.727836, "lon": -3.8865, "name": "La Pedriza, Manzanares el Real, Manzanares el Real, Madrid 28410, Spain"}, {"lat": 41.395242, "lon": 2.187077, "name": "Andaluc\u00eda, Av. Meridiana 30, Barcelona, Barcelona 08018, Spain"}, {"lat": 37.090023, "lon": -2.379403, "name": "Desierto De Tabernas, Tabernas, Almer\u00eda 04212, Spain"}, {"lat": 37.1452098010523, "lon": -2.07507758056227, "name": "Andaluc\u00eda, 04271 Sorbas, Almer\u00eda, Spain"}, {"lat": 23.911273, "lon": -104.919807, "name": "Durango, Durango, Mexico"}, {"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 37.29955, "lon": -3.13712, "name": "Guadix, Granada, Spain"}, {"lat": 37.1202823858649, "lon": -3.58119996388976, "name": "Calle Andaluc\u00eda, 18140 La Zubia, Granada, Spain"}, {"lat": 36.846802, "lon": -2.040604, "name": "Rodalquilar, N\u00edjar, Almer\u00eda, Spain"}, {"lat": 36.96556, "lon": -2.20639, "name": "N\u00edjar, Almer\u00eda, Spain"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)

   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox

  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){



  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>
