<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Exorcist</h3>
                        <p class="card-text">
                          When a 12-year-old girl is possessed by a mysterious entity, her mother seeks the help of two priests to save her.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjhmMGMxZDYtMTkyNy00YWVmLTgyYmUtYTU3ZjcwNTBjN2I1XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Exorcist"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Mosul, Iraq
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.341584337</span>, <span class="lon">43.129138593</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hetra, Iraq 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.0480556443919</span>, <span class="lon">43.4047161632042</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Al Mawsil, Iraq
            </td>   
                <td class="table__cell">
                <span class="lat"> 31.649474621</span>, <span class="lon">44.63285286</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                3600 Prospect Street, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.90566</span>, <span class="lon">-77.070395</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hitchcock Steps   36th & Prospect Streets, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.895</span>, <span class="lon">-77.0366</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Healy Hall, Georgetown University, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.907364</span>, <span class="lon">-77.0726945</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bellevue Hospital   462 First Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.900315</span>, <span class="lon">-73.829714</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Holy Trinity Church   3513 N Street NW, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.895</span>, <span class="lon">-77.0366</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dahlgren Chapel, Georgetown University, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.907304999999994</span>, <span class="lon">-77.07340149999999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ceco Studios[now Cameramart]   West 54th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.765295</span>, <span class="lon">-73.98504</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Tombs   1226 36th Street NW, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.905982</span>, <span class="lon">-77.070359</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Georgetown University, Georgetown, Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.907701875</span>, <span class="lon">-77.072684</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Key Bridge, Georgetown, Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.9107975</span>, <span class="lon">-77.05114900000001</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fordham University   441 E. Fordham Road. Rose Hill, Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8593</span>, <span class="lon">-73.8985</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hell's Kitchen, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7573</span>, <span class="lon">-73.9954</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chesapeake & Ohio Canal, Georgetown, Washington, District of Columbia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.9048</span>, <span class="lon">-77.0625</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Goldwater Memorial Hospital   One Main Street, Roosevelt Island, East River, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7306</span>, <span class="lon">-73.9866</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6501</span>, <span class="lon">-73.9496</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York University Medical Center   550 First Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.729364000000004</span>, <span class="lon">-73.995956</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150955</span>, <span class="lon">-118.339232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.895</span>, <span class="lon">-77.0366</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>