<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Hachi: A Dog's Tale</h3>
          <p class="card-text mb-0">


  <span > A college professor bonds with an abandoned dog he takes into his home.  </span>
                          <span > Commuting by train, music professor Parker Wilson finds an Akita puppy, whose cage broke unnoticed during shipping, leaving his destination unknown, and since the station can't care for it and the dog catcher warns even such cute ones may not be adopted in the two weeks allowed, he kindly takes it home. His bossy, jealous wife Cate initially makes Parker swear it won't stay, but by the time its' clear nobody will claim him and an adoption candidate is found, she agrees to keep the dog, who won over their daughter Andy and her fiance Michael at first sight. Parker's Japanese college friend Ken inspires naming the pup Hachi(ko), and is pleasantly surprised when Parker successfully tackles the challenge to get it to fetch, which Akitas don't usually do. Hachi makes a habit of waiting for his equally doting master at the station every evening, but after a cardiac crisis, Parker dies. Hachi refuses to accept this, being moved to Michael's home as Cate moves out, waiting for a master who can never come home again, by now collectively adopted by sympathizing town-folk. The story is told in flashbacks as class assignment 'my hero' by Michael's teen son Robbie, who also gets an Akita puppy. -KGF Vissers.  </span>
                          <span > A schoolboy reports on his hero: Hachiko, his grandfather's dog. In a flashback, a puppy at a Japanese monastery is crated and sent to the US. The crate's tag tears, and when the puppy pushes his way out of the crate at the train station of a small Rhode Island town, Parker Wilson, a professor of music in nearby Providence, takes the dog home for the night. His wife isn't happy about it, but after failing to find the owner, she lets the dog stay. A Japanese friend reads the dog's tag - "Hachiko" or "Eight," a lucky number. Parker can't teach the dog to fetch, but the friend explains that the dog will forge a different kind of loyalty. Tragedy tests that loyalty. -.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Eleven year old Robbie is giving an oral class report on the topic of "My Hero", his chosen subject, Hachi, who on the surface is an unusual choice. Several years earlier, Parker Wilson, who lives in Bedridge in suburban New York City, is a college music/performing arts professor, he who makes the train commute to/from the city every working day. It is on one of those routine days going home that he finds at the Bedridge Station a puppy, who he eventually will learn was being shipped somewhere unknown, with the shipping tag lost. He also learns from Ken, a Japanese professor friend, that the dog is a Japanese breed called an Akita, and that the Japanese character on the dog's collar tag is the number eight - "hachi". Parker does whatever he can to find out who the dog belongs to, and although his many acquaintances around the train station do their small part in helping Parker, no one is willing to take the dog, even temporarily. So Parker takes the dog home, despite he and his wife Cate long having dismissed the idea of having a dog. However Parker is able to convince her to let the dog stay temporarily. Eventually on the high probability that they will never find the dog's owner, Cate, upon seeing the interaction between the two, lets Parker permanently keep the dog, who he has since named Hachi. Although living in the Wilson home with Parker, Cate and their daughter Andy, Hachi becomes not a Wilson family pet, not Cate's, not Andy's, but Parker's alone as a special bond forms between the two. Although not a "typical" dog in that Hachi will do not what most dogs do such as fetch, Hachi demonstrates an unwavering and lifelong loyalty to Parker in an unusual way that all around him can see. Robbie chose Hachi as his hero because of this loyalty, despite he never having met Parker, who in nonetheless an important part of his life. -Huggo.  </span>
    <span class="additional-information" > Before the entire class, young Ronnie tells the story of his grandfather's exceptional Akita dog. As Ronnie starts to recount the chance encounter of his grandfather, the college music teacher, Parker Wilson, with the abandoned puppy that accidentally ended up in the professor's hometown of Rhode Island, an incredible story of loyalty and devotion begins to unfold. Indeed, at first, Parker intended to find the dog's owner; but, instead, after realising that nobody claims the dog, he decided to keep the abandoned puppy, naming it Hachiko. Then, tragedy struck, giving the perfect example of the strong, the unwavering, and sometimes, the unexplainable bond that can form between a man and an animal. -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzE4NDg5OWMtMzg3NC00ZDRjLTllMDMtZTRjNWZmNjBmMGZlXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Hachi: A Dog's Tale"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rhode Island, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.6850953372</span>, <span class="lon">-71.5793902557177</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Woonsocket, Rhode Island, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.0029</span>, <span class="lon">-71.5148</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Providence, Rhode Island, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.824</span>, <span class="lon">-71.4128</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">University of Rhode Island, 45 Upper College Rd, Kingston, Rhode Island 02881, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.482648999999995</span>, <span class="lon">-71.52618749999999</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.3864928218528</span>, <span class="lon">138.592229549504</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bristol, Rhode Island, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.677</span>, <span class="lon">-71.2662</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1 Depot Sq, Woonsocket, Rhode Island 02895, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.00382</span>, <span class="lon">-71.51535</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[41.482648999999995, -71.52618749999999], [41.677, -71.2662], [41.6850953372, -71.5793902557177]], "data": [{"lat": 41.6850953372, "lon": -71.5793902557177, "name": "Rhode Island, United States"}, {"lat": 42.0029, "lon": -71.5148, "name": "Woonsocket, Rhode Island, United States"}, {"lat": 41.824, "lon": -71.4128, "name": "Providence, Rhode Island, United States"}, {"lat": 41.482648999999995, "lon": -71.52618749999999, "name": "University of Rhode Island, 45 Upper College Rd, Kingston, Rhode Island 02881, United States"}, {"lat": 36.3864928218528, "lon": 138.592229549504, "name": "Japan"}, {"lat": 41.677, "lon": -71.2662, "name": "Bristol, Rhode Island, United States"}, {"lat": 42.00382, "lon": -71.51535, "name": "1 Depot Sq, Woonsocket, Rhode Island 02895, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>