<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Goodfellas</h3>
                        <p class="card-text">
                          The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Goodfellas"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                New Rochelle, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.911423</span>, <span class="lon">-73.777815</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                56 26 Maspeth Avenue, Maspeth, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.716468</span>, <span class="lon">-73.911985</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Staten Island, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5834</span>, <span class="lon">-74.1496</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tampa, Florida, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 27.9478</span>, <span class="lon">-82.4584</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Oriental Manor, 1818 86th St, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.60677</span>, <span class="lon">-74.00227</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                2995 Richmond Avenue, Staten Island, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.570951</span>, <span class="lon">-74.16971</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                19 Alfred Lane, New Rochelle, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.953735</span>, <span class="lon">-73.77995</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                14 Alfred Lane, New Rochelle, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.954035</span>, <span class="lon">-73.78051</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1080 Inwood Terrace, Fort Lee, New Jersey, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.83738</span>, <span class="lon">-73.98599</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                2409 Thirty Second Street, Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.775945</span>, <span class="lon">-73.934715</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Babbage Street, Richmond Hill, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.70229</span>, <span class="lon">-73.8355</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Copacabana Nightclub   10 East 60th Street, East Side, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76429</span>, <span class="lon">-73.97174</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                East Side, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.787414</span>, <span class="lon">-73.943559</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fort Lee, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8509</span>, <span class="lon">-73.9701</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                George Washington Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8488975</span>, <span class="lon">-73.9402215</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hawaii Kai Restaurant, 49th Street, Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7903</span>, <span class="lon">-73.9597</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jackson Hole   6935 Astoria Boulevard, Jackson Heights, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76422</span>, <span class="lon">-73.89918</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Salerno's Restaurant   11711 Hillside Avenue, Richmond Hill, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.700545</span>, <span class="lon">-73.8328</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Valley Stream, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6851</span>, <span class="lon">-73.7018</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                West 9th Street & Smith Street, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.733405</span>, <span class="lon">-73.99742</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8756</span>, <span class="lon">-87.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Marlboro, New Jersey, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.3154</span>, <span class="lon">-74.2463</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Collaros Italiano Restaurant   2758 Coney Island Avenue & Avenue Y, Coney Island, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5779</span>, <span class="lon">-73.994</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Coney Island, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5779</span>, <span class="lon">-73.994</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fifth Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.750144</span>, <span class="lon">-73.983532</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Foley Square, Lower Manhattan, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.714704499999996</span>, <span class="lon">-74.0028595</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kaufman Astoria Studios   3412 36th Street, Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7572895</span>, <span class="lon">-73.9238915</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palisades Interstate Parkway, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.9148654842907</span>, <span class="lon">-73.9351676720376</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Prospect Park, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.67</span>, <span class="lon">-73.97</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Red Hook, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6751</span>, <span class="lon">-74.0096</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Richmond Avenue, Staten Island, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.58181</span>, <span class="lon">-74.16646</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Spartan Diner   7320 Grand Avenue, Maspeth, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.72965</span>, <span class="lon">-73.88936</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Catalina Beach Club   2041 Park Street, Atlantic Beach, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.589</span>, <span class="lon">-73.729</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Oyster Bay, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8658</span>, <span class="lon">-73.532</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7498</span>, <span class="lon">-73.7976</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Richmond Hill, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.69982</span>, <span class="lon">-73.832596</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Smith Street, Red Hook, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.66941</span>, <span class="lon">-74.00121</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7661</span>, <span class="lon">-73.9309</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                JFK International Airport, Jamaica, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.642421999999996</span>, <span class="lon">-73.781749</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lawrence, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.9404</span>, <span class="lon">-73.8485</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7306</span>, <span class="lon">-73.9866</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Neir's Tavern   87 48 78th Street, Woodhaven, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.691867</span>, <span class="lon">-73.863865</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                23 83 31st Street   Queens, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.758823</span>, <span class="lon">-73.889926</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                49th Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76208</span>, <span class="lon">-73.98726</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Atlantic Beach, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.59</span>, <span class="lon">-73.71</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Broadway, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.764031</span>, <span class="lon">-73.982449</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6501</span>, <span class="lon">-73.9496</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gowanus Canal, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.673176</span>, <span class="lon">-73.99632700000001</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hudson River, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.71291</span>, <span class="lon">-74.023909</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Island Railroad, Richmond Hill, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6998</span>, <span class="lon">-73.8312</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Island, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.583986</span>, <span class="lon">-73.686923</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lower Manhattan, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.71864</span>, <span class="lon">-74.00219</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.68917359673309</span>, <span class="lon">-73.9826731487689</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Maspeth, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7232</span>, <span class="lon">-73.9126</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York County Courthouse   60 Centre Street, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.714565</span>, <span class="lon">-74.002885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Woodhaven, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6893</span>, <span class="lon">-73.8579</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>