<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Goodfellas</h3>
                        <p class="card-text">
                          The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Goodfellas"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                New Rochelle, New York, USA
            </td>   
                <td class="table__cell">
                40.911423, -73.777815
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                56 26 Maspeth Avenue, Maspeth, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.716468, -73.911985
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Staten Island, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.5834, -74.1496
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tampa, Florida, USA
            </td>   
                <td class="table__cell">
                27.9478, -82.4584
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Oriental Manor, 1818 86th St, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.60677, -74.00227
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2995 Richmond Avenue, Staten Island, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.570951, -74.16971
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                19 Alfred Lane, New Rochelle, New York, USA 
            </td>   
                <td class="table__cell">
                40.953735, -73.77995
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                14 Alfred Lane, New Rochelle, New York, USA 
            </td>   
                <td class="table__cell">
                40.954035, -73.78051
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1080 Inwood Terrace, Fort Lee, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.83738, -73.98599
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2409 Thirty Second Street, Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.775945, -73.934715
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Babbage Street, Richmond Hill, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.70229, -73.8355
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Copacabana Nightclub   10 East 60th Street, East Side, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76429, -73.97174
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                East Side, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.787414, -73.943559
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fort Lee, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.8509, -73.9701
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                George Washington Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.8488975, -73.9402215
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hawaii Kai Restaurant, 49th Street, Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7903, -73.9597
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Jackson Hole   6935 Astoria Boulevard, Jackson Heights, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76422, -73.89918
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Salerno's Restaurant   11711 Hillside Avenue, Richmond Hill, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.700545, -73.8328
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Valley Stream, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.6851, -73.7018
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                West 9th Street & Smith Street, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.733405, -73.99742
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Marlboro, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.3154, -74.2463
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Collaros Italiano Restaurant   2758 Coney Island Avenue & Avenue Y, Coney Island, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.5779, -73.994
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Coney Island, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.5779, -73.994
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fifth Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.750144, -73.983532
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Foley Square, Lower Manhattan, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.714704499999996, -74.0028595
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kaufman Astoria Studios   3412 36th Street, Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7572895, -73.9238915
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palisades Interstate Parkway, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.9148654842907, -73.9351676720376
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Prospect Park, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.67, -73.97
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Red Hook, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.6751, -74.0096
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Richmond Avenue, Staten Island, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.58181, -74.16646
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Spartan Diner   7320 Grand Avenue, Maspeth, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.72965, -73.88936
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Catalina Beach Club   2041 Park Street, Atlantic Beach, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                40.589, -73.729
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oyster Bay, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.8658, -73.532
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.7498, -73.7976
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Richmond Hill, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.69982, -73.832596
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Smith Street, Red Hook, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.66941, -74.00121
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Astoria, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7661, -73.9309
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                JFK International Airport, Jamaica, Queens, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.642421999999996, -73.781749
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lawrence, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                40.9404, -73.8485
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, USA
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Neir's Tavern   87 48 78th Street, Woodhaven, New York, USA
            </td>   
                <td class="table__cell">
                40.691867, -73.863865
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                23 83 31st Street   Queens, New York, USA 
            </td>   
                <td class="table__cell">
                40.758823, -73.889926
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                49th Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.76208, -73.98726
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlantic Beach, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                40.59, -73.71
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Broadway, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.764031, -73.982449
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.6501, -73.9496
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gowanus Canal, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.673176, -73.99632700000001
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hudson River, New York, USA
            </td>   
                <td class="table__cell">
                40.71291, -74.023909
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Island Railroad, Richmond Hill, New York, USA 
            </td>   
                <td class="table__cell">
                40.6998, -73.8312
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.583986, -73.686923
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lower Manhattan, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.71864, -74.00219
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Maspeth, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.7232, -73.9126
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York County Courthouse   60 Centre Street, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.714565, -74.002885
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Woodhaven, Queens, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.6893, -73.8579
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>