<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Goodfellas</h3>
                        <p class="card-text">
                          The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate. Henry Hill might be a small time gangster, who may have taken part in a robbery with Jimmy Conway and Tommy De Vito, two other gangsters who might have set their sights a bit higher. His two partners could kill off everyone else involved in the robbery, and slowly start to think about climbing up through the hierarchy of the Mob. Henry, however, might be badly affected by his partners' success, but will he consider stooping low enough to bring about the downfall of Jimmy and Tommy?::Colin Tinto <cst@imdb.com> This film views the mob lives of three pivotal figures in the 1960's and 70's New York. Henry Hill is a local boy turned gangster in a neighborhood full of the roughest and toughest. Tommy DeVito is a purebred gangster, who turns out to be Henry's best friend. Jimmy Conway puts the two of them together, and runs some of the biggest hijacks and burglaries the town has ever seen. After an extended jail sentence, Henry must sneak around the back of the local mob boss, Paulie Cicero, to live the life of luxury he has always dreamed of. In the end, the friends end up in a hell of a jam, and must do anything they can to save each other, and stay alive.::<formica97@aol.com> The story of Irish-Italian American, Henry Hill, and how he lives day-to-day life as a member of the Mafia. Based on a true story, the plot revolves around Henry and his two unstable friends Jimmy and Tommy as they gradually climb the ladder from petty crime to violent murders.::Graeme Roy <gsr@cbmamiga.demon.co.uk> The lowly, blue-collar side of New York's Italian mafia is explored in this crime biopic of wiseguy Henry Hill. As he makes his way from strapping young petty criminal, to big-time thief, to middle-aged cocaine addict and dealer, the film explores in detail the rules and traditions of organized crime. Watching the rise and fall of Hill and his two counterparts, the slick jack-of-all-trades criminal Jimmy Conway and the brutish, intimidating Tommy DeVito, this true story realistically explores the core, blue-collar part of the mob.::Dustin B.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BY2NkZjEzMDgtN2RjYy00YzM1LWI4ZmQtMjIwYjFjNmI3ZGEwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Goodfellas"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Monroe College, 374 Main St, New Rochelle, New York 10801, United States
            </td>   
                <td class="table__cell">
                40.911423, -73.777815
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                56-26 Maspeth Avenue, Queens, New York 11378, United States
            </td>   
                <td class="table__cell">
                40.72287, -73.91352
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Staten Island, New York, United States
            </td>   
                <td class="table__cell">
                40.5834, -74.1496
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tampa, Florida, United States
            </td>   
                <td class="table__cell">
                27.9478, -82.4584
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1818 86th Street, Brooklyn, New York 11214, United States
            </td>   
                <td class="table__cell">
                40.60677, -74.00227
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2995 Richmond Avenue, Staten Island, New York 10312, United States
            </td>   
                <td class="table__cell">
                40.570951, -74.16971
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                19 Alfred Lane, New Rochelle, New York 10804, United States
            </td>   
                <td class="table__cell">
                40.953735, -73.77995
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                14 Alfred Lane, New Rochelle, New York 10804, United States
            </td>   
                <td class="table__cell">
                40.954035, -73.78051
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1080 Inwood Terrace, Fort Lee, New Jersey 07024, United States
            </td>   
                <td class="table__cell">
                40.83738, -73.98599
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2nd Street, Queens, New York 11102, United States
            </td>   
                <td class="table__cell">
                40.775945, -73.934715
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Babbage Street, Queens, New York 11418, United States
            </td>   
                <td class="table__cell">
                40.70229, -73.8355
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10 East 60th Street, New York, New York 10022, United States
            </td>   
                <td class="table__cell">
                40.76429, -73.97174
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                East Side, New York, New York 10029, United States
            </td>   
                <td class="table__cell">
                40.787414, -73.943559
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fort Lee, New Jersey, United States
            </td>   
                <td class="table__cell">
                40.8509, -73.9701
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                George Washington Bridge Park, Cabrini Blvd, New York, New York 10033, United States
            </td>   
                <td class="table__cell">
                40.8488975, -73.9402215
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan, New York, United States
            </td>   
                <td class="table__cell">
                40.7903, -73.9597
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St Michael's Avenue, Queens, New York 11102, United States
            </td>   
                <td class="table__cell">
                40.76422, -73.89918
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                117-11 Hillside Avenue, Queens, New York 11418, United States
            </td>   
                <td class="table__cell">
                40.700545, -73.8328
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                North Valley Stream, New York, United States
            </td>   
                <td class="table__cell">
                40.6851, -73.7018
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                26 West 9th St, New York, New York 10011, United States
            </td>   
                <td class="table__cell">
                40.733405, -73.99742
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chicago, Illinois, United States
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Marlboro, New Jersey, United States
            </td>   
                <td class="table__cell">
                40.3154, -74.2463
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Coney Island, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.5779, -73.994
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Coney Island, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.5779, -73.994
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Langham, 400 5th Ave, New York, New York 10018, United States
            </td>   
                <td class="table__cell">
                40.750144, -73.983532
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Foley Square, 148-152 Worth St, New York, New York 10278, United States
            </td>   
                <td class="table__cell">
                40.714704499999996, -74.0028595
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kaufman Astoria Studios, 3437 36th St, New York, New York 11106, United States
            </td>   
                <td class="table__cell">
                40.7572895, -73.9238915
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palisades Interstate Parkway, Tenafly, New Jersey 07670, United States
            </td>   
                <td class="table__cell">
                40.9148654842907, -73.9351676720376
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Prospect Park, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.67, -73.97
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Red Hook, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.6751, -74.0096
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Richmond Avenue, Staten Island, New York 10312, United States
            </td>   
                <td class="table__cell">
                40.58181, -74.16646
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                73-20 Grand Avenue, Queens, New York 11378, United States
            </td>   
                <td class="table__cell">
                40.72965, -73.88936
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlantic Beach, New York, United States
            </td>   
                <td class="table__cell">
                40.589, -73.729
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oyster Bay, New York, United States
            </td>   
                <td class="table__cell">
                40.8658, -73.532
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Queens, New York, United States
            </td>   
                <td class="table__cell">
                40.7498, -73.7976
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Richmond Hill Chiropractic, 86-10 117th St, New York, New York 11418, United States
            </td>   
                <td class="table__cell">
                40.69982, -73.832596
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Smith Street, Brooklyn, New York 11231, United States
            </td>   
                <td class="table__cell">
                40.66941, -74.00121
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Astoria, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.7661, -73.9309
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                John F. Kennedy International Airport (JFK), JFK Expy, New York, New York 11430, United States
            </td>   
                <td class="table__cell">
                40.642421999999996, -73.781749
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lawrence Park, Yonkers, New York, United States
            </td>   
                <td class="table__cell">
                40.9404, -73.8485
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, New York, United States
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                87-48 78th Street, Queens, New York 11421, United States
            </td>   
                <td class="table__cell">
                40.68983, -73.863575
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                23-83 31st Street, Queens, New York 11101, United States
            </td>   
                <td class="table__cell">
                40.739145, -73.936586
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                West 49th Street, New York, New York 10019, United States
            </td>   
                <td class="table__cell">
                40.76208, -73.98726
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlantic Beach, New York, United States
            </td>   
                <td class="table__cell">
                40.589, -73.729
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Broadway, New York, New York 10019, United States
            </td>   
                <td class="table__cell">
                40.764031, -73.982449
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn, New York, United States
            </td>   
                <td class="table__cell">
                40.6501, -73.9496
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gowanus Canal, Gowanus Canal, New York, New York 11215, United States
            </td>   
                <td class="table__cell">
                40.673176, -73.99632700000001
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hudson River, Hudson River, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.71291, -74.023909
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Richmond Hill, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.6998, -73.8312
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Overlook at the Beach, Long Beach, New York 11561, United States
            </td>   
                <td class="table__cell">
                40.583986, -73.686923
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lower Manhattan, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.71864, -74.00219
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States
            </td>   
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Maspeth, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.7232, -73.9126
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Division Of Jurors, 60 Centre St, New York, New York 10278, United States
            </td>   
                <td class="table__cell">
                40.714565, -74.002885
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Woodhaven, New York, New York, United States
            </td>   
                <td class="table__cell">
                40.6893, -73.8579
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[40.3154, -74.2463], [40.570951, -74.16971], [40.5779, -73.994]], "data": [{"lat": 40.911423, "lon": -73.777815, "name": "Monroe College, 374 Main St, New Rochelle, New York 10801, United States"}, {"lat": 40.72287, "lon": -73.91352, "name": "56-26 Maspeth Avenue, Queens, New York 11378, United States"}, {"lat": 40.5834, "lon": -74.1496, "name": "Staten Island, New York, United States"}, {"lat": 27.9478, "lon": -82.4584, "name": "Tampa, Florida, United States"}, {"lat": 40.60677, "lon": -74.00227, "name": "1818 86th Street, Brooklyn, New York 11214, United States"}, {"lat": 40.570951, "lon": -74.16971, "name": "2995 Richmond Avenue, Staten Island, New York 10312, United States"}, {"lat": 40.953735, "lon": -73.77995, "name": "19 Alfred Lane, New Rochelle, New York 10804, United States"}, {"lat": 40.954035, "lon": -73.78051, "name": "14 Alfred Lane, New Rochelle, New York 10804, United States"}, {"lat": 40.83738, "lon": -73.98599, "name": "1080 Inwood Terrace, Fort Lee, New Jersey 07024, United States"}, {"lat": 40.775945, "lon": -73.934715, "name": "2nd Street, Queens, New York 11102, United States"}, {"lat": 40.70229, "lon": -73.8355, "name": "Babbage Street, Queens, New York 11418, United States"}, {"lat": 40.76429, "lon": -73.97174, "name": "10 East 60th Street, New York, New York 10022, United States"}, {"lat": 40.787414, "lon": -73.943559, "name": "East Side, New York, New York 10029, United States"}, {"lat": 40.8509, "lon": -73.9701, "name": "Fort Lee, New Jersey, United States"}, {"lat": 40.8488975, "lon": -73.9402215, "name": "George Washington Bridge Park, Cabrini Blvd, New York, New York 10033, United States"}, {"lat": 40.7903, "lon": -73.9597, "name": "Manhattan, New York, United States"}, {"lat": 40.76422, "lon": -73.89918, "name": "St Michael\u0027s Avenue, Queens, New York 11102, United States"}, {"lat": 40.700545, "lon": -73.8328, "name": "117-11 Hillside Avenue, Queens, New York 11418, United States"}, {"lat": 40.6851, "lon": -73.7018, "name": "North Valley Stream, New York, United States"}, {"lat": 40.733405, "lon": -73.99742, "name": "26 West 9th St, New York, New York 10011, United States"}, {"lat": 41.8756, "lon": -87.6244, "name": "Chicago, Illinois, United States"}, {"lat": 40.3154, "lon": -74.2463, "name": "Marlboro, New Jersey, United States"}, {"lat": 40.5779, "lon": -73.994, "name": "Coney Island, New York, New York, United States"}, {"lat": 40.5779, "lon": -73.994, "name": "Coney Island, New York, New York, United States"}, {"lat": 40.750144, "lon": -73.983532, "name": "The Langham, 400 5th Ave, New York, New York 10018, United States"}, {"lat": 40.714704499999996, "lon": -74.0028595, "name": "Foley Square, 148-152 Worth St, New York, New York 10278, United States"}, {"lat": 40.7572895, "lon": -73.9238915, "name": "Kaufman Astoria Studios, 3437 36th St, New York, New York 11106, United States"}, {"lat": 40.9148654842907, "lon": -73.9351676720376, "name": "Palisades Interstate Parkway, Tenafly, New Jersey 07670, United States"}, {"lat": 40.67, "lon": -73.97, "name": "Prospect Park, New York, New York, United States"}, {"lat": 40.6751, "lon": -74.0096, "name": "Red Hook, New York, New York, United States"}, {"lat": 40.58181, "lon": -74.16646, "name": "Richmond Avenue, Staten Island, New York 10312, United States"}, {"lat": 40.72965, "lon": -73.88936, "name": "73-20 Grand Avenue, Queens, New York 11378, United States"}, {"lat": 40.589, "lon": -73.729, "name": "Atlantic Beach, New York, United States"}, {"lat": 40.8658, "lon": -73.532, "name": "Oyster Bay, New York, United States"}, {"lat": 40.7498, "lon": -73.7976, "name": "Queens, New York, United States"}, {"lat": 40.69982, "lon": -73.832596, "name": "Richmond Hill Chiropractic, 86-10 117th St, New York, New York 11418, United States"}, {"lat": 40.66941, "lon": -74.00121, "name": "Smith Street, Brooklyn, New York 11231, United States"}, {"lat": 40.7661, "lon": -73.9309, "name": "Astoria, New York, New York, United States"}, {"lat": 40.642421999999996, "lon": -73.781749, "name": "John F. Kennedy International Airport (JFK), JFK Expy, New York, New York 11430, United States"}, {"lat": 40.9404, "lon": -73.8485, "name": "Lawrence Park, Yonkers, New York, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 40.68983, "lon": -73.863575, "name": "87-48 78th Street, Queens, New York 11421, United States"}, {"lat": 40.739145, "lon": -73.936586, "name": "23-83 31st Street, Queens, New York 11101, United States"}, {"lat": 40.76208, "lon": -73.98726, "name": "West 49th Street, New York, New York 10019, United States"}, {"lat": 40.589, "lon": -73.729, "name": "Atlantic Beach, New York, United States"}, {"lat": 40.764031, "lon": -73.982449, "name": "Broadway, New York, New York 10019, United States"}, {"lat": 40.6501, "lon": -73.9496, "name": "Brooklyn, New York, United States"}, {"lat": 40.673176, "lon": -73.99632700000001, "name": "Gowanus Canal, Gowanus Canal, New York, New York 11215, United States"}, {"lat": 40.71291, "lon": -74.023909, "name": "Hudson River, Hudson River, New York, New York, United States"}, {"lat": 40.6998, "lon": -73.8312, "name": "Richmond Hill, New York, New York, United States"}, {"lat": 40.583986, "lon": -73.686923, "name": "Overlook at the Beach, Long Beach, New York 11561, United States"}, {"lat": 40.71864, "lon": -74.00219, "name": "Lower Manhattan, New York, New York, United States"}, {"lat": 40.68917359673309, "lon": -73.9826731487689, "name": "Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States"}, {"lat": 40.7232, "lon": -73.9126, "name": "Maspeth, New York, New York, United States"}, {"lat": 40.714565, "lon": -74.002885, "name": "Division Of Jurors, 60 Centre St, New York, New York 10278, United States"}, {"lat": 40.6893, "lon": -73.8579, "name": "Woodhaven, New York, New York, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>