<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Downfall</h3>
                        <p class="card-text">
                          Traudl Junge, the final secretary for Adolf Hitler, tells of the Nazi dictator's final days in his Berlin bunker at the end of WWII.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTU0NTU5NTAyMl5BMl5BanBnXkFtZTYwNzYwMDg2.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Downfall"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                St. Petersburg, Russia
            </td>   
                <td class="table__cell">
                <span class="lat"> 59.95</span>, <span class="lon">30.31667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Munich, Bavaria, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.13333</span>, <span class="lon">11.56667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Berlin, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.51667</span>, <span class="lon">13.38333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bavaria Studios, Bavariafilmplatz 7, Geiselgasteig, Grünwald, Bavaria, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.066591</span>, <span class="lon">11.549117</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>