<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Downfall</h3>
          <p class="card-text mb-0">


  <span > Traudl Junge, the final secretary for Adolf Hitler, tells of the Nazi dictator's final days in his Berlin bunker at the end of WWII.  </span>
                          <span > Charting the last 10 days of Hitler's life, from his 56th birthday on April 20th, 1945 to his suicide on April 30th, Downfall uses multiple characters to show the chaos of a country coming apart at the seams, from Hitler's henchman under the streets of Berlin, to the soldiers and civilians fighting and dying as the Soviet Army ravaged the city above. Nominated for an Oscar for Best Foreign Language Film in 2005.  </span>
                          <span > In April of 1945, Germany stands at the brink of defeat with the Soviet Armies closing in from the west and south. In Berlin, capital of the Third Reich, Adolf Hitler proclaims that Germany will still achieve victory and orders his Generals and advisers to fight to the last man. "Downfall" explores these final days of the Reich, where senior German leaders (such as Himmler and Goring) began defecting from their beloved Fuhrer, in an effort to save their own lives, while still others (Joseph Goebbels) pledge to die with Hitler. Hitler, himself, degenerates into a paranoid shell of a man, full of optimism one moment and suicidal depression the next. When the end finally does comes, and Hitler lies dead by his own hand, what is left of his military must find a way to end the killing that is the Battle of Berlin, and lay down their arms in surrender. -Anthony Hughes {husnock31@hotmail.com}.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > As the Russians advance through Berlin in the spring of 1945, Adolf Hitler and his remaining military and secretarial staff shelter in his large bunker complex in the centre of the city. His mood swings between completely unjustified optimism that his forces will still break through, and rage against the incompetence and betrayal of his military commanders. Reality does finally start to break through and the Fuhrer and the others in the bunker start to make their final personal preparations for the inevitable. -J-26.  </span>
    <span class="additional-information" > With the fall of Germany imminent, 24 year old, Traudl Junge had just become personal secretary of the Führer, Adolf Hitler. This film recreates from Ms Junge's recollections, the final 2 weeks of the 'thousand year' Third Reich, beginning 20 April, 1945, the day of Hitler's 56th birthday. Spent primarily in the Führer bunker, she and many of the leaders of the Nazi party were taking refuge from the siege of Berlin. As the situation became ever more desperate, the more anguished and seemingly out of touch with reality their actions became. -Huggo.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTU0NTU5NTAyMl5BMl5BanBnXkFtZTYwNzYwMDg2.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Downfall"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Санкт-Петербу́рг, Saint Petersburg, Russia </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">59.95</span>, <span class="lon">30.31667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">München, Bavaria, Germany </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.13333</span>, <span class="lon">11.56667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Berlin, Germany </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.51667</span>, <span class="lon">13.38333</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bavariafilmplatz 7, 82031 Grünwald, Germany </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.066591</span>, <span class="lon">11.549117</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Russia </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">61.9945734073292</span>, <span class="lon">96.6697054604756</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Germany </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.1334813439932</span>, <span class="lon">10.0183432948567</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 59.95, "lon": 30.31667, "name": "\u0421\u0430\u043d\u043a\u0442-\u041f\u0435\u0442\u0435\u0440\u0431\u0443\u0301\u0440\u0433, Saint Petersburg, Russia"}, {"lat": 48.13333, "lon": 11.56667, "name": "M\u00fcnchen, Bavaria, Germany"}, {"lat": 52.51667, "lon": 13.38333, "name": "Berlin, Germany"}, {"lat": 48.066591, "lon": 11.549117, "name": "Bavariafilmplatz 7, 82031 Gr\u00fcnwald, Germany"}, {"lat": 61.9945734073292, "lon": 96.6697054604756, "name": "Russia"}, {"lat": 51.1334813439932, "lon": 10.0183432948567, "name": "Germany"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>