<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Dark Knight Rises</h3>
                        <p class="card-text">
                          Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Dark Knight Rises"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Mehrangarh Fort, Jodhpur, Rajasthan, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 26.2975285</span>, <span class="lon">73.020523</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wollaton Hall, Nottingham, Nottinghamshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.946951</span>, <span class="lon">-1.188368</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.4417</span>, <span class="lon">-79.9901</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Old Royal Naval College, Greenwich, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.48305125</span>, <span class="lon">-0.006040749999999999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Heinz Field   100 Art Rooney Avenue, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.44753</span>, <span class="lon">-80.01634</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chand Baori, Abhaneri, Rajasthan, India 
            </td>   
                <td class="table__cell">
                <span class="lat"> 26.901755</span>, <span class="lon">75.851844</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Osterley Park House, Isleworth, Middlesex, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.4666</span>, <span class="lon">-0.3363</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cairngorms National Park, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 57.290937</span>, <span class="lon">-3.900625</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Delta Point, Croydon, London, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.3833</span>, <span class="lon">-0.1</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Inverness Airport, Dalcross, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 56.734282295</span>, <span class="lon">-4.09589210432502</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05</span>, <span class="lon">-118.23</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wall Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.707113</span>, <span class="lon">-74.008742</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queensboro Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.757533499999994</span>, <span class="lon">-73.9557415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 56.734282295</span>, <span class="lon">-4.09589210432502</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Carnegie Mellon University   5000 Forbes Avenue, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.44423</span>, <span class="lon">-79.94756</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stansted Airport, Essex, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.887685</span>, <span class="lon">0.2483265</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                550 S Hope St, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04976</span>, <span class="lon">-118.25618</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                George Farmiloe Building   28 36 St John Street, Clerkenwell, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.527098</span>, <span class="lon">-0.104408</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Newark, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7357</span>, <span class="lon">-74.1724</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                One Liberty Plaza, 165 Broadway, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7306</span>, <span class="lon">-73.9866</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Farmiloe Building, 34 St John Street, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.527098</span>, <span class="lon">-0.104408</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Trump Tower   725 Fifth Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76253</span>, <span class="lon">-73.97406</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 30, Sony Pictures Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.02</span>, <span class="lon">-118.4</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cardington Airship Hangars, Bedfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.28478</span>, <span class="lon">-0.760758</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Nottingham, Nottinghamshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.037033</span>, <span class="lon">-0.964665</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Union Station   800 N. Alameda Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150955</span>, <span class="lon">-118.339232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Third Street Tunnel, Bunker Hill, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.92</span>, <span class="lon">-118.42</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                El Camino College   16007 Crenshaw Blvd, Torrance, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.802</span>, <span class="lon">-118.336</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>