<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Dark Knight Rises</h3>
                        <p class="card-text">
                          Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTk4ODQzNDY3Ml5BMl5BanBnXkFtZTcwODA0NTM4Nw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Dark Knight Rises"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Mehrangarh Fort, Jodhpur, Rajasthan, India 
            </td>   
                <td class="table__cell">
                26.2975285, 73.020523
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wollaton Hall, Nottingham, Nottinghamshire, England, UK 
            </td>   
                <td class="table__cell">
                52.946951, -1.188368
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.4417, -79.9901
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Old Royal Naval College, Greenwich, London, England, UK 
            </td>   
                <td class="table__cell">
                51.48305125, -0.006040749999999999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Heinz Field   100 Art Rooney Avenue, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.44753, -80.01634
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chand Baori, Abhaneri, Rajasthan, India 
            </td>   
                <td class="table__cell">
                26.901755, 75.851844
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Osterley Park House, Isleworth, Middlesex, England, UK 
            </td>   
                <td class="table__cell">
                51.4666, -0.3363
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cairngorms National Park, Scotland, UK 
            </td>   
                <td class="table__cell">
                57.290937, -3.900625
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Delta Point, Croydon, London, UK 
            </td>   
                <td class="table__cell">
                51.3833, -0.1
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Inverness Airport, Dalcross, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                56.734282295, -4.09589210432502
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05, -118.23
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wall Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.707113, -74.008742
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Queensboro Bridge, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.757533499999994, -73.9557415
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Scotland, UK 
            </td>   
                <td class="table__cell">
                56.734282295, -4.09589210432502
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carnegie Mellon University   5000 Forbes Avenue, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.44423, -79.94756
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stansted Airport, Essex, England, UK 
            </td>   
                <td class="table__cell">
                51.887685, 0.2483265
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                550 S Hope St, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04976, -118.25618
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                George Farmiloe Building   28 36 St John Street, Clerkenwell, London, England, UK 
            </td>   
                <td class="table__cell">
                51.527098, -0.104408
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Newark, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7357, -74.1724
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                One Liberty Plaza, 165 Broadway, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Farmiloe Building, 34 St John Street, London, England, UK 
            </td>   
                <td class="table__cell">
                51.527098, -0.104408
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trump Tower   725 Fifth Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76253, -73.97406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 30, Sony Pictures Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                34.02, -118.4
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cardington Airship Hangars, Bedfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.28478, -0.760758
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nottingham, Nottinghamshire, England, UK
            </td>   
                <td class="table__cell">
                53.037033, -0.964665
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Union Station   800 N. Alameda Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Third Street Tunnel, Bunker Hill, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                El Camino College   16007 Crenshaw Blvd, Torrance, California, USA 
            </td>   
                <td class="table__cell">
                33.802, -118.336
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>