<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Avengers: Infinity War</h3>
          <p class="card-text mb-0">


  <span > The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.  </span>
                          <span > As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment, the fate of Earth and existence has never been more uncertain. -Marvel Studios.  </span>
                          <span > Now that Earth has put its mark on the universe through the Avengers, all superheroes, including ones from other parts of the Galaxy, must join forces to stop the powerful Thanos from taking all the infinity stones and destroying the universe one planet at a time. -Joshua Chandler.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > The mad titan Thanos (Josh Brolin) begins his hunt for the most powerful objects in the universe, the Infinity Stones, in this movie. With the Space Stone, given by Loki (Tom Hiddleston), and the Power Stone, Thanos sends (Ebony Maw, Cull Obsidian to retrieve the Time Stone from Doctor Strange (Benedict Cumberbatch), sends Proxima Midnight, and Corvus Glaive) to retrieve the Mind Stone from Vision (Paul Bettany). Meanwhile, Tony Stark (Robert Downey, Jr.) meets up with Bruce Banner (Mark Ruffalo) and sorcerers Doctor Strange (Benedict Cumberbatch) and Wong (Benedict Wong). With help from Peter Parker/Spider-Man (Tom Holland), Stark and Strange join forces together and agree to stop Thanos. In space, Thor (Chris Hemsworth) also joins forces with the Guardians of the Galaxy, Star-Lord (Chris Pratt), Drax (Dave Bautista), Rocket (Bradley Cooper), Groot (Vin Diesel), Mantis (Pom Klementieff), and Gamora (Zoe Saldana), the daughter of Thanos who warns Thor of his power. Thor travels away to defeat Thanos with Rocket and Groot, while the other Guardians join forces with Stark, Strange, and Parker. In Wakanda, Steve Rogers (Chris Evans) and his team, Black Widow (Scarlett Johansson), Falcon (Anthony Mackie), Scarlet Witch (Elizabeth Olsen), War Machine (Don Cheadle), and Bruce Banner to protect Vision and the Mind Stone in his forehead. With protection given from King T'Challa/Black Panther (Chadwick Boseman), and his Wakandan army, Thanos will come for everyone to destroy half the universe. -kenamwilliam.  </span>
    <span class="additional-information" > Two years after the Leipzig fight and immediately following the destruction of Asgard, the Avengers and the Guardians of the Galaxy learn that the Mad Titan Thanos is seeking to collect the Infinity Stones, which are said to be the most powerful artifacts in the universe. Facing an enemy too powerful to stop alone, the Avengers and the Guardians, alongside Doctor Strange, Black Panther, and Spider-Man must come together and stop Thanos from inflicting his power and destroying the universe. -Blazer346.  </span>
    <span class="additional-information" > The mad titan Thanos has begun his quest to obtain all six Infinity Stones, which will give him the power to wipe out half of all life in the universe. Earth's mightiest heroes, now with help from the Guardians of the Galaxy, will be tested like never before in their efforts to fight against their most powerful threat to date. -ahmetkozan.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Avengers: Infinity War"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Durham, Durham, England, United Kingdom
            </td>
                <td class="table__cell">
                54.776415199999995, -1.5758539
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cockburn Street, Edinburgh, EH1 1NY, United Kingdom
            </td>
                <td class="table__cell">
                55.950582, -3.189753
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Banaue Rice Terraces, Banaue, Ifugao 3601, Philippines
            </td>
                <td class="table__cell">
                16.955898, 121.08789
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Lençois Maranhenses, Rua mandacaru, São Luís, Maranhão, Brazil
            </td>
                <td class="table__cell">
                -2.499843, -44.250856
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Edinburgh, City Of Edinburgh, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.953345599999984, -3.1883749
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Inverness Castle, 41 Castle St., Inverness, Scotland IV2 3EG, United Kingdom
            </td>
                <td class="table__cell">
                57.4762535, -4.225498
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                St Abb's Head, Eyemouth, Scotland TD14 5QF, United Kingdom
            </td>
                <td class="table__cell">
                55.915688, -2.138515
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Canongate, Edinburgh, EH8 8DD, United Kingdom
            </td>
                <td class="table__cell">
                55.951508, -3.17925
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                461 Sandy Creek Road, Fayetteville, Georgia 30214, United States
            </td>
                <td class="table__cell">
                33.474605, -84.510867
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>
                <td class="table__cell">
                33.7491, -84.3902
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States
            </td>
                <td class="table__cell">
                40.751296, -73.984819
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tallulah Falls, Georgia, United States
            </td>
                <td class="table__cell">
                34.73056, -83.39444
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>
                <td class="table__cell">
                33.7491, -84.3902
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                84 Walton St NW, Atlanta, Georgia 30303, United States
            </td>
                <td class="table__cell">
                33.75632, -84.39082
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>
                <td class="table__cell">
                33.7491, -84.3902
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                103 Forsyth Street Northwest, Atlanta, Georgia 30303, United States
            </td>
                <td class="table__cell">
                33.755987, -84.390267
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.474605, -84.510867], [33.7491, -84.3902], [33.7491, -84.3902]], "data": [{"lat": 54.776415199999995, "lon": -1.5758539, "name": "Durham, Durham, England, United Kingdom"}, {"lat": 55.950582, "lon": -3.189753, "name": "Cockburn Street, Edinburgh, EH1 1NY, United Kingdom"}, {"lat": 16.955898, "lon": 121.08789, "name": "Banaue Rice Terraces, Banaue, Ifugao 3601, Philippines"}, {"lat": -2.499843, "lon": -44.250856, "name": "Len\u00e7ois Maranhenses, Rua mandacaru, S\u00e3o Lu\u00eds, Maranh\u00e3o, Brazil"}, {"lat": 55.953345599999984, "lon": -3.1883749, "name": "Edinburgh, City Of Edinburgh, Scotland, United Kingdom"}, {"lat": 57.4762535, "lon": -4.225498, "name": "Inverness Castle, 41 Castle St., Inverness, Scotland IV2 3EG, United Kingdom"}, {"lat": 55.915688, "lon": -2.138515, "name": "St Abb\u0027s Head, Eyemouth, Scotland TD14 5QF, United Kingdom"}, {"lat": 55.951508, "lon": -3.17925, "name": "Canongate, Edinburgh, EH8 8DD, United Kingdom"}, {"lat": 33.474605, "lon": -84.510867, "name": "461 Sandy Creek Road, Fayetteville, Georgia 30214, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 34.73056, "lon": -83.39444, "name": "Tallulah Falls, Georgia, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 33.75632, "lon": -84.39082, "name": "84 Walton St NW, Atlanta, Georgia 30303, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 33.755987, "lon": -84.390267, "name": "103 Forsyth Street Northwest, Atlanta, Georgia 30303, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>