<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Avengers: Infinity War</h3>
                        <p class="card-text">
                          The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Avengers: Infinity War"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Durham Cathedral, The College, Durham, County Durham, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.776415199999995</span>, <span class="lon">-1.5758539</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cockburn Street, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.950582</span>, <span class="lon">-3.189753</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Banaue Rice Terraces, Ifugao, Philippines 
            </td>   
                <td class="table__cell">
                <span class="lat"> 16.955898</span>, <span class="lon">121.08789</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lençóis Maranhenses National Park, Maranhao, Brazil 
            </td>   
                <td class="table__cell">
                <span class="lat"> -2.499843</span>, <span class="lon">-44.250856</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Waverly Train Station, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.953345599999984</span>, <span class="lon">-3.1883749</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Inverness Castle, Scotland, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 57.4762535</span>, <span class="lon">-4.225498</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St Abbs Head, Berwickshire, Scotland, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.915688</span>, <span class="lon">-2.138515</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Royal Mile, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.951508</span>, <span class="lon">-3.17925</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pinewood Atlanta Studios   461 Sandy Creek Road, Fayetteville, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.474605</span>, <span class="lon">-84.510867</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Atlanta, Georgia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7491</span>, <span class="lon">-84.3902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tallulah Gorge, Tallulah Falls, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.73056</span>, <span class="lon">-83.39444</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Piedmont Park, 1071 Piedmont Ave NE, Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7491</span>, <span class="lon">-84.3902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                84, Walton Street NW, Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.75632</span>, <span class="lon">-84.39082</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Woodruff Park, Peachtree St NE, Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7491</span>, <span class="lon">-84.3902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                103 Forsyth St NW, Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.756371</span>, <span class="lon">-84.389724</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>