<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">City of God</h3>
          <p class="card-text mb-0">


  <span > In the slums of Rio, two kids' paths diverge as one struggles to become a photographer and the other a kingpin.  </span>
                          <span > Brazil, 1960s, City of God. The Tender Trio robs motels and gas trucks. Younger kids watch and learn well...too well. 1970s: Li'l Zé has prospered very well and owns the city. He causes violence and fear as he wipes out rival gangs without mercy. His best friend Bené is the only one to keep him on the good side of sanity. Rocket has watched these two gain power for years, and he wants no part of it. he keeps getting swept up in the madness. All he wants to do is take pictures. 1980s: Things are out of control between the last two remaining gangs...will it ever end? Welcome to the City of God. -Jeff Mellinger .  </span>
                          <span > During their childhood, several children raised in one of the violent neighborhoods of Rio de Janeiro see galling and nettlesome behaviors that turn some into criminals and some into poltroons; while one photographer boy in the middle stays out of their informal war until it's finished and then narrates the complicated story of what happened in that neighborhood and the ascending process of crime between men who were once innocent children. -J. S. Golden.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Set in a notorious slum of Rio - Cidade de Deus / City of God - the story of a boy who sees his friends and brother grow up or aspire to be gangsters, and decides to do something else. Meanwhile we also see the power struggles in the neighbourhood, how they developed, who the main protagonists are and the state of their feud. -grantss.  </span>
    <span class="additional-information" > City of God is based on a semiautobiographical novel with the same name originally published in 1997. It takes place in the '60s where in the slums of Rio de Janeiro two boys growing up in the neighborhood take on different paths in life. The story is told through the eyes of Buscape, a poor young fisherman's son who dreams of becoming a photographer one day. His story narrates the violence and corruption surrounding the city and the rise and fall of one of the city's most notorious bosses, Li'l Ze. As war wages on the streets Buscape's only way out of this violent life is to expose its brutality to the world through his pictures. Along the way the lives of others are put into perspective as their stories intersect with the events that take place. -Hax9 - Hax_9@hotmail.com.  </span>
    <span class="additional-information" > Set in a lawless slum in Rio de Janeiro, "City of God" tells the story of Rocket, an aspiring photographer looking for his big break so he can leave the treacherous area once and for all. The movie chronicles Rocket's life as a young boy as he deals with his law bending brother and his gang, all the way to his teen years as a pseudo hippie. As the crime level soars in brutality, Rocket begins to realize his niche as a photographer is his only means of staying honest. With a psychopathic thug named "Lil Ze" looking to take over the slum, Rocket's career will take him on his most dangerous task of all. -Vince M.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTMwYjc5ZmItYTFjZC00ZGQ3LTlkNTMtMjZiNTZlMWQzNzI5XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="City of God"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rua De Janeiro, São Cristóvão, Rio De Janeiro - Rio de Janeiro, 20940, Brazil </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">-22.903994</span>, <span class="lon">-43.217969</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cidade De Deus, 22773, Rio De Janeiro, Rio de Janeiro, Brazil </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">-22.948</span>, <span class="lon">-43.3629</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": -22.903994, "lon": -43.217969, "name": "Rua De Janeiro, S\u00e3o Crist\u00f3v\u00e3o, Rio De Janeiro - Rio de Janeiro, 20940, Brazil"}, {"lat": -22.948, "lon": -43.3629, "name": "Cidade De Deus, 22773, Rio De Janeiro, Rio de Janeiro, Brazil"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>