<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Lion King</h3>
          <p class="card-text mb-0">


  <span > Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.  </span>
                          <span > A young lion prince is cast out of his pride by his cruel uncle, who claims he killed his father. While the uncle rules with an iron paw, the prince grows up beyond the Savannah, living by a philosophy: No worries for the rest of your days. But when his past comes to haunt him, the young prince must decide his fate: Will he remain an outcast or face his demons and become what he needs to be? -femaledragon1234.  </span>
                          <span > This Disney animated feature follows the adventures of the young lion Simba, the heir of his father, Mufasa. Simba's wicked uncle, Scar, plots to usurp Mufasa's throne by luring father and son into a stampede of wildebeests. But Simba escapes, and only Mufasa is killed. Simba returns as an adult to take back his homeland from Scar with the help of his friends Timon and Pumbaa. -Jwelch5742.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > After being anointed as the next king of the jungle, young lion cub Simba is every bit as eager to take his proud father Mufasa's place as the king. However, this makes Simba's villainous uncle Scar jealous of him. But when Mufasa is suddenly murdered by Scar, Simba feels responsible for his death and runs away from home. Meeting up with two outcasts named Timon and Pumbaa, Simba embraces their ways of 'Hakuna Matata'. Years later, approached by his childhood friend Nala and the wise baboon Rafiki, Simba must return home to stop Scar's evil reign and fulfill his destiny as the new king. -Blazer346.  </span>
    <span class="additional-information" > The Lion King is a Disney property acclaimed as the Jewel of Animation. Having a great plot, funny and captivating characters and the most celebrated soundtrack in a kid's film, only compared to the likes of Frozen. The plot is elementary and straightforward, a young lion cub who cannot wait to be claimed King of the Pride Rocks finds himself in a life changing situation, when his Machiavellian and envious uncle conspires, alongside the hyenas, to overtake the kingdom and establish a dictatorship. Acquiring the advice from his old counselors (Zazu and Rafiki), the help from his new friends, Timone and Pumbaa, and the unexpected warning of a familiar face, whilst discovering the paths of love through his childhood girlfriend Nala, Simba will unshackle the Savanna from the reign of terror of Scar and returning the natural order to the Circle of Life. -Anonymous.  </span>
    <span class="additional-information" > A young lion prince is born in Africa, thus making his uncle Scar the second in line to the throne. Scar plots with the hyenas to kill King Mufasa and Prince Simba, thus making himself King. The King is killed and Simba is led to believe by Scar that it was his fault, and so flees the kingdom in shame. After years of exile he is persuaded to return home to overthrow the usurper and claim the kingdom as his own thus completing the "Circle of Life". -King of Hearts .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTYxNGMyZTYtMjE3MS00MzNjLWFjNmYtMDk3N2FmM2JiM2M1XkEyXkFqcGdeQXVyNjY5NDU4NzI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Lion King"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">500 S Buena Vista St, Burbank, California 91521, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.19026</span>, <span class="lon">-118.30795</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Riverside, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.9534</span>, <span class="lon">-117.3962</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">500 South Buena Vista Street, Hemet, California 92543, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.7403</span>, <span class="lon">-116.967278</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 34.19026, "lon": -118.30795, "name": "500 S Buena Vista St, Burbank, California 91521, United States"}, {"lat": 33.9534, "lon": -117.3962, "name": "Riverside, California, United States"}, {"lat": 33.7403, "lon": -116.967278, "name": "500 South Buena Vista Street, Hemet, California 92543, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>