<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Ben-Hur</h3>
                        <p class="card-text">
                          After a Jewish prince is betrayed and sent into slavery by a Roman friend in 1st-century Jerusalem, he regains his freedom and comes back for revenge.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjgxY2JiZDYtZmMwOC00ZmJjLWJmODUtMTNmNWNmYWI5ODkwL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Ben-Hur"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Corner of Via di Salone and Via delle Case Rosse, Salone Caves, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.92883</span>, <span class="lon">12.6382925</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Anzio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.493228</span>, <span class="lon">12.615393</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canale Monterano, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.13333</span>, <span class="lon">12.1</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Frosinone, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.6188768575</span>, <span class="lon">13.318966225</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Durango, Mexico 
            </td>   
                <td class="table__cell">
                <span class="lat"> 23.911273</span>, <span class="lon">-104.919807</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Metro Goldwyn Mayer Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.017275</span>, <span class="lon">-118.402347</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 5, Cinecittà Studios, Cinecittà, Rome, Lazio, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.851995</span>, <span class="lon">12.576729</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cinecittà Studios, Cinecittà, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.852854</span>, <span class="lon">12.575212</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Arcinazzo Romano, Frosinone, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.962069</span>, <span class="lon">12.653132</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fogliano, Latina, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.396864</span>, <span class="lon">12.915584</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>