<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Sixth Sense</h3>
                        <p class="card-text">
                          A frightened, withdrawn Philadelphia boy who communicates with spirits seeks the help of a disheartened child psychologist. Malcom Crowe (Bruce Willis) is a child psychologist who receives an award on the same night that he is visited by a very unhappy ex-patient. After this encounter, Crowe takes on the task of curing a young boy with the same ills as the ex-patient (Donnie Wahlberg) . This boy "sees dead people". Crowe spends a lot of time with the boy much to the dismay of his wife (Olivia Williams). Cole's mom (Toni Collette) is at her wit's end with what to do about her son's increasing problems. Crowe is the boy's only hope.::Jeff Mellinger <jmell@uclink4.berkeley.edu> To wipe the slate clean and get a chance to redeem himself after that soul-scarring incident one year ago, the Philadelphia child psychologist, Dr Malcolm Crowe, decides to take on his first new case--the profoundly troubled eight-year-old boy, Cole Sear. Exhibiting the same symptoms like one of his former patients, Cole goes one step further by solemnly claiming he has the gift, or curse, of a rare and unwelcome sixth sense; the mysterious ability to see the dreadful and unquiet spectres of the deceased who linger in this earth. However, can a slowly-recovering sceptic believe, let alone, heal, a desperate soul crying for help? And, what if Cole's disturbingly recurring apparitions are not figments of an injured fantasy, but an irrefutable reality?::Nick Riganas Child psychologist Malcom Crowe (Bruce Willis)is one night visited by an ex-patient named Vincent Grey (Donnie Wahlberg) who is not just angry, but enraged. He wounds Crowe, then kills himself. A few months later Crowe is visited by a 9-year old boy named Cole (Haley Joel Osment). He sees dead people who do not know they are dead. Because of this, he is called a freak in school. Crowe, at first thinks he is seeing things, but after spending a lot of time with Cole (much to his wife's (Olivia Williams) dismay), he discovers Cole may be seeing dead people after all.::neo101 Child psychiatrist Malcolm Crowe (Bruce Willis) is confronted one night by his former patient Vincent Gray (Donnie Wahlberg) who he failed to help. After Vincent shoots Crowe in the stomach and kills himself, Crowe can't stop thinking about it. A few months later he is hired to help a troubled boy named Cole Sear (Haley Joel Osment), who has many of the same problems Vincent had. Crowe sees a chance to redeem himself, but doubts his ability to reach the boy, particularly when Cole claims to see ghosts who don't know they're dead.::rmlohner
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMWM4NTFhYjctNzUyNi00NGMwLTk3NTYtMDIyNTZmMzRlYmQyXkEyXkFqcGdeQXVyMTAwMzUyOTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Sixth Sense"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Philadelphia, Pennsylvania, United States
            </td>   
                <td class="table__cell">
                40.0115, -75.1327
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Philadelphia, Pennsylvania, United States
            </td>   
                <td class="table__cell">
                40.0115, -75.1327
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Saint Augustine, Pennsylvania, United States
            </td>   
                <td class="table__cell">
                40.6131, -78.5784
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blue Bell, Pennsylvania, United States
            </td>   
                <td class="table__cell">
                40.1523, -75.2663
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bryn Mawr, Pennsylvania, United States
            </td>   
                <td class="table__cell">
                40.03, -75.34
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                446 East 47th Street, Chicago, Illinois 60653, United States
            </td>   
                <td class="table__cell">
                41.809625, -87.6144
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pennsylvania, United States
            </td>   
                <td class="table__cell">
                41.0911397651, -78.2907462468837
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[40.0115, -75.1327], [40.0115, -75.1327], [40.03, -75.34]], "data": [{"lat": 40.0115, "lon": -75.1327, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 40.0115, "lon": -75.1327, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 40.6131, "lon": -78.5784, "name": "Saint Augustine, Pennsylvania, United States"}, {"lat": 40.1523, "lon": -75.2663, "name": "Blue Bell, Pennsylvania, United States"}, {"lat": 40.03, "lon": -75.34, "name": "Bryn Mawr, Pennsylvania, United States"}, {"lat": 41.809625, "lon": -87.6144, "name": "446 East 47th Street, Chicago, Illinois 60653, United States"}, {"lat": 41.0911397651, "lon": -78.2907462468837, "name": "Pennsylvania, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>