<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Inside Out</h3>
          <p class="card-text mb-0">


  <span > After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.  </span>
                          <span > Growing up can be a bumpy road, and it's no exception for Riley, who is uprooted from her Midwest life when her father starts a new job in San Francisco. Like all of us, Riley is guided by her emotions - Joy, Fear, Anger, Disgust and Sadness. The emotions live in Headquarters, the control center inside Riley's mind, where they help advise her through everyday life. As Riley and her emotions struggle to adjust to a new life in San Francisco, turmoil ensues in Headquarters. Although Joy, Riley's main and most important emotion, tries to keep things positive, the emotions conflict on how best to navigate a new city, house and school. -Pixar.  </span>
                          <span > When a young girl named Riley is uprooted from her Midwestern lifestyle and moves to the busy and chaotic San Francisco, her emotions; Anger, Sadness, Disgust, Fear, and (her most important emotion) Joy, start to disagree on how to deal with this dramatic change, which causes problems up in Headquarters, the central living and working place for the five emotions. But, an accident involving Riley's happy memories changes her entire outlook. Joy and Sadness need to find her memories and return them to Headquarters before it's too late.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > All of us have various brain functions that govern our response to various situations. The functions responsible for Happiness, Sadness, Fear, Anger and Disgust are characterized and the details of the activities they do to run the life of a young girl Riley right from her birth is what drives the story. When a sudden change in the life of Riley upsets their rhythm, they try to control the situation too much, which creates more confusion for her. Their adventures in an attempt to restore normalcy is what forms the crux of this movie. -PipingHotViews .  </span>
    <span class="additional-information" > Emotions run wild in the mind of a little girl who is uprooted from her peaceful life in the Midwest and forced to move to San Francisco in this Pixar adventure from director Pete Docter (Up, Monsters Inc.). Young Riley was perfectly content with her life when her father landed a new job in San Francisco, and the family moved across the country. Now, as Riley prepares to navigate a new city and attend a new school, her emotional headquarters becomes a hot bed of activity. As Joy (voice of Amy Poehler) attempts to keep Riley feeling happy and positive about the move, other emotions like Fear (voice of Bill Hader), Anger (voice of Lewis Black), Disgust (voice of Mindy Kaling) and Sadness (Phyllis Smith) make the transition a bit more complicated.  </span>
    <span class="additional-information" > Out of the blue, the cheerful eleven-year-old Minnesota girl and hockey aficionado, Riley, finds her world turn upside down, when her parents decide to make a fresh start in San Francisco. As a result, with Riley struggling to cope with the new reality, her young mind's emotional headquarters--where the fundamental feelings of Joy, Sadness, Anger, Disgust, and Fear reside--are forced to work double time. Now, as the situation spirals out of control, and desperate Joy tries her best to troubleshoot the unprecedented problem, something starts to happen in Riley's core memory sector. Will things get back to normal? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Inside Out"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1200 Park Avenue, San Jacinto, California 92583, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.763345</span>, <span class="lon">-116.941164</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">500 South Buena Vista Street, Hemet, California 92543, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.7403</span>, <span class="lon">-116.967278</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 33.763345, "lon": -116.941164, "name": "1200 Park Avenue, San Jacinto, California 92583, United States"}, {"lat": 33.7403, "lon": -116.967278, "name": "500 South Buena Vista Street, Hemet, California 92543, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>