<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">No Country for Old Men</h3>
          <p class="card-text mb-0">


  <span > Violence and mayhem ensue after a hunter stumbles upon a drug deal gone wrong and more than two million dollars in cash near the Rio Grande.  </span>
                          <span > In rural Texas, welder and hunter Llewelyn Moss (Josh Brolin) discovers the remains of several drug runners who have all killed each other in an exchange gone violently wrong. Rather than report the discovery to the police, Moss decides to simply take the two million dollars present for himself. This puts the psychopathic killer, Anton Chigurh (Javier Bardem), on his trail as he dispassionately murders nearly every rival, bystander and even employer in his pursuit of his quarry and the money. As Moss desperately attempts to keep one step ahead, the blood from this hunt begins to flow behind him with relentlessly growing intensity as Chigurh closes in. Meanwhile, the laconic Sheriff Ed Tom Bell (Tommy Lee Jones) blithely oversees the investigation even as he struggles to face the sheer enormity of the crimes he is attempting to thwart. -Kenneth Chisholm (kchishol@rogers.com).  </span>
                          <span > 1980, West Texas. While out hunting down by the US-Mexico border, good ol' Texas boy Llewelyn Moss, a welder by day who lives in a trailer park in Sanderson with his wife Carla Jean, comes across what is a drug deal gone wrong. What he finds are all the players left at the scene dead or near death and a satchel filled with $2 million which he takes, despite knowing that someone will be looking for the money and is probably willing to kill for it. As such, he not only tries to protect himself in the process of trying to find out who will be after the money, but also Carla Jean by sending her away. A person hired to retrieve the money is Anton Chigurh, who indeed will kill anyone, including innocent bystanders, necessary to get to his end goal, with a high pressure air pistol his weapon of choice especially as it leaves no bullet as evidence. Chigurh, in deciding who should live or die in his day to day life, also uses his own psychopathic set of principles. Chirgurh quickly learns that Moss has the money and is on the run. Also on both their trails is Terrell County Sheriff Ed Tom Bell and his naive deputy Wendell. Bell, a third generation sheriff, has of late contemplated his professional future solely because of the notion that he and his like have not been able to do anything to control the increasing violence of the region. Bell finds evidence that Moss has the money and that someone, who has left a trail of carnage behind him, is after Moss and the money. As such, Bell tries to find Moss solely to protect him from whoever is after him. One other person added to the mix is Carson Wells, hired by the same person that hired Chigurh also to retrieve the money, as their employer feels that Chigurh has gotten out of control. Wells knows Chigurh well and knows that he will not take too kindly to anyone else brought in on his job. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > In the desert of Rio Grande, a drug deal goes wrong and Llewellyn Moss, the welder, finds 2 million dollars in a box. He keeps the money for himself but an unemotional psychopathic killer Chigurh chases him. He kills everyone that comes in front of him to get the welder, using a unique weapon of his own. By this time the elderly sheriff Ed Tom tries to go through and to as deed as possible of the matter.  </span>
    <span class="additional-information" > After stumbling across a case of money among dead bodies, Llewelyn Moss (Josh Brolin) thinks he can keep it quiet, but when silent killer Anton Chigurh (Javier Bardem) locates Moss and his money, Vietnam veteran Moss makes a run for it. With bodies falling everywhere Anton goes, it's only a matter of time before he catches up with Llewelyn. Whilst all this is going on, Sheriff Ed Tom Bell (Tommy Lee Jones) is overseeing the investigation and begins to see the country in a different light than it once was. -FilmFanUk.  </span>
    <span class="additional-information" > After he finds $2 million in the desert where a drug deal has apparently gone wrong, working man Llewelyn Moss (Josh Brolin) finds himself on the run. His pursuer is Anton Chigurh (Javier Bardem), an unemotional killer with a unique murder weapon at his disposal. Throughout, soon to be retired Sheriff Ed Tom Bell (Tommy Lee Jones) attempts to convince Moss, mostly through his wife Carla Jean, that he should turn the money over to the authorities or this could all end in tragedy. -garykmcd.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjA5Njk3MjM4OV5BMl5BanBnXkFtZTcwMTc5MTE1MQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="No Country for Old Men"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marfa, Texas, United States
            </td>
                <td class="table__cell">
                30.3135, -104.0217
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                5000 Central Avenue Southeast, Albuquerque, New Mexico 87108, United States
            </td>
                <td class="table__cell">
                35.07746, -106.588815
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Big Bend National Park, Panther Junction, Alpine, Texas 79834, United States
            </td>
                <td class="table__cell">
                29.328017, -103.205981
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1152 Grand Avenue, Las Vegas, New Mexico 87701, United States
            </td>
                <td class="table__cell">
                35.60406, -105.2114
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Las Vegas, New Mexico, United States
            </td>
                <td class="table__cell">
                35.5939, -105.2239
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Fe, New Mexico, United States
            </td>
                <td class="table__cell">
                35.687, -105.9378
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1809 North Grand Avenue, Las Vegas, New Mexico 87701, United States
            </td>
                <td class="table__cell">
                35.611702, -105.209552
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Albuquerque, New Mexico, United States
            </td>
                <td class="table__cell">
                35.0841, -106.651
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Las Vegas, New Mexico, United States
            </td>
                <td class="table__cell">
                35.5939, -105.2239
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Piedras Negras, Coahuila, Mexico
            </td>
                <td class="table__cell">
                28.72222, -100.56806
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1600 Saint Michaels Drive, Santa Fe, New Mexico 87505, United States
            </td>
                <td class="table__cell">
                35.6572, -105.978916
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[35.5939, -105.2239], [35.5939, -105.2239], [35.60406, -105.2114]], "data": [{"lat": 30.3135, "lon": -104.0217, "name": "Marfa, Texas, United States"}, {"lat": 35.07746, "lon": -106.588815, "name": "5000 Central Avenue Southeast, Albuquerque, New Mexico 87108, United States"}, {"lat": 29.328017, "lon": -103.205981, "name": "Big Bend National Park, Panther Junction, Alpine, Texas 79834, United States"}, {"lat": 35.60406, "lon": -105.2114, "name": "1152 Grand Avenue, Las Vegas, New Mexico 87701, United States"}, {"lat": 35.5939, "lon": -105.2239, "name": "Las Vegas, New Mexico, United States"}, {"lat": 35.687, "lon": -105.9378, "name": "Santa Fe, New Mexico, United States"}, {"lat": 35.611702, "lon": -105.209552, "name": "1809 North Grand Avenue, Las Vegas, New Mexico 87701, United States"}, {"lat": 35.0841, "lon": -106.651, "name": "Albuquerque, New Mexico, United States"}, {"lat": 35.5939, "lon": -105.2239, "name": "Las Vegas, New Mexico, United States"}, {"lat": 28.72222, "lon": -100.56806, "name": "Piedras Negras, Coahuila, Mexico"}, {"lat": 35.6572, "lon": -105.978916, "name": "1600 Saint Michaels Drive, Santa Fe, New Mexico 87505, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>