<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Thing</h3>
          <p class="card-text mb-0">


  <span > A research team in Antarctica is hunted by a shape-shifting alien that assumes the appearance of its victims.  </span>
                          <span > A US research station, Antarctica, early-winter 1982. The base is suddenly buzzed by a helicopter from the nearby Norwegian research station. They are trying to kill a dog that has escaped from their base. After the destruction of the Norwegian chopper the members of the US team fly to the Norwegian base, only to discover them all dead or missing. They do find the remains of a strange creature the Norwegians burned. The Americans take it to their base and deduce that it is an alien life form. After a while it is apparent that the alien can take over and assimilate into other life forms, including humans, and can spread like a virus. This means that anyone at the base could be inhabited by The Thing, and tensions escalate. -grantss.  </span>
                          <span > During an exploration in Antarctica, a group of researchers come across a Norwegian facility near their research station. They soon come to realize Something horrible happened there. After discovering that the Norwegians had stumbled across something horrific; they leave, but something comes back with them.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > An American scientific expedition to the frozen wastes of the Antarctic is interrupted by a group of seemingly mad Norwegians pursuing and shooting a dog. The helicopter pursuing the dog explodes, eventually leaving no explanation for the chase. During the night, the dog mutates and attacks other dogs in the cage and members of the team that investigate. The team soon realizes that an alien life-form with the ability to take over other bodies is on the loose and they don't know who may already have been taken over. -Goth .  </span>
    <span class="additional-information" > In the midst of the Antartican snowfield, the scientists and workers of a small American research base are shocked when a helicopter begins to circle their camp, chasing and shooting at a dog. When the helicopter is destroyed and the passengers are killed, the dog is let into the base and the Americans begin to wonder what has actually happened. The helicopter has Norwegian markings, must be from the Norwegian base not too far from their own. A team of Americans are sent to the Norwegian base and find out what has happened. On arrival, they find that the place has been totally destroyed. They also discover a mangled body that looks as though it was once that of a person, which they bring back with them for further study. It is only then that the clues begin to add up; the dog morphs horribly into a strange creature that attacks the researchers. They manage to fight it off, but they come to a terrible conclusion: an alien with the power to transform and take the appearance of anybody else is amongst them. Who is infected already, and who can be trusted? Helicopter pilot R.J. MacReady sets out to find the answers to exactly that. -Tomius J. Barnard.  </span>
    <span class="additional-information" > Members of an American scientific research outpost in Antarctica find themselves battling a parasitic alien organism capable of perfectly imitating its victims. They soon discover that this task will be harder than they thought, as they don't know which members of the team have already been assimilated and their paranoia threatens to tear them apart. -Denny Gibbons.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGViZWZmM2EtNGYzZi00ZDAyLTk3ODMtNzIyZTBjN2Y1NmM1XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Thing"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Juneau, Alaska, United States
            </td>
                <td class="table__cell">
                58.3019, -134.4197
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kimberley, British Columbia, Canada
            </td>
                <td class="table__cell">
                49.685088, -115.981948
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Stewart, British Columbia, Canada
            </td>
                <td class="table__cell">
                55.938309, -129.991176
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                British Columbia, Canada
            </td>
                <td class="table__cell">
                55.1712152811, -125.022796545935
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tongass National Forest, Juneau, Alaska 99801, United States
            </td>
                <td class="table__cell">
                58.400557, -134.556855
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Universal City Plz, Los Angeles, California 91608, United States
            </td>
                <td class="table__cell">
                34.14138, -118.35659
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Salmo, British Columbia, Canada
            </td>
                <td class="table__cell">
                49.193443, -117.278705
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hyder, Alaska, United States
            </td>
                <td class="table__cell">
                55.848181, -130.29301
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Universal City, Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.1389, -118.3534
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Alaska, United States
            </td>
                <td class="table__cell">
                64.6358675746, -153.180996665583
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.0544, -118.2439], [34.1389, -118.3534], [34.14138, -118.35659]], "data": [{"lat": 58.3019, "lon": -134.4197, "name": "Juneau, Alaska, United States"}, {"lat": 49.685088, "lon": -115.981948, "name": "Kimberley, British Columbia, Canada"}, {"lat": 55.938309, "lon": -129.991176, "name": "Stewart, British Columbia, Canada"}, {"lat": 55.1712152811, "lon": -125.022796545935, "name": "British Columbia, Canada"}, {"lat": 58.400557, "lon": -134.556855, "name": "Tongass National Forest, Juneau, Alaska 99801, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 49.193443, "lon": -117.278705, "name": "Salmo, British Columbia, Canada"}, {"lat": 55.848181, "lon": -130.29301, "name": "Hyder, Alaska, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.1389, "lon": -118.3534, "name": "Universal City, Los Angeles, California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 64.6358675746, "lon": -153.180996665583, "name": "Alaska, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>