<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">North by Northwest</h3>
                        <p class="card-text">
                          A New York City advertising executive goes on the run after being mistaken for a government agent by a group of foreign spies, and falls for a woman whose loyalties he begins to doubt.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDA3NDExMTUtMDlhOC00MmQ5LWExZGUtYmI1NGVlZWI4OWNiXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="North by Northwest"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Garces Highway 1/10th mile East from Corcoran Road and Kern National Wildlife Preserve, Kern County, California, USA 
            </td>   
                <td class="table__cell">
                35.34, -118.72
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Old Westbury Gardens   71 Old Westbury Road, Old Westbury, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                40.7887, -73.5996
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Metro Goldwyn Mayer Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                34.017275, -118.402347
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Southern Pacific Railroad Tunnel between Santa Susana & Chatsworth, California, USA 
            </td>   
                <td class="table__cell">
                34.2622, -118.6737
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mount Rushmore National Memorial   Highway 244, Keystone, South Dakota, USA 
            </td>   
                <td class="table__cell">
                43.876769249999995, -103.4554875
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Midway Airport, Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.786872, -87.747394
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Plaza Hotel   750 Fifth Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.763515, -73.97358
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Omni Ambassador East Hotel   1301 N. State Parkway, Near North Side, Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.90607, -87.628347
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Old Westbury Gardens   71 Old Westbury Road, Old Westbury, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.7887, -73.5996
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Potrero Valley, Thousand Oaks, California, USA 
            </td>   
                <td class="table__cell">
                34.1507, -118.9535
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United Nations   First Avenue at 46th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7903, -73.9597
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glen Cove, Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.8623, -73.6337
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Grand Central Station, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.75246725, -73.977362
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                LaSalle Street Station   141 W. Van Buren Street, Downtown, Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Park Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.80436, -73.93893
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                650 Madison Avenue, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76426, -73.97106
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fifth Avenue, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.750144, -73.983532
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Near North Side, Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.9, -87.63
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bakersfield, California, USA
            </td>   
                <td class="table__cell">
                35.3739, -119.0195
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Island, New York, USA
            </td>   
                <td class="table__cell">
                40.583986, -73.686923
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Illinois, USA
            </td>   
                <td class="table__cell">
                40.1492928594, -89.2749461071049
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, USA
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Chicago, Illinois, USA
            </td>   
                <td class="table__cell">
                41.891212, -87.622842
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>