<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">North by Northwest</h3>
          <p class="card-text mb-0">


  <span > A New York City advertising executive goes on the run after being mistaken for a government agent by a group of foreign spies, and falls for a woman whose loyalties he begins to doubt.  </span>
                          <span > Madison Avenue advertising man Roger Thornhill finds himself thrust into the world of spies when he is mistaken for a man by the name of George Kaplan. Foreign spy Philip Vandamm and his henchman Leonard try to eliminate him but when Thornhill tries to make sense of the case, he is framed for murder. Now on the run from the police, he manages to board the 20th Century Limited bound for Chicago where he meets a beautiful blond, Eve Kendall, who helps him to evade the authorities. His world is turned upside down yet again when he learns that Eve isn't the innocent bystander he thought she was. Not all is as it seems however, leading to a dramatic rescue and escape at the top of Mt. Rushmore. -garykmcd.  </span>
                          <span > Manhattan advertising executive Roger Thornhill is already having a hectic day with a jammed packed schedule for its remainder. That schedule takes a turn when he is detained during a business lunch by two men he doesn't know who proceed to kidnap him. Unsure why anyone would want to kidnap him, he discovers the man behind the kidnapping, a Lester Townsend, believes him to be someone named George Kaplan. Townsend wants information from Kaplan, but is prepared to kill Kaplan with or without that information, Kaplan's death meant to look like an accident or suicide. Thornhill is eventually able to escape from his captors. While he does connect with the authorities who do not believe his story, Thornhill subsequently has to go on the run as he becomes implicated in a murder connected to he being Kaplan. As such, Thornhill has to find out what's going on on his own with whatever information he has on hand, most of it gleaned during his captivity: he being able to identify Townsend, his wife, their housekeeper, and three of the thugs working for Townsend; the address of Townsend's mansion where he was being held captive; and Kaplan's recent whereabouts and future movements in what seems to be some tour of the United States, those next two locations being Chicago, Illinois and Rapid City, South Dakota. In his travels in evading both Townsend's people and the authorities, Thornhill gets some willing assistance from a beautiful young blonde woman he meets, industrial designer Eve Kendall, whose help is despite she knowing who he is from the newspaper reports of him being wanted for murder. They eventually fall for each other. She, however, may have some undisclosed ulterior motive for helping him. All the while, Kaplan's people have been and are continuing to watch the proceedings from the sidelines, what they deciding to do largely to protect "Kaplan" from being discovered by "Townsend". -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Middle-aged Madison Avenue advertising executive Roger O. Thornhill is mistaken for a government agent by a gang of spies. He gets involved in a series of misadventures and is pursued across the States by both the spies and the government while being helped by a beautiful blonde. -Col Needham .  </span>
    <span class="additional-information" > New York City advertising executive Roger Thornhill is kidnapped by a gang of spies led by Philip Vandamm, who believe Thornhill is C.I.A. Agent George Kaplan. Thornhill escapes, but must find Kaplan in order to clear himself of a murder it is believed he committed. Following Kaplan to Chicago as a fugitive from justice, Thornhill is helped by beautiful Eve Kendall. In Chicago, she delivers a message to Kaplan that almost costs Thornhill his life when he is chased across a cornfield by a crop-dusting plane. -filmfactsman.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDA3NDExMTUtMDlhOC00MmQ5LWExZGUtYmI1NGVlZWI4OWNiXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="North by Northwest"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Kern County, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.34</span>, <span class="lon">-118.72</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Old Westbury, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7887</span>, <span class="lon">-73.5996</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">10202 West Washington Boulevard, Culver City, California 90232, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.017275</span>, <span class="lon">-118.402347</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Susana, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2622</span>, <span class="lon">-118.6737</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mount Rushmore National Memorial, 13000 SD Highway 244, Keystone, South Dakota 57751, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.876769249999995</span>, <span class="lon">-103.4554875</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chicago Midway International Airport (MDW), 5700 S Cicero Ave, Chicago, Illinois 60638, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.786872</span>, <span class="lon">-87.747394</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1301 North State Parkway, Chicago, Illinois 60610, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.90607</span>, <span class="lon">-87.628347</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">750 5th Avenue, New York, New York 10065, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.763515</span>, <span class="lon">-73.97358</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Old Westbury, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7887</span>, <span class="lon">-73.5996</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Potrero Valley, Westlake Village, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1507</span>, <span class="lon">-118.9535</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Manhattan, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7903</span>, <span class="lon">-73.9597</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Glen Cove, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.8623</span>, <span class="lon">-73.6337</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Grand Central Terminal, 87 E 42nd St, New York, New York 10017, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.75246725</span>, <span class="lon">-73.977362</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chicago, Illinois, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.8756</span>, <span class="lon">-87.6244</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chicago, Illinois, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.8756</span>, <span class="lon">-87.6244</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Park Avenue, New York, New York 10457, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.80436</span>, <span class="lon">-73.93893</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">650 Madison Ave, Manhattan, New York 10022, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.76426</span>, <span class="lon">-73.97106</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">The Langham, 400 5th Ave, New York, New York 10018, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.750144</span>, <span class="lon">-73.983532</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Near North Side, Chicago, Illinois, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.9</span>, <span class="lon">-87.63</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bakersfield, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.3739</span>, <span class="lon">-119.0195</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.68917359673309</span>, <span class="lon">-73.9826731487689</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Overlook at the Beach, Long Beach, New York 11561, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.583986</span>, <span class="lon">-73.686923</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Illinois, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.1492928594</span>, <span class="lon">-89.2749461071049</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">New York, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">CTCA Outpatient Care Center, 160 E Illinois St, Chicago, Illinois 60611, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.891212</span>, <span class="lon">-87.622842</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.017275, -118.402347], [34.0544, -118.2439], [34.1507, -118.9535]], "data": [{"lat": 35.34, "lon": -118.72, "name": "Kern County, California, United States"}, {"lat": 40.7887, "lon": -73.5996, "name": "Old Westbury, New York, United States"}, {"lat": 34.017275, "lon": -118.402347, "name": "10202 West Washington Boulevard, Culver City, California 90232, United States"}, {"lat": 34.2622, "lon": -118.6737, "name": "Santa Susana, California, United States"}, {"lat": 43.876769249999995, "lon": -103.4554875, "name": "Mount Rushmore National Memorial, 13000 SD Highway 244, Keystone, South Dakota 57751, United States"}, {"lat": 41.786872, "lon": -87.747394, "name": "Chicago Midway International Airport (MDW), 5700 S Cicero Ave, Chicago, Illinois 60638, United States"}, {"lat": 41.90607, "lon": -87.628347, "name": "1301 North State Parkway, Chicago, Illinois 60610, United States"}, {"lat": 40.763515, "lon": -73.97358, "name": "750 5th Avenue, New York, New York 10065, United States"}, {"lat": 40.7887, "lon": -73.5996, "name": "Old Westbury, New York, United States"}, {"lat": 34.1507, "lon": -118.9535, "name": "Potrero Valley, Westlake Village, California, United States"}, {"lat": 40.7903, "lon": -73.9597, "name": "Manhattan, New York, United States"}, {"lat": 40.8623, "lon": -73.6337, "name": "Glen Cove, New York, United States"}, {"lat": 40.75246725, "lon": -73.977362, "name": "Grand Central Terminal, 87 E 42nd St, New York, New York 10017, United States"}, {"lat": 41.8756, "lon": -87.6244, "name": "Chicago, Illinois, United States"}, {"lat": 41.8756, "lon": -87.6244, "name": "Chicago, Illinois, United States"}, {"lat": 40.80436, "lon": -73.93893, "name": "Park Avenue, New York, New York 10457, United States"}, {"lat": 40.76426, "lon": -73.97106, "name": "650 Madison Ave, Manhattan, New York 10022, United States"}, {"lat": 40.750144, "lon": -73.983532, "name": "The Langham, 400 5th Ave, New York, New York 10018, United States"}, {"lat": 41.9, "lon": -87.63, "name": "Near North Side, Chicago, Illinois, United States"}, {"lat": 35.3739, "lon": -119.0195, "name": "Bakersfield, California, United States"}, {"lat": 40.68917359673309, "lon": -73.9826731487689, "name": "Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 40.583986, "lon": -73.686923, "name": "Overlook at the Beach, Long Beach, New York 11561, United States"}, {"lat": 40.1492928594, "lon": -89.2749461071049, "name": "Illinois, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 41.891212, "lon": -87.622842, "name": "CTCA Outpatient Care Center, 160 E Illinois St, Chicago, Illinois 60611, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>