<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">2001: A Space Odyssey</h3>
                        <p class="card-text">
                          The Monoliths push humanity to reach for the stars; after their discovery in Africa generations ago, the mysterious objects lead mankind on an awesome journey to Jupiter, with the help of H.A.L. 9000: the world's greatest supercomputer. "2001" is a story of evolution. Sometime in the distant past, someone or something nudged evolution by placing a monolith on Earth (presumably elsewhere throughout the universe as well). Evolution then enabled humankind to reach the moon's surface, where yet another monolith is found, one that signals the monolith placers that humankind has evolved that far. Now a race begins between computers (HAL) and human (Bowman) to reach the monolith placers. The winner will achieve the next step in evolution, whatever that may be.::Larry Cousins A black monolith has an affect on humans, the monolith's effects focusing on two specific time periods. The first period is four million years ago, at the dawn of man. After the appearance of the monolith, the ape men begin to display behavior unknown before then. The second period is the near future, in the year 2001. There are five astronauts aboard Discovery One, which is on a mission to Jupiter. At the beginning of the mission, the reason for it is unknown to the five astronauts. Three of the astronauts are in hibernation at the start of the mission to preserve the manpower over its entire course, leaving mission commander Dr. Dave Bowman and Dr. Frank Poole as the two manning the spacecraft. There is another what is often considered "sixth" astronaut on board, HAL 9000 - referred to simply as Hal - the artificial intelligent computer which controls all of the craft's functions, including the systems keeping the three hibernating astronauts alive. Hal is made all the more astronaut-like as it is given an artificial voice, Hal and the astronauts often having conversations. A 9000 series computer is considered infallible, any error one has ever made being human caused. Ultimately, Bowman and Poole believe that Hal is malfunctioning, they are unaware that Hal's behavior is due to knowledge of classified information it has about events at Clavius, a lunar outpost, eighteen months earlier. However, the issue between the astronauts and Hal becomes a fight for survival. The mission in its entirety has profound consequences for the human race.::Huggo This movie is concerned with intelligence as the division between animal and human, then asks a question: what is the next division? Technology is treated as irrelevant to the quest--literally serving as mere vehicles for the human crew and as a shell for the immature HAL entity. Story told as a montage of impressions, music, and impressive and careful attention to subliminal detail. A very influential film and still a class act, even after 25 years.::Robin Kenny <robink@hparc0.aus.hp.com> When a large black monolith is found beneath the surface of the moon, the reaction immediately is that it was intentionally buried. When the point of origin is confirmed as Jupiter, an expedition is sent in hopes of finding the source. When Dr. David Bowman discovers faults in the expeditionary spacecraft's communications system, he discovers more than he ever wanted to know.::Alexander O'Neill The monoliths have been watching us. They gave humankind the evolutionary kick in the pants it needed to survive at the Dawn of Time. In 1999, humankind discovered a second monolith on the moon. Now, in the year 2001, the S.S. Discovery and its crew, Captains Dave Bowman and Frank Poole, and their onboard computer, HAL 9000, must discover what alien force is watching Earth....::Tones <tones120c@aol.com>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmNlYzRiNDctZWNhMi00MzI4LThkZTctMTUzMmZkMmFmNThmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="2001: A Space Odyssey"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Scotland, United Kingdom
            </td>   
                <td class="table__cell">
                56.734282295, -4.09589210432502
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6578, -0.2723
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Scotland, United Kingdom
            </td>   
                <td class="table__cell">
                56.734282295, -4.09589210432502
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Erongo, Namibia
            </td>   
                <td class="table__cell">
                -23.11667, 14.86667
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom
            </td>   
                <td class="table__cell">
                51.407444, -0.465177
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Monument Valley, Arizona, United States
            </td>   
                <td class="table__cell">
                36.9867, -110.1911
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Monument Valley Tribal Park Road, Monument Valley, Utah 84531, United States
            </td>   
                <td class="table__cell">
                36.998843, -110.1564878
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6578, -0.2723
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Erongo, Namibia
            </td>   
                <td class="table__cell">
                -23.11667, 14.86667
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Namibia
            </td>   
                <td class="table__cell">
                -21.2010102346557, 17.2887615554773
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pops Nicoya, Nicoya, Guanacaste 50201, Costa Rica
            </td>   
                <td class="table__cell">
                10.151559, -85.452172
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United Kingdom
            </td>   
                <td class="table__cell">
                54.2379333607472, -2.36966957036279
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom
            </td>   
                <td class="table__cell">
                51.407444, -0.465177
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6578, -0.2723
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[51.407444, -0.465177], [51.407444, -0.465177], [51.6578, -0.2723]], "data": [{"lat": 56.734282295, "lon": -4.09589210432502, "name": "Scotland, United Kingdom"}, {"lat": 51.6578, "lon": -0.2723, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}, {"lat": 56.734282295, "lon": -4.09589210432502, "name": "Scotland, United Kingdom"}, {"lat": -23.11667, "lon": 14.86667, "name": "Erongo, Namibia"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 36.9867, "lon": -110.1911, "name": "Monument Valley, Arizona, United States"}, {"lat": 36.998843, "lon": -110.1564878, "name": "Monument Valley Tribal Park Road, Monument Valley, Utah 84531, United States"}, {"lat": 51.6578, "lon": -0.2723, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}, {"lat": -23.11667, "lon": 14.86667, "name": "Erongo, Namibia"}, {"lat": -21.2010102346557, "lon": 17.2887615554773, "name": "Namibia"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 10.151559, "lon": -85.452172, "name": "Pops Nicoya, Nicoya, Guanacaste 50201, Costa Rica"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.6578, "lon": -0.2723, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>