<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">It's a Wonderful Life</h3>
                        <p class="card-text">
                          An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjc4NDZhZWMtNGEzYS00ZWU2LThlM2ItNTA0YzQ0OTExMTE2XkEyXkFqcGdeQXVyNjUwMzI2NzU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="It's a Wonderful Life"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                RKO Encino Ranch   Balboa Boulevard & Burbank Boulevard, Encino, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.1816, -118.3259
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Beverly Hills High School   241 Moreno Drive, Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                34.0624165, -118.4114555
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4587 Viro Road, La Cañada Flintridge, California, USA 
            </td>   
                <td class="table__cell">
                34.19764, -118.17919
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                RKO Pathé Studios   9336 Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                34.022904, -118.395508
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                34.0736, -118.4004
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Encino, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.1591, -118.5016
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Culver City, California, USA 
            </td>   
                <td class="table__cell">
                34.0211, -118.3965
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA 
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles County, California, USA 
            </td>   
                <td class="table__cell">
                34.0572885, -118.24605249999999
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>