<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Indiana Jones and the Raiders of the Lost Ark</h3>
                        <p class="card-text">
                          In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before Adolf Hitler's Nazis can obtain its awesome powers.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Indiana Jones and the Raiders of the Lost Ark"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Sidi Bouhlel, Tozeur, Tunisia 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.011823667</span>, <span class="lon">8.259519925</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                University of the Pacific, Stockton, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.979673</span>, <span class="lon">-121.312043</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kaua'i, Hawaii, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 21.879359</span>, <span class="lon">-159.458624</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                La Pallice, La Rochelle, Charente Maritime, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.1631</span>, <span class="lon">-1.2095</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stockton, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.9577</span>, <span class="lon">-121.2908</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kairouan, Tunisia
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.66667</span>, <span class="lon">10.1</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tozeur, Tunisia
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.91667</span>, <span class="lon">8.13333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.7648</span>, <span class="lon">-122.463</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sousse, Tunisia
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.83333</span>, <span class="lon">10.63333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Yuma, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7253</span>, <span class="lon">-114.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rickmansworth Masonic School for Girls, Chorleywood Road, Rickmansworth, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.651315</span>, <span class="lon">-0.489041</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                La Rochelle, Charente Maritime, France
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.15944</span>, <span class="lon">-1.15139</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Borehamwood, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.6578</span>, <span class="lon">-0.2723</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                EMI Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sedala, Tunisia
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1107038598115</span>, <span class="lon">9.56116835557131</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palm Canyon Trail, Kofa National Wildlife Refuge, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.882</span>, <span class="lon">-113.6466</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bushey, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.6429</span>, <span class="lon">-0.3604</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                38 Alder Avenue, San Anselmo, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.980755</span>, <span class="lon">-122.571665</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 5, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 3, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 2, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>