<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Indiana Jones and the Raiders of the Lost Ark</h3>
                        <p class="card-text">
                          In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before Adolf Hitler's Nazis can obtain its awesome powers. The year is 1936. An archeology professor named Indiana Jones is venturing in the jungles of South America searching for a golden statue. Unfortunately, he sets off a deadly trap but miraculously escapes. Then, Jones hears from a museum curator named Marcus Brody about a biblical artifact called The Ark of the Covenant, which can hold the key to human existence. Jones has to venture to vast places such as Nepal and Egypt to find this artifact. However, he will have to fight his enemy Rene Belloq and a band of Nazis in order to reach it.::John Wiggins As the Third Reich continues its reign of terror, Adolf Hitler is on a quest for the legendary Ark of the Covenant- resting place of the Ten Commandments- whose supernatural powers, legend says, can wipe out entire armies. The U.S. Government turns to Dr. Indiana Jones, for the mission. Relentlessly pursued by Hitler's henchmen, Indy infiltrates their massive digging operation in a race against time to discover the Well of the Souls, where the Ark has lain undisturbed for centuries.::Jwelch5742 With Adolf Hitler's Nazis rumoured to have pinpointed the secret resting place of the fabled Ark of the Covenant, the sacred artefact that holds the Ten Commandments, the U.S. government enlists the help of the American archaeologist, university professor, and man of adventure, Indiana Jones. Assumed to contain an unfathomable destructive force, Indiana travels to the dangerous mountains of Nepal, and then, to mysterious Cairo, where he teams up with his old flame, Marion, and his friend, Sallah. But, this is a frenzied race against time, and the road to the coveted relic passes through Indy's scheming arch-rival, Dr René Belloq, and the sadistic Gestapo commander Major Toht's armed-to-the-teeth army. Can Indiana Jones prevent the Ark from falling into the wrong hands?::Nick Riganas Renowned archeologist and expert in the occult, Dr. Indiana Jones, is hired by the U.S. Government to find the Ark of the Covenant, which is believed to still hold the ten commandments. Unfortunately, agents of Hitler are also after the Ark. Indy, and his ex-flame Marion, escape from various close scrapes in a quest that takes them from Nepal to Cairo.::Colin Tinto <cst@imdb.com>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjA0ODEzMTc1Nl5BMl5BanBnXkFtZTcwODM2MjAxNA@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Indiana Jones and the Raiders of the Lost Ark"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                بوهلال, Tozeur, Tunisia
            </td>   
                <td class="table__cell">
                34.011823667, 8.259519925
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                University of the Pacific, 3601 Pacific Ave, Stockton, California 95211, United States
            </td>   
                <td class="table__cell">
                37.979673, -121.312043
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bangkok Happy Bowl Thai Bistro and Bar- Poipu, 2360 Kiahuna Plantation Dr, Koloa, Hawaii 96756, United States
            </td>   
                <td class="table__cell">
                21.879359, -159.458624
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                La Pallice, La Rochelle, Charente-Maritime, France
            </td>   
                <td class="table__cell">
                46.1631, -1.2095
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stockton, California, United States
            </td>   
                <td class="table__cell">
                37.9577, -121.2908
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kairouan, Tunisia
            </td>   
                <td class="table__cell">
                35.66667, 10.1
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tozeur, Tunisia
            </td>   
                <td class="table__cell">
                33.91667, 8.13333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Francisco, California, United States
            </td>   
                <td class="table__cell">
                37.7648, -122.463
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sousse, Tunisia
            </td>   
                <td class="table__cell">
                35.83333, 10.63333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                the Royal Masonic School for Girls, Chorleywood, Rickmansworth, WD3 4BH, United Kingdom
            </td>   
                <td class="table__cell">
                51.651315, -0.489041
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yuma, Arizona, United States
            </td>   
                <td class="table__cell">
                32.7253, -114.6244
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6578, -0.2723
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                France
            </td>   
                <td class="table__cell">
                47.8249046208979, 2.61878695312962
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                La Rochelle, Route de Nantes, Puilboreau, Charente-Maritime 17138, France
            </td>   
                <td class="table__cell">
                46.174482, -1.122397
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kofa, Arizona, United States
            </td>   
                <td class="table__cell">
                32.882, -113.6466
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tunisia
            </td>   
                <td class="table__cell">
                34.1107038598115, 9.56116835557131
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bushey, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6429, -0.3604
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                38 Alder Avenue, San Anselmo, California 94960, United States
            </td>   
                <td class="table__cell">
                37.980755, -122.571665
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[51.6429, -0.3604], [51.651315, -0.489041], [51.6578, -0.2723]], "data": [{"lat": 34.011823667, "lon": 8.259519925, "name": "\u0628\u0648\u0647\u0644\u0627\u0644, Tozeur, Tunisia"}, {"lat": 37.979673, "lon": -121.312043, "name": "University of the Pacific, 3601 Pacific Ave, Stockton, California 95211, United States"}, {"lat": 21.879359, "lon": -159.458624, "name": "Bangkok Happy Bowl Thai Bistro and Bar- Poipu, 2360 Kiahuna Plantation Dr, Koloa, Hawaii 96756, United States"}, {"lat": 46.1631, "lon": -1.2095, "name": "La Pallice, La Rochelle, Charente-Maritime, France"}, {"lat": 37.9577, "lon": -121.2908, "name": "Stockton, California, United States"}, {"lat": 35.66667, "lon": 10.1, "name": "Kairouan, Tunisia"}, {"lat": 33.91667, "lon": 8.13333, "name": "Tozeur, Tunisia"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 35.83333, "lon": 10.63333, "name": "Sousse, Tunisia"}, {"lat": 51.651315, "lon": -0.489041, "name": "the Royal Masonic School for Girls, Chorleywood, Rickmansworth, WD3 4BH, United Kingdom"}, {"lat": 32.7253, "lon": -114.6244, "name": "Yuma, Arizona, United States"}, {"lat": 51.6578, "lon": -0.2723, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}, {"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}, {"lat": 46.174482, "lon": -1.122397, "name": "La Rochelle, Route de Nantes, Puilboreau, Charente-Maritime 17138, France"}, {"lat": 32.882, "lon": -113.6466, "name": "Kofa, Arizona, United States"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 34.1107038598115, "lon": 9.56116835557131, "name": "Tunisia"}, {"lat": 51.6429, "lon": -0.3604, "name": "Bushey, Hertfordshire, England, United Kingdom"}, {"lat": 37.980755, "lon": -122.571665, "name": "38 Alder Avenue, San Anselmo, California 94960, United States"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>