<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Usual Suspects</h3>
          <p class="card-text mb-0">


  <span > A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.  </span>
                          <span > Following a truck hijack in New York, five criminals are arrested and brought together for questioning. As none of them are guilty, they plan a revenge operation against the police. The operation goes well, but then the influence of a legendary mastermind criminal called Keyser Söze is felt. It becomes clear that each one of them has wronged Söze at some point and must pay back now. The payback job leaves 27 men dead in a boat explosion, but the real question arises now: Who actually is Keyser Söze? -Soumitra.  </span>
                          <span > After a number of people are killed and a cargo ship set on fire, Roger 'Verbal' Kint is questioned by U.S. Customs Agent Dave Kujan. Reluctant at first, Verbal begins to tell them what happened starting with when he met four men, all criminals, sharing a holding cell for a few hours. Together, they join forces to successfully hijack a jewel shipment and head to Los Angeles to lay low. There they are contacted by a lawyer, Kobayashi, representing the much-feared international criminal Keyser Söze who wants them to do a job for him. The result is the attack on the cargo ship. Verbal refuses to give evidence in the case and is set free. Only then does Kujan realize what's really happened. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Police investigating an exploded boat on a San Pedro pier discover 27 bodies and $91 million worth of drug money. The only survivors are a severely burned and very scared Hungarian terrorist and Verbal Kint, a crippled con-man. Reluctantly, Kint is pressured into explaining exactly what happened on the boat. His story begins six weeks earlier with five criminals being dragged in by New York police desperate for suspects on a hijacked truck and ends with the possible identification of a criminal mastermind. -John Weeks .  </span>
    <span class="additional-information" > After a waterfront explosion, Verbal, an eye-witness and participant tells the story of events leading up to the conflagration. The story begins when five men are rounded up for a line-up, and grilled about a truck hijacking (the usual suspects). Least pleased is Keaton: a crooked cop - exposed, indicted, but now desperately trying to go straight. The cops won't leave him alone, however, and as they wait for their lawyers to post bail, he is talked into doing one more job with the other four. All goes tolerably well until the influence of the legendary, seemingly omnipotent "Keyser Söze" is felt. Although set in the modern day, it has much of the texture of the forties, plus suspense, intrigue (a fairly high body count), and lots of twists in the plot. -.  </span>
    <span class="additional-information" > This is a film about five men who are hauled into the New York police station because a crime was committed and they are the usual suspects. They all agree to do a job together for a little revenge. However, little do they know that someone else has the strings and that they are all the puppets--all because each of them crossed the wrong person at the wrong time. After the big job, 27 people are dead, and there are two survivors. But the question is...who's the one controlling everything? -thexotherxchris.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Usual Suspects"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San Pedro Street, Carson, California 90746, United States
            </td>
                <td class="table__cell">
                33.88105, -118.26406
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San Pedro, California, United States
            </td>
                <td class="table__cell">
                33.7359, -118.2923
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                200 South Spring Street, Los Angeles, California 90012, United States
            </td>
                <td class="table__cell">
                34.05153, -118.24556
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1111 Broadway, Santa Monica, California 90401, United States
            </td>
                <td class="table__cell">
                34.02085, -118.48677
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                35000 Pacific Coast Highway, Malibu, California 90265, United States
            </td>
                <td class="table__cell">
                34.04678, -118.92636
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States
            </td>
                <td class="table__cell">
                33.7842845, -118.283979
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                175 5th Avenue, Brooklyn, New York 11217, United States
            </td>
                <td class="table__cell">
                40.67729, -73.97971
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                6525 West Sunset Boulevard, Los Angeles, California 90028, United States
            </td>
                <td class="table__cell">
                34.09834, -118.33204
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                New York, New York, United States
            </td>
                <td class="table__cell">
                40.7306, -73.9866
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Jackson Heights, New York, New York, United States
            </td>
                <td class="table__cell">
                40.7557, -73.8854
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States
            </td>
                <td class="table__cell">
                40.751296, -73.984819
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                770 South Normandie Avenue, Los Angeles, California 90005, United States
            </td>
                <td class="table__cell">
                34.05795, -118.29964
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                LaGuardia Airport (LGA), Grand Central Pkwy, New York, New York 11371, United States
            </td>
                <td class="table__cell">
                40.775069, -73.87071
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Verrazano-Narrows Bridge, Brooklyn/Staten Island, New York, New York, United States
            </td>
                <td class="table__cell">
                40.6062035, -74.0455915
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                South, Pasadena, California, United States
            </td>
                <td class="table__cell">
                34.14, -118.13
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                638 South Beacon Street, San Pedro, California 90731, United States
            </td>
                <td class="table__cell">
                33.73807, -118.28029
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.7359, -118.2923], [33.73807, -118.28029], [33.7842845, -118.283979]], "data": [{"lat": 33.88105, "lon": -118.26406, "name": "San Pedro Street, Carson, California 90746, United States"}, {"lat": 33.7359, "lon": -118.2923, "name": "San Pedro, California, United States"}, {"lat": 34.05153, "lon": -118.24556, "name": "200 South Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.02085, "lon": -118.48677, "name": "1111 Broadway, Santa Monica, California 90401, United States"}, {"lat": 34.04678, "lon": -118.92636, "name": "35000 Pacific Coast Highway, Malibu, California 90265, United States"}, {"lat": 33.7842845, "lon": -118.283979, "name": "Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States"}, {"lat": 40.67729, "lon": -73.97971, "name": "175 5th Avenue, Brooklyn, New York 11217, United States"}, {"lat": 34.09834, "lon": -118.33204, "name": "6525 West Sunset Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 40.7557, "lon": -73.8854, "name": "Jackson Heights, New York, New York, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 34.05795, "lon": -118.29964, "name": "770 South Normandie Avenue, Los Angeles, California 90005, United States"}, {"lat": 40.775069, "lon": -73.87071, "name": "LaGuardia Airport (LGA), Grand Central Pkwy, New York, New York 11371, United States"}, {"lat": 40.6062035, "lon": -74.0455915, "name": "Verrazano-Narrows Bridge, Brooklyn/Staten Island, New York, New York, United States"}, {"lat": 34.14, "lon": -118.13, "name": "South, Pasadena, California, United States"}, {"lat": 33.73807, "lon": -118.28029, "name": "638 South Beacon Street, San Pedro, California 90731, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>