<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>
 <body id="11233960" class="film-location">
   <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5 "> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Unforgivable</h3>
                        <p class="card-text">
                          A woman is released from prison after serving a sentence for a violent crime and re-enters a society that refuses to forgive her past.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2M5MTJmOTEtNWU1Yy00NDNmLWI3MjMtNzFkN2FiZjE5Njg3XkEyXkFqcGdeQXVyMTEyMjM2NDc2.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Unforgivable"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Vancouver, British Columbia, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.279862</span>, <span class="lon">-123.116838</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queen Elizabeth Park, Vancouver, British Columbia, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.2418825</span>, <span class="lon">-123.1141775</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Surrey City Hall   13450 104 Avenue, Surrey, British Columbia, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.191303</span>, <span class="lon">-122.849144</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Coquitlam, British Columbia, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.284296</span>, <span class="lon">-122.793281</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canadian Motion Picture Park Studios   8085 Glenwood Drive, Burnaby, British Columbia, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.1943215</span>, <span class="lon">-122.96894950000001</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chan Centre for the Performing Arts, University of British Columbia   6265 Crescent Road, Vancouver, British Columbia, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 49.269491</span>, <span class="lon">-123.2552985</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>