<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          
          <nav aria-label="Movie Locations Top 250">
            
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
          
            <ul class="pagination justify-content-center">
              
              
            </ul>
            
          </nav>
          
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a7413f30>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a7413f30>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a7413930>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a7413930>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a7413e30>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a7413e30>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a7413cb0>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a7413cb0>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a73bf830>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a73bf830>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a73bfb70>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a73bfb70>
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="" class="card">
              <img src="" class="card-img-top" alt="<built-in method title of str object at 0x7f20a73bf9f0>" />
              <div class="card-body">
                <a href="../details/.html" class="stretched-link">
                  <p class="card-text text-center">
                    <built-in method title of str object at 0x7f20a73bf9f0>
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
</body>

</html>