<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Kill Bill: Vol. 1</h3>
                        <p class="card-text">
                          After awakening from a four-year coma, a former assassin wreaks vengeance on the team of assassins who betrayed her.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzM3NDFhYTAtYmU5Mi00NGRmLTljYjgtMDkyODQ4MjNkMGY2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Kill Bill: Vol. 1"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Shinjuku, Tokyo, Japan
            </td>   
                <td class="table__cell">
                35.6911, 139.7005
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St. Luke's Hospital   2632 E. Washington Street, Pasadena, California, USA
            </td>   
                <td class="table__cell">
                34.168069, -118.095817
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Beijing, China
            </td>   
                <td class="table__cell">
                39.905, 116.39139
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hong Kong, China
            </td>   
                <td class="table__cell">
                22.299653499999998, 114.1675485
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Austin, Texas, USA
            </td>   
                <td class="table__cell">
                30.2711, -97.7437
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lancaster, California, USA
            </td>   
                <td class="table__cell">
                34.6981, -118.1366
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                American Cement Building, 2404 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.034789, -118.47894
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                E Ave G & 198th St E, Lancaster, California, USA
            </td>   
                <td class="table__cell">
                34.7350818, -117.7766304
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                5506 Atlas St, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.09734, -118.15977
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sanctuary Adventist Church, 19806 East Ave G, Lancaster, California, USA 
            </td>   
                <td class="table__cell">
                34.734925, -117.747524
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>