<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Hara-Kiri</h3>
                        <p class="card-text">
                          When a ronin requesting seppuku at a feudal lord's palace is told of the brutal suicide of another ronin who previously visited, he reveals how their pasts are intertwined - and in doing so challenges the clan's integrity. Peace in 17th-century Japan causes the Shogunate's breakup of warrior clans, throwing thousands of samurai out of work and into poverty. An honorable end to such fate under the samurai code is ritual suicide, or hara-kiri (self-inflicted disembowelment). An elder warrior, Hanshiro Tsugumo (Tatsuya Nakadai) seeks admittance to the house of a feudal lord to commit the act. There, he learns of the fate of his son-in-law, a young samurai who sought work at the house but was instead barbarically forced to commit traditional hara-kiri in an excruciating manner with a dull bamboo blade. In flashbacks the samurai tells the tragic story of his son-in-law, and how he was forced to sell his real sword to support his sick wife and child. Tsugumo thus sets in motion a tense showdown of revenge against the house.::Kevin Rayburn <kprayb01@homer.louisville.edu> In 1630, after a long period of peace in Japan following the end of the clans, thousand of samurais do not have masters and are living in absolute poverty. The ronin Hanshiro Tsugumo and former samurai of Lord of Geishu arrives at the house of Lord Lyi requesting a spot to commit hara-kiri (an honorable form of suicide). Tsugumo is received by Umenosuke Kawabe, who tells the story of the young samurai Motome Chijiiwa that arrived at the house also asking for a place to commit hara-kiri but expecting to receive coins instead. The warrior Hikokuro Omodaka convinces the clan to force Chijiiwa to really commit suicide using his bamboo blade as an example to other samurais that would appear using the same pretext to receive coins from the master. Tsugumo discloses that the lad Chijiiwa was his son-in-law that was forced to the situation expecting to raise some money to treat his sick wife and baby son. Further, Tsugumo had arrives in the house expecting to die not committing suicide, but revenging Chijiiwa, his daughter and his grandson.::Claudio Carvalho, Rio de Janeiro, Brazil A samurai, Hanshiro Tsugumo, arrives at the house of the Iyi Clan with an unusual request. Due to his circumstances, he wishes to commit harakiri, ritual suicide, in the courtyard of the house. Turns out this is not such an unusual request: the clan has had such requests before, though the requestor's intentions weren't always honourable. The Clan elder tells Tsugumo the story of the last samurai who made the request and how that ended. Will he still go through with it?::grantss
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjBmYTQ1NjItZWU5MS00YjI0LTg2OTYtYmFkN2JkMmNiNWVkXkEyXkFqcGdeQXVyMTMxMTY0OTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Hara-Kiri"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                京都国立近代美術館 The National Museum of Modern Art, 左京区岡崎円勝寺町, 京都市, Kyōto 606-8344, Japan
            </td>   
                <td class="table__cell">
                35.0123725, 135.7821725
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": null, "data": [{"lat": 35.0123725, "lon": 135.7821725, "name": "\u4eac\u90fd\u56fd\u7acb\u8fd1\u4ee3\u7f8e\u8853\u9928 The National Museum of Modern Art, \u5de6\u4eac\u533a\u5ca1\u5d0e\u5186\u52dd\u5bfa\u753a, \u4eac\u90fd\u5e02, Ky\u014dto 606-8344, Japan"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>