<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Silence of the Lambs</h3>
                        <p class="card-text">
                          A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjNhZTk0ZmEtNjJhMi00YzFlLWE1MmEtYzM1M2ZmMGMwMTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Silence of the Lambs"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bimini Airport, South Bimini Island, Bimini Islands, Bahamas
            </td>   
                <td class="table__cell">
                25.73333, -79.25
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Western Center   333 Curry Hill Rd., Canonsburg, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.2626, -80.1873
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bellaire, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.0162, -80.7423
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lindbergh Avenue, Shaler Township, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.15609, -75.005985
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pittsburgh, Pennsylvania, USA
            </td>   
                <td class="table__cell">
                40.4417, -79.9901
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Clay County, West Virginia, USA
            </td>   
                <td class="table__cell">
                38.46, -81.07
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Front St, Glenwillard, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.55838, -80.2192
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Old Allegheny County Jail   5th Ave & Ross Street, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.438926, -79.992048
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8 Circle Street, Perryopolis, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.09041, -79.72181
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                FBI Academy, Quantico, Virginia, USA
            </td>   
                <td class="table__cell">
                38.525299, -77.439004
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Layton, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.0904, -79.7234
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McKeesport, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.3478, -79.8642
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                E 8th Ave & Amity St, Homestead, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.4, -79.89
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Main Street West, Rural Valley, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.79965, -79.32152
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Soldiers and Sailors Museum and Memorial   4141 Fifth Avenue, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.44504, -79.95643
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carnegie Museum of Natural History   4400 Forbes Avenue, Pittsburgh, Pennsylvania, USA
            </td>   
                <td class="table__cell">
                40.443391500000004, -79.9502835
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Department of Labor Frances Perkins Building   200 Constitution Avenue NW, Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                38.894269, -77.014263
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pittsburgh International Airport, Pittsburgh, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.495924, -80.252069
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Memphis, Tennessee, USA 
            </td>   
                <td class="table__cell">
                35.149, -90.0516
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                38.895, -77.0366
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tennessee, USA
            </td>   
                <td class="table__cell">
                35.9885949444, -85.9823352140893
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Virginia, USA
            </td>   
                <td class="table__cell">
                37.677592044, -78.6190526172645
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ohio, USA
            </td>   
                <td class="table__cell">
                40.4174201146, -82.7114488167578
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pennsylvania, USA
            </td>   
                <td class="table__cell">
                41.0911397651, -78.2907462468837
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>