<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Trainspotting</h3>
          <p class="card-text mb-0">


  <span > Renton, deeply immersed in the Edinburgh drug scene, tries to clean up and get out, despite the allure of the drugs and influence of friends.  </span>
                          <span > A wild, freeform, Rabelaisian trip through the darkest recesses of Edinburgh low-life, focusing on Mark Renton and his attempt to give up his heroin habit, and how the latter affects his relationship with family and friends: Sean Connery wannabe Sick Boy, dimbulb Spud, psycho Begbie, 14-year-old girlfriend Diane, and clean-cut athlete Tommy, who's never touched drugs but can't help being curious about them... -Michael Brooke .  </span>
                          <span > Renton is an Edinburgh lad with a heroin addiction problem. His best mates are: somewhat dimwitted but good-hearted Spud, also a heroin addict; con man Sick Boy, also a heroin addict who has steadfast opinions on the most renowned British actors; and Tommy, a clean cut athlete who doesn't use. The likelihood of Renton, Spud and/or Sick Boy leading Tommy astray are higher than the other way around as problems in Tommy's life resulting in him wanting to use are more likely than any of Renton, Spud or Sick Boy having a reason to follow Tommy's clean example. Renton, Spud and Sick Boy often use with Allison, the mother of an infant, they, including baby Dawn, congregating in Swanney's drug den. They also need to steal and rob to support their habit, those activities often with the assistance of their criminal acquaintance Begbie, whose violent tendencies can be ignited on the slightest provocation. Despite Renton, Spud and Sick Boy believing there is no better feeling than being high, Renton truly does want to quit using, or so he tells himself. The struggles Renton have in trying to get clean are presented. He may feel that other priorities in his life may help him, such as the love at first sight feelings he has for Diane, who he sees across a nightclub room but who may not be all she appears at first glance. Renton probably realizes that he can never get clean in his current environment, which includes hanging around with Spud, Sick Boy, Begbie, Allison and Swanney, but getting out from their influence may not be as easy as just physically leaving. -Huggo.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Trainspotting"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Corrour, Highland, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                56.7601, -4.6919
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                78a Talgarth Road, Hammersmith and Fulham, London, W14 9DJ, United Kingdom
            </td>
                <td class="table__cell">
                51.490559, -0.210951
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calton Road, Edinburgh, EH8 8FL, United Kingdom
            </td>
                <td class="table__cell">
                55.952764, -3.180281
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                182 Queen Margaret Drive, Glasgow, G20 8NX, United Kingdom
            </td>
                <td class="table__cell">
                55.881571, -4.283138
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Rouken Glen Park, Rouken Glen Rd, Glasgow, Scotland G46 7ET, United Kingdom
            </td>
                <td class="table__cell">
                55.800637, -4.311124
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Queen Elizabeth University Hospital, 1345 Govan Rd., Glasgow, Scotland G51 4TF, United Kingdom
            </td>
                <td class="table__cell">
                55.8619405, -4.34077
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                15 Benalder Street, Glasgow, G11 6PU, United Kingdom
            </td>
                <td class="table__cell">
                55.869243, -4.300433
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hanover Street, Edinburgh, EH2 2DX, United Kingdom
            </td>
                <td class="table__cell">
                55.953434, -3.197207
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                45 Chamberlain Road, Glasgow, G13 1SN, United Kingdom
            </td>
                <td class="table__cell">
                55.885291, -4.332865
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Princes Street, Edinburgh, EH2 3AA, United Kingdom
            </td>
                <td class="table__cell">
                55.951273, -3.201158
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wellington Arch, Apsley Way, London, England W1J 7NT, United Kingdom
            </td>
                <td class="table__cell">
                51.5025195, -0.150827
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Westminster Abbey, 20 Dean's Yard, London, England SW1A 0AA, United Kingdom
            </td>
                <td class="table__cell">
                51.498814369140625, -0.125516125
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Carnaby Street, Carnaby St, London, England W1F 7DD, United Kingdom
            </td>
                <td class="table__cell">
                51.5132715, -0.1388925
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.5, -0.1667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Oxford Street, Westminster, London, W1C 2HW, United Kingdom
            </td>
                <td class="table__cell">
                51.514854, -0.145244
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Piccadilly Circus, Piccadilly, London, England W1J 9HP, United Kingdom
            </td>
                <td class="table__cell">
                51.509903249999994, -0.13451125
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Regent Street, Westminster, London, W1B 4NA, United Kingdom
            </td>
                <td class="table__cell">
                51.512972, -0.140579
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Royal Eagle Hotel, 26 - 30 Craven road, London, England W2 3UH, United Kingdom
            </td>
                <td class="table__cell">
                51.5145335, -0.178504
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                St Paul's Cathedral, St Paul's Church Yard, London, England EC4M 8AE, United Kingdom
            </td>
                <td class="table__cell">
                51.513744, -0.09837950000000001
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tower Bridge, Tower Bridge Rd, London, England SE1 2LY, United Kingdom
            </td>
                <td class="table__cell">
                51.505525, -0.075372
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tower of London, Tower Hill, London, England EC3N 4AE, United Kingdom
            </td>
                <td class="table__cell">
                51.508094, -0.0760706875
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Trafalgar Square, Trafalgar Sq, London, England WC2N 5DP, United Kingdom
            </td>
                <td class="table__cell">
                51.5080215, -0.128052
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                The Firhill Complex, Hopehill Road, Glasgow, Scotland G20 7HS, United Kingdom
            </td>
                <td class="table__cell">
                55.877488, -4.267439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                City of London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.52, -0.08
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.490559, -0.210951], [51.498814369140625, -0.125516125], [51.5, -0.1667]], "data": [{"lat": 56.7601, "lon": -4.6919, "name": "Corrour, Highland, Scotland, United Kingdom"}, {"lat": 51.490559, "lon": -0.210951, "name": "78a Talgarth Road, Hammersmith and Fulham, London, W14 9DJ, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 55.952764, "lon": -3.180281, "name": "Calton Road, Edinburgh, EH8 8FL, United Kingdom"}, {"lat": 55.881571, "lon": -4.283138, "name": "182 Queen Margaret Drive, Glasgow, G20 8NX, United Kingdom"}, {"lat": 55.800637, "lon": -4.311124, "name": "Rouken Glen Park, Rouken Glen Rd, Glasgow, Scotland G46 7ET, United Kingdom"}, {"lat": 55.8619405, "lon": -4.34077, "name": "Queen Elizabeth University Hospital, 1345 Govan Rd., Glasgow, Scotland G51 4TF, United Kingdom"}, {"lat": 55.869243, "lon": -4.300433, "name": "15 Benalder Street, Glasgow, G11 6PU, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 55.953434, "lon": -3.197207, "name": "Hanover Street, Edinburgh, EH2 2DX, United Kingdom"}, {"lat": 55.885291, "lon": -4.332865, "name": "45 Chamberlain Road, Glasgow, G13 1SN, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 55.951273, "lon": -3.201158, "name": "Princes Street, Edinburgh, EH2 3AA, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 51.5025195, "lon": -0.150827, "name": "Wellington Arch, Apsley Way, London, England W1J 7NT, United Kingdom"}, {"lat": 51.498814369140625, "lon": -0.125516125, "name": "Westminster Abbey, 20 Dean\u0027s Yard, London, England SW1A 0AA, United Kingdom"}, {"lat": 51.5132715, "lon": -0.1388925, "name": "Carnaby Street, Carnaby St, London, England W1F 7DD, United Kingdom"}, {"lat": 51.5, "lon": -0.1667, "name": "Greater London, England, United Kingdom"}, {"lat": 51.514854, "lon": -0.145244, "name": "Oxford Street, Westminster, London, W1C 2HW, United Kingdom"}, {"lat": 51.509903249999994, "lon": -0.13451125, "name": "Piccadilly Circus, Piccadilly, London, England W1J 9HP, United Kingdom"}, {"lat": 51.512972, "lon": -0.140579, "name": "Regent Street, Westminster, London, W1B 4NA, United Kingdom"}, {"lat": 51.5145335, "lon": -0.178504, "name": "Royal Eagle Hotel, 26 - 30 Craven road, London, England W2 3UH, United Kingdom"}, {"lat": 51.513744, "lon": -0.09837950000000001, "name": "St Paul\u0027s Cathedral, St Paul\u0027s Church Yard, London, England EC4M 8AE, United Kingdom"}, {"lat": 51.505525, "lon": -0.075372, "name": "Tower Bridge, Tower Bridge Rd, London, England SE1 2LY, United Kingdom"}, {"lat": 51.508094, "lon": -0.0760706875, "name": "Tower of London, Tower Hill, London, England EC3N 4AE, United Kingdom"}, {"lat": 51.5080215, "lon": -0.128052, "name": "Trafalgar Square, Trafalgar Sq, London, England WC2N 5DP, United Kingdom"}, {"lat": 55.877488, "lon": -4.267439, "name": "The Firhill Complex, Hopehill Road, Glasgow, Scotland G20 7HS, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 51.52, "lon": -0.08, "name": "City of London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>