<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Trainspotting</h3>
                        <p class="card-text">
                          Renton, deeply immersed in the Edinburgh drug scene, tries to clean up and get out, despite the allure of the drugs and influence of friends.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Trainspotting"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Corrour Station, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                56.7601, -4.6919
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                78A Talgarth Road, West Kensington, London, England, UK 
            </td>   
                <td class="table__cell">
                51.490559, -0.210951
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cafe D'Jaconelli   570 Maryhill Road, North Kelvinside, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Calton Road, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.952764, -3.180281
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Crosslands   182 Queen Margaret Drive, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.881571, -4.283138
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rouken Glen Park, Thornliebank, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.800637, -4.311124
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Canniesburn Hospital, Glasgow, Strathclyde, Scotland, UK
            </td>   
                <td class="table__cell">
                55.8619405, -4.34077
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Volanco   15 Banalder Street, Glasgow, Strathclyde, Scotland, UK
            </td>   
                <td class="table__cell">
                55.869243, -4.300433
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Waterloo Bridge, River Thames, London, England, UK 
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Azad Video, Dumbarton Road, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                George Hotel   235 Buchanan Street, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Strathclyde, Scotland, UK
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hanover Street, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.953434, -3.197207
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Jordanhill School   45 Chamberlain Road, Jordanhill, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.885291, -4.332865
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tower 42, Old Broad Street, London, England, UK 
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Possilpark, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Princes Street, Edinburgh, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.951273, -3.201158
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                W.D. & H.O. Wills Tobacco Factory   368 Alexandra Parade, Glasgow, Strathclyde, Scotland, UK 
            </td>   
                <td class="table__cell">
                55.860982499999984, -4.2488787
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wellington Arch, London, England, UK 
            </td>   
                <td class="table__cell">
                51.5025195, -0.150827
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Big Ben, Houses of Parliament, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                51.498814369140625, -0.125516125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carnaby Street, Soho, London, England, UK 
            </td>   
                <td class="table__cell">
                51.5132715, -0.1388925
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lloyd's Building, Lime Street, Broadgate, London, England, UK 
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oxford Street, London, England, UK 
            </td>   
                <td class="table__cell">
                51.514854, -0.145244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Piccadilly Circus, Piccadilly, London, England, UK 
            </td>   
                <td class="table__cell">
                51.509903249999994, -0.13451125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Regent Street, London, England, UK 
            </td>   
                <td class="table__cell">
                51.512972, -0.140579
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Royal Eagle Hotel   26 30 Craven Road, Bayswater, London, England, UK
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St Paul's Cathedral, St Paul's Churchyard, City of London, England, UK 
            </td>   
                <td class="table__cell">
                51.513744, -0.09837950000000001
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tower Bridge, London, England, UK 
            </td>   
                <td class="table__cell">
                51.557943, -0.33506
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tower of London, Whitechapel, London, England, UK 
            </td>   
                <td class="table__cell">
                51.508094, -0.0760706875
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trafalgar Square, St James's, London, England, UK 
            </td>   
                <td class="table__cell">
                51.5080215, -0.128052
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>