<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Terminator</h3>
                        <p class="card-text">
                          A human soldier is sent from 2029 to 1984 to stop an almost indestructible cyborg killing machine, sent from the same year, which has been programmed to execute a young woman whose unborn son is the key to humanity's future salvation.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTViNzMxZjEtZGEwNy00MDNiLWIzNGQtZDY2MjQ1OWViZjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Terminator"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                720 S Hill Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04524</span>, <span class="lon">-118.2548</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Super Store 6   37202 90th Street E, Littlerock, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.55814</span>, <span class="lon">-117.968855</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Carrow's Restaurant   815 Fremont Avenue, South Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.11621</span>, <span class="lon">-118.15349</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                6000 S Boyle Avenue, Vernon, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.9869</span>, <span class="lon">-118.22104</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tiki Motel   7301 Santa Fe Avenue, Huntington Park, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.97374</span>, <span class="lon">-118.23043</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tunnel at Lower Grand & West Gen Thad Kosciuszko Way, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                316 W 7th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04541</span>, <span class="lon">-118.25418</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                14239 Gilmore Street, Van Nuys, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.18776</span>, <span class="lon">-118.44356</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Griffith Observatory, 2800 E Observatory Rd, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.11</span>, <span class="lon">-118.27</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                219 W 7th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04301</span>, <span class="lon">-118.24974</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Department Of Water And Power   111 N Hope Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.987058</span>, <span class="lon">-118.291383</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                420 S Lafayette Park Place, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.14</span>, <span class="lon">-118.13</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                795 Keller Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.054514</span>, <span class="lon">-118.228794</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                14329 Victory Boulevard, Van Nuys, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.18683</span>, <span class="lon">-118.44541</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                403 E 5th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04473</span>, <span class="lon">-118.244707</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Griffith Park   4730 Crystal Springs Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1259</span>, <span class="lon">-118.27416</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                185 S Figueroa Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.055221</span>, <span class="lon">-118.25441</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                13010 E Temple Avenue, City of Industry, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.055258</span>, <span class="lon">-118.000317</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                212 W 7th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04277</span>, <span class="lon">-118.25022</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                583 West Gen Thad Kosciuszko Way @ South Grand Avenue, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.9275</span>, <span class="lon">-118.2781</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                2nd Street Tunnel between Hill and Figueroa, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                555 Ramirez Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05425</span>, <span class="lon">-118.2309</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Van Nuys, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1867</span>, <span class="lon">-118.4487</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                731 S Broadway, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04483</span>, <span class="lon">-118.25386</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gilmore Hamlin Apartments   11844 Hamlin Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Miceli's   1646 N Las Palmas Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.10115</span>, <span class="lon">-118.33601</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                445 S Broadway, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04884</span>, <span class="lon">-118.25013</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Occidental Studios   201 N. Occidental Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.07228</span>, <span class="lon">-118.27856</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fantasy II Film Effects   415 S Flower Street, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.17491</span>, <span class="lon">-118.30875</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bethlehem Steel Corporation   3300 E Slauson Avenue, Vernon, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.98529</span>, <span class="lon">-118.20752</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>