<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Incredibles</h3>
          <p class="card-text mb-0">


  <span > A family of undercover superheroes, while trying to live the quiet suburban life, are forced into action to save the world.  </span>
                          <span > Bob Parr (A.K.A. Mr. Incredible), and his wife Helen (A.K.A. Elastigirl), are the world's greatest famous crime-fighting superheroes in Metroville. Always saving lives and battling evil on a daily basis. But fifteen years later, they have been forced to adopt civilian identities and retreat to the suburbs where they have no choice but to retire as superheroes to live a "normal life" with their three children Violet, Dash and Jack-Jack (who were secretly born with superpowers). Itching to get back into action, Bob gets his chance when a mysterious communication summons him to a remote island for a top secret assignment. He soon discovers that it will take a super family effort to rescue the world from total destruction. -Anthony Pereyra {hypersonic91@yahoo.com}.  </span>
                          <span > In this lauded Pixar animated film, married superheroes Mr. Incredible and Elastigirl are forced to assume mundane lives as Bob and Helen Parr after all super-powered activities have been banned by the government. While Mr. Incredible loves his wife and kids, he longs to return to a life of adventure, and he gets a chance when summoned to an island to battle an out-of-control robot. Soon, Mr. Incredible is in trouble, and it's up to his family to save him. -Jwelch5742.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Who would have thought that the world, and, especially, the good people of Metroville would have enough of masked crime fighters and super-heroes? Now, fifteen long years, and several lawsuits later, the once-popular super-strong defender, Bob Parr, aka "Mr Incredible", and his exceptional elastomer-limbed wife, Helen, aka "Elastigirl", find themselves living an ordinary suburban life as civilians with their equally extraordinary three kids. But, all of a sudden, a mysterious invitation jolts Bob into action, and for the first time in a long while, Mr Parr feels useful, doing what he does best, of course, behind Helen's back. Once more, the Earth is in danger. Can the long-forgotten Incredibles save the day? -Nick Riganas.  </span>
    <span class="additional-information" > Superheroes are no longer a secret to the world; their identities are known to the US Government and they've become model citizens in a conforming world. But heroes know no limits to persistence. Retired superhero Mr. Incredible receives a mysterious message from a mysterious woman on a seemingly deserted island. Little does Mr. Incredible realize that he'll soon be in the cross-hairs of a conspiracy involving all the world's superheroes. -Johnny.  </span>
    <span class="additional-information" > Mr. Incredible is a superhero; or he used to be, until a surge of lawsuits against superheroes submitted by the people they've saved forced the government to hide them in witness protection programs so they could lead normal, anonymous lives. Now known exclusively by his secret identity, Bob Parr, he lives with his wife Helen, formerly Elastigirl, and their three children Violet, Dash, and Jack Jack. He works as an insurance claims specialist, and he's fed up with his pushy boss and his immoral profession, but his wife's worked too hard to build a normal life for her family to abide his nostalgia for heroism. When Mr. Incredible's offered the chance to play the role of hero again by a mysterious informant, he jumps at the opportunity, and the whole family must reveal themselves to save Mr. Incredible and countless innocents. -Michael Loughrin.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTY5OTU0OTc2NV5BMl5BanBnXkFtZTcwMzU4MDcyMQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Incredibles"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                500 South Buena Vista Street, Hemet, California 92543, United States
            </td>
                <td class="table__cell">
                33.7403, -116.967278
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1200 Park Avenue, San Jacinto, California 92583, United States
            </td>
                <td class="table__cell">
                33.763345, -116.941164
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 33.7403, "lon": -116.967278, "name": "500 South Buena Vista Street, Hemet, California 92543, United States"}, {"lat": 33.763345, "lon": -116.941164, "name": "1200 Park Avenue, San Jacinto, California 92583, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>