<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Stand by Me</h3>
                        <p class="card-text">
                          After the death of one of his friends, a writer recounts a childhood journey with his friends to find the body of a missing boy.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BODJmY2Y2OGQtMDg2My00N2Q3LWJmZTUtYTc2ODBjZDVlNDlhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Stand by Me"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Eagle Mountain Ln, Burney, California, USA 
            </td>   
                <td class="table__cell">
                41.01613, -121.61633
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McCloud River Railroad, McCloud, California, USA
            </td>   
                <td class="table__cell">
                41.2557, -122.1394
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cottage Grove, Oregon, USA 
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gooseline Railroad, Cottage Grove, Oregon, USA 
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yreka Western Railroad, Yreka, California, USA
            </td>   
                <td class="table__cell">
                41.7089828, -122.6364786
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                419 N Main St, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.394635, -122.984712
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                School Ave, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.39673, -122.98224
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Veneta, Oregon, USA
            </td>   
                <td class="table__cell">
                44.0487, -123.3509
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Eugene, Oregon, USA
            </td>   
                <td class="table__cell">
                44.0505, -123.0951
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Row River Trail, Cottage Grove, Oregon, USA 
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Franklin, Oregon, USA
            </td>   
                <td class="table__cell">
                44.1584, -123.3077
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                325 Fisher St, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.39407, -122.98931
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dusty CG Eagle Mountain Rd, Burney, California, USA 
            </td>   
                <td class="table__cell">
                40.8824, -121.6608
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                N Main St, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.39265, -122.98418
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brownsville, Oregon, USA
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Holloway Heights, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.39429, -122.98686
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Territorial Hwy & Franklin Rd, Junction City, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.156366, -123.3077018
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                25850 Tidball Ln, Veneta, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.04958, -123.32322
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1152 Linn Way, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.401691, -122.991003
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Baptist Cemetery, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Houston Road, Veneta, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.04788, -123.33092
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Royal Ave. Eugene, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.06998, -123.19945
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                N Main St & Park Ave, Brownsville, Oregon, USA 
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                380 South San Rafael Avenue, Pasadena, California, USA
            </td>   
                <td class="table__cell">
                34.13727, -118.16959
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burney, California, USA
            </td>   
                <td class="table__cell">
                40.8824, -121.6608
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Junction City, Oregon, USA
            </td>   
                <td class="table__cell">
                44.2193, -123.2056
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McCloud, California, USA
            </td>   
                <td class="table__cell">
                41.2557, -122.1394
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yreka, California, USA
            </td>   
                <td class="table__cell">
                41.7326, -122.6378
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oregon, USA
            </td>   
                <td class="table__cell">
                44.0328841608, -120.281411696945
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>