<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Stand by Me</h3>
                        <p class="card-text">
                          After the death of one of his friends, a writer recounts a childhood journey with his friends to find the body of a missing boy. It's the summer of 1959 in Castlerock, Oregon and four 12 year-old boys - Gordie, Chris, Teddy and Vern - are fast friends. After learning of the general location of the body of a local boy who has been missing for several days, they set off into the woods to see it. Along the way, they learn about themselves, the meaning of friendship and the need to stand up for what is right.::garykmcd Shocked by the death of a dear friend he finds out while reading the local newspaper, the now-late-thirty-something writer, Gordie Lachance, takes a trip down memory lane, when back in Oregon, in the hot summer of 1959, he and his three close friends, Chris, Teddy, and Vern, set out on a life-changing adventure. Back then, the news about the death of a missing twelve-year-old boy sparked their interest in following the train tracks, and become heroes by finding first his body. Unfortunately, so did the local tough, Ace Merrill, and his gang of bullies. Indeed, sometimes, growing up can be hard; nevertheless, finding real friends can be even harder. Will life be simpler if you stand by me?::Nick Riganas Gordie Lachance, a writer, looks back on his preteen days when he and three close friends went on their own adventure to find the body of a kid their age who had gone missing and presumed dead. The stakes are upped when the bad kids in town are closely tailing - and it becomes a race to see who'll be able to recover the body first.::Dismal Angel
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BODJmY2Y2OGQtMDg2My00N2Q3LWJmZTUtYTc2ODBjZDVlNDlhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Stand by Me"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Eagle Mountain Ln, Burney, California 96013, United States
            </td>   
                <td class="table__cell">
                41.01613, -121.61633
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McCloud, California, United States
            </td>   
                <td class="table__cell">
                41.2557, -122.1394
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cottage Grove, Oregon, United States
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cottage Grove, Oregon, United States
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yreka Western Railroad, Yreka, California 96097, United States
            </td>   
                <td class="table__cell">
                41.7089828, -122.6364786
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                419 North Main Street, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.394635, -122.984712
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                School Avenue, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.39673, -122.98224
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Veneta, Oregon, United States
            </td>   
                <td class="table__cell">
                44.0487, -123.3509
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Eugene, Oregon, United States
            </td>   
                <td class="table__cell">
                44.0505, -123.0951
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cottage Grove, Oregon, United States
            </td>   
                <td class="table__cell">
                43.7975, -123.0589
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Franklin, Oregon, United States
            </td>   
                <td class="table__cell">
                44.1584, -123.3077
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                325 Fisher Street, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.39407, -122.98931
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burney, California, United States
            </td>   
                <td class="table__cell">
                40.8824, -121.6608
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Main Street, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.39265, -122.98418
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brownsville, Oregon, United States
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Holloway Heights, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.39429, -122.98686
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Territorial Highway and Franklin Road, Junction City, Oregon 97448, United States
            </td>   
                <td class="table__cell">
                44.156366, -123.3077018
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                25850 Tidball Lane, Veneta, Oregon 97487, United States
            </td>   
                <td class="table__cell">
                44.04958, -123.32322
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1152 Linn Way, Brownsville, Oregon 97327, United States
            </td>   
                <td class="table__cell">
                44.401691, -122.991003
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brownsville, Oregon, United States
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Huston Road, Veneta, Oregon 97487, United States
            </td>   
                <td class="table__cell">
                44.04788, -123.33092
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Royal Avenue, Eugene, Oregon 97402, United States
            </td>   
                <td class="table__cell">
                44.06998, -123.19945
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brownsville, Oregon, United States
            </td>   
                <td class="table__cell">
                44.3935, -122.9848
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                380 San Rafael Avenue, Pasadena, California 91105, United States
            </td>   
                <td class="table__cell">
                34.13727, -118.16959
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burney, California, United States
            </td>   
                <td class="table__cell">
                40.8824, -121.6608
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Junction City, Oregon, United States
            </td>   
                <td class="table__cell">
                44.2193, -123.2056
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McCloud, California, United States
            </td>   
                <td class="table__cell">
                41.2557, -122.1394
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yreka, California, United States
            </td>   
                <td class="table__cell">
                41.7326, -122.6378
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oregon, United States
            </td>   
                <td class="table__cell">
                44.0328841608, -120.281411696945
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[40.8824, -121.6608], [40.8824, -121.6608], [41.01613, -121.61633]], "data": [{"lat": 41.01613, "lon": -121.61633, "name": "Eagle Mountain Ln, Burney, California 96013, United States"}, {"lat": 41.2557, "lon": -122.1394, "name": "McCloud, California, United States"}, {"lat": 43.7975, "lon": -123.0589, "name": "Cottage Grove, Oregon, United States"}, {"lat": 43.7975, "lon": -123.0589, "name": "Cottage Grove, Oregon, United States"}, {"lat": 41.7089828, "lon": -122.6364786, "name": "Yreka Western Railroad, Yreka, California 96097, United States"}, {"lat": 44.394635, "lon": -122.984712, "name": "419 North Main Street, Brownsville, Oregon 97327, United States"}, {"lat": 44.39673, "lon": -122.98224, "name": "School Avenue, Brownsville, Oregon 97327, United States"}, {"lat": 44.0487, "lon": -123.3509, "name": "Veneta, Oregon, United States"}, {"lat": 44.0505, "lon": -123.0951, "name": "Eugene, Oregon, United States"}, {"lat": 43.7975, "lon": -123.0589, "name": "Cottage Grove, Oregon, United States"}, {"lat": 44.1584, "lon": -123.3077, "name": "Franklin, Oregon, United States"}, {"lat": 44.39407, "lon": -122.98931, "name": "325 Fisher Street, Brownsville, Oregon 97327, United States"}, {"lat": 40.8824, "lon": -121.6608, "name": "Burney, California, United States"}, {"lat": 44.39265, "lon": -122.98418, "name": "Main Street, Brownsville, Oregon 97327, United States"}, {"lat": 44.3935, "lon": -122.9848, "name": "Brownsville, Oregon, United States"}, {"lat": 44.39429, "lon": -122.98686, "name": "Holloway Heights, Brownsville, Oregon 97327, United States"}, {"lat": 44.156366, "lon": -123.3077018, "name": "Territorial Highway and Franklin Road, Junction City, Oregon 97448, United States"}, {"lat": 44.04958, "lon": -123.32322, "name": "25850 Tidball Lane, Veneta, Oregon 97487, United States"}, {"lat": 44.401691, "lon": -122.991003, "name": "1152 Linn Way, Brownsville, Oregon 97327, United States"}, {"lat": 44.3935, "lon": -122.9848, "name": "Brownsville, Oregon, United States"}, {"lat": 44.04788, "lon": -123.33092, "name": "Huston Road, Veneta, Oregon 97487, United States"}, {"lat": 44.06998, "lon": -123.19945, "name": "Royal Avenue, Eugene, Oregon 97402, United States"}, {"lat": 44.3935, "lon": -122.9848, "name": "Brownsville, Oregon, United States"}, {"lat": 34.13727, "lon": -118.16959, "name": "380 San Rafael Avenue, Pasadena, California 91105, United States"}, {"lat": 40.8824, "lon": -121.6608, "name": "Burney, California, United States"}, {"lat": 44.2193, "lon": -123.2056, "name": "Junction City, Oregon, United States"}, {"lat": 41.2557, "lon": -122.1394, "name": "McCloud, California, United States"}, {"lat": 41.7326, "lon": -122.6378, "name": "Yreka, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 44.0328841608, "lon": -120.281411696945, "name": "Oregon, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>