<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">A Beautiful Mind</h3>
                        <p class="card-text">
                          After John Nash, a brilliant but asocial mathematician, accepts secret work in cryptography, his life takes a turn for the nightmarish.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzcwYWFkYzktZjAzNC00OGY1LWI4YTgtNzc5MzVjMDVmNjY0XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="A Beautiful Mind"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Princeton, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.3493, -74.6593
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan College   Manhattan College Parkway, Riverdale, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.890535, -73.903015
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Belleville, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7937, -74.1501
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Newark, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7357, -74.1724
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fairleigh Dickinson University   285 Madison Avenue, Madison, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7598, -74.4171
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fordham University   441 E. Fordham Road. Rose Hill, Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.8593, -73.8985
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Jersey City, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7282, -74.0776
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bayonne, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.6687, -74.1143
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bronx Community College   University Avenue at West 181 Street, Bronx, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.85654, -73.90739
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                East Orange, New Jersey, USA
            </td>   
                <td class="table__cell">
                40.7673, -74.2049
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yonkers, New York, USA
            </td>   
                <td class="table__cell">
                40.9312, -73.8987
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>