<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Gold Rush</h3>
          <p class="card-text mb-0">


  <span > A prospector goes to the Klondike during the 1890s gold rush in hopes of making his fortune, and is smitten with a girl he sees in a dance hall.  </span>
                          <span > A lone prospector ventures into Alaska looking for gold. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm. -John J. Magee .  </span>
                          <span > The Little Tramp goes prospecting for gold in the Klondike. Conditions are harsh, there is little in the way of comfort or food and even less it seems in the way of gold. Thanksgiving dinner for himself and Big Jim Mckay consists of a boiled boot. Once in town, he meets the beautiful Georgia at the Monte Carlo dance hall. He finds himself in competition with the ladies man who has his eyes on Georgia as well. Meanwhile, Black Larsen - wanted by the police - tries to steal Big Jim McKay's claim. Big Jim tries to stop him but knocked unconscious, he loses his memory. Back in town, the little tramp tries to impress Georgia. When Big Jim arrives, he regains his memory and he and the Little Tramp set off to make their fortune. Sailing home as rich men, the Little Tramp has one more chance to unite with Georgia. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > During the Gold Rush, prospectors hoping to find fortune travel to Chilkoot Pass, a high mountain of harsh and dangerous conditions. Big Jim, a gold prospector has just discovered a massive stash of gold on his patch of land. When a blizzard strikes, and A Lone Prospector gets lost in the same storm, the two must fight for the territory. As they encounter one adventure after another, The Lone Prospector is lead to and eventually meets the love of his life. -Kyle Perez.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjEyOTE4MzMtNmMzMy00Mzc3LWJlOTQtOGJiNDE0ZmJiOTU4L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Gold Rush"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Sierra, Nevada, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.63</span>, <span class="lon">-119.9</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Colorado, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.190245999</span>, <span class="lon">-105.604997408086</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1 Iverson Lane, Chatsworth, California 91311, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.276</span>, <span class="lon">-118.60976</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Sacramento, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.581021</span>, <span class="lon">-121.4939328</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Truckee, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.328</span>, <span class="lon">-120.1833</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chatsworth, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2596</span>, <span class="lon">-118.6023</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.251081</span>, <span class="lon">-118.518444</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Stockton, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.9577</span>, <span class="lon">-121.2908</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.0544, -118.2439], [34.251081, -118.518444], [34.2596, -118.6023]], "data": [{"lat": 39.63, "lon": -119.9, "name": "Sierra, Nevada, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.190245999, "lon": -105.604997408086, "name": "Colorado, United States"}, {"lat": 34.276, "lon": -118.60976, "name": "1 Iverson Lane, Chatsworth, California 91311, United States"}, {"lat": 38.581021, "lon": -121.4939328, "name": "Sacramento, California, United States"}, {"lat": 39.328, "lon": -120.1833, "name": "Truckee, California, United States"}, {"lat": 34.2596, "lon": -118.6023, "name": "Chatsworth, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.251081, "lon": -118.518444, "name": "San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States"}, {"lat": 37.9577, "lon": -121.2908, "name": "Stockton, California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>