<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Rear Window</h3>
          <p class="card-text mb-0">


  <span > A wheelchair-bound photographer spies on his neighbors from his Greenwich Village courtyard apartment window, and becomes convinced one of them has committed murder, despite the skepticism of his fashion-model girlfriend.  </span>
                          <span > Professional photographer L.B. "Jeff" Jefferies breaks his leg while getting an action shot at an auto race. Confined to his New York apartment, he spends his time looking out of the rear window observing the neighbors. He begins to suspect that a man across the courtyard may have murdered his wife. Jeff enlists the help of his high society fashion-consultant girlfriend Lisa Fremont and his visiting nurse Stella to investigate. -Col Needham .  </span>
                          <span > L.B. "Jeff" Jefferies is an immobilized photo-journalist who, after breaking his leg photographing a racetrack accident, finds himself wheelchair bound and confined to the walls of his apartment. His rear window looks out onto a courtyard and several other apartments, where the binocular-wielding Jefferies spends his days as a voyeur spying on his neighbors. Jefferies gradually becomes more and more engrossed with this activity of his, and soon brings his girlfriend, Lisa, in on the thrill of his voyeurism. It's all fun and games for the two until they witness what they believe to be a murder in progress, becoming increasingly convinced as they continue to observe the apartment. -Kyle Perez.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Successful magazine photographer L.B. Jefferies - Jeff to his friends - is on week seven of eight of a cast on his broken leg sustained while on assignment, the problems being not only not able to work, but being confined to his Greenwich Village apartment over the course, now during a heatwave, with his only visitors being Stella, the acerbic-tongued insurance provided nurse, and socialite Lisa Fremont, a fashion reporter and his girlfriend. While he is aware that Lisa sees their relationship as *the* long term, Jeff is thinking about ending things with her in not seeing her following him around the globe in often less than comfortable situations while on assignment. With his apartment facing onto a courtyard surrounded by other apartment buildings, Jeff largely relieves his boredom by spying on his neighbors who have their windows wide open due to the heatwave, many whose stories, which he can only surmise by what he sees, are of a personal relationship nature: the lonely woman who tries to make her life less lonely, the dancer with many suitors who probably don't care about her beyond her sex appeal, a middle aged couple who owns the neighborhood dog lowered down to the courtyard garden on a pulley system, and a man, seemingly a salesman, caring for his bedridden female companion, probably his wife, they all often serenaded by a songwriter on a piano as he works. While they are both disgusted by his voyeuristic activities for different reasons, Jeff is able to convince both Stella and Lisa that, based solely on his behavior, that the salesman most likely murdered his wife by mutilation, seemingly for another woman. While he also tells his fellow war veteran friend, now Police Detective Tom Doyle, off the record, Tom, while indulging him to an extent, is only humoring him in believing his imagination going into overdrive in his boredom. Left to their own devices, Jeff, Lisa and Stella enter into a game of cat and mouse with the salesman to discover evidence, the salesman who they learn is named Lars Thorwald, that game which may become deadly if what they believe is indeed true and Thorwald feels like he is being cornered. -Huggo.  </span>
    <span class="additional-information" > Addicted to the guilty pleasure of peeking from behind his curtains, incapacitated photojournalist L.B. "Jeff" Jefferies has all the time in the world to peer through other people's lives in the comfort of his home. As Jeff indulges his voyeuristic tendencies from his rear window, confined to his upper-storey redbrick Manhattan apartment, his potent fascination turns into a strange obsession, and one day, something catches his eye. And, convinced he saw one of his neighbours commit murder in cold blood, restless Jeff draws his statuesque fashion-consultant girlfriend Lisa and his insurance nurse Stella into a dangerous conspiracy, where nothing is what it seems. However, was there a crime in the first place? With his broken bone healing in a leg cast, can Jeff unearth enough evidence to prove his far-fetched point? -Nick Riganas.  </span>
    <span class="additional-information" > Professional photographer L.B. "Jeff" Jefferies is a prisoner of sorts in his own apartment sporting a hip cast from one of his adventures. He has little to do and spends much of the time observing his neighbors, including a newlywed couple, a middle-aged woman who lives alone and a ballerina who seems to attract men without much effort. He becomes particularly interested in one neighbor, Lars Thorwald, a traveling salesman whose invalid wife spends much of her time in bed. When he sees Thorwald make several trips out of his apartment on a particularly rainy night, he begins to wonder what may be going on. The disappearance of his wife makes him think he may have murdered her. Jefferies has few visitors, but the elegant and beautiful Lisa Fremont, who is madly in love with him, sees him daily and while she is at first skeptical, soon comes around to his way of thinking. In order to get proof however, it will be necessary for her to enter Thorwald's apartment. -garykmcd.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGUxYWM3M2MtMGM3Mi00ZmRiLWE0NGQtZjE5ODI2OTJhNTU0XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rear Window"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Stage 18: Paramount Studios, 5555 Melrose Ave., Los Angeles, California 90038, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0851635625</span>, <span class="lon">-118.3194839375</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5555 Melrose Avenue, Los Angeles, California 90038, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08363</span>, <span class="lon">-118.32191</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Universal City Plz, Los Angeles, California 91608, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.14138</span>, <span class="lon">-118.35659</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.095884</span>, <span class="lon">-118.370965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.0544, -118.2439], [34.08363, -118.32191], [34.0851635625, -118.3194839375]], "data": [{"lat": 34.0851635625, "lon": -118.3194839375, "name": "Stage 18: Paramount Studios, 5555 Melrose Ave., Los Angeles, California 90038, United States"}, {"lat": 34.08363, "lon": -118.32191, "name": "5555 Melrose Avenue, Los Angeles, California 90038, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 34.095884, "lon": -118.370965, "name": "Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>