<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

       <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
         
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0050976" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOWM3MmE0OGYtOGVlNC00OWE1LTk5ZTAtYmUwMDIwM2ZlNWJiXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="The Seventh Seal" />
              <div class="card-body">
                <a href="/movie-locations/the-seventh-seal-0050976" class="stretched-link">
                  <p class="card-text text-center">
                    The Seventh Seal
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1392190" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BN2EwM2I5OWMtMGQyMi00Zjg1LWJkNTctZTdjYTA4OGUwZjMyXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Mad Max: Fury Road" />
              <div class="card-body">
                <a href="/movie-locations/mad-max-fury-road-1392190" class="stretched-link">
                  <p class="card-text text-center">
                    Mad Max: Fury Road
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0118715" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTQ0NjUzMDMyOF5BMl5BanBnXkFtZTgwODA1OTU0MDE@.jpg" class="card-img-top" alt="The Big Lebowski" />
              <div class="card-body">
                <a href="/movie-locations/the-big-lebowski-0118715" class="stretched-link">
                  <p class="card-text text-center">
                    The Big Lebowski
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="3011894" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGQzY2Y0MTgtMDA4OC00NjM3LWI0ZGQtNTJlM2UxZDQxZjI0XkEyXkFqcGdeQXVyNDUzOTQ5MjY@.jpg" class="card-img-top" alt="Wild Tales" />
              <div class="card-body">
                <a href="/movie-locations/wild-tales-3011894" class="stretched-link">
                  <p class="card-text text-center">
                    Wild Tales
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0198781" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTY1NTI0ODUyOF5BMl5BanBnXkFtZTgwNTEyNjQ0MDE@.jpg" class="card-img-top" alt="Monsters, Inc." />
              <div class="card-body">
                <a href="/movie-locations/monsters-inc-0198781" class="stretched-link">
                  <p class="card-text text-center">
                    Monsters, Inc.
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0073195" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg" class="card-img-top" alt="Jaws" />
              <div class="card-body">
                <a href="/movie-locations/jaws-0073195" class="stretched-link">
                  <p class="card-text text-center">
                    Jaws
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0395169" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZGJjYmIzZmQtNWE4Yy00ZGVmLWJkZGEtMzUzNmQ4ZWFlMjRhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Hotel Rwanda" />
              <div class="card-body">
                <a href="/movie-locations/hotel-rwanda-0395169" class="stretched-link">
                  <p class="card-text text-center">
                    Hotel Rwanda
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0075148" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNTBkMjg2MjYtYTZjOS00ODQ0LTg0MDEtM2FiNmJmOGU1NGEwXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Rocky" />
              <div class="card-body">
                <a href="/movie-locations/rocky-0075148" class="stretched-link">
                  <p class="card-text text-center">
                    Rocky
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0097165" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOGYwYWNjMzgtNGU4ZC00NWQ2LWEwZjUtMzE1Zjc3NjY3YTU1XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Dead Poets Society" />
              <div class="card-body">
                <a href="/movie-locations/dead-poets-society-0097165" class="stretched-link">
                  <p class="card-text text-center">
                    Dead Poets Society
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0046438" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYWQ4ZTRiODktNjAzZC00Nzg1LTk1YWQtNDFmNDI0NmZiNGIwXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Tokyo Story" />
              <div class="card-body">
                <a href="/movie-locations/tokyo-story-0046438" class="stretched-link">
                  <p class="card-text text-center">
                    Tokyo Story
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0091763" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzRjZjdlMjQtODVkYS00N2YzLWJlYWYtMGVlN2E5MWEwMWQzXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Platoon" />
              <div class="card-body">
                <a href="/movie-locations/platoon-0091763" class="stretched-link">
                  <p class="card-text text-center">
                    Platoon
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1950186" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BM2UwMDVmMDItM2I2Yi00NGZmLTk4ZTUtY2JjNTQ3OGQ5ZjM2XkEyXkFqcGdeQXVyMTA1OTYzOTUx.jpg" class="card-img-top" alt="Ford v Ferrari" />
              <div class="card-body">
                <a href="/movie-locations/ford-v-ferrari-1950186" class="stretched-link">
                  <p class="card-text text-center">
                    Ford v Ferrari
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0088247" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYTViNzMxZjEtZGEwNy00MDNiLWIzNGQtZDY2MjQ1OWViZjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Terminator" />
              <div class="card-body">
                <a href="/movie-locations/the-terminator-0088247" class="stretched-link">
                  <p class="card-text text-center">
                    The Terminator
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0092005" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODJmY2Y2OGQtMDg2My00N2Q3LWJmZTUtYTc2ODBjZDVlNDlhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Stand by Me" />
              <div class="card-body">
                <a href="/movie-locations/stand-by-me-0092005" class="stretched-link">
                  <p class="card-text text-center">
                    Stand by Me
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1979320" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOWEwODJmZDItYTNmZC00OGM4LThlNDktOTQzZjIzMGQxODA4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Rush" />
              <div class="card-body">
                <a href="/movie-locations/rush-1979320" class="stretched-link">
                  <p class="card-text text-center">
                    Rush
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">
         
          <nav aria-label="Movie Locations Top 250">
 
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/11" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/10">10</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/11">11</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/12">12</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/13">13</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/14">14</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/13" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
   
          </nav>
          
        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
</body>

</html>