<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Snatch</h3>
                        <p class="card-text">
                          Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond. Turkish and his close friend/accomplice Tommy get pulled into the world of match fixing by the notorious Brick Top. Things get complicated when the boxer they had lined up gets badly beaten by Mickey, who comes into the equation after Turkish, an unlicensed boxing promoter wants to buy a caravan off of Travellers. They then try to convince Mickey not only to fight for them, but to lose for them too. Whilst all this is going on, a huge diamond heist takes place, and a fistful of motley characters enter the story, including 'Cousin Avi', 'Boris The Blade', 'Franky Four Fingers' and 'Bullet Tooth Tony'. Things go from bad to worse as it all becomes about the money, the guns, and the damned dog.::Filmtwob <webmaster@filmfreak.co.za> Turkish, an unlicenced boxing promoter is pulled into trouble when he becomes involved in big time criminal Brick Top, who wants him to arrange a fight and fix it. Meanwhile, a diamond theft goes down but the 84 karat stone goes missing. This leads Avi, the boss who was supposed to receive the stone, to come to England to search for it, with the help of his cousin, Doug The Head and Bullet Tooth Tony. As events twist and turn, the two situations blend into one with a chain reaction of events carrying on for each and every character.::~^Æ~§íX~^Æ~
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTA2NDYxOGYtYjU1Mi00Y2QzLTgxMTQtMWI1MGI0ZGQ5MmU4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Snatch"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bunhill Fields, City Rd, London, England EC1Y 2BG, United Kingdom
            </td>   
                <td class="table__cell">
                51.523609500000006, -0.088375
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brightbox Marketing, 112-114 North Acton Road, London, England NW10 6QH, United Kingdom
            </td>   
                <td class="table__cell">
                51.530469, -0.259987
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Jolly Gardeners, 61-63 Lacy Rd, London, England SW15 1NT, United Kingdom
            </td>   
                <td class="table__cell">
                51.46463, -0.218567
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Streatham Hill, Lambeth, London, SW2 4TX, United Kingdom
            </td>   
                <td class="table__cell">
                51.440057, -0.125729
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bethnal Green, E2 9RD, Tower Hamlets, London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.5303456, -0.0561633
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Perivale Middlesex, Ealing, Greenford, UB6 8TW, United Kingdom
            </td>   
                <td class="table__cell">
                51.532266, -0.325234
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bethnal Green Road, Tower Hamlets, London, E2 0HG, United Kingdom
            </td>   
                <td class="table__cell">
                51.527149, -0.058469
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St Albans, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.7492956, -0.34225259999999996
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom
            </td>   
                <td class="table__cell">
                51.5483805, -0.5348885
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United Kingdom
            </td>   
                <td class="table__cell">
                54.2379333607472, -2.36966957036279
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[51.440057, -0.125729], [51.46463, -0.218567], [51.507321899999994, -0.12764739999999997]], "data": [{"lat": 51.523609500000006, "lon": -0.088375, "name": "Bunhill Fields, City Rd, London, England EC1Y 2BG, United Kingdom"}, {"lat": 51.530469, "lon": -0.259987, "name": "Brightbox Marketing, 112-114 North Acton Road, London, England NW10 6QH, United Kingdom"}, {"lat": 51.46463, "lon": -0.218567, "name": "The Jolly Gardeners, 61-63 Lacy Rd, London, England SW15 1NT, United Kingdom"}, {"lat": 51.440057, "lon": -0.125729, "name": "Streatham Hill, Lambeth, London, SW2 4TX, United Kingdom"}, {"lat": 51.5303456, "lon": -0.0561633, "name": "Bethnal Green, E2 9RD, Tower Hamlets, London, Greater London, England, United Kingdom"}, {"lat": 51.532266, "lon": -0.325234, "name": "Perivale Middlesex, Ealing, Greenford, UB6 8TW, United Kingdom"}, {"lat": 51.527149, "lon": -0.058469, "name": "Bethnal Green Road, Tower Hamlets, London, E2 0HG, United Kingdom"}, {"lat": 51.7492956, "lon": -0.34225259999999996, "name": "St Albans, Hertfordshire, England, United Kingdom"}, {"lat": 51.5483805, "lon": -0.5348885, "name": "Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>