<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Room</h3>
          <p class="card-text mb-0">


  <span > Held captive for 7 years in an enclosed space, a woman and her young son finally gain their freedom, allowing the boy to experience the outside world for the first time.  </span>
                          <span > ROOM tells the extraordinary story of Jack, a spirited 5-year-old who is looked after by his loving and devoted mother. Like any good mother, Ma dedicates herself to keeping Jack happy and safe, nurturing him with warmth and love and doing typical things like playing games and telling stories. Their life, however, is anything but typical--they are trapped--confined to a 10-by-10-foot space that Ma has euphemistically named Room. Ma has created a whole universe for Jack within Room, and she will stop at nothing to ensure that, even in this treacherous environment, Jack is able to live a complete and fulfilling life. But as Jack's curiosity about their situation grows, and Ma's resilience reaches its breaking point, they enact a risky plan to escape, ultimately bringing them face-to-face with what may turn out to be the scariest thing yet: the real world. -A24.  </span>
                          <span > Five year old Jack's entire life consists of his Ma and whatever he has where they live, Room. Room is an approximate ten by ten by ten foot cubed structure, out of which he's never been. Seven years ago, Ma - Joy Newsome, the daughter of Bob and Nancy Newsome - was abducted by "Old Nick", the man who is keeping them captive in Room, which is really a tool shed in his back yard, the shed's only door secured by a number coded keypad, the code which only Old Nick knows. They are dependent on Old Nick for their basic necessities, such as food, water, clothes and utilities. Whenever Old Nick does stay for extended visits in Room, Ma will not let Jack see him or visa versa, Jack who is supposed to hide "asleep" in the wardrobe. Old Nick has no desire to see his biological offspring anyway. To shield him from anything that is happening to them, Ma has told Jack that the two of them and Old Nick are the only real things, and that what Jack reads about in books or sees on television are all not real. Jack believes that Old Nick gets their food by magic from television. The only exposure they have to natural light is a skylight at the top of Room, out of which they can only see sky. Joy knows she can't kill Old Nick because they would still be locked in Room. Joy tried to escape only once before Jack was born, that attempt which failed and which resulted in her not having tried again... until now. She has made this decision to try to escape partly due to Jack's age where he can now understand things better, and an incident which showed Joy what were to happen if something truly did happen to Old Nick with them locked inside. If they are able to escape, not only would Jack be required to adjust to a life and a world he may have no comprehension about, but Joy may find that the outside world is much more difficult to adjust to than she imagines, and not only because of the changes to outside in seven years. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Five-year-old Jack's whole world is a confined, 11-by-11-foot locked space crammed with pictures, toys, and books: the Room. Of course, his young mother, too, is in the room, taking care of her only son and making sure nothing happens to him--especially when Old Nick visits them, and Jack starts hearing creaking sounds. However, one day, Ma says there is a place outside their chamber where houses, trees, people, and dogs are real: a marvellous realm where the air is fresh, and the sky is blue. Is she telling the truth? Is there, indeed, a life beyond the Room? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjE4NzgzNzEwMl5BMl5BanBnXkFtZTgwMTMzMDE0NjE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Room"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                5236 Dundas Street West, Toronto, Ontario M9B 1A7, Canada
            </td>
                <td class="table__cell">
                43.63932, -79.537841
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                550 Gerrard Street East, Toronto, Ontario M4M 1X7, Canada
            </td>
                <td class="table__cell">
                43.665282, -79.354723
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                100 Queen Street West, Toronto, Ontario M5H 2N1, Canada
            </td>
                <td class="table__cell">
                43.652831, -79.383628
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Toronto, Ontario, Canada
            </td>
                <td class="table__cell">
                43.653482, -79.383935
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Canada
            </td>
                <td class="table__cell">
                55.5859012851966, -105.750595856519
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Toronto, Ontario, Canada
            </td>
                <td class="table__cell">
                43.653482, -79.383935
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[43.63932, -79.537841], [43.652831, -79.383628], [43.653482, -79.383935]], "data": [{"lat": 43.63932, "lon": -79.537841, "name": "5236 Dundas Street West, Toronto, Ontario M9B 1A7, Canada"}, {"lat": 43.665282, "lon": -79.354723, "name": "550 Gerrard Street East, Toronto, Ontario M4M 1X7, Canada"}, {"lat": 43.652831, "lon": -79.383628, "name": "100 Queen Street West, Toronto, Ontario M5H 2N1, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 55.5859012851966, "lon": -105.750595856519, "name": "Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>