<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Taxi Driver</h3>
                        <p class="card-text">
                          A mentally unstable veteran works as a nighttime taxi driver in New York City, where the perceived decadence and sleaze fuels his urge for violent action.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2M1MmVhNDgtNmI0YS00ZDNmLTkyNjctNTJiYTQ2N2NmYzc2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Taxi Driver"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                87 Columbia Heights, Brooklyn, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.70002</span>, <span class="lon">-73.9954</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                202 East 13th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.732405</span>, <span class="lon">-73.987465</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                226 East 13th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.732015</span>, <span class="lon">-73.986715</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ed Sullivan Theater   1697 Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.763894</span>, <span class="lon">-73.98266</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                546 Columbus Ave., New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.78692</span>, <span class="lon">-73.97208</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                13 St between 2nd & 3rd Avenues, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.705949</span>, <span class="lon">-74.005156</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                737 8th Avenue, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76016</span>, <span class="lon">-73.98779</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                58th Street & 8th Avenue, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.636635</span>, <span class="lon">-74.008371</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                5th Ave & 19th St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.662469</span>, <span class="lon">-73.992255</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                214 W 42rd St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.75657</span>, <span class="lon">-73.98846</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                671 8th Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.75778</span>, <span class="lon">-73.989735</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.68917359673309</span>, <span class="lon">-73.9826731487689</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                657 West 57th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.77131</span>, <span class="lon">-73.99332</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                27 West 72nd Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.777155</span>, <span class="lon">-73.97743</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                110 3rd Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.732955</span>, <span class="lon">-73.98776</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                2 East 55th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.761305</span>, <span class="lon">-73.974455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1866 Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.874707</span>, <span class="lon">-73.909438</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                8th Avenue and 40th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6467231</span>, <span class="lon">-73.9978897</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                East 28th Street and Park Avenue South, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7433005</span>, <span class="lon">-73.9840243</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                208 West 38th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.747957</span>, <span class="lon">-73.975597</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Columbus Circle, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.768134</span>, <span class="lon">-73.98176175</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                152 West 51st Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76153</span>, <span class="lon">-73.98263</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1 Times Square, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.75538</span>, <span class="lon">-73.98665</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                725 7th Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.759965</span>, <span class="lon">-73.98377</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1886 Broadway, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.77078</span>, <span class="lon">-73.98203</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>