<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Taxi Driver</h3>
                        <p class="card-text">
                          A mentally unstable veteran works as a nighttime taxi driver in New York City, where the perceived decadence and sleaze fuels his urge for violent action.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2M1MmVhNDgtNmI0YS00ZDNmLTkyNjctNTJiYTQ2N2NmYzc2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Taxi Driver"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                87 Columbia Heights, Brooklyn, New York, USA 
            </td>   
                <td class="table__cell">
                40.70002, -73.9954
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                202 East 13th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.732405, -73.987465
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                226 East 13th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.732015, -73.986715
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ed Sullivan Theater   1697 Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.763894, -73.98266
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                546 Columbus Ave., New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.78692, -73.97208
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                13 St between 2nd & 3rd Avenues, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.705949, -74.005156
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                737 8th Avenue, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76016, -73.98779
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                58th Street & 8th Avenue, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.636635, -74.008371
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                5th Ave & 19th St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.662469, -73.992255
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                214 W 42rd St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.75657, -73.98846
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                671 8th Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.75778, -73.989735
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                657 West 57th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.77131, -73.99332
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                27 West 72nd Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.777155, -73.97743
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                110 3rd Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.732955, -73.98776
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2 East 55th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.761305, -73.974455
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1866 Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.874707, -73.909438
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8th Avenue and 40th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.6467231, -73.9978897
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                East 28th Street and Park Avenue South, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7433005, -73.9840243
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                208 West 38th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.747957, -73.975597
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Columbus Circle, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.768134, -73.98176175
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                152 West 51st Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76153, -73.98263
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1 Times Square, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.75538, -73.98665
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                725 7th Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.759965, -73.98377
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1886 Broadway, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.77078, -73.98203
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>