<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Gone with the Wind</h3>
                        <p class="card-text">
                          The manipulative daughter of a Georgia plantation owner conducts a turbulent romance with a roguish profiteer during the American Civil War and Reconstruction periods.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjUyZWZkM2UtMzYxYy00ZmQ3LWFmZTQtOGE2YjBkNjA3YWZlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gone with the Wind"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                North Little Rock, Arkansas, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.7695</span>, <span class="lon">-92.2671</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.3305706594</span>, <span class="lon">-83.2572560296474</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Big Bear Lake, Big Bear Valley, San Bernardino National Forest, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2441</span>, <span class="lon">-116.9102</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bidwell Park   Manzanita Avenue, Chico, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.7285</span>, <span class="lon">-121.8375</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Big Bear Valley, San Bernardino National Forest, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2441</span>, <span class="lon">-116.9102</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Busch Gardens   S. Grove Avenue, Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1476</span>, <span class="lon">-118.1445</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                San Bernardino National Forest, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.177186</span>, <span class="lon">-117.272712</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Calabasas, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1447</span>, <span class="lon">-118.6441</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chico, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.7285</span>, <span class="lon">-121.8375</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Malibu Lake, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.641535</span>, <span class="lon">-117.965895</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Simi Valley, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2694</span>, <span class="lon">-118.7815</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Selznick International Studios   9336 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.02448</span>, <span class="lon">-118.39238</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Old Mill Park, Little Rock, Arkansas, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.7465</span>, <span class="lon">-92.2896</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Arroyo Boulevard, Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.137595</span>, <span class="lon">-118.16583</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lasky Mesa, West Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1765941</span>, <span class="lon">-118.683986</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1476</span>, <span class="lon">-118.1445</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Agoura, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1431</span>, <span class="lon">-118.7379</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Metro Goldwyn Mayer Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.017275</span>, <span class="lon">-118.402347</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ahmanson Ranch, Victory Boulevard, Lasky Mesa, West Hills, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2032</span>, <span class="lon">-118.6455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Reuss Ranch, Malibu Lake, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0058</span>, <span class="lon">-118.807</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paradise Apple Orchard, Chico, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.7285</span>, <span class="lon">-121.8375</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paradise, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.7596</span>, <span class="lon">-121.6219</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Agoura Hills, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1364</span>, <span class="lon">-118.7745</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Northern California, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.613279</span>, <span class="lon">-122.058042</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                United Artists Studios   7200 Santa Monica Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.090713</span>, <span class="lon">-118.346243</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Woodland Hills, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1683</span>, <span class="lon">-118.6059</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pentz Road, Paradise, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.72543</span>, <span class="lon">-121.5758</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                West Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2032</span>, <span class="lon">-118.6455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.095884</span>, <span class="lon">-118.370965</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>