<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Fargo</h3>
          <p class="card-text mb-0">


  <span > Minnesota car salesman Jerry Lundegaard's inept crime falls apart due to his and his henchmen's bungling and the persistent police work of the quite pregnant Marge Gunderson.  </span>
                          <span > Jerry works in his father-in-law's car dealership and has gotten himself in financial problems. He tries various schemes to come up with money needed for a reason that is never really explained. It has to be assumed that his huge embezzlement of money from the dealership is about to be discovered by father-in-law. When all else falls through, plans he set in motion earlier for two men to kidnap his wife for ransom to be paid by her wealthy father (who doesn't seem to have the time of day for son-in-law). From the moment of the kidnapping, things go wrong and what was supposed to be a non-violent affair turns bloody with more blood added by the minute. Jerry is upset at the bloodshed, which turns loose a pregnant sheriff from Brainerd, MN who is tenacious in attempting to solve the three murders in her jurisdiction. -Anonymous.  </span>
                          <span > Jerry Lundegard is in an unknown financial jam and wants his father-in-law's money to solve it. His plan to get the money involves hiring Carl Showalter and Gaer Grimsrud to kidnap his wife, and then splitting the ransom with the criminals. However, this quickly falls apart after three killings and the persistent work of chirpy but efficient police chief, the pregnant Marge Gunderson.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A car salesman in Minneapolis, MN, Jerry Lundegard hires two criminals to kidnap his wife. Her father is wealthy and Jerry needs the money. However, things don't go according to plan and soon three people are dead outside of Brainerd, MN. The 7-month pregnant Sheriff of Brainerd, Marge Gunderson is soon on the case, and she is very intuitive and resourceful. -grantss.  </span>
    <span class="additional-information" > Jerry Lundegaard is in a financial jam and, out of desperation, comes up with a plan to hire someone to kidnap his wife and demand ransom from her wealthy father, to be secretly split between Jerry and the perpetrators. Jerry, who is not the most astute of individuals, hires a couple of real losers from the frozen northern reaches of Fargo, North Dakota for the job. Then things begin to slip from bad to worse as Jerry helplessly watches on. -Tad Dibbern .  </span>
    <span class="additional-information" > Jerry hires two men to kidnap his wife so he can get his rich father in law to pay the ransom of $1 million. Once the ransom is paid the kidnappers will get $40,000 and Jerry gets the rest. That's the plan, but what happens is something totally different. Blood is shed when a cop and two innocent people are killed. Marge Gunderson is the Chief who investigates the murders. While Marge investigates, Jerry gets involved in deeper problems, ranging from financial troubles, to threats from the kidnappers. -Lisa Walker.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDJiZDgyZjctYmRjMS00ZjdkLTkwMTEtNGU1NDg3NDQ0Yzk1XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Fargo"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fargo, North Dakota, United States
            </td>
                <td class="table__cell">
                46.8772, -96.7898
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Grafton, North Dakota, United States
            </td>
                <td class="table__cell">
                48.4122, -97.4106
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saint Louis Park, Minnesota, United States
            </td>
                <td class="table__cell">
                44.92, -93.34
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hitching Post Motel, 23855 Forest Blvd N, Forest Lake, Minnesota 55025, United States
            </td>
                <td class="table__cell">
                45.29435, -92.985011
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chanhassen Dinner Theatres, 501 W 78th St, Chanhassen, Minnesota 55317, United States
            </td>
                <td class="table__cell">
                44.86151, -93.5335
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                4801 W 50th St, Edina, Minnesota 55424, United States
            </td>
                <td class="table__cell">
                44.91107, -93.34811
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Stillwater, Minnesota, United States
            </td>
                <td class="table__cell">
                45.0564, -92.8135
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Mahtomedi, Minnesota, United States
            </td>
                <td class="table__cell">
                45.078739, -92.961446
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bathgate, North Dakota, United States
            </td>
                <td class="table__cell">
                48.8772, -97.4762
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Minneapolis–Saint Paul International Airport (MSP), 4300 Glumack Dr, Minneapolis, Minnesota 55111, United States
            </td>
                <td class="table__cell">
                44.882547, -93.21624349999999
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                May Avenue, Lime Springs, Minnesota 52155, United States
            </td>
                <td class="table__cell">
                43.500549, -92.309347
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Stockmen's Truckstop, 501 Farwell Ave, South St Paul, Minnesota 55075, United States
            </td>
                <td class="table__cell">
                44.883085, -93.026386
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Minneapolis, Minnesota, United States
            </td>
                <td class="table__cell">
                44.9773, -93.2655
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saint Louis Park, Minnesota, United States
            </td>
                <td class="table__cell">
                44.92, -93.34
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Northeast, Minneapolis, Minnesota, United States
            </td>
                <td class="table__cell">
                45.0134, -93.2486
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Richfield, Minnesota, United States
            </td>
                <td class="table__cell">
                44.8766, -93.2878
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Brainerd, Minnesota, United States
            </td>
                <td class="table__cell">
                46.358, -94.2008
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hallock, Minnesota, United States
            </td>
                <td class="table__cell">
                48.7744, -96.9464
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Willernie, Willernie, Minnesota 55090, United States
            </td>
                <td class="table__cell">
                45.055574, -92.9563305
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hitching Post Motel, 23855 Forest Blvd N, Forest Lake, Minnesota 55025, United States
            </td>
                <td class="table__cell">
                45.29435, -92.985011
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Minneapolis, Minnesota, United States
            </td>
                <td class="table__cell">
                44.9773, -93.2655
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Edina, Minnesota, United States
            </td>
                <td class="table__cell">
                44.8897, -93.3501
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Grand Forks, North Dakota, United States
            </td>
                <td class="table__cell">
                47.9078, -97.0592
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Minnesota, United States
            </td>
                <td class="table__cell">
                46.3434063154, -94.1991167709013
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[44.86151, -93.5335], [44.8766, -93.2878], [44.882547, -93.21624349999999]], "data": [{"lat": 46.8772, "lon": -96.7898, "name": "Fargo, North Dakota, United States"}, {"lat": 48.4122, "lon": -97.4106, "name": "Grafton, North Dakota, United States"}, {"lat": 44.92, "lon": -93.34, "name": "Saint Louis Park, Minnesota, United States"}, {"lat": 45.29435, "lon": -92.985011, "name": "Hitching Post Motel, 23855 Forest Blvd N, Forest Lake, Minnesota 55025, United States"}, {"lat": 44.86151, "lon": -93.5335, "name": "Chanhassen Dinner Theatres, 501 W 78th St, Chanhassen, Minnesota 55317, United States"}, {"lat": 44.91107, "lon": -93.34811, "name": "4801 W 50th St, Edina, Minnesota 55424, United States"}, {"lat": 45.0564, "lon": -92.8135, "name": "Stillwater, Minnesota, United States"}, {"lat": 45.078739, "lon": -92.961446, "name": "Mahtomedi, Minnesota, United States"}, {"lat": 48.8772, "lon": -97.4762, "name": "Bathgate, North Dakota, United States"}, {"lat": 44.882547, "lon": -93.21624349999999, "name": "Minneapolis\u2013Saint Paul International Airport (MSP), 4300 Glumack Dr, Minneapolis, Minnesota 55111, United States"}, {"lat": 43.500549, "lon": -92.309347, "name": "May Avenue, Lime Springs, Minnesota 52155, United States"}, {"lat": 44.883085, "lon": -93.026386, "name": "Stockmen\u0027s Truckstop, 501 Farwell Ave, South St Paul, Minnesota 55075, United States"}, {"lat": 44.9773, "lon": -93.2655, "name": "Minneapolis, Minnesota, United States"}, {"lat": 44.92, "lon": -93.34, "name": "Saint Louis Park, Minnesota, United States"}, {"lat": 45.0134, "lon": -93.2486, "name": "Northeast, Minneapolis, Minnesota, United States"}, {"lat": 44.8766, "lon": -93.2878, "name": "Richfield, Minnesota, United States"}, {"lat": 46.358, "lon": -94.2008, "name": "Brainerd, Minnesota, United States"}, {"lat": 48.7744, "lon": -96.9464, "name": "Hallock, Minnesota, United States"}, {"lat": 45.055574, "lon": -92.9563305, "name": "Willernie, Willernie, Minnesota 55090, United States"}, {"lat": 45.29435, "lon": -92.985011, "name": "Hitching Post Motel, 23855 Forest Blvd N, Forest Lake, Minnesota 55025, United States"}, {"lat": 44.9773, "lon": -93.2655, "name": "Minneapolis, Minnesota, United States"}, {"lat": 44.8897, "lon": -93.3501, "name": "Edina, Minnesota, United States"}, {"lat": 47.9078, "lon": -97.0592, "name": "Grand Forks, North Dakota, United States"}, {"lat": 46.3434063154, "lon": -94.1991167709013, "name": "Minnesota, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>