<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Inglourious Basterds</h3>
          <p class="card-text mb-0">


  <span > In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.  </span>
                          <span > In German-occupied France, young Jewish refugee Shosanna Dreyfus witnesses the slaughter of her family by Colonel Hans Landa. Narrowly escaping with her life, she plots her revenge several years later when German war hero Fredrick Zoller takes a rapid interest in her and arranges an illustrious movie premiere at the theater she now runs. With the promise of every major Nazi officer in attendance, the event catches the attention of the "Basterds", a group of Jewish-American guerrilla soldiers led by the ruthless Lt. Aldo Raine. As the relentless executioners advance and the conspiring young girl's plans are set in motion, their paths will cross for a fateful evening that will shake the very annals of history. -The Massie Twins.  </span>
                          <span > During World War II a group of American soldiers are sent into Europe to kill Nazis. They've become so good at it that the Germans refer to them as The Basterds. Later, they work with a British officer who was sent to formalize a plan to kill several high ranking German officers at the premiere of a movie depicting the "heroics" of a German soldier. But something goes wrong at the meeting with their contact, a German actress, all of the members of the team who speak German are killed which complicates the plans. So the leader Lt. Raine comes up with an alternative. And another complication is the screening is being moved to a small theater because the man depicted in the movie takes a liking to the owner of the theater. And unknown to them, she is a Jew whose entire family was killed by a Nazi officer, who was tasked with rounding up the Jews and is now the security officer of the screening. And also unknown is that she has her own plans. -rcs0411@yahoo.com.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > It's WWII, the battleground, Nazi-occupied France. The Nazis are doing whatever they need to to flush out and exterminate Jews, the most proficient and prolific of the Jew hunters being the sadistic SS Colonel Hans Landa. As such, the American military forms a unit, led by Lieutenant Aldo Raine and comprised of eight Jews, to kill as many Nazis as possible. Raine requests each of his men to bring him the scalp of at least 100 Nazis apiece. He has his own method of ensuring that those Nazis he does allow or need to let go free are scarred for life. In Paris in 1944, Joseph Goebbels, the Nazi's chief propaganda master and filmmaker, plans to debut his latest film, "Nation's Pride". The film, based on the victorious military exploits of Private Fredrick Zoller, stars Zoller as himself. Because of his attraction to its pretty proprietress Emmanuelle Mimieux, Zoller convinces Goebbels and the Nazi brass to hold the premiere at Mimieux's cinema. Landa is to act as chief of security for the event. When the Americans get wind of the screening and the fact that most of the Nazi highers-up will be in attendance, Raine's team is tasked with blowing up the cinema during the screening. They are assisted by renowned German actress, Bridget von Hammersmark, who has been working as a spy for the British. They believe luck is on their side when they learn that Hitler himself is scheduled to attend. Beyond being found out, Raine's team face two as of yet unknown issues. The first is Mimieux, who is really Shoshanna Dreyfus, a Jew who saw her family brutally murdered by Landa four years earlier, and who may have her own plans for Landa and the Nazis. The second is Landa, who beyond his up front mission, has another more personal mission for his life post-war unknown to anyone but himself. -Huggo.  </span>
    <span class="additional-information" > 1941, Nazi-occupied France. After witnessing the brutal massacre of her family at the hands of the evil SS officer, Colonel Hans Landa, the young Jewish refugee, Shosanna Dreyfus, swears revenge. Three long years later, the feared German sniper and protagonist in a Joseph Goebbels propaganda film, Fredrick Zoller, takes a shine to Shosanna, now operating a cinema in Paris. But, with the film's premiere just around the corner, rumoured to catch the attention of Adolf Hitler himself, Lieutenant Aldo Raine's Basterds--a Jewish-American suicide squad riding France of Nazis--are determined to seize the golden opportunity to crash their party. And soon, the memory of a blood-stained past paired with the prospect of a better future will pave the way for the ultimate vengeance. Who shall live and who shall die in the private screening of death? -Nick Riganas.  </span>
    <span class="additional-information" > During World War II, Lt. Aldo Raine leads his squad of Jewish-American soldiers behind enemy lines in Nazi occupied France. Their job is simple: kill the enemy. They also have a particularly violent approach to what they do scalping their victims. Soon they are known and feared throughout the German army. In Paris, Shosanna runs a cinema and through a chance meeting with a German war hero, is selected to host the premiere of one of Dr. Josef Goebbels propaganda film. With all of the German high command scheduled to attend - including Hitler, Goering and Martin Bormann - it seems like the ideal opportunity for Lt. Raine and his men to bring the war to a quick end. Shosanna, who is Jewish and whose parents and siblings were killed before her eyes, also has her own plans for the evening's festivities. When she realizes that the man who killed her family Colonel Hans Landa, known as the Jew Hunter, will also be there it makes her own plans complete. -garykmcd.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Inglourious Basterds"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Görlitz, Saxony, Germany
            </td>
                <td class="table__cell">
                51.15278, 14.98722
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Studio Babelsberg, August-Bebel-Str. 26-53, Potsdam, Brandenburg 14482, Germany
            </td>
                <td class="table__cell">
                52.387806, 13.120573
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bad Schandau, Saxony, Germany
            </td>
                <td class="table__cell">
                50.91667, 14.15
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saxony, Germany
            </td>
                <td class="table__cell">
                51.02694, 13.35889
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Rüdersdorf bei Berlin, Brandenburg, Germany
            </td>
                <td class="table__cell">
                52.47167, 13.78444
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fort Hahneberg, Hahnebergweg 50, Berlin, 13591, Germany
            </td>
                <td class="table__cell">
                52.522037, 13.141938
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nauen, Brandenburg, Germany
            </td>
                <td class="table__cell">
                52.6, 12.88306
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sebnitz, Saxony, Germany
            </td>
                <td class="table__cell">
                50.96667, 14.28333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Babelsberg Nord, Potsdam, Brandenburg, Germany
            </td>
                <td class="table__cell">
                52.396806, 13.102277
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kramnitz, Lindow, Brandenburg, Germany
            </td>
                <td class="table__cell">
                52.994694, 12.958985
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marlene-Dietrich-Halle, Joseph-von-Sternberg-Str., Potsdam, Brandenburg 14482, Germany
            </td>
                <td class="table__cell">
                52.387158, 13.119628
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[50.91667, 14.15], [50.96667, 14.28333], [51.02694, 13.35889]], "data": [{"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 51.15278, "lon": 14.98722, "name": "G\u00f6rlitz, Saxony, Germany"}, {"lat": 52.387806, "lon": 13.120573, "name": "Studio Babelsberg, August-Bebel-Str. 26-53, Potsdam, Brandenburg 14482, Germany"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 50.91667, "lon": 14.15, "name": "Bad Schandau, Saxony, Germany"}, {"lat": 51.02694, "lon": 13.35889, "name": "Saxony, Germany"}, {"lat": 52.47167, "lon": 13.78444, "name": "R\u00fcdersdorf bei Berlin, Brandenburg, Germany"}, {"lat": 52.522037, "lon": 13.141938, "name": "Fort Hahneberg, Hahnebergweg 50, Berlin, 13591, Germany"}, {"lat": 52.6, "lon": 12.88306, "name": "Nauen, Brandenburg, Germany"}, {"lat": 50.96667, "lon": 14.28333, "name": "Sebnitz, Saxony, Germany"}, {"lat": 52.396806, "lon": 13.102277, "name": "Babelsberg Nord, Potsdam, Brandenburg, Germany"}, {"lat": 52.994694, "lon": 12.958985, "name": "Kramnitz, Lindow, Brandenburg, Germany"}, {"lat": 52.387158, "lon": 13.119628, "name": "Marlene-Dietrich-Halle, Joseph-von-Sternberg-Str., Potsdam, Brandenburg 14482, Germany"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>