<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/head`, {pageTitle: 'Home'}); -%>
    <body>
      <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
      <noscript>
        <h3>Please enable JavaScript in order to view this site properly.</h3>
      </noscript>

      <main class="form-signin">
        <section class="vh-100 gradient-custom">
          <div class="container h-100">
            <div
              class="row d-flex justify-content-center align-items-center
              h-100">

              <div class="col-12 col-md-8 col-lg-6 col-xl-6 position-relative" id="login-container">
                <div id="login-form"
                  class="card bg-dark text-white"
                  style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                      <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                      <p class="text-white-50 mb-5">
                        Please enter your login and password!
                      </p>

                      <div class="vstack gap-2 mx-auto">
                        <button
                          class="btn btn-outline-light btn-lg px-5 mb-2"
                          type="submit">
                          Sign in With Email
                        </button>
                        <button id="google-sign-in" class="btn btn-outline-light
                          btn-lg px-5" type="button">

                          <i class="fab fa-google fa-lg"></i>
                        </button>
                      </div>



                    </div>

                    <div>
                      <p class="mb-0">
                        Don't have an account?
                        <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include(`${partials}/scripts.ejs`); -%>

        <script>



    </script>
      </body>
    </html>
