<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Fight Club</h3>
                        <p class="card-text">
                          An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Fight Club"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                240 North Neptune Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.773259, -118.268456
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                217 Figueroa Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.056268, -118.253413
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St. Brendan's Catholic Church   310 S. Van Ness Avenue, Hancock Park, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0685, -118.31483
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 15, 20th Century Fox Studios   10201 Pico Blvd., Century City, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                325 West 8th Street   Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04443, -118.25542
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                123 South Figueroa Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.05758, -118.2532
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1331 B Street, Wilmington, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.77064, -118.27834
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tower Theatre   802 S. Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.018158, -118.48982
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                421 W. Eighth Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04046, -118.25048
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Melrose Avenue at North Heliotrope Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.085376, -118.352768
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                505 North Avalon Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.77581, -118.262405
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                330 West 8th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04421, -118.255685
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                150 World Way, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.94737, -118.40125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Center Studios   450 S. Bixel Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.055789, -118.2609
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Olympic Theatre   313 W. Eighth Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.041007, -118.251351
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Pedro, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.88105, -118.26406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 16, 20th Century Fox Studios   10201 Pico Blvd., Century City, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Theatre   615 S. Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04634, -118.25255
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hancock Park, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0678, -118.3326
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Century City, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0556, -118.4179
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4313 Melrose Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.083589, -118.294576
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ukrainian Culture Center   4315 Melrose Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.083648, -118.294594
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4323 Melrose Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0837, -118.29472
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wilmington, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.87155, -118.23678
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05, -118.23
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>