<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Sorcerer</h3>
                        <p class="card-text">
                          Four unfortunate men from different parts of the globe agree to risk their lives transporting gallons of nitroglycerin across dangerous Latin American jungle.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZTE4Zjc2MWQtZTYzNS00ZjJmLWFhYWUtMGI0M2ZkOWRhYWJjXkEyXkFqcGdeQXVyMjYzNDExNzU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Sorcerer"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Bisti De Na Zin Wilderness, New Mexico, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.3250603</span>, <span class="lon">-107.9818743</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Papaloapan River, Veracruz, Mexico 
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.107355</span>, <span class="lon">-96.105705</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Place Vendôme, Paris 1, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.8675</span>, <span class="lon">2.3294</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Zócalo, Veracruz, Veracruz, Mexico 
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.200288</span>, <span class="lon">-96.13849</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Angel Peak National Recreation Area, Bloomfield, New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.7111</span>, <span class="lon">-107.9845</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alto Gracia, Dominican Republic
            </td>   
                <td class="table__cell">
                <span class="lat"> 18.726245149</span>, <span class="lon">-68.91648137</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pré Catelan, Bois de Boulogne, Paris 16, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.85658</span>, <span class="lon">2.35183</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jerusalem, Israel
            </td>   
                <td class="table__cell">
                <span class="lat"> 31.77331512</span>, <span class="lon">35.18679028</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                66 Avenue Foch, Paris 16, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.85658</span>, <span class="lon">2.35183</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Veracruz, Veracruz, Mexico
            </td>   
                <td class="table__cell">
                <span class="lat"> 19.19028</span>, <span class="lon">-96.15333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elizabeth, New Jersey, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.664</span>, <span class="lon">-74.2107</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                La Bourse, Paris 2, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.85658</span>, <span class="lon">2.35183</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chambre de Commerce av Fiedland Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 50.313785</span>, <span class="lon">7.628511</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paris, France
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.85658</span>, <span class="lon">2.35183</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.32485649</span>, <span class="lon">-105.998350627305</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>