<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Django Unchained</h3>
                        <p class="card-text">
                          With the help of a German bounty-hunter, a freed slave sets out to rescue his wife from a brutal plantation-owner in Mississippi.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjIyNTQ5NjQ1OV5BMl5BanBnXkFtZTcwODg1MDU4OA@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Django Unchained"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Evergreen Plantation, 4677 Highway 18, Edgard, Louisiana, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.2699</span>, <span class="lon">-91.1993</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jackson Hole, Wyoming, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.482938</span>, <span class="lon">-110.762321</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alabama Hills, Lone Pine, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.60179</span>, <span class="lon">-118.08127</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lone Pine, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.606</span>, <span class="lon">-118.0629</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ahmanson Ranch, Victory Boulevard, Lasky Mesa, West Hills, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2032</span>, <span class="lon">-118.6455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Melody Ranch   24715 Oak Creek Avenue, Newhall, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.3847</span>, <span class="lon">-118.5309</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Whitney Plantation, 5099 Highway 18, Wallace, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.0433</span>, <span class="lon">-90.6673</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New Orleans, Louisiana, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.9499</span>, <span class="lon">-90.0701</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Second Line Stages, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.931746</span>, <span class="lon">-90.069966</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Independence, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.013698</span>, <span class="lon">-118.495361</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santa Clarita, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.42</span>, <span class="lon">-118.54</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Louisiana, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.93749930159</span>, <span class="lon">-92.305998069584</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.0743595873</span>, <span class="lon">-119.699375153073</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Simi Valley, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2694</span>, <span class="lon">-118.7815</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>