<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Matrix</h3>
                        <p class="card-text">
                          When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Matrix"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nashville, Tennessee, USA 
            </td>   
                <td class="table__cell">
                36.1622, -86.7744
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sydney, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.868, 151.21
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Redfern, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.89334, 151.20461
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.7648, -122.463
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sydney Central Business District, Sydney, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.865711, 151.211617
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Colonial State Bank Centre, Martin Place, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.868, 151.21
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Westin Hotel, Martin Place, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.8677115, 151.21011149999998
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fox Studios, Moore Park, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.892398, 151.226592
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Forty One Restaurant, Chifley Tower, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.96257, 151.2459
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                AON Tower, Kent Street, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.906331, 151.2581882
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                BT Tower, Market Street, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.9056746, 151.2463298
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Corner of Pitt, O'Connell and Hunter Streets, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.868, 151.21
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hickson Road, Millers Point, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.8571872, 151.20515805
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rozelle, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.8649, 151.167
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Waterloo, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.9004, 151.20664
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                White Bay Studios, Balmain, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.861325, 151.281734
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Museum Underground Station, Hyde Park, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.873447, 151.21119850000002
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Martin Place Fountain, Martin Place, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.867764, 151.210526
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pittwater, Broken Bay, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.59, 151.32
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Surry Hills, Sydney, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.884423, 151.206742
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Allianz Building, Market Street, Sydney, New South Wales, Australia 
            </td>   
                <td class="table__cell">
                -33.9056746, 151.2463298
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chippendale, Sydney, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.8863, 151.2
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>