<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">2001: A Space Odyssey</h3>
                        <p class="card-text">
                          The Monoliths push humanity to reach for the stars; after their discovery in Africa generations ago, the mysterious objects lead mankind on an awesome journey to Jupiter, with the help of H.A.L. 9000: the world's greatest supercomputer.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmNlYzRiNDctZWNhMi00MzI4LThkZTctMTUzMmZkMmFmNThmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="2001: A Space Odyssey"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Isle of Harris, Western Isles, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">MGM British Studios, Borehamwood, Hertfordshire, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Harris, Western Isles, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Spitzkoppe, Erongo, Namibia::('The Dawn of Man' sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shepperton Studios, Shepperton, Surrey, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Monument Valley, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Monument Valley, Utah, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Borehamwood, Hertfordshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Spitzkoppe Mountains, Erongo, Namibia::('The Dawn of Man' sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Namibia::('The Dawn of Man' sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Namib Desert, Namibia::('The Dawn of Man' sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">H Stage, Shepperton Studios, Shepperton, Surrey, England, UK::(Tycho Crater excavation)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 3, MGM British Studios, Borehamwood, Hertfordshire, England, UK::("Dawn of Man" sequence)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>