<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Amadeus</h3>
                        <p class="card-text">
                          The life, success and troubles of Wolfgang Amadeus Mozart, as told by Antonio Salieri, the contemporaneous composer who was insanely jealous of Mozart's talent and claimed to have murdered him.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNWJlNzUzNGMtYTAwMS00ZjI2LWFmNWQtODcxNWUxODA5YmU1XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Amadeus"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Barrandov Studios, Prague, Czech Republic::(studio) (Volkstheater, Hospital Room, Mozart's Apartment and Staircase sets)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hradcany Square, Hradcany, Prague, Czech Republic::(The Emperor's Palace)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wien Südbahnhof - Wiedner Gürtel 1, Favoriten, Vienna, Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tyl Theatre, Plzen, Czech Republic::(concert and opera staged)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hradcanske Námestí, Hradcany, Prague, Czech Republic::(exteriors: Mozart's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Estates Theatre, Ovocný trh 1, Old Town, Prague, Czech Republic::(Estates Theatre - The Marriage of Figaro conducted by Mozart)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gryspek Palace, Hradcany Square, Hradcany, Prague, Czech Republic::(The Emperor's Palace)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Old Town, Prague, Czech Republic::(18th Century Vienna)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palace of the Grand Prior of the Knights of Malta, Maltese Square, Malá Strana, Prague, Czech Republic::(Scenes with Salieri)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St Giles' Church, Husova Street, Old Town, Prague, Czech Republic::(Mozart's wedding)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Monte Argentario, Grosseto, Tuscany, Italy::(Salieri's flashback in Italy)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Archbishop's Palace, Kromeríz, Czech Republic::(Salieri first meeting with Mozart)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Maltese Square, Malá Strana, Prague, Czech Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Malá Strana, Prague, Czech Republic::(Period Backdrops)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Château de Guermantes, Seine-et-Marne, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kromeríz, Czech Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">France</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>