<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Amélie</h3>
                        <p class="card-text">
                          Amélie is an innocent and naive girl in Paris with her own sense of justice. She decides to help those around her and, along the way, discovers love.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDg4NjM1YjMtYmNhZC00MjM0LWFiZmYtNGY1YjA3MzZmODc5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Amélie"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Rue des Trois-Frères, Paris 18, Paris, France::(Amelie's home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Café des Deux Moulins, 15 rue Lepic, Paris 18, Paris, France::(café where Amelie works)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cologne, North Rhine-Westphalia, Germany::(studio) (studio: apartment interiors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rue Mouffetard, Paris 5, Paris, France::(Dominique Bretodeau walks through the street to the phone booth)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Radio Ciné Rire, 11 boulevard Saint-Martin, Paris 3, Paris, France::(Amélie buys a Zorro disguise in a joke shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Canal Saint-Martin, Paris 10, Paris, France::(Amélie throws rocks over a water canal lock)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gare de l'Est, Place du 11 novembre 1918, Paris 10, Paris, France::(station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Grand escalier de Montmartre, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rue Ernest Roche, Paris 17, Paris, France::(Amélie and Nino on a scooter)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Le Verre à Pied Bar, 118 Rue Mouffetard, Paris, France::(Bar where Amélie eavesdrops on Bretodeau sharing the story)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Station de métro Abbesses, Paris 18, Paris, France::(subway)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gare de Lyon, Paris 12, Paris, France::(station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gare du Nord, 112 rue de Maubeuge, Paris 10, Paris, France::(station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lamarck-Caulaincourt, Paris Metro, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Montmartre, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Porte des Lilas, Le Métro, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rue Lepic, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Basilique du Sacré-Coeur, 35 rue Chevalier de la Barre, Paris 18, Paris, France::(Amélie asks herself questions over the rooftop and other scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Strasbourg St. Denis, Paris 10, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Maison des Associations, 3 rue Saint-Lambert, Eaubonne, Val-d'Oise, France::(Amélie disconnects her neighbor's aerial)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Épicerie "Au Marché de la Butte", 56 rue des Trois Frères, Paris 18, Paris, France::(scenes in Collignon's grocer's shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cinéma Studio 28, 10 rue Tholoze, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Acqueduc de la Vanne, Arcueil, Val-de-Marne, France::(Amélie looks for Collignon's parents' house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Près de l'Acqueduc romain, Cachan, Val-de-Marne, France::(Amélie calls on her father)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pont des Arts, Paris 1, Paris, France::(aménie in total harmony after her first good deed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sex Shop "Tchiki Boom", 71 boulevard de Clichy, Paris 18, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3-7 Allée Chevillard, Eaubonne, Val-d'Oise, France::(Amélie's father's home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Notre Dame Cathedral, Paris, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rue Pierre Brossollette, Eaubonne, Val-d'Oise, France::(Amélie as a child witnesses an accident)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gare d' Ermont-Eaubonne, rue des Bussys, Ermont, Val-d'Oise, France::(railway station doubling as Enghien-les-Bains station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rue Saint-Vincent, Paris 18, Paris, France::(a blue-bottle fly lands in Rue Saint-Vincent)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ancienne station de métro Porte des Lilas Cinéma, Paris 19, Paris, France::(homeless people in the subway) (Amélie first meets Nino)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Enghien-les-Bains, Val-d'Oise, France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">On a bridge over Canal Saint-Martin, Paris 10, Paris, France::(Amélie skips rocks on the canal water) (Amélie releases her goldfish into the canal)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">MMC Studios, Cologne, North Rhine-Westphalia, Germany::(Amèlie's apartment interiors; tunnel of horror interiors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sq. Saint-Pierre, Alfortville, France::(By the 18th century carousel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mir Je T'Aime, Square Jehan Rictus, Paris, France::(tiled wall with love messages)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">La Chapelle, Paris 10, Paris, France::(subway)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">France</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paris 11, Paris, France::(scene in a typical stairwell)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paris, France</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>