<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Barry Lyndon</h3>
                        <p class="card-text">
                          An Irish rogue wins the heart of a rich widow and assumes her dead husband's aristocratic position in 18th-century England.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNmY0MWY2NDctZDdmMi00MjA1LTk0ZTQtZDMyZTQ1NTNlYzVjXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Barry Lyndon"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Blenheim Palace, Woodstock, Oxfordshire, England, UK::(water garden)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carton House, Maynooth, County Kildare, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chatsworth House, Edensor, Derbyshire, England, UK::(Castle Hackton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kells, County Meath, Ireland::(English redcoat army scenes: regiment training)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cahir Castle, County Tipperary, Ireland::(as a German military encampment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Guildhall, Lavenham, Suffolk, England, UK::(The inn in which Barry is treated after the duel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Royal Victoria Park, Bath, Somerset, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dunrobin Castle, Sutherland, Scotland, UK::(as the 'spa' in Belgium where Barry meets Lady Lyndon)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Potsdam, Brandenburg, Germany::(only exteriors of Sans-Souci)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Huntington Castle, Clonegal, County Carlow, Ireland::(John Quinn courting Nora Brady)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Somerset Rural Life Museum, Abbey Farm, Glastonbury, Somerset, England, UK::(duel between Barry Lyndon and Bullingdon)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baden-Württemberg, Germany::(multiple exteriors of castles)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carrick-on-Suir, County Tipperary, Ireland::(Redmond Barry enlists in the army)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castle Howard, York, North Yorkshire, England, UK::(Castle Hackton - exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sans-Souci, Potsdam, Brandenburg, Germany::(only exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shell Cottage, Carton Estate, Maynooth, Co. Kildare, Ireland::(Barry is seduced by his cousin, Nora Brady, after playing cards.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castle Hohenzollern, Hechingen, Baden-Württemberg, Germany::(only exterior) (castle where Balibari and Barry operate gambling)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Corsham Court, Wiltshire, England, UK::(interior - where Barry scuffles with his stepson)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hechingen, Baden-Württemberg, Germany::(Castle Hohenzollern)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Longleat House, Wiltshire, England, UK::(interiors: Barry's company refused by Lord Wendover)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ludwigsburg Castle, Ludwigsburg, Baden-Württemberg, Germany::(as Balibari's palace courtyard)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ludwigsburg, Baden-Württemberg, Germany::(Ludwigsburg Castle)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Petworth House, Petworth, West Sussex, England, UK::(chapel: wedding)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Powerscourt, County Wicklow, Ireland::(interiors: Barry given the mission to spy on Balibari)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rathgormack, County Waterford, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stourhead Garden, Warminster, Wiltshire, England, UK::(Hackton gardens: Barry reminded by his mother that nothing belongs to him)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wilton House, Wilton, Salisbury, Wiltshire, England, UK::(Castle Hackton - interiors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Glenpatrick, County Waterford, Ireland::(Redcoats parade)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Compton Acres, Poole, Dorset, England, UK::(Barry sees Lady Lyndon for the first time)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Compton Castle, Marlton, Devon, England, UK::(Lord Bullingdon's castle)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chavenage House, Tetbury, Gloucestershire, England, UK::(Pub where Barry's Leg is amputated)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Coneysthorpe, North Yorkshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dublin Castle, Dublin, County Dublin, Ireland::(hotel - casino) (interiors: Balibari's palace)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Petworth, West Sussex, England, UK::(chapel: wedding)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Salisbury, Wiltshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Warminster, Wiltshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wilton, Salisbury, Wiltshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">County Dublin, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">County Kilkenny, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">County Meath, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">County Tipperary, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">County Waterford, Ireland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Sussex, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wiltshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Templemichael Castle, County Waterford, Ireland::(duel between Barry and Quinn)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Yorkshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">UK</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>