<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Before Sunrise</h3>
                        <p class="card-text">
                          A young man and woman meet on a train in Europe, and wind up spending one evening together in Vienna. Unfortunately, both know that this will probably be their only night together.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDdiZTAwYzAtMDI3Ni00OTRjLTkzN2UtMGE3MDMyZmU4NTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Before Sunrise"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Café Sperl, Gumpendorfer Strasse 11, Vienna, Austria::(telephone role-play scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Riesenrad, Prater, Vienna, Austria::(Jesse and Celine's first kiss)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kleines Café, Franziskanerplatz 3, Vienna, Austria::(palmreading scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Maria Theresien Platz, Vienna, Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Friedhof der Namenlosen, Alberner Hafen, Vienna, Austria::(cemetery scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arena Wien, Baumgasse 80, Vienna, Austria::(club scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Maria Am Gestade, Passauer Platz, Vienna, Austria::(church scene, exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pressgasse 4, Vienna, Austria::(harpsichord scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wien Westbahnhof, Europaplatz, Rudolfsheim-Fünfhaus, Vienna, Austria::(train station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Vienna, Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Teuchtler Schallplattenhandlung, Windmühlgasse 10, Vienna, Austria::(record shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Zollamtssteg Bridge, Vienna, Austria::(where Jesse and Celine meet the amateur actors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Albertina Palais Museum, Augustinerstrasse 1, Vienna, Austria::(Jesse reciting poetry to Celine)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mariahilfer Kirche, Barnabitengasse 14, Vienna, Austria::(church scene, interior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Austria</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>