<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Blade Runner</h3>
                        <p class="card-text">
                          A blade runner must pursue and terminate four replicants who stole a ship in space, and have returned to Earth to find their creator.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Blade Runner"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Bradbury Building - 304 S. Broadway, Downtown, Los Angeles, California, USA::(Sebastian's home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ennis House - 2607 Glendower Avenue, Los Feliz, Los Angeles, California, USA::(Deckard's apartment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2nd Street Tunnel between Hill and Figueroa, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Million Dollar Theatre - 307 S. Broadway, Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Union Station - 800 N. Alameda Street, Downtown, Los Angeles, California, USA::(Police Station where Deckard is told he must return to duty)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York Street, Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA::(futuristic street scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shepperton Studios, Shepperton, Surrey, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pan Am building, 253 S. Broadway, Downtown, Los Angeles, California, USA::(Interior/Exterior Yukon Hotel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">London, England, UK::(Leon's Bathroom)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Westin Bonaventure Hotel & Suites - 404 S. Figueroa Street, Downtown, Los Angeles, California, USA::(Cylindrical towers)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 24, Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 25, Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 4, Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA::(studio) (filmed at) (as The Burbank Studios)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>