<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Cinema Paradiso</h3>
                        <p class="card-text">
                          A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2FhYjEyYmYtMDI1Yy00YTdlLWI2NWQtYmEzNzAxOGY1NjY2XkEyXkFqcGdeQXVyNTA3NTIyNDg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Cinema Paradiso"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Cefalù, Palermo, Sicily, Italy::(film screening in the port) (Elena's house at Via Umberto I°, 3)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palermo, Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palazzo Adriano, Palermo, Sicily, Italy::(town square and Cinema Paradiso theater set: Piazza Umberto I)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Termini Imerese, Palermo, Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bagheria, Palermo, Sicily, Italy::(older Elena's house: Via Papa Giovanni XXIII, 179)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chiusa Sclafani, Palermo, Sicily, Italy::(Toto and Elena's car beakdown on SS188, between Chiusa Sclafani and Palazzo Adriano)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Solanto, Santa Flavia, Palermo, Sicily, Italy::(grown-up Toto and blind Alfredo on the pier)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castelbuono, Palermo, Sicily, Italy::(school exteriors: Castello di Castelbuono)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lascari, Palermo, Sicily, Italy::(train station, now demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rome, Lazio, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Oriolo Romano, Lazio, Italy::(Toto waits for Elena's window to open, Via Altieri 25)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lungomare Paolo Toscanelli, Lido di Ostia, Rome, Lazio, Italy::(Toto stealthily films Elena coming out of Giancaldo train station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Italy</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>