<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Citizen Kane</h3>
                        <p class="card-text">
                          Following the death of publishing tycoon Charles Foster Kane, reporters scramble to uncover the meaning of his final utterance; 'Rosebud'.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjBiOTYxZWItMzdiZi00NjlkLWIzZTYtYmFhZjhiMTljOTdkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Citizen Kane"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Busch Gardens - S. Grove Avenue, Pasadena, California, USA::(Xanadu Grounds) (demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Balboa Park - 1549 El Prado, San Diego, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arroyo Boulevard, Pasadena, California, USA::(Xanadu Grounds)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Oheka Castle - 135 West Gate Drive, Huntington, Long Island, New York, USA::(Xanadu)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">RKO Studios - 780 N. Gower Street, Hollywood, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pasadena, California, USA::(Xanadu Grounds)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Long Island, New York, USA::(Xanadu)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Diego, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Malibu, California, USA::(Auto procession on beach)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Diego Zoo, San Diego, California, USA::(The Zoo Aviary)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>