<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Double Indemnity</h3>
                        <p class="card-text">
                          A Los Angeles insurance representative lets an alluring housewife seduce him into a scheme of insurance fraud and murder that arouses the suspicion of his colleague, an insurance investigator.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTdlNjgyZGUtOTczYi00MDdhLTljZmMtYTEwZmRiOWFkYjRhXkEyXkFqcGdeQXVyNDY2MTk1ODk@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Double Indemnity"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">6301 Quebec Drive, Hollywood Hills, Los Angeles, California, USA::(Dietrichson house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1825 N. Kingsley Drive, Hollywood, Los Angeles, California, USA::(Walter Neff's apartment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">La Golondrina Cafe, Olvera Street, Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Producers Studios - 5330 Melrose Avenue, Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Burbank Southern Pacific Station, N Front St, Burbank, California, USA::(as Glendale Station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Forest Lawn Memorial Park - 1712 S Glendale Avenue, Glendale, California, USA::(near)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paramount Studios - 5555 Melrose Avenue, Hollywood, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Venice Canals, Venice, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bryson Apartments, 2701 Wilshire Blvd., Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palos Verdes Peninsula, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Glendale, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood Hills, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>