<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Dune</h3>
                        <p class="card-text">
                          Feature adaptation of Frank Herbert's science fiction novel about the son of a noble family entrusted with the protection of the most valuable asset and most vital element in the galaxy.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2FjNmEyNWMtYzM0ZS00NjIyLTg5YzYtYThlMGVjNzE1OGViXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Dune"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Wadi Rum, Jordan::(Arrakis desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stadlandet, Norway::(Caladan)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Liwa Oasis, Abu Dhabi, United Arab Emirates::(Arrakis desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Origo Film Studios, Budapest, Hungary::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Norway</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jordan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Slovakia</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Abu Dhabi, United Arab Emirates</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">United Arab Emirates</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>