<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Fight Club</h3>
                        <p class="card-text">
                          An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDIzNDU0YzEtYzE5Ni00ZjlkLTk5ZjgtNjM3NWE4YzA3Nzk3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Fight Club"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">240 North Neptune Avenue, Los Angeles, California, USA::(Tyler's House)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">217 Figueroa Street, Los Angeles, California, USA::("Lou's Tavern", Shipwreck Joe's - now demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St. Brendan's Catholic Church - 310 S. Van Ness Avenue, Hancock Park, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 15, 20th Century Fox Studios - 10201 Pico Blvd., Century City, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">325 West 8th Street - Los Angeles, California, USA::(Clifton's Restaurant - Exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">123 South Figueroa Street, Los Angeles, California, USA::(condo)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1331 B Street, Wilmington, Los Angeles, California, USA::(Lou's Tavern where Fight Club started; demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tower Theatre - 802 S. Broadway, Downtown, Los Angeles, California, USA::(exterior in distance)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">421 W. Eighth Street, Los Angeles, California, USA::(Hotel Bristol - Marla's digs)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Melrose Avenue at North Heliotrope Drive, Los Angeles, California, USA::(Marla's philosophy of life scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">505 North Avalon Boulevard, Los Angeles, California, USA::(Tire Shop - pick a fight scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">330 West 8th Street, Los Angeles, California, USA::(Marla gets on the bus scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">150 World Way, Los Angeles, California, USA::(LAX Terminal 2 - vibrating suitcase scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Center Studios - 450 S. Bixel Street, Downtown, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Olympic Theatre - 313 W. Eighth Street, Los Angeles, California, USA::(Marla Singer gets on the bus;exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Pedro, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 16, 20th Century Fox Studios - 10201 Pico Blvd., Century City, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Theatre - 615 S. Broadway, Downtown, Los Angeles, California, USA::(Projection booth scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hancock Park, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Century City, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4313 Melrose Avenue, Los Angeles, California, USA::(Vintage Clothing and Shoes store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ukrainian Culture Center - 4315 Melrose Avenue, Los Angeles, California, USA::(exterior - Marla gives Narrator her number and asks his name)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4323 Melrose Avenue, Los Angeles, California, USA::(laundromat exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wilmington, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>