<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Green Book</h3>
                        <p class="card-text">
                          A working-class Italian-American bouncer becomes the driver of an African-American classical pianist on a tour of venues through the 1960s American South.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzIzYmJlYTYtNGNiYy00N2EwLTk4ZjItMGYyZTJiOTVkM2RlXkEyXkFqcGdeQXVyODY1NDk1NjE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Green Book"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Houmas House Plantation, Burnside, Louisiana, USA::(Raleigh concert venue)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">McAlister Auditorium, Tulane University, New Orleans, LA 70118, USA::(Indiana performance hall)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carnegie Hall, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">English Turn Golf & Country Club, 1 Clubhouse Dr, New Orleans, Louisiana, USA::(Birmingham restaurant scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ruby's Roadhouse, Mandeville, Louisiana, USA::(Orange Bird)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">International House Hotel, Camp Street, New Orleans, Louisiana, USA::(Copacabana exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carver Theater, New Orleans, Louisiana, USA::(Copacabana interior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Clover Grill, French Quarter, New Orleans, Louisiana, USA::(Gorman's hot dog competition)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New Orleans Athletic Club, New Orleans, Louisiana, USA::(YMCA)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Aloha Motel, Metairie, Louisiana, USA::(First Green Book hotel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Macon, Georgia, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sigle's Antiques, Royal Street, New Orleans, Louisiana, USA::(Pawn shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Northshore Broadcasting building, Hammond, Louisiana, USA::(Vallelonga home exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Roosevelt New Orleans - 130 Roosevelt Way, New Orleans, Louisiana, USA::(Memphis hotel exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Amite, Louisiana, USA::(Tony writes a letter to his wife at Miss Ann's diner)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Orpheum Theater - 129 Roosevelt Way, New Orleans, Louisiana, USA::(Macon concert venue)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Saenger Theater, New Orleans, Louisiana, USA::(Hotel lobby "diction" scene, Carnegie Hall exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">W.P. Brown House, 4717 St. Charles Ave., New Orleans, Louisiana, USA::('Pittsburgh' private party attended by Tony and Donald)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">French Quarter, New Orleans, Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Burnside, Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New Orleans, Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hammond, Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Metairie, Louisiana, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Georgia, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>