<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Judgment at Nuremberg</h3>
                        <p class="card-text">
                          In 1948, an American court in occupied Germany tries four Nazis judged for war crimes.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDc2ODQ5NTE2MV5BMl5BanBnXkFtZTcwODExMjUyNA@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Judgment at Nuremberg"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">former Reichsparteitag area, Nuremberg, Bavaria, Germany::(After the first session Judge Haywood walks through these former Nazi Party Rally Grounds)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Berlin, Berlin, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tower of London, Backlot, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Nuremberg, Bavaria, Germany::(courtroom building exteriors, bombed out areas of town)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Revue Studios, Universal City, California, USA::(courtroom sets)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>