<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Lawrence of Arabia</h3>
                        <p class="card-text">
                          The story of T.E. Lawrence, the English officer who successfully united and led the diverse, often warring, Arab tribes during World War I in order to fight the Turks.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWY5ZjhjNGYtZmI2Ny00ODM0LWFkNzgtZmI1YzA2N2MxMzA0XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Lawrence of Arabia"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Wadi Rum, Jordan::(desert - red cliffs)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Imperial Sand Dunes Recreation Area, Glamis, California, USA::(desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Alfonso XIII Hotel - 2 San Fernando 41004, Sevilla, Andalucía, Spain::(Cairo Officer's Club courtyard)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Aït Benhaddou, Morocco::(desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">El Casino, Avenida de Maria Luisa, Sevilla, Andalucía, Spain::(Damascus town hall)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Desert South of Ouarzazate, Morocco::(Doubled as Arabian desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">El Jafr, Jordan::(Gasim rescue - camel ride - mudflats)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Playa del Algarrobico, Carboneras, Almería, Andalucía, Spain::(town: Aqaba)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chobham Common, Surrey, England, UK::(where Lawrence falls off motorcycle)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Merthyr Mawr, Bridgend, Wales, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Plaza of the Americas, Sevilla, Andalucía, Spain::(buildings of Jerusalem)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jebel Tubeiq, Jordan::(desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Desierto de Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Maan, Jordan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palacio Espanol, Plaza de España, Sevilla, Sevilla, Andalucía, Spain::(hotel in Cairo)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St Paul's Cathedral, St Paul's Churchyard, City of London, England, UK::(funeral)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cabo de Gata, Almería, Andalucía, Spain::(train attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San José, Almería, Andalucía, Spain::(train attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sevilla, Andalucía, Spain::(Middle East)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Saudi Arabia</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shepperton Studios, Shepperton, Surrey, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Casa de Pilatos, Plaza de Pilatos, Sevilla, Andalucía, Spain::(meeting of Allenby and Lawrence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carboneras, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Parque de Maria Luisa, Avenida de Isabel la Catolica, Sevilla, Andalucía, Spain::(buildings: Middle East)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Plaza de Pilatos, Sevilla, Andalucía, Spain::(meeting of Allenby and Lawrence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Avenida de Isabel la Catolica, Sevilla, Andalucía, Spain::(buildings: Middle East)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>