<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Léon: The Professional</h3>
                        <p class="card-text">
                          12-year-old Mathilda is reluctantly taken in by Léon, a professional assassin, after her family is murdered. An unusual relationship forms as she becomes his protégée and learns the assassin's trade.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BODllNWE0MmEtYjUwZi00ZjY3LThmNmQtZjZlMjI2YTZjYmQ0XkEyXkFqcGdeQXVyNTc1NTQxODI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Léon: The Professional"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Paris, France::(Leon's apartment interiors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chelsea, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">71 97th Street, Upper East Side, Manhattan, New York City, New York, USA::(exteriors: Mathilda's hotel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chelsea Hotel - 222 West 23rd Street, Chelsea, Manhattan, New York City, New York, USA::(interiors: Mathilda's hotel corridor and stairwell)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Guido's Supreme Macaroni Restaurant - 511 9th Avenue, New York City, New York, USA::(Tony's restaurant, Closed now)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">East Harlem, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hoboken, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chinatown, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">El Barrio, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Spanish Harlem, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Upper East Side, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wall Street, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan Municipal Building - 1 Centre Street, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West New York, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">7th Avenue and W 54th Street, New York City, New York, USA::(Opening titles)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mulberry Street and Grand Street, New York City, New York, USA::(Opening titles)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">East Broadway and Market Street, New York City, New York, USA::(Opening titles)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">France</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>