<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Monty Python and the Holy Grail</h3>
                        <p class="card-text">
                          King Arthur and his Knights of the Round Table embark on a surreal, low-budget search for the Holy Grail, encountering many, very silly obstacles.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2IyNTE4YzUtZWU0Mi00MGIwLTgyMmQtMzQ4YzQxYWNlYWE2XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Monty Python and the Holy Grail"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Castle Stalker, Appin, Argyll and Bute, Scotland, UK::(Castle of Aaaargh)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bodiam Castle, Bodiam, East Sussex, England, UK::(single exterior shot of the Swamp King castle during "Tale of Sir Lancelot")</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Doune Castle, Doune, Stirling, Scotland, UK::(Arthur begins his quest for the Holy Grail)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Epping Forest, Essex, England, UK::(Black Knight sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Glen Coe, Highland, Scotland, UK::(Bridge of Death)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Loch Tay, Stirling, Scotland, UK::(Cave of Caerbannog)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Meeting of the Three Waters, Glen Coe, Highland, Scotland, UK::(Bridge of Death)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Loch Tay, Stirling, Scotland, UK::(Holy Hand Grenade scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mt. Buffalo National Park, Victoria, Australia::(rocky still shot at start of 'The Tale of Sir Robin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">River Cae, Glen Coe, Highland, Scotland, UK::(Bridge of Death)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Loch Laich, Appin, Argyll and Bute, Scotland, UK::(Castle of Aaaargh)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arnhall Castle, Arnhall, Aberdeenshire, Scotland, UK::(Historian talking to camera)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bracklinn Falls, Stirling, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sherriff Muir, Stirling, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wakehurst Place, Ardingly, West Sussex, England, UK::(Sir Lancelot Running)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Twickenham Film Studios, St Margarets, Twickenham, Middlesex, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Doune, Stirling, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Highland, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stirling, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Appin, Argyll and Bute, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Killin, Stirling, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">London, England, UK</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>