<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">On the Waterfront</h3>
                        <p class="card-text">
                          An ex-prize fighter turned New Jersey longshoreman struggles to stand up to his corrupt union bosses, including his older brother, as he starts to connect with the grieving sister of one of the syndicate's victims.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BY2I0MWFiZDMtNWQyYy00Njk5LTk3MDktZjZjNTNmZmVkYjkxXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="On the Waterfront"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">St Peter and St Paul Church - 400 Hudson Street, Hoboken, New Jersey, USA::(interiors: church)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Our Lady Of Grace Church - 400 Willow Avenue, Hoboken, New Jersey, USA::(exteriors: church)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hoboken Railway Station, Hoboken, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hoboken Waterfront, Hoboken, New Jersey, USA::(waterfront)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5th Street Pier, Hoboken, New Jersey, USA::(final scene pier, next to Holland-America Line)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stevens Park, Hudson Street, Hoboken, New Jersey, USA::(park)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Willow Avenue, Hoboken, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Court Street, Hoboken, New Jersey, USA::(Terry and Edie run in front of truck)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hudson Street, Hoboken, New Jersey, USA::(pigeon coop on rooftop was at 105 Hudson Street)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hoboken, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elysian Park - 1001 Hudson Street, Hoboken, New Jersey, USA::(riverside park, glove and swing scene in front of Castle Point Terrace)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>