<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Once Upon a Time in the West</h3>
                        <p class="card-text">
                          A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZGI5MjBmYzYtMzJhZi00NGI1LTk3MzItYjBjMzcxM2U3MDdiXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Once Upon a Time in the West"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Monument Valley, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Highway 163, Monument Valley, Utah, USA::(brick arch where Harmonica flashbacks to his youth, lynching scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">La Calahorra, Granada, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Estación de Calahorra, Guadix, Granada, Andalucía, Spain::(Cattle Corner Station and Flagstone scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Moab, Utah, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Teec Nos Pos, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kayenta, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cinecittà Studios, Cinecittà, Rome, Lazio, Italy::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bavispe, Sonora, Mexico</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Red Mesa, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Poblado Western 'Sergio Leone', Tabernas, Almería, Andalucía, Spain::(Sweetwater Ranch)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Desierto de Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mexican Water, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paramount Studios - 5555 Melrose Avenue, Hollywood, Los Angeles, California, USA::(studio)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>