<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Parasite</h3>
                        <p class="card-text">
                          Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWZjMjk3ZTItODQ2ZC00NTY5LWE0ZDYtZTI3MjcwN2Q5NTVkXkEyXkFqcGdeQXVyODk4OTc3MTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Parasite"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Jahamun-ro, Buam-dong, Jongno-gu, Seoul, South Korea::(Ki Taek and family enter Jahamun tunnel, walking back home in the rain)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Goyang Aqua Studio - 250 Tongil-ro 396beon-gil, Deogyang-gu, Goyang, South Korea::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">24, Seonjam-ro 8-gil, Seongbuk-gu, Seoul, South Korea::(interview) (When Kim Ki Woo is on his way to his tutoring job interview, to meet the Parks for the first time, he walks past a charming village called Seongbuk-dong.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Seoul, South Korea</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Korea</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>