<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Rush</h3>
                        <p class="card-text">
                          The merciless 1970s rivalry between Formula One rivals James Hunt and Niki Lauda.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWEwODJmZDItYTNmZC00OGM4LThlNDktOTQzZjIzMGQxODA4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rush"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Nürburgring, Rhineland-Palatinate, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cologne, North Rhine-Westphalia, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brands Hatch racing track, Kent, England, UK::(doubled as race tracks in Paul Ricard, Nurburgring, Monza and Fiorano.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Blackbushe Airport, Hampshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cadwell Park, Lincolnshire, England, UK::(race car sequences)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cadwell Park Racing Circuit, Louth, Lincolnshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Evolution Printing, Stanhope Road, Camberley, UK::(Film location for the McLaren Racing Factory)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Louth, Lincolnshire, England, UK::(External shots at Cordeaux School)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Easton Neston, Towcester, Northamptonshire, England, UK::(Lord Hesketh's House - exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Donington Park, Wilson, Leicestershire, England, UK::(Racing Scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Vienna, Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Singerstraße, Vienna, Austria</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Rhine-Westphalia, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Norfolk, England, UK::(Paul Ricard, Fuji, Pit Exit race scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Longcross Studios, Chobham Lane, Longcross, Surrey, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chobham Lane, Longcross, Surrey, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Longcross, Surrey, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Surrey, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Austria</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>