<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Scarface</h3>
                        <p class="card-text">
                          In 1980 Miami, a determined Cuban immigrant takes over a drug cartel and succumbs to greed.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNjdjNGQ4NDEtNTEwYS00MTgxLTliYzQtYzE2ZDRiZjFhZmNlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Scarface"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">656 Park Ln, Santa Barbara, California, USA::(Alejandro Sosa's Bolivian Estate)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">485 West Matheson Drive, Key Biscayne, Florida, USA::(Frank Lopez's house interiors and pool)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">631 Para Grande Lane, Santa Barbara, California, USA::(Tony & Elvira's house exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">728 Ocean Drive, Miami Beach, Florida, USA::(Sun Ray Hotel - coke deal with Colombians & chainsaw scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">I-110 and I-10 intersection, Los Angeles, California, USA::(Freedom Town)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Torrance, California, USA::(Tony's mother's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">16000 Ventura Boulevard, Encino, Los Angeles, California, USA::(Tri-American City Bank)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3501 Southwest 130th Avenue, Davie, Florida, USA::(Babylon Club exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">8623 West Sunset Boulevard, West Hollywood, California, USA::(Montana Management Co.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">8648 West Sunset Boulevard, West Hollywood, California, USA::(Gina's Beauty Salon)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Perino's Restaurant - 4101 Wilshire Boulevard, Los Angeles, California, USA::("So say goodnight to the bad guy" restaurant, demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tudor City, New York City, New York, USA::(car bomb)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Miami, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Beach, Miami Beach, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Swimming Pool, Fontainebleau Hilton Resort - 4441 Collins Avenue, Miami Beach, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Barbara, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Montecito, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 12, Universal Studios - 100 Universal City Plaza, Universal City, California, USA::(chainsaw scene; interior of the Babylon Club; interior of Tony's mansion)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">8619 Sunset Blvd, West Hollywood, California, USA::(Montana Travel Company)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Infiniti - 8825 Wilshire Boulevard - Beverly Hills, California, USA::(Frank Lopez' Mercedes dealership)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1443 West E Street - Los Angeles, California, USA::(Mama & Gina Montana's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Diego, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carlyle Hotel - 1250 Ocean Drive, Miami Beach, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Beacon Hotel - 720 Ocean Dr, Miami Beach, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Atlantis Condominium - 2025 Brickell Avenue, Miami, Florida, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>