<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Star Wars</h3>
                        <p class="card-text">
                          Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Star Wars"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Tikal National Park, Guatemala::(Fourth moon of Yavin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ajim, Jerba, Tunisia::(Mos Eisley, Tatooine)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chott el Djerid, Nefta, Tunisia::(Lars family homestead, Tatooine)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sidi Driss Hotel, Matmata, Tunisia::(Lars family homestead, Tatooine)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sidi Bouhlel, Tozeur, Tunisia::(Jundland Wastes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Yuma, Arizona, USA::(Tatooine scenes; special edition)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calakmul, Campeche, Mexico</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Death Valley National Park, California, USA::(Tatooine scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elstree Studios, Borehamwood, Hertfordshire, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tunisia::(Tatooine scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sidi Bouhel, Tunisia::(R2 is captured by Jawas)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Death Star conference room) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shed 1, Cardington Airship Hangars, Bedfordshire, England, UK::(Yavin 4 rebel base)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 7, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Lars family homestead kitchen; interior of Ben's hermitage; interior of Anchorhead Station; Obi-Wan and Vader duel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 8, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Mos Eisley alleyways; Mos Eisley speeder lot; Millennium Falcon cockpit)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 2, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Death Star hallways; Death Star main hallway; Death Star narrow passageway; Death Star central core shaft; Death Star blast shield door corridor; Death Star hallway over Millennium Falcon; Death Star sub-hallway; Death Star forward bay command office; Death Star elevator entrance to detention area; Death Star garbage compactor; Death Star hallway to core shaft; Death Star tractor beam power generator trench; Death Star unused hallway) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA::(re-shoots, additional photography)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">H Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK::(Interior of Yavin 4 rebel base; monitoring the Death Star attack; end ceremony)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 6, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Chalmun's Spaceport Cantina; interior) (formed from part of Stage 1; dissolved)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Death Star control room; Death Star detention security area cell row; Death Star dungeon hallway) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 3, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Mos Eisley Docking Bay 94; Death Star Docking Bay 327) (burned down on January 24, 1979; later rebuilt the same year and demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 9, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Millennium Falcon hallway; Millennium Falcon main passageway; Millennium Falcon main hold area)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tataouine, Tunisia::(Tatooine)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>