<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Taxi Driver</h3>
                        <p class="card-text">
                          A mentally unstable veteran works as a nighttime taxi driver in New York City, where the perceived decadence and sleaze fuels his urge for violent action.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2M1MmVhNDgtNmI0YS00ZDNmLTkyNjctNTJiYTQ2N2NmYzc2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Taxi Driver"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">87 Columbia Heights, Brooklyn, New York, USA::(Travis is buying guns at an apartment in Brooklyn Heights)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">202 East 13th Street, Manhattan, New York City, New York, USA::(Rooms Doorway)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">226 East 13th Street, Manhattan, New York City, New York, USA::(Apartment block shootout)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ed Sullivan Theater - 1697 Broadway, Manhattan, New York City, New York, USA::(Travis' phone call to Betsy)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">546 Columbus Ave., New York City, New York, USA::(R&M Supermarket, where Travis shoots a robber)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">13 St between 2nd & 3rd Avenues, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">737 8th Avenue, New York City, New York, USA::(Travis walks southwest down 8th to the Show & Tell theater where he buys concessions for the movie)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">58th Street & 8th Avenue, New York City, New York, USA::(Travis takes Betsy for coffee and pie at SW corner of intersection--now demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5th Ave & 19th St, New York City, New York, USA::(Travis is picked up by cab/Easy Andy on northern corner of intersection an)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">214 W 42rd St, New York City, New York, USA::(Travis takes Betsy to the movies at the Lyric theater. Cine 42 can be seen when they exit)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">671 8th Avenue, Manhattan, New York City, New York, USA::(Travis drives by Show World Center, a four-story "porn emporium" near 42nd St.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">657 West 57th Street, Manhattan, New York City, New York, USA::(cab company - Swedish American Lines Pier 97 in the background)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">27 West 72nd Street, Manhattan, New York City, New York, USA::(Travis drops customer off at Hotel Olcott)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">110 3rd Avenue, Manhattan, New York City, New York, USA::(Travis talks to Iris in front of the Variety Theatre)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2 East 55th Street, Manhattan, New York City, New York, USA::(St. Regis Hotel, at 5th Avenue - Betsy gets in Travis' cab near end of film)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1866 Broadway, Manhattan, New York City, New York, USA::(Palantine's campaign office, at W. 63rd St.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">8th Avenue and 40th Street, Manhattan, New York City, New York, USA::(Terminal Bar, closed 1982, site of New York Times building since 2007)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">East 28th Street and Park Avenue South, Manhattan, New York City, New York, USA::(Travis meets his cabbie buddies at the Belmore Cafeteria)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">208 West 38th Street, Manhattan, New York City, New York, USA::(Cop tells Travis to move his cab while he is watching Palantine rally at 7th Ave.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Columbus Circle, Manhattan, New York City, New York, USA::(Travis at Palantine rally after shaving his head into a Mowhawk)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">152 West 51st Street, Manhattan, New York City, New York, USA::(Tavis drives by Taft Hotel at end of film after dropping off Betsy)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1 Times Square, Manhattan, New York City, New York, USA::(Travis drives by building with scrolling news ticker announcing Palantine's arrival in the city)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">725 7th Avenue, Manhattan, New York City, New York, USA::(Metropole Cafe during end credits)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1886 Broadway, New York City, New York, USA::(Palantine campaign headquarters)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>