<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Terminator 2: Judgment Day</h3>
                        <p class="card-text">
                          A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten-year-old son John from a more advanced and powerful cyborg.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Terminator 2: Judgment Day"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Bayside Parkway & Gateway Blvd., Fremont, California, USA::(Cyberdyne, Exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bridge, Intersection of Hayvenhurst & Plummer, San Fernando Valley, Los Angeles, California, USA::(Truck Jump Scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kaiser Steel Mill, Fontana, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sherman Oaks Galleria - 15301 Ventura Blvd., Sherman Oaks, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fremont, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake View Terrace Branch Library - 12002 Osborne Street, Lake View Terrace, Los Angeles, California, USA::(The Corral Biker Bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake View Medical Center - 11600 Eldridge Avenue, Lake View Terrace, Los Angeles, California, USA::(Pescadero State Hospital)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lancaster, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elysian Park, Los Angeles, California, USA::(Nuclear Nightmare Scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Northridge Fashion Mall - 9301 Tampa Avenue, Northridge, Los Angeles, California, USA::(Mall Exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Terminal Island Freeway, Wilmington, Los Angeles, California, USA::(Helicopter/Tanker Chase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Jose, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">46551 140th St East, Lancaster, California, USA::(John, Sarah & the T800 stop for food on the way to Enrique's ranch)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Monica Place - 4th Street & Broadway, Santa Monica, California, USA::(Interiors: Confrontation Between the Two Terminators)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake View Terrace Liquor Store -11844 Foothill Boulevard, Lake View Terrace, Los Angeles, California, USA::(John Connor calls his foster parents to warn them; bodybuilders try to rescue John from the T-800; T-800 swears never to kill anyone)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">6th Street Viaduct, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">El Mirage Dry Lake, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Long Beach, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Clarita, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Fe, New Mexico, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">19828 Valerio Street, Winnetka, California, USA::(John Connor/Todd & Janelle Voight's home.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">14400 Roscoe Blvd Van Nuys, California, USA::(Federal Security Bank where John Connor hacked the ATM)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Petersen Automotive Museum - 6060 Wilshire Boulevard, Los Angeles, California, USA::(Pescadero parking garage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">14224 Roscoe Boulevard @ Wakefield Avenue - Van Nuys, California, USA::(Alley where Terminator debriefs John Connor)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tujunga Wash, Los Angeles, California, USA::(Motorcycle Chase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">600 Mesquit Street, Los Angeles, California, USA::(T-1000 arrival)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chicago, Illinois, USA::(factory)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Northridge, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Valencia Studios - 26030 Avenue Hall, Valencia, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arcadia, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles County Arboretum & Botanic Garden - 301 N. Baldwin Avenue, Arcadia, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sherman Oaks, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sun Valley, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Malibu, California, USA::(Dyson Home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Reseda, Los Angeles, California, USA::(ATM Scene)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>