<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Father</h3>
                        <p class="card-text">
                          A man refuses all assistance from his daughter as he ages. As he tries to make sense of his changing circumstances, he begins to doubt his loved ones, his own mind and even the fabric of his reality.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZGJhNWRiOWQtMjI4OS00ZjcxLTgwMTAtMzQ2ODkxY2JkOTVlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Father"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Blythe House, 23 Blythe Road, West Kensington, London, Greater London, England, UK::(Exterior scene: nursing home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West London Film Studios, Springfield Road, Hayes, Greater London, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">23 Blythe Road, West Kensington, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Blythe Road, West Kensington, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Kensington, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lauderdale Road, London, England, UK::(view from Anthony's flat)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elgin Avenue, London, England, UK::(seen from Anthony's flat)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">UK</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>