<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Usual Suspects</h3>
                        <p class="card-text">
                          A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Usual Suspects"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">San Pedro, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Korean Friendship Bell, Angel's Gate Park - 3601 Gaffey Street, San Pedro, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles City Hall - 200 North Spring Street, Downtown, Los Angeles, California, USA::(New York police station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Herald Examiner - 1111 S. Broadway, Downtown, Los Angeles, California, USA::(interiors: San Pedro police station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Leo Carrillo State Beach - 35000 W. Pacific Coast Highway, Malibu, California, USA::(The cave where the group buries Benicio Del Toro's character.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Harbor, San Pedro, Los Angeles, California, USA::(smuggling boat attack on Ways St.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Flatiron Building - 175 Fifth Avenue, Manhattan, New York City, New York, USA::(law offices)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood Athletic Club - 6525 W. Sunset Blvd., Hollywood, Los Angeles, California, USA::(pool room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jackson Heights, Queens, New York City, New York, USA::(New York's Finest Taxi Service Scenes: convoy on 34th-35th Avenues and 81st-82nd Streets)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">770 South Normandie Avenue, Los Angeles, California, USA::(Fenster arrested)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">LaGuardia Airport, Queens, New York City, New York, USA::(jewel smuggler's arrival at Delta terminal)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Verrazano-Narrows Bridge, New York City, New York, USA::(smuggler's convoy)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Langham Apartments - 715 S Normandie Ave, Los Angeles, California, USA::(smuggler's car blocked and set on fire)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">638 South Beacon Street, San Pedro, California, USA::(exteriors: San Pedro police station, final scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>