<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Lord of the Rings: The Return of the King</h3>
                        <p class="card-text">
                          Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Lord of the Rings: The Return of the King"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Hinuera Valley, Matamata, Waikato, New Zealand::(Hobbiton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fernside, Featherston, Wairarapa, New Zealand::(Lothlórien)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Queenstown, Otago, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Camperdown Studios, Camperdown Road, Miramar, Wellington, New Zealand::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mt. Potts Station, Erewhon, Canterbury, New Zealand::(Edoras)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dry Creek Quarry, Wellington, New Zealand::(Minas Tirith)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tongariro National Park, Central Plateau, New Zealand::(Emyn Muil)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Twizel, Canterbury, New Zealand::(The Pelennor Fields)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Deer Park Heights, Queenstown, Otago, New Zealand::(the Paths of the Dead ghost soldier scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rangipo Desert, Waiouru, Tongariro National Park, Central Plateau, New Zealand::(the Battle of the Black Gate)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Twizel, Canterbury, New Zealand::(Théoden leads the charge into the Orc army)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Milford Sound, Fiordland National Park, Southland, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paradise, Glenorchy, Otago, New Zealand::(Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Upper Hutt, Wellington, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Ruapehu, Tongariro National Park, Central Plateau, New Zealand::(the wasteland of Mordor)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stone Street Studios, Stone Street, Miramar, Wellington, New Zealand::(studio) (studio sets of the Citadel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stone Street Studios, Stone Street, Miramar, Wellington, New Zealand::(Hobbiton interiors and Grey Havens scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Ruapehu, Tongariro National Park, Central Plateau, New Zealand::(Mount Doom exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Putangirua Pinnacles, Wairarapa region, North Island, New Zealand::(the Paths of the Dead)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>