<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Pianist</h3>
                        <p class="card-text">
                          A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWRiZDIxZjktMTA1NC00MDQ2LWEzMjUtMTliZmY3NjQ3ODJiXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Pianist"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Instalatorów, Ochota, Warsaw, Mazowieckie, Poland::(Umschlagplatz scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Krakowskie Przedmiescie, Sródmiescie, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Zabkowska, Praga Pólnoc, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Beelitz, Brandenburg, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kozia, Sródmiescie, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mala, Praga Pólnoc, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Norblin Factory, Wola, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stalowa, Praga Pólnoc, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hotel Saski, Plac Bankowy, Sródmiescie, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kobylka, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rembertów, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Babelsberg, Potsdam, Brandenburg, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jüterbog, Brandenburg, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Konopacka, Praga Pólnoc, Warsaw, Mazowieckie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Potsdam, Brandenburg, Germany::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Studio Babelsberg, Potsdam, Brandenburg, Germany::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Germany</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>