<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Terminator</h3>
                        <p class="card-text">
                          A human soldier is sent from 2029 to 1984 to stop an almost indestructible cyborg killing machine, sent from the same year, which has been programmed to execute a young woman whose unborn son is the key to humanity's future salvation.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTViNzMxZjEtZGEwNy00MDNiLWIzNGQtZDY2MjQ1OWViZjFmXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Terminator"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">720 S Hill Street, Los Angeles, California, USA::(Tech Noir)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Super Store 6 - 37202 90th Street E, Littlerock, California, USA::(Mexican gas station at the end of the movie)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carrow's Restaurant - 815 Fremont Avenue, South Pasadena, California, USA::(Big Jeff's Restaurant)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">6000 S Boyle Avenue, Vernon, California, USA::(West Highlands Police Station) (demolished in 1985)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tiki Motel - 7301 Santa Fe Avenue, Huntington Park, California, USA::(motel where Kyle Reese and Sarah Connor have sex) (closed in 2013; now a house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tunnel at Lower Grand & West Gen Thad Kosciuszko Way, Los Angeles, California, USA::(Tunnel crash scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">316 W 7th Street, Los Angeles, California, USA::(Kyle Reese steals a homeless man's clothes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">14239 Gilmore Street, Van Nuys, California, USA::(first Sarah Connor's house) (demolished in 1986 and replaced by an apartment building)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Griffith Observatory, 2800 E Observatory Rd, Los Angeles, California, USA::(Terminator arrives in 1984)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">219 W 7th Street, Los Angeles, California, USA::(Terminator takes police car after alley chase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Department Of Water And Power - 111 N Hope Street, Los Angeles, California, USA::(parking garage where Kyle Reese explains the future to Sarah)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">420 S Lafayette Park Place, Los Angeles, California, USA::(exterior of Sarah Connor's apartment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">795 Keller Street, Los Angeles, California, USA::(tanker truck explodes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">14329 Victory Boulevard, Van Nuys, Los Angeles, California, USA::(Alamo Sport Shop and Terminator's payphone)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">403 E 5th Street, Los Angeles, California, USA::(Terminator's hotel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Griffith Park - 4730 Crystal Springs Drive, Los Angeles, California, USA::(drainage culvert where Kyle Reese and Sarah Connor hide for the night)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">185 S Figueroa Street, Los Angeles, California, USA::(construction site where Kyle Reese has a flashback dream)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">13010 E Temple Avenue, City of Industry, California, USA::(automotive factory where the Terminator is destroyed) (formerly Kern's Of California)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">212 W 7th Street, Los Angeles, California, USA::(Kyle Reese arrives in 1984)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">583 West Gen Thad Kosciuszko Way @ South Grand Avenue, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2nd Street Tunnel between Hill and Figueroa, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">555 Ramirez Street, Los Angeles, California, USA::(exterior of automotive factory where the Terminator is destroyed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Van Nuys, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">731 S Broadway, Los Angeles, California, USA::(exterior of department store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gilmore Hamlin Apartments - 11844 Hamlin Street, Los Angeles, California, USA::(Sarah Connor's apartment - interior and parking garage) (Sarah and her roommate live in Apartment #225)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Miceli's - 1646 N Las Palmas Avenue, Los Angeles, California, USA::(Sarah learns about the death of the second Sarah Connor)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">445 S Broadway, Los Angeles, California, USA::(interior of department store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Occidental Studios - 201 N. Occidental Boulevard, Los Angeles, California, USA::(studio) (originally called S&A Studios)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fantasy II Film Effects - 415 S Flower Street, Burbank, California, USA::(machine effects in the future world)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bethlehem Steel Corporation - 3300 E Slauson Avenue, Vernon, California, USA::(future world scenes)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>