<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Lord of the Rings: The Fellowship of the Ring</h3>
                        <p class="card-text">
                          A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Lord of the Rings: The Fellowship of the Ring"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Wellington, New Zealand::(Bree)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hinuera Valley, Matamata, Waikato, New Zealand::(Hobbiton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kaitoke Regional Park, Wellington Region, New Zealand::(Rivendell) (River Anduin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Queenstown, Otago, New Zealand::(Ford of Bruinen) (River Anduin) (Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Milford Sound, Fiordland National Park, Southland, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Port Waikato, Waikato, New Zealand::(Weathertop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fernside, Featherston, Wairarapa, New Zealand::(Lothlorien)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rangipo Desert, Waiouru, Tongariro National Park, Central Plateau, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rangitikei River, Manawatu-Wanganui, New Zealand::(River Anduin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tongariro National Park, Central Plateau, New Zealand::(Mordor)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake Wakatipu, Queenstown, Otago, New Zealand::(Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mavora Lakes, Southland, New Zealand::(Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tarras, Wanaka, Otago, New Zealand::(Ford of Bruinen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Canterbury, New Zealand::(Edoras)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Poet's Corner, Upper Hutt, Wellington, New Zealand::(River Anduin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Island, New Zealand::(waterfalls scenes of Rivendell)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Harcourt Park, Upper Hutt, Wellington, New Zealand::(Gardens of Isengard)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Upper Hutt, Wellington, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Camperdown Studios, Camperdown Road, Miramar, Wellington, New Zealand::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Twizel, Canterbury, New Zealand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arrowtown Recreational Reserve, Arrowtown, Otago, New Zealand::(Ford of Bruinen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paradise, Glenorchy, Otago, New Zealand::(Lothlorien) (Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Te Anau, Southland District, Southland, New Zealand::(the Fellowship's river journey)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake Alta, The Remarkables, Nelson, South Island, New Zealand::(Dimrill Dale)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Closeburn, Southern Lakes, South Island, New Zealand::(Amon Hen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Abel Tasman National Park, South Island, Tasman Region, New Zealand::(exteriors of Moria)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Otaki Gorge Road, Kapiti Coast District, North Island, New Zealand::(the Shire woods)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Takaka Hill, Nelson, South Island, New Zealand::(forest near Bree)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kepler Mire, Te Anau, South Island, New Zealand::(Dead Marshes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Owen, Tasman district, Nelson, South Island, New Zealand::(Dimrill Dale)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paradise, Glenorchy, Otago, New Zealand::(Parth Galen)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fort Dorset, Miramar, Wellington, New Zealand::(Inn of the Prancing Pony's exteriors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hutt Valley, Wellington, New Zealand::(exteriors of Moria)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Whakapapa Skifield, Mount Ruapehu, Tongariro National Park, New Zealand::(Mordor prologue scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Keeling Farm, Manakau, Horowhenua District, North Island, New Zealand::(Bucklebury Ferry)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Waitarere Forest, Horowhenua District, North Island, New Zealand::(Trollshaws)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Olympus, Nelson, South Island, New Zealand::(Eregion)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Upper Waiau River, Fiordland National Park, South Island, New Zealand::(River Anduin)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chicago, Illinois, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>