<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Departed</h3>
                        <p class="card-text">
                          An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTI1MTY2OTIxNV5BMl5BanBnXkFtZTYwNjQ4NjY3.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Departed"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">SUNY Maritime College, Bronx, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Charlestown, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chinatown, Boston, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lynn, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">White Plains, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fore River Ship Yard, Quincy, Massachusetts, USA::(warehouse shoot out scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brooklyn Heights, Brooklyn, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gerritsen Beach, Brooklyn, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Quincy, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Erich Lindemann Mental Health Center - 25 Staniford Street, Boston, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Greenpoint, Brooklyn, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Boston, Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bronx, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brooklyn, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sunset Park, Brooklyn, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">12 Farnsworth Street, Boston, Massachusetts, USA::(rooftop scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Raoul's - 180 Prince Street, Manhattan, New York City, New York, USA::(interior of Frank Costello's headquarters)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dorchester, Boston, Massachusetts, USA::(car argument scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Massachusetts, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>