<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Godfather</h3>
                        <p class="card-text">
                          The aging patriarch of an organized crime dynasty in postwar New York City transfers control of his clandestine empire to his reluctant youngest son.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Godfather"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Forza d'Agrò, Messina, Sicily, Italy::(as Corleone village)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">110 Longfellow Road, Staten Island, New York City, New York, USA::(Corleone mansion)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Old St Patrick's Cathedral - 264 Mulberry Street, Little Italy, Manhattan, New York City, New York, USA::(christening scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mitchell Field, Garden City, Long Island, New York, USA::(Tollbooth scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castello Degli Schiavi, Fiumefreddo di Sicilia, Catania, Sicily, Italy::(Don Tommasino's villa, car blown up)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3531 White Plains Road, Bronx, New York City, New York, USA::(Italian restaurant)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jack Dempsey's Restaurant - Broadway & 49th Street, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Savoca, Sicily, Italy::(bar sequence) (Michael and Apollonia's wedding church)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Beverly House - 1011 N. Beverly Drive, Beverly Hills, California, USA::(Woltz's mansion)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5th Avenue, Manhattan, New York City, New York, USA::(Best & Co. Store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mott Street, Manhattan, New York City, New York, USA::(Genco Olive Oil Co)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">NY Eye and Ear Infirmary, 2nd Avenue & East 13th Street, New York City, New York, USA::(Vito hospital scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">120 Longfellow Road, Emerson Hill, Staten Island, New York City, New York, USA::(wedding celebrations)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1 Allen Ave, Ross, California, USA::(Kay Adams' school.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Church of St. Joachim and St. Anne on the grounds of The Mission of the Immaculate Virgin at Mount Loretto, Staten Island, New York City, New York, USA::(exteriors: church where the christening takes place)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">"Old" Lincoln Hospital, Southern Blvd. and East 141 Street, Bronx, New York, USA::(Vito being transported in Ambulance from Hospital)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fieldstone Mansion, Riverdale, Bronx, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sands Point, Long Island, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Staten Island, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calvary Cemetery, Woodside, Queens, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St Regis-Sheraton Hotel - 2 East 55th Street, Fifth Avenue, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Little Italy, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1999 East 5th Street Brooklyn, New York City, New York, USA::(Clemenza's home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">59th Street Bridge, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Federal Reserve Bank - 33 Liberty Street, Financial District, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Queensboro Bridge, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Radio City Music Hall - 1260 6th Avenue, Rockefeller Center, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Woodside, Queens, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Liberty State Park - Morris Pesin Drive, Jersey City, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood United Methodist Church - 6817 Franklin Avenue, Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Edison Hotel - 228 West 47th Street, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Filmways Studios - 246 East 127th Street, East Harlem, Manhattan, New York City, New York, USA::(studio) (studio/ interiors Don Corleone's mansion.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jersey City, New Jersey, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Queens, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Riverdale, Bronx, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santo Domingo, Dominican Republic::(Cuba outside scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Basilica of St. Patrick's Old Cathedral, 263 Mulberry St, New York, NY 10012, United States</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mineola, Long Island, New York, USA::(deserted airstrip)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Long Beach, Long Island, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Long Island, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York County Courthouse - 60 Centre Street, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Royce Hall - 340 Royce Drive, UCLA, Westwood, Los Angeles, California, USA::(Recording pf Skinner Organ)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">NYC Health + Hospitals / Bellevue, 462 1st Avenue, New York, NY 10016, United States::(Don Corleone takes his son's body to undertakers)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1999 East 5th Street, Brooklyn, NY 11223, USA::(Clemenza's home)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>