<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Deer Hunter</h3>
                        <p class="card-text">
                          An in-depth examination of the ways in which the Vietnam War impacts and disrupts the lives of several friends in a small steel mill town in Pennsylvania.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDhmNTA0ZDMtYjhkNS00NzEzLWIzYTItOGNkMTVmYjE2YmI3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Deer Hunter"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">St. Theodosius Russian Orthodox Church - 733 Starkweather Avenue, Cleveland, Ohio, USA::(wedding)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mingo Junction, Ohio, USA::(Welsh's bar interiors)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Clairton, Pennsylvania, USA::(Steel Town of Clairton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">River Kwai, Thailand::(prison camp - russian roulette)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lemko Hall - 2335 W. Eleventh Street, Cleveland, Ohio, USA::(wedding reception)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Baker, Washington, USA::(Allegheny Mountains deer hunt)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">US Steel Widowmaker Central Blast Furnace, Cleveland, Ohio, USA::(opening sequence - steel works factory)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bangkok, Thailand::(Saigon, Vietnam)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Follansbee, West Virginia, USA::(Steel Town of Clairton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cleveland, Ohio, USA::(St Theodosius Orthodox Church exteir)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mill Creek Park, Youngstown, Ohio, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Nooksack Falls, Mount Baker, Washington, USA::(Michael releases the deer)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Heather Meadows, Mount Baker, Washington, USA::(Allegheny Mountains deer hunt)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bowladrome Lanes - 56 State Street, Struthers, Ohio, USA::(bowling alley)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">McKeesport, Pennsylvania, USA::(Steel Town of Clairton) (funeral)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Whatcom County, Washington, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">993 N. 7th Street, Steubenville, Ohio, USA::(scene outside Central Blast Furnance)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cleveland, Ohio, USA::(hospital, the Eagle Supermarket, steel works factory)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Katchanburi, Thailand::(Saigon, Vietnam)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake Chelan, Washington, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Steubenville, Ohio, USA::(Steel Town of Clairton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Struthers, Ohio, USA::(Steel Town of Clairton, bowling alley)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Throng Wad Road, Bangkok, Thailand::(1973 Saigon evacuation)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Washington, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Weirton, West Virginia, USA::(Steel Town of Clairton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Starkweather Avenue, Cleveland, Ohio, USA::(Linda's work - the Eagle Supermarket)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Don Mueang International Airport, Don Mueang, Bangkok, Thailand::(US airfield)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">McKeesport and Versailles Cemetery - 1608 Fifth Avenue, McKeesport, Pennsylvania, USA::(funeral)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mingo Junction, Ohio, USA::(Steel Town of Clairton, Welsh's Bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Youngstown, Ohio, USA::(near)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pittsburgh, Pennsylvania, USA::(Steel Town of Clairton)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Louis Stokes VA Medical Center - 10701 East Boulevard, Cleveland, Ohio, USA::(hospital)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Commercial Street, Mingo Junction, Ohio, USA::(Welsh's bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St.Gabriel's College - 565 Samsen Road, Bangkok, Thailand::(U.S. Embassy, Saigon)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Duquesne Heights, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Virginia, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Thailand</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ohio, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>