<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Trainspotting</h3>
                        <p class="card-text">
                          Renton, deeply immersed in the Edinburgh drug scene, tries to clean up and get out, despite the allure of the drugs and influence of friends.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Trainspotting"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Corrour Station, Highland, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">78A Talgarth Road, West Kensington, London, England, UK::(property that Mark shows to a couple and later lets Begbie and Sick Boy stay in)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cafe D'Jaconelli - 570 Maryhill Road, North Kelvinside, Glasgow, Strathclyde, Scotland, UK::(interview) (Spud shares a milkshake with Renton before his job interview)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calton Road, Edinburgh, Scotland, UK::(opening scene - Renton nearly gets hit by a car)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Crosslands - 182 Queen Margaret Drive, Glasgow, Strathclyde, Scotland, UK::(pub where Begbie tosses his beer glass off the balcony)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rouken Glen Park, Thornliebank, Glasgow, Strathclyde, Scotland, UK::(Renton and Sick Boy shoot skinhead's dog with air rifle)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Canniesburn Hospital, Glasgow, Strathclyde, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Volanco - 15 Banalder Street, Glasgow, Strathclyde, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Waterloo Bridge, River Thames, London, England, UK::(Renton walks along this at the end of the film)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Azad Video, Dumbarton Road, Glasgow, Strathclyde, Scotland, UK::(Tommy and Lizzy wait for this video shop to open)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">George Hotel - 235 Buchanan Street, Glasgow, Strathclyde, Scotland, UK::(interiors: London hotel room where drug deal takes place)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Glasgow, Strathclyde, Scotland, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hanover Street, Edinburgh, Scotland, UK::(Renton and Spud run away from the store detectives)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jordanhill School - 45 Chamberlain Road, Jordanhill, Glasgow, Strathclyde, Scotland, UK::(Diane's school)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tower 42, Old Broad Street, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Possilpark, Glasgow, Strathclyde, Scotland, UK::(Swanney puts Renton into a taxi after he overdoses)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Princes Street, Edinburgh, Scotland, UK::(first shot of the film - Renton and Spud run away from the store detectives)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">W.D. & H.O. Wills Tobacco Factory - 368 Alexandra Parade, Glasgow, Strathclyde, Scotland, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wellington Arch, London, England, UK::(bus passes this when they arrive in London to do their drug deal)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Big Ben, Houses of Parliament, Westminster, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Carnaby Street, Soho, London, England, UK::(street sign appears during London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lloyd's Building, Lime Street, Broadgate, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Oxford Street, London, England, UK::(street sign appears during London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Piccadilly Circus, Piccadilly, London, England, UK::(street sign appears during London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Regent Street, London, England, UK::(street sign appears during London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Royal Eagle Hotel - 26-30 Craven Road, Bayswater, London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St Paul's Cathedral, St Paul's Churchyard, City of London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tower Bridge, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tower of London, Whitechapel, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Trafalgar Square, St James's, London, England, UK::(London montage)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Firhill Complex - Hopehill Road, Glasgow, Strathclyde, Scotland, UK::(opening scene - football game)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chrystal Bell pub, Gallowgate, Glasgow, Scotland, UK::(London pub where Begbie glasses man after the drug deal)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">City of London, England, UK</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>