<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Wild Tales</h3>
                        <p class="card-text">
                          Six short stories that explore the extremities of human behavior involving people in distress.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGQzY2Y0MTgtMDA4OC00NjM3LWI0ZGQtNTJlM2UxZDQxZjI0XkEyXkFqcGdeQXVyNDUzOTQ5MjY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Wild Tales"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Cafayate, Salta, Argentina</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Isidro, Buenos Aires, Federal District, Argentina::(Wealthy Family House)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">-25.730711, -65.696708, Argentina::("Road to Hell" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jujuy, Argentina</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Buenos Aires, Federal District, Argentina</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Juncal 1294, Buenos Aires, Federal District, Argentina::(Bakery "Bombita" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Puente Morales, RN 68 Km42, Cafayate, Salta, Argentina::("Road to Hell" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">176 Av Córdoba, Buenos Aires, Ciudad Autónoma de Buenos Aires, Federal District, Argentina::(Parking "Bombita" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">33°56'18.9"S 59°24'51.1"W, RN 9, Km 127, Baradero, Buenos Aires, Federal District, Argentina::(Restaurant "The Rats" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hotel InterContinental, Buenos Aires, Federal District, Argentina::("Til Death Do Us Part" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1168 Suipacha, Buenos Aires, Ciudad Autónoma de Buenos Aires, Federal District, Argentina::(Police Station "Bombita" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jorge Newbery Metropolitan Airport, Avenida Costanera Rafael Obligado, Palermo, Buenos Aires, Federal District, Argentina::("Pasternak" segment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Av. Don Pedro de Mendoza 3550, CABA Argentina::(location)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>