<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Before Sunrise</h3>
                        <p class="card-text">
                          A young man and woman meet on a train in Europe, and wind up spending one evening together in Vienna. Unfortunately, both know that this will probably be their only night together.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDdiZTAwYzAtMDI3Ni00OTRjLTkzN2UtMGE3MDMyZmU4NTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Before Sunrise"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Café Sperl, Gumpendorfer Strasse 11, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.20833</span>, <span class="lon">16.37306</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Riesenrad, Prater, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.214074</span>, <span class="lon">16.4016205</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kleines Café, Franziskanerplatz 3, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.206476</span>, <span class="lon">16.374264</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Maria Theresien Platz, Vienna, Austria
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.204738</span>, <span class="lon">16.361015</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Friedhof der Namenlosen, Alberner Hafen, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.1608836</span>, <span class="lon">16.4890456</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Arena Wien, Baumgasse 80, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.20833</span>, <span class="lon">16.37306</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Maria Am Gestade, Passauer Platz, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 47.38333</span>, <span class="lon">12.9</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pressgasse 4, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.194605</span>, <span class="lon">16.3644</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wien Westbahnhof, Europaplatz, Rudolfsheim Fünfhaus, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.196845249999996</span>, <span class="lon">16.338205000000002</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Vienna, Austria
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.20833</span>, <span class="lon">16.37306</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Teuchtler Schallplattenhandlung, Windmühlgasse 10, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.199619</span>, <span class="lon">16.357045</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Zollamtssteg Bridge, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.2282515</span>, <span class="lon">16.4097055</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Albertina Palais Museum, Augustinerstrasse 1, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.20833</span>, <span class="lon">16.37306</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mariahilfer Kirche, Barnabitengasse 14, Vienna, Austria 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.199093000000005</span>, <span class="lon">16.352997000000002</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>