<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">It Happened One Night</h3>
                        <p class="card-text">
                          A renegade reporter trailing a young runaway heiress for a big story joins her on a bus heading from Florida to New York, and they end up stuck with each other when the bus leaves them behind at one of the stops.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzJmMWE5NjAtNWMyZS00NmFiLWIwMDgtZDE2NzczYWFhNzIzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="It Happened One Night"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Busch Gardens   S. Grove Avenue, Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1476</span>, <span class="lon">-118.1445</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santa Anita Ave in Arcadia, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.158385</span>, <span class="lon">-118.0323</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Franklin Canyon Reservoir, Santa Monica Mountains, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0196</span>, <span class="lon">-118.487</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ventura Blvd., Thousand Oaks, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.8955</span>, <span class="lon">-122.2794</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Columbia/Sunset Gower Studios   1438 N. Gower Street, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>