<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">La Haine</h3>
                        <p class="card-text">
                          24 hours in the lives of three young men in the French suburbs the day after a violent riot.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDNiOTA5YjktY2Q0Ni00ODgzLWE5MWItNGExOWRlYjY2MjBlXkEyXkFqcGdeQXVyNjQ2MjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="La Haine"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Chanteloup les Vignes, Yvelines, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.97833</span>, <span class="lon">2.03083</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paris, France
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.85658</span>, <span class="lon">2.35183</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Place René Cassin, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.863075</span>, <span class="lon">2.344985</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gare Saint Lazare, Paris, France 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.875354375</span>, <span class="lon">2.325632046875</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>