<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">La Haine</h3>
          <p class="card-text mb-0">


  <span > 24 hours in the lives of three young men in the French suburbs the day after a violent riot.  </span>
                          <span > The film follows three young men and their time spent in the French suburban "ghetto," over a span of twenty-four hours. Vinz, a Jew, Saïd, an Arab, and Hubert, a black boxer, have grown up in these French suburbs where high levels of diversity coupled with the racist and oppressive police force have raised tensions to a critical breaking point. During the riots that took place a night before, a police officer lost his handgun in the ensuing madness, only to leave it for Vinz to find. Now, with a newfound means to gain the respect he deserves, Vinz vows to kill a cop if his friend Abdel dies in the hospital, due the beating he received while in police custody. -b4arr2y.  </span>
                          <span > When the youth Abdel goes to the hospital in coma due to a battering he receives at the police station, there are riots in the outskirts of Paris and one policeman loses his revolver. On the next morning, the Arab Said summons his Jewish friend Vinz and they meet the black boxer Hubert in the slum where they live. Soon Vinz shows the missing gun that he found in the night before and he tells that if Abdel dies, he will revenge his friend killing a police officer. The trio of troublemaker and pothead friends head to the downtown of Paris where they spend the day asking for trouble. On the end of the long night, tragedy happens. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Vinz, Hubert and Said live in the poorer part of Paris and have to use all their street smarts to get by. After an incident in which the police assaulted a friend of theirs, tensions between police and young working-class men, such as themselves, escalate. Incensed at the potential death of his friend, Vinz is out for revenge. -grantss.  </span>
    <span class="additional-information" > In the aftermath of a violent demonstration against police brutality, sparked by the hospitalisation of the critically wounded, Abdel Ichacha, three young friends, Vinz, Hubert, and Saïd, reunite the following morning in their neighbourhood on one of the wretched, low-income banlieues outside Paris. Blind with rage, and the unreasoning desire to settle the score with his stainless-steel, snub-nosed Smith and Wesson Model 629 revolver, more and more, Vinz seems like a ticking time bomb. In the meantime, during the course of twenty-four hours, he is killing time, meandering through the metropolis' faceless streets, waiting to explode. But, hatred breeds hatred, violence begets violence, and murder is never the solution. Can there be hope when there is no place to go but down? -Nick Riganas.  </span>
    <span class="additional-information" > Injured by a police inspector during an interrogation, Abdel is at a hospital, almost dead. In the suburbs where he lives, some riots happened during the night, and one policeman lost his gun. One of Abdel's friends, Vinz, finds it. Vinz and his two pals, Said and Hubert, have nothing to do so they try to kill time. Vinz swears that if Abdel dies, he will shoot a policeman... -Yepok.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDNiOTA5YjktY2Q0Ni00ODgzLWE5MWItNGExOWRlYjY2MjBlXkEyXkFqcGdeQXVyNjQ2MjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="La Haine"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chanteloup-les-Vignes, Yvelines, France </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.97833</span>, <span class="lon">2.03083</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Paris, France </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.85658</span>, <span class="lon">2.35183</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Place René Cassin, Place René Cassin, Paris, 75001, France </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.863075</span>, <span class="lon">2.344985</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Gare SNCF de Paris Saint-Lazare, 13 rue d'Amsterdam, Paris, 75008, France </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.875354375</span>, <span class="lon">2.325632046875</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[48.85658, 2.35183], [48.863075, 2.344985], [48.875354375, 2.325632046875]], "data": [{"lat": 48.97833, "lon": 2.03083, "name": "Chanteloup-les-Vignes, Yvelines, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.863075, "lon": 2.344985, "name": "Place Ren\u00e9 Cassin, Place Ren\u00e9 Cassin, Paris, 75001, France"}, {"lat": 48.875354375, "lon": 2.325632046875, "name": "Gare SNCF de Paris Saint-Lazare, 13 rue d\u0027Amsterdam, Paris, 75008, France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>