<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Prisoners</h3>
                        <p class="card-text">
                          When Keller Dover's daughter and her friend go missing, he takes matters into his own hands as the police pursue multiple leads and the pressure mounts. How far would you go to protect your family? Keller Dover is facing every parent's worst nightmare. His six-year-old daughter, Anna, is missing, together with her young friend, Joy, and as minutes turn to hours, panic sets in. The only lead is a dilapidated RV that had earlier been parked on their street. Heading the investigation, Detective Loki arrests its driver, Alex Jones, but a lack of evidence forces his release. As the police pursue multiple leads and pressure mounts, knowing his child's life is at stake the frantic Dover decides he has no choice but to take matters into his own hands. But just how far will this desperate father go to protect his family?::Warner Bros. Pictures When two girls go missing, the families call the police. The brother of one of the girls says that an RV was parked on the street. The police find the RV and the man inside is a mentally challenged man. The detective in charge questions him but says nothing. The father of one of the girls tells the detective to keep him locked up so they can work on him. But he says without more evidence they have to let him go. When the father learns of this he goes to confront the man and the man says something which makes the father think he knows something. So he grabs him and works on him to make him talk but he doesn't. The detective continues to try and find the girls.::rcs0411@yahoo.com On Thanksgiving, Keller Dover, his wife Grace, their teenage son Ralph and their little daughter Anna go to the home of their neighbors and friends Franklin Birch, his wife Nancy, their teenage daughter Eliza and their little daughter Joy to celebrate together in a lunch party. Anna and Joy want to play on the street and Ralph stays with them. The girls play in a ROV and Ralph brings them back home. Later Anna asks her father to go to their house with Joy to seek her emergency whistle and Keller tells her to call Ralph or Eliza to go with them. Later the families realize that the girls went alone and have vanished, and they call the police department. Detective Loki is assigned to the case and he arrests the teenager Alex Jones that drives the trailer. Soon they learn that Alex has the IQ of a ten year-old boy and he is discharged. When he is leaving the precinct with his aunt Holly Jones, Keller presses Alex and he says to Keller that "the girls have not cried when he left them". Keller asks to keep Alex imprisoned during the investigations, but Loki cannot hold him anymore. While Detective Loki investigates the pedophiles near the location, Keller decides to abduct Alex to torture him and find where his beloved daughter and her friend are, crossing the thin line between right and wrong.::Claudio Carvalho, Rio de Janeiro, Brazil In a town in northeastern Pennsylvania, Keller and Grace Dover, Franklin and Nancy Birch, and their respective offspring - each couple with a teenager and adolescent apiece - are best friends. While the two families are celebrating Thanksgiving together, the two adolescent girls, Anna Dover and Joy Birch, go missing. Based on events earlier in the day, the two families believe that the girls were abducted by whoever lives in the camper van parked in their neighborhood. Their beliefs are strengthened after they meet the resident of the camper, Alex Jones, a mentally childlike young man who is supported in every respect by his overprotective aunt, Holly Jones, and based on other subsequent evidence about Alex that emerges. However, Detective Loki, the lead police investigator, is pretty certain that Alex did not abduct the girls, he instead initially following leads of known sex offenders and pedophiles in the area. In addition, Loki has no evidence to hold Alex in custody, placing him at odds especially with Keller, who is certain that Alex is the one who abducted the girls. While Loki continues his investigation with Keller accusing him of not doing his job by following what he considers are pointless leads, Keller decides he has to take matters into his own hands. He has to decide how much he will involve Grace, Franklin and Nancy in getting Alex to divulge where the girls are by any means possible. His decisions as in who he will involve in getting Alex to talk may depend on how like-minded he believes the other three are, they who may be as devastated as he is, but who may neither be certain that Alex is the perpetrator or go to the same extremes as he to get the information from Alex.::Huggo Against the backdrop of what should have been a happy Thanksgiving dinner, a terrible case of a mysterious abduction unfolds, as Anna, the six-year-old daughter of the small-town carpenter, Keller Dover, and her best friend, Joy, vanish without a trace. As time is against the desperate father, the only lead points at troubled Alex Jones; however, due to lack of evidence, Detective Loki knows that the alleged prime suspect will soon be free. Now, the odds are against them, and Keller will have to take matters into his own hands, even if his reckless decision threatens to put his freedom at risk. Will he ever see the girls again, alive and in one piece?::Nick Riganas
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Prisoners"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Conyers, Georgia, United States
            </td>   
                <td class="table__cell">
                33.6676, -84.0177
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Porterdale, Georgia, United States
            </td>   
                <td class="table__cell">
                33.5751, -83.8938
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1605 Troy Smith Road, Monroe, Georgia 30656, United States
            </td>   
                <td class="table__cell">
                33.80716, -83.77518
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>   
                <td class="table__cell">
                33.7491, -84.3902
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                700 Deering Road Southeast, Conyers, Georgia 30094, United States
            </td>   
                <td class="table__cell">
                33.61351, -84.02305
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2903 High Brook Way Southeast, Conyers, Georgia 30094, United States
            </td>   
                <td class="table__cell">
                33.61251, -84.02539
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1634 Phillips Road, Lithonia, Georgia 30058, United States
            </td>   
                <td class="table__cell">
                33.743185, -84.1341
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                651 James P Brawley Drive Northwest, Atlanta, Georgia 30318, United States
            </td>   
                <td class="table__cell">
                33.77245, -84.41215
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                748 Donald Lee Hollowell Parkway Northwest, Atlanta, Georgia 30318, United States
            </td>   
                <td class="table__cell">
                33.77277, -84.41193
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>   
                <td class="table__cell">
                33.7491, -84.3902
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4916 North Royal Atlanta Drive, Tucker, Georgia 30084, United States
            </td>   
                <td class="table__cell">
                33.85948, -84.18709
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stanton Woods Drive Southeast, Conyers, Georgia 30094, United States
            </td>   
                <td class="table__cell">
                33.615315, -84.027025
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Greenview Avenue Southeast, Conyers, Georgia 30094, United States
            </td>   
                <td class="table__cell">
                33.61342, -84.02494
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shelton, Connecticut, United States
            </td>   
                <td class="table__cell">
                41.3165, -73.0932
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                5099 Memorial Drive, Stone Mountain, Georgia 30083, United States
            </td>   
                <td class="table__cell">
                33.794025, -84.226345
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stone Mountain Hwy 78, Snellville, Georgia 30039, United States
            </td>   
                <td class="table__cell">
                33.834307, -84.080535
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stone Mountain, Georgia, United States
            </td>   
                <td class="table__cell">
                33.8081, -84.1706
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Derby, Connecticut, United States
            </td>   
                <td class="table__cell">
                41.3224, -73.089
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[33.5751, -83.8938], [33.61251, -84.02539], [33.61342, -84.02494]], "data": [{"lat": 33.6676, "lon": -84.0177, "name": "Conyers, Georgia, United States"}, {"lat": 33.5751, "lon": -83.8938, "name": "Porterdale, Georgia, United States"}, {"lat": 33.80716, "lon": -83.77518, "name": "1605 Troy Smith Road, Monroe, Georgia 30656, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 33.61351, "lon": -84.02305, "name": "700 Deering Road Southeast, Conyers, Georgia 30094, United States"}, {"lat": 33.61251, "lon": -84.02539, "name": "2903 High Brook Way Southeast, Conyers, Georgia 30094, United States"}, {"lat": 33.743185, "lon": -84.1341, "name": "1634 Phillips Road, Lithonia, Georgia 30058, United States"}, {"lat": 33.77245, "lon": -84.41215, "name": "651 James P Brawley Drive Northwest, Atlanta, Georgia 30318, United States"}, {"lat": 33.77277, "lon": -84.41193, "name": "748 Donald Lee Hollowell Parkway Northwest, Atlanta, Georgia 30318, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 33.85948, "lon": -84.18709, "name": "4916 North Royal Atlanta Drive, Tucker, Georgia 30084, United States"}, {"lat": 33.615315, "lon": -84.027025, "name": "Stanton Woods Drive Southeast, Conyers, Georgia 30094, United States"}, {"lat": 33.61342, "lon": -84.02494, "name": "Greenview Avenue Southeast, Conyers, Georgia 30094, United States"}, {"lat": 41.3165, "lon": -73.0932, "name": "Shelton, Connecticut, United States"}, {"lat": 33.794025, "lon": -84.226345, "name": "5099 Memorial Drive, Stone Mountain, Georgia 30083, United States"}, {"lat": 33.834307, "lon": -84.080535, "name": "Stone Mountain Hwy 78, Snellville, Georgia 30039, United States"}, {"lat": 33.8081, "lon": -84.1706, "name": "Stone Mountain, Georgia, United States"}, {"lat": 41.3224, "lon": -73.089, "name": "Derby, Connecticut, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>