       <div class="col-md-8  align-self-start mt-0">
            <h4 class="travel-time"></h4>
            <div class="map-container"><div id="map" class="invisible"></div><div id="static"></div></div>

            <div class="row">
              <div id="liveAlertPlaceholder">
                <div class="alerts mt-2 alert-warning"></div>
                <div class="history"></div>
              </div>
            </div>
          </div>