<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Rush</h3>
                        <p class="card-text">
                          The merciless 1970s rivalry between Formula One rivals James Hunt and Niki Lauda.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWEwODJmZDItYTNmZC00OGM4LThlNDktOTQzZjIzMGQxODA4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rush"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nürburgring, Rhineland Palatinate, Germany
            </td>   
                <td class="table__cell">
                50.330861, 6.940269
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cologne, North Rhine Westphalia, Germany
            </td>   
                <td class="table__cell">
                50.94222, 6.95778
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brands Hatch racing track, Kent, England, UK 
            </td>   
                <td class="table__cell">
                51.2245, 0.7334
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blackbushe Airport, Hampshire, England, UK
            </td>   
                <td class="table__cell">
                51.32262, -0.839338
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cadwell Park, Lincolnshire, England, UK 
            </td>   
                <td class="table__cell">
                52.812744, -0.838793
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cadwell Park Racing Circuit, Louth, Lincolnshire, England, UK
            </td>   
                <td class="table__cell">
                53.3669, -0.0061
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Evolution Printing, Stanhope Road, Camberley, UK 
            </td>   
                <td class="table__cell">
                51.332092, -0.768192
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Louth, Lincolnshire, England, UK 
            </td>   
                <td class="table__cell">
                53.3669, -0.0061
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Easton Neston, Towcester, Northamptonshire, England, UK 
            </td>   
                <td class="table__cell">
                52.13, -0.99
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Donington Park, Wilson, Leicestershire, England, UK 
            </td>   
                <td class="table__cell">
                52.826469, -1.369858
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Vienna, Austria
            </td>   
                <td class="table__cell">
                48.20833, 16.37306
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Singerstraße, Vienna, Austria
            </td>   
                <td class="table__cell">
                48.2070986, 16.3743026
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                North Rhine Westphalia, Germany
            </td>   
                <td class="table__cell">
                51.46667, 7.55
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Norfolk, England, UK 
            </td>   
                <td class="table__cell">
                52.6667, 1
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Longcross Studios, Chobham Lane, Longcross, Surrey, England, UK
            </td>   
                <td class="table__cell">
                51.3481, -0.6038
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chobham Lane, Longcross, Surrey, England, UK
            </td>   
                <td class="table__cell">
                51.381663, -0.590569
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Longcross, Surrey, England, UK
            </td>   
                <td class="table__cell">
                51.380692, -0.549514
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Surrey, England, UK
            </td>   
                <td class="table__cell">
                51.25, -0.3333
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, UK
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>