<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Rush</h3>
          <p class="card-text mb-0">


  <span > The merciless 1970s rivalry between Formula One rivals James Hunt and Niki Lauda.  </span>
                          <span > Set against the sexy, glamorous golden age of Formula 1 racing in the 1970s, the film is based on the true story of a great sporting rivalry between handsome English playboy James Hunt (Hemsworth), and his methodical, brilliant opponent, Austrian driver Niki Lauda (Bruhl). The story follows their distinctly-different personal styles on and off the track, their loves, and the astonishing 1976 season in which both drivers were willing to risk everything to become world champion in a sport with no margin for error: if you make a mistake, you die. -P. Morgan.  </span>
                          <span > Both on the track and off, Hunt (Hemsworth) and Lauda (Bruhl) couldn't have been more different. Yet as much as Englishman Hunt's showy public persona clashed with Lauda's reputation for tightly-controlled perfectionism, both men remained bound together by one undeniable fact--they were both among the best drivers ever to grace the racetrack. But when a horrific crash during the 1976 Grand Prix at the Nürburgring nearly claims Lauda's life, a grudging respect develops between the two racers as Hunt realizes just how devoted his greatest adversary is to the sport they both love.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWEwODJmZDItYTNmZC00OGM4LThlNDktOTQzZjIzMGQxODA4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rush"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nürburgring, Nürburgring Boulevard 1, Müllenbach, Rhineland-Palatinate 53520, Germany
            </td>
                <td class="table__cell">
                50.330861, 6.940269
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Köln, North Rhine-Westphalia, Germany
            </td>
                <td class="table__cell">
                50.94222, 6.95778
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Kent, England, United Kingdom
            </td>
                <td class="table__cell">
                51.2245, 0.7334
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Blackbushe Airport, Terminal Building, Camberley, England GU17 9LB, United Kingdom
            </td>
                <td class="table__cell">
                51.32262, -0.839338
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chadwell, Leicestershire, England, United Kingdom
            </td>
                <td class="table__cell">
                52.812744, -0.838793
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Louth, Lincolnshire, England, United Kingdom
            </td>
                <td class="table__cell">
                53.3669, -0.0061
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Stanhope Road, Camberley, GU15 3BS, United Kingdom
            </td>
                <td class="table__cell">
                51.332092, -0.768192
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Louth, Lincolnshire, England, United Kingdom
            </td>
                <td class="table__cell">
                53.3669, -0.0061
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Towcester, Northamptonshire, England, United Kingdom
            </td>
                <td class="table__cell">
                52.13, -0.99
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Donington Park, Castle Donington, Derby, England DE74 2RP, United Kingdom
            </td>
                <td class="table__cell">
                52.826469, -1.369858
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Vienna, Austria
            </td>
                <td class="table__cell">
                48.20833, 16.37306
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Singerstraße, 1010 Innere Stadt, Austria
            </td>
                <td class="table__cell">
                48.2070986, 16.3743026
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                North Rhine-Westphalia, Germany
            </td>
                <td class="table__cell">
                51.46667, 7.55
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Norfolk, England, United Kingdom
            </td>
                <td class="table__cell">
                52.6667, 1
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chobham, Surrey, England, United Kingdom
            </td>
                <td class="table__cell">
                51.3481, -0.6038
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chobham Lane, Chertsey, KT16 0BQ, United Kingdom
            </td>
                <td class="table__cell">
                51.381663, -0.590569
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Trys Hill, Lyne, Chertsey, KT16 0DJ, United Kingdom
            </td>
                <td class="table__cell">
                51.380692, -0.549514
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Surrey, England, United Kingdom
            </td>
                <td class="table__cell">
                51.25, -0.3333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United Kingdom
            </td>
                <td class="table__cell">
                54.2379333607472, -2.36966957036279
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Germany
            </td>
                <td class="table__cell">
                51.1334813439932, 10.0183432948567
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Austria
            </td>
                <td class="table__cell">
                47.6077978292689, 14.3001435907641
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.25, -0.3333], [51.32262, -0.839338], [51.332092, -0.768192]], "data": [{"lat": 50.330861, "lon": 6.940269, "name": "N\u00fcrburgring, N\u00fcrburgring Boulevard 1, M\u00fcllenbach, Rhineland-Palatinate 53520, Germany"}, {"lat": 50.94222, "lon": 6.95778, "name": "K\u00f6ln, North Rhine-Westphalia, Germany"}, {"lat": 51.2245, "lon": 0.7334, "name": "Kent, England, United Kingdom"}, {"lat": 51.32262, "lon": -0.839338, "name": "Blackbushe Airport, Terminal Building, Camberley, England GU17 9LB, United Kingdom"}, {"lat": 52.812744, "lon": -0.838793, "name": "Chadwell, Leicestershire, England, United Kingdom"}, {"lat": 53.3669, "lon": -0.0061, "name": "Louth, Lincolnshire, England, United Kingdom"}, {"lat": 51.332092, "lon": -0.768192, "name": "Stanhope Road, Camberley, GU15 3BS, United Kingdom"}, {"lat": 53.3669, "lon": -0.0061, "name": "Louth, Lincolnshire, England, United Kingdom"}, {"lat": 52.13, "lon": -0.99, "name": "Towcester, Northamptonshire, England, United Kingdom"}, {"lat": 52.826469, "lon": -1.369858, "name": "Donington Park, Castle Donington, Derby, England DE74 2RP, United Kingdom"}, {"lat": 48.20833, "lon": 16.37306, "name": "Vienna, Austria"}, {"lat": 48.2070986, "lon": 16.3743026, "name": "Singerstra\u00dfe, 1010 Innere Stadt, Austria"}, {"lat": 51.46667, "lon": 7.55, "name": "North Rhine-Westphalia, Germany"}, {"lat": 52.6667, "lon": 1, "name": "Norfolk, England, United Kingdom"}, {"lat": 51.3481, "lon": -0.6038, "name": "Chobham, Surrey, England, United Kingdom"}, {"lat": 51.381663, "lon": -0.590569, "name": "Chobham Lane, Chertsey, KT16 0BQ, United Kingdom"}, {"lat": 51.380692, "lon": -0.549514, "name": "Trys Hill, Lyne, Chertsey, KT16 0DJ, United Kingdom"}, {"lat": 51.25, "lon": -0.3333, "name": "Surrey, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 51.1334813439932, "lon": 10.0183432948567, "name": "Germany"}, {"lat": 47.6077978292689, "lon": 14.3001435907641, "name": "Austria"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>