<div class=" py-3 pb-md-4 mx-auto text-left">
          <h3 class=" fw-normal"><%= title %></h3>
       
           <% if (subtitle) { %>
   <p class="fs-5 text-muted"><%= subtitle %></p>
 
<% } %>
        </div>