<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Cinema Paradiso</h3>
          <p class="card-text mb-0">


  <span > A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.  </span>
                          <span > A boy who grew up in a native Sicilian Village returns home as a famous director after receiving news about the death of an old friend. Told in a flashback, Salvatore reminiscences about his childhood and his relationship with Alfredo, a projectionist at Cinema Paradiso. Under the fatherly influence of Alfredo, Salvatore fell in love with film making, with the duo spending many hours discussing about films and Alfredo painstakingly teaching Salvatore the skills that became a stepping stone for the young boy into the world of film making. The film brings the audience through the changes in cinema and the dying trade of traditional film making, editing and screening. It also explores a young boy's dream of leaving his little town to foray into the world outside. -Clarisse P.  </span>
                          <span > In post-World War II Sicily, at the small village of Giancaldo, the fatherless eight-year-old boy, Salvatore "Totò" Di Vita, befriends Alfredo, the grizzled projectionist of the local Cinema Paradiso, and gains a mentor, and the father he never had. As the wide-eyed boy becomes enchanted by the dazzling world of the movies, growing up with the everlasting characters of Akira Kurosawa, Jean Renoir, John Wayne, Charles Chaplin, and everything in between, his vivid dreams start taking shape, even though the village priest, Father Adelfio, never misses an opportunity to censor films. But, after thirty long years of absence, the death of a dear one forces silver-haired Salvatore, now a prominent film director, to reconnect with his old hometown, and his faded, celluloid-scented childhood memories. Can he remember the taste of youth's first kiss? -Nick Riganas.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A man receives news from his aging mother in a little town that someone he once knew has passed away. A beautiful story unfolds about the man's childhood friendship with an old man who was the projectionist at the local theater. Their bond was one that contained many highlights and tragedies, and shaped the way for a young boy to grow and move out of his rundown village to pursue a dream. -Tam Bui .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2FhYjEyYmYtMDI1Yy00YTdlLWI2NWQtYmEzNzAxOGY1NjY2XkEyXkFqcGdeQXVyNTA3NTIyNDg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Cinema Paradiso"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Cefalù, 90039 Villabate Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.074555</span>, <span class="lon">13.445014</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Sicilò, Via Messina, 13A, Palermo, Palermo 90141, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.126257</span>, <span class="lon">13.352082</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Palazzo Adriano, Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.68333</span>, <span class="lon">13.38333</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Termini Imerese, 90039 Villabate Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.0755985</span>, <span class="lon">13.4475081</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bagheria, Bagheria, Palermo 90011, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.073008</span>, <span class="lon">13.508564</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chiusa Sclafani, Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.68333</span>, <span class="lon">13.26667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Solanto, Santa Flavia, Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.076669</span>, <span class="lon">13.542848</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Castelbuono, Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.93056</span>, <span class="lon">14.08833</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Pio La Torre, 90037 Piana degli Albanesi Palermo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.996185</span>, <span class="lon">13.280297</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Lazio, 00019 Tivoli Rome, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.9499874999981</span>, <span class="lon">12.7727081111137</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Via Lazio, 01010 Oriolo Romano Viterbo, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.1710210429676</span>, <span class="lon">12.1378036624942</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lungomare Paolo Toscanelli, Lungomare Paolo Toscanelli, Roma, Rome 00122, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.728049</span>, <span class="lon">12.282957</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Scala to Santa Maria del Monte, Caltagirone, Catania 95041, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.23769</span>, <span class="lon">14.521768</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.5041539170675</span>, <span class="lon">12.6463610364431</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[37.68333, 13.26667], [37.68333, 13.38333], [37.93056, 14.08833]], "data": [{"lat": 38.074555, "lon": 13.445014, "name": "Via Cefal\u00f9, 90039 Villabate Palermo, Italy"}, {"lat": 38.126257, "lon": 13.352082, "name": "Sicil\u00f2, Via Messina, 13A, Palermo, Palermo 90141, Italy"}, {"lat": 37.68333, "lon": 13.38333, "name": "Palazzo Adriano, Palermo, Italy"}, {"lat": 38.0755985, "lon": 13.4475081, "name": "Via Termini Imerese, 90039 Villabate Palermo, Italy"}, {"lat": 38.073008, "lon": 13.508564, "name": "Bagheria, Bagheria, Palermo 90011, Italy"}, {"lat": 37.68333, "lon": 13.26667, "name": "Chiusa Sclafani, Palermo, Italy"}, {"lat": 38.076669, "lon": 13.542848, "name": "Solanto, Santa Flavia, Palermo, Italy"}, {"lat": 37.93056, "lon": 14.08833, "name": "Castelbuono, Palermo, Italy"}, {"lat": 37.996185, "lon": 13.280297, "name": "Via Pio La Torre, 90037 Piana degli Albanesi Palermo, Italy"}, {"lat": 41.9499874999981, "lon": 12.7727081111137, "name": "Via Lazio, 00019 Tivoli Rome, Italy"}, {"lat": 42.1710210429676, "lon": 12.1378036624942, "name": "Via Lazio, 01010 Oriolo Romano Viterbo, Italy"}, {"lat": 41.728049, "lon": 12.282957, "name": "Lungomare Paolo Toscanelli, Lungomare Paolo Toscanelli, Roma, Rome 00122, Italy"}, {"lat": 37.23769, "lon": 14.521768, "name": "Scala to Santa Maria del Monte, Caltagirone, Catania 95041, Italy"}, {"lat": 42.5041539170675, "lon": 12.6463610364431, "name": "Italy"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>