<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Cinema Paradiso</h3>
                        <p class="card-text">
                          A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2FhYjEyYmYtMDI1Yy00YTdlLWI2NWQtYmEzNzAxOGY1NjY2XkEyXkFqcGdeQXVyNTA3NTIyNDg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Cinema Paradiso"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Cefalù, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.074555</span>, <span class="lon">13.445014</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palermo, Sicily, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.126257</span>, <span class="lon">13.352082</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palazzo Adriano, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.68333</span>, <span class="lon">13.38333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Termini Imerese, Palermo, Sicily, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.0755985</span>, <span class="lon">13.4475081</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bagheria, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.073008</span>, <span class="lon">13.508564</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chiusa Sclafani, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.68333</span>, <span class="lon">13.26667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Solanto, Santa Flavia, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.076669</span>, <span class="lon">13.542848</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Castelbuono, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.93056</span>, <span class="lon">14.08833</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lascari, Palermo, Sicily, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.996185</span>, <span class="lon">13.280297</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rome, Lazio, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.9499874999981</span>, <span class="lon">12.7727081111137</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Oriolo Romano, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.1710210429676</span>, <span class="lon">12.1378036624942</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lungomare Paolo Toscanelli, Lido di Ostia, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.728049</span>, <span class="lon">12.282957</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sicily, Italy
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.23769</span>, <span class="lon">14.521768</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>