<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Pan's Labyrinth</h3>
          <p class="card-text mb-0">


  <span > In the Falangist Spain of 1944, the bookish young stepdaughter of a sadistic army officer escapes into an eerie but captivating fantasy world.  </span>
                          <span > In 1944 Falangist Spain, a girl, fascinated with fairy-tales, is sent along with her pregnant mother to live with her new stepfather, a ruthless captain of the Spanish army. During the night, she meets a fairy who takes her to an old faun in the center of the labyrinth. He tells her she's a princess, but must prove her royalty by surviving three gruesome tasks. If she fails, she will never prove herself to be the true princess and will never see her real father, the king, again. -ahmetkozan.  </span>
                          <span > In 1944, in the post-Civil War in Spain, rebels still fight in the mountains against the Falangist troops. The young and imaginative Ofelia travels with her pregnant and sick mother Carmen Vidal to the country to meet and live with her stepfather, the sadistic and cruel Captain Vidal, in an old mill. During the night, Ofelia meets a fairy and together they go to a pit in the center of a maze where they meet a faun that tells that she is a princess from a kingdom in the underground. He also tells that her father is waiting for her, but she needs to accomplish three gruesome, tough and dangerous assignments first. Meanwhile, she becomes friend of the servant Mercedes, who is the sister of one of the rebels and actually is giving support to the group. In a dark, harsh and violent world, Ofelia lives her magical world trying to survive her tasks and sees her father and king again. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Ofelia's love of fairy tales is obvious from the beginning of El Laberinto del fauno. Set in the not so tranquil Spanish woodlands of World War Two, where a small band of anti-Falangist rebels are hiding out. This is where Ofelia and her pregnant mother have come to live, in the company of Capit치n Vidal, Ofelia's new stepfather and soon to be father of her half-brother. It is with the brutal, unforgiving and totalitarian idealist Capit치n Vidal, and his Falangist troops, who must weed out these resistance fighters of the hills and woods, that Ofelia finds her release and distraction of the new world order and its warring factions and delves into the older, mysterious and enchanting world of fairies, faun's and giant frogs. Beautiful, charming, graphic and deadly. El Laberinto del fauno. -Cinema_Fan.  </span>
    <span class="additional-information" > Set in Spain during World War II. This is the story of a young girl named Ofelia. She is a girl who has a passion for fairy tales, which causes her to see one during her trip on the forest that is not quiet. She goes to her stepfather's home in the country along with her pregnant but sickly mother, he is the sadistic Captain Vidal. Ofelia creates an imaginary world of her own to escape the cruel and harsh realities of the world. When she encounters a faun, she must complete three tasks in order to obtain immortality according to the legend of a princess. -Emphinix.  </span>
    <span class="additional-information" > The story takes place in Spain, a few years after The Civil War, which ended in 1939 with General Franco emerging victorious and taking over as Dictator of Spain. The Resistance has fled into the forests, but are looking to bounce back at any opportunity. Amidst this setting, the narrative of the film intertwines the real world with a mythical world centered on an overgrown abandoned labyrinth and a mysterious faun creature, with whom the main character, Ofelia (Ivana Baquero), interacts. Ofelia meets several strange and magical creatures who become central to her story, leading her through the trials of the old labyrinth garden. On successful completion of her tasks, Ofelia bears the chance to attain immortality by ascending the high throne of the underworld as Princess Moanna. Parallely running, is the story of Captain Vidal (Sergi Lopez), the son of a brave Commander who died in a battle in Morocco, who is posted on an Army outpost in the forest surrounded by the Resistance men. He takes Ofelia's mother Carmen (Ariadna Gil) as his wife, after the death of Ofelia's father. There is state control over the rations to prevent it from reaching the Resistance men hiding in the forests and amidst this he plays an evil character who is impossible to defend. Mercedes (Maribel Verdu), Vidal's housekeeper, who is secretly supporting the rebels is also supported by Dr Ferreiro (Alex Angulo) in her mission. Midway in the movie, The Resistance, in a stroke of brilliance, are able to overpower the men at the outpost and gain access to the rations leaving the Captain and his men dumbfounded. This incident in the movie, shifts the tide in favor of the Resistance. Soon after, Vidal discovers that his housekeeper Mercedes is a spy. Ofelia is locked in her bedroom, and Mercedes is taken to be tortured. However, she frees herself, stabs Vidal, and rejoins the rebels. The faun returns to Ofelia and tells her to bring her baby brother into the labyrinth. Vidal pursues her. The faun tells Ofelia that opening the portal to the underworld requires the blood of an innocent. The faun suggests a few drops of her baby brother's blood. Ofelia refuses to harm her brother; for further disobeying his orders, the faun refuses to help her. Vidal finds Ofelia talking to someone (the faun) whom Vidal cannot see. Vidal takes the baby from her arms and fatally shoots Ofelia; then, when he reaches the labyrinth's entrance, he is surrounded by the rebels who have taken over the outpost. Knowing that he will be killed, he hands the baby to Mercedes. One of the rebels kills Vidal. The movie ends with drops of Ofelia's blood falling down the center of the spiral stone staircase onto an altar. Ofelia then appears in a golden throne room. The king of the underworld says that she passed the final test, which was to choose to spill her own blood rather than that of her baby half-brother. -Dev X Cholera .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzFjMThiMGItOWRlMC00MDI4LThmOGUtYTNlZGZiYWI1YjMyXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Pan's Labyrinth"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Avenida Castilla Y Le칩n, 40400 El Espinar, Segovia, Spain
            </td>
                <td class="table__cell">
                40.7190941122036, -4.23999831526999
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calle Castilla Y Le칩n, 40490 Hontanares de Eresma, Segovia, Spain
            </td>
                <td class="table__cell">
                40.9919957943205, -4.20932644252205
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calle Belchite, 50420 Cadrete, Zaragoza, Spain
            </td>
                <td class="table__cell">
                41.5444276128572, -0.974927690344752
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Guadarrama, Madrid, Spain
            </td>
                <td class="table__cell">
                40.67278, -4.08889
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Spain
            </td>
                <td class="table__cell">
                41.2948556295683, -4.05568501525488
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Algete, Madrid, Spain
            </td>
                <td class="table__cell">
                40.59778, -3.50028
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[40.59778, -3.50028], [40.67278, -4.08889], [40.7190941122036, -4.23999831526999]], "data": [{"lat": 40.7190941122036, "lon": -4.23999831526999, "name": "Avenida Castilla Y Le\u00f3n, 40400 El Espinar, Segovia, Spain"}, {"lat": 40.9919957943205, "lon": -4.20932644252205, "name": "Calle Castilla Y Le\u00f3n, 40490 Hontanares de Eresma, Segovia, Spain"}, {"lat": 41.5444276128572, "lon": -0.974927690344752, "name": "Calle Belchite, 50420 Cadrete, Zaragoza, Spain"}, {"lat": 40.67278, "lon": -4.08889, "name": "Guadarrama, Madrid, Spain"}, {"lat": 41.2948556295683, "lon": -4.05568501525488, "name": "Spain"}, {"lat": 40.59778, "lon": -3.50028, "name": "Algete, Madrid, Spain"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>