<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Ran</h3>
                        <p class="card-text">
                          In Medieval Japan, an elderly warlord retires, handing over his empire to his three sons. However, he vastly underestimates how the new-found power will corrupt them and cause them to turn on each other...and him.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTEyNjg0MDM4OF5BMl5BanBnXkFtZTgwODI0NjUxODE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Ran"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Aso, Kumamoto, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.95222</span>, <span class="lon">131.12139</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Himeji Castle, Himeji, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.839389499999996</span>, <span class="lon">134.6939435</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kumamoto Castle, Kumamoto, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.803135</span>, <span class="lon">130.70481</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gotemba, Shizuoka, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.30861</span>, <span class="lon">138.935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kokonoe, Oita, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.188326</span>, <span class="lon">131.210333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kurosawa Film Studio, Tokyo, Japan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.703183</span>, <span class="lon">139.528087</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Nagoya Castle, Nagoya, Aichi, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.1855555</span>, <span class="lon">136.89885349999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shonai, Yamagata, Japan
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.814088999999996</span>, <span class="lon">139.7874955</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Toho Studios, Tokyo, Japan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.634654999999995</span>, <span class="lon">139.604309</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>