<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Lord of the Rings: The Two Towers</h3>
                        <p class="card-text">
                          While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZGMxZTdjZmYtMmE2Ni00ZTdkLWI5NTgtNjlmMjBiNzU2MmI5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Lord of the Rings: The Two Towers"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Hinuera Valley, Matamata, Waikato, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -37.8529654</span>, <span class="lon">175.7575813</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mount Tasman, Southern Alps, New Zealand 
            </td>   
                <td class="table__cell">
                <span class="lat"> -41.5</span>, <span class="lon">172.8</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Queenstown, Otago, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -45.03023</span>, <span class="lon">168.66271</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dry Creek Quarry, Wellington, New Zealand 
            </td>   
                <td class="table__cell">
                <span class="lat"> -41.28889</span>, <span class="lon">174.77722</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mount Ruapehu, Tongariro National Park, Central Plateau, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -39.236926</span>, <span class="lon">175.556076</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Camperdown Studios, Camperdown Road, Miramar, Wellington, New Zealand 
            </td>   
                <td class="table__cell">
                <span class="lat"> -41.3066553</span>, <span class="lon">174.8254519</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Milford Sound, Fiordland National Park, Southland, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -44.495032</span>, <span class="lon">168.083297</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Te Anau, Southland District, Southland, New Zealand 
            </td>   
                <td class="table__cell">
                <span class="lat"> -45.41667</span>, <span class="lon">167.71667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Twizel, Canterbury, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -44.25</span>, <span class="lon">170.1</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Upper Hutt, Wellington, New Zealand
            </td>   
                <td class="table__cell">
                <span class="lat"> -41.13333</span>, <span class="lon">175.05</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mount Sunday, Canterbury, South Island, New Zealand 
            </td>   
                <td class="table__cell">
                <span class="lat"> 53.83333</span>, <span class="lon">-6.5</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chicago Illinois, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8756</span>, <span class="lon">-87.6244</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>