<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Inception</h3>
                        <p class="card-text">
                          A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Inception"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fortress Mountain, Kananaskis Country, Alberta, Canada
            </td>   
                <td class="table__cell">
                51.061735, -115.160036
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tangier, Morocco 
            </td>   
                <td class="table__cell">
                35.78472, -5.8125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shizuoka, Japan
            </td>   
                <td class="table__cell">
                34.91639, 138.31639
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tokyo, Japan
            </td>   
                <td class="table__cell">
                35.6652065, 139.7263785
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Alberta, Canada
            </td>   
                <td class="table__cell">
                54.6426717391, -114.757175843012
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Da Stuzzi Delicatessen, 6 Rue César Franck, Paris 15, France 
            </td>   
                <td class="table__cell">
                48.847457, 2.309955
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kananaskis Village, Kananaskis Country, Alberta, Canada
            </td>   
                <td class="table__cell">
                50.9185, -115.147196
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pont de Bir Hakeim, Paris, France
            </td>   
                <td class="table__cell">
                48.856051, 2.28697775
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bedford, Bedfordshire, England, UK
            </td>   
                <td class="table__cell">
                52.067944, -0.47248
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cardington Airship Hangars, Bedfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.28478, -0.760758
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Spring Street, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                University College London, Bloomsbury, London, England, UK
            </td>   
                <td class="table__cell">
                51.522696867187506, -0.1293049453125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Commodore Schuyler F. Heim Bridge, Port of Los Angeles, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.7611452884965, -118.239047462989
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Farnborough Airfield, Hampshire, England, UK
            </td>   
                <td class="table__cell">
                51.29, -0.75
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rancho Palos Verdes, California, USA
            </td>   
                <td class="table__cell">
                33.7483, -118.3708
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rue Bouchut, Paris 15, Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bedfordshire, England, UK
            </td>   
                <td class="table__cell">
                51.869071, 0.567501
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 16, Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                John Ferraro Building, 111 North Hope Street, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05811, -118.24953
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Leo Carrillo State Beach   35000 W. Pacific Coast Highway, Malibu, California, USA
            </td>   
                <td class="table__cell">
                34.04678, -118.92636
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pasadena, California, USA
            </td>   
                <td class="table__cell">
                34.1476, -118.1445
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1240 S Hope St, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.039895, -118.264921
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Falls Lake, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA
            </td>   
                <td class="table__cell">
                34.14138, -118.35659
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                453 S Spring St, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.04812, -118.24909
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Malibu, California, USA
            </td>   
                <td class="table__cell">
                34.0058, -118.807
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris 15, Paris, France
            </td>   
                <td class="table__cell">
                46.066038, 4.055113
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05, -118.23
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>   
                <td class="table__cell">
                48.85658, 2.35183
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ark Mori Building   1 12 32, Akasaka, Minato, Tokyo, Japan 
            </td>   
                <td class="table__cell">
                35.667274, 139.739817
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>