<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">V for Vendetta</h3>
                        <p class="card-text">
                          In a future British tyranny, a shadowy freedom fighter, known only by the alias of "V," plots to overthrow it with the help of a young woman.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="V for Vendetta"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Aldwych Underground Station, Aldwych, Holborn, London, England, UK
            </td>   
                <td class="table__cell">
                51.5195982, -0.1137266
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Berlin, Germany
            </td>   
                <td class="table__cell">
                52.51667, 13.38333
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Güterfelde, Stahnsdorf, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                52.365104, 13.196034
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Studio Babelsberg, Potsdam, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                52.387806, 13.120573
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London Central Business District, London, England, UK
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trafalgar Square, St James's, London, England, UK
            </td>   
                <td class="table__cell">
                51.5080215, -0.128052
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Strand, London, England, UK
            </td>   
                <td class="table__cell">
                51.480897, -0.278674
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Farringdon Underground station, Cowcross Street, Clerkenwell, London, England, UK
            </td>   
                <td class="table__cell">
                51.432595, 0.102599
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hatfield House, Hatfield, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                51.761217, -0.2098325
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Singers' Club, George IV Public House, Portugal Street, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Marlene Dietrich Halle, Studio Babelsberg, Potsdam, Brandenburg, Germany
            </td>   
                <td class="table__cell">
                52.387158, 13.119628
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, England, UK
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Parliament Square, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                51.5005755, -0.1267345
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chicago Illinois, USA 
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>