<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">V for Vendetta</h3>
          <p class="card-text mb-0">


  <span > In a future British dystopian society, a shadowy freedom fighter, known only by the alias of "V", plots to overthrow the tyrannical government - with the help of a young woman.  </span>
                          <span > In the distant future, Evey Hammond is an average citizen of the United Kingdom, which is under the rule of the fascist and tyrannical Norsefire Party. She is an employee of the state-run British Television Network, but soon, she becomes the number one enemy of the state together with an enigmatic and larger-than-life freedom fighter known only by the letter "V". V informs Evey that she must hide in his underground lair for at least one year, and while she is reluctant to the idea at first, a bond soon forms between the two individuals. In the meanwhile, the mysterious past of V is gradually revealed to the police inspector tasked with capturing him, Eric Finch, and it is not long until he starts questioning everything his government stands for. -goddangwatir.  </span>
                          <span > Tells the story of Evey Hammond (Natalie Portman) and her unlikely but instrumental part in bringing down the fascist government that has taken control of a futuristic Great Britain. Saved from a life-and-death situation by a man in a Guy Fawkes mask who calls himself "V" (Hugo Weaving), she learns a general summary of V's past and, after a time, decides to help him bring down those who committed the atrocities that led to Britain being in the shape that it is in. -ahmetkozan.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Set against the futuristic landscape of totalitarian Britain, this movie tells the story of a mild-mannered young woman named Evey (Natalie Portman), who is rescued from a life situation by a masked guy known only as "V" (Hugo Weaving). Incomparably charismatic skilled in the art of combat. V detonates two London landmarks and takes over the government, urging his fellow citizens to rise up. As Evey uncovers the truth about V's mysterious background, she also discovers the truth about herself and emerges as his unlikely ally in the culmination of his plot to bring freedom and justice back to a society fraught with cruelty and corruption. -Alex W.  </span>
    <span class="additional-information" > In the not too distant future, Britain is filled with torture cells, unfair punishments, prejudice against minorities. However, in the midst of all this chaos, one man known only by the name V (Hugo Weaving) dares to stand up to the government and is labeled as a terrorist. One night V rescues a mild young woman called Evey Hammond (Natalie Portman), and an unlikely bond between the two emerges which results with Evey becoming Vs ally. But though V may be charismatic and have a passion for justice he also is bitter and has his own personal hatred of the government for something they did to him long ago. As November the 5th, the day V says he and those who will follow him will stand up to the government once and for all approaches, Detective Finch (Stephen Rea) becomes more and more determined to uncover the truth about V, however his search leads him to ask to question whether or not he is on the right side. -x_babyangel.  </span>
    <span class="additional-information" > In this obscure and Gothic tale, one attractive girl, Evey (Natalie Portman), gets involved accidentally in a terrorist attack, perpetrated by a masked and megalomaniac character, V (Hugo Weaving). V is following the same steps of Guy Fawkes, a sort of terrorist of the XVII century, who wanted to blow up the English Parlament in London. However, in present time, the Orwellian London lives under the fascist government of Chancellor Adam (Sir John Hurt), and V will fight against his regime, using the power of powder, blowing up important buildings. Evey will be chased by the Secret Police, thinking that she's the accomplice of V, who will accomplish Fawkes' mission of destroying the Parlament on the 5th of November, in this mixture of The Phantom of the Opera, George Orwell's 1984, and Batman. -Alejandro Frias.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="V for Vendetta"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Holborn, WC1R 5JH, Camden, London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.5195982, -0.1137266
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Berlin, Germany
            </td>
                <td class="table__cell">
                52.51667, 13.38333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Güterfelde, Stahnsdorf, Brandenburg, Germany
            </td>
                <td class="table__cell">
                52.365104, 13.196034
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Studio Babelsberg, August-Bebel-Str. 26-53, Potsdam, Brandenburg 14482, Germany
            </td>
                <td class="table__cell">
                52.387806, 13.120573
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Trafalgar Square, Trafalgar Sq, London, England WC2N 5DP, United Kingdom
            </td>
                <td class="table__cell">
                51.5080215, -0.128052
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Station, Bexley, Sidcup, DA15 7DH, United Kingdom
            </td>
                <td class="table__cell">
                51.432595, 0.102599
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Strand Drive, Richmond upon Thames, Richmond, TW9 4DX, United Kingdom
            </td>
                <td class="table__cell">
                51.480897, -0.278674
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marlene-Dietrich-Halle, Joseph-von-Sternberg-Str., Potsdam, Brandenburg 14482, Germany
            </td>
                <td class="table__cell">
                52.387158, 13.119628
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hatfield House, Great North Rd., Hatfield, England AL9 5NQ, United Kingdom
            </td>
                <td class="table__cell">
                51.761217, -0.2098325
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Parliament Square, Parliament Sq, London, England SW1P 3JX, United Kingdom
            </td>
                <td class="table__cell">
                51.5005755, -0.1267345
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.432595, 0.102599], [51.480897, -0.278674], [51.5005755, -0.1267345]], "data": [{"lat": 51.5195982, "lon": -0.1137266, "name": "Holborn, WC1R 5JH, Camden, London, Greater London, England, United Kingdom"}, {"lat": 52.51667, "lon": 13.38333, "name": "Berlin, Germany"}, {"lat": 52.365104, "lon": 13.196034, "name": "G\u00fcterfelde, Stahnsdorf, Brandenburg, Germany"}, {"lat": 52.387806, "lon": 13.120573, "name": "Studio Babelsberg, August-Bebel-Str. 26-53, Potsdam, Brandenburg 14482, Germany"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 51.5080215, "lon": -0.128052, "name": "Trafalgar Square, Trafalgar Sq, London, England WC2N 5DP, United Kingdom"}, {"lat": 51.432595, "lon": 0.102599, "name": "Station, Bexley, Sidcup, DA15 7DH, United Kingdom"}, {"lat": 51.480897, "lon": -0.278674, "name": "Strand Drive, Richmond upon Thames, Richmond, TW9 4DX, United Kingdom"}, {"lat": 52.387158, "lon": 13.119628, "name": "Marlene-Dietrich-Halle, Joseph-von-Sternberg-Str., Potsdam, Brandenburg 14482, Germany"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 51.761217, "lon": -0.2098325, "name": "Hatfield House, Great North Rd., Hatfield, England AL9 5NQ, United Kingdom"}, {"lat": 51.5005755, "lon": -0.1267345, "name": "Parliament Square, Parliament Sq, London, England SW1P 3JX, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>