<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">V for Vendetta</h3>
                        <p class="card-text">
                          In a future British tyranny, a shadowy freedom fighter, known only by the alias of "V," plots to overthrow it with the help of a young woman.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="V for Vendetta"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Aldwych Underground Station, Aldwych, Holborn, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.5195982</span>, <span class="lon">-0.1137266</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Berlin, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.51667</span>, <span class="lon">13.38333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Güterfelde, Stahnsdorf, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.365104</span>, <span class="lon">13.196034</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Studio Babelsberg, Potsdam, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.387806</span>, <span class="lon">13.120573</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                London Central Business District, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Trafalgar Square, St James's, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.5080215</span>, <span class="lon">-0.128052</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Strand, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.480897</span>, <span class="lon">-0.278674</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Farringdon Underground station, Cowcross Street, Clerkenwell, London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.432595</span>, <span class="lon">0.102599</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hatfield House, Hatfield, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.761217</span>, <span class="lon">-0.2098325</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Singers' Club, George IV Public House, Portugal Street, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Marlene Dietrich Halle, Studio Babelsberg, Potsdam, Brandenburg, Germany
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.387158</span>, <span class="lon">13.119628</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Parliament Square, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.5005755</span>, <span class="lon">-0.1267345</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chicago Illinois, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.8756</span>, <span class="lon">-87.6244</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>