<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Gran Torino</h3>
          <p class="card-text mb-0">


  <span > Disgruntled Korean War veteran Walt Kowalski sets out to reform his neighbor, Thao Lor, a Hmong teenager who tried to steal Kowalski's prized possession: a 1972 Gran Torino.  </span>
                          <span > Walt Kowalski (Clint Eastwood) is a widower who holds onto his prejudices despite the changes in his Michigan neighborhood and the world around him. Kowalski is a grumpy, tough-minded, unhappy old man who can't get along with either his kids or his neighbors. He is a Korean War veteran whose prize possession is a 1972 Gran Torino he keeps in mint condition. When his neighbor Thao Lor (Bee Vang), a young Hmong teenager under pressure from his gang member cousin, tries to steal his Gran Torino, Kowalski sets out to reform the youth. Drawn against his will into the life of Thao's family, Kowalski is soon taking steps to protect them from the gangs that infest their neighborhood. -alfiehitchie.  </span>
                          <span > Walt Kowalski (Clint Eastwood) is an embittered Korean War veteran who has just lost his wife. The world has changed around him as well. His once all-white neighborhood is now mostly Southeast Asian and he has a Hmong family living next door. He doesn't get along with his sons and is out of touch with his grandchildren, all of whom seem more interested in getting his house than anything else. His pride and joy, however, is his mint condition 1972 Gran Torino. When the Hmong teenager who lives next door, Thao Lor (Bee Vang), is challenged by his cousin and other local gang members to steal it, Walt almost shoots him. Gradually, however, he realizes he has more in common with his neighbors than his own family, and becomes something of a neighborhood hero when he prevents the gangbangers from forcing Thao into their car. He gradually takes Thao under his wing, teaching him a few things about life and helps getting him a job. Walt's intervention has a price, however, when the gang shoots up Thao's house and attack his sister Sue (Ahney Her). For Walt, it's time to take action, though not in a way you would expect. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Walt Kowalski (Clint Eastwood) is a retired auto worker and Korean War veteran living in Detroit, Michigan. Recently widowed, Walt lives alone with his dog in a crime-infested neighborhood and has a strained relationship with his family. A Hmong family moves next door to Walt but he wants nothing to do with them. One night, one of the members of the family, Thao Lor (Bee Vang), is coaxed by his cousin "Spider" (Doua Moua), a gang member, to steal Walt's prized Gran Torino. Thao botches the theft after getting caught by Walt. However, the duo reluctantly start a friendship as Walt seeks to straighten out Thao. As Walt's relationship with Thao extends to Thao's family, Walt is forced to defend them from Spider and his gang who begin to routinely attack Thao and his family. -Sam.  </span>
    <span class="additional-information" > Having nothing but memories, and his top-notch, dark green metallic 1972 Ford Gran Torino Sport, to fill the cold void of his lonely, sad life, the cantankerous Korean War veteran and former assembly-line worker, Walt Kowalski, is whiling away the time in his once-peaceful, all-white, working-class neighbourhood. Now, a fatherless Hmong family has moved in next door, and as if that weren't enough, one of his new neighbours, the rudderless teenager, Thao Lor, has set his sights on stealing Walt's prized possession. But, no one steals from Walt, and as an ill-advised act of teenage bravado paves the way for an uneasy alliance and a fragile relationship with Thao's older sister, Sue, something is starting to change, and the cranky curmudgeon becomes a reluctant father figure. Will the bigoted misanthrope earn his redemption through the Asian family living next door? -Nick Riganas.  </span>
    <span class="additional-information" > Elderly Walt Kowalski (Clint Eastwood) is recently widowed. Much of Walt's views of life are shaped by his time in the Korean War. On strained relations with his grown sons and not wanting the advice of the Priest, Father Janovich (Christopher Carley), of his wife's church, Walt is a gruff man who has few friends. As such, he lives a solitary life with his pet Labrador retriever Daisy in the same house in which he has lived for years, which is located in a working class Highland Park, Michigan neighborhood. Recently, the neighborhood has gone through changes where it is now racially mixed. The Lor family, of ethnic Hmong descent, move into the house next door to Walt's, the family which includes two teenagers, streetwise Sue (Ahney Her) and shy Thao (Bee Vang). Initially, Walt wants nothing to do with his new foreign neighbors. Slowly, Walt does get involved in Sue and Thao's lives, despite Thao having once tried to steal Walt's beloved 1972 Gran Torino. That attempted theft was a Hmong gang initiation ritual, a gang to which Thao does not want to belong. Walt sees that Sue and Thao will never be able to live in peace as long as that gang exists. As his teen-aged neighbors' unofficial protector, Walt has to figure out how best to restore his sense of right in the neighborhood. -Huggo.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTc5NTk2OTU1Nl5BMl5BanBnXkFtZTcwMDc3NjAwMg@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gran Torino"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Royal Oak, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.4895</span>, <span class="lon">-83.1446</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Grosse Pointe Park, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3759</span>, <span class="lon">-82.9374</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Center Line, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.485</span>, <span class="lon">-83.0277</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Highland Park, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.4057</span>, <span class="lon">-83.0969</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">238 Rhode Island Avenue, Highland Park, Michigan 48203, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.40006</span>, <span class="lon">-83.08332</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Grosse Pointe, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3861</span>, <span class="lon">-82.9119</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Detroit, Michigan, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3487</span>, <span class="lon">-83.0567</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">204 West 11 Mile Road, Royal Oak, Michigan 48067, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.48995</span>, <span class="lon">-83.14586</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">13140 Charlevoix Street, Detroit, Michigan 48215, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.38045</span>, <span class="lon">-82.95702</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[42.3487, -83.0567], [42.3759, -82.9374], [42.38045, -82.95702]], "data": [{"lat": 42.4895, "lon": -83.1446, "name": "Royal Oak, Michigan, United States"}, {"lat": 42.3759, "lon": -82.9374, "name": "Grosse Pointe Park, Michigan, United States"}, {"lat": 42.485, "lon": -83.0277, "name": "Center Line, Michigan, United States"}, {"lat": 42.4057, "lon": -83.0969, "name": "Highland Park, Michigan, United States"}, {"lat": 42.40006, "lon": -83.08332, "name": "238 Rhode Island Avenue, Highland Park, Michigan 48203, United States"}, {"lat": 42.3861, "lon": -82.9119, "name": "Grosse Pointe, Michigan, United States"}, {"lat": 42.3487, "lon": -83.0567, "name": "Detroit, Michigan, United States"}, {"lat": 42.48995, "lon": -83.14586, "name": "204 West 11 Mile Road, Royal Oak, Michigan 48067, United States"}, {"lat": 42.38045, "lon": -82.95702, "name": "13140 Charlevoix Street, Detroit, Michigan 48215, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>