<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Gran Torino</h3>
                        <p class="card-text">
                          Disgruntled Korean War veteran Walt Kowalski sets out to reform his neighbor, Thao Lor, a Hmong teenager who tried to steal Kowalski's prized possession: a 1972 Gran Torino.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTc5NTk2OTU1Nl5BMl5BanBnXkFtZTcwMDc3NjAwMg@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gran Torino"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Royal Oak, Michigan, USA
            </td>   
                <td class="table__cell">
                42.4895, -83.1446
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Grosse Pointe Park, Michigan, USA
            </td>   
                <td class="table__cell">
                42.3759, -82.9374
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Center Line, Michigan, USA 
            </td>   
                <td class="table__cell">
                42.485, -83.0277
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Highland Park, Michigan, USA
            </td>   
                <td class="table__cell">
                42.4057, -83.0969
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                238 Rhode Island Street Highland Park Michigan, USA 
            </td>   
                <td class="table__cell">
                42.40006, -83.08332
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Grosse Pointe, Detroit, Michigan, USA
            </td>   
                <td class="table__cell">
                42.3861, -82.9119
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Detroit, Michigan, USA
            </td>   
                <td class="table__cell">
                42.3487, -83.0567
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                204 W 11 Mile Rd, Royal Oak, Michigan, USA
            </td>   
                <td class="table__cell">
                42.48995, -83.14586
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                13140 Charlevoix St, Detroit, Michigan, USA 
            </td>   
                <td class="table__cell">
                42.38045, -82.95702
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>