<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Modern Times</h3>
                        <p class="card-text">
                          The Tramp struggles to live in modern industrial society with the help of a young homeless woman. Chaplin's last 'silent' film, filled with sound effects, was made when everyone else was making talkies. Charlie turns against modern society, the machine age, (The use of sound in films ?) and progress. Firstly we see him frantically trying to keep up with a production line, tightening bolts. He is selected for an experiment with an automatic feeding machine, but various mishaps leads his boss to believe he has gone mad, and Charlie is sent to a mental hospital - When he gets out, he is mistaken for a communist while waving a red flag, sent to jail, foils a jailbreak, and is let out again. We follow Charlie through many more escapades before the film is out.::Colin Tinto <cst@imdb.com> The idea of the film was apparently given to Chaplin by a young reporter, who told him about the production line system in Detroit, which was turning its workers into nervous wrecks. In the film, Charlie becomes literally trapped in the machine and, in one of his finest patches of comic invention, is battered and buffeted by an automatic feeding machine introduced by his bosses to save time and money. Cured after his breakdown, he is arrested when he picks up a red flag that has fallen off the back of a lorry, and runs down the street to return it, exactly the same time as a left-wing demonstration comes round the corner. He meets 'The Gamine' in the back of the police van, who has also been arrested for stealing bread. From then on the theme is about two nondescripts trying to get along in modern times. "Smile, though your heart is breaking ..."::alfiehitchie A little tramp is finding it difficult to match his own sensibilities to the modern mechanized world. Failing as a worker on a factory assembly line, he gets into a series of adventures and misadventures, which leads to him meeting a young recently orphaned gamine who ran away rather than end up in an orphanage. They try to survive in the world together, both on the run from the law, although his previous stints behind bars were to him more comforting than life outside in the cold modern world. Beyond being wanted by the law, the question becomes whether they individually or together can find their proper place in the ever changing world which seems out to get them.::Huggo The story begins on the life of a factory working who is employed on the assembly line. His job sees him screwing nuts at an ever-increasing rate as part of the assembly line as well as being subjected to new, untested inventions like an 'automatic feeding machine'. This daily monotony pushes him over the edge and, after a lengthy stay in an asylum, is arrested for being mistakenly taken as an instigator at a communist rally. What follows is the factory worker meeting the love of his life, taking on several new jobs and trying to make what proves to be a difficult living.::Kyle Perez
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjJiZjMzYzktNjU0NS00OTkxLWEwYzItYzdhYWJjN2QzMTRlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Modern Times"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sierra Highway and Penman Road, Agua Dulce, California 91390, United States
            </td>   
                <td class="table__cell">
                34.5215271, -118.2645085
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States
            </td>   
                <td class="table__cell">
                33.7842845, -118.283979
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Clarita, California, United States
            </td>   
                <td class="table__cell">
                34.42, -118.54
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Pedro Harbor, Wilmington, California 90744, United States
            </td>   
                <td class="table__cell">
                33.761755, -118.283373
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1416 South La Brea Avenue, Inglewood, California 90302, United States
            </td>   
                <td class="table__cell">
                33.98062, -118.35807
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Center Street and E Jackson St, Los Angeles, California 90012, United States
            </td>   
                <td class="table__cell">
                34.0508672, -118.2316134
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10858 Bluffside Drive, Studio City, California 91604, United States
            </td>   
                <td class="table__cell">
                34.14054, -118.36683
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1685 Vine Street, Los Angeles, California 90038, United States
            </td>   
                <td class="table__cell">
                34.08563, -118.326612
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                South Wilmington Avenue, Compton, California 90220, United States
            </td>   
                <td class="table__cell">
                33.87155, -118.23678
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Pedro Street, Carson, California 90746, United States
            </td>   
                <td class="table__cell">
                33.88105, -118.26406
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brentwood, Los Angeles, California, United States
            </td>   
                <td class="table__cell">
                34.0636, -118.4748
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States
            </td>   
                <td class="table__cell">
                34.095884, -118.370965
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, United States
            </td>   
                <td class="table__cell">
                33.7775, -118.1885
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[33.761755, -118.283373], [33.7775, -118.1885], [33.7842845, -118.283979]], "data": [{"lat": 34.5215271, "lon": -118.2645085, "name": "Sierra Highway and Penman Road, Agua Dulce, California 91390, United States"}, {"lat": 33.7842845, "lon": -118.283979, "name": "Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.42, "lon": -118.54, "name": "Santa Clarita, California, United States"}, {"lat": 33.761755, "lon": -118.283373, "name": "San Pedro Harbor, Wilmington, California 90744, United States"}, {"lat": 33.98062, "lon": -118.35807, "name": "1416 South La Brea Avenue, Inglewood, California 90302, United States"}, {"lat": 34.0508672, "lon": -118.2316134, "name": "Center Street and E Jackson St, Los Angeles, California 90012, United States"}, {"lat": 34.14054, "lon": -118.36683, "name": "10858 Bluffside Drive, Studio City, California 91604, United States"}, {"lat": 34.08563, "lon": -118.326612, "name": "1685 Vine Street, Los Angeles, California 90038, United States"}, {"lat": 33.87155, "lon": -118.23678, "name": "South Wilmington Avenue, Compton, California 90220, United States"}, {"lat": 33.88105, "lon": -118.26406, "name": "San Pedro Street, Carson, California 90746, United States"}, {"lat": 34.0636, "lon": -118.4748, "name": "Brentwood, Los Angeles, California, United States"}, {"lat": 34.095884, "lon": -118.370965, "name": "Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 33.7775, "lon": -118.1885, "name": "Long Beach, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>