<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Modern Times</h3>
                        <p class="card-text">
                          The Tramp struggles to live in modern industrial society with the help of a young homeless woman.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjJiZjMzYzktNjU0NS00OTkxLWEwYzItYzdhYWJjN2QzMTRlL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Modern Times"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sierra Hwy. & Penman Rd., Santa Clarita, California, USA 
            </td>   
                <td class="table__cell">
                34.5215271, -118.2645085
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Harbor, San Pedro, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.7842845, -118.283979
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Massachusetts Ave. at Sawtelle Blvd., Brentwood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Clarita, California, USA
            </td>   
                <td class="table__cell">
                34.42, -118.54
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Pedro Harbor, Long Beach, California, USA 
            </td>   
                <td class="table__cell">
                33.761755, -118.283373
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chaplin Studios   1416 N. La Brea Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.98062, -118.35807
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Center Street and Jackson Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0508672, -118.2316134
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10858 Bluffside Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.14054, -118.36683
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1685 Vine Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.104063, -118.138953
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wilmington, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.78, -118.2626
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Pedro, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.88105, -118.26406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brentwood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0636, -118.4748
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.095884, -118.370965
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, USA
            </td>   
                <td class="table__cell">
                33.7775, -118.1885
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>