<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Green Book</h3>
                        <p class="card-text">
                          A working-class Italian-American bouncer becomes the driver of an African-American classical pianist on a tour of venues through the 1960s American South.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzIzYmJlYTYtNGNiYy00N2EwLTk4ZjItMGYyZTJiOTVkM2RlXkEyXkFqcGdeQXVyODY1NDk1NjE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Green Book"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Houmas House Plantation, Burnside, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.138611, -90.92389
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McAlister Auditorium, Tulane University, New Orleans, LA 70118, USA 
            </td>   
                <td class="table__cell">
                29.939943, -90.119083
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carnegie Hall, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.7650625, -73.97995900000001
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                English Turn Golf & Country Club, 1 Clubhouse Dr, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.906123, -89.954386
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ruby's Roadhouse, Mandeville, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.361668, -90.058467
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                International House Hotel, Camp Street, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.951099499999998, -90.0689295
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carver Theater, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.967086, -90.076657
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Clover Grill, French Quarter, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.960269, -90.064136
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New Orleans Athletic Club, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.9568375, -90.0713345
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Aloha Motel, Metairie, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.018059, -90.155064
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Macon, Georgia, USA
            </td>   
                <td class="table__cell">
                32.8407, -83.6324
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sigle's Antiques, Royal Street, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.9499, -90.0701
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Northshore Broadcasting building, Hammond, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.514549, -90.466606
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Roosevelt New Orleans   130 Roosevelt Way, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.0533, -89.9354
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Amite, Louisiana, USA 
            </td>   
                <td class="table__cell">
                30.7266, -90.509
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Orpheum Theater   129 Roosevelt Way, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.954375, -90.072845
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Saenger Theater, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.956114499999998, -90.0727235
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                W.P. Brown House, 4717 St. Charles Ave., New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                29.91, -90.36
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                French Quarter, New Orleans, Louisiana, USA
            </td>   
                <td class="table__cell">
                29.9575, -90.0653
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Louisiana, USA
            </td>   
                <td class="table__cell">
                30.93749930159, -92.305998069584
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burnside, Louisiana, USA
            </td>   
                <td class="table__cell">
                30.138611, -90.92389
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New Orleans, Louisiana, USA
            </td>   
                <td class="table__cell">
                29.9499, -90.0701
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hammond, Louisiana, USA
            </td>   
                <td class="table__cell">
                30.5044, -90.4612
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Metairie, Louisiana, USA
            </td>   
                <td class="table__cell">
                29.99, -90.1505
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Georgia, USA
            </td>   
                <td class="table__cell">
                32.3305706594, -83.2572560296474
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>