<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">12 Angry Men</h3>
                        <p class="card-text">
                          The jury in a New York City murder trial is frustrated by a single member whose skeptical caution forces them to more carefully consider the evidence before jumping to a hasty verdict.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="12 Angry Men"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                New York County Courthouse   60 Centre Street, New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.714565</span>, <span class="lon">-74.002885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fox Movietone Studio, New York, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.763908</span>, <span class="lon">-73.97975149999999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.751296</span>, <span class="lon">-73.984819</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7306</span>, <span class="lon">-73.9866</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>