<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Prestige</h3>
                        <p class="card-text">
                          After a tragic accident, two stage magicians in 1890s London engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjA4NDI0MTIxNF5BMl5BanBnXkFtZTYwNTM0MzY2.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Prestige"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Durango and Silverton Narrow Gauge Railroad, Colorado, USA 
            </td>   
                <td class="table__cell">
                37.2754, -107.8799
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Telluride, Colorado, USA
            </td>   
                <td class="table__cell">
                37.9375, -107.8123
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood Forever Cemetery   6000 Santa Monica Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.01, -118.49
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Spring Street Towers   650 S. Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Greystone Park & Mansion   905 Loma Vista Drive, Beverly Hills, California, USA 
            </td>   
                <td class="table__cell">
                34.09167, -118.4015
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Herald Examiner   1111 S. Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.02085, -118.48677
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downey Studios   12214 Lakewood Boulevard, Downey, California, USA 
            </td>   
                <td class="table__cell">
                33.94, -118.1326
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Redstone Castle, Redstone, Colorado, USA 
            </td>   
                <td class="table__cell">
                39.16724, -107.2387
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dijon Street, Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Koreatown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0578, -118.3009
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mount Wilson, California, USA 
            </td>   
                <td class="table__cell">
                34.226391, -118.06528
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brownstone Street, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA 
            </td>   
                <td class="table__cell">
                34.14138, -118.35659
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Theatre   615 S. Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04634, -118.25255
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York Street, Backlot, Universal Studios   100 Universal City Plaza, Universal City, California, USA
            </td>   
                <td class="table__cell">
                34.149524, -118.338133
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Park Plaza Hotel   607 S. Park View Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.73, -118.29
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rockwell Defense Plant   Bellflower & Imperial Highway, Downey, California, USA 
            </td>   
                <td class="table__cell">
                33.94, -118.1326
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tower Theatre   802 S. Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.018158, -118.48982
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Belasco Theatre   1060 S. Hill Street, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pasadena, California, USA
            </td>   
                <td class="table__cell">
                34.1476, -118.1445
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Walt Disney Studios, 500 South Buena Vista Street, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.19026, -118.30795
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palace Theater, 630 S Broadway, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.9275, -118.2781
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>