<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>
 <body id="2802850" class="film-location">
   <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5 "> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Fargo</h3>
                        <p class="card-text">
                          Various chronicles of deception, intrigue and murder in and around frozen Minnesota. Yet all of these tales mysteriously lead back one way or another to Fargo, North Dakota.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2NiMGE5M2UtNWNlNC00N2Y4LTkwOWUtMDlkMzEwNTcyOTcyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Fargo"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.046095</span>, <span class="lon">-114.065465</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Strathmore, Alberta, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.043549</span>, <span class="lon">-113.399848</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                High River, Alberta, Canada
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 50.579708</span>, <span class="lon">-113.856921</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                6805 Ogden Rd SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 50.991621</span>, <span class="lon">-114.002391</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Calgary Public Library, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.045291000000006</span>, <span class="lon">-114.06014</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1011 Centre Ave NE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.052331</span>, <span class="lon">-114.037999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Inglewood, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.0428</span>, <span class="lon">-114.039</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1335 9 Ave SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.040355</span>, <span class="lon">-114.032378</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                319 6th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 50.2186008</span>, <span class="lon">-111.1571125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.385219</span>, <span class="lon">-113.538308</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                232 6th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 50.2186008</span>, <span class="lon">-111.1571125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                194 North Road, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.387044</span>, <span class="lon">-113.536188</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                504 7th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 54.1888164</span>, <span class="lon">-111.7136789</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1130 10 Ave SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.041008</span>, <span class="lon">-114.036441</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1900 West Lunt Avenue, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 42.00917</span>, <span class="lon">-87.67837</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cinespace Chicago Film Studios, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 41.892674</span>, <span class="lon">-87.63125</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Minnesota, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 46.3434063154</span>, <span class="lon">-94.1991167709013</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Minneapolis, Minnesota, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 44.9773</span>, <span class="lon">-93.2655</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Brainerd, Minnesota, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 46.358</span>, <span class="lon">-94.2008</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bemidji, Minnesota, USA 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 47.4787</span>, <span class="lon">-94.8908</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>