<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Fargo</h3>
                        <p class="card-text">
                          Various chronicles of deception, intrigue and murder in and around frozen Minnesota. Yet all of these tales mysteriously lead back one way or another to Fargo, North Dakota.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2NiMGE5M2UtNWNlNC00N2Y4LTkwOWUtMDlkMzEwNTcyOTcyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Fargo"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.046095, -114.065465
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Strathmore, Alberta, Canada
            </td>   
                <td class="table__cell">
                51.043549, -113.399848
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                High River, Alberta, Canada
            </td>   
                <td class="table__cell">
                50.579708, -113.856921
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                6805 Ogden Rd SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                50.991621, -114.002391
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Calgary Public Library, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.045291000000006, -114.06014
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1011 Centre Ave NE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.052331, -114.037999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Inglewood, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.0428, -114.039
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1335 9 Ave SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.040355, -114.032378
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                319 6th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell">
                50.2186008, -111.1571125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.385219, -113.538308
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                232 6th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell">
                50.2186008, -111.1571125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                194 North Road, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.387044, -113.536188
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                504 7th Street, Beiseker, Alberta, Canada 
            </td>   
                <td class="table__cell">
                54.1888164, -111.7136789
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1130 10 Ave SE, Calgary, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.041008, -114.036441
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1900 West Lunt Avenue, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                42.00917, -87.67837
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cinespace Chicago Film Studios, Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                41.892674, -87.63125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Minnesota, USA 
            </td>   
                <td class="table__cell">
                46.3434063154, -94.1991167709013
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Minneapolis, Minnesota, USA 
            </td>   
                <td class="table__cell">
                44.9773, -93.2655
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brainerd, Minnesota, USA 
            </td>   
                <td class="table__cell">
                46.358, -94.2008
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bemidji, Minnesota, USA 
            </td>   
                <td class="table__cell">
                47.4787, -94.8908
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>