<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">High and Low</h3>
          <p class="card-text mb-0">


  <span > An executive of a Yokohama shoe company becomes a victim of extortion when his chauffeur's son is kidnapped by mistake and held for ransom.  </span>
                          <span > A wealthy businessman is told his son has been kidnapped and he will have to pay a very large sum for him to be returned safely. It is then discovered that his son is safe at home: the kidnapper took his chauffeur's son by accident. The kidnapper says this makes no difference: pay up or the child dies. This leaves him with a moral dilemma, as he really needs the money to conclude a very important business deal. -grantss.  </span>
                          <span > Kingo Gondo, the factory manager at National Shoes, which is known for manufacturing durable but plain footwear, lives with his wife Reiko and their adolescent son Jun in a lavish house atop a hill overlooking the city of Yokohama. At 13%, he is also one of the company's largest shareholders, he able to acquire those shares because of Reiko's family's wealth. There is a power struggle going on within the company with some of the smaller executive shareholders wanting him to join forces with them in a coup over who they call disrespectfully "The Old Man", the company CEO, they wanting to move the company into manufacturing stylish but disposable footwear. In dismissing those executives in not wanting to go the disposable route, Gondo does not tell them or Kawanishi, his faithful assistant of ten years, that he plans his own coup in borrowing heavily to acquire enough shares to take over the company to move into the production of still durable yet modernly styled footwear. Just as he is about to purchase those shares to enact his plan, someone within his sphere of existence is kidnapped, the unknown kidnapper's ransom demand from him being an exorbitant sum in return for not killing the kidnap victim, and for him not to involve the police. The ransom sum would take up the entire amount that he has just borrowed, he paying it which would ruin him financially and not allow him to carry out his plan for the company. As the evidence points to the kidnapper having a personal agenda beyond just extortion, the executives who Gondo dismissed are among the suspects. As the process progresses, which eventually does include the police led by Inspector Tokura, Gondo may see his financial fortunes and his morals ebb and flow along with it. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > An executive mortgages all he owns to stage a coup and gain control of the National Shoe Company, with the intent of keeping the company out of the hands of incompetent and greedy executives. He needs the same money, though, to pay the ransom that will possibly save a child's life. His resolution of that dilemma -- the certain loss of the company vs. the probable loss of the child -- makes for one distinct drama, and an ensuing elaborate police procedure makes for a second. -levin .  </span>
    <span class="additional-information" > At a crucial point in his business life, executive Gondo learns that his son has been kidnapped and that the ransom demanded is near the amount Gondo has raised for a critical business deal. Gondo is prepared to pay the ransom - that is, until he learns that the kidnappers have mistakenly abducted not Gondo's son, but the child of Gondo's chauffeur. Now Gondo must decide whether the other man's child is equally worth saving. -Jim Beaver .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI4NTNhZDMtMWNkZi00MTRmLWJmZDQtMmJkMGVmZTEzODlhXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="High and Low"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">東宝スタジオ (TOHO STUDIOS), 成城1-4-1, 東京都, Tokyo Prefecture 157-0066, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.634654999999995</span>, <span class="lon">139.604309</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">江の島 (Enoshima), 江の島, 藤沢市, Kanagawa 251-0036, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.299736</span>, <span class="lon">139.47992299999999</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Ja'me Masjid, 早渕1-31-13, 横浜市, Kanagawa 224-0025, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.544209</span>, <span class="lon">139.601238</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Japan, Kanagawa鎌倉市 </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.31583</span>, <span class="lon">139.55028</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Kanagawa, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.44751</span>, <span class="lon">139.64234</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Japan, Kanagawa横浜市西区 </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.4564</span>, <span class="lon">139.6308</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Kanagawa, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.44751</span>, <span class="lon">139.64234</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Ja'me Masjid, 早渕1-31-13, 横浜市, Kanagawa 224-0025, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.544209</span>, <span class="lon">139.601238</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">有楽町駅 (Yurakucho Sta.), 有楽町, 東京都, Tokyo Prefecture 100-0006, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.674856500000004</span>, <span class="lon">139.7633635</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[35.299736, 139.47992299999999], [35.31583, 139.55028], [35.44751, 139.64234]], "data": [{"lat": 35.634654999999995, "lon": 139.604309, "name": "\u6771\u5b9d\u30b9\u30bf\u30b8\u30aa (TOHO STUDIOS), \u6210\u57ce1-4-1, \u6771\u4eac\u90fd, Tokyo Prefecture 157-0066, Japan"}, {"lat": 35.299736, "lon": 139.47992299999999, "name": "\u6c5f\u306e\u5cf6 (Enoshima), \u6c5f\u306e\u5cf6, \u85e4\u6ca2\u5e02, Kanagawa 251-0036, Japan"}, {"lat": 35.544209, "lon": 139.601238, "name": "Ja\u0027me Masjid, \u65e9\u6e151-31-13, \u6a2a\u6d5c\u5e02, Kanagawa 224-0025, Japan"}, {"lat": 35.31583, "lon": 139.55028, "name": "Japan, Kanagawa\u938c\u5009\u5e02"}, {"lat": 35.44751, "lon": 139.64234, "name": "Kanagawa, Japan"}, {"lat": 35.4564, "lon": 139.6308, "name": "Japan, Kanagawa\u6a2a\u6d5c\u5e02\u897f\u533a"}, {"lat": 35.44751, "lon": 139.64234, "name": "Kanagawa, Japan"}, {"lat": 35.544209, "lon": 139.601238, "name": "Ja\u0027me Masjid, \u65e9\u6e151-31-13, \u6a2a\u6d5c\u5e02, Kanagawa 224-0025, Japan"}, {"lat": 35.674856500000004, "lon": 139.7633635, "name": "\u6709\u697d\u753a\u99c5 (Yurakucho Sta.), \u6709\u697d\u753a, \u6771\u4eac\u90fd, Tokyo Prefecture 100-0006, Japan"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>