<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">High and Low</h3>
                        <p class="card-text">
                          An executive of a Yokohama shoe company becomes a victim of extortion when his chauffeur's son is kidnapped by mistake and held for ransom.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI4NTNhZDMtMWNkZi00MTRmLWJmZDQtMmJkMGVmZTEzODlhXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="High and Low"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Toho Studios, Tokyo, Japan 
            </td>   
                <td class="table__cell">
                35.634654999999995, 139.604309
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Enoshima, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.299736, 139.47992299999999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Isezaki cho, Yokohama, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.544209, 139.601238
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kamakura, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.31583, 139.55028
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kishigoe, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.44751, 139.64234
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nishi ku, Yokohama, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.4564, 139.6308
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sakawa River, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.44751, 139.64234
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yokohama, Kanagawa, Japan
            </td>   
                <td class="table__cell">
                35.544209, 139.601238
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yurakucho Station, Chiyoda ku, Tokyo, Japan
            </td>   
                <td class="table__cell">
                35.674856500000004, 139.7633635
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>