<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          
          <nav aria-label="Movie Locations Top 250">
            
            <ul class="pagination justify-content-center">
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/3">3</a>
              </li>
              
              
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/4">4</a>
              </li>
              
              
              
              
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              
              
              
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6">6</a>
              </li>
              
              
              
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/7">7</a>
              </li>
              
              
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              
              
            </ul>
            
          </nav>
          
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0364569" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTI3NTQyMzU5M15BMl5BanBnXkFtZTcwMTM2MjgyMQ@@.jpg" class="card-img-top" alt="Old Boy" />
              <div class="card-body">
                <a href="../details/old-boy-0364569.html" class="stretched-link">
                  <p class="card-text text-center">
                    Old Boy
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0112573" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMzkzMmU0YTYtOWM3My00YzBmLWI0YzctOGYyNTkwMWE5MTJkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Braveheart" />
              <div class="card-body">
                <a href="../details/braveheart-0112573.html" class="stretched-link">
                  <p class="card-text text-center">
                    Braveheart
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0114709" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@.jpg" class="card-img-top" alt="Toy Story" />
              <div class="card-body">
                <a href="../details/toy-story-0114709.html" class="stretched-link">
                  <p class="card-text text-center">
                    Toy Story
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0086879" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNWJlNzUzNGMtYTAwMS00ZjI2LWFmNWQtODcxNWUxODA5YmU1XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg" class="card-img-top" alt="Amadeus" />
              <div class="card-body">
                <a href="../details/amadeus-0086879.html" class="stretched-link">
                  <p class="card-text text-center">
                    Amadeus
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="2380307" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BYjQ5NjM0Y2YtNjZkNC00ZDhkLWJjMWItN2QyNzFkMDE3ZjAxXkEyXkFqcGdeQXVyODIxMzk5NjA@.jpg" class="card-img-top" alt="Coco" />
              <div class="card-body">
                <a href="../details/coco-2380307.html" class="stretched-link">
                  <p class="card-text text-center">
                    Coco
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0361748" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTJiNDEzOWYtMTVjOC00ZjlmLWE0NGMtZmE1OWVmZDQ2OWJhXkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg" class="card-img-top" alt="Inglourious Basterds" />
              <div class="card-body">
                <a href="../details/inglourious-basterds-0361748.html" class="stretched-link">
                  <p class="card-text text-center">
                    Inglourious Basterds
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0082096" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOGZhZDIzNWMtNjkxMS00MDQ1LThkMTYtZWQzYWU3MWMxMGU5XkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="The Boat" />
              <div class="card-body">
                <a href="../details/the-boat-0082096.html" class="stretched-link">
                  <p class="card-text text-center">
                    The Boat
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="4154796" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@.jpg" class="card-img-top" alt="Avengers: Endgame" />
              <div class="card-body">
                <a href="../details/avengers-endgame-4154796.html" class="stretched-link">
                  <p class="card-text text-center">
                    Avengers: Endgame
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0119698" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGIzY2IzODQtNThmMi00ZDE4LWI5YzAtNzNlZTM1ZjYyYjUyXkEyXkFqcGdeQXVyODEzNjM5OTQ@.jpg" class="card-img-top" alt="Princess Mononoke" />
              <div class="card-body">
                <a href="../details/princess-mononoke-0119698.html" class="stretched-link">
                  <p class="card-text text-center">
                    Princess Mononoke
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0087843" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMGFkNWI4MTMtNGQ0OC00MWVmLTk3MTktOGYxN2Y2YWVkZWE2XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Once Upon a Time in America" />
              <div class="card-body">
                <a href="../details/once-upon-a-time-in-america-0087843.html" class="stretched-link">
                  <p class="card-text text-center">
                    Once Upon a Time in America
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0119217" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTI0MzcxMTYtZDVkMy00NjY1LTgyMTYtZmUxN2M3NmQ2NWJhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Good Will Hunting" />
              <div class="card-body">
                <a href="../details/good-will-hunting-0119217.html" class="stretched-link">
                  <p class="card-text text-center">
                    Good Will Hunting
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0435761" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTgxOTY4Mjc0MF5BMl5BanBnXkFtZTcwNTA4MDQyMw@@.jpg" class="card-img-top" alt="Toy Story 3" />
              <div class="card-body">
                <a href="../details/toy-story-3-0435761.html" class="stretched-link">
                  <p class="card-text text-center">
                    Toy Story 3
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0180093" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTdiNzJlOWUtNWMwNS00NmFlLWI0YTEtZmI3YjIzZWUyY2Y3XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Requiem for a Dream" />
              <div class="card-body">
                <a href="../details/requiem-for-a-dream-0180093.html" class="stretched-link">
                  <p class="card-text text-center">
                    Requiem for a Dream
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="1187043" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNTkyOGVjMGEtNmQzZi00NzFlLTlhOWQtODYyMDc2ZGJmYzFhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="3 Idiots" />
              <div class="card-body">
                <a href="../details/3-idiots-1187043.html" class="stretched-link">
                  <p class="card-text text-center">
                    3 Idiots
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0045152" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZDRjNGViMjQtOThlMi00MTA3LThkYzQtNzJkYjBkMGE0YzE1XkEyXkFqcGdeQXVyNDYyMDk5MTU@.jpg" class="card-img-top" alt="Singin' in the Rain" />
              <div class="card-body">
                <a href="../details/singin-in-the-rain-0045152.html" class="stretched-link">
                  <p class="card-text text-center">
                    Singin' in the Rain
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="5311514" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BODRmZDVmNzUtZDA4ZC00NjhkLWI2M2UtN2M0ZDIzNDcxYThjL2ltYWdlXkEyXkFqcGdeQXVyNTk0MzMzODA@.jpg" class="card-img-top" alt="Your Name." />
              <div class="card-body">
                <a href="../details/your-name-5311514.html" class="stretched-link">
                  <p class="card-text text-center">
                    Your Name.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0086190" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg" class="card-img-top" alt="Star Wars: Episode VI - Return of the Jedi" />
              <div class="card-body">
                <a href="../details/star-wars-episode-vi-return-of-the-jedi-0086190.html" class="stretched-link">
                  <p class="card-text text-center">
                    Star Wars: Episode VI - Return of the Jedi
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="0105236" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZmExNmEwYWItYmQzOS00YjA5LTk2MjktZjEyZDE1Y2QxNjA1XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Reservoir Dogs" />
              <div class="card-body">
                <a href="../details/reservoir-dogs-0105236.html" class="stretched-link">
                  <p class="card-text text-center">
                    Reservoir Dogs
                  </p>
                </a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
</body>

</html>