<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Heat</h3>
          <p class="card-text mb-0">


  <span > A group of high-end professional thieves start to feel the heat from the LAPD when they unknowingly leave a clue at their latest heist.  </span>
                          <span > Hunters and their prey--Neil and his professional criminal crew hunt to score big money targets (banks, vaults, armored cars) and are, in turn, hunted by Lt. Vincent Hanna and his team of cops in the Robbery/Homicide police division. A botched job puts Hanna onto their trail while they regroup and try to put together one last big 'retirement' score. Neil and Vincent are similar in many ways, including their troubled personal lives. At a crucial moment in his life, Neil disobeys the dictum taught to him long ago by his criminal mentor--'Never have anything in your life that you can't walk out on in thirty seconds flat, if you spot the heat coming around the corner'--as he falls in love. Thus the stage is set for the suspenseful ending.... -Tad Dibbern .  </span>
                          <span > Neil McCauley leads a group of professional bank robbers, taking down major scores around LA. However after their latest heist goes terribly wrong and ends up in homicide, Det. Vincent Hannah finds a clue and becomes obsessed with the case determined to stop McCauley's crew. Hannah and McCauley are competing against each other in a deadly cat-and-mouse game. Although they are on different sides of the law, they still find huge respect, recognition in each others troubled personal lives and they understand each others motivations - however this won't make them hesitate to do whatever they can to win the battle between them two in this crime saga. -Julian Olin.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > In Los Angeles, a gang of armed thieves is hitting serious targets - major banks, vaults, and armored cars. These thieves are led by arch-criminal Neal MacAuley. One of their operations, an armored-car robbery, goes bad and the armored-car guards are murdered by the gunmen - putting LAPD homicide detective Vince Hanna on the trail of the thieves. Hanna knows it will take a lot to bring these dangerous, armed thieves down, and it will end in a horrifying gun battle when the thieves try to rob a major federal bank... -Derek O'Cain.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGMwNzUwNjYtZWM5NS00YzMyLWI4NjAtNjM0ZDBiMzE1YWExXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Heat"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1219 Dodds Cir, East Los Angeles, California 90063, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.05255</span>, <span class="lon">-118.19146</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Firestone Boulevard, Downey, California 90280, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.9394</span>, <span class="lon">-118.13333</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">9101 Wilshire Boulevard, Beverly Hills, California 90210, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.06738</span>, <span class="lon">-118.39032</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Venice, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.995</span>, <span class="lon">-118.4669</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4211 Riverside Drive, Burbank, California 91505, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.15256</span>, <span class="lon">-118.34614</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Century Freeway, Lynwood, California 90262, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.92677</span>, <span class="lon">-118.22904</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1457 3rd Street Promenade, Santa Monica, California 90401, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.014769</span>, <span class="lon">-118.49507</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Port of Los Angeles, 425 S Palos Verdes St, San Pedro, California 90731, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.745414</span>, <span class="lon">-118.277489</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">444 S Flower St, Los Angeles, California 90071, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.05222</span>, <span class="lon">-118.25533</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">525 East Seaside Way, Long Beach, California 90802, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.76591</span>, <span class="lon">-118.18568</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1 World Way, Los Angeles, California 90045, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.94469</span>, <span class="lon">-118.39817</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1535 Ocean Avenue, Santa Monica, California 90401, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.01223</span>, <span class="lon">-118.49526</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1284 South Western Avenue, Los Angeles, California 90047, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.920148</span>, <span class="lon">-118.309091</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">990 Macdonough Avenue, Wilmington, California 90744, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.784777</span>, <span class="lon">-118.231632</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">South, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.9275</span>, <span class="lon">-118.2781</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">7447 Firestone Boulevard, Downey, California 90241, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.94794</span>, <span class="lon">-118.14737</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Gardena, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.8883</span>, <span class="lon">-118.3071</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Downtown, El Segundo, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.92</span>, <span class="lon">-118.42</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">26940 Malibu Cove Colony Drive, Malibu, California 90265, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.02575</span>, <span class="lon">-118.75952</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5711 West Century Boulevard, Los Angeles, California 90045, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.94621</span>, <span class="lon">-118.3816</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pacific Street, Santa Monica, California 90405, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.01007</span>, <span class="lon">-118.480815</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Saint Mary's, Long Beach, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.78</span>, <span class="lon">-118.19</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Venice, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.995</span>, <span class="lon">-118.4669</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Artists and Fleas, Venice, California 90291, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.991325</span>, <span class="lon">-118.470942</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">645 West 9th Street, Los Angeles, California 90015, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.045818</span>, <span class="lon">-118.260982</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">North Beirut Avenue and W via De Las Olas, Pacific Palisades, California 90272, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0359073</span>, <span class="lon">-118.5308831</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Factory Place, Los Angeles, California 90013, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.03928</span>, <span class="lon">-118.23633</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3506 West 8th Street, Los Angeles, California 90005, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.05746</span>, <span class="lon">-118.30707</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1254 3rd Street Promenade, Santa Monica, California 90401, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.017007</span>, <span class="lon">-118.497662</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">170 North Church Lane, Los Angeles, California 90049, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0741</span>, <span class="lon">-118.46842</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.7842845</span>, <span class="lon">-118.283979</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1870 Blue Heights Drive, Los Angeles, California 90069, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10299</span>, <span class="lon">-118.37888</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.745414, -118.277489], [33.76591, -118.18568], [33.78, -118.19]], "data": [{"lat": 34.05255, "lon": -118.19146, "name": "1219 Dodds Cir, East Los Angeles, California 90063, United States"}, {"lat": 33.9394, "lon": -118.13333, "name": "Firestone Boulevard, Downey, California 90280, United States"}, {"lat": 34.06738, "lon": -118.39032, "name": "9101 Wilshire Boulevard, Beverly Hills, California 90210, United States"}, {"lat": 33.995, "lon": -118.4669, "name": "Venice, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.15256, "lon": -118.34614, "name": "4211 Riverside Drive, Burbank, California 91505, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 33.92677, "lon": -118.22904, "name": "Century Freeway, Lynwood, California 90262, United States"}, {"lat": 34.014769, "lon": -118.49507, "name": "1457 3rd Street Promenade, Santa Monica, California 90401, United States"}, {"lat": 33.745414, "lon": -118.277489, "name": "Port of Los Angeles, 425 S Palos Verdes St, San Pedro, California 90731, United States"}, {"lat": 34.05222, "lon": -118.25533, "name": "444 S Flower St, Los Angeles, California 90071, United States"}, {"lat": 33.76591, "lon": -118.18568, "name": "525 East Seaside Way, Long Beach, California 90802, United States"}, {"lat": 33.94469, "lon": -118.39817, "name": "1 World Way, Los Angeles, California 90045, United States"}, {"lat": 34.01223, "lon": -118.49526, "name": "1535 Ocean Avenue, Santa Monica, California 90401, United States"}, {"lat": 33.920148, "lon": -118.309091, "name": "1284 South Western Avenue, Los Angeles, California 90047, United States"}, {"lat": 33.784777, "lon": -118.231632, "name": "990 Macdonough Avenue, Wilmington, California 90744, United States"}, {"lat": 33.9275, "lon": -118.2781, "name": "South, California, United States"}, {"lat": 33.94794, "lon": -118.14737, "name": "7447 Firestone Boulevard, Downey, California 90241, United States"}, {"lat": 33.8883, "lon": -118.3071, "name": "Gardena, California, United States"}, {"lat": 33.92, "lon": -118.42, "name": "Downtown, El Segundo, California, United States"}, {"lat": 34.02575, "lon": -118.75952, "name": "26940 Malibu Cove Colony Drive, Malibu, California 90265, United States"}, {"lat": 33.94621, "lon": -118.3816, "name": "5711 West Century Boulevard, Los Angeles, California 90045, United States"}, {"lat": 34.01007, "lon": -118.480815, "name": "Pacific Street, Santa Monica, California 90405, United States"}, {"lat": 33.78, "lon": -118.19, "name": "Saint Mary\u0027s, Long Beach, California, United States"}, {"lat": 33.995, "lon": -118.4669, "name": "Venice, California, United States"}, {"lat": 33.991325, "lon": -118.470942, "name": "Artists and Fleas, Venice, California 90291, United States"}, {"lat": 34.045818, "lon": -118.260982, "name": "645 West 9th Street, Los Angeles, California 90015, United States"}, {"lat": 34.0359073, "lon": -118.5308831, "name": "North Beirut Avenue and W via De Las Olas, Pacific Palisades, California 90272, United States"}, {"lat": 34.03928, "lon": -118.23633, "name": "Factory Place, Los Angeles, California 90013, United States"}, {"lat": 34.05746, "lon": -118.30707, "name": "3506 West 8th Street, Los Angeles, California 90005, United States"}, {"lat": 34.017007, "lon": -118.497662, "name": "1254 3rd Street Promenade, Santa Monica, California 90401, United States"}, {"lat": 34.0741, "lon": -118.46842, "name": "170 North Church Lane, Los Angeles, California 90049, United States"}, {"lat": 33.7842845, "lon": -118.283979, "name": "Los Angeles Harbor College, 1111 Figueroa Pl, Wilmington, California 90744, United States"}, {"lat": 34.10299, "lon": -118.37888, "name": "1870 Blue Heights Drive, Los Angeles, California 90069, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>