<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Braveheart</h3>
                        <p class="card-text">
                          Scottish warrior William Wallace leads his countrymen in a rebellion to free his homeland from the tyranny of King Edward I of England.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMzkzMmU0YTYtOWM3My00YzBmLWI0YzctOGYyNTkwMWE5MTJkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Braveheart"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fort William, Glen Coe, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                56.81694, -5.10972
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Arizona, USA 
            </td>   
                <td class="table__cell">
                34.2202611707, -111.422127989113
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ardmore Studios, Herbert Road, Bray, County Wicklow, Ireland 
            </td>   
                <td class="table__cell">
                53.2028, -6.1083
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glen Nevis, Fort William, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                56.804311, -5.073844
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Aonach Eagach, Highland, Scotland, UK 
            </td>   
                <td class="table__cell">
                57.5066, -5.0038
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Coronation Plantation, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                53, -6.41667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Loch Leven, Onich, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                56.7033, -5.2277
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ballymore Eustace, County Kildare, Ireland
            </td>   
                <td class="table__cell">
                53.1321, -6.6152
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trim Castle, Trim, County Meath, Ireland 
            </td>   
                <td class="table__cell">
                53.558242, -6.790737
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bective Abbey, County Meath, Ireland 
            </td>   
                <td class="table__cell">
                53.582363, -6.702843
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Curragh Plains, County Kildare, Ireland 
            </td>   
                <td class="table__cell">
                53.157165, -6.840038
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dunsany Castle, County Meath, Ireland
            </td>   
                <td class="table__cell">
                53.544036, -6.619148
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sally's Gap, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                53.137675, -6.311974
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Curragh, County Kildare, Ireland
            </td>   
                <td class="table__cell">
                53.17, -6.86
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                King John's Castle, Trim, County Meath, Ireland
            </td>   
                <td class="table__cell">
                53.55224, -6.79341
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dunsoghly Castle, County Dublin, Ireland 
            </td>   
                <td class="table__cell">
                53.3658155, -6.330507
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glen Coe, Highland, Scotland, UK
            </td>   
                <td class="table__cell">
                57.5066, -5.0038
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trim, County Meath, Ireland
            </td>   
                <td class="table__cell">
                53.55224, -6.79341
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kippure Estate, Blessington, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                53.166743, -6.37861
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Luggala Estate, County Wicklow, Ireland
            </td>   
                <td class="table__cell">
                53, -6.41667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                St Margarets, Dublin, County Dublin, Ireland
            </td>   
                <td class="table__cell">
                53.432074, -6.303392
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>