<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Wild Strawberries</h3>
                        <p class="card-text">
                          After living a life marked by coldness, an aging professor is forced to confront the emptiness of his existence.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWQxYzdhMDMtNjAyZC00NzE0LWFjYmQtYjk0YzMyYjA5NzZkXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Wild Strawberries"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Dalarö, Stockholms län, Sweden
            </td>   
                <td class="table__cell">
                <span class="lat"> 59.13194</span>, <span class="lon">18.40333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gotlands län, Sweden
            </td>   
                <td class="table__cell">
                <span class="lat"> 57.49917</span>, <span class="lon">18.50944</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lund, Skåne län, Sweden
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.7</span>, <span class="lon">13.2</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Svensk Filmindustri, Filmstaden, Råsunda, Stockholms län, Sweden 
            </td>   
                <td class="table__cell">
                <span class="lat"> 59.367224</span>, <span class="lon">17.981759</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Vättern, Sweden
            </td>   
                <td class="table__cell">
                <span class="lat"> 58.5400486577074</span>, <span class="lon">14.5083103858462</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ängö, Södermanlands län, Sweden
            </td>   
                <td class="table__cell">
                <span class="lat"> 58.7549369540164</span>, <span class="lon">17.4734439860543</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lund Cathedral, Lund, Skåne län, Sweden 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.70018875</span>, <span class="lon">13.19002675</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>