      <main class="flex-shrink-0 mt-3" >
    <div class="container px-3">
 
      <div class="row g-3 ">
             <div class="col-md-4">

        <%- include(`${partials}/general/header`, {title: 'Address to Latitude Longitude', subtitle: 'Quickly convert any address to longitude and latitude coordinates.'}); -%>

        <%- include(`${partials}/form/inputs`,{
                  inputName: [
                    { name: 'Address', id: 'latInputField', type: 'search' },
                    { name: 'Longitude', id: 'lonInputField', type: 'number' },
                  ], 
                formid: "getTravelForm",
                button: {name: 'Submit', type: 'submit', id: 'latlonGeocoderBtn'},
                output: [{name: 'Address', type: 'text', id: 'addressInput'}]
                }); -%>

             </div>
             <%- include(`${partials}/map/map-Container.ejs`); -%>
      </div>
      <%- include(`${partials}/comment-section.ejs`); -%>

    </div>
  </main>
  <script>

    const d =  [
    {
        "id": "searchButton",
        "type": "button",
        "formId": "getTravelForm",
        "nodename": "BUTTON"
    },
    {
        "id": "searchInput",
        "type": "search",
        "formId": "getTravelForm",
        "nodename": "INPUT"
    },
    {
        "id": "getRoute",
        "type": "submit",
        "formId": "getTravelForm",
        "nodename": "BUTTON"
    }
]
  </script>