<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Spider-Man: No Way Home</h3>
          <p class="card-text mb-0">


  <span > With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes from other worlds start to appear, forcing Peter to discover what it truly means to be Spider-Man.  </span>
                          <span > Peter Parker's secret identity is revealed to the entire world. Desperate for help, Peter turns to Doctor Strange to make the world forget that he is Spider-Man. The spell goes horribly wrong and shatters the multiverse, bringing in monstrous villains that could destroy the world.  </span>
                          <span > Picking up where Far From Home left off, Peter Parker's whole world is turned upside down when his old enemy Mysterio posthumously reveals his identity to the public. Wanting to make his identity a secret, Peter turns to Doctor Strange for help. But when Strange's spell goes haywire, Peter must go up against five deadly new enemies--the Green Goblin, Dr. Octopus, Electro, the Lizard and Sandman--all while discovering what it truly means to be Spider-Man. -Blazer346.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > "With Spider-Man's identity now revealed, our friendly neighborhood web-slinger is unmasked and no longer able to separate his normal life as Peter Parker from the high stakes of being a superhero. When Peter asks for help from Doctor Strange, the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man. -krmanirethnam.  </span>
    <span class="additional-information" > With his identity compromised, right after the spectacular confrontation with super-hero charlatan Mysterio in Spider-Man: Far from Home (2019), Peter Parker is now with his back to the wall. On the run and having no one to turn to for advice, desperate Peter seeks a radical and equally dangerous solution to right a wrong, utterly unaware of the grave consequences of his ill-advised decision. And, as the unfathomable Multiverse expands with a vengeance, formidable adversaries from a not-so-distant past, too, seek closure, demanding the Spider's head on a platter. But when there's no way home and nowhere to hide, whom can Parker trust? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Spider-Man: No Way Home"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Iceland
            </td>
                <td class="table__cell">
                64.9975884448459, -18.6054668169534
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States
            </td>
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Atlanta, Georgia, United States
            </td>
                <td class="table__cell">
                33.7491, -84.3902
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Queens, New York, United States
            </td>
                <td class="table__cell">
                40.7498, -73.7976
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn, New York, United States
            </td>
                <td class="table__cell">
                40.6501, -73.9496
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                461 Sandy Creek Road, Fayetteville, Georgia 30214, United States
            </td>
                <td class="table__cell">
                33.474605, -84.510867
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Vacaville, California, United States
            </td>
                <td class="table__cell">
                38.3566, -121.9877
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Ed Koch Queensboro Bridge, Queensboro Bridge, New York, New York, United States
            </td>
                <td class="table__cell">
                40.757533499999994, -73.9557415
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Alexander Hamilton Bridge, I-95 / US-1, New York, New York, United States
            </td>
                <td class="table__cell">
                40.845543500000005, -73.928708
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Franklin K. Lane High School, 999 Jamaica Ave, New York, New York 11421, United States
            </td>
                <td class="table__cell">
                40.692136, -73.868042
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                West 12th Street, New York, New York 10014, United States
            </td>
                <td class="table__cell">
                40.737495, -74.002525
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[40.6501, -73.9496], [40.68917359673309, -73.9826731487689], [40.692136, -73.868042]], "data": [{"lat": 64.9975884448459, "lon": -18.6054668169534, "name": "Iceland"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 40.68917359673309, "lon": -73.9826731487689, "name": "Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States"}, {"lat": 33.7491, "lon": -84.3902, "name": "Atlanta, Georgia, United States"}, {"lat": 40.7498, "lon": -73.7976, "name": "Queens, New York, United States"}, {"lat": 40.6501, "lon": -73.9496, "name": "Brooklyn, New York, United States"}, {"lat": 33.474605, "lon": -84.510867, "name": "461 Sandy Creek Road, Fayetteville, Georgia 30214, United States"}, {"lat": 38.3566, "lon": -121.9877, "name": "Vacaville, California, United States"}, {"lat": 40.757533499999994, "lon": -73.9557415, "name": "Ed Koch Queensboro Bridge, Queensboro Bridge, New York, New York, United States"}, {"lat": 40.845543500000005, "lon": -73.928708, "name": "Alexander Hamilton Bridge, I-95 / US-1, New York, New York, United States"}, {"lat": 40.692136, "lon": -73.868042, "name": "Franklin K. Lane High School, 999 Jamaica Ave, New York, New York 11421, United States"}, {"lat": 40.737495, "lon": -74.002525, "name": "West 12th Street, New York, New York 10014, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>