<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Interstellar</h3>
                        <p class="card-text">
                          A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Interstellar"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Calgary, Alberta, Canada
            </td>   
                <td class="table__cell">
                51.046095, -114.065465
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lethbridge, Alberta, Canada
            </td>   
                <td class="table__cell">
                49.694285, -112.851562
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nanton, Alberta, Canada
            </td>   
                <td class="table__cell">
                50.348199, -113.770256
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                200 block of 24th St, Fort Macleod, Alberta, Canada 
            </td>   
                <td class="table__cell">
                49.725772, -113.405385
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Canmore, Alberta, Canada 
            </td>   
                <td class="table__cell">
                51.08669, -115.348113
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Westin Bonaventure Hotel & Suites   404 S. Figueroa Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.773365, -118.278578
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Okotoks, Alberta, Canada 
            </td>   
                <td class="table__cell">
                50.725369, -113.975082
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Svínafellsjökull, Vatnajökull, Austurland, Iceland 
            </td>   
                <td class="table__cell">
                64.007538, -16.875601
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sony Pictures Studios   10202 W. Washington Blvd., Culver City, California, USA 
            </td>   
                <td class="table__cell">
                34.024975, -118.393116
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Altadena, California, USA
            </td>   
                <td class="table__cell">
                34.1863, -118.1352
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Torrance, California, USA
            </td>   
                <td class="table__cell">
                33.8358, -118.3406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05, -118.23
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles Convention Center   1201 S. Figueroa Street, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.04297, -118.26955
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1525 Industrial St, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.03633, -118.23745
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Longview, Alberta, Canada 
            </td>   
                <td class="table__cell">
                50.532983, -114.23104699999999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cheyenne Mountain Complex, Colorado, USA 
            </td>   
                <td class="table__cell">
                38.82, -102.59
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>