<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Interstellar</h3>
          <p class="card-text mb-0">


  <span > A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.  </span>
                          <span > Earth's future has been riddled by disasters, famines, and droughts. There is only one way to ensure mankind's survival: Interstellar travel. A newly discovered wormhole in the far reaches of our solar system allows a team of astronauts to go where no man has gone before, a planet that may have the right environment to sustain human life. -ahmetkozan.  </span>
                          <span > In the near future around the American Midwest, Cooper, an ex-science engineer and pilot, is tied to his farming land with his daughter Murph and son Tom. As devastating sandstorms ravage Earth's crops, the people of Earth realize their life here is coming to an end as food begins to run out. Eventually stumbling upon a N.A.S.A. base near Cooper's home, he is asked to go on a daring mission with a few other scientists into a wormhole because of Cooper's scientific intellect and ability to pilot aircraft unlike the other crew members. In order to find a new home while Earth decays, Cooper must decide to either stay, or risk never seeing his children again in order to save the human race by finding another habitable planet. -jmvd8.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A team of explorers must find the human race a new home after Earth is struck with worldwide food shortages and corn is the most valuable food. Utilizing a mysterious wormhole, they explore strange new worlds and could find a home to save the human race.  </span>
    <span class="additional-information" > Murphy's law suggests that "whatever can go wrong, will go wrong." This movie plays with the idea of space exploration, time, and gravity, as Earth and the human race is on the verge of extinction. N.A.S.A.'s last hope looks to Coop, Brand, Romilly, and TARS under the direction of Professor Brand to search for answers in the deepest corners of space while dealing with Murphy's Law. Coop leaves behind his family in search of new horizons as Writer, Producer, and Director Christopher Nolan explores the eternal bonds of love between a father and his daughter.  </span>
    <span class="additional-information" > In Earth's future, a global crop blight and second Dust Bowl are slowly rendering the planet uninhabitable. Professor Brand, a brilliant N.A.S.A. physicist, is working on plans to save mankind by transporting Earth's population to a new home via a womhole. But first, Brand must send former N.A.S.A. pilot Cooper and a team of researchers through the wormhole and across the galaxy to find out which of three planets could be mankind's new home. -Jwelch5742.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Interstellar"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Iceland
            </td>
                <td class="table__cell">
                64.9975884448459, -18.6054668169534
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calgary, Alberta, Canada
            </td>
                <td class="table__cell">
                51.046095, -114.065465
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Lethbridge, Alberta, Canada
            </td>
                <td class="table__cell">
                49.694285, -112.851562
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nanton, Alberta, Canada
            </td>
                <td class="table__cell">
                50.348199, -113.770256
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fort Macleod, Alberta, Canada
            </td>
                <td class="table__cell">
                49.725772, -113.405385
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Canmore, Alberta, Canada
            </td>
                <td class="table__cell">
                51.08669, -115.348113
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Downtown, El Segundo, California, United States
            </td>
                <td class="table__cell">
                33.92, -118.42
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Okotoks, Alberta, Canada
            </td>
                <td class="table__cell">
                50.725369, -113.975082
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Svínafellsjökull, Skaftafell National Park, Hornafjörður, Eastern 785, Iceland
            </td>
                <td class="table__cell">
                64.007538, -16.875601
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                10202 Washington Boulevard, Culver City, California 90016, United States
            </td>
                <td class="table__cell">
                34.024975, -118.393116
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Altadena, California, United States
            </td>
                <td class="table__cell">
                34.1863, -118.1352
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Torrance, California, United States
            </td>
                <td class="table__cell">
                33.8358, -118.3406
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                4000 Warner Boulevard, Burbank, California 91522, United States
            </td>
                <td class="table__cell">
                34.150955, -118.339232
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.05, -118.23
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1201 Figueroa Street, Los Angeles, California 90015, United States
            </td>
                <td class="table__cell">
                34.04297, -118.26955
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1525 Industrial Street, Los Angeles, California 90021, United States
            </td>
                <td class="table__cell">
                34.03633, -118.23745
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Longview, Longview, Alberta T0L 1H0, Canada
            </td>
                <td class="table__cell">
                50.532983, -114.23104699999999
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Canada
            </td>
                <td class="table__cell">
                55.5859012851966, -105.750595856519
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cheyenne County, Colorado, United States
            </td>
                <td class="table__cell">
                38.82, -102.59
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.8358, -118.3406], [33.92, -118.42], [34.024975, -118.393116]], "data": [{"lat": 64.9975884448459, "lon": -18.6054668169534, "name": "Iceland"}, {"lat": 51.046095, "lon": -114.065465, "name": "Calgary, Alberta, Canada"}, {"lat": 49.694285, "lon": -112.851562, "name": "Lethbridge, Alberta, Canada"}, {"lat": 50.348199, "lon": -113.770256, "name": "Nanton, Alberta, Canada"}, {"lat": 49.725772, "lon": -113.405385, "name": "Fort Macleod, Alberta, Canada"}, {"lat": 51.08669, "lon": -115.348113, "name": "Canmore, Alberta, Canada"}, {"lat": 33.92, "lon": -118.42, "name": "Downtown, El Segundo, California, United States"}, {"lat": 50.725369, "lon": -113.975082, "name": "Okotoks, Alberta, Canada"}, {"lat": 64.007538, "lon": -16.875601, "name": "Sv\u00ednafellsj\u00f6kull, Skaftafell National Park, Hornafj\u00f6r\u00f0ur, Eastern 785, Iceland"}, {"lat": 34.024975, "lon": -118.393116, "name": "10202 Washington Boulevard, Culver City, California 90016, United States"}, {"lat": 34.1863, "lon": -118.1352, "name": "Altadena, California, United States"}, {"lat": 33.8358, "lon": -118.3406, "name": "Torrance, California, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 34.05, "lon": -118.23, "name": "Downtown, Los Angeles, California, United States"}, {"lat": 34.04297, "lon": -118.26955, "name": "1201 Figueroa Street, Los Angeles, California 90015, United States"}, {"lat": 34.03633, "lon": -118.23745, "name": "1525 Industrial Street, Los Angeles, California 90021, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 50.532983, "lon": -114.23104699999999, "name": "Longview, Longview, Alberta T0L 1H0, Canada"}, {"lat": 55.5859012851966, "lon": -105.750595856519, "name": "Canada"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 38.82, "lon": -102.59, "name": "Cheyenne County, Colorado, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>