<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Sound of Music</h3>
                        <p class="card-text">
                          A young novitiate is sent by her convent in 1930s Austria to become a governess to the seven children of a widowed naval officer. In 1930's Austria, a young woman named Maria (Dame Julie Andrews) is failing miserably in her attempts to become a nun. When Navy Captain Georg Von Trapp (Christopher Plummer) writes to the convent asking for a governess that can handle his seven mischievous children, Maria is given the job. The Captain's wife is dead, and he is often away, and runs the household as strictly as he does the ships he sails on. The children are unhappy and resentful of the governesses that their father keeps hiring, and have managed to run each of them off one by one. When Maria arrives, she is initially met with the same hostility, but her kindness, understanding, and sense of fun soon draws them to her and brings some much-needed joy into all their lives - including the Captain's. Eventually he and Maria find themselves falling in love, even though the Captain is already engaged to a Baroness named Elsa and Maria is still a postulant. The romance makes them both start questioning the decisions they have made. Their personal conflicts soon become overshadowed, however, by world events. Austria is about to come under the control of Germany, and the Captain may soon find himself drafted into the German Navy and forced to fight against his own country.::LOTUS73 Maria (Julie Andrews) always wanted to be a nun ever since she was a little child, but when she grew up and joined them, she could not cope because of her wild and longing-to-be-free personality. She is, however, sent away to be the governess of seven children who give governesses a hard time and live with their widowed father who run the house as he does his ship. Maria, however, succeeds in bringing happiness and music back to there. She and the Captain eventually start falling in love, but it can't work out due to some certain reasons.::Ropheka Adejugbe Maria (Dame Julie Andrews) had longed to be a nun since she was a young girl, yet when she became old enough discovered that it wasn't at all what she thought. Often in trouble and doing the wrong things, Maria is sent to the house of retired Naval Captain Georg Von Trapp (Christopher Plummer), to care for his children. Von Trapp was widowed several years before and was left to care for seven "rowdy" children. The children have run off countless governesses. Maria soon learns that all these children need is a little love to change their attitudes. Maria teaches the children to sing, and through her, music is brought back into the hearts and home of the Von Trapp family. Unknowingly, Maria and Captain Von Trapp are falling helplessly in love, except there are two problems: the Captain is engaged to a Baroness named Elsa and Maria is a postulant.::Katy Richardson Captain Georg Von Trapp (Christopher Plummer), a widower, runs his home near Salzburg like the ship he once commanded. That changes when Maria (Julie Andrews) arrives from the convent to be his seven children's new governess. Their romps through the hills inspire all to sing and find joy in the smallest things - like raindrops on window panes. With a renewed zest for life, the Captain hosts a party to introduce his new fiance, Elsa. Maria knows then that she does not want to be a nun. She marries the Captain. The happy ever after part is threatened when Austria's new German rulers want the Captain back in military service.::Dale O'Connor <daleoc@interaccess.com> Maria (Julie Andrews) is a failure as a nun. The Mother Superior sends her off in answer to a letter from a retired Naval Captain for a governess for his seven children. She goes to their house and finds that she is the latest in a long line of governesses run off by the children. She teaches them to sing and that becomes their bonding force, of course leading her to fall in love with the Captain and marry him. As this is happening Austria votes to be assumed by Germany on the eve of World War II.::John Vogel <jlvogel@comcast.net>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2Q3YWMzMWItMjY4NS00ZjQ4LWEwYzQtODMwMjU1ZDg4ZjA4XkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Sound of Music"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Felsenreitschule, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.798551, 13.042134
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Schloss Hellbrunn, Fürstenweg 37, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.7624835, 13.060813
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Schlößl, 5151 Nußdorf am Haunsberg, Austria
            </td>   
                <td class="table__cell">
                47.9328802, 12.9878527
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mondsee, Mondsee, Upper Austria 5310, Austria
            </td>   
                <td class="table__cell">
                47.839662, 13.367615
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Salzburg, Salzburg, Austria
            </td>   
                <td class="table__cell">
                47.8, 13.03333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mirabell, Auerspergstr. 4, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.806732, 13.040921
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Obersalzberg, Berchtesgaden, Bavaria, Germany
            </td>   
                <td class="table__cell">
                47.63293, 13.04806
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Salzburg, Salzburg, Austria
            </td>   
                <td class="table__cell">
                47.8, 13.03333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Schlößl, 5151 Nußdorf am Haunsberg, Austria
            </td>   
                <td class="table__cell">
                47.9328802, 12.9878527
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hotel Mozart, Franz Josef Strasse, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.806621, 13.048059
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Obersalzberg, Anif, Salzburg 5081, Austria
            </td>   
                <td class="table__cell">
                47.750153, 13.066235
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Burg Hohenwerfen, Burgstraße 2, Werfen, Salzburg 5450, Austria
            </td>   
                <td class="table__cell">
                47.482839, 13.188368
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mondsee, Mondsee, Upper Austria 5310, Austria
            </td>   
                <td class="table__cell">
                47.839662, 13.367615
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wolfgangsee, Sankt Gilgen, Salzburg 5342, Austria
            </td>   
                <td class="table__cell">
                47.746105, 13.403964
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Werfen, Salzburg, Austria
            </td>   
                <td class="table__cell">
                47.475, 13.18889
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bischofshofen, Salzburg, Austria
            </td>   
                <td class="table__cell">
                47.41722, 13.21944
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sankt Gilgen, Salzburg, Austria
            </td>   
                <td class="table__cell">
                47.76667, 13.36667
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Residenzplatz, Residenzplatz, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.7985095, 13.0462405
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10201 West Pico Boulevard, Los Angeles, California 90064, United States
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10201 West Pico Boulevard, Los Angeles, California 90064, United States
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mehlweg, Marktschellenberg, Bavaria, Germany
            </td>   
                <td class="table__cell">
                47.6861, 13.0675
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Höglwörth, Anger, Bavaria, Germany
            </td>   
                <td class="table__cell">
                47.815839, 12.847993
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Königssee, Schönau am Königssee, Bavaria 83471, Germany
            </td>   
                <td class="table__cell">
                47.555179, 12.976742
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Roßfeldstraße, 83471 Eck, Germany
            </td>   
                <td class="table__cell">
                47.6284746, 13.0912916
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hotel Schloss Leopoldskron, Leopoldskronstr. 56-58, Salzburg, Salzburg 5020, Austria
            </td>   
                <td class="table__cell">
                47.788408, 13.037852
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fürstenweg 37, 5081 Anif, Austria
            </td>   
                <td class="table__cell">
                47.745543, 13.06336
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[47.41722, 13.21944], [47.475, 13.18889], [47.482839, 13.188368]], "data": [{"lat": 47.798551, "lon": 13.042134, "name": "Felsenreitschule, Salzburg, Salzburg 5020, Austria"}, {"lat": 47.7624835, "lon": 13.060813, "name": "Schloss Hellbrunn, F\u00fcrstenweg 37, Salzburg, Salzburg 5020, Austria"}, {"lat": 47.9328802, "lon": 12.9878527, "name": "Schl\u00f6\u00dfl, 5151 Nu\u00dfdorf am Haunsberg, Austria"}, {"lat": 47.839662, "lon": 13.367615, "name": "Mondsee, Mondsee, Upper Austria 5310, Austria"}, {"lat": 47.8, "lon": 13.03333, "name": "Salzburg, Salzburg, Austria"}, {"lat": 47.806732, "lon": 13.040921, "name": "Mirabell, Auerspergstr. 4, Salzburg, Salzburg 5020, Austria"}, {"lat": 47.63293, "lon": 13.04806, "name": "Obersalzberg, Berchtesgaden, Bavaria, Germany"}, {"lat": 47.8, "lon": 13.03333, "name": "Salzburg, Salzburg, Austria"}, {"lat": 47.9328802, "lon": 12.9878527, "name": "Schl\u00f6\u00dfl, 5151 Nu\u00dfdorf am Haunsberg, Austria"}, {"lat": 47.806621, "lon": 13.048059, "name": "Hotel Mozart, Franz Josef Strasse, Salzburg, Salzburg 5020, Austria"}, {"lat": 47.750153, "lon": 13.066235, "name": "Obersalzberg, Anif, Salzburg 5081, Austria"}, {"lat": 47.482839, "lon": 13.188368, "name": "Burg Hohenwerfen, Burgstra\u00dfe 2, Werfen, Salzburg 5450, Austria"}, {"lat": 47.839662, "lon": 13.367615, "name": "Mondsee, Mondsee, Upper Austria 5310, Austria"}, {"lat": 47.746105, "lon": 13.403964, "name": "Wolfgangsee, Sankt Gilgen, Salzburg 5342, Austria"}, {"lat": 47.475, "lon": 13.18889, "name": "Werfen, Salzburg, Austria"}, {"lat": 47.41722, "lon": 13.21944, "name": "Bischofshofen, Salzburg, Austria"}, {"lat": 47.76667, "lon": 13.36667, "name": "Sankt Gilgen, Salzburg, Austria"}, {"lat": 47.7985095, "lon": 13.0462405, "name": "Residenzplatz, Residenzplatz, Salzburg, Salzburg 5020, Austria"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 47.6861, "lon": 13.0675, "name": "Mehlweg, Marktschellenberg, Bavaria, Germany"}, {"lat": 47.815839, "lon": 12.847993, "name": "H\u00f6glw\u00f6rth, Anger, Bavaria, Germany"}, {"lat": 47.555179, "lon": 12.976742, "name": "K\u00f6nigssee, Sch\u00f6nau am K\u00f6nigssee, Bavaria 83471, Germany"}, {"lat": 47.6284746, "lon": 13.0912916, "name": "Ro\u00dffeldstra\u00dfe, 83471 Eck, Germany"}, {"lat": 47.788408, "lon": 13.037852, "name": "Hotel Schloss Leopoldskron, Leopoldskronstr. 56-58, Salzburg, Salzburg 5020, Austria"}, {"lat": 47.745543, "lon": 13.06336, "name": "F\u00fcrstenweg 37, 5081 Anif, Austria"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>