<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">American Beauty</h3>
          <p class="card-text mb-0">


  <span > A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.  </span>
                          <span > After his death sometime in his 43rd year, suburbanite Lester Burnham tells of the last few weeks of his life, during which he had no idea of his imminent passing. He is a husband to real estate agent Carolyn Burnham and father to high school student Jane Burnham. Although Lester and Carolyn once loved each other, they now merely tolerate each other. Typical wallflower Jane also hates both her parents; the three suffer individually in silence in their home life. Jane tries to steer clear of both her parents. Carolyn, relatively new to the real estate business, wants to create the persona of success to further her career, aspiring to the professional life of Buddy Kane, the king of the real estate business in their neighborhood. Lester merely walks mindlessly through life, including at his job in advertising. His company is downsizing, and he, like all the other employees, has to justify his position to the newly hired efficiency expert to keep his job. Things change for Lester when he falls in love at first sight with Jane's more experienced classmate, Angela Hayes. Both Janie and Angela can see Lester's sexual infatuation with Angela, who courts such attention from any man as a sign that she is model material, she having once appeared in Seventeen and is a career to which she aspires. Lester's infatuation with Angela gives him a reenergized view on life, where he openly doesn't care anymore what anyone thinks about what he does, anyone except Angela. This infatuation coincides with the Fittses moving in next door: homophobic disciplinarian US Marine Colonel Frank Fitts who rules the house with a military fist (that fist being both figurative and literal), his semi-comatose wife Barbara Fitts, and their bright and quietly subversive 18-year-old son Ricky Fitts, who openly abides by his father's rules while behind the scenes lives by his own quite different perspective. Much like Lester's infatuation, Ricky immediately becomes infatuated with Jane; he considers girls like Angela as ordinary. The entry of Angela and the Fittses into the Burnhams' lives ultimately leads to each of the players confronting what is truly in his or her heart. -Huggo.  </span>
                          <span > It takes courage to openly admit that you have failed in almost every aspect of your life, and that's exactly what the unhappy advertiser and self-declared loser Lester Burnham does: he uninhibitedly embraces his failure as a father, as a husband, and as a professional. With Lester's high-strung wife, Carolyn, and his always sullen teenage daughter, Jane, loving to express their glaring contempt, the fond memories of a once-happy existence rapidly start to fade; however, the fragrant apparition of Angela - an off-limits object of desire - reminds Lester what life used to be, or better yet, what it could be. Now, for the first time, the unloved Lester wants out of his endless suburban slumber, thirsting for a drastic change and a superbly shameless transformation - all in the name of love, and above all, lost beauty. -Nick Riganas.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Lester and Carolyn Burnham are, on the outside, a perfect husband and wife in a perfect house in a perfect neighborhood. But inside, Lester is slipping deeper and deeper into a hopeless depression. He finally snaps when he becomes infatuated with one of his daughter's friends. Meanwhile, his daughter Jane is developing a happy friendship with a shy boy-next-door named Ricky, who lives with an abusive father. -Jessie Skinner .  </span>
    <span class="additional-information" > Lester Burnham is suffering a mid-life crisis that affects the lives of members of his family, which is made up of his super bitch of a wife Carolyn and rebelling daughter Jane, who hates him. Carolyn is a real estate agent, a little too wrapped up in her job, who starts an affair with business rival Buddy Kane. Meanwhile, Jane seems to fall in love with Ricky Fitts, the strange boy next door, who is a drug dealer/documentarian and lives under a roof governed by a very strict Marine father and a speechless mother. Lester's mid-life crisis causes him to drastically change his life around when he quits his job and works at a fast-food restaurant. He starts working out to gain the attention of Angela (a friend of Jane's) who brags about her sexual exploits every weekend. Lives change and not for the best. -Mystic80.  </span>
    <span class="additional-information" > Lester Burnham is having his mid-life crisis. He is rebelling against his bitch-on-wheels wife Carolyn and his self-absorbed, uncaring daughter Jane. After attending a cheerleader competition at Jane's high school, he meets Jane's friend Angela, for whom he develops an infatuation and decides he is going to turn his life around. He quits his high-paying job to work at a fast-food restaurant and decides to re-live his 20s. The impact his behavior has on the others around him changes and not for the better. -Ryan Harder .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTBmZWJkNjctNDhiNC00MGE2LWEwOTctZTk5OGVhMWMyNmVhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="American Beauty"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sacramento, California, United States
            </td>
                <td class="table__cell">
                38.581021, -121.4939328
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                20105 Saticoy Street, Canoga Park, California 91306, United States
            </td>
                <td class="table__cell">
                34.20848, -118.57133
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pacific Coast Highway, Lomita, California, United States
            </td>
                <td class="table__cell">
                33.7892, -118.3134
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1880 Academy Drive, Los Angeles, California 90012, United States
            </td>
                <td class="table__cell">
                34.08269, -118.24139
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                11388 Homedale Street, Los Angeles, California 90049, United States
            </td>
                <td class="table__cell">
                34.06803, -118.4657
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Alameda Avenue, Burbank, California 91201, United States
            </td>
                <td class="table__cell">
                34.1757, -118.29902
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, United States
            </td>
                <td class="table__cell">
                33.7775, -118.1885
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                330 South Windsor Boulevard, Los Angeles, California 90020, United States
            </td>
                <td class="table__cell">
                34.06794, -118.321
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chatsworth, California, United States
            </td>
                <td class="table__cell">
                34.2596, -118.6023
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                University Foot and Ankle Institute, 5230 Pacific Concourse Dr. Suite 100, Inglewood, California 90045, United States
            </td>
                <td class="table__cell">
                33.928197499999996, -118.373356
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                North Hollywood, California, United States
            </td>
                <td class="table__cell">
                34.1729, -118.374
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                4000 Warner Boulevard, Burbank, California 91522, United States
            </td>
                <td class="table__cell">
                34.150955, -118.339232
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.7775, -118.1885], [33.7892, -118.3134], [33.928197499999996, -118.373356]], "data": [{"lat": 38.581021, "lon": -121.4939328, "name": "Sacramento, California, United States"}, {"lat": 34.20848, "lon": -118.57133, "name": "20105 Saticoy Street, Canoga Park, California 91306, United States"}, {"lat": 33.7892, "lon": -118.3134, "name": "Pacific Coast Highway, Lomita, California, United States"}, {"lat": 34.08269, "lon": -118.24139, "name": "1880 Academy Drive, Los Angeles, California 90012, United States"}, {"lat": 34.06803, "lon": -118.4657, "name": "11388 Homedale Street, Los Angeles, California 90049, United States"}, {"lat": 34.1757, "lon": -118.29902, "name": "Alameda Avenue, Burbank, California 91201, United States"}, {"lat": 33.7775, "lon": -118.1885, "name": "Long Beach, California, United States"}, {"lat": 34.06794, "lon": -118.321, "name": "330 South Windsor Boulevard, Los Angeles, California 90020, United States"}, {"lat": 34.2596, "lon": -118.6023, "name": "Chatsworth, California, United States"}, {"lat": 33.928197499999996, "lon": -118.373356, "name": "University Foot and Ankle Institute, 5230 Pacific Concourse Dr. Suite 100, Inglewood, California 90045, United States"}, {"lat": 34.1729, "lon": -118.374, "name": "North Hollywood, California, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>