<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">American Beauty</h3>
                        <p class="card-text">
                          A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTBmZWJkNjctNDhiNC00MGE2LWEwOTctZTk5OGVhMWMyNmVhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="American Beauty"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Sacramento, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.581021</span>, <span class="lon">-121.4939328</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                20105 Saticoy Rd., Canoga Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.20848</span>, <span class="lon">-118.57133</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                South High School   4801 Pacific Coast Highway, Torrance, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7782805</span>, <span class="lon">-118.3738465</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles Police Academy   1880 N. Academy Drive, Elysian Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08269</span>, <span class="lon">-118.24139</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                11388 Homedale Street, Brentwood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.06803</span>, <span class="lon">-118.4657</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alameda Avenue, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1757</span>, <span class="lon">-118.29902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Long Beach Polytechnic High School   1600 Atlantic Avenue, Long Beach, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7775</span>, <span class="lon">-118.1885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                330 S. Windsor Blvd., Hancock Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.06794</span>, <span class="lon">-118.321</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chatsworth, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2596</span>, <span class="lon">-118.6023</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                South Bay, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.928197499999996</span>, <span class="lon">-118.373356</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blondie Street, Columbia/Warner Bros. Ranch   411 North Hollywood Way, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1729</span>, <span class="lon">-118.374</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150955</span>, <span class="lon">-118.339232</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>