<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Shawshank Redemption</h3>
                        <p class="card-text">
                          Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Shawshank Redemption"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                127A Smithfield Road, Frederiksted, Virgin Islands 
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.70913</span>, <span class="lon">-64.87986</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mansfield Reformatory   100 Reformatory Road, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.78247</span>, <span class="lon">-82.5032</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Butler, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5884</span>, <span class="lon">-82.4249</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sandy Point, St. Croix, U.S. Virgin Islands 
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.7789</span>, <span class="lon">-64.7455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Malabar Farm State Park   4050 Bromfield Road, Lucas, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.651991</span>, <span class="lon">-82.397852</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.7584</span>, <span class="lon">-82.5154</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wyandot County Courthouse, Upper Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.827135</span>, <span class="lon">-83.280731</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ashland, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8687</span>, <span class="lon">-82.3182</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                193 North Main Street, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.76362</span>, <span class="lon">-82.51545</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Upper Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.8273</span>, <span class="lon">-83.2813</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Snyder Road and Hagerman Road, Bellville, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6164545</span>, <span class="lon">-82.4290092</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Yuma, Arizona, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7253</span>, <span class="lon">-114.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rod Bay, St Croix, USVI 
            </td>   
                <td class="table__cell">
                <span class="lat"> 17.7789</span>, <span class="lon">-64.7455</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                301 E 5th Street, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.762573</span>, <span class="lon">-82.505421</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bellville, Ohio, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.6201</span>, <span class="lon">-82.5107</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.4489</span>, <span class="lon">-82.708</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2202611707</span>, <span class="lon">-111.422127989113</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ohio, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.4174201146</span>, <span class="lon">-82.7114488167578</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>