<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Shawshank Redemption</h3>
                        <p class="card-text">
                          Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Shawshank Redemption"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                127A Smithfield Road, Frederiksted, Virgin Islands 
            </td>   
                <td class="table__cell">
                17.70913, -64.87986
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mansfield Reformatory   100 Reformatory Road, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.78247, -82.5032
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Butler, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.5884, -82.4249
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sandy Point, St. Croix, U.S. Virgin Islands 
            </td>   
                <td class="table__cell">
                17.7789, -64.7455
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Malabar Farm State Park   4050 Bromfield Road, Lucas, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.651991, -82.397852
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.7584, -82.5154
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wyandot County Courthouse, Upper Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.827135, -83.280731
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ashland, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.8687, -82.3182
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                193 North Main Street, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.76362, -82.51545
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Upper Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.8273, -83.2813
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Snyder Road and Hagerman Road, Bellville, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.6164545, -82.4290092
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Yuma, Arizona, USA 
            </td>   
                <td class="table__cell">
                32.7253, -114.6244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rod Bay, St Croix, USVI 
            </td>   
                <td class="table__cell">
                17.7789, -64.7455
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                301 E 5th Street, Mansfield, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.762573, -82.505421
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bellville, Ohio, USA
            </td>   
                <td class="table__cell">
                40.6201, -82.5107
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sandusky, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.4489, -82.708
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Arizona, USA
            </td>   
                <td class="table__cell">
                34.2202611707, -111.422127989113
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ohio, USA
            </td>   
                <td class="table__cell">
                40.4174201146, -82.7114488167578
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>