<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Pather Panchali</h3>
                        <p class="card-text">
                          Impoverished priest Harihar Ray, dreaming of a better life for himself and his family, leaves his rural Bengal village in search of work. The story of a young boy, Apu, and life in his small Indian village. His parents are quite poor - his father Harihar, a writer and poet, gave away the family's fruit orchard to settle his brother's debts. His sister Durga and an old aunt also still lives with them. His mother Sarbojaya bears the brunt of the family's situation. She scrapes by and sells her personal possessions to put food on the table and has to bear the taunts of her neighbors as Durga is always stealing fruit from their orchard. Things get worse when Harihar disappears for five months and Durga falls ill. Even after Harihar returns, the family is left with few alternatives.::garykmcd With her always absent and emotionally unavailable Brahmin husband, Harihar, dreaming of recognition as a playwright and a better future, the impecunious mother-of-two, Sarbojaya, struggles to eke out an existence and put food on the table for her daughter, Durga, her son, Apu, and frail Aunt Indir. Living on the verge of poverty, at the dilapidated ancestral house in the heart of an untamed bamboo forest in 1910s rural Bengal, sometimes, it seems that poor Sarbojaya is fighting a losing battle, having to put up with Durga's shenanigans, Indir's idiosyncrasies, and the ridicule of their unsympathetic neighbours. And, as if that weren't enough, the unstoppable Indian monsoon is fast approaching, and Harihar, who is still looking for a job to support his family, is nowhere to be found. Now, defeated Sarbojaya has no other choice but wait and pray. But, is she prepared for what fate has in store for her?::Nick Riganas Sometime in the early years of the century, a boy, Apu, is born to a poor Brahmin family in a village in Bengal. The father, a poet and priest, cannot earn enough to keep his family going. Apu's sister, Durga, is forever stealing guavas from the neighbour's orchards. All these add to the daily struggles of the mother's life, notwithstanding her constant bickering with old aunt who lives with the family.::L.H. Wong <as9401k56@ntuvax.ntu.ac.sg>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMmFkNDY5OTktNzY3Yy00OTFlLThhNjktOTRhMmZjZmIxYjAxXkEyXkFqcGdeQXVyNTgyNTA4MjM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Pather Panchali"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Boral, Sonarpur, South 24 Parganas, West Bengal, India
            </td>   
                <td class="table__cell">
                22.446345, 88.370853
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Boral, Sonarpur, South 24 Parganas, West Bengal, India
            </td>   
                <td class="table__cell">
                22.446345, 88.370853
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palsit, Burdwan, Purba Bardhaman, West Bengal, India
            </td>   
                <td class="table__cell">
                23.199917, 88.009229
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[22.446345, 88.370853], [22.446345, 88.370853], [23.199917, 88.009229]], "data": [{"lat": 22.446345, "lon": 88.370853, "name": "Boral, Sonarpur, South 24 Parganas, West Bengal, India"}, {"lat": 22.446345, "lon": 88.370853, "name": "Boral, Sonarpur, South 24 Parganas, West Bengal, India"}, {"lat": 23.199917, "lon": 88.009229, "name": "Palsit, Burdwan, Purba Bardhaman, West Bengal, India"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>