<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Life Is Beautiful</h3>
          <p class="card-text mb-0">


  <span > When an open-minded Jewish waiter and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.  </span>
                          <span > In 1930s Italy, a carefree Jewish waiter named Guido starts a fairy tale life by courting and marrying a lovely woman from a nearby city. Guido and his wife have a son and live happily together until the occupation of Italy by German forces. In an attempt to hold his family together and help his son survive the horrors of a Jewish Concentration Camp, Guido imagines that the Holocaust is a game and that the grand prize for winning is a tank. -Anthony Hughes .  </span>
                          <span > In 1939, Jewish-Italian Guido Orefice comes into Arezzo, Italy, ultimately to open a book store. In the meantime, he will work as a waiter at the hotel restaurant where his Uncle Eliseo is the maître d'. In town, he meets a school teacher named Dora, who he calls Princess and who comes from a wealthy Italian family. For him, it's love at first sight. Despite she already being in a relationship with another man, Guido ultimately sweeps her off her feet. They get married and have a son they name Giosué. On Giosué's fifth birthday, World War II is in full force. Since they are Jewish, the Germans take away Guido, Eliseo and Giosué to a labor camp. Wanting to be with her family, Dora insists she be taken too, but she is housed in the women's side of the camp. To protect Giosué from the horror of what is happening to them, Guido tells him that they are playing a game, certain actions which garner points, other actions which take points away or disqualify one from the game. The first to reach 1,000 points wins the prize of a real tank. Guido's primary goal is to keep Giosué safe at all cost, while he tries to figure out a way to get his family out of the camp and keep the Germans at bay from learning what he is doing with Giosué. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A gentle Jewish-Italian waiter, Guido Orefice, meets Dora, a pretty schoolteacher, and wins her over with his charm and humor. Eventually they marry and have a son, Giosue. Their happiness is abruptly halted, however, when Guido and Giosue are separated from Dora and taken to a concentration camp. Determined to shelter his son from the horrors of his surroundings, Guido convinces Giosue that their time in the camp is merely a game. -Jwelch5742.  </span>
    <span class="additional-information" > On the threshold of a new dark era, the mirthful Jewish-Italian, Guido Orefice, arrives in late 1930s Arezzo, in high hopes of starting afresh. Dreaming of opening a small bookshop, instead, the free-spirited optimist finds true love in the person of his princess--the gentle local school teacher, Dora--and their sweet fairy-tale love story blooms into a happy married life and a son named Giosué. However, against the backdrop of the great war's atrocities and the Germans' retreat in 1945, the Fascists round up Guido, his child, and the town's Jewish citizens to ship them to a nightmarish concentration camp to meet their fate at the hands of the Nazis. But, in Giosué's eyes, this strange new situation is nothing but an exciting challenge to win a glorious grand prize--resilient Guido's desperate attempt to shield the innocent boy from the horrors of the death camp. Will Giosué win the contest? Is life more beautiful beyond the grown-ups' absurd world? -Nick Riganas.  </span>
    <span class="additional-information" > It's 1939. The ebullient, playful Guido comes to town. He works as a waiter under the watchful eye of his uncle, an elegant man who is a Jew. Guido falls for Dora, a schoolteacher, whom he calls "princess" and courts by popping up at unexpected times. She dumps her fiancé to choose Guido. The film jumps ahead to the war's last months. Nora and Guido have a child, Giosué, and when Guido and the lad are shipped to a concentration camp, Dora voluntarily follows. Although the men and women in the camp are separated and a child is in mortal peril, Guido finds ways to communicate with Dora, to hide Giosué, and to convince the boy this is an elaborate game, a special contest to win a tank. -.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYmJmM2Q4NmMtYThmNC00ZjRlLWEyZmItZTIwOTBlZDQ3NTQ1XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Life Is Beautiful"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                La Tabaccaia - Ristorante della Fattoria Il Cipresso, Località Sassaia di Rigutino, 62, Arezzo, Arezzo 52100, Italy
            </td>
                <td class="table__cell">
                43.385681, 11.876558
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cortona, Arezzo, Italy
            </td>
                <td class="table__cell">
                43.27556, 11.98806
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Ronciglione, Viterbo, Italy
            </td>
                <td class="table__cell">
                42.28944, 12.21472
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Montevarchi, Arezzo, Italy
            </td>
                <td class="table__cell">
                43.5234, 11.56787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Papigno, Terni, Terni, Italy
            </td>
                <td class="table__cell">
                42.550073, 12.690731
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bar Umbria, Viale Cesare Battisti, 64, Terni, Terni 05100, Italy
            </td>
                <td class="table__cell">
                42.56782, 12.6429
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[42.28944, 12.21472], [42.550073, 12.690731], [42.56782, 12.6429]], "data": [{"lat": 43.385681, "lon": 11.876558, "name": "La Tabaccaia - Ristorante della Fattoria Il Cipresso, Localit\u00e0 Sassaia di Rigutino, 62, Arezzo, Arezzo 52100, Italy"}, {"lat": 43.27556, "lon": 11.98806, "name": "Cortona, Arezzo, Italy"}, {"lat": 42.28944, "lon": 12.21472, "name": "Ronciglione, Viterbo, Italy"}, {"lat": 43.5234, "lon": 11.56787, "name": "Montevarchi, Arezzo, Italy"}, {"lat": 42.550073, "lon": 12.690731, "name": "Papigno, Terni, Terni, Italy"}, {"lat": 42.56782, "lon": 12.6429, "name": "Bar Umbria, Viale Cesare Battisti, 64, Terni, Terni 05100, Italy"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>