<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Star Wars: Episode VI - Return of the Jedi</h3>
                        <p class="card-text">
                          After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's trap.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Star Wars: Episode VI - Return of the Jedi"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Miller Rellim Redwood Company Property, Morrison Creek Road, Smith River, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.9282</span>, <span class="lon">-124.147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Death Valley National Park, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.509057</span>, <span class="lon">-116.847615</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Buttercup Valley, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.144905</span>, <span class="lon">-118.144325</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Yuma, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7253</span>, <span class="lon">-114.6244</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Castle Dome Peak, Yuma, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.7582</span>, <span class="lon">-114.3661</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blue Canyon, Hopi Indian Reservation, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.87417</span>, <span class="lon">-110.62278</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Owen R. Cheatham Grove, Grizzly Creek Redwoods State Park, Carlotta, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.5374</span>, <span class="lon">-124.0606</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Twenty Mule Team Canyon, Death Valley National Park, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.4573</span>, <span class="lon">-116.8653</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                White Pocket, Vermilion Cliffs National Monument, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2202611707</span>, <span class="lon">-111.422127989113</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Imperial County, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.04</span>, <span class="lon">-115.35</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 6/Star Wars Stage, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 5, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Industrial Light and Magic   3210 Kerner Boulevard, San Rafael, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.9735</span>, <span class="lon">-122.5311</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 7, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 8, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 9, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 3, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 2, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>