<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">3 Idiots</h3>
                        <p class="card-text">
                          Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots". Farhan Qureshi and Raju Rastogi want to re-unite with their fellow collegian, Rancho, after faking a stroke aboard an Air India plane, and excusing himself from his wife - trouser less - respectively. Enroute, they encounter another student, Chatur Ramalingam, now a successful businessman, who reminds them of a bet they had undertaken 10 years ago. The trio, while recollecting hilarious antics, including their run-ins with the Dean of Delhi's Imperial College of Engineering, Viru Sahastrabudhe, race to locate Rancho, at his last known address - little knowing the secret that was kept from them all this time.::rAjOo (gunwanti@hotmail.com) Racho is an engineering student. His two friends. Farhan and Raju, Racho sees the world in a different way. Racho goes somewhere one day. And his friends find him. When Racho is found, it becomes a one of a great scientist in the world.::Luv 3 Idiots is a Bollywood production that flashes back and forth between present day, and the characters' time in college. It starts off with old friends, Qureshi and Raju Rastogi learning that their college pal, Rancho, had finally been found. The movie follows their travels to find their long lost friend, while flashing back to the events of their school years, where they often got into amusing shenanigans involving the Dean of Delhi's Imperial College of Engineering, Viru Sahastrabudhe, and dealt with some serious events that many people encounter in every day life.::adam Farhan and Raju find from their biggest college rival Chatur that their missing friend Ranchoddas (Rancho) has been traced.The trio start their journey to find him where flashback revels Rancho,Raju and Farhan were engineering students and Rancho always believed that a person should be capable rather then being a bookworm and it will be way to success.He always got in tiff with Chatur and college director Viru Sahastrabuddhe (Virus) but fell in love with his daughter Pia.Things were going fine for them as they also cleared their first year exams in present day they reach house of Rancho where they find his father has passed away and the person who claims to be Rancho is someone else.::alex.mjacko@gmail.com When the trio find out that where is rancho? They immediately rush to his house. But got shocked after seeing it's not the one who they are expecting it's someone else. The real Rancho. The trio threatened him to tell where is their friend. Finally they found rancho(Amir Khan). And he was living in a lakeside. Being a teacher. Pia runs to him and kissed him and confessed her love. And then then raju and faran also reach there. The hug each other. Then pia ask him his real name. He reply's "phunsukh wangdoo" the greatest scientist whom chatur is searching desperately. Chatur also reach there and he tells that he is the winner of the bet so he deserves the pen which given to Rancho by Virus. When he was about to go Rancho (phunsukh wangdoo) calls chatur and he realized that who is Rancho. So he except that he (Rancho) is the winner. After they lived happily ever after. " Study is not always about success or fame. It's about knowledge. "::gaherwarprerana
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTkyOGVjMGEtNmQzZi00NzFlLTlhOWQtODYyMDc2ZGJmYzFhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="3 Idiots"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bengaluru, Karnataka, India
            </td>   
                <td class="table__cell">
                12.96991, 77.59796
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Indian Institute Of Integrative Medicine, Jammu, Jammu, Jammu and Kashmir, India
            </td>   
                <td class="table__cell">
                32.731782, 74.847349
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Madh Island, Malad West, Mumbai, Maharashtra, India
            </td>   
                <td class="table__cell">
                19.15854, 72.78596
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Noida, Uttar Pradesh, India
            </td>   
                <td class="table__cell">
                28.57, 77.32
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Woodville Palace, Raj Bhawan Rd, Shimla, Himachal Pradesh, India
            </td>   
                <td class="table__cell">
                31.091576, 77.177914
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mumbai, Maharashtra, India
            </td>   
                <td class="table__cell">
                18.96667, 72.83333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Indira Gandhi International Airport (DEL), Airport Rd, New Delhi, Delhi, India
            </td>   
                <td class="table__cell">
                28.555764, 77.09652
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mall Road Shimla, Shimla, Himachal Pradesh, India
            </td>   
                <td class="table__cell">
                31.103458, 77.176945
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bengaluru, Karnataka, India
            </td>   
                <td class="table__cell">
                12.96991, 77.59796
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Delhi, India
            </td>   
                <td class="table__cell">
                28.66667, 77.21667
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[28.555764, 77.09652], [28.57, 77.32], [28.66667, 77.21667]], "data": [{"lat": 12.96991, "lon": 77.59796, "name": "Bengaluru, Karnataka, India"}, {"lat": 32.731782, "lon": 74.847349, "name": "Indian Institute Of Integrative Medicine, Jammu, Jammu, Jammu and Kashmir, India"}, {"lat": 19.15854, "lon": 72.78596, "name": "Madh Island, Malad West, Mumbai, Maharashtra, India"}, {"lat": 28.57, "lon": 77.32, "name": "Noida, Uttar Pradesh, India"}, {"lat": 31.091576, "lon": 77.177914, "name": "Woodville Palace, Raj Bhawan Rd, Shimla, Himachal Pradesh, India"}, {"lat": 18.96667, "lon": 72.83333, "name": "Mumbai, Maharashtra, India"}, {"lat": 28.555764, "lon": 77.09652, "name": "Indira Gandhi International Airport (DEL), Airport Rd, New Delhi, Delhi, India"}, {"lat": 31.103458, "lon": 77.176945, "name": "Mall Road Shimla, Shimla, Himachal Pradesh, India"}, {"lat": 12.96991, "lon": 77.59796, "name": "Bengaluru, Karnataka, India"}, {"lat": 28.66667, "lon": 77.21667, "name": "Delhi, India"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>