<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Full Metal Jacket</h3>
          <p class="card-text mb-0">


  <span > A pragmatic U.S. Marine observes the dehumanizing effects the Vietnam War has on his fellow recruits from their brutal boot camp training to the bloody street fighting in Hue.  </span>
                          <span > A two-segment look at the effect of the military mindset and war itself on Vietnam era Marines. The first half follows a group of recruits in boot camp under the command of the punishing Gunnery Sergeant Hartman. The second half shows one of those recruits, Joker, covering the war as a correspondent for Stars and Stripes, focusing on the Tet offensive. -Scott Renshaw .  </span>
                          <span > The lives of several young men who undergo Marine Corps basic training and are then shipped off to Vietnam. The main character is J.T. 'Joker' Davis who, along with all the other new recruits, constantly has to deal with their demanding Drill Instructor, Gny. Sgt Hartman. One recruit in particular, Leonard 'Gomer Pyle' Lawrence, is having a particularly hard time, especially after DI Hartman punishes the entire squad anytime he screws up, which is often. It all leads to tragedy. Davis makes it through and soon finds himself in Vietnam working as a combat journalist where he gets to see the horrors of war first-hand during the Tet offensive. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > The exploits of J.T. Davis in two distinct phases of his time associated to the Vietnam War are presented. He generally acts as an active observer of the proceedings around him, either by his own choice or by the design of others often in authority. The first phase is as a recruit in basic training for the US Marine Corps at Parris Island, where he receives the nickname Joker from his platoon drill sergeant Gunnery Sergeant Hartman for his sarcastic quips, generally muttered under his breath, usually mimicking John Wayne. He learns that Hartman's foul-mouthed and uncompromisingly harsh ways, probably a reflection of the Marines as an organization, is not to produce robotic troops as some may believe, but rather produce killing machines. Joker's time in basic training is largely affected by Hartman using overweight and slightly slow Private Leonard Lawrence as the platoon's whipping boy, Lawrence's nickname provided by Hartman being Gomer Pyle for his ineptness as a service member, much like his television character namesake. The second phase is in active duty in Vietnam - Da Nang - he assigned to write for Stars and Stripes. He is not to write exactly what he sees but to skew stories in a way to boost serviceman morale and to convince non-military people the reason for American political and thus military involvement in this region of the world, especially in many Americans seeing the war as futile. In covering what becomes the Tet offensive, Joker may come face to face with the kill or be killed mentality without it jibing either with his own outlook or his assigned job. -Huggo.  </span>
    <span class="additional-information" > A two-segment story that follows young men from the start of recruit training in the Marine Corps to the lethal cauldron known as Vietnam. The first segment follows Joker, Pyle and others as they progress through the hell of USMC boot-camp at the hands of the colorful, foul-mouthed Gunnery Sergeant Hartman. The second begins in Vietnam, near Hue, at the time of the Tet Offensive. Joker, along with Animal Mother, Rafterman and others, face threats such as ambush, booby traps, and Viet Cong snipers as they move through the city. -Derek O'Cain.  </span>
    <span class="additional-information" > Full Metal Jacket begins by following the trials and tribulations of a platoon of fresh Marine Corps recruits focusing on the relationship between Gunnery Sergeant Hartman and Privates Pyle and Joker. We see Pyle grow into an instrument of death as Hartman has foreseen of all of his recruits. Through Pyle's torment and Joker's unwillingness to stand up against it the climax of part one is achieved with all three main characters deciding their fates by their action or inaction. The second chapter delves into Joker's psyche and the repeated referral to the fact that he joined the Corps to become a killer. When his mostly behind the scenes job as a combat correspondent is interfered with by the Tet offensive he is thrust into real combat and ultimately must decide if he really is a killer. -FMJ_Joker.  </span>
    <span class="additional-information" > During the Vietnam War private 'Joker' -the narrator, a future author- and his class are put through the US Marine indoctrination and training under DI Gunnery Sergeant Hartman's verbally and physically abusive, sex-obsessed style. It's all far worse for fat simpleton Pyle, who keeps doing everything wrong, even when gentle Joker is appointed his personal tutor, until peer pressure becomes group bullying. On their last day at Paris Island, when everyone graduates, the psychological time-bomb explodes. Only intellectual Joker isn't assigned to jungle duty but as military war correspondent. He's unwilling to play the deceptive propaganda game and violence catches up even in the 'safe' city Hue. -KGF Vissers.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzkxODk0NjEtYjc4Mi00ZDI0LTgyYjEtYzc1NDkxY2YzYTgyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Full Metal Jacket"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Best Friends Vet Group, 43 Amsterdam Road, London, England E14 3UU, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.495452</span>, <span class="lon">-0.007458</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Parris Island, Beaufort, South Carolina 29905, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">32.359108</span>, <span class="lon">-80.709224</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Swinderby, Lincolnshire, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">53.158</span>, <span class="lon">-0.702</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Norfolk, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.6667</span>, <span class="lon">1</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cliffe, Medway, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.4619</span>, <span class="lon">0.4975</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bassingbourn Road, Litlington, Royston, SG8 0QN, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.069641</span>, <span class="lon">-0.080284</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Epping Forest, Epping New Rd, Loughton, England IG10 1SF, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.665768</span>, <span class="lon">0.054631</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5483805</span>, <span class="lon">-0.5348885</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.4619, 0.4975], [51.495452, -0.007458], [51.507321899999994, -0.12764739999999997]], "data": [{"lat": 51.495452, "lon": -0.007458, "name": "Best Friends Vet Group, 43 Amsterdam Road, London, England E14 3UU, United Kingdom"}, {"lat": 32.359108, "lon": -80.709224, "name": "Parris Island, Beaufort, South Carolina 29905, United States"}, {"lat": 53.158, "lon": -0.702, "name": "Swinderby, Lincolnshire, England, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.6667, "lon": 1, "name": "Norfolk, England, United Kingdom"}, {"lat": 51.4619, "lon": 0.4975, "name": "Cliffe, Medway, England, United Kingdom"}, {"lat": 52.069641, "lon": -0.080284, "name": "Bassingbourn Road, Litlington, Royston, SG8 0QN, United Kingdom"}, {"lat": 51.665768, "lon": 0.054631, "name": "Epping Forest, Epping New Rd, Loughton, England IG10 1SF, United Kingdom"}, {"lat": 51.5483805, "lon": -0.5348885, "name": "Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>