<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Deer Hunter</h3>
                        <p class="card-text">
                          An in-depth examination of the ways in which the Vietnam War impacts and disrupts the lives of several friends in a small steel mill town in Pennsylvania.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDhmNTA0ZDMtYjhkNS00NzEzLWIzYTItOGNkMTVmYjE2YmI3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Deer Hunter"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                St. Theodosius Russian Orthodox Church   733 Starkweather Avenue, Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.5052, -81.6934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mingo Junction, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.3217, -80.6098
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Clairton, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.2923, -79.8817
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                River Kwai, Thailand 
            </td>   
                <td class="table__cell">
                13.966439, 99.311468
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lemko Hall   2335 W. Eleventh Street, Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.480888, -81.689315
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mount Baker, Washington, USA 
            </td>   
                <td class="table__cell">
                45.618065, -122.579775
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                US Steel Widowmaker Central Blast Furnace, Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.5052, -81.6934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bangkok, Thailand 
            </td>   
                <td class="table__cell">
                13.75, 100.51667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Follansbee, West Virginia, USA 
            </td>   
                <td class="table__cell">
                40.3276, -80.5959
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.5052, -81.6934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mill Creek Park, Youngstown, Ohio, USA
            </td>   
                <td class="table__cell">
                41.08958, -80.686495
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nooksack Falls, Mount Baker, Washington, USA 
            </td>   
                <td class="table__cell">
                47.5784, -122.2896
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Heather Meadows, Mount Baker, Washington, USA 
            </td>   
                <td class="table__cell">
                47.5784, -122.2896
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bowladrome Lanes   56 State Street, Struthers, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.05676, -80.59008
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McKeesport, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.3478, -79.8642
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Whatcom County, Washington, USA
            </td>   
                <td class="table__cell">
                48.83, -121.9
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                993 N. 7th Street, Steubenville, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.37352, -80.613527
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.5052, -81.6934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Katchanburi, Thailand 
            </td>   
                <td class="table__cell">
                15.127333464868, 101.017437716385
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lake Chelan, Washington, USA
            </td>   
                <td class="table__cell">
                47.839938, -120.055745
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Steubenville, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.3698, -80.634
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Struthers, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.0559, -80.5897
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Throng Wad Road, Bangkok, Thailand 
            </td>   
                <td class="table__cell">
                13.75, 100.51667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Washington, USA
            </td>   
                <td class="table__cell">
                48.0250054263, -120.094292506456
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Weirton, West Virginia, USA 
            </td>   
                <td class="table__cell">
                40.419, -80.5895
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Starkweather Avenue, Cleveland, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.47717, -81.68817
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Don Mueang International Airport, Don Mueang, Bangkok, Thailand 
            </td>   
                <td class="table__cell">
                13.9147915, 100.60397
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McKeesport and Versailles Cemetery   1608 Fifth Avenue, McKeesport, Pennsylvania, USA 
            </td>   
                <td class="table__cell">
                40.5497, -78.37302
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mingo Junction, Ohio, USA 
            </td>   
                <td class="table__cell">
                40.3217, -80.6098
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Youngstown, Ohio, USA 
            </td>   
                <td class="table__cell">
                41.0998, -80.6495
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>