<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Deer Hunter</h3>
          <p class="card-text mb-0">


  <span > An in-depth examination of the ways in which the Vietnam War impacts and disrupts the lives of several friends in a small steel mill town in Pennsylvania.  </span>
                          <span > Michael, Steven and Nicky are 3 best friends who enjoy going deer hunting quite often. These men get enlisted to head to Vietnam to fight for their country and celebrate with a farewell party, as well as Steven marrying a pregnant woman named "Angela." After the horrors during the war and edge-grabbing games of Russian Roulette that these men are forced to play, Michael returns home and realizes that his deer hunting outings aren't the same as they used to be, because of the war and he eventually finds out that Steven is handicapped and Nicky hasn't returned from Vietnam, and in response, he heads back to Vietnam to rescue him. -Koen Versieck.  </span>
                          <span > 1968. Michael, Nick and Steven are only three of a group of friends and coworkers at the local steel mill in their small town of Clairton, Pennsylvania - they and most of their community blue collar of Eastern European heritage - but they are the only three in the community who will imminently be heading off into combat in Vietnam. In the days before they leave, they will attend to a few items, Steven who will marry Angela in a lavish event for the entire community, and the male friends, without Steven, who will go deer hunting the following morning, a highly ritualized activity especially for Michael. Steven is not the only one who will leave behind a girl, Nick in a serious relationship with Linda, she wanting to escape the abuse inflicted on her by her alcoholic father. Besides Linda's, there are many issues underneath the otherwise happy and joyous surface of the community, that surface joy only ramped up with the wedding and everyone, including the three subjects, seeing Michael, Nick and Steven as the honor and duty of them all and of the country. The three will find that the community hopes of their time in Vietnam is not what they want, their Vietnam experience which will inextricably be tied to the way they deal with life, with those that head home, either wanting or able, unwilling or unable to express how the war has damaged them. The three may be the only ones to help the other(s) who didn't come out the other end in one piece, either physically or emotionally. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Michael, Steven and Nick are young factory workers from Pennsylvania who enlist into the Army to fight in Vietnam. Before they go, Steven marries the pregnant Angela, and their wedding party also serves as the men's farewell party. After some time and many horrors, the three friends fall in the hands of the Vietcong and are brought to a prison camp in which they are forced to play Russian roulette against each other. Michael makes it possible for them to escape, but they soon get separated again. -Leon Wolters .  </span>
    <span class="additional-information" > Michael, Nick, and Steven are three buddies from the steel mill town of Clairton, Penn.They work together, hang out in a local bar and enjoying weekends deer hunting Ina a larger group with three other friends. But their placid life is soon to be changed after the three buddies enlist in the airborne infantry to go to Vietnam. So they all celebrate a goodbye at Steven's wedding and they leave for Vietnam. They are captured by the enemy and forced to play games of Russian Roulette to amuse their guards. They escape and Mike returns home to find Nick has stayed in Vietnam and Steven is handicapped after losing his legs and the use of one arm after the escape. Mike finds that deer hunting has changed for him after Vietnam and he returns to Vietnam during the fall to attempt to rescue Nick. -Jasper Yangchareon.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDhmNTA0ZDMtYjhkNS00NzEzLWIzYTItOGNkMTVmYjE2YmI3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Deer Hunter"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cleveland, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.5052</span>, <span class="lon">-81.6934</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mingo Junction, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3217</span>, <span class="lon">-80.6098</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Clairton, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.2923</span>, <span class="lon">-79.8817</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">River Kwai Villa, Mueang Kanchanaburi, Kanchanaburi 71000, Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">13.966439</span>, <span class="lon">99.311468</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">2335 West 11th Street, Cleveland, Ohio 44113, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.480888</span>, <span class="lon">-81.689315</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mount Baker Avenue, Vancouver, Washington 98664, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">45.618065</span>, <span class="lon">-122.579775</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cleveland, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.5052</span>, <span class="lon">-81.6934</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bangkok, Bangkok, Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">13.75</span>, <span class="lon">100.51667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Follansbee, West Virginia, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3276</span>, <span class="lon">-80.5959</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cleveland, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.5052</span>, <span class="lon">-81.6934</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mill Creek Park, 7574 Columbiana Canfield Rd, Youngstown, Ohio 44509, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.08958</span>, <span class="lon">-80.686495</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mount Baker, Seattle, Washington, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.5784</span>, <span class="lon">-122.2896</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mount Baker, Seattle, Washington, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.5784</span>, <span class="lon">-122.2896</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">56 State Street, Struthers, Ohio 44471, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.05676</span>, <span class="lon">-80.59008</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">McKeesport, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3478</span>, <span class="lon">-79.8642</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Whatcom County, Washington, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.83</span>, <span class="lon">-121.9</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">993 North 7th Street, Steubenville, Ohio 43952, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.37352</span>, <span class="lon">-80.613527</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cleveland, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.5052</span>, <span class="lon">-81.6934</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">15.127333464868</span>, <span class="lon">101.017437716385</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lake Chelan, Chelan, Washington 98816, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.839938</span>, <span class="lon">-120.055745</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Steubenville, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3698</span>, <span class="lon">-80.634</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Struthers, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.0559</span>, <span class="lon">-80.5897</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bangkok, Bangkok, Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">13.75</span>, <span class="lon">100.51667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Washington, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.0250054263</span>, <span class="lon">-120.094292506456</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Weirton, West Virginia, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.419</span>, <span class="lon">-80.5895</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Starkweather Avenue, Cleveland, Ohio 44113, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.47717</span>, <span class="lon">-81.68817</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Don Mueang International Airport (DMK) ท่าอากาศยานดอนเมือง, 222 Vibhavadi Rangsit Rd, Bangkok, Bangkok 10210, Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">13.9147915</span>, <span class="lon">100.60397</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1608 5th Avenue, McKeesport, Pennsylvania 15132, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3521</span>, <span class="lon">-79.84916</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mingo Junction, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.3217</span>, <span class="lon">-80.6098</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Youngstown, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.0998</span>, <span class="lon">-80.6495</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pittsburgh, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.4417</span>, <span class="lon">-79.9901</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cleveland, Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.5052</span>, <span class="lon">-81.6934</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Commercial Avenue, Mingo Junction, Ohio 43938, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.31647</span>, <span class="lon">-80.61092</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bangkok, Bangkok, Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">13.75</span>, <span class="lon">100.51667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Duquesne Heights, Pittsburgh, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.4353</span>, <span class="lon">-80.02</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Virginia, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.7432593107</span>, <span class="lon">-80.7144445663771</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Thailand </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">15.127333464868</span>, <span class="lon">101.017437716385</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Ohio, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.4174201146</span>, <span class="lon">-82.7114488167578</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.0911397651</span>, <span class="lon">-78.2907462468837</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[13.75, 100.51667], [13.75, 100.51667], [13.75, 100.51667]], "data": [{"lat": 41.5052, "lon": -81.6934, "name": "Cleveland, Ohio, United States"}, {"lat": 40.3217, "lon": -80.6098, "name": "Mingo Junction, Ohio, United States"}, {"lat": 40.2923, "lon": -79.8817, "name": "Clairton, Pennsylvania, United States"}, {"lat": 13.966439, "lon": 99.311468, "name": "River Kwai Villa, Mueang Kanchanaburi, Kanchanaburi 71000, Thailand"}, {"lat": 41.480888, "lon": -81.689315, "name": "2335 West 11th Street, Cleveland, Ohio 44113, United States"}, {"lat": 45.618065, "lon": -122.579775, "name": "Mount Baker Avenue, Vancouver, Washington 98664, United States"}, {"lat": 41.5052, "lon": -81.6934, "name": "Cleveland, Ohio, United States"}, {"lat": 13.75, "lon": 100.51667, "name": "Bangkok, Bangkok, Thailand"}, {"lat": 40.3276, "lon": -80.5959, "name": "Follansbee, West Virginia, United States"}, {"lat": 41.5052, "lon": -81.6934, "name": "Cleveland, Ohio, United States"}, {"lat": 41.08958, "lon": -80.686495, "name": "Mill Creek Park, 7574 Columbiana Canfield Rd, Youngstown, Ohio 44509, United States"}, {"lat": 47.5784, "lon": -122.2896, "name": "Mount Baker, Seattle, Washington, United States"}, {"lat": 47.5784, "lon": -122.2896, "name": "Mount Baker, Seattle, Washington, United States"}, {"lat": 41.05676, "lon": -80.59008, "name": "56 State Street, Struthers, Ohio 44471, United States"}, {"lat": 40.3478, "lon": -79.8642, "name": "McKeesport, Pennsylvania, United States"}, {"lat": 48.83, "lon": -121.9, "name": "Whatcom County, Washington, United States"}, {"lat": 40.37352, "lon": -80.613527, "name": "993 North 7th Street, Steubenville, Ohio 43952, United States"}, {"lat": 41.5052, "lon": -81.6934, "name": "Cleveland, Ohio, United States"}, {"lat": 15.127333464868, "lon": 101.017437716385, "name": "Thailand"}, {"lat": 47.839938, "lon": -120.055745, "name": "Lake Chelan, Chelan, Washington 98816, United States"}, {"lat": 40.3698, "lon": -80.634, "name": "Steubenville, Ohio, United States"}, {"lat": 41.0559, "lon": -80.5897, "name": "Struthers, Ohio, United States"}, {"lat": 13.75, "lon": 100.51667, "name": "Bangkok, Bangkok, Thailand"}, {"lat": 48.0250054263, "lon": -120.094292506456, "name": "Washington, United States"}, {"lat": 40.419, "lon": -80.5895, "name": "Weirton, West Virginia, United States"}, {"lat": 41.47717, "lon": -81.68817, "name": "Starkweather Avenue, Cleveland, Ohio 44113, United States"}, {"lat": 13.9147915, "lon": 100.60397, "name": "Don Mueang International Airport (DMK) \u0e17\u0e48\u0e32\u0e2d\u0e32\u0e01\u0e32\u0e28\u0e22\u0e32\u0e19\u0e14\u0e2d\u0e19\u0e40\u0e21\u0e37\u0e2d\u0e07, 222 Vibhavadi Rangsit Rd, Bangkok, Bangkok 10210, Thailand"}, {"lat": 40.3521, "lon": -79.84916, "name": "1608 5th Avenue, McKeesport, Pennsylvania 15132, United States"}, {"lat": 40.3217, "lon": -80.6098, "name": "Mingo Junction, Ohio, United States"}, {"lat": 41.0998, "lon": -80.6495, "name": "Youngstown, Ohio, United States"}, {"lat": 40.4417, "lon": -79.9901, "name": "Pittsburgh, Pennsylvania, United States"}, {"lat": 41.5052, "lon": -81.6934, "name": "Cleveland, Ohio, United States"}, {"lat": 40.31647, "lon": -80.61092, "name": "Commercial Avenue, Mingo Junction, Ohio 43938, United States"}, {"lat": 13.75, "lon": 100.51667, "name": "Bangkok, Bangkok, Thailand"}, {"lat": 40.4353, "lon": -80.02, "name": "Duquesne Heights, Pittsburgh, Pennsylvania, United States"}, {"lat": 38.7432593107, "lon": -80.7144445663771, "name": "West Virginia, United States"}, {"lat": 15.127333464868, "lon": 101.017437716385, "name": "Thailand"}, {"lat": 40.4174201146, "lon": -82.7114488167578, "name": "Ohio, United States"}, {"lat": 41.0911397651, "lon": -78.2907462468837, "name": "Pennsylvania, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>