<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">L.A. Confidential</h3>
          <p class="card-text mb-0">


  <span > As corruption grows in 1950s Los Angeles, three policemen - one strait-laced, one brutal, and one sleazy - investigate a series of murders with their own brand of justice.  </span>
                          <span > 1950's Los Angeles is the seedy backdrop for this intricate noir-ish tale of police corruption and Hollywood sleaze. Three very different cops are all after the truth, each in their own style: Ed Exley, the golden boy of the police force, willing to do almost anything to get ahead, except sell out; Bud White, ready to break the rules to seek justice, but barely able to keep his raging violence under control; and Jack Vincennes, always looking for celebrity and a quick buck until his conscience drives him to join Exley and White down the one-way path to find the truth behind the dark world of L.A. crime. -Greg Bole .  </span>
                          <span > Three policemen, each with his own motives and obsessions, tackle the corruption surrounding an unsolved murder at a downtown Los Angeles coffee shop in the early 1950s. Detective Lieutenant Exley (Guy Pearce), the son of a murdered detective, is out to avenge his father's killing. The ex-partner of Officer White (Russell Crowe), implicated in a scandal rooted out by Exley, was one of the victims. Sergeant Vincennes (Kevin Spacey) feeds classified information to a tabloid magnate (Danny DeVito).  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > LA in the 50's: someone's killing imprisoned mob boss Mickey Cohen's gang. The police, led by Captain Dudley, convince wiseguys from Jersey, Cleveland, and elsewhere to go home. Rich developer, Pierce Patchett, runs a stable of high-class hookers who are ringers for movie stars. The plot to replace Cohen blindsides three plainclothes cops: White watched his father beat his mother to death then vanish, he punishes abusers with quick violence; Exley's father was a hero cop killed mysteriously, he seeks justice by the book; Vicennes, a clothes horse, consults for a Dragnet-like TV show. Will they escape corruption and murder, will they find their own morality? -.  </span>
    <span class="additional-information" > Three detectives in the corrupt and brutal L.A. police force of the 1950s use differing methods to uncover a conspiracy behind the shotgun slayings of the patrons at an all-night diner in this lush tribute to tough film noir crime films. Based on the multi-layered James Ellroy novel. -Keith Loh .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="L.A. Confidential"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hollywood Blvd, Burbank, California 90027, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.15843</span>, <span class="lon">-118.34964</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4616 Dundee Drive, Los Angeles, California 90027, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.11815</span>, <span class="lon">-118.28772</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">7156 Santa Monica Boulevard, West Hollywood, California 90025, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.090703</span>, <span class="lon">-118.345458</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1714 North Gramercy Place, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10232</span>, <span class="lon">-118.31179</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Baldwin Hills, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0066</span>, <span class="lon">-118.3691</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">200 South Spring Street, Los Angeles, California 90012, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.05153</span>, <span class="lon">-118.24556</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">119 East 6th Street, Los Angeles, California 90014, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.04495</span>, <span class="lon">-118.24922</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1279 South Cochran Avenue, Los Angeles, California 90019, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0517</span>, <span class="lon">-118.35144</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1652 North Cherokee Avenue, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10115</span>, <span class="lon">-118.33492</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hollywood Blvd, Burbank, California 90027, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.15843</span>, <span class="lon">-118.34964</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">501 Wilcox Ave, Los Angeles, California 90004, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08046</span>, <span class="lon">-118.33093</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Venice, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.995</span>, <span class="lon">-118.4669</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">6720 West Sunset Boulevard, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09781</span>, <span class="lon">-118.33735</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lincoln Heights, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0706</span>, <span class="lon">-118.2051</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Long Beach, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.7775</span>, <span class="lon">-118.1885</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Montecito Street, Los Angeles, California 90031, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.081205</span>, <span class="lon">-118.207655</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Church Of The Blessed Sacrament, 6657 W Sunset Blvd, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.098919</span>, <span class="lon">-118.334732</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Echo Park, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08</span>, <span class="lon">-118.26</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elysian Park, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0743</span>, <span class="lon">-118.2398</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4439 Victoria Park Drive, Los Angeles, California 90019, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.04748</span>, <span class="lon">-118.33192</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1704 Morton Ave, Los Angeles, California 90026, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0826</span>, <span class="lon">-118.2517</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5668 Berkshire Drive, Los Angeles, California 90032, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09798</span>, <span class="lon">-118.15672</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">496 Avenue 28, Los Angeles, California 90031, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08076</span>, <span class="lon">-118.20772</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4216 Rose Ave, Long Beach, California 90807, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.82334</span>, <span class="lon">-118.19029</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Baldwin Hills, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0066</span>, <span class="lon">-118.3691</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5620 Hollywood Boulevard, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.101445</span>, <span class="lon">-118.31224</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lacy Street Production Center, 2630 Lacy St, Los Angeles, California 90031, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.082099</span>, <span class="lon">-118.219398</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">501 Wilcox Ave, Los Angeles, California 90004, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08046</span>, <span class="lon">-118.33093</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1255 Bellevue Avenue, Los Angeles, California 90026, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.06824</span>, <span class="lon">-118.25243</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1714 North Gramercy Place, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10232</span>, <span class="lon">-118.31179</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4439 Victoria Park Drive, Los Angeles, California 90019, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.04748</span>, <span class="lon">-118.33192</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5620 Hollywood Boulevard, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.101445</span>, <span class="lon">-118.31224</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">6720 West Sunset Boulevard, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09781</span>, <span class="lon">-118.33735</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.7775, -118.1885], [33.82334, -118.19029], [33.995, -118.4669]], "data": [{"lat": 34.15843, "lon": -118.34964, "name": "Hollywood Blvd, Burbank, California 90027, United States"}, {"lat": 34.11815, "lon": -118.28772, "name": "4616 Dundee Drive, Los Angeles, California 90027, United States"}, {"lat": 34.090703, "lon": -118.345458, "name": "7156 Santa Monica Boulevard, West Hollywood, California 90025, United States"}, {"lat": 34.10232, "lon": -118.31179, "name": "1714 North Gramercy Place, Los Angeles, California 90028, United States"}, {"lat": 34.0066, "lon": -118.3691, "name": "Baldwin Hills, Los Angeles, California, United States"}, {"lat": 34.05153, "lon": -118.24556, "name": "200 South Spring Street, Los Angeles, California 90012, United States"}, {"lat": 34.04495, "lon": -118.24922, "name": "119 East 6th Street, Los Angeles, California 90014, United States"}, {"lat": 34.0517, "lon": -118.35144, "name": "1279 South Cochran Avenue, Los Angeles, California 90019, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.10115, "lon": -118.33492, "name": "1652 North Cherokee Avenue, Los Angeles, California 90028, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.15843, "lon": -118.34964, "name": "Hollywood Blvd, Burbank, California 90027, United States"}, {"lat": 34.08046, "lon": -118.33093, "name": "501 Wilcox Ave, Los Angeles, California 90004, United States"}, {"lat": 33.995, "lon": -118.4669, "name": "Venice, California, United States"}, {"lat": 34.09781, "lon": -118.33735, "name": "6720 West Sunset Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.0706, "lon": -118.2051, "name": "Lincoln Heights, Los Angeles, California, United States"}, {"lat": 33.7775, "lon": -118.1885, "name": "Long Beach, California, United States"}, {"lat": 34.081205, "lon": -118.207655, "name": "Montecito Street, Los Angeles, California 90031, United States"}, {"lat": 34.098919, "lon": -118.334732, "name": "Church Of The Blessed Sacrament, 6657 W Sunset Blvd, Los Angeles, California 90028, United States"}, {"lat": 34.08, "lon": -118.26, "name": "Echo Park, Los Angeles, California, United States"}, {"lat": 34.0743, "lon": -118.2398, "name": "Elysian Park, Los Angeles, California, United States"}, {"lat": 34.04748, "lon": -118.33192, "name": "4439 Victoria Park Drive, Los Angeles, California 90019, United States"}, {"lat": 34.0826, "lon": -118.2517, "name": "1704 Morton Ave, Los Angeles, California 90026, United States"}, {"lat": 34.09798, "lon": -118.15672, "name": "5668 Berkshire Drive, Los Angeles, California 90032, United States"}, {"lat": 34.08076, "lon": -118.20772, "name": "496 Avenue 28, Los Angeles, California 90031, United States"}, {"lat": 33.82334, "lon": -118.19029, "name": "4216 Rose Ave, Long Beach, California 90807, United States"}, {"lat": 34.0066, "lon": -118.3691, "name": "Baldwin Hills, Los Angeles, California, United States"}, {"lat": 34.101445, "lon": -118.31224, "name": "5620 Hollywood Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.082099, "lon": -118.219398, "name": "Lacy Street Production Center, 2630 Lacy St, Los Angeles, California 90031, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.08046, "lon": -118.33093, "name": "501 Wilcox Ave, Los Angeles, California 90004, United States"}, {"lat": 34.06824, "lon": -118.25243, "name": "1255 Bellevue Avenue, Los Angeles, California 90026, United States"}, {"lat": 34.10232, "lon": -118.31179, "name": "1714 North Gramercy Place, Los Angeles, California 90028, United States"}, {"lat": 34.04748, "lon": -118.33192, "name": "4439 Victoria Park Drive, Los Angeles, California 90019, United States"}, {"lat": 34.101445, "lon": -118.31224, "name": "5620 Hollywood Boulevard, Los Angeles, California 90028, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.09781, "lon": -118.33735, "name": "6720 West Sunset Boulevard, Los Angeles, California 90028, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>