<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">L.A. Confidential</h3>
                        <p class="card-text">
                          As corruption grows in 1950s Los Angeles, three policemen - one strait-laced, one brutal, and one sleazy - investigate a series of murders with their own brand of justice.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="L.A. Confidential"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Frolic Room   6245 Hollywood Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.15843, -118.34964
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Lovell Health House   4616 Dundee Drive, Los Feliz, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.11815, -118.28772
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Formosa Cafe   7156 Santa Monica Blvd., West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                34.090703, -118.345458
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1714 N Gramercy Place, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.10232, -118.31179
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Baldwin Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0066, -118.3691
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles City Hall   200 North Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.05153, -118.24556
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                J & J Sandwich Shoppe   119 E 6th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04495, -118.24922
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1279 S Cochran Ave, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0517, -118.35144
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Crossroads of the World Center   6671 Sunset Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Boardner's of Hollywood   1652 North Cherokee Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.10115, -118.33492
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pacific Electric Building, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pantages Theater   6233 Hollywood Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.15843, -118.34964
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                501 Wilcox Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08046, -118.33093
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Former Venice Police Station Division 14, 685 Venice Blvd, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.995, -118.4669
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood Center Motel   6720 W. Sunset Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.09781, -118.33735
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lincoln Heights, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0706, -118.2051
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                RMS Queen Mary   1126 Queens Highway, Long Beach, California, USA
            </td>   
                <td class="table__cell">
                33.7775, -118.1885
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Montecito Street, Lincoln Heights, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.081205, -118.207655
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Church of the Blessed Sacrament   6657 W. Sunset Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.098919, -118.334732
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Echo Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08, -118.26
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elysian Park, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0743, -118.2398
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4439 Victoria Park Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04748, -118.33192
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1704 Morton Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0826, -118.2517
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                5668 Berkshire Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.09798, -118.15672
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                496 East Avenue 28, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08076, -118.20772
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4216 Rose Avenue, Long Beach, California, USA 
            </td>   
                <td class="table__cell">
                33.82334, -118.19029
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Baldwin Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0066, -118.3691
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                5620 Hollywood Blvd., Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.101445, -118.31224
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lacy Street Production Center   2630 Lacy Street, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.082099, -118.219398
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>