<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">L.A. Confidential</h3>
                        <p class="card-text">
                          As corruption grows in 1950s Los Angeles, three policemen - one strait-laced, one brutal, and one sleazy - investigate a series of murders with their own brand of justice.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="L.A. Confidential"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Frolic Room   6245 Hollywood Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15843</span>, <span class="lon">-118.34964</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Lovell Health House   4616 Dundee Drive, Los Feliz, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.11815</span>, <span class="lon">-118.28772</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Formosa Cafe   7156 Santa Monica Blvd., West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.090703</span>, <span class="lon">-118.345458</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1714 N Gramercy Place, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.10232</span>, <span class="lon">-118.31179</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Baldwin Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0066</span>, <span class="lon">-118.3691</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles City Hall   200 North Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05153</span>, <span class="lon">-118.24556</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                J & J Sandwich Shoppe   119 E 6th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04495</span>, <span class="lon">-118.24922</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1279 S Cochran Ave, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0517</span>, <span class="lon">-118.35144</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Crossroads of the World Center   6671 Sunset Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Boardner's of Hollywood   1652 North Cherokee Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.10115</span>, <span class="lon">-118.33492</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pacific Electric Building, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pantages Theater   6233 Hollywood Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15843</span>, <span class="lon">-118.34964</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                501 Wilcox Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08046</span>, <span class="lon">-118.33093</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Former Venice Police Station Division 14, 685 Venice Blvd, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.995</span>, <span class="lon">-118.4669</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hollywood Center Motel   6720 W. Sunset Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09781</span>, <span class="lon">-118.33735</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lincoln Heights, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0706</span>, <span class="lon">-118.2051</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                RMS Queen Mary   1126 Queens Highway, Long Beach, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7775</span>, <span class="lon">-118.1885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Montecito Street, Lincoln Heights, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.081205</span>, <span class="lon">-118.207655</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Church of the Blessed Sacrament   6657 W. Sunset Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.098919</span>, <span class="lon">-118.334732</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Echo Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08</span>, <span class="lon">-118.26</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elysian Park, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0743</span>, <span class="lon">-118.2398</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                4439 Victoria Park Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04748</span>, <span class="lon">-118.33192</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1704 Morton Avenue, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0826</span>, <span class="lon">-118.2517</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                5668 Berkshire Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09798</span>, <span class="lon">-118.15672</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                496 East Avenue 28, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08076</span>, <span class="lon">-118.20772</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                4216 Rose Avenue, Long Beach, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.82334</span>, <span class="lon">-118.19029</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Baldwin Hills, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0066</span>, <span class="lon">-118.3691</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                5620 Hollywood Blvd., Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.101445</span>, <span class="lon">-118.31224</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lacy Street Production Center   2630 Lacy Street, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.082099</span>, <span class="lon">-118.219398</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>