<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Rashomon</h3>
          <p class="card-text mb-0">


  <span > The rape of a bride and the murder of her samurai husband are recalled from the perspectives of a bandit, the bride, the samurai's ghost and a woodcutter.  </span>
                          <span > A priest, a woodcutter and another man are taking refuge from a rainstorm in the shell of a former gatehouse called Rashômon. The priest and the woodcutter are recounting the story of a murdered samurai whose body the woodcutter discovered three days earlier in a forest grove. Both were summoned to testify at the murder trial, the priest who ran into the samurai and his wife traveling through the forest just before the murder occurred. Three other people who testified at the trial are supposedly the only direct witnesses: a notorious bandit named Tajômaru, who allegedly murdered the samurai and raped his wife; the white veil cloaked wife of the samurai; and the samurai himself who testifies through the use of a medium. The three tell a similarly structured story - that Tajômaru kidnapped and bound the samurai so that he could rape the wife - but which ultimately contradict each other, the motivations and the actual killing being what differ. The woodcutter reveals at Rashômon that he knows more than he let on at the trial, thus bringing into question his own actions. But another discovery at Rashômon and the resulting actions from the discovery bring back into focus the woodcutter's own humanity or lack thereof. -Huggo.  </span>
                          <span > Sheltering from a rainstorm in the derelict Rashomon gatehouse, a commoner wants to hear the strange story that has horrified a priest and confounded a woodcutter. They tell him about a murder inquiry at which they have just appeared as witnesses. Tajomaru (a bandit with a reputation for murder and lust) had managed to tie up a samurai and rape his wife. The woodcutter had discovered the dead body of the samurai in the forest, and the bandit was arrested the following day. But how the samurai was killed was unclear. Strangely, the three people involved all claim to be responsible. The bandit describes winning a dramatic sword fight. The distraught woman all but admits she was driven to stab her husband in desperation. Through a medium, the dead samurai claims his wife was treacherous, and that this drove him to suicide. Something has motivated at least two of them to lie, grotesquely subverting truth, justice, and decency. Even the woodcutter has not been forthright, and ironically, he feels that he too must lie. He changes his story, claims to have witnessed the crime, and gives yet another (the fourth) wild version of the samurai's death. The commoner is not fooled, and it only reinforces his cynical view of life. Then the men make a discovery, and their reactions reveal that, though there is terrible evil and mistrust in the world, there is also goodness. -billheron53.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > As heavy rain pours monotonously out of a dark sky, under Kyoto's once-glorious front gate, a poor woodcutter and a faithful priest gather around a feeble campfire to share with a wet commoner their take on the mysterious murder of a valiant samurai in a lush bamboo forest, and the brutal sexual assault of his wife by the notorious bandit, Tajomaru. Before court and through a series of uncomfortable flashbacks, strikingly different points-of-view inextricably interweave with half-truths, cover-ups, and the supernatural, to further blur the lines between memory and fact. However, who is the evil-doer behind this intricate conundrum? In the end, on the basis of personal perspective, can there be an absolute truth? -Nick Riganas.  </span>
    <span class="additional-information" > A man is killed and his wife raped. A notorious bandit is captured and accused of the crimes. In court the three people involved - the bandit, the woman and the man (via a medium) - detail what happened but their stories vary considerably. Which version is the truth? -grantss.  </span>
    <span class="additional-information" > In 12th century Japan, a samurai and his wife are attacked by the notorious bandit Tajomaru, and the samurai ends up dead. Tajomaru is captured shortly afterward and is put on trial, but his story and the wife's are so completely different that a psychic is brought in to allow the murdered man to give his own testimony. He tells yet another completely different story. Finally, a woodcutter who found the body reveals that he saw the whole thing, and his version is again completely different from the others. -rmlohner.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjEzMzA4NDE2OF5BMl5BanBnXkFtZTcwNTc5MDI2NQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rashomon"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">醍醐寺 霊宝館, 伏見区醍醐東大路町22, 京都市, Kyōto 601-1325, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.951021</span>, <span class="lon">135.819151</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Kyōto, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.02167</span>, <span class="lon">135.75561</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Nara, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.56667</span>, <span class="lon">135.76667</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Studio.S, 東雲2-5-7, 東京都, Tokyo Prefecture 135-0062, Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.64154</span>, <span class="lon">139.799404</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Japan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.3864928218528</span>, <span class="lon">138.592229549504</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.56667, 135.76667], [34.951021, 135.819151], [35.02167, 135.75561]], "data": [{"lat": 34.951021, "lon": 135.819151, "name": "\u918d\u9190\u5bfa \u970a\u5b9d\u9928, \u4f0f\u898b\u533a\u918d\u9190\u6771\u5927\u8def\u753a22, \u4eac\u90fd\u5e02, Ky\u014dto 601-1325, Japan"}, {"lat": 35.02167, "lon": 135.75561, "name": "Ky\u014dto, Japan"}, {"lat": 34.56667, "lon": 135.76667, "name": "Nara, Japan"}, {"lat": 35.64154, "lon": 139.799404, "name": "Studio.S, \u6771\u96f22-5-7, \u6771\u4eac\u90fd, Tokyo Prefecture 135-0062, Japan"}, {"lat": 36.3864928218528, "lon": 138.592229549504, "name": "Japan"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>