<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Good Will Hunting</h3>
                        <p class="card-text">
                          Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI0MzcxMTYtZDVkMy00NjY1LTgyMTYtZmUxN2M3NmQ2NWJhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Good Will Hunting"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Central Tech. High School, Toronto, Ontario, Canada
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.653482</span>, <span class="lon">-79.383935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Toronto, Ontario, Canada
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.653482</span>, <span class="lon">-79.383935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Massachusetts Turnpike, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3740695139485</span>, <span class="lon">-71.0296626134716</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                University of Toronto, Toronto, Ontario, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.666713</span>, <span class="lon">-79.399975</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Upfront Bar & Grill   106 Front Street E., Toronto, Ontario, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.649996</span>, <span class="lon">-79.370882</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ontario Specialty Co, Toronto, Ontario, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.653482</span>, <span class="lon">-79.383935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dorchester, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.300105</span>, <span class="lon">-71.014535</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dunster House, Harvard University, Cambridge, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3751</span>, <span class="lon">-71.1056</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Tasty, Harvard Square, Cambridge, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.374</span>, <span class="lon">-71.119</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Woody's L Street Tavern   658 E. Eighth Street #A, South Boston, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.33163</span>, <span class="lon">-71.035442</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Public Garden   Charles and Beacon Streets, Boston, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3605</span>, <span class="lon">-71.0596</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                100 Federal Street, Boston, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.35478</span>, <span class="lon">-71.05619</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                McLennan Physical Laboratories, University of Toronto, Toronto, Ontario, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.653482</span>, <span class="lon">-79.383935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bow & Arrow Pub   1 Bow Street, Harvard Square, Cambridge, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.372185</span>, <span class="lon">-71.115962</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cambridge, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3751</span>, <span class="lon">-71.1056</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                E. 5th Street, South Boston, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.33411</span>, <span class="lon">-71.03477</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Massachusetts Institute of Technology   77 Massachusetts Avenue, Cambridge, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.35917</span>, <span class="lon">-71.093185</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                South Boston District Municipal Court   535 East Broadway, South Boston, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3334</span>, <span class="lon">-71.0495</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wonderland Greyhound Park   Revere, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.4084</span>, <span class="lon">-71.012</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Whitney Hall residence, University College, University of Toronto, Toronto, Ontario, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.653482</span>, <span class="lon">-79.383935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Harvard Square, Cambridge, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.374</span>, <span class="lon">-71.119</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                W. 5th Street, South Boston, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.33727</span>, <span class="lon">-71.05231</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3605</span>, <span class="lon">-71.0596</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bunker Hill Community College   250 N. Rutherford Avenue, Charlestown, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.376141</span>, <span class="lon">-71.061837</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>