<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Good Will Hunting</h3>
          <p class="card-text mb-0">


  <span > Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.  </span>
                          <span > A touching tale of a wayward young man who struggles to find his identity, living in a world where he can solve any problem, except the one brewing deep within himself, until one day he meets his soul mate who opens his mind and his heart. -Dima & Danielle.  </span>
                          <span > A young adult by the name of Will Hunting has always been living in the slums. He spends his nights at bars and batting cages with his best friends. However, he has an amazing talent in Mathematics. When Will is almost sent to jail, a professor at MIT decides to bail him out under the condition that he works with him for math every week and that he visits a therapist. Little does he know that the therapist, Sean, will change his life in so many ways. -Eric.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A janitor at MIT, Will Hunting has a gift for math and chemistry that can take him light-years beyond his blue-collar roots, but he doesn't realize his potential and can't even imagine leaving his childhood Boston South End neighborhood, his construction job, or his best friend. To complicate matters, several strangers enter the equation: a brilliant math professor who discovers, even envies, Will's gifts, an empathetic shrink who identifies with Will's blue-collar roots, and a beautiful, gifted pre-med student who shows him, for the first time in his life, the possibility of love. -Damien Saunders .  </span>
    <span class="additional-information" > Will Hunting is a genius who's living a rough life in South Boston, while being employed at a prestigious college in Boston, he's discovered by a Fields Medal winning Professor who eventually tries to get Will to turn his life around with the help of Sean Maguire, as Will begins to realize that there's more to himself then he thinks there is. -Ryan Harder .  </span>
    <span class="additional-information" > Will Hunting is a boy genius who was severely abused as a child and has been in trouble with the law ever since. When Will finally agrees to get counseling to keep himself out of jail and with his girlfriend, he meets Sean, the therapist who will change his life. Good Will Hunting tells the poignant story of Will and Sean's coming to terms with the blows life has dealt them and with the questions that lie in the future. -Anuja .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTI0MzcxMTYtZDVkMy00NjY1LTgyMTYtZmUxN2M3NmQ2NWJhXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Good Will Hunting"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Toronto, Ontario, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Toronto, Ontario, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Massachusetts Turnpike, Boston, Massachusetts 02128, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3740695139485</span>, <span class="lon">-71.0296626134716</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">School of Continuing Studies, 158 Saint George Street, Toronto, Ontario M5S 2E9, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.666713</span>, <span class="lon">-79.399975</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">106 Front Street East, Toronto, Ontario M5A 1E1, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.649996</span>, <span class="lon">-79.370882</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Toronto, Ontario, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Dorchester Street, Quincy, Massachusetts 02171, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.300105</span>, <span class="lon">-71.014535</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cambridge, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3751</span>, <span class="lon">-71.1056</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Harvard Square, Cambridge, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.374</span>, <span class="lon">-71.119</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">658 East Eighth Street, South Boston, Massachusetts 02127, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.33163</span>, <span class="lon">-71.035442</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Boston, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3605</span>, <span class="lon">-71.0596</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Federal St, Boston, Massachusetts 02110, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.35478</span>, <span class="lon">-71.05619</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Toronto, Ontario, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1 Bow Street, Cambridge, Massachusetts 02138, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.372185</span>, <span class="lon">-71.115962</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cambridge, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3751</span>, <span class="lon">-71.1056</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">East Fifth Street, South Boston, Massachusetts 02127, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.33411</span>, <span class="lon">-71.03477</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">77 Massachusetts Avenue, Cambridge, Massachusetts 02142, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.35917</span>, <span class="lon">-71.093185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">South Boston, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3334</span>, <span class="lon">-71.0495</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Revere, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.4084</span>, <span class="lon">-71.012</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Toronto, Ontario, Canada </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.653482</span>, <span class="lon">-79.383935</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Harvard Square, Cambridge, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.374</span>, <span class="lon">-71.119</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Fifth Street, South Boston, Massachusetts 02127, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.33727</span>, <span class="lon">-71.05231</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Boston, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.3605</span>, <span class="lon">-71.0596</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bunker Hill, Boston, Massachusetts, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">42.376141</span>, <span class="lon">-71.061837</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[42.300105, -71.014535], [42.33163, -71.035442], [42.3334, -71.0495]], "data": [{"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 42.3740695139485, "lon": -71.0296626134716, "name": "Massachusetts Turnpike, Boston, Massachusetts 02128, United States"}, {"lat": 43.666713, "lon": -79.399975, "name": "School of Continuing Studies, 158 Saint George Street, Toronto, Ontario M5S 2E9, Canada"}, {"lat": 43.649996, "lon": -79.370882, "name": "106 Front Street East, Toronto, Ontario M5A 1E1, Canada"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 42.300105, "lon": -71.014535, "name": "Dorchester Street, Quincy, Massachusetts 02171, United States"}, {"lat": 42.3751, "lon": -71.1056, "name": "Cambridge, Massachusetts, United States"}, {"lat": 42.374, "lon": -71.119, "name": "Harvard Square, Cambridge, Massachusetts, United States"}, {"lat": 42.33163, "lon": -71.035442, "name": "658 East Eighth Street, South Boston, Massachusetts 02127, United States"}, {"lat": 42.3605, "lon": -71.0596, "name": "Boston, Massachusetts, United States"}, {"lat": 42.35478, "lon": -71.05619, "name": "100 Federal St, Boston, Massachusetts 02110, United States"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 42.372185, "lon": -71.115962, "name": "1 Bow Street, Cambridge, Massachusetts 02138, United States"}, {"lat": 42.3751, "lon": -71.1056, "name": "Cambridge, Massachusetts, United States"}, {"lat": 42.33411, "lon": -71.03477, "name": "East Fifth Street, South Boston, Massachusetts 02127, United States"}, {"lat": 42.35917, "lon": -71.093185, "name": "77 Massachusetts Avenue, Cambridge, Massachusetts 02142, United States"}, {"lat": 42.3334, "lon": -71.0495, "name": "South Boston, Massachusetts, United States"}, {"lat": 42.4084, "lon": -71.012, "name": "Revere, Massachusetts, United States"}, {"lat": 43.653482, "lon": -79.383935, "name": "Toronto, Ontario, Canada"}, {"lat": 42.374, "lon": -71.119, "name": "Harvard Square, Cambridge, Massachusetts, United States"}, {"lat": 42.33727, "lon": -71.05231, "name": "West Fifth Street, South Boston, Massachusetts 02127, United States"}, {"lat": 42.3605, "lon": -71.0596, "name": "Boston, Massachusetts, United States"}, {"lat": 42.376141, "lon": -71.061837, "name": "Bunker Hill, Boston, Massachusetts, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>