<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Terminator 2: Judgment Day</h3>
          <p class="card-text mb-0">


  <span > A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten-year-old son John from a more advanced and powerful cyborg.  </span>
                          <span > Over 10 years have passed since the first machine called The Terminator tried to kill Sarah Connor and her unborn son, John. The man who will become the future leader of the human resistance against the Machines is now a healthy young boy. However, another Terminator, called the T-1000, is sent back through time by the supercomputer Skynet. This new Terminator is more advanced and more powerful than its predecessor and its mission is to kill John Connor when he's still a child. However, Sarah and John do not have to face the threat of the T-1000 alone. Another Terminator (identical to the same model that tried and failed to kill Sarah Connor in 1984) is also sent back through time to protect them. Now, the battle for tomorrow has begun. -Eric ggg.  </span>
                          <span > In 1995, one long decade after the Terminator's failed assassination mission in The Terminator (1984), a now-ten-year-old John Connor finds himself in foster care, after the imprisonment of his mother, Sarah, at a mental institution. To prevent John from changing the course of history and becoming the leader of the human Resistance Army, the self-aware computer system, Skynet, sends another cybernetic assassin; this time, a nearly indestructible, shape-shifting killer. Now, against the backdrop of an imminent nuclear Armageddon, two unstoppable cyborgs--the antiquated but lethal, T-800, and the far superior, liquid-metal model, T-1000--are after the same vulnerable target. Can Sarah and John avert the coming Judgment Day? -Nick Riganas.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Nearly 10 years have passed since Sarah Connor was targeted for termination by a cyborg from the future. Now her son, John, the future leader of the resistance, is the target for a newer, more deadly terminator. Once again, the resistance has managed to send a protector back to attempt to save John and his mother Sarah. -Colin Tinto .  </span>
    <span class="additional-information" > Skynet, the 21st century computer waging a losing war on humans sends a second terminator back in time to destroy the leader of the human resistance while he is still a boy. His mother is the only one who knows of the existence of the Terminators, human-like robots that exist only to kill and are nearly indestructible, and Sarah, the boy's mother is currently in a state mental hospital because of her 'delusions'. -John Vogel .  </span>
    <span class="additional-information" > It has been about 10 long years since a Terminator failed to kill Sarah Connor and her unborn son, John. Now, Skynet has sent back another Terminator. This one being more advanced than the last one. John Connor, who is now about ten years old, is the target. The future John sends back a replica of the Terminator that tried to kill him back in time to 1994. It's Terminator vs. Terminator. -Ricky Steck (rickysteck@sbcglobal.net).  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Terminator 2: Judgment Day"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fremont, California, United States
            </td>
                <td class="table__cell">
                37.5483, -121.9886
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San Fernando, California, United States
            </td>
                <td class="table__cell">
                34.2819, -118.439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hill County, Montana, United States
            </td>
                <td class="table__cell">
                48.63, -110.11
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sherman Oaks, California, United States
            </td>
                <td class="table__cell">
                34.1509, -118.449
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fremont, California, United States
            </td>
                <td class="table__cell">
                37.5483, -121.9886
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Lancaster, California, United States
            </td>
                <td class="table__cell">
                34.6981, -118.1366
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elysian Park, Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0743, -118.2398
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                9301 Tampa Avenue, Northridge, California 91324, United States
            </td>
                <td class="table__cell">
                34.23895, -118.55707
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Terminal Island Freeway, Long Beach, California 90810, United States
            </td>
                <td class="table__cell">
                33.8008, -118.22259
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San Jose, California, United States
            </td>
                <td class="table__cell">
                37.2751, -121.8261
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                46551 140th Street East, Lancaster, California 93535, United States
            </td>
                <td class="table__cell">
                34.73015, -117.88109
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                4th Street Grill, 1707 Fourth St, Santa Monica, California 90401, United States
            </td>
                <td class="table__cell">
                34.011695, -118.489295
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                6th Street, Downey, California 90241, United States
            </td>
                <td class="table__cell">
                33.94506, -118.12944
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                El Mirage Dry Lake, 20471 Mountain View Rd, Adelanto, California 92301, United States
            </td>
                <td class="table__cell">
                34.624683, -117.547873
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, United States
            </td>
                <td class="table__cell">
                33.7775, -118.1885
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Clarita, California, United States
            </td>
                <td class="table__cell">
                34.42, -118.54
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Fe, New Mexico, United States
            </td>
                <td class="table__cell">
                35.687, -105.9378
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                19828 Valerio Street, Canoga Park, California 91306, United States
            </td>
                <td class="table__cell">
                34.20461, -118.56521
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                14400 Roscoe Boulevard, Panorama City, California 91402, United States
            </td>
                <td class="table__cell">
                34.22126, -118.44756
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wilshire Blvd, Glendale, California 90048, United States
            </td>
                <td class="table__cell">
                34.14728, -118.2096
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                14224 Roscoe Blvd, Panorama City, California 91402, United States
            </td>
                <td class="table__cell">
                34.22152, -118.44336
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tujunga Car Wash, 5553 Tujunga Ave, North Hollywood, California 91601, United States
            </td>
                <td class="table__cell">
                34.171866, -118.379074
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                600 Mesquit Street, Los Angeles, California 90021, United States
            </td>
                <td class="table__cell">
                34.03838, -118.22943
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Northridge, California, United States
            </td>
                <td class="table__cell">
                34.2286, -118.5369
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Valencia, California, United States
            </td>
                <td class="table__cell">
                34.4436, -118.6095
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Arcadia, California, United States
            </td>
                <td class="table__cell">
                34.1362, -118.0401
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                301 Baldwin Avenue, Arcadia, California 91007, United States
            </td>
                <td class="table__cell">
                34.14724, -118.05049
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>
                <td class="table__cell">
                34.0544, -118.2439
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sherman Oaks Plaza, 15030 Ventura Blvd, Sherman Oaks, California 91403, United States
            </td>
                <td class="table__cell">
                34.152709, -118.460469
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sun Valley, California, United States
            </td>
                <td class="table__cell">
                34.2175, -118.3704
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Malibu, California, United States
            </td>
                <td class="table__cell">
                34.0058, -118.807
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Mecca Avenue / Reseda Boulevard, Tarzana, California 91356, United States
            </td>
                <td class="table__cell">
                34.16209, -118.53733
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.7775, -118.1885], [33.8008, -118.22259], [33.94506, -118.12944]], "data": [{"lat": 37.5483, "lon": -121.9886, "name": "Fremont, California, United States"}, {"lat": 34.2819, "lon": -118.439, "name": "San Fernando, California, United States"}, {"lat": 48.63, "lon": -110.11, "name": "Hill County, Montana, United States"}, {"lat": 34.1509, "lon": -118.449, "name": "Sherman Oaks, California, United States"}, {"lat": 37.5483, "lon": -121.9886, "name": "Fremont, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.6981, "lon": -118.1366, "name": "Lancaster, California, United States"}, {"lat": 34.0743, "lon": -118.2398, "name": "Elysian Park, Los Angeles, California, United States"}, {"lat": 34.23895, "lon": -118.55707, "name": "9301 Tampa Avenue, Northridge, California 91324, United States"}, {"lat": 33.8008, "lon": -118.22259, "name": "Terminal Island Freeway, Long Beach, California 90810, United States"}, {"lat": 37.2751, "lon": -121.8261, "name": "San Jose, California, United States"}, {"lat": 34.73015, "lon": -117.88109, "name": "46551 140th Street East, Lancaster, California 93535, United States"}, {"lat": 34.011695, "lon": -118.489295, "name": "4th Street Grill, 1707 Fourth St, Santa Monica, California 90401, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 33.94506, "lon": -118.12944, "name": "6th Street, Downey, California 90241, United States"}, {"lat": 34.624683, "lon": -117.547873, "name": "El Mirage Dry Lake, 20471 Mountain View Rd, Adelanto, California 92301, United States"}, {"lat": 33.7775, "lon": -118.1885, "name": "Long Beach, California, United States"}, {"lat": 34.42, "lon": -118.54, "name": "Santa Clarita, California, United States"}, {"lat": 35.687, "lon": -105.9378, "name": "Santa Fe, New Mexico, United States"}, {"lat": 34.20461, "lon": -118.56521, "name": "19828 Valerio Street, Canoga Park, California 91306, United States"}, {"lat": 34.22126, "lon": -118.44756, "name": "14400 Roscoe Boulevard, Panorama City, California 91402, United States"}, {"lat": 34.14728, "lon": -118.2096, "name": "Wilshire Blvd, Glendale, California 90048, United States"}, {"lat": 34.22152, "lon": -118.44336, "name": "14224 Roscoe Blvd, Panorama City, California 91402, United States"}, {"lat": 34.171866, "lon": -118.379074, "name": "Tujunga Car Wash, 5553 Tujunga Ave, North Hollywood, California 91601, United States"}, {"lat": 34.03838, "lon": -118.22943, "name": "600 Mesquit Street, Los Angeles, California 90021, United States"}, {"lat": 34.2286, "lon": -118.5369, "name": "Northridge, California, United States"}, {"lat": 34.4436, "lon": -118.6095, "name": "Valencia, California, United States"}, {"lat": 34.1362, "lon": -118.0401, "name": "Arcadia, California, United States"}, {"lat": 34.14724, "lon": -118.05049, "name": "301 Baldwin Avenue, Arcadia, California 91007, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.152709, "lon": -118.460469, "name": "Sherman Oaks Plaza, 15030 Ventura Blvd, Sherman Oaks, California 91403, United States"}, {"lat": 34.2175, "lon": -118.3704, "name": "Sun Valley, California, United States"}, {"lat": 34.0058, "lon": -118.807, "name": "Malibu, California, United States"}, {"lat": 34.16209, "lon": -118.53733, "name": "Mecca Avenue / Reseda Boulevard, Tarzana, California 91356, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>