<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Terminator 2: Judgment Day</h3>
                        <p class="card-text">
                          A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten-year-old son John from a more advanced and powerful cyborg.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Terminator 2: Judgment Day"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bayside Parkway & Gateway Blvd., Fremont, California, USA 
            </td>   
                <td class="table__cell">
                37.5483, -121.9886
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bridge, Intersection of Hayvenhurst & Plummer, San Fernando Valley, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.2819, -118.439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kaiser Steel Mill, Fontana, California, USA
            </td>   
                <td class="table__cell">
                48.63, -110.11
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sherman Oaks Galleria   15301 Ventura Blvd., Sherman Oaks, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.1509, -118.449
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fremont, California, USA
            </td>   
                <td class="table__cell">
                37.5483, -121.9886
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lake View Terrace Branch Library   12002 Osborne Street, Lake View Terrace, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lake View Medical Center   11600 Eldridge Avenue, Lake View Terrace, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lancaster, California, USA
            </td>   
                <td class="table__cell">
                34.6981, -118.1366
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elysian Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0743, -118.2398
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Northridge Fashion Mall   9301 Tampa Avenue, Northridge, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.23895, -118.55707
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Terminal Island Freeway, Wilmington, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.8008, -118.22259
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Jose, California, USA
            </td>   
                <td class="table__cell">
                37.2751, -121.8261
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                46551 140th St East, Lancaster, California, USA 
            </td>   
                <td class="table__cell">
                34.73015, -117.88109
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Monica Place   4th Street & Broadway, Santa Monica, California, USA 
            </td>   
                <td class="table__cell">
                34.011695, -118.489295
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lake View Terrace Liquor Store  11844 Foothill Boulevard, Lake View Terrace, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                6th Street Viaduct, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.94506, -118.12944
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                El Mirage Dry Lake, California, USA
            </td>   
                <td class="table__cell">
                34.624683, -117.547873
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Long Beach, California, USA
            </td>   
                <td class="table__cell">
                33.7775, -118.1885
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Clarita, California, USA
            </td>   
                <td class="table__cell">
                34.42, -118.54
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Santa Fe, New Mexico, USA
            </td>   
                <td class="table__cell">
                35.687, -105.9378
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                19828 Valerio Street, Winnetka, California, USA 
            </td>   
                <td class="table__cell">
                34.20461, -118.56521
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                14400 Roscoe Blvd Van Nuys, California, USA 
            </td>   
                <td class="table__cell">
                34.22126, -118.44756
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Petersen Automotive Museum   6060 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.083057, -118.383393
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                14224 Roscoe Boulevard @ Wakefield Avenue   Van Nuys, California, USA 
            </td>   
                <td class="table__cell">
                34.22152, -118.44336
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tujunga Wash, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.171866, -118.379074
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                600 Mesquit Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.03838, -118.22943
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chicago, Illinois, USA 
            </td>   
                <td class="table__cell">
                41.8756, -87.6244
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Northridge, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                33.99547, -118.353795
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Valencia Studios   26030 Avenue Hall, Valencia, California, USA
            </td>   
                <td class="table__cell">
                34.4436, -118.6095
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Arcadia, California, USA
            </td>   
                <td class="table__cell">
                34.1362, -118.0401
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles County Arboretum & Botanic Garden   301 N. Baldwin Avenue, Arcadia, California, USA
            </td>   
                <td class="table__cell">
                34.14445, -118.05243
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sherman Oaks, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.152709, -118.460469
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sun Valley, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.2175, -118.3704
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Malibu, California, USA 
            </td>   
                <td class="table__cell">
                34.0058, -118.807
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Reseda, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.2011, -118.5365
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>