<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

    <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          
          <nav aria-label="Movie Locations Top 250">
           {% for value in set %} 
            <ul class="pagination justify-content-center">
              {% if loop.first and value.previous %}
              <li class="page-item">
                <a class="page-link" href="/movie-locations/{{value.previous}}" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              {% endif %}
              {% for number in value.range %}
              {% if value.current == number %}
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/{{value.current}}">{{value.current}}</a>
              </li>
              {% endif %}
              {% if value.current != number %}
              <li class="page-item">
                <a class="page-link" href="/movie-locations/{{number}}">{{number}}</a>
              </li>
              {% endif %}
              {% if loop.last and value.next %}
              <li class="page-item">
                <a class="page-link" href="/movie-locations/{{value.next}}" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
         {% endfor %}   
          </nav>
          
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
          {% for f in films -%}
          <div class="col-sm-4 d-flex align-items-stretch">
            <div id="{{ f.id }}" class="card">
              <img src="{{ f.image }}" class="card-img-top" alt="{{ f.title }}" />
              <div class="card-body">
                <a href="../details/{{ f.slug }}.html" class="stretched-link">
                  <p class="card-text text-center">
                    {{ f.title }}
                  </p>
                </a>
              </div>
            </div>
          </div>
          {% endfor -%}
        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
</body>

</html>