<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("../../partials/header.ejs") %>
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include ("../../partials/nav.ejs") %>
 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                {% for f in film_details -%}
              <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">{{f.title}}</h3>
                        <p class="card-text">
                          {{f.plot[0]}}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="{{f.image}}"
                                      class="img-fluid rounded-start"
                                      alt="{{f.title}}"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor -%}
        
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          {% for location in locations -%}
          <tr class="table__row">

            <td class="table__cell">{{ location }}</td>
            
            
          </tr> 
          {% endfor -%}
        </table>
          </div>
        </div>
    
       
    </main>


      
        <%- include ("../../partials/footer.ejs") %>
  </body>
</html>