<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Once Upon a Time in the West</h3>
                        <p class="card-text">
                          A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZGI5MjBmYzYtMzJhZi00NGI1LTk3MzItYjBjMzcxM2U3MDdiXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Once Upon a Time in the West"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Monument Valley, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.9867</span>, <span class="lon">-110.1911</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.04989</span>, <span class="lon">-2.39138</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Highway 163, Monument Valley, Utah, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.2548171647</span>, <span class="lon">-111.602499934826</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                La Calahorra, Granada, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.2225409475203</span>, <span class="lon">-3.64270536340856</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Estación de Calahorra, Guadix, Granada, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.29955</span>, <span class="lon">-3.13712</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Moab, Utah, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.47621</span>, <span class="lon">-111.88778</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Teec Nos Pos, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.9211</span>, <span class="lon">-109.0857</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kayenta, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.718</span>, <span class="lon">-110.2606</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cinecittà Studios, Cinecittà, Rome, Lazio, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.852854</span>, <span class="lon">12.575212</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bavispe, Sonora, Mexico
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.48001</span>, <span class="lon">-108.9405</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Red Mesa, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.96</span>, <span class="lon">-109.4</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Poblado Western 'Sergio Leone', Tabernas, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.04989</span>, <span class="lon">-2.39138</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Desierto de Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.090023</span>, <span class="lon">-2.379403</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mexican Water, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.9669</span>, <span class="lon">-109.6379</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08918</span>, <span class="lon">-118.38055</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>