<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Green Mile</h3>
                        <p class="card-text">
                          The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift. Death Row guards at a penitentiary, in the 1930's, have a moral dilemma with their job when they discover one of their prisoners, a convicted murderer, has a special gift.::Guy Johns Based on Stephen King's 1996 novel of the same name. Stars Tom Hanks as a death row corrections officer during the U.S. Great Depression who witnesses supernatural events that occur after an enigmatic inmate (Michael Clarke Duncan) is brought to his facility.::MR_Heraclius It's just another normal day on the Green Mile for prison guard Paul Edgecomb. That is until huge John Coffey is sent there. Unlike the hulking brute that Coffey looks like, he is in fact kind at heart. Whilst watching over Coffey, Edgecomb learns that there is more to Coffey than can be seen.::FilmFanUk
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTUxMzQyNjA5MF5BMl5BanBnXkFtZTYwOTU2NTY3.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Green Mile"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tennessee State University, 3500 John A Merritt Blvd, Nashville, Tennessee 37209, United States
            </td>   
                <td class="table__cell">
                36.1660335, -86.828839
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shelbyville, Tennessee, United States
            </td>   
                <td class="table__cell">
                35.4834, -86.4603
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blowing Rock, North Carolina, United States
            </td>   
                <td class="table__cell">
                36.135, -81.6778
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blue Ridge Mountains, Boone, North Carolina 28607, United States
            </td>   
                <td class="table__cell">
                36.195445, -81.656136
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blue Ridge, Hendersonville, North Carolina, United States
            </td>   
                <td class="table__cell">
                35.3504, -82.3629
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Caney Fork River, Lancaster, TN 38569, Lancaster, Tennessee 38569, United States
            </td>   
                <td class="table__cell">
                36.138876, -85.813745
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blowing Rock, North Carolina, United States
            </td>   
                <td class="table__cell">
                36.135, -81.6778
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                College Grove, Tennessee, United States
            </td>   
                <td class="table__cell">
                35.7884, -86.6744
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Columbia, Tennessee, United States
            </td>   
                <td class="table__cell">
                35.6151, -87.0353
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lewisburg, Tennessee, United States
            </td>   
                <td class="table__cell">
                35.4492, -86.7889
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sunset Boulevard Heights, Los Angeles, California, United States
            </td>   
                <td class="table__cell">
                34.078145, -118.254504
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                North Carolina, United States
            </td>   
                <td class="table__cell">
                35.5568849207, -79.3896838690365
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nashville, Tennessee, United States
            </td>   
                <td class="table__cell">
                36.1622, -86.7744
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nolensville, Tennessee, United States
            </td>   
                <td class="table__cell">
                35.9523, -86.6694
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                4000 Warner Boulevard, Burbank, California 91522, United States
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blowing Rock, North Carolina, United States
            </td>   
                <td class="table__cell">
                36.135, -81.6778
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tennessee, United States
            </td>   
                <td class="table__cell">
                35.9885949444, -85.9823352140893
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                7200 Santa Monica Boulevard, West Hollywood, California 90025, United States
            </td>   
                <td class="table__cell">
                34.090713, -118.346243
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[34.078145, -118.254504], [34.090713, -118.346243], [34.150955, -118.339232]], "data": [{"lat": 36.1660335, "lon": -86.828839, "name": "Tennessee State University, 3500 John A Merritt Blvd, Nashville, Tennessee 37209, United States"}, {"lat": 35.4834, "lon": -86.4603, "name": "Shelbyville, Tennessee, United States"}, {"lat": 36.135, "lon": -81.6778, "name": "Blowing Rock, North Carolina, United States"}, {"lat": 36.195445, "lon": -81.656136, "name": "Blue Ridge Mountains, Boone, North Carolina 28607, United States"}, {"lat": 35.3504, "lon": -82.3629, "name": "Blue Ridge, Hendersonville, North Carolina, United States"}, {"lat": 36.138876, "lon": -85.813745, "name": "Caney Fork River, Lancaster, TN 38569, Lancaster, Tennessee 38569, United States"}, {"lat": 36.135, "lon": -81.6778, "name": "Blowing Rock, North Carolina, United States"}, {"lat": 35.7884, "lon": -86.6744, "name": "College Grove, Tennessee, United States"}, {"lat": 35.6151, "lon": -87.0353, "name": "Columbia, Tennessee, United States"}, {"lat": 35.4492, "lon": -86.7889, "name": "Lewisburg, Tennessee, United States"}, {"lat": 34.078145, "lon": -118.254504, "name": "Sunset Boulevard Heights, Los Angeles, California, United States"}, {"lat": 35.5568849207, "lon": -79.3896838690365, "name": "North Carolina, United States"}, {"lat": 36.1622, "lon": -86.7744, "name": "Nashville, Tennessee, United States"}, {"lat": 35.9523, "lon": -86.6694, "name": "Nolensville, Tennessee, United States"}, {"lat": 34.150955, "lon": -118.339232, "name": "4000 Warner Boulevard, Burbank, California 91522, United States"}, {"lat": 36.135, "lon": -81.6778, "name": "Blowing Rock, North Carolina, United States"}, {"lat": 35.9885949444, "lon": -85.9823352140893, "name": "Tennessee, United States"}, {"lat": 34.090713, "lon": -118.346243, "name": "7200 Santa Monica Boulevard, West Hollywood, California 90025, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>