<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Green Mile</h3>
                        <p class="card-text">
                          The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTUxMzQyNjA5MF5BMl5BanBnXkFtZTYwOTU2NTY3.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Green Mile"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Tennessee State Penitentiary, Nashville, Tennessee, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.1660335</span>, <span class="lon">-86.828839</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shelbyville, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.4834</span>, <span class="lon">-86.4603</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blowing Rock, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.135</span>, <span class="lon">-81.6778</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blue Ridge Mountains, North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.195445</span>, <span class="lon">-81.656136</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blue Ridge Parkway, Blue Ridge Mountains, North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.3504</span>, <span class="lon">-82.3629</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Caney Fork River, Buffalo Valley, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.138876</span>, <span class="lon">-85.813745</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Flat Top Manor, Moses Cone National Park, Blowing Rock, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.135</span>, <span class="lon">-81.6778</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                College Grove, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.7884</span>, <span class="lon">-86.6744</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Columbia, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.6151</span>, <span class="lon">-87.0353</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lewisburg, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.4492</span>, <span class="lon">-86.7889</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Studios   5800 Sunset Blvd., Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.078145</span>, <span class="lon">-118.254504</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.5568849207</span>, <span class="lon">-79.3896838690365</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Nashville, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.1622</span>, <span class="lon">-86.7744</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Nolensville, Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.9523</span>, <span class="lon">-86.6694</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150955</span>, <span class="lon">-118.339232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Moses Cone National Park, Blowing Rock, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.135</span>, <span class="lon">-81.6778</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tennessee, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.9885949444</span>, <span class="lon">-85.9823352140893</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Samuel Goldwyn Studios   7200 Santa Monica Boulevard, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.090713</span>, <span class="lon">-118.346243</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>