<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">All About Eve</h3>
                        <p class="card-text">
                          A seemingly timid but secretly ruthless ingénue insinuates herself into the lives of an aging Broadway star and her circle of theater friends.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTY2MTAzODI5NV5BMl5BanBnXkFtZTgwMjM4NzQ0MjE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="All About Eve"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Curran Theatre, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.7862785, -122.408933
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                21 Club   21 West 52nd Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.76037, -73.97741
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                John Golden Theater   252 West 45th Street, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.75885, -73.98792
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shubert Theater   247 College Street, New Haven, Connecticut, USA
            </td>   
                <td class="table__cell">
                41.30639, -72.92924
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 11, 20th Century Fox Studios   10201 Pico Blvd., Century City, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                242 West 45th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.75868, -73.987685
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Taft Hotel,New Haven, Connecticut, USA
            </td>   
                <td class="table__cell">
                41.268729, -72.975716
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>