<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Die Hard</h3>
                        <p class="card-text">
                          An NYPD officer tries to save his wife and several others taken hostage by German terrorists during a Christmas party at the Nakatomi Plaza in Los Angeles. NYPD cop John McClane goes on a Christmas vacation to visit his wife Holly in Los Angeles where she works for the Nakatomi Corporation. While they are at the Nakatomi headquarters for a Christmas party, a group of robbers led by Hans Gruber take control of the building and hold everyone hostage, with the exception of John, while they plan to perform a lucrative heist. Unable to escape and with no immediate police response, John is forced to take matters into his own hands.::Sam New York City policeman John McClane (Bruce Willis) is visiting his estranged wife (Bonnie Bedelia) and his daughter and son Christmas Eve. He joins her at a holiday party in the headquarters of the Japanese-owned business she works for. But the festivities are interrupted by a group of terrorists who take over the exclusive high-rise, and everyone in it. Very soon McClane realizes that there's no one to save the hostages -- but him.::ahmetkozan John McClain, a new York City cop flys to LA to visit his wife at a Christmas party. But when twelve terrorist attack the building at the same night, McCain is the only hope of saving everybody. With nothing but a handgun and his wits he is forced to take on Hans Gruber and his fellow terrorists.::daniel lacey Tough New York cop John McClane finds himself in a tight situation when an office building in Los Angeles is taken over by terrorists. Apart from himself, everyone else in the building - including his wife - is held at gunpoint while their captors spell out their demands. The F.B.I. are called in to survey the situation, but John McClane has other plans for the terrorists...::Graeme Roy <gsr@cbmamiga.demon.co.uk> New York cop John McClane flies to Los Angeles on Christmas eve to spend the holidays with his family. He arrives at the Nakatomi corp. building for his wife's office party. International terrorists take over the building and hold every one as hostage to steal $600 million of bonds from the vaults of the building. Now its up to McCLane to face the terrorists and save his wife and the other hostages.::Sami Al-Taher <staher2000@yahoo.com> In the city of Los Angeles, a Christmas party is held on the 30th floor of the Nakatomi Plaza Hotel. While the party is going on, downstairs, a band of German terrorists arrive and take the entire building hostage including its employees and attempt a huge robbery. But the only one who eludes capture is New York City Cop John McClane who launches a one man war in an attempt to stop the terrorists and save all hostages including his wife Holly.::Shaun Ouimette {xtreemshaun589@hotmail.com} John McClane is a cop from New York City who is on his way to Los Angeles to see his kids and his wife Holly, who moved to LA because of a job at the Nakatomi Corporation. When he arrives at Nakatomi Plaza, he meets Holly's boss Joe Takagi and her co-worker Harry Ellis. He and Holly go into a private bathroom and get into an argument. When Holly leaves to give a speech, thirteen armed terrorists lead by Hans Gruber seize control of the building and take the occupants of the 30th floor, who are the only ones left in the building, hostage. Luckily, they missed John and he has to figure out how to save the hostages before the terrorists get their way.::Ridley Lavine
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjRlNDUxZjAtOGQ4OC00OTNlLTgxNmQtYTBmMDgwZmNmNjkxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Die Hard"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                2121 Avenue of the Stars, Los Angeles, California 90067, United States
            </td>   
                <td class="table__cell">
                34.0548, -118.41369
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                2121 Avenue of the Stars, Los Angeles, California 90067, United States
            </td>   
                <td class="table__cell">
                34.0548, -118.41369
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1 World Way, Los Angeles, California 90045, United States
            </td>   
                <td class="table__cell">
                33.94469, -118.39817
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10201 West Pico Boulevard, Los Angeles, California 90064, United States
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10350 West Olympic Boulevard, Los Angeles, California 90064, United States
            </td>   
                <td class="table__cell">
                34.05134, -118.41839
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[33.94469, -118.39817], [34.04994, -118.41129], [34.05134, -118.41839]], "data": [{"lat": 34.0548, "lon": -118.41369, "name": "2121 Avenue of the Stars, Los Angeles, California 90067, United States"}, {"lat": 34.0548, "lon": -118.41369, "name": "2121 Avenue of the Stars, Los Angeles, California 90067, United States"}, {"lat": 33.94469, "lon": -118.39817, "name": "1 World Way, Los Angeles, California 90045, United States"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 34.05134, "lon": -118.41839, "name": "10350 West Olympic Boulevard, Los Angeles, California 90064, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>