<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Departed</h3>
                        <p class="card-text">
                          An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTI1MTY2OTIxNV5BMl5BanBnXkFtZTYwNjQ4NjY3.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Departed"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                SUNY Maritime College, Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.8074035, -73.796796
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Charlestown, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.392176, -71.069825
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chinatown, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3499, -71.0644
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lynn, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.4668, -70.9495
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                White Plains, New York, USA
            </td>   
                <td class="table__cell">
                41.034, -73.7629
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fore River Ship Yard, Quincy, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                42.2529, -71.0023
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn Heights, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.6977, -73.9943
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gerritsen Beach, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.5929, -73.9257
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Quincy, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.2529, -71.0023
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Erich Lindemann Mental Health Center   25 Staniford Street, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.36213, -71.0635
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Greenpoint, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.7237, -73.951
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3605, -71.0596
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bronx, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.8501, -73.8662
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.6501, -73.9496
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sunset Park, Brooklyn, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.6455, -74.0124
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                12 Farnsworth Street, Boston, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                42.35138, -71.048805
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Raoul's   180 Prince Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.761555, -73.832934
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dorchester, Boston, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                42.300105, -71.014535
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3204700602, -71.9603257607071
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, USA
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>