<div class="modal py-5 fade" id="modalSignOut" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">


  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">
      <div class="modal-header border-bottom-0">

        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body py-2 mx-4 mt-3 mb-5">

        <h5 class="modal-title text-center">Sign Out Successful!</h5>
      </div>

    </div>
  </div>



</div>
   <div id="filterCommentSuccess" class="modal fade" tabindex="-1">
          <div
            class="modal-dialog modal-confirm success modal-dialog-centered my-0 mx-auto"
          >
            <div class="modal-content">
              <div class="modal-header">
                <div class="icon-box">
                  <i class="fas fa-check"></i>
                </div>
                <h4 class="modal-title w-100">Awesome!</h4>
              </div>
              <div class="modal-body">
                <p class="text-center">Your Comment has been approved</p>
              </div>
              <div class="modal-footer justify-content-center">
                <button
                  id="modal-close-btn"
                  type="button"
                  class="btn btn-secondary modal-close-btn"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
   <div
          class="modal fade"
          id="filterCommentFail"
          tabindex="-1"
          aria-labelledby="filterCommentFailLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-confirm modal-dialog-centered failure">
            <div class="modal-content">
              <div class="modal-header">
                <div class="icon-box">
                  <i class="fas fa-times"></i>
                </div>
                <h4 class="modal-title w-100">Oops!</h4>
              </div>
              <div class="modal-body">
                <p class="text-center">
                  The content of your message was flagged inappropriate.<br />Please
                  try again.
                </p>
              </div>
              <div class="modal-footer justify-content-center">
                <div class="modal-footer justify-content-center">
                  <button
                    type="button"
                    class="btn btn-secondary modal-close-btn"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
