<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Rebecca</h3>
          <p class="card-text mb-0">


  <span > A self-conscious woman juggles adjusting to her new role as an aristocrat's wife and avoiding being intimidated by his first wife's spectral presence.  </span>
                          <span > A shy lady's companion, staying in Monte Carlo with her stuffy employer, meets the wealthy Maxim de Winter (Sir Laurence Olivier). She and Max fall in love, marry, and return to Manderley, his large country estate in Cornwall. Max is still troubled by the death of his first wife, Rebecca, in a boating accident the year before. The second Mrs. de Winter (Joan Fontaine) clashes with the housekeeper, Mrs. Danvers (Dame Judith Anderson), and discovers that Rebecca still has a strange hold on everyone at Manderley. -Col Needham .  </span>
                          <span > On vacation in Monte Carlo, wealthy widower Maxim de Winter (Sir Laurence Olivier) meets a young woman who is working as a lady's companion to Mrs. Van Hopper (Florence Bates). They spend a good deal of time together and it leads to love and marriage. The second Mrs. de Winter (Joan Fontaine) is somewhat overwhelmed however when, after their honeymoon, they return to his vast estate, Manderley. She not only has to deal with a huge house and numerous servants, but also with the dour and domineering housekeeper, Mrs. Danvers (Dame Judith Anderson). She soon feels inferior and a disappointment to everyone, particularly her husband Max and Mrs. Danvers - who still adores her dead mistress. Not all is as it seems however, particularly after a striking discovery is made in the sea near Manderley. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A young woman is in Monte Carlo, working as a ladies' companion, when she meets the recently-widowered, and very wealthy, Maxim de Winter (Sir Laurence Olivier). They fall in love and get married soon thereafter. The de Winters take up residence in Maxim's family estate, Mandalay. Mrs. de Winter (Joan Fontaine) finds it hard to fit in. The presence of Maxim's deceased wife, Rebecca, seems to permeate through the house and Mrs. de Winter can't shake the feeling that she is constantly being compared to her, and that she is an interloper. Mrs. Danvers (Dame Judith Anderson), Rebecca's personal maid, also takes care to make things as uncomfortable as possible for the new Mrs. de Winter. Mrs. de Winter has the constant fear that memories of Rebecca will drive her and Maxim apart. Over time, she grows to know more and more about Rebecca. -grantss.  </span>
    <span class="additional-information" > Maxim de Winter (Sir Laurence Olivier), still troubled by the death of his first wife Rebecca, falls in love with a shy ladies' companion. They get married, but the second Mrs. de Winter (Joan Fontaine) discovers that Rebecca still has a strong hold on everyone in the house, particularly on Mrs. Danvers (Dame Judith Anderson), the housekeeper, who begins driving the young wife to madness. -Claudio Sandrini .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTcxYWExOTMtMWFmYy00ZjgzLWI0YjktNWEzYzJkZTg0NDdmL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rebecca"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Big Sur, California, United States
            </td>
                <td class="table__cell">
                36.2702, -121.8075
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Palos Verdes, Rancho Palos Verdes, California 90275, United States
            </td>
                <td class="table__cell">
                33.758517, -118.305003
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                9336 Washington Boulevard, Culver City, California 90232, United States
            </td>
                <td class="table__cell">
                34.02448, -118.39238
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": null, "data": [{"lat": 36.2702, "lon": -121.8075, "name": "Big Sur, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 33.758517, "lon": -118.305003, "name": "Palos Verdes, Rancho Palos Verdes, California 90275, United States"}, {"lat": 34.02448, "lon": -118.39238, "name": "9336 Washington Boulevard, Culver City, California 90232, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>