<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</h3>
                        <p class="card-text">
                          An insane American general orders a bombing attack on the Soviet Union, triggering a path to nuclear holocaust that a war room full of politicians and generals frantically tries to stop.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZWI3ZTMxNjctMjdlNS00NmUwLWFiM2YtZDUyY2I3N2MxYTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Banff National Park, Alberta, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.177996</span>, <span class="lon">-115.570995</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Québec, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.82596</span>, <span class="lon">-71.235223</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rocky Mountains, Colorado, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 39.735612</span>, <span class="lon">-105.423783</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Northwest Territories, Canada 
            </td>   
                <td class="table__cell">
                <span class="lat"> 63.6963550874</span>, <span class="lon">-118.540250478607</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Okaloosa County, Florida, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.40967</span>, <span class="lon">-86.816359</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Heathrow Airport, The Compass Centre, Nelson Road, Hounslow, Greater London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.47271</span>, <span class="lon">-0.428711</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                London, Greater London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.38145972</span>, <span class="lon">-0.676181762467007</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hounslow, Greater London, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.4668</span>, <span class="lon">-0.3507</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>