<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Big Lebowski</h3>
          <p class="card-text mb-0">


  <span > Ultimate L.A. slacker Jeff "The Dude" Lebowski, mistaken for a millionaire of the same name, seeks restitution for a rug ruined by debt collectors, enlisting his bowling buddies for help while trying to find the millionaire's missing wife.  </span>
                          <span > When "the dude" Lebowski is mistaken for a millionaire Lebowski, two thugs urinate on his rug to coerce him into paying a debt he knows nothing about. While attempting to gain recompense for the ruined rug from his wealthy counterpart, he accepts a one-time job with high pay-off. He enlists the help of his bowling buddy, Walter, a gun-toting Jewish-convert with anger issues. Deception leads to more trouble, and it soon seems that everyone from porn empire tycoons to nihilists want something from The Dude. -ahmetkozan.  </span>
                          <span > There are 2 men named Jeffrey Lebowski. One's a lazy, pot smoking, White Russian-drinking, hippie who goes by the nickname, 'the dude'. The other's a self-made multimillionaire, war veteran, who lives in a mansion with a full-time assistant, due to his being handicapped. Their paths cross when the millionaire's trophy wife owes money to a known pornographer, and she's held in lieu of getting his money repaid. The thugs hired by this pornographer initially confront the dude because they were unaware he has the same name. Wanting payback for his now-destroyed rug, the dude seeks out the millionaire Lebowski. What follows takes the dude and his bowling buddies Walter and Donnie on a mission full of intrigue, kidnapping, pornography, nihilists, White Russians, and more White Russians. -halo1k.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Jeffrey "the dude" Lebowski's the ultimate Los Angeles slacker. One day, his house is broken into, and his rug is urinated on by 2 angry hired heavies who've mistaken him for another Jeffrey Lebowski, that one's a Los Angeles millionaire, whose wife owes some people big money. The dude becomes entangled in his namesake's problem when he goes to visit the other Lebowski in order to get some recompense for his soiled rug. Instead, he's offered a job for a lot of money; act as liaison between Lebowski and the captors of his now "kidnapped" wife. -Alex Barron .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTQ0NjUzMDMyOF5BMl5BanBnXkFtZTgwODA1OTU0MDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Big Lebowski"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Trader Joe's, 613 Mission St, South Pasadena, California 91030, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.115355</span>, <span class="lon">-118.162968</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5227 Santa Monica Boulevard, Los Angeles, California 90029, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09094</span>, <span class="lon">-118.30312</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">606 Venezia Avenue, Venice, California 90291, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.98984</span>, <span class="lon">-118.45936</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Wilshire, Santa Monica, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0268</span>, <span class="lon">-118.5017</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hollywood Hills, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1325</span>, <span class="lon">-118.3513</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Artists and Fleas, Venice, California 90291, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.991325</span>, <span class="lon">-118.470942</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Pedro Street, Carson, California 90746, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.88105</span>, <span class="lon">-118.26406</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">10231 Charing Cross Road, Los Angeles, California 90024, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.07799</span>, <span class="lon">-118.42968</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1824 Stearns Drive, Los Angeles, California 90035, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.04325</span>, <span class="lon">-118.37357</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">6521 Sepulveda Boulevard, Van Nuys, California 91343, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.189722</span>, <span class="lon">-118.46643</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">6333 La Mirada Ave, Los Angeles, California 90038, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09332</span>, <span class="lon">-118.32777</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Point Dume, 7401 S Birdview Ave, Malibu, California 90265, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.001583124999996</span>, <span class="lon">-118.806688125</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">6757 Santa Monica Boulevard, Los Angeles, California 90038, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09085</span>, <span class="lon">-118.33771</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3223 Donald Douglas Loop South, Santa Monica, California 90405, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.01636</span>, <span class="lon">-118.44889</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Beverly Hills, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0736</span>, <span class="lon">-118.4004</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Culver City, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0211</span>, <span class="lon">-118.3965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hvar Public Theater, Hvar, Split-Dalmatia 21450, Croatia </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">43.172427</span>, <span class="lon">16.441815</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Culver City, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0211</span>, <span class="lon">-118.3965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">North Hollywood, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1729</span>, <span class="lon">-118.374</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">606 Venezia Avenue, Venice, California 90291, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.98984</span>, <span class="lon">-118.45936</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">812 North Kenmore Avenue, Los Angeles, California 90029, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0863</span>, <span class="lon">-118.29688</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1735 Vine Street, Los Angeles, California 90028, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.102715</span>, <span class="lon">-118.326965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Pedro Street, Carson, California 90746, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.88105</span>, <span class="lon">-118.26406</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Monica, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0196</span>, <span class="lon">-118.487</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Simi Valley, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2694</span>, <span class="lon">-118.7815</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Hollywood, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.09</span>, <span class="lon">-118.3617</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Fairfax Avenue, Culver City, California 90016, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.03187</span>, <span class="lon">-118.3714196875</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hollywood Hills, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1325</span>, <span class="lon">-118.3513</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Beverly Hills, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0736</span>, <span class="lon">-118.4004</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Downtown, Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.05</span>, <span class="lon">-118.23</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.095884</span>, <span class="lon">-118.370965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.88105, -118.26406], [33.88105, -118.26406], [33.98984, -118.45936]], "data": [{"lat": 34.115355, "lon": -118.162968, "name": "Trader Joe\u0027s, 613 Mission St, South Pasadena, California 91030, United States"}, {"lat": 34.09094, "lon": -118.30312, "name": "5227 Santa Monica Boulevard, Los Angeles, California 90029, United States"}, {"lat": 33.98984, "lon": -118.45936, "name": "606 Venezia Avenue, Venice, California 90291, United States"}, {"lat": 34.0268, "lon": -118.5017, "name": "Wilshire, Santa Monica, California, United States"}, {"lat": 34.1325, "lon": -118.3513, "name": "Hollywood Hills, Los Angeles, California, United States"}, {"lat": 33.991325, "lon": -118.470942, "name": "Artists and Fleas, Venice, California 90291, United States"}, {"lat": 33.88105, "lon": -118.26406, "name": "San Pedro Street, Carson, California 90746, United States"}, {"lat": 34.07799, "lon": -118.42968, "name": "10231 Charing Cross Road, Los Angeles, California 90024, United States"}, {"lat": 34.04325, "lon": -118.37357, "name": "1824 Stearns Drive, Los Angeles, California 90035, United States"}, {"lat": 34.189722, "lon": -118.46643, "name": "6521 Sepulveda Boulevard, Van Nuys, California 91343, United States"}, {"lat": 34.09332, "lon": -118.32777, "name": "6333 La Mirada Ave, Los Angeles, California 90038, United States"}, {"lat": 34.001583124999996, "lon": -118.806688125, "name": "Point Dume, 7401 S Birdview Ave, Malibu, California 90265, United States"}, {"lat": 34.09085, "lon": -118.33771, "name": "6757 Santa Monica Boulevard, Los Angeles, California 90038, United States"}, {"lat": 34.01636, "lon": -118.44889, "name": "3223 Donald Douglas Loop South, Santa Monica, California 90405, United States"}, {"lat": 34.0736, "lon": -118.4004, "name": "Beverly Hills, California, United States"}, {"lat": 34.0211, "lon": -118.3965, "name": "Culver City, California, United States"}, {"lat": 43.172427, "lon": 16.441815, "name": "Hvar Public Theater, Hvar, Split-Dalmatia 21450, Croatia"}, {"lat": 34.0211, "lon": -118.3965, "name": "Culver City, California, United States"}, {"lat": 34.1729, "lon": -118.374, "name": "North Hollywood, California, United States"}, {"lat": 33.98984, "lon": -118.45936, "name": "606 Venezia Avenue, Venice, California 90291, United States"}, {"lat": 34.0863, "lon": -118.29688, "name": "812 North Kenmore Avenue, Los Angeles, California 90029, United States"}, {"lat": 34.102715, "lon": -118.326965, "name": "1735 Vine Street, Los Angeles, California 90028, United States"}, {"lat": 33.88105, "lon": -118.26406, "name": "San Pedro Street, Carson, California 90746, United States"}, {"lat": 34.0196, "lon": -118.487, "name": "Santa Monica, California, United States"}, {"lat": 34.2694, "lon": -118.7815, "name": "Simi Valley, California, United States"}, {"lat": 34.09, "lon": -118.3617, "name": "West Hollywood, California, United States"}, {"lat": 34.03187, "lon": -118.3714196875, "name": "Fairfax Avenue, Culver City, California 90016, United States"}, {"lat": 34.1325, "lon": -118.3513, "name": "Hollywood Hills, Los Angeles, California, United States"}, {"lat": 34.0736, "lon": -118.4004, "name": "Beverly Hills, California, United States"}, {"lat": 34.05, "lon": -118.23, "name": "Downtown, Los Angeles, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 34.095884, "lon": -118.370965, "name": "Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>