<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Grave of the Fireflies</h3>
                        <p class="card-text">
                          A young boy and his little sister struggle to survive in Japan during World War II. The story of Seita and Setsuko, two young Japanese siblings, living in the declining days of World War II. When an American firebombing separates the two children from their parents, the two siblings must rely completely on one another while they struggle to fight for their survival.::Kyle Perez Japan, World War 2. Teenage boy Seita and his young sister Setsuko are left homeless and effectively orphaned when their city is firebombed by US bombers. They end up living with an aunt. Initially things go well and life seems almost normal again. However, their relationship with their aunt deteriorates and Seita and Setsuko decide to leave and fend for themselves. They find a place and things seem to be going well. However, over time food gets scarcer and life becomes a constant struggle for survival.::grantss Separated from their mother during the strategic bombing of Kobe in World War II, fourteen-year-old Seita and his four-year-old sister, Setsuko, find themselves wandering in the carcass of their barren, scorched city. With their father serving in the Japanese Imperial Navy, and their distant aunt concerned with the survival of her family, the siblings end up scavenging for food in a battle-scarred country where shelter, and above all, resources are scarce. But life must go on. Why do fireflies have to die so soon?::Nick Riganas Setsuko (aged 4) and Seita (aged 14) are brother and sister living in wartime Japan. After their mother is killed in an air raid they find a temporary home with relatives. Having quarreled with their aunt they leave the city and make their home in an abandoned shelter. While their soldier father's destiny is unknown, the two must depend on each other to somehow keep a roof over their heads and food in their stomachs. When everything is in short supply, they gradually succumb to hunger and their only entertainment is the light of the fireflies.::Corrected by Liron
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZmY2NjUzNDQtNTgxNC00M2Q4LTljOWQtMjNjNDBjNWUxNmJlXkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Grave of the Fireflies"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": null, "data": []}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>