<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Indiana Jones and the Last Crusade</h3>
                        <p class="card-text">
                          In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones, Jr. finds himself up against Adolf Hitler's Nazis again to stop them from obtaining its powers.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Indiana Jones and the Last Crusade"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Moab, Utah, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.47621</span>, <span class="lon">-111.88778</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                South Park Avenue, Arches National Park, Utah, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.58</span>, <span class="lon">-109.55</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Figure 3 Ranch, Amarillo, Texas, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.2072</span>, <span class="lon">-101.8338</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Al Khazneh, Petra, Jordan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.322153999999998</span>, <span class="lon">35.451586</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cortez, Colorado, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.3494</span>, <span class="lon">-108.5872</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Guadix, Granada, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.29955</span>, <span class="lon">-3.13712</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Arches National Park, Utah, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.616267</span>, <span class="lon">-109.615746</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Schloss Bürresheim, Mayen, Rhineland Palatinate, Germany 
            </td>   
                <td class="table__cell">
                <span class="lat"> 50.3526385</span>, <span class="lon">7.1801545</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cabo de Gata, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.781144</span>, <span class="lon">-2.242177</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pagosa Springs, Colorado, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.0381</span>, <span class="lon">-107.1992</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Administration Building, Treasure Island, San Francisco Bay, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.82</span>, <span class="lon">-122.37</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cumbres & Toltec Scenic Railroad, Chama, New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.9012975</span>, <span class="lon">-106.5810285</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.04989</span>, <span class="lon">-2.39138</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chiesa di San Barnaba, Campo San Barnaba, Dorsoduro, Venice, Veneto, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.433092</span>, <span class="lon">12.325198499999999</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Desierto de Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.090023</span>, <span class="lon">-2.379403</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alamosa, Colorado, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.4699</span>, <span class="lon">-105.8696</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rickmansworth Masonic School, Rickmansworth, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.6474955</span>, <span class="lon">-0.4737345</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tilbury Docks, Essex, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.454012</span>, <span class="lon">0.364197</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fond Dogana alla Salute, Campo della Salute, Grand Canal, Venice, Vento, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.431059</span>, <span class="lon">12.335906</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Campo San Barnaba, Venice, Veneto, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.4331145</span>, <span class="lon">12.325211</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Playa de Monsul, Cabo de Gata, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.8847560338418</span>, <span class="lon">-2.44833073448519</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stowe School, Buckingham, Buckinghamshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 52.0320015</span>, <span class="lon">-1.0188285</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Royal Horticultural Halls & Conference Centre, Vincent Square, Westminster, London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palazzi Barbaro, Grand Canal, Venice, Veneto, Italy 
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.43972</span>, <span class="lon">12.33194</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blenheim Palace, Woodstock, Oxfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.84242375</span>, <span class="lon">-1.3609806249999998</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Baños de Alfaro, Rioja, Almeria, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.94512</span>, <span class="lon">-2.4627</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rodalquilar, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.846802</span>, <span class="lon">-2.040604</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Turre, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.15237</span>, <span class="lon">-1.89454</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Granada, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.1202823858649</span>, <span class="lon">-3.58119996388976</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>