<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Indiana Jones and the Last Crusade</h3>
          <p class="card-text mb-0">


  <span > In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones, Jr. finds himself up against Adolf Hitler's Nazis again to stop them from obtaining its powers.  </span>
                          <span > An art collector appeals to Indiana Jones to embark on a search for the Holy Grail. He learns that another archaeologist has disappeared while searching for the precious goblet, and the missing man is his own father, Dr. Henry Jones. The artifact is much harder to find than they expected, and its powers are too much for those impure of heart. -Jwelch5742.  </span>
                          <span > In 1938, only two years after the hunt for the Ark of the Covenant and his encounter with Adolf Hitler's Nazis in Raiders of the Lost Ark (1981), the intrepid, bullwhip-wielding archaeologist, Indiana Jones, risks life and limb on his search for his missing father, Professor Henry Jones. Picking up from where his estranged parent left off while searching for the Holy Grail, Dr Jones, along with the academic and surrogate father figure, Marcus Brody, make a stop at Venice, Italy, and then, off he goes to cold Austria with the statuesque archaeologist, Dr Elsa Schneider. But, there, a dangerous run-in with the SS commander, Colonel Ernst Vogel, can only spell more trouble, as the power-obsessed megalomaniac is bent on finding the location of the sacred artefact first. Can the Joneses thwart his evil plan in the last crusade? -Nick Riganas.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Indiana Jones, famed adventurer and archaeologist acquires a diary that holds clues and a map with no names to find the mysterious Holy Grail, which was sent from his father, Dr. Henry Jones, in Italy. Upon hearing from a private collector, Walter Donovan, that the mission for the Holy Grail went astray with the disappearance of his father, Indiana Jones and museum curator Marcus Brody venture to Italy in search of Indy's father. However, upon retrieving Dr. Henry Jones in Nazi territory, the rescue mission turns into a race to find the Holy Grail before the Nazis do, who plan to use it for complete world domination for their super-race. With the diary as a vital key and the map with no names as a guide, Indiana Jones once again finds himself in another death-defying adventure of pure excitement. -commanderblue.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Indiana Jones and the Last Crusade"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Moab Way, Draper, Utah 84020, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.47621</span>, <span class="lon">-111.88778</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Arches, Utah, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.58</span>, <span class="lon">-109.55</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Amarillo, Texas, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.2072</span>, <span class="lon">-101.8338</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">The Treasury, Al-Siq, لواء البتراء, Ma'an, Jordan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">30.322153999999998</span>, <span class="lon">35.451586</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cortez, Colorado, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.3494</span>, <span class="lon">-108.5872</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Guadix, 18184 Beas de Granada, Granada, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.2208113411398</span>, <span class="lon">-3.47881706877745</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Arches National Park, Arches Entrance Rd, Arches, Utah 84532, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">38.616267</span>, <span class="lon">-109.615746</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Schloss Bürresheim, K92, Sankt Johann, Rhineland-Palatinate 56727, Germany </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">50.3526385</span>, <span class="lon">7.1801545</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cabo de Gata, Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.781144</span>, <span class="lon">-2.242177</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pagosa Springs, Colorado, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0381</span>, <span class="lon">-107.1992</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Treasure Island, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.82</span>, <span class="lon">-122.37</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cumbres And Toltec Scenic Railroad, 500 S Terrace Ave., Chama, New Mexico 87520, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.9012975</span>, <span class="lon">-106.5810285</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tabernas, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.04989</span>, <span class="lon">-2.39138</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chiesa di San Barnaba, Campo San Barnaba, Venezia, Venice 30123, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">45.433092</span>, <span class="lon">12.325198499999999</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Desierto De Tabernas, Tabernas, Almería 04212, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.090023</span>, <span class="lon">-2.379403</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Alamosa, Colorado, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.4699</span>, <span class="lon">-105.8696</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Royal Masonic School for Girls, Chorleywood Road, Rickmansworth, England WD3 4HF, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.6474955</span>, <span class="lon">-0.4737345</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tilbury Docks, Tilbury, England RM18 7DL, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.454012</span>, <span class="lon">0.364197</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Fondamenta Della Dogana Alla Salute, 30123 Venezia Venice, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">45.431059</span>, <span class="lon">12.335906</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Campo San Barnaba, Calle Lunga San Barnaba, Venezia, Venice 30123, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">45.4331145</span>, <span class="lon">12.325211</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Cabo De Gata, 04230 Huércal de Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8847560338418</span>, <span class="lon">-2.44833073448519</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Stowe School, Stowe, Buckingham, England MK18 5EH, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.0320015</span>, <span class="lon">-1.0188285</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Venezia, Venice, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">45.43972</span>, <span class="lon">12.33194</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Blenheim Palace, Blenheim Palace, Woodstock, England OX20 1PX, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.84242375</span>, <span class="lon">-1.3609806249999998</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rioja, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.94512</span>, <span class="lon">-2.4627</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rodalquilar, Níjar, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.846802</span>, <span class="lon">-2.040604</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Turre, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.15237</span>, <span class="lon">-1.89454</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Andalucía, 18140 La Zubia, Granada, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1202823858649</span>, <span class="lon">-3.58119996388976</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Carretera Viator, 04230 Huércal de Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8723865101173</span>, <span class="lon">-2.44315447918014</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lysander Court High Street, North Weald Bassett, Epping, CM16 6HF, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.717464</span>, <span class="lon">0.16794</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lugar Cuevas De San Roque, 04002 Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8408307142208</span>, <span class="lon">-2.48077176867037</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.83333</span>, <span class="lon">-2.45</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.657803</span>, <span class="lon">-0.269703</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[36.781144, -2.242177], [36.83333, -2.45], [36.8408307142208, -2.48077176867037]], "data": [{"lat": 40.47621, "lon": -111.88778, "name": "Moab Way, Draper, Utah 84020, United States"}, {"lat": 38.58, "lon": -109.55, "name": "Arches, Utah, United States"}, {"lat": 35.2072, "lon": -101.8338, "name": "Amarillo, Texas, United States"}, {"lat": 30.322153999999998, "lon": 35.451586, "name": "The Treasury, Al-Siq, \u0644\u0648\u0627\u0621 \u0627\u0644\u0628\u062a\u0631\u0627\u0621, Ma\u0027an, Jordan"}, {"lat": 37.3494, "lon": -108.5872, "name": "Cortez, Colorado, United States"}, {"lat": 37.2208113411398, "lon": -3.47881706877745, "name": "Calle Guadix, 18184 Beas de Granada, Granada, Spain"}, {"lat": 38.616267, "lon": -109.615746, "name": "Arches National Park, Arches Entrance Rd, Arches, Utah 84532, United States"}, {"lat": 50.3526385, "lon": 7.1801545, "name": "Schloss B\u00fcrresheim, K92, Sankt Johann, Rhineland-Palatinate 56727, Germany"}, {"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 37.0381, "lon": -107.1992, "name": "Pagosa Springs, Colorado, United States"}, {"lat": 37.82, "lon": -122.37, "name": "Treasure Island, San Francisco, California, United States"}, {"lat": 36.9012975, "lon": -106.5810285, "name": "Cumbres And Toltec Scenic Railroad, 500 S Terrace Ave., Chama, New Mexico 87520, United States"}, {"lat": 37.04989, "lon": -2.39138, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 45.433092, "lon": 12.325198499999999, "name": "Chiesa di San Barnaba, Campo San Barnaba, Venezia, Venice 30123, Italy"}, {"lat": 37.090023, "lon": -2.379403, "name": "Desierto De Tabernas, Tabernas, Almer\u00eda 04212, Spain"}, {"lat": 37.4699, "lon": -105.8696, "name": "Alamosa, Colorado, United States"}, {"lat": 51.6474955, "lon": -0.4737345, "name": "Royal Masonic School for Girls, Chorleywood Road, Rickmansworth, England WD3 4HF, United Kingdom"}, {"lat": 51.454012, "lon": 0.364197, "name": "Tilbury Docks, Tilbury, England RM18 7DL, United Kingdom"}, {"lat": 45.431059, "lon": 12.335906, "name": "Fondamenta Della Dogana Alla Salute, 30123 Venezia Venice, Italy"}, {"lat": 45.4331145, "lon": 12.325211, "name": "Campo San Barnaba, Calle Lunga San Barnaba, Venezia, Venice 30123, Italy"}, {"lat": 36.8847560338418, "lon": -2.44833073448519, "name": "Calle Cabo De Gata, 04230 Hu\u00e9rcal de Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 52.0320015, "lon": -1.0188285, "name": "Stowe School, Stowe, Buckingham, England MK18 5EH, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 45.43972, "lon": 12.33194, "name": "Venezia, Venice, Italy"}, {"lat": 51.84242375, "lon": -1.3609806249999998, "name": "Blenheim Palace, Blenheim Palace, Woodstock, England OX20 1PX, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 36.94512, "lon": -2.4627, "name": "Rioja, Almer\u00eda, Spain"}, {"lat": 36.846802, "lon": -2.040604, "name": "Rodalquilar, N\u00edjar, Almer\u00eda, Spain"}, {"lat": 37.15237, "lon": -1.89454, "name": "Turre, Almer\u00eda, Spain"}, {"lat": 37.1202823858649, "lon": -3.58119996388976, "name": "Calle Andaluc\u00eda, 18140 La Zubia, Granada, Spain"}, {"lat": 36.8723865101173, "lon": -2.44315447918014, "name": "Carretera Viator, 04230 Hu\u00e9rcal de Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 51.717464, "lon": 0.16794, "name": "Lysander Court High Street, North Weald Bassett, Epping, CM16 6HF, United Kingdom"}, {"lat": 36.8408307142208, "lon": -2.48077176867037, "name": "Lugar Cuevas De San Roque, 04002 Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 36.83333, "lon": -2.45, "name": "Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>