<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Mad Max: Fury Road</h3>
                        <p class="card-text">
                          In a post-apocalyptic wasteland, a woman rebels against a tyrannical ruler in search for her homeland with the aid of a group of female prisoners, a psychotic worshiper, and a drifter named Max. An apocalyptic story set in the furthest reaches of our planet, in a stark desert landscape where humanity is broken, and almost everyone is crazed fighting for the necessities of life. Within this world exist two rebels on the run who just might be able to restore order. There's Max, a man of action and a man of few words, who seeks peace of mind following the loss of his wife and child in the aftermath of the chaos. And Furiosa, a woman of action and a woman who believes her path to survival may be achieved if she can make it across the desert back to her childhood homeland.::Production In the stark desert wasteland populated by a broken humanity driven with survival and the unending ravage for gasoline, a loner named Max finds himself unwantedly caught in the middle of a chase while aiding the heroine Furiosa and her female companions. She struggles to return to her homeland and escape the clutches of a ruthless desert gang leader, Immortal Joe. With the harsh desert sands in front of them and marauders behind, only the maddest will prevail the storm. The former policeman Max is captured by the War Boys tribe, commanded by the Immortal Joe and assigned to be blood donor for the Wat Boy Nux who is sick. Meanwhile Imperator Furiosa drives a tank truck to collect gasoline for Joe. However her true intention is to flee from the tyrannical Joe with his five women selected to breed hidden in the truck to her homeland. Immortal Joe commands a party to hunt down Furiosa and Max is chained to Nux's car. Furiosa heads the truck into a sand storm but Nux continues to pursue her. After the storm, Max succeeds to escape from the car and brings Nux chained with him. He sees Furiosa and the five wives and decides to flee in their truck; but there is a secret to operate the truck and he teams up with Furiosa, leaving Nux in the desert. When Joe's gang arrives, they retrieve Nux and follow Furiosa. Will Max and the women succeed in escaping from Joe's gang?::Claudio Carvalho, Rio de Janeiro, Brazil Years after the collapse of civilization, the tyrannical Immortan Joe enslaves apocalypse survivors inside the desert fortress the Citadel. When the warrior Imperator Furiosa leads the despot's five wives in a daring escape, she forges an alliance with Max Rockatansky, a loner and former captive. Fortified in the massive, armored truck the War Rig, they try to outrun the ruthless warlord and his henchmen in a deadly high-speed chase through the Wasteland.::Jwelch5742 After a narrow escape in the barren deserts of the dystopian Wasteland, the solitary post-apocalyptic survivor, Max Rockatansky, struggles to stay one step ahead from the water-controlling overlord Immortan Joe's marauding gangs, the Wild Boys. However, Max will soon cross paths with one of Joe's elite lieutenants--the fearless warrior, Imperator Furiosa--who has just fled the Citadel in her heavily armoured War Rig truck, absconding with an irreplaceable quintet of wives. Now, the powerful tyrant and his hordes of delusional zealots are after the unlikely team of Max and Furiosa; however, before the unforgiving Wasteland's deadly immensity, who has what it takes to survive?::Nick Riganas
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2EwM2I5OWMtMGQyMi00Zjg1LWJkNTctZTdjYTA4OGUwZjMyXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Mad Max: Fury Road"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pops Nicoya, Nicoya, Guanacaste 50201, Costa Rica
            </td>   
                <td class="table__cell">
                10.151559, -85.452172
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stadion Green Point, South Africa, Cape Town, Western Cape 8005, South Africa
            </td>   
                <td class="table__cell">
                -33.907111, 18.409741
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sydney, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.868, 151.21
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Swakopmund, Erongo, Namibia
            </td>   
                <td class="table__cell">
                -22.696565, 14.539054
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Potts Hill, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.89, 151.03
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Penrith, New South Wales, Australia
            </td>   
                <td class="table__cell">
                -33.7511, 150.6942
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fox Studios, Driver Ave., Sydney, New South Wales 2021, Australia
            </td>   
                <td class="table__cell">
                -33.892398, 151.226592
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[-33.892398, 151.226592], [-33.89, 151.03], [-33.868, 151.21]], "data": [{"lat": 10.151559, "lon": -85.452172, "name": "Pops Nicoya, Nicoya, Guanacaste 50201, Costa Rica"}, {"lat": -33.907111, "lon": 18.409741, "name": "Stadion Green Point, South Africa, Cape Town, Western Cape 8005, South Africa"}, {"lat": -33.868, "lon": 151.21, "name": "Sydney, New South Wales, Australia"}, {"lat": -22.696565, "lon": 14.539054, "name": "Swakopmund, Erongo, Namibia"}, {"lat": -33.89, "lon": 151.03, "name": "Potts Hill, New South Wales, Australia"}, {"lat": -33.7511, "lon": 150.6942, "name": "Penrith, New South Wales, Australia"}, {"lat": -33.892398, "lon": 151.226592, "name": "Fox Studios, Driver Ave., Sydney, New South Wales 2021, Australia"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>