<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Hacksaw Ridge</h3>
          <p class="card-text mb-0">


  <span > World War II American Army Medic Desmond T. Doss, who served during the Battle of Okinawa, refuses to kill people and becomes the first man in American history to receive the Medal of Honor without firing a shot.  </span>
                          <span > The true story of Desmond T. Doss, the conscientious objector who, at the Battle of Okinawa, was awarded the Medal of Honor for his incredible bravery and regard for his fellow soldiers. We see his upbringing and how this shaped his views, especially his religious view and anti-killing stance. We see Doss's trials and tribulations after enlisting in the US Army and trying to become a medic. Finally, we see the hell on Earth that was Hacksaw Ridge. -grantss.  </span>
                          <span > An American army veteran grieves by the tombstones of his army company that died during World War I. Back home, he raises his sons in a pious setting and asks them to shun weapons. After a naughty fight turns awry, Desmond reads the Bible and vows not to harm another human in his life thereafter. Desmond then saves the life of a worker, experiencing a wholesome satisfaction in the process. In the hospital, he is smitten by a nurse, who he then dates. After the United States enters the Second World War, both sons enlist, adding to the ire of the father who despises his sons joining the Army. The rigorous regimen of training in the Army requires Desmond to clear his firearms training, but after a huge tiff with his seniors, his father, an old corporal, intervenes to save Desmond from being court-martialed and serve with the Army as a medic. They get posted to Hacksaw Ridge, Okinawa. A win there would ensure that the Empire of Japan surrenders to the Allied Forces. What happens thereon? -PipingHotViews.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > After Desmond T. Doss volunteered to enlist in the US Army in WWII, he was firstly assumed as a cowardice for anti-killing stance performing as a Medic. This is how Private Doss inspired us about an incredible-bravery-true story on Hacksaw Ridge at the Battle of Okinawa. -Shine Light.  </span>
    <span class="additional-information" > In Lynchburg, Desmond Doss and his brother Hal are raised by a dysfunctional family since their father Tom Doss is an alcoholic veteran of World War I that beats their mother Bertha. One day, Desmond almost kills Hal and his life is affected by the Commandment "Thou shalt not kill". Years later, he meets the nurse Dorothy Schutte and they fall in love with each other. Desmond, who is Seventh-day Adventist Christian and conscientious objector, decides to join the army to serve his country in World War II; however he refuses to carry or use any weapon and requests to serve as combat medic to save lives. He faces several problems during the training and but he succeeds to go to the war to participate in the Battle of Okinawa. Will he be helpful in the battle field? -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
    <span class="additional-information" > The extraordinary true story of conscientious objector Desmond T. Doss who saved 75 men in Okinawa, during the bloodiest battle of WWII, without firing a single shot. Believing that the war was just but killing was nevertheless wrong, he was the only American soldier in WWII to fight on the front lines without a weapon. As an army medic Doss single-handedly evacuated the wounded near enemy lines - braving enemy fire and putting his own life on the line. He was the first conscientious objector to ever earn the Congressional Medal of Honor. -Jwelch5742.  </span>
    <span class="additional-information" > The true story of Pfc. Desmond T. Doss, who won the Congressional Medal of Honor despite refusing to bear arms during WWII on religious grounds. Doss was drafted and ostracized by fellow soldiers for his pacifist stance but went on to earn respect and adoration for his bravery, selflessness and compassion after he risked his life, without firing a shot, to save 75 men in the Battle of Okinawa.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjQ1NjM3MTUxNV5BMl5BanBnXkFtZTgwMDc5MTY5OTE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Hacksaw Ridge"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fox Studios, Driver Ave., Sydney, New South Wales 2021, Australia
            </td>
                <td class="table__cell">
                -33.892398, 151.226592
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Sydney, New South Wales, Australia
            </td>
                <td class="table__cell">
                -33.868, 151.21
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pisgah National Forest, Old Fort, North Carolina 28762, United States
            </td>
                <td class="table__cell">
                35.635269, -82.185465
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Camden, New South Wales, Australia
            </td>
                <td class="table__cell">
                -34.0532, 150.6962
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Centennial Park, New South Wales, Australia
            </td>
                <td class="table__cell">
                -33.9011, 151.23
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Southern Highlands, Bowral - Mittagong, New South Wales 2575, Australia
            </td>
                <td class="table__cell">
                -34.450663, 150.449784
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Newington Armory, Olympic Park, Sydney, New South Wales 2127, Australia
            </td>
                <td class="table__cell">
                -33.827476000000004, 151.0631035
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Richmond, New South Wales, Australia
            </td>
                <td class="table__cell">
                -33.601, 150.7496
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Australia
            </td>
                <td class="table__cell">
                -25.7349684916223, 134.489562606981
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Manly, New South Wales, Australia
            </td>
                <td class="table__cell">
                -33.79667, 151.2875
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                North Carolina, United States
            </td>
                <td class="table__cell">
                35.5568849207, -79.3896838690365
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[-34.0532, 150.6962], [-33.9011, 151.23], [-33.892398, 151.226592]], "data": [{"lat": -33.892398, "lon": 151.226592, "name": "Fox Studios, Driver Ave., Sydney, New South Wales 2021, Australia"}, {"lat": -33.868, "lon": 151.21, "name": "Sydney, New South Wales, Australia"}, {"lat": 35.635269, "lon": -82.185465, "name": "Pisgah National Forest, Old Fort, North Carolina 28762, United States"}, {"lat": -34.0532, "lon": 150.6962, "name": "Camden, New South Wales, Australia"}, {"lat": -33.9011, "lon": 151.23, "name": "Centennial Park, New South Wales, Australia"}, {"lat": -34.450663, "lon": 150.449784, "name": "Southern Highlands, Bowral - Mittagong, New South Wales 2575, Australia"}, {"lat": -33.827476000000004, "lon": 151.0631035, "name": "Newington Armory, Olympic Park, Sydney, New South Wales 2127, Australia"}, {"lat": -33.601, "lon": 150.7496, "name": "Richmond, New South Wales, Australia"}, {"lat": -25.7349684916223, "lon": 134.489562606981, "name": "Australia"}, {"lat": -33.79667, "lon": 151.2875, "name": "Manly, New South Wales, Australia"}, {"lat": 35.5568849207, "lon": -79.3896838690365, "name": "North Carolina, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>