<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include(`${partials}/homeHead`, {pageTitle: 'Movies'}); -%>


<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

  <noscript>
    <h3>Please enable JavaScript in order to view this site properly.</h3>
  </noscript>
    <%- include(`${partials}/nav`); -%>

       <main class="mb-4 mt-5">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
         
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1049413" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@.jpg" class="card-img-top" alt="Up" />
              <div class="card-body">
                <a href="/movie-locations/up-1049413" class="stretched-link">
                  <p class="card-text text-center">
                    Up
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0070735" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGU3NjQ4YTMtZGJjOS00YTQ3LThmNmItMTI5MDE2ODI3NzY3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="The Sting" />
              <div class="card-body">
                <a href="/movie-locations/the-sting-0070735" class="stretched-link">
                  <p class="card-text text-center">
                    The Sting
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0119488" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="L.A. Confidential" />
              <div class="card-body">
                <a href="/movie-locations/l-a-confidential-0119488" class="stretched-link">
                  <p class="card-text text-center">
                    L.A. Confidential
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0113277" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNGMwNzUwNjYtZWM5NS00YzMyLWI4NjAtNjM0ZDBiMzE1YWExXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Heat" />
              <div class="card-body">
                <a href="/movie-locations/heat-0113277" class="stretched-link">
                  <p class="card-text text-center">
                    Heat
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="8503618" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNjViNWRjYWEtZTI0NC00N2E3LTk0NGQtMjY4NTM3OGNkZjY0XkEyXkFqcGdeQXVyMjUxMTY3ODM@.jpg" class="card-img-top" alt="Hamilton" />
              <div class="card-body">
                <a href="/movie-locations/hamilton-8503618" class="stretched-link">
                  <p class="card-text text-center">
                    Hamilton
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0208092" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTA2NDYxOGYtYjU1Mi00Y2QzLTgxMTQtMWI1MGI0ZGQ5MmU4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Snatch" />
              <div class="card-body">
                <a href="/movie-locations/snatch-0208092" class="stretched-link">
                  <p class="card-text text-center">
                    Snatch
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0095016" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjRlNDUxZjAtOGQ4OC00OTNlLTgxNmQtYTBmMDgwZmNmNjkxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Die Hard" />
              <div class="card-body">
                <a href="/movie-locations/die-hard-0095016" class="stretched-link">
                  <p class="card-text text-center">
                    Die Hard
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0097576" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Indiana Jones and the Last Crusade" />
              <div class="card-body">
                <a href="/movie-locations/indiana-jones-and-the-last-crusade-0097576" class="stretched-link">
                  <p class="card-text text-center">
                    Indiana Jones and the Last Crusade
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0017136" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTg5YWIyMWUtZDY5My00Zjc1LTljOTctYmI0MWRmY2M2NmRkXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Metropolis" />
              <div class="card-body">
                <a href="/movie-locations/metropolis-0017136" class="stretched-link">
                  <p class="card-text text-center">
                    Metropolis
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0040522" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BNmI1ODdjODctMDlmMC00ZWViLWI5MzYtYzRhNDdjYmM3MzFjXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Bicycle Thieves" />
              <div class="card-body">
                <a href="/movie-locations/bicycle-thieves-0040522" class="stretched-link">
                  <p class="card-text text-center">
                    Bicycle Thieves
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="1255953" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMWE3MGYzZjktY2Q5Mi00Y2NiLWIyYWUtMmIyNzA3YmZlMGFhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Incendies" />
              <div class="card-body">
                <a href="/movie-locations/incendies-1255953" class="stretched-link">
                  <p class="card-text text-center">
                    Incendies
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="8579674" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@.jpg" class="card-img-top" alt="1917" />
              <div class="card-body">
                <a href="/movie-locations/1917-8579674" class="stretched-link">
                  <p class="card-text text-center">
                    1917
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0986264" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMDhjZWViN2MtNzgxOS00NmI4LThiZDQtZDI3MzM4MDE4NTc0XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Like Stars on Earth" />
              <div class="card-body">
                <a href="/movie-locations/like-stars-on-earth-0986264" class="stretched-link">
                  <p class="card-text text-center">
                    Like Stars on Earth
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0372784" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Batman Begins" />
              <div class="card-body">
                <a href="/movie-locations/batman-begins-0372784" class="stretched-link">
                  <p class="card-text text-center">
                    Batman Begins
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="0059578" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BZDJjMjM0ZGQtNzdlNS00MTRhLTg3OTYtZDc3OTgwN2Y2OGQ1XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="For a Few Dollars More" />
              <div class="card-body">
                <a href="/movie-locations/for-a-few-dollars-more-0059578" class="stretched-link">
                  <p class="card-text text-center">
                    For a Few Dollars More
                  </p>
                </a>
              </div>
            </div>
          </div>
<div class="col-sm-4 d-flex align-items-stretch">
            <div id="5074352" class="card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTQ4MzQzMzM2Nl5BMl5BanBnXkFtZTgwMTQ1NzU3MDI@.jpg" class="card-img-top" alt="Dangal" />
              <div class="card-body">
                <a href="/movie-locations/dangal-5074352" class="stretched-link">
                  <p class="card-text text-center">
                    Dangal
                  </p>
                </a>
              </div>
            </div>
          </div>
</div>
                <div class="row justify-content-center mt-3">
         
          <nav aria-label="Movie Locations Top 250">
 
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6" aria-label="Previous">Previous <span
                    aria-hidden="true">&laquo;</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/5">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/6">6</a>
              </li>
              <li class="active page-item">
                <a class="page-link" href="/movie-locations/7">7</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/8">8</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/9">9</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="/movie-locations/8" aria-label="Next">Next<span
                    aria-hidden="true">&raquo;</span></a>
              </li>
            </ul>
   
          </nav>
          
        </div>
      </div>
    </main>
 <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
</body>

</html>