<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Vertigo</h3>
                        <p class="card-text">
                          A former San Francisco police detective juggles wrestling with his personal demons and becoming obsessed with the hauntingly beautiful woman he has been hired to trail, who may be deeply disturbed.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTE4ODEwZDUtNDFjOC00NjAxLWEzYTQtYTI1NGVmZmFlNjdiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Vertigo"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fort Point, Presidio, Golden Gate National Recreation Area, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.7694, -122.4757
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mission San Juan Bautista   2nd Street & Mariposa Street, San Juan Bautista, California, USA 
            </td>   
                <td class="table__cell">
                36.8455, -121.538
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                900 Lombard Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.80253, -122.4166
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Big Basin Redwoods State Park   21600 Big Basin Way, Boulder Creek, California, USA 
            </td>   
                <td class="table__cell">
                37.172564, -122.222478
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brocklebank Apartments   1000 Mason Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.79309, -122.41047
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cypress Point, Pebble Beach, California, USA 
            </td>   
                <td class="table__cell">
                36.5803095, -121.9733525
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fairmont Hotel   950 Mason Street, Nob Hill, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.79243, -122.41009
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ernie's Restaurant   847 Montgomery St, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.797179, -122.403667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Union St & Montgomery St, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.8010417, -122.404443
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                224 Grant Avenue, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.78912, -122.40501
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Conservatory of Flowers, Golden Gate Park, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.772118, -122.4600655
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Claude Lane, Bush Street, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.7648, -122.463
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Palace of Fine Arts   3301 Lyon Street, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.80283300000001, -122.4483725
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1007 Gough Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.783331, -122.424296
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Biltmore Hotel   506 S. Grand Avenue, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.119935, -118.163184
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mission Dolores   3321 16th Street, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.766394, -122.424334
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California Palace of the Legion of Honor   34th Avenue & Clement Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.78423, -122.5008905
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                York Hotel   940 Sutter Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                38.108, -122.2551
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Park Hill Sanatorium   351 Buena Vista Avenue E., San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.7648, -122.463
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Francisco Drydock, The Dogpatch, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.7611, -122.3884
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1000 Mason Street, North Beach, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.79309, -122.41047
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gough Street & Eddy Street, Western Addition, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.782479, -122.424125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Big Basin, California, USA
            </td>   
                <td class="table__cell">
                37.24931, -122.06834
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08918, -118.38055
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.095884, -118.370965
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Dogpatch, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.7611, -122.3884
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Western Addition, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.773115, -122.422172
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Clement Street, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.78289, -122.4603
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nob Hill, San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.793, -122.417
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>