<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Vertigo</h3>
          <p class="card-text mb-0">


  <span > A former San Francisco police detective juggles wrestling with his personal demons and becoming obsessed with the hauntingly beautiful woman he has been hired to trail, who may be deeply disturbed.  </span>
                          <span > Following his early retirement as a detective from the San Francisco Police Department, John Ferguson - Scottie to his friends - becomes obsessed with two women in succession, those obsessions which trouble his long time friend and former fiancée, Midge Wood, a designer of women's undergarments. The first is wealthy and elegant platinum blonde Madeleine Elster, the wife of his college acquaintance Gavin Elster, who hires John to follow her in Gavin's belief that she may be a danger to herself in thinking that she has recently been possessed by the spirit of Carlotta Valdes, Madeleine's great-grandmother who she knows nothing about, but who Gavin knows committed suicide in being mentally unbalanced when she was twenty-six, Madeleine's current age. The second is Judy Barton, who John spots on the street one day. Judy is a working class girl, but what makes John obsessed with her is that, despite her working class style and her brunette hair, she is the spitting image of Madeleine, into who he tries to transform Judy. The initial question that John has is if there is some connection between Madeleine and Judy. What happens between John and individually with Madeleine and Judy is affected by the reason John took that early retirement: a recent workplace incident that showed that he is acrophobic which leads to a severe case of vertigo whenever he looks down from tall heights. -Huggo.  </span>
                          <span > Strange as it may sound, whenever former police detective John "Scottie" Ferguson looks down from a high place or even gets more than a few centimetres above the ground, he triggers an extreme, almost irrational fear of falling. Having all the time in the world to enjoy his early retirement, Scottie is reluctantly back in the game when Gavin Elster, an old acquaintance from college and shipowner magnate, enlists his help to shed light on the disturbing behaviour of Madeleine, his icy, remote wife. However, as the intrigued friend follows unsuspecting Madeleine's every move, more and more, a dangerous attraction teetering on the brink of obsession begins to form. Can Madeleine's mystery and John's fixation stand in the way of love? Above all, why do we crave what we can't have? -Nick Riganas.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > John "Scottie" Ferguson is a retired San Francisco police detective who suffers from acrophobia, and Madeleine is the lady who leads him to high places. A wealthy shipbuilder who is an acquaintance from college days approaches Scottie and asks him to follow his beautiful wife, Madeleine. He fears she is going insane, maybe even contemplating suicide, as he believes she has been possessed by a dead ancestor who committed suicide. Scottie is skeptical, but agrees to the assignment after he sees the beautiful Madeleine. -filmfactsman.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYTE4ODEwZDUtNDFjOC00NjAxLWEzYTQtYTI1NGVmZmFlNjdiL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Vertigo"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Golden Gate Park, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7694</span>, <span class="lon">-122.4757</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Juan Bautista, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8455</span>, <span class="lon">-121.538</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">900 Lombard Street, San Francisco, California 94133, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.80253</span>, <span class="lon">-122.4166</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Boulder Creek, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1261</span>, <span class="lon">-122.1222</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1000 Mason Street, San Francisco, California 94108, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.79309</span>, <span class="lon">-122.41047</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cypress Point Club, 3150 17 Mile Dr, Pebble Beach, California 93953, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.5803095</span>, <span class="lon">-121.9733525</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">950 Mason Street, San Francisco, California 94108, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.79243</span>, <span class="lon">-122.41009</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7648</span>, <span class="lon">-122.463</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Union Street and Montgomery Street, San Francisco, California 94133, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.8010417</span>, <span class="lon">-122.404443</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">224 Grant Avenue, San Francisco, California 94108, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.78912</span>, <span class="lon">-122.40501</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Conservatory of Flowers, 100 J F Kennedy Dr, San Francisco, California 94118, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.772118</span>, <span class="lon">-122.4600655</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7648</span>, <span class="lon">-122.463</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Palace of Fine Arts, 3301 Lyon St, San Francisco, California 94123, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.80283300000001</span>, <span class="lon">-122.4483725</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1007 Gough Street, San Francisco, California 94123, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.783331</span>, <span class="lon">-122.424296</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">506 Grand Avenue, South Pasadena, California 91030, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.119935</span>, <span class="lon">-118.163184</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mission Dolores, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.766394</span>, <span class="lon">-122.424334</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Legion of Honor, 100 34th Ave, San Francisco, California 94121, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.78423</span>, <span class="lon">-122.5008905</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7648</span>, <span class="lon">-122.463</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7648</span>, <span class="lon">-122.463</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Dogpatch, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7611</span>, <span class="lon">-122.3884</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1000 Mason Street, San Francisco, California 94108, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.79309</span>, <span class="lon">-122.41047</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Gough Street and Eddy Street, San Francisco, California 94115, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.782479</span>, <span class="lon">-122.424125</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Big Basin Way, Saratoga, California 95070, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.24931</span>, <span class="lon">-122.06834</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">5555 Melrose Avenue, Los Angeles, California 90038, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.08363</span>, <span class="lon">-118.32191</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.095884</span>, <span class="lon">-118.370965</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Dogpatch, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7611</span>, <span class="lon">-122.3884</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Western Addition, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.773115</span>, <span class="lon">-122.422172</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Clement Street, San Francisco, California 94118, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7833</span>, <span class="lon">-122.45988</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Nob Hill, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.793</span>, <span class="lon">-122.417</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">North Beach, San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.8033</span>, <span class="lon">-122.4106</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Francisco, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7648</span>, <span class="lon">-122.463</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Juan Bautista, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8455</span>, <span class="lon">-121.538</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Union Square, 333 Post St, San Francisco, California 94102, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.787994499999996</span>, <span class="lon">-122.4075005</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.0544, -118.2439], [34.08363, -118.32191], [34.095884, -118.370965]], "data": [{"lat": 37.7694, "lon": -122.4757, "name": "Golden Gate Park, San Francisco, California, United States"}, {"lat": 36.8455, "lon": -121.538, "name": "San Juan Bautista, California, United States"}, {"lat": 37.80253, "lon": -122.4166, "name": "900 Lombard Street, San Francisco, California 94133, United States"}, {"lat": 37.1261, "lon": -122.1222, "name": "Boulder Creek, California, United States"}, {"lat": 37.79309, "lon": -122.41047, "name": "1000 Mason Street, San Francisco, California 94108, United States"}, {"lat": 36.5803095, "lon": -121.9733525, "name": "Cypress Point Club, 3150 17 Mile Dr, Pebble Beach, California 93953, United States"}, {"lat": 37.79243, "lon": -122.41009, "name": "950 Mason Street, San Francisco, California 94108, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 37.8010417, "lon": -122.404443, "name": "Union Street and Montgomery Street, San Francisco, California 94133, United States"}, {"lat": 37.78912, "lon": -122.40501, "name": "224 Grant Avenue, San Francisco, California 94108, United States"}, {"lat": 37.772118, "lon": -122.4600655, "name": "Conservatory of Flowers, 100 J F Kennedy Dr, San Francisco, California 94118, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 37.80283300000001, "lon": -122.4483725, "name": "Palace of Fine Arts, 3301 Lyon St, San Francisco, California 94123, United States"}, {"lat": 37.783331, "lon": -122.424296, "name": "1007 Gough Street, San Francisco, California 94123, United States"}, {"lat": 34.119935, "lon": -118.163184, "name": "506 Grand Avenue, South Pasadena, California 91030, United States"}, {"lat": 37.766394, "lon": -122.424334, "name": "Mission Dolores, San Francisco, California, United States"}, {"lat": 37.78423, "lon": -122.5008905, "name": "Legion of Honor, 100 34th Ave, San Francisco, California 94121, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 37.7611, "lon": -122.3884, "name": "Dogpatch, San Francisco, California, United States"}, {"lat": 37.79309, "lon": -122.41047, "name": "1000 Mason Street, San Francisco, California 94108, United States"}, {"lat": 37.782479, "lon": -122.424125, "name": "Gough Street and Eddy Street, San Francisco, California 94115, United States"}, {"lat": 37.24931, "lon": -122.06834, "name": "Big Basin Way, Saratoga, California 95070, United States"}, {"lat": 34.08363, "lon": -118.32191, "name": "5555 Melrose Avenue, Los Angeles, California 90038, United States"}, {"lat": 34.095884, "lon": -118.370965, "name": "Pool at The Standard, 8300 W Sunset Blvd, West Hollywood, California 90069, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 37.7611, "lon": -122.3884, "name": "Dogpatch, San Francisco, California, United States"}, {"lat": 37.773115, "lon": -122.422172, "name": "Western Addition, San Francisco, California, United States"}, {"lat": 37.7833, "lon": -122.45988, "name": "Clement Street, San Francisco, California 94118, United States"}, {"lat": 37.793, "lon": -122.417, "name": "Nob Hill, San Francisco, California, United States"}, {"lat": 37.8033, "lon": -122.4106, "name": "North Beach, San Francisco, California, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 36.8455, "lon": -121.538, "name": "San Juan Bautista, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 37.787994499999996, "lon": -122.4075005, "name": "Union Square, 333 Post St, San Francisco, California 94102, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>