<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Warrior</h3>
          <p class="card-text mb-0">


  <span > The youngest son of an alcoholic former boxer returns home, where he's trained by his father for competition in a mixed martial arts tournament - a path that puts the fighter on a collision course with his estranged, older brother.  </span>
                          <span > Two brothers face the fight of a lifetime - and the wreckage of their broken family - within the brutal, high-stakes world of Mixed Martial Arts (MMA) fighting in Lionsgate's action/drama, WARRIOR. A former Marine, haunted by a tragic past, Tommy Riordan returns to his hometown of Pittsburgh and enlists his father, a recovered alcoholic and his former coach, to train him for an MMA tournament awarding the biggest purse in the history of the sport. As Tommy blazes a violent path towards the title prize, his brother, Brendan, a former MMA fighter unable to make ends meet as a public school teacher, returns to the amateur ring to provide for his family. Even though years have passed, recriminations and past betrayals keep Brendan bitterly estranged from both Tommy and his father. But when Brendan's unlikely rise as an underdog sets him on a collision course with Tommy, the two brothers must finally confront the forces that tore them apart, all the while waging the most intense, winner-takes-all battle of their lives. -MConnell.  </span>
                          <span > Organized fighting was a part of the Conlons' lives when brothers, Tommy Conlon and Brendan Conlon, were kids, with their father, Paddy Conlon, their trainer. Tommy has been estranged from both Brendan and Paddy for fourteen years, when Tommy ran off with his mother due to the abuse exacted by alcoholic Paddy. Tommy's gripe with Brendan was not running off with them - which Tommy saw as support for Paddy - instead starting life with his now wife, Tess. To support his family, Brendan now teaches high school science and has largely left his fighting life behind him. After his mother's death, Tommy served time in the military. Tommy returns home to find a changed Paddy, one who has been clean and sober for almost three years and who has rediscovered religion, both which he feels has completely turned his life around from who he was when Tommy left fourteen years ago, although Tommy is not convinced. The lives of the Conlons may intersect when they all fall back into mixed martial arts (MMA), Tommy in trying to discover what his post-military life holds, and as Brendan finds that his teaching is insufficient to pay all the family bills, with fighting and teaching seemingly incompatible. With a $5 million winner-takes-all prize for a MMA tournament as the carrot, Tommy and Brendan and by association Paddy's interrelationships may either be strengthen or further torn apart, both figuratively and literally, if they take part in this very public and potentially violent arena. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Two estranged brothers and Mixed Martial Arts fighters confront the forces that tore their family apart as they prepare to do battle in the ring in this drama from director Gavin O'Connor (Pride and Glory). Tommy Conlon (Tom Hardy) is an ex-Marine from Pittsburgh who's never quite shaken his troubled past. Upon learning that the purse in an upcoming MMA tournament is the largest in the league's history, Tommy recruits his father, Paddy (Nick Nolte), a former coach and recovering alcoholic, to whip him into shape in time for the competition. Meanwhile, as Tommy steadily ascends the ranks by defeating one powerful opponent after another, his brother, Brendan, struggles to provide for his family with his job as a public school teacher. A former MMA fighter with a devastating punch, Brendan begins to wonder if he, too, could have a shot at winning the coveted purse. In time, Brendan and Tommy both emerge as dark horse contenders in the competition, setting the two brothers on a brutal collision course. But Tommy and Brendan's biggest battle won't be fought in the ring -- it will be fought in their hearts and minds.  </span>
    <span class="additional-information" > After a long decade of estrangement with his repentant alcoholic father, the fresh-out-of-Iraq ex-Marine, Tommy Conlon, returns to his hometown of Pittsburgh, bent on getting back to the ring of Sparta: a winner-takes-all, no-holds-barred mixed martial arts tournament. As Tommy trains for the title and the $5 million purse, the underdog, Brendan--Tommy's alienated older brother, and high school science teacher who struggles to eke out a living--fights his way into the warlike tournament to save his family. Now--against the backdrop of bitter resentment, mutual animosity, and a troubled past--the two brothers will have to lock horns with each other in a brutal final battle. However, family is forever, through thick and thin. Amid pain and suffering, can Tommy and Brendan reconcile, and, maybe, find redemption? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTk4ODk5MTMyNV5BMl5BanBnXkFtZTcwMDMyNTg0Ng@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Warrior"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">210 Racetrack Road, Canonsburg, Pennsylvania 15317, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.2199</span>, <span class="lon">-80.20194</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Petersen Events Center, 3719 Terrace St, Pittsburgh, Pennsylvania 15213, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.443822</span>, <span class="lon">-79.96231499999999</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">North Hills Jr High School, 55 Rochester Rd, Pittsburgh, Pennsylvania 15229, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.52560775</span>, <span class="lon">-80.02583975</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Boardwalk Hall, 2301 Boardwalk, Atlantic City, New Jersey 08401, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.354172000000005</span>, <span class="lon">-74.438626</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pittsburgh, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.4417</span>, <span class="lon">-79.9901</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Philadelphia, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.0115</span>, <span class="lon">-75.1327</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Clarita, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.42</span>, <span class="lon">-118.54</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Washington, Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.174</span>, <span class="lon">-80.2462</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pennsylvania, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.0911397651</span>, <span class="lon">-78.2907462468837</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[40.174, -80.2462], [40.2199, -80.20194], [40.4417, -79.9901]], "data": [{"lat": 40.2199, "lon": -80.20194, "name": "210 Racetrack Road, Canonsburg, Pennsylvania 15317, United States"}, {"lat": 40.443822, "lon": -79.96231499999999, "name": "Petersen Events Center, 3719 Terrace St, Pittsburgh, Pennsylvania 15213, United States"}, {"lat": 40.52560775, "lon": -80.02583975, "name": "North Hills Jr High School, 55 Rochester Rd, Pittsburgh, Pennsylvania 15229, United States"}, {"lat": 39.354172000000005, "lon": -74.438626, "name": "Boardwalk Hall, 2301 Boardwalk, Atlantic City, New Jersey 08401, United States"}, {"lat": 40.4417, "lon": -79.9901, "name": "Pittsburgh, Pennsylvania, United States"}, {"lat": 40.0115, "lon": -75.1327, "name": "Philadelphia, Pennsylvania, United States"}, {"lat": 34.42, "lon": -118.54, "name": "Santa Clarita, California, United States"}, {"lat": 40.174, "lon": -80.2462, "name": "Washington, Pennsylvania, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 41.0911397651, "lon": -78.2907462468837, "name": "Pennsylvania, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>