<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Elephant Man</h3>
          <p class="card-text mb-0">


  <span > A Victorian surgeon rescues a heavily disfigured man who is mistreated while scraping a living as a side-show freak. Behind his monstrous façade, there is revealed a person of kindness, intelligence and sophistication.  </span>
                          <span > In Victorian London, Dr. Frederick Treves with the London Hospital comes across a circus sideshow attraction run by a man named Bytes called "The Elephant Man". In actuality, the creature on display is indeed a man, twenty-one-year-old Joseph "John" Merrick, who has several physical deformities, including an oversized and disfigured skull, and an oversized and disfigured right shoulder. Brutish Bytes, his "owner", only wants whatever he can get economically by presenting Merrick as a freak. Treves manages to bring Merrick under his care at the hospital, not without several of its own obstacles, including being questioned by those in authority since Merrick cannot be cured. Treves initially believes Bytes' assertion that mute Merrick is an imbecile, but ultimately learns that Merrick can speak and is a well-read and articulate man. As news of Merrick hits the London newspapers, he becomes a celebrated curiosity amongst London's upper class, including with Mrs. Kendal, a famed actress. Despite treated much more humanely, the question becomes whether Treves' actions are a further exploitation of Merrick. And as Merrick becomes more famous, others try to get their two-cents worth from who still remains a curiosity and a freak to most, including to Bytes, who has since lost his meal ticket. -Huggo.  </span>
                          <span > Forever imprisoned inside a hideous, deformed body, the unfortunate, perpetually masked in a dreadful burlap sack Victorian fairground attraction exhibit, John Merrick, is forced to live a cruel life as a curiosity. Milked for every penny by the sadistic showman, Mr Bytes, the ridiculed and multiply disfigured Merrick crosses paths with the philanthropic physician, Frederick Treves, who offers Bytes a hefty compensation to conduct a more thorough examination at the London Hospital. However, how pure and humanitarian are sympathetic Treves' motives? Is the grotesque "Elephant Man" doomed to relive his horrible past? -Nick Riganas.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDVjNjIwOGItNDE3Ny00OThjLWE0NzQtZTU3YjMzZTZjMzhkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Elephant Man"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Southwark, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.4881</span>, <span class="lon">-0.0583</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Homerton University Hospital, Homerton Row, London, England E9 6SR, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5502725</span>, <span class="lon">-0.0460145</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Liverpool Street, City of London, London, EC2M 7PD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.517421</span>, <span class="lon">-0.082413</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Whitehall Place, 1 whitehall place, London, England SW1A 2AY, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.505185</span>, <span class="lon">-0.126569</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">2 Whitehall Court, Westminster, London, SW1A 2EL, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.505482</span>, <span class="lon">-0.124592</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tower Bridge, Tower Bridge Rd, London, England SE1 2LY, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.505525</span>, <span class="lon">-0.075372</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lower Clapton, E5 8HS, Hackney, London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5527</span>, <span class="lon">-0.0529</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lower Clapton, E5 8HS, Hackney, London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5527</span>, <span class="lon">-0.0529</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Broadgate Estate, 12 Exchange Sq, London, England EC2M 2QS, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.518807499999994</span>, <span class="lon">-0.083487</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Clink Street, Southwark, London, SE1 9FD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507014</span>, <span class="lon">-0.091364</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hackney, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5476</span>, <span class="lon">-0.0558</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Wembley, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.556</span>, <span class="lon">-0.3042</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Shad Thames, Southwark, London, SE1 2NQ, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.502513</span>, <span class="lon">-0.072185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.407444</span>, <span class="lon">-0.465177</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Jubilee Gardens, Belvedere Rd, London, England SE1 7JA, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5038505</span>, <span class="lon">-0.1183695</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Southwark, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.4881</span>, <span class="lon">-0.0583</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">St Mary Overie's Dock, London, England SE1 9BB, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.50667</span>, <span class="lon">-0.090379</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Westminster, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.5189</span>, <span class="lon">-0.1962</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Whitehall Ct, Westminster, London, SW1A 2NL, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.502907</span>, <span class="lon">-0.126071</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">54.2379333607472</span>, <span class="lon">-2.36966957036279</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Whitehall, SW1A 2AX, Westminster, London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.504651</span>, <span class="lon">-0.128436</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.407444, -0.465177], [51.4881, -0.0583], [51.4881, -0.0583]], "data": [{"lat": 51.4881, "lon": -0.0583, "name": "Southwark, Greater London, England, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 51.5502725, "lon": -0.0460145, "name": "Homerton University Hospital, Homerton Row, London, England E9 6SR, United Kingdom"}, {"lat": 51.517421, "lon": -0.082413, "name": "Liverpool Street, City of London, London, EC2M 7PD, United Kingdom"}, {"lat": 51.505185, "lon": -0.126569, "name": "Whitehall Place, 1 whitehall place, London, England SW1A 2AY, United Kingdom"}, {"lat": 51.505482, "lon": -0.124592, "name": "2 Whitehall Court, Westminster, London, SW1A 2EL, United Kingdom"}, {"lat": 51.505525, "lon": -0.075372, "name": "Tower Bridge, Tower Bridge Rd, London, England SE1 2LY, United Kingdom"}, {"lat": 51.5527, "lon": -0.0529, "name": "Lower Clapton, E5 8HS, Hackney, London, Greater London, England, United Kingdom"}, {"lat": 51.5527, "lon": -0.0529, "name": "Lower Clapton, E5 8HS, Hackney, London, Greater London, England, United Kingdom"}, {"lat": 51.518807499999994, "lon": -0.083487, "name": "Broadgate Estate, 12 Exchange Sq, London, England EC2M 2QS, United Kingdom"}, {"lat": 51.507014, "lon": -0.091364, "name": "Clink Street, Southwark, London, SE1 9FD, United Kingdom"}, {"lat": 51.5476, "lon": -0.0558, "name": "Hackney, Greater London, England, United Kingdom"}, {"lat": 51.556, "lon": -0.3042, "name": "Wembley, Greater London, England, United Kingdom"}, {"lat": 51.502513, "lon": -0.072185, "name": "Shad Thames, Southwark, London, SE1 2NQ, United Kingdom"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 51.5038505, "lon": -0.1183695, "name": "Jubilee Gardens, Belvedere Rd, London, England SE1 7JA, United Kingdom"}, {"lat": 51.4881, "lon": -0.0583, "name": "Southwark, Greater London, England, United Kingdom"}, {"lat": 51.50667, "lon": -0.090379, "name": "St Mary Overie\u0027s Dock, London, England SE1 9BB, United Kingdom"}, {"lat": 51.5189, "lon": -0.1962, "name": "Westminster, Greater London, England, United Kingdom"}, {"lat": 51.502907, "lon": -0.126071, "name": "Whitehall Ct, Westminster, London, SW1A 2NL, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}, {"lat": 51.504651, "lon": -0.128436, "name": "Whitehall, SW1A 2AX, Westminster, London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>