<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Forrest Gump</h3>
          <p class="card-text mb-0">


  <span > The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.  </span>
                          <span > Forrest Gump is a simple man with a low I.Q. but good intentions. He is running through childhood with his best and only friend Jenny. His 'mama' teaches him the ways of life and leaves him to choose his destiny. Forrest joins the army for service in Vietnam, finding new friends called Dan and Bubba, he wins medals, creates a famous shrimp fishing fleet, inspires people to jog, starts a ping-pong craze, creates the smiley, writes bumper stickers and songs, donates to people and meets the president several times. However, this is all irrelevant to Forrest who can only think of his childhood sweetheart Jenny Curran, who has messed up her life. Although in the end all he wants to prove is that anyone can love anyone. -aliw135.  </span>
                          <span > The movie Forrest Gump follows the life events of a man who shares the name as the title of the film. Gump faces many tribulations throughout his life, but he never lets any of them interfere with his happiness. From wearing braces on his legs, to having a below average IQ and even being shot, Gump continues to believe that good things will happen and goes after his dreams. While several less than ideal things occur during Gump's life, he manages to turn each setback into something good for him, such as when he finally gets his braces off he discovers that he is capable of running faster than most other people. This skill allows Gump to not only escape his bullies while he is a child in Greenbow, but also to gain a football scholarship, save many soldiers' lives and become famous for his ability. While Gump eventually achieves the majority of the things he hoped to throughout the movie, it proved a much more difficult task to win the heart of his life-long friend Jenny Curran. The movie is centered on Forrest Gump and the incidences that occur during his life, but during each period in his lifetime he thinks back of Jenny and how important she is to him. Although the two characters grew up together and shared a very close friendship, as the movie progresses they grow apart. This upsets Gump who cares immensely for the girl who had a rough start in life, and it seems the two always end up back in each other's lives, often in extraordinary ways like meeting in the Reflection Pond in D.C. Even though Gump is the main character of the film, it similarly tells the story of Curran and the hardships she faces. -Kathryn Logue.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Slow-witted Forrest Gump has never thought of himself as disadvantaged, and thanks to his supportive mother, he leads anything but a restricted life. Whether dominating on the gridiron as a college football star, fighting in Vietnam or captaining a shrimp boat, Forrest inspires people with his childlike optimism. But one person Forrest cares about most may be the most difficult to save -- his childhood love, the sweet but troubled Jenny. -Jwelch5742.  </span>
    <span class="additional-information" > Forrest Gump, an innocent and kind-hearted Alabama boy, has been dealing with other people's unkindness nearly all his life. Having grown up with beautiful Jenny, his only friend, Forrest yearns to learn all about the ways of the world and embarks on a mission to find his true purpose in life. Thrust into downright extraordinary situations, Forrest finds himself present at some of the most pivotal events in the second half of the 20th century, rubbing shoulders with influential and historical figures, including John F. Kennedy, Richard Nixon, a nice young man from England named John Lennon, and even a handsome but still unknown Elvis Presley. Throughout his existence, Forrest has been encountering life's randomness; however, in this earth, no one is insignificant. With his presence alone, one builds his own place in this world, unknowingly changing the flow of things, while fate floats like a feather in the wind. But, in this life-altering journey, is Forrest meant to find his destiny, and be with Jenny? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Forrest Gump"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chippewa Square, 16 W Hull St, Savannah, Georgia 31401, United States
            </td>
                <td class="table__cell">
                32.075812, -81.092963
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Marshall Point Lighthouse, Marshall Point Rd, Saint George, Maine 04860, United States
            </td>
                <td class="table__cell">
                43.9175855, -69.261014
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Savannah, Georgia, United States
            </td>
                <td class="table__cell">
                32.0835, -81.0998
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pemaquid, Maine, United States
            </td>
                <td class="table__cell">
                43.9069, -69.5147
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Monument Valley Tribal Park Road, Monument Valley, Utah 84531, United States
            </td>
                <td class="table__cell">
                36.998843, -110.1564878
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Beaufort, South Carolina, United States
            </td>
                <td class="table__cell">
                32.4316, -80.6698
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Valley of the Gods Road, Mexican Hat, Utah 84511, United States
            </td>
                <td class="table__cell">
                37.2349273, -109.8142298
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Flagstaff, Arizona, United States
            </td>
                <td class="table__cell">
                35.1995, -111.6514
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States
            </td>
                <td class="table__cell">
                34.0084455, -118.49869375
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Fripp Island South Carolina, Sea Horse Rd., Fripp Island, South Carolina 29920, United States
            </td>
                <td class="table__cell">
                32.318202, -80.475
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Twin Arrows, 38 Twin Arrows, Flagstaff, Arizona 86004, United States
            </td>
                <td class="table__cell">
                35.163317, -111.265803
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                3547 Combahee Road, Yemassee, South Carolina 29945, United States
            </td>
                <td class="table__cell">
                32.68775, -80.73423
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                The Biltmore Estate, 1 Approach Rd, Asheville, North Carolina 28803, United States
            </td>
                <td class="table__cell">
                35.540648624999996, -82.55221975
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Grandfather Mountain, 2050 Blowing Rock Hwy, Linville, North Carolina 28646, United States
            </td>
                <td class="table__cell">
                36.095927, -81.832008
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pritchardville, Bluffton, South Carolina, United States
            </td>
                <td class="table__cell">
                32.238, -80.9643
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Orange, California, United States
            </td>
                <td class="table__cell">
                33.7873, -117.8503
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Lucerne, Culver City, California, United States
            </td>
                <td class="table__cell">
                34.023436, -118.385189
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Montana, United States
            </td>
                <td class="table__cell">
                47.0725146587, -109.172599073804
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                5555 Melrose Avenue, Los Angeles, California 90038, United States
            </td>
                <td class="table__cell">
                34.08363, -118.32191
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                University of Southern California, U S C, Los Angeles, California 90089, United States
            </td>
                <td class="table__cell">
                34.022018, -118.2853775
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Varnville, South Carolina, United States
            </td>
                <td class="table__cell">
                32.8504, -81.0793
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glacier National Park, Polebridge, Montana 59417, United States
            </td>
                <td class="table__cell">
                48.75981, -113.788147
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wilshire, Santa Monica, California, United States
            </td>
                <td class="table__cell">
                34.0268, -118.5017
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1301 Avenida Cesar Chavez, Monterey Park, California 91754, United States
            </td>
                <td class="table__cell">
                34.04045, -118.15007
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Monument Valley, Arizona, United States
            </td>
                <td class="table__cell">
                36.9867, -110.1911
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hollywood Blvd, Burbank, California 90027, United States
            </td>
                <td class="table__cell">
                34.15843, -118.34964
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Lincoln Memorial, 2 Lincoln Memorial Circle NW, Washington, District of Columbia 20037, United States
            </td>
                <td class="table__cell">
                38.8892725, -77.0501525
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                612 West 35th Place, Los Angeles, California 90018, United States
            </td>
                <td class="table__cell">
                34.023692, -118.295926
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                3550 Trousdale Parkway, Los Angeles, California 90089, United States
            </td>
                <td class="table__cell">
                34.02094, -118.28463
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[32.075812, -81.092963], [32.0835, -81.0998], [32.238, -80.9643]], "data": [{"lat": 32.075812, "lon": -81.092963, "name": "Chippewa Square, 16 W Hull St, Savannah, Georgia 31401, United States"}, {"lat": 43.9175855, "lon": -69.261014, "name": "Marshall Point Lighthouse, Marshall Point Rd, Saint George, Maine 04860, United States"}, {"lat": 32.0835, "lon": -81.0998, "name": "Savannah, Georgia, United States"}, {"lat": 43.9069, "lon": -69.5147, "name": "Pemaquid, Maine, United States"}, {"lat": 36.998843, "lon": -110.1564878, "name": "Monument Valley Tribal Park Road, Monument Valley, Utah 84531, United States"}, {"lat": 32.4316, "lon": -80.6698, "name": "Beaufort, South Carolina, United States"}, {"lat": 37.2349273, "lon": -109.8142298, "name": "Valley of the Gods Road, Mexican Hat, Utah 84511, United States"}, {"lat": 35.1995, "lon": -111.6514, "name": "Flagstaff, Arizona, United States"}, {"lat": 34.0084455, "lon": -118.49869375, "name": "Santa Monica Pier, 200 Santa Monica Pier, Santa Monica, California 90401, United States"}, {"lat": 32.318202, "lon": -80.475, "name": "Fripp Island South Carolina, Sea Horse Rd., Fripp Island, South Carolina 29920, United States"}, {"lat": 35.163317, "lon": -111.265803, "name": "Twin Arrows, 38 Twin Arrows, Flagstaff, Arizona 86004, United States"}, {"lat": 32.68775, "lon": -80.73423, "name": "3547 Combahee Road, Yemassee, South Carolina 29945, United States"}, {"lat": 35.540648624999996, "lon": -82.55221975, "name": "The Biltmore Estate, 1 Approach Rd, Asheville, North Carolina 28803, United States"}, {"lat": 36.095927, "lon": -81.832008, "name": "Grandfather Mountain, 2050 Blowing Rock Hwy, Linville, North Carolina 28646, United States"}, {"lat": 32.238, "lon": -80.9643, "name": "Pritchardville, Bluffton, South Carolina, United States"}, {"lat": 33.7873, "lon": -117.8503, "name": "Orange, California, United States"}, {"lat": 34.023436, "lon": -118.385189, "name": "Lucerne, Culver City, California, United States"}, {"lat": 47.0725146587, "lon": -109.172599073804, "name": "Montana, United States"}, {"lat": 34.08363, "lon": -118.32191, "name": "5555 Melrose Avenue, Los Angeles, California 90038, United States"}, {"lat": 34.022018, "lon": -118.2853775, "name": "University of Southern California, U S C, Los Angeles, California 90089, United States"}, {"lat": 32.8504, "lon": -81.0793, "name": "Varnville, South Carolina, United States"}, {"lat": 48.75981, "lon": -113.788147, "name": "Glacier National Park, Polebridge, Montana 59417, United States"}, {"lat": 34.0268, "lon": -118.5017, "name": "Wilshire, Santa Monica, California, United States"}, {"lat": 34.04045, "lon": -118.15007, "name": "1301 Avenida Cesar Chavez, Monterey Park, California 91754, United States"}, {"lat": 36.9867, "lon": -110.1911, "name": "Monument Valley, Arizona, United States"}, {"lat": 34.15843, "lon": -118.34964, "name": "Hollywood Blvd, Burbank, California 90027, United States"}, {"lat": 38.8892725, "lon": -77.0501525, "name": "Lincoln Memorial, 2 Lincoln Memorial Circle NW, Washington, District of Columbia 20037, United States"}, {"lat": 34.023692, "lon": -118.295926, "name": "612 West 35th Place, Los Angeles, California 90018, United States"}, {"lat": 34.02094, "lon": -118.28463, "name": "3550 Trousdale Parkway, Los Angeles, California 90089, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>