<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Forrest Gump</h3>
                        <p class="card-text">
                          The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Forrest Gump"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Chippewa Square, Savannah, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.075812</span>, <span class="lon">-81.092963</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Marshall Point Lighthouse, Port Clyde, Maine, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.9175855</span>, <span class="lon">-69.261014</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Savannah, Georgia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.0835</span>, <span class="lon">-81.0998</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Monument Valley, Utah, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.998843</span>, <span class="lon">-110.1564878</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pemaquid, Maine, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 43.9069</span>, <span class="lon">-69.5147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Valley of the Gods, Mexican Hat, Utah, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.2349273</span>, <span class="lon">-109.8142298</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Beaufort, South Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.4316</span>, <span class="lon">-80.6698</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Flagstaff, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.1995</span>, <span class="lon">-111.6514</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Santa Monica Pier, Santa Monica, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0084455</span>, <span class="lon">-118.49869375</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fripp Island, South Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.318202</span>, <span class="lon">-80.475</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Twin Arrows, Arizona, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.163317</span>, <span class="lon">-111.265803</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bluff Plantation   3547 Combahee Road, Yemassee, South Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.68775</span>, <span class="lon">-80.73423</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Biltmore Estate   1 Approach Road, Asheville, North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.540648624999996</span>, <span class="lon">-82.55221975</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Grandfather Mountain, Linville, North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.095927</span>, <span class="lon">-81.832008</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pritchardville, South Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.238</span>, <span class="lon">-80.9643</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Orange, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.7873</span>, <span class="lon">-117.8503</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Ebell of Los Angeles   743 S Lucerne Blvd, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.06071</span>, <span class="lon">-118.32483</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Blackfeet Indian Reservation, Montana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.11815</span>, <span class="lon">-105.19674</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08918</span>, <span class="lon">-118.38055</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                University of Southern California, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.022018</span>, <span class="lon">-118.2853775</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glacier National Park, Montana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.75981</span>, <span class="lon">-113.788147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Varnville, South Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.8504</span>, <span class="lon">-81.0793</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ambassador Hotel   3400 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.039747</span>, <span class="lon">-118.472854</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                East Los Angeles College   1301 Avenida Cesar Chavez, Monterey Park, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04045</span>, <span class="lon">-118.15007</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Monument Valley, Arizona, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.9867</span>, <span class="lon">-110.1911</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Grauman's Chinese Theater   6925 Hollywood Blvd., Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15843</span>, <span class="lon">-118.34964</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lincoln Memorial, National Mall, Washington, District of Columbia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 38.8892725</span>, <span class="lon">-77.0501525</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Marks Hall   612 W. 35th Place, University of Southern California, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.023692</span>, <span class="lon">-118.295926</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Edward L. Doheny Jr. Memorial Library, University of Southern California   3550 Trousdale Parkway, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.02</span>, <span class="lon">-118.29</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>