<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Father</h3>
          <p class="card-text mb-0">


  <span > A man refuses all assistance from his daughter as he ages. As he tries to make sense of his changing circumstances, he begins to doubt his loved ones, his own mind and even the fabric of his reality.  </span>
                          <span > Having just scared off his recent caregiver, Anthony, an ailing, octogenarian Londoner gradually succumbing to dementia, feels abandoned when concerned Anne, his daughter, tells him she's moving to Paris. Confused and upset, against the backdrop of a warped perspective and his rapid, heart-rending mental decline, Anthony is starting to lose his grip on reality, struggling to navigate the opaque landscape of present and past. Now, as faded memories and glimpses of lucidity trigger sudden mood swings, dear ones, Anthony's surroundings, and even time itself become distorted. Why has his younger daughter stopped visiting? Who are the strangers that burst in on Anthony? -Nick Riganas.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZGJhNWRiOWQtMjI4OS00ZjcxLTgwMTAtMzQ2ODkxY2JkOTVlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Father"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">23 Berghem Mews, Hammersmith and Fulham, London, W14 0HD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.498336</span>, <span class="lon">-0.218503</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West London Film Studios, Springfield Road, Hayes, England UB4 0RG, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.509453</span>, <span class="lon">-0.398006</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">23 Berghem Mews, Hammersmith and Fulham, London, W14 0HD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.498336</span>, <span class="lon">-0.218503</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Berghem Mws, Hammersmith and Fulham, London, W14 0HD, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.498336</span>, <span class="lon">-0.218503</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Kensington, W14 9EP, Hammersmith and Fulham, London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.4909928</span>, <span class="lon">-0.207486</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lauderdale Road, Westminster, London, W9 1LY, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.52758</span>, <span class="lon">-0.187174</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Elgin Avenue, Harrow, HA3 8QT, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.598619</span>, <span class="lon">-0.319124</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">London, Greater London, England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">51.507321899999994</span>, <span class="lon">-0.12764739999999997</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">England, United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">52.38145972</span>, <span class="lon">-0.676181762467007</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United Kingdom </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">54.2379333607472</span>, <span class="lon">-2.36966957036279</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.4909928, -0.207486], [51.498336, -0.218503], [51.498336, -0.218503]], "data": [{"lat": 51.498336, "lon": -0.218503, "name": "23 Berghem Mews, Hammersmith and Fulham, London, W14 0HD, United Kingdom"}, {"lat": 51.509453, "lon": -0.398006, "name": "West London Film Studios, Springfield Road, Hayes, England UB4 0RG, United Kingdom"}, {"lat": 51.498336, "lon": -0.218503, "name": "23 Berghem Mews, Hammersmith and Fulham, London, W14 0HD, United Kingdom"}, {"lat": 51.498336, "lon": -0.218503, "name": "Berghem Mws, Hammersmith and Fulham, London, W14 0HD, United Kingdom"}, {"lat": 51.4909928, "lon": -0.207486, "name": "West Kensington, W14 9EP, Hammersmith and Fulham, London, Greater London, England, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 51.52758, "lon": -0.187174, "name": "Lauderdale Road, Westminster, London, W9 1LY, United Kingdom"}, {"lat": 51.598619, "lon": -0.319124, "name": "Elgin Avenue, Harrow, HA3 8QT, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>