<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Shining</h3>
                        <p class="card-text">
                          A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZWFlYmY2MGEtZjVkYS00YzU4LTg0YjQtYzY1ZGE3NTA5NGQxXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Shining"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Timberline Lodge, Mount Hood, Oregon, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 45.49</span>, <span class="lon">-122.41</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Going to the Sun Road, Glacier National Park, Montana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.67868</span>, <span class="lon">-113.81844</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Saint Mary Lake, Glacier National Park, Montana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.7439</span>, <span class="lon">-113.4295</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glacier National Park, Montana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 48.75981</span>, <span class="lon">-113.788147</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Kensington Apartment Homes   2950 Bixby Lane, Boulder, Colorado, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 40.015</span>, <span class="lon">-105.2705</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stansted Airport, Essex, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.887685</span>, <span class="lon">0.2483265</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                American Legion Hollywood Post 43, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.105196</span>, <span class="lon">-118.329921</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 5, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Backlot, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 3, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 7, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 8, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Backlot, MGM British Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.6578</span>, <span class="lon">-0.2723</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stage 9, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Mound, Backlot, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.657803</span>, <span class="lon">-0.269703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canterbury House, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.661413</span>, <span class="lon">-0.275182</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>