<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Ford v Ferrari</h3>
                        <p class="card-text">
                          American car designer Carroll Shelby and driver Ken Miles battle corporate interference and the laws of physics to build a revolutionary race car for Ford in order to defeat Ferrari at the 24 Hours of Le Mans in 1966.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2UwMDVmMDItM2I2Yi00NGZmLTk4ZTUtY2JjNTQ3OGQ5ZjM2XkEyXkFqcGdeQXVyMTA1OTYzOTUx.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Ford v Ferrari"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Savannah, Georgia, USA 
            </td>   
                <td class="table__cell">
                32.0835, -81.0998
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Willow Springs International Motorsports Park, Rosamond, California, USA 
            </td>   
                <td class="table__cell">
                34.8783, -118.2967
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                6311 Meridian St, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.12023, -118.17877
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                645 N Avenue 64, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.11998, -118.17846
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Auto Club Speedway   9300 Cherry Avenue, Fontana, California, USA 
            </td>   
                <td class="table__cell">
                34.0922, -117.435
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Statesboro, Georgia, USA 
            </td>   
                <td class="table__cell">
                32.449, -81.7833
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Road Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                34.150789, -83.81415
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glendale, California, USA 
            </td>   
                <td class="table__cell">
                34.1423, -118.2484
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ontario International Airport   2900 E. Airport Drive, Ontario, California, USA 
            </td>   
                <td class="table__cell">
                34.0658, -117.6484
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Agua Dulce Airpark   33638 Agua Dulce Canyon Rd, Santa Clarita, California, USA 
            </td>   
                <td class="table__cell">
                34.50006, -118.32424
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                N Brand Blvd and W Dryden St., Glendale, California, USA 
            </td>   
                <td class="table__cell">
                34.161457, -118.255091
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ontario, California, USA
            </td>   
                <td class="table__cell">
                34.0658, -117.6484
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Georgia, USA
            </td>   
                <td class="table__cell">
                32.3305706594, -83.2572560296474
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Fontana, California, USA
            </td>   
                <td class="table__cell">
                34.0922, -117.435
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>