<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Ford v Ferrari</h3>
                        <p class="card-text">
                          American car designer Carroll Shelby and driver Ken Miles battle corporate interference and the laws of physics to build a revolutionary race car for Ford in order to defeat Ferrari at the 24 Hours of Le Mans in 1966.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BM2UwMDVmMDItM2I2Yi00NGZmLTk4ZTUtY2JjNTQ3OGQ5ZjM2XkEyXkFqcGdeQXVyMTA1OTYzOTUx.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Ford v Ferrari"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Savannah, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.0835</span>, <span class="lon">-81.0998</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Willow Springs International Motorsports Park, Rosamond, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.8783</span>, <span class="lon">-118.2967</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                6311 Meridian St, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.12023</span>, <span class="lon">-118.17877</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                645 N Avenue 64, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.11998</span>, <span class="lon">-118.17846</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Auto Club Speedway   9300 Cherry Avenue, Fontana, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0922</span>, <span class="lon">-117.435</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Statesboro, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.449</span>, <span class="lon">-81.7833</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Road Atlanta, Georgia, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150789</span>, <span class="lon">-83.81415</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glendale, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1423</span>, <span class="lon">-118.2484</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ontario International Airport   2900 E. Airport Drive, Ontario, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0658</span>, <span class="lon">-117.6484</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Agua Dulce Airpark   33638 Agua Dulce Canyon Rd, Santa Clarita, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.50006</span>, <span class="lon">-118.32424</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                N Brand Blvd and W Dryden St., Glendale, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.161457</span>, <span class="lon">-118.255091</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ontario, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0658</span>, <span class="lon">-117.6484</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Georgia, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.3305706594</span>, <span class="lon">-83.2572560296474</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Fontana, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0922</span>, <span class="lon">-117.435</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.0743595873</span>, <span class="lon">-119.699375153073</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>