<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Dune</h3>
          <p class="card-text mb-0">


  <span > A noble family becomes embroiled in a war for control over the galaxy's most valuable asset while its heir becomes troubled by visions of a dark future.  </span>
                          <span > A mythic and emotionally charged hero's journey, "Dune" tells the story of Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, who must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet's exclusive supply of the most precious resource in existence-a commodity capable of unlocking humanity's greatest potential-only those who can conquer their fear will survive. -Warner Bros.  </span>
                          <span > In the far future of humanity, Duke Leto Atreides accepts stewardship of the dangerous desert planet Arrakis, the only source of the most valuable substance in the universe, "the spice", a drug which extends human life and provides accelerated levels of thought.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Year 10191. Summoned by the emperor to take over the stewardship of the arid, inhospitable planet Arrakis--the only source of Spice, the sacred hallucinogen--Duke Leto of the noble House Atreides and his family travel to the peril-laden exoplanet. But there, beset by indecipherable visions, Paul Atreides, the duke's gifted son, finds himself caught between two worlds, as the grotesque Baron Vladimir of the brutal House Harkonnen plots revenge. Now, the road to legend leads deep into the desert. Can Paul fulfil his destiny in far-off Dune, the home of the mysterious, blue-eyed Fremen? -Nick Riganas.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BN2FjNmEyNWMtYzM0ZS00NjIyLTg5YzYtYThlMGVjNzE1OGViXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Dune"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Run Jordan, Shamesani, اممان, Amman, Jordan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">31.969741</span>, <span class="lon">35.900547</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Stadlandet, Vestland, Norway </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">62.13</span>, <span class="lon">5.31</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Oasis, Yas Mall-inside Debenhams, Abu Dhabi, United Arab Emirates </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">24.29187</span>, <span class="lon">54.3631</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">220 Volt, Szegedi út 42-44., Budapest, 1135, Hungary </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.528941</span>, <span class="lon">19.083222</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Jordan </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">31.0101920713363</span>, <span class="lon">36.4358628369717</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Norway </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">61.2483331493152</span>, <span class="lon">8.80482073895072</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Abu Dhabi, Abu Dhabi, United Arab Emirates </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">24.4748</span>, <span class="lon">54.3706</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Austria </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.6077978292689</span>, <span class="lon">14.3001435907641</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Slovakia </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">48.7075308687827</span>, <span class="lon">19.4916510938648</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United Arab Emirates </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">23.8520599823879</span>, <span class="lon">54.2561723713588</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[23.8520599823879, 54.2561723713588], [24.29187, 54.3631], [24.4748, 54.3706]], "data": [{"lat": 31.969741, "lon": 35.900547, "name": "Run Jordan, Shamesani, \u0627\u0645\u0645\u0627\u0646, Amman, Jordan"}, {"lat": 62.13, "lon": 5.31, "name": "Stadlandet, Vestland, Norway"}, {"lat": 24.29187, "lon": 54.3631, "name": "Oasis, Yas Mall-inside Debenhams, Abu Dhabi, United Arab Emirates"}, {"lat": 47.528941, "lon": 19.083222, "name": "220 Volt, Szegedi \u00fat 42-44., Budapest, 1135, Hungary"}, {"lat": 31.0101920713363, "lon": 36.4358628369717, "name": "Jordan"}, {"lat": 61.2483331493152, "lon": 8.80482073895072, "name": "Norway"}, {"lat": 24.4748, "lon": 54.3706, "name": "Abu Dhabi, Abu Dhabi, United Arab Emirates"}, {"lat": 47.6077978292689, "lon": 14.3001435907641, "name": "Austria"}, {"lat": 48.7075308687827, "lon": 19.4916510938648, "name": "Slovakia"}, {"lat": 23.8520599823879, "lon": 54.2561723713588, "name": "United Arab Emirates"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
else if (!locations[0].bbox){

  console.log('no box')
  console.log(locations[0].data[0].lat)
  let lat = locations[0].data[0].lat
  let lon = locations[0].data[0].lon
map.setView([lat, lon], 20);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>