<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Se7en</h3>
                        <p class="card-text">
                          Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Se7en"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Pacific Electric Building, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                123 E. 6th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04491, -118.24916
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.05, -118.23
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Alexandria Hotel   501 S. Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rosslyn Hotel   112 W. 5th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04687, -118.24902
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mojave, California, USA
            </td>   
                <td class="table__cell">
                35.0525, -118.174
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Giant Penny Building   3rd Street & Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Spring Street Towers   650 S. Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.92, -118.42
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York Pizza Express   6302 Hollywood Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.105196, -118.329921
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                746 S. San Pedro Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.03952, -118.24772
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ambassador Hotel   3400 Wilshire Boulevard, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.039747, -118.472854
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Salon Pure   117 E. 6th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04499, -118.2493
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Biltmore Hotel Limousine lane/V.I.P. Ramp, 530 South Grand Ave, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.13656, -118.161755
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Quality Coffee Shop   1238 West 7th Street, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                673 Mateo Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.035513, -118.232398
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chester Williams Building   215 W. 5th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                34.150955, -118.339232
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lancaster, California, USA 
            </td>   
                <td class="table__cell">
                34.6981, -118.1366
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hotel Alexandria   501 South Spring Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                33.899369, -118.218164
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>