<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Se7en</h3>
                        <p class="card-text">
                          Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Se7en"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Pacific Electric Building, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                123 E. 6th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04491</span>, <span class="lon">-118.24916</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05</span>, <span class="lon">-118.23</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alexandria Hotel   501 S. Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.92</span>, <span class="lon">-118.42</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rosslyn Hotel   112 W. 5th Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04687</span>, <span class="lon">-118.24902</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mojave, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.0525</span>, <span class="lon">-118.174</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Giant Penny Building   3rd Street & Broadway, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.92</span>, <span class="lon">-118.42</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Spring Street Towers   650 S. Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.92</span>, <span class="lon">-118.42</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New York Pizza Express   6302 Hollywood Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.105196</span>, <span class="lon">-118.329921</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                746 S. San Pedro Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.03952</span>, <span class="lon">-118.24772</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ambassador Hotel   3400 Wilshire Boulevard, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.039747</span>, <span class="lon">-118.472854</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Salon Pure   117 E. 6th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04499</span>, <span class="lon">-118.2493</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Biltmore Hotel Limousine lane/V.I.P. Ramp, 530 South Grand Ave, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.13656</span>, <span class="lon">-118.161755</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Quality Coffee Shop   1238 West 7th Street, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                673 Mateo Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.035513</span>, <span class="lon">-118.232398</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chester Williams Building   215 W. 5th. Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Warner Brothers Burbank Studios   4000 Warner Boulevard, Burbank, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.150955</span>, <span class="lon">-118.339232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Lancaster, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.6981</span>, <span class="lon">-118.1366</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.0743595873</span>, <span class="lon">-119.699375153073</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hotel Alexandria   501 South Spring Street, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.899369</span>, <span class="lon">-118.218164</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>