<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Star Wars: Episode V - The Empire Strikes Back</h3>
                        <p class="card-text">
                          After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Star Wars: Episode V - The Empire Strikes Back"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hardangerjøkulen Glacier, Finse, Norway 
            </td>   
                <td class="table__cell">
                60.069069, 6.545947
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lee International Studios, Wembley, London, England, UK 
            </td>   
                <td class="table__cell">
                51.556, -0.3042
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 2, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 6/Star Wars Stage, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 8, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 5, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 9, Elstree Studios, Borehamwood, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Francisco Armory, 1800 Mission Street, San Francisco, California, USA 
            </td>   
                <td class="table__cell">
                37.76784, -122.42038
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Francisco, California, USA
            </td>   
                <td class="table__cell">
                37.7648, -122.463
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                51.6578, -0.2723
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                51.8333, -0.25
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wembley, London, England, UK
            </td>   
                <td class="table__cell">
                51.5524, -0.2969
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, England, UK
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, UK
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                
            </td>   
                <td class="table__cell">
                </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>