<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Star Wars: Episode V - The Empire Strikes Back</h3>
          <p class="card-text mb-0">


  <span > After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.  </span>
                          <span > Luke Skywalker, Han Solo, Princess Leia and Chewbacca face attack by the Imperial forces and its AT-AT walkers on the ice planet Hoth. While Han and Leia escape in the Millennium Falcon, Luke travels to Dagobah in search of Yoda. Only with the Jedi Master's help will Luke survive when the Dark Side of the Force beckons him into the ultimate duel with Darth Vader. -Jwelch5742.  </span>
                          <span > Fleeing the evil Galactic Empire, the Rebels abandon their new base Zac Thru off saw in an assault with the Imperial AT-AT walkers on the ice world of Hoth. Ed Princess Leia, Han Solo, Chewbacca, and C-3PO escape in the Millennium Falcon, but are later captured by Darth Vader on Bespin. Meanwhile, Luke Skywalker and R2-D2 follow Obi-wan Kenobi's posthumous command, and receives Jedi trainingWe W from Master Yoda on the swamp world of Dagobah. Will Skywalker manage seeduee e to rescue his friends from the Dark Lord? -James Pearce .  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > After receiving a vision from Obi-wan Kenobi and fleeing the ice world of Hoth with his friends after an Imperial attack, Luke Skywalker travels to the marsh planet of Dagobah, where he is instructed in the ways of the Force by the legendary Jedi Master Yoda. Meanwhile, Han Solo and Princess Leia make their way to planet Bespin, where they are greeted by Han's old friend, a shifty gambler named Lando Calrissian. Ambushed by the Empire shortly after their arrival, Han and his friends are imprisoned by Darth Vader. Luke leaves Dagobah to rescue his friends, and is met by Vader and a startling revelation. -Logic .  </span>
    <span class="additional-information" > In this movie, the battle to save the galaxy from the evil Darth Vader rages on. Han Solo, Princess Leia, and Chewbacca are tested in a devastating attack by the Imperial army and its AT-AT walkers. Meanwhile, Luke Skywalker seeks out the ancient Yoda to learn the secrets of the Jedi, secrets Luke will need when the Dark Side of the Force beckons him in a destiny-defining duel with Darth Vader. -Robert Lynch .  </span>
    <span class="additional-information" > The story of Luke Skywalker, Han Solo, Princess Leia, and the others did not end with the destruction of the Death Star, it continues in this movie. Imperial forces have since driven the Rebels to hide on the ice world of Hoth. But even on such an icy, backwater world, they cannot escape the evil Darth Vader's eyes for long, and he devastates the Rebel base in an assault with the Imperial AT-AT walkers. Luke flees to Dagobah to begin Jedi training with Master Yoda, while Han Solo, Chewbacca, Princess Leia, and C-3PO run the blockade of Imperial Star Destroyers in the Millennium Falcon. The Imperials pursue them across the galaxy and eventually catch up with them on Bespin. Now Darth Vader plans to use them as bait to lure Luke Skywalker to him, and turns Han Solo over to Boba Fett as a prize to be delivered to crime lord Jabba the Hutt. Luke learns a terrible family secret after losing a swordfight with the Dark Lord. Will he, and the others, escape the Empire's clutches? -medic249a2.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYmU1NDRjNDgtMzhiMi00NjZmLTg5NGItZDNiZjU5NTU4OTE0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Star Wars: Episode V - The Empire Strikes Back"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glacier, Eitrheimsvegen 9, Odda, Vestland 5750, Norway
            </td>
                <td class="table__cell">
                60.069069, 6.545947
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wembley, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.556, -0.3042
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>
                <td class="table__cell">
                51.657803, -0.269703
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1800 Mission Street, San Francisco, California 94103, United States
            </td>
                <td class="table__cell">
                37.76784, -122.42038
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San Francisco, California, United States
            </td>
                <td class="table__cell">
                37.7648, -122.463
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Norway
            </td>
                <td class="table__cell">
                61.2483331493152, 8.80482073895072
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Borehamwood, Hertfordshire, England, United Kingdom
            </td>
                <td class="table__cell">
                51.6578, -0.2723
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hertfordshire, England, United Kingdom
            </td>
                <td class="table__cell">
                51.8333, -0.25
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wembley, HA0 4AH, Brent, Wembley, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.5524, -0.2969
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                United Kingdom
            </td>
                <td class="table__cell">
                54.2379333607472, -2.36966957036279
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.507321899999994, -0.12764739999999997], [51.5524, -0.2969], [51.556, -0.3042]], "data": [{"lat": 60.069069, "lon": 6.545947, "name": "Glacier, Eitrheimsvegen 9, Odda, Vestland 5750, Norway"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.556, "lon": -0.3042, "name": "Wembley, Greater London, England, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 37.76784, "lon": -122.42038, "name": "1800 Mission Street, San Francisco, California 94103, United States"}, {"lat": 37.7648, "lon": -122.463, "name": "San Francisco, California, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 61.2483331493152, "lon": 8.80482073895072, "name": "Norway"}, {"lat": 51.6578, "lon": -0.2723, "name": "Borehamwood, Hertfordshire, England, United Kingdom"}, {"lat": 51.8333, "lon": -0.25, "name": "Hertfordshire, England, United Kingdom"}, {"lat": 51.5524, "lon": -0.2969, "name": "Wembley, HA0 4AH, Brent, Wembley, Greater London, England, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 54.2379333607472, "lon": -2.36966957036279, "name": "United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>