<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Logan</h3>
                        <p class="card-text">
                          In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety. In 2029 the mutant population has shrunken significantly due to genetically modified plants designed to reduce mutant powers and the X-Men have disbanded. Logan, whose power to self-heal is dwindling, has surrendered himself to alcohol and now earns a living as a chauffeur. He takes care of the ailing old Professor X whom he keeps hidden away. One day, a female stranger asks Logan to drive a girl named Laura to the Canadian border. At first he refuses, but the Professor has been waiting for a long time for her to appear. Laura possesses an extraordinary fighting prowess and is in many ways like Wolverine. She is pursued by sinister figures working for a powerful corporation; this is because they made her, with Logan's DNA. A decrepit Logan is forced to ask himself if he can or even wants to put his remaining powers to good use. It would appear that in the near-future, the times in which they were able put the world to rights with razor sharp claws and telepathic powers are now over. In the not-so-distant 2029, the entire mutant race is almost obliterated, and Logan, the invincible bestial superhero once known as the Wolverine, finds himself getting old, and his incredible healing ability significantly weakened. As an incognito limo driver, Logan does his best to guard and keep out of sight a weary nonagenarian Professor Xavier; however, things will take an unexpected turn when a cryptic woman asks him to transport the young mutant girl, Laura. A better future lies past the Canadian borders for the unaccompanied teenager, but the government is unwilling to let go of its asset so easily. In the end, can the ageing Logan protect both himself and Laura?::Nick Riganas In a dystopian 2029, no mutants have been born in 25 years. Logan's healing ability has weakened and he has physically aged. The Adamantium coating on his skeleton has begun to leach into his body, poisoning him. Hiding in plain sight, Logan spends his days working as a limo driver in El Paso, Texas. In an abandoned smelting plant in northern Mexico, he and mutant tracker Caliban care for 90-year-old Charles Xavier, Logan's mentor and founder of the X-Men. Charles, a telepath, has developed a form of dementia that causes him to have seizures unless controlled with medication. It is alluded that a seizure one year prior, releasing a destructive wave of his telepathic powers, had killed seven mutants, thus leaving the three (Logan, Charles, Caliban) as the last of the X-Men.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Logan"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Northern Meadows, Rio Rancho, New Mexico, United States
            </td>   
                <td class="table__cell">
                35.31, -106.71
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, United States
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Placerita Canyon, Newhall, California, United States
            </td>   
                <td class="table__cell">
                34.37, -118.51
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ferriday, Louisiana, United States
            </td>   
                <td class="table__cell">
                31.6302, -91.5546
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oklahoma City, Oklahoma, United States
            </td>   
                <td class="table__cell">
                35.473, -97.5171
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pauls Valley, Oklahoma, United States
            </td>   
                <td class="table__cell">
                34.7401, -97.2222
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Canal Boulevard, New Orleans, Louisiana 70124, United States
            </td>   
                <td class="table__cell">
                30.0037, -90.1086
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                1500 Poydras Street, New Orleans, Louisiana 70112, United States
            </td>   
                <td class="table__cell">
                29.952057, -90.078904
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Metairie, Louisiana, United States
            </td>   
                <td class="table__cell">
                29.99, -90.1505
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, United States
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rio Rancho, New Mexico, United States
            </td>   
                <td class="table__cell">
                35.2334, -106.6645
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                125 East Oak Street, Amite, Louisiana 70422, United States
            </td>   
                <td class="table__cell">
                30.72688, -90.507275
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New Mexico, United States
            </td>   
                <td class="table__cell">
                34.32485649, -105.998350627305
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New Orleans, Louisiana, United States
            </td>   
                <td class="table__cell">
                29.9499, -90.0701
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Louisiana, United States
            </td>   
                <td class="table__cell">
                30.93749930159, -92.305998069584
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oklahoma, United States
            </td>   
                <td class="table__cell">
                35.9015874097, -97.5389608460746
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                United States
            </td>   
                <td class="table__cell">
                39.3812661305678, -97.9222112121185
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                125 East Oak Street, Amite, Louisiana 70422, United States
            </td>   
                <td class="table__cell">
                30.72688, -90.507275
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[29.9499, -90.0701], [29.952057, -90.078904], [29.99, -90.1505]], "data": [{"lat": 35.31, "lon": -106.71, "name": "Northern Meadows, Rio Rancho, New Mexico, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.37, "lon": -118.51, "name": "Placerita Canyon, Newhall, California, United States"}, {"lat": 31.6302, "lon": -91.5546, "name": "Ferriday, Louisiana, United States"}, {"lat": 35.473, "lon": -97.5171, "name": "Oklahoma City, Oklahoma, United States"}, {"lat": 34.7401, "lon": -97.2222, "name": "Pauls Valley, Oklahoma, United States"}, {"lat": 30.0037, "lon": -90.1086, "name": "Canal Boulevard, New Orleans, Louisiana 70124, United States"}, {"lat": 29.952057, "lon": -90.078904, "name": "1500 Poydras Street, New Orleans, Louisiana 70112, United States"}, {"lat": 29.99, "lon": -90.1505, "name": "Metairie, Louisiana, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 35.2334, "lon": -106.6645, "name": "Rio Rancho, New Mexico, United States"}, {"lat": 30.72688, "lon": -90.507275, "name": "125 East Oak Street, Amite, Louisiana 70422, United States"}, {"lat": 34.32485649, "lon": -105.998350627305, "name": "New Mexico, United States"}, {"lat": 29.9499, "lon": -90.0701, "name": "New Orleans, Louisiana, United States"}, {"lat": 30.93749930159, "lon": -92.305998069584, "name": "Louisiana, United States"}, {"lat": 35.9015874097, "lon": -97.5389608460746, "name": "Oklahoma, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 30.72688, "lon": -90.507275, "name": "125 East Oak Street, Amite, Louisiana 70422, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>