<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Logan</h3>
                        <p class="card-text">
                          In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Logan"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Just outside Northern Meadows community, Rio Rancho, New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.31</span>, <span class="lon">-106.71</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0544</span>, <span class="lon">-118.2439</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Walt Disney's Golden Oak Ranch   19802 Placerita Canyon Road, Newhall, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.37</span>, <span class="lon">-118.51</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ferriday, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 31.6302</span>, <span class="lon">-91.5546</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Oklahoma City, Oklahoma, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.473</span>, <span class="lon">-97.5171</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Pauls Valley, Oklahoma, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.7401</span>, <span class="lon">-97.2222</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canal Street, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.965685</span>, <span class="lon">-90.086885</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Superdome   1500 Poydras Street, New Orleans, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.952057</span>, <span class="lon">-90.078904</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Metairie, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.99</span>, <span class="lon">-90.1505</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.0743595873</span>, <span class="lon">-119.699375153073</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Rio Rancho, New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.2334</span>, <span class="lon">-106.6645</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                125 W Oak St, Amite City, LA 70422, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.72688</span>, <span class="lon">-90.507275</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New Mexico, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.32485649</span>, <span class="lon">-105.998350627305</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                New Orleans, Louisiana, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 29.9499</span>, <span class="lon">-90.0701</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Louisiana, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.93749930159</span>, <span class="lon">-92.305998069584</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Oklahoma, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.9015874097</span>, <span class="lon">-97.5389608460746</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                125 W Oak St, Amite, Louisiana, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.72688</span>, <span class="lon">-90.507275</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>