<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2267998" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTk0MDQ3MzAzOV5BMl5BanBnXkFtZTgwNzU1NzE3MjE@.jpg" class="card-img-top" alt="Gone Girl">
                <div class="card-body">
               
                  <a href="../details/gone-girl-2267998.html" class="stretched-link">
                   
                    <p class="card-text text-center">Gone Girl</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0052618" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNjgxY2JiZDYtZmMwOC00ZmJjLWJmODUtMTNmNWNmYWI5ODkwL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Ben-Hur">
                <div class="card-body">
               
                  <a href="../details/ben-hur-0052618.html" class="stretched-link">
                   
                    <p class="card-text text-center">Ben-Hur</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2024544" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjExMTEzODkyN15BMl5BanBnXkFtZTcwNTU4NTc4OQ@@.jpg" class="card-img-top" alt="12 Years a Slave">
                <div class="card-body">
               
                  <a href="../details/12-years-a-slave-2024544.html" class="stretched-link">
                   
                    <p class="card-text text-center">12 Years a Slave</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0017925" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYmRiMDFlYjYtOTMwYy00OGY2LWE0Y2QtYzQxOGNhZmUwNTIxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The General">
                <div class="card-body">
               
                  <a href="../details/the-general-0017925.html" class="stretched-link">
                   
                    <p class="card-text text-center">The General</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0077416" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNDhmNTA0ZDMtYjhkNS00NzEzLWIzYTItOGNkMTVmYjE2YmI3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Deer Hunter">
                <div class="card-body">
               
                  <a href="../details/the-deer-hunter-0077416.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Deer Hunter</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0050986" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYWQxYzdhMDMtNjAyZC00NzE0LWFjYmQtYjk0YzMyYjA5NzZkXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="Wild Strawberries">
                <div class="card-body">
               
                  <a href="../details/wild-strawberries-0050986.html" class="stretched-link">
                   
                    <p class="card-text text-center">Wild Strawberries</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0112471" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZDdiZTAwYzAtMDI3Ni00OTRjLTkzN2UtMGE3MDMyZmU4NTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Before Sunrise">
                <div class="card-body">
               
                  <a href="../details/before-sunrise-0112471.html" class="stretched-link">
                   
                    <p class="card-text text-center">Before Sunrise</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0107207" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMmYyOTgwYWItYmU3Ny00M2E2LTk0NWMtMDVlNmQ0MWZiMTMxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="In the Name of the Father">
                <div class="card-body">
               
                  <a href="../details/in-the-name-of-the-father-0107207.html" class="stretched-link">
                   
                    <p class="card-text text-center">In the Name of the Father</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0048473" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMmFkNDY5OTktNzY3Yy00OTFlLThhNjktOTRhMmZjZmIxYjAxXkEyXkFqcGdeQXVyNTgyNTA4MjM@.jpg" class="card-img-top" alt="Pather Panchali">
                <div class="card-body">
               
                  <a href="../details/pather-panchali-0048473.html" class="stretched-link">
                   
                    <p class="card-text text-center">Pather Panchali</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0031679" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZTYwYjYxYzgtMDE1Ni00NzU4LWJlMTEtODQ5YmJmMGJhZjI5L2ltYWdlXkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="Mr. Smith Goes to Washington">
                <div class="card-body">
               
                  <a href="../details/mr-smith-goes-to-washington-0031679.html" class="stretched-link">
                   
                    <p class="card-text text-center">Mr. Smith Goes to Washington</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2278388" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMzM5NjUxOTEyMl5BMl5BanBnXkFtZTgwNjEyMDM0MDE@.jpg" class="card-img-top" alt="The Grand Budapest Hotel">
                <div class="card-body">
               
                  <a href="../details/the-grand-budapest-hotel-2278388.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Grand Budapest Hotel</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "3170832" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjE4NzgzNzEwMl5BMl5BanBnXkFtZTgwMTMzMDE0NjE@.jpg" class="card-img-top" alt="Room">
                <div class="card-body">
               
                  <a href="../details/room-3170832.html" class="stretched-link">
                   
                    <p class="card-text text-center">Room</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0015324" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZWFhOGU5NDctY2Q3YS00Y2VlLWI1NzEtZmIwY2ZiZjY4OTA2XkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="Sherlock Jr.">
                <div class="card-body">
               
                  <a href="../details/sherlock-jr-0015324.html" class="stretched-link">
                   
                    <p class="card-text text-center">Sherlock Jr.</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2119532" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjQ1NjM3MTUxNV5BMl5BanBnXkFtZTgwMDc5MTY5OTE@.jpg" class="card-img-top" alt="Hacksaw Ridge">
                <div class="card-body">
               
                  <a href="../details/hacksaw-ridge-2119532.html" class="stretched-link">
                   
                    <p class="card-text text-center">Hacksaw Ridge</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0892769" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjA5NDQyMjc2NF5BMl5BanBnXkFtZTcwMjg5ODcyMw@@.jpg" class="card-img-top" alt="How to Train Your Dragon">
                <div class="card-body">
               
                  <a href="../details/how-to-train-your-dragon-0892769.html" class="stretched-link">
                   
                    <p class="card-text text-center">How to Train Your Dragon</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0076740" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZTE4Zjc2MWQtZTYzNS00ZjJmLWFhYWUtMGI0M2ZkOWRhYWJjXkEyXkFqcGdeQXVyMjYzNDExNzU@.jpg" class="card-img-top" alt="Sorcerer">
                <div class="card-body">
               
                  <a href="../details/sorcerer-0076740.html" class="stretched-link">
                   
                    <p class="card-text text-center">Sorcerer</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0353969" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOGViNTg4YTktYTQ2Ni00MTU0LTk2NWUtMTI4OTc1YTM0NzQ2XkEyXkFqcGdeQXVyMDM2NDM2MQ@@.jpg" class="card-img-top" alt="Memories of Murder">
                <div class="card-body">
               
                  <a href="../details/memories-of-murder-0353969.html" class="stretched-link">
                   
                    <p class="card-text text-center">Memories of Murder</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0050976" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BM2I1ZWU4YjMtYzU0My00YmMzLWFmNTAtZDJhZGYwMmI3YWQ5XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The Seventh Seal">
                <div class="card-body">
               
                  <a href="../details/the-seventh-seal-0050976.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Seventh Seal</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            </div>
       
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
  </body>
</html>