<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0035446" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYTIwNDcyMjktMTczMy00NDM5LTlhNDEtMmE3NGVjOTM2YjQ3XkEyXkFqcGdeQXVyNjc0MzMzNjA@.jpg" class="card-img-top" alt="To Be or Not to Be">
                <div class="card-body">
               
                  <a href="../details/to-be-or-not-to-be-0035446.html" class="stretched-link">
                   
                    <p class="card-text text-center">To Be or Not to Be</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0245712" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjQxMWJhMzMtMzllZi00NzMwLTllYjktNTcwZmU4ZmU3NTA0XkEyXkFqcGdeQXVyMTAzMDM4MjM0.jpg" class="card-img-top" alt="Amores perros">
                <div class="card-body">
               
                  <a href="../details/amores-perros-0245712.html" class="stretched-link">
                   
                    <p class="card-text text-center">Amores perros</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0058946" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BN2M4YTA4ZTEtN2EyNy00YTlmLWE4YzYtYjYyYjRkMWM4ZDM0XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="The Battle of Algiers">
                <div class="card-body">
               
                  <a href="../details/the-battle-of-algiers-0058946.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Battle of Algiers</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0325980" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNGYyZGM5MGMtYTY2Ni00M2Y1LWIzNjQtYWUzM2VlNGVhMDNhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Pirates of the Caribbean: The Curse of the Black Pearl">
                <div class="card-body">
               
                  <a href="../details/pirates-of-the-caribbean-the-curse-of-the-black-pearl-0325980.html" class="stretched-link">
                   
                    <p class="card-text text-center">Pirates of the Caribbean: The Curse of the Black Pearl</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0059742" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BM2Q3YWMzMWItMjY4NS00ZjQ4LWEwYzQtODMwMjU1ZDg4ZjA4XkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="The Sound of Music">
                <div class="card-body">
               
                  <a href="../details/the-sound-of-music-0059742.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Sound of Music</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0079470" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMzAwNjU1OTktYjY3Mi00NDY5LWFlZWUtZjhjNGE0OTkwZDkwXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Life of Brian">
                <div class="card-body">
               
                  <a href="../details/life-of-brian-0079470.html" class="stretched-link">
                   
                    <p class="card-text text-center">Life of Brian</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0053198" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYTQ4MjA4NmYtYjRhNi00MTEwLTg0NjgtNjk3ODJlZGU4NjRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="The 400 Blows">
                <div class="card-body">
               
                  <a href="../details/the-400-blows-0053198.html" class="stretched-link">
                   
                    <p class="card-text text-center">The 400 Blows</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "7920978" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTJkNzJmYzgtZTZmNC00MTQ2LWE2ZGQtM2EyYjliNGViMTY5XkEyXkFqcGdeQXVyNDg4MjkzNDk@.jpg" class="card-img-top" alt="Persona">
                <div class="card-body">
               
                  <a href="../details/persona-7920978.html" class="stretched-link">
                   
                    <p class="card-text text-center">Persona</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0025316" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYzJmMWE5NjAtNWMyZS00NmFiLWIwMDgtZDE2NzczYWFhNzIzXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="It Happened One Night">
                <div class="card-body">
               
                  <a href="../details/it-happened-one-night-0025316.html" class="stretched-link">
                   
                    <p class="card-text text-center">It Happened One Night</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0113247" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNDNiOTA5YjktY2Q0Ni00ODgzLWE5MWItNGExOWRlYjY2MjBlXkEyXkFqcGdeQXVyNjQ2MjQ5NzM@.jpg" class="card-img-top" alt="La Haine">
                <div class="card-body">
               
                  <a href="../details/la-haine-0113247.html" class="stretched-link">
                   
                    <p class="card-text text-center">La Haine</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "6139732" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjQ2ODIyMjY4MF5BMl5BanBnXkFtZTgwNzY4ODI2NzM@.jpg" class="card-img-top" alt="Aladdin">
                <div class="card-body">
               
                  <a href="../details/aladdin-6139732.html" class="stretched-link">
                   
                    <p class="card-text text-center">Aladdin</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2771200" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTUwNjUxMTM4NV5BMl5BanBnXkFtZTgwODExMDQzMTI@.jpg" class="card-img-top" alt="Beauty and the Beast">
                <div class="card-body">
               
                  <a href="../details/beauty-and-the-beast-2771200.html" class="stretched-link">
                   
                    <p class="card-text text-center">Beauty and the Beast</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0083987" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMzJiZDRmOWUtYjE2MS00Mjc1LTg1ZDYtNTQxYWJkZTg1OTM4XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg" class="card-img-top" alt="Gandhi">
                <div class="card-body">
               
                  <a href="../details/gandhi-0083987.html" class="stretched-link">
                   
                    <p class="card-text text-center">Gandhi</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "15097216" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BY2Y5ZWMwZDgtZDQxYy00Mjk0LThhY2YtMmU1MTRmMjVhMjRiXkEyXkFqcGdeQXVyMTI1NDEyNTM5.jpg" class="card-img-top" alt="Jai Bhim">
                <div class="card-body">
               
                  <a href="../details/jai-bhim-15097216.html" class="stretched-link">
                   
                    <p class="card-text text-center">Jai Bhim</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1454029" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTM5OTMyMjIxOV5BMl5BanBnXkFtZTcwNzU4MjIwNQ@@.jpg" class="card-img-top" alt="The Help">
                <div class="card-body">
               
                  <a href="../details/the-help-1454029.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Help</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            </div>
       
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
  </body>
</html>