<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0055630" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZThiZjAzZjgtNDU3MC00YThhLThjYWUtZGRkYjc2ZWZlOTVjXkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg" class="card-img-top" alt="Yojimbo">
                <div class="card-body">
               
                  <a href="../details/yojimbo-0055630.html" class="stretched-link">
                   
                    <p class="card-text text-center">Yojimbo</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0040897" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTJlZWMxYzEtMjlkMS00ODE0LThlM2ItMDI3NGQ2YjhmMzkxXkEyXkFqcGdeQXVyMDI2NDg0NQ@@.jpg" class="card-img-top" alt="The Treasure of the Sierra Madre">
                <div class="card-body">
               
                  <a href="../details/the-treasure-of-the-sierra-madre-0040897.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Treasure of the Sierra Madre</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1130884" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Shutter Island">
                <div class="card-body">
               
                  <a href="../details/shutter-island-1130884.html" class="stretched-link">
                   
                    <p class="card-text text-center">Shutter Island</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0057115" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNzA2NmYxMWUtNzBlMC00MWM2LTkwNmQtYTFlZjQwODNhOWE0XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg" class="card-img-top" alt="The Great Escape">
                <div class="card-body">
               
                  <a href="../details/the-great-escape-0057115.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Great Escape</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0042876" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjEzMzA4NDE2OF5BMl5BanBnXkFtZTcwNTc5MDI2NQ@@.jpg" class="card-img-top" alt="Rashomon">
                <div class="card-body">
               
                  <a href="../details/rashomon-0042876.html" class="stretched-link">
                   
                    <p class="card-text text-center">Rashomon</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0107290" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjM2MDgxMDg0Nl5BMl5BanBnXkFtZTgwNTM2OTM5NDE@.jpg" class="card-img-top" alt="Jurassic Park">
                <div class="card-body">
               
                  <a href="../details/jurassic-park-0107290.html" class="stretched-link">
                   
                    <p class="card-text text-center">Jurassic Park</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0266697" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNzM3NDFhYTAtYmU5Mi00NGRmLTljYjgtMDkyODQ4MjNkMGY2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Kill Bill: Vol. 1">
                <div class="card-body">
               
                  <a href="../details/kill-bill-vol-1-0266697.html" class="stretched-link">
                   
                    <p class="card-text text-center">Kill Bill: Vol. 1</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0266543" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZTAzNWZlNmUtZDEzYi00ZjA5LWIwYjEtZGM1NWE1MjE4YWRhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Finding Nemo">
                <div class="card-body">
               
                  <a href="../details/finding-nemo-0266543.html" class="stretched-link">
                   
                    <p class="card-text text-center">Finding Nemo</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0477348" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjA5Njk3MjM4OV5BMl5BanBnXkFtZTcwMTc5MTE1MQ@@.jpg" class="card-img-top" alt="No Country for Old Men">
                <div class="card-body">
               
                  <a href="../details/no-country-for-old-men-0477348.html" class="stretched-link">
                   
                    <p class="card-text text-center">No Country for Old Men</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0081398" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYjRmODkzNDItMTNhNi00YjJlLTg0ZjAtODlhZTM0YzgzYThlXkEyXkFqcGdeQXVyNzQ1ODk3MTQ@.jpg" class="card-img-top" alt="Raging Bull">
                <div class="card-body">
               
                  <a href="../details/raging-bull-0081398.html" class="stretched-link">
                   
                    <p class="card-text text-center">Raging Bull</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0080678" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMDVjNjIwOGItNDE3Ny00OThjLWE0NzQtZTU3YjMzZTZjMzhkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="The Elephant Man">
                <div class="card-body">
               
                  <a href="../details/the-elephant-man-0080678.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Elephant Man</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0434409" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTI5ODc3NzExNV5BMl5BanBnXkFtZTcwNzYxNzQzMw@@.jpg" class="card-img-top" alt="V for Vendetta">
                <div class="card-body">
               
                  <a href="../details/v-for-vendetta-0434409.html" class="stretched-link">
                   
                    <p class="card-text text-center">V for Vendetta</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0031381" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYjUyZWZkM2UtMzYxYy00ZmQ3LWFmZTQtOGE2YjBkNjA3YWZlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Gone with the Wind">
                <div class="card-body">
               
                  <a href="../details/gone-with-the-wind-0031381.html" class="stretched-link">
                   
                    <p class="card-text text-center">Gone with the Wind</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0071315" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOGMwYmY5ZmEtMzY1Yi00OWJiLTk1Y2MtMzI2MjBhYmZkNTQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Chinatown">
                <div class="card-body">
               
                  <a href="../details/chinatown-0071315.html" class="stretched-link">
                   
                    <p class="card-text text-center">Chinatown</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2096673" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTgxMDQwMDk0OF5BMl5BanBnXkFtZTgwNjU5OTg2NDE@.jpg" class="card-img-top" alt="Inside Out">
                <div class="card-body">
               
                  <a href="../details/inside-out-2096673.html" class="stretched-link">
                   
                    <p class="card-text text-center">Inside Out</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0120735" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTAyN2JmZmEtNjAyMy00NzYwLThmY2MtYWQ3OGNhNjExMmM4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Lock, Stock and Two Smoking Barrels">
                <div class="card-body">
               
                  <a href="../details/lock-stock-and-two-smoking-barrels-0120735.html" class="stretched-link">
                   
                    <p class="card-text text-center">Lock, Stock and Two Smoking Barrels</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0084787" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNGViZWZmM2EtNGYzZi00ZDAyLTk3ODMtNzIyZTBjN2Y1NmM1XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg" class="card-img-top" alt="The Thing">
                <div class="card-body">
               
                  <a href="../details/the-thing-0084787.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Thing</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0046912" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOWIwODIxYWItZDI4MS00YzhhLWE3MmYtMzlhZDIwOTMzZmE5L2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="Dial M for Murder">
                <div class="card-body">
               
                  <a href="../details/dial-m-for-murder-0046912.html" class="stretched-link">
                   
                    <p class="card-text text-center">Dial M for Murder</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            </div>
       
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
  </body>
</html>