<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1305806" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BY2FhZGI5M2QtZWFiZS00NjkwLWE4NWQtMzg3ZDZjNjdkYTJiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="The Secret in Their Eyes">
                <div class="card-body">
               
                  <a href="../details/the-secret-in-their-eyes-1305806.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Secret in Their Eyes</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0347149" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Howl's Moving Castle">
                <div class="card-body">
               
                  <a href="../details/howl-s-moving-castle-0347149.html" class="stretched-link">
                   
                    <p class="card-text text-center">Howl's Moving Castle</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0050212" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOGY5NmNlMmQtYzRlYy00NGQ5LWFkYjYtNzExZmQyMTg0ZDA0XkEyXkFqcGdeQXVyNDIzMzcwNjc@.jpg" class="card-img-top" alt="The Bridge on the River Kwai">
                <div class="card-body">
               
                  <a href="../details/the-bridge-on-the-river-kwai-0050212.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Bridge on the River Kwai</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0117951" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMzA5Zjc3ZTMtMmU5YS00YTMwLWI4MWUtYTU0YTVmNjVmODZhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Trainspotting">
                <div class="card-body">
               
                  <a href="../details/trainspotting-0117951.html" class="stretched-link">
                   
                    <p class="card-text text-center">Trainspotting</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "5027774" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjI0ODcxNzM1N15BMl5BanBnXkFtZTgwMzIwMTEwNDI@.jpg" class="card-img-top" alt="Three Billboards Outside Ebbing, Missouri">
                <div class="card-body">
               
                  <a href="../details/three-billboards-outside-ebbing-missouri-5027774.html" class="stretched-link">
                   
                    <p class="card-text text-center">Three Billboards Outside Ebbing, Missouri</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1291584" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTk4ODk5MTMyNV5BMl5BanBnXkFtZTcwMDMyNTg0Ng@@.jpg" class="card-img-top" alt="Warrior">
                <div class="card-body">
               
                  <a href="../details/warrior-1291584.html" class="stretched-link">
                   
                    <p class="card-text text-center">Warrior</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1205489" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTc5NTk2OTU1Nl5BMl5BanBnXkFtZTcwMDc3NjAwMg@@.jpg" class="card-img-top" alt="Gran Torino">
                <div class="card-body">
               
                  <a href="../details/gran-torino-1205489.html" class="stretched-link">
                   
                    <p class="card-text text-center">Gran Torino</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "2802850" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BN2NiMGE5M2UtNWNlNC00N2Y4LTkwOWUtMDlkMzEwNTcyOTcyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg" class="card-img-top" alt="Fargo">
                <div class="card-body">
               
                  <a href="../details/fargo-2802850.html" class="stretched-link">
                   
                    <p class="card-text text-center">Fargo</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0096283" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYzJjMTYyMjQtZDI0My00ZjE2LTkyNGYtOTllNGQxNDMyZjE0XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="My Neighbor Totoro">
                <div class="card-body">
               
                  <a href="../details/my-neighbor-totoro-0096283.html" class="stretched-link">
                   
                    <p class="card-text text-center">My Neighbor Totoro</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1392214" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTg0NTIzMjQ1NV5BMl5BanBnXkFtZTcwNDc3MzM5OQ@@.jpg" class="card-img-top" alt="Prisoners">
                <div class="card-body">
               
                  <a href="../details/prisoners-1392214.html" class="stretched-link">
                   
                    <p class="card-text text-center">Prisoners</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0405159" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTkxNzA1NDQxOV5BMl5BanBnXkFtZTcwNTkyMTIzMw@@.jpg" class="card-img-top" alt="Million Dollar Baby">
                <div class="card-body">
               
                  <a href="../details/million-dollar-baby-0405159.html" class="stretched-link">
                   
                    <p class="card-text text-center">Million Dollar Baby</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0083658" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Blade Runner">
                <div class="card-body">
               
                  <a href="../details/blade-runner-0083658.html" class="stretched-link">
                   
                    <p class="card-text text-center">Blade Runner</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0015864" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZjEyOTE4MzMtNmMzMy00Mzc3LWJlOTQtOGJiNDE0ZmJiOTU4L2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg" class="card-img-top" alt="The Gold Rush">
                <div class="card-body">
               
                  <a href="../details/the-gold-rush-0015864.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Gold Rush</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0264464" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTY5MzYzNjc5NV5BMl5BanBnXkFtZTYwNTUyNTc2.jpg" class="card-img-top" alt="Catch Me If You Can">
                <div class="card-body">
               
                  <a href="../details/catch-me-if-you-can-0264464.html" class="stretched-link">
                   
                    <p class="card-text text-center">Catch Me If You Can</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0047296" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BY2I0MWFiZDMtNWQyYy00Njk5LTk3MDktZjZjNTNmZmVkYjkxXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg" class="card-img-top" alt="On the Waterfront">
                <div class="card-body">
               
                  <a href="../details/on-the-waterfront-0047296.html" class="stretched-link">
                   
                    <p class="card-text text-center">On the Waterfront</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0118849" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZTYwZWQ4ZTQtZWU0MS00N2YwLWEzMDItZWFkZWY0MWVjODVhXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="Children of Heaven">
                <div class="card-body">
               
                  <a href="../details/children-of-heaven-0118849.html" class="stretched-link">
                   
                    <p class="card-text text-center">Children of Heaven</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1201607" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@.jpg" class="card-img-top" alt="Harry Potter and the Deathly Hallows: Part 2">
                <div class="card-body">
               
                  <a href="../details/harry-potter-and-the-deathly-hallows-part-2-1201607.html" class="stretched-link">
                   
                    <p class="card-text text-center">Harry Potter and the Deathly Hallows: Part 2</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0041959" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BYjE2OTdhMWUtOGJlMy00ZDViLWIzZjgtYjZkZGZmMDZjYmEyXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="The Third Man">
                <div class="card-body">
               
                  <a href="../details/the-third-man-0041959.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Third Man</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            </div>
       
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
  </body>
</html>