<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center g-3">
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0056592" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNmVmYzcwNzMtMWM1NS00MWIyLThlMDEtYzUwZDgzODE1NmE2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="To Kill a Mockingbird">
                <div class="card-body">
               
                  <a href="../details/to-kill-a-mockingbird-0056592.html" class="stretched-link">
                   
                    <p class="card-text text-center">To Kill a Mockingbird</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "8503618" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNjViNWRjYWEtZTI0NC00N2E3LTk0NGQtMjY4NTM3OGNkZjY0XkEyXkFqcGdeQXVyMjUxMTY3ODM@.jpg" class="card-img-top" alt="Hamilton">
                <div class="card-body">
               
                  <a href="../details/hamilton-8503618.html" class="stretched-link">
                   
                    <p class="card-text text-center">Hamilton</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0070735" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNGU3NjQ4YTMtZGJjOS00YTQ3LThmNmItMTI5MDE2ODI3NzY3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg" class="card-img-top" alt="The Sting">
                <div class="card-body">
               
                  <a href="../details/the-sting-0070735.html" class="stretched-link">
                   
                    <p class="card-text text-center">The Sting</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0119488" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="L.A. Confidential">
                <div class="card-body">
               
                  <a href="../details/l-a-confidential-0119488.html" class="stretched-link">
                   
                    <p class="card-text text-center">L.A. Confidential</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1049413" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTk3NDE2NzI4NF5BMl5BanBnXkFtZTgwNzE1MzEyMTE@.jpg" class="card-img-top" alt="Up">
                <div class="card-body">
               
                  <a href="../details/up-1049413.html" class="stretched-link">
                   
                    <p class="card-text text-center">Up</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0113277" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNGMwNzUwNjYtZWM5NS00YzMyLWI4NjAtNjM0ZDBiMzE1YWExXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Heat">
                <div class="card-body">
               
                  <a href="../details/heat-0113277.html" class="stretched-link">
                   
                    <p class="card-text text-center">Heat</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0044741" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZTdkN2E5OTYtN2FiMi00YWUwLWEzMGMtZTMzNjY0NjgzYzFiXkEyXkFqcGdeQXVyMTI3ODAyMzE2.jpg" class="card-img-top" alt="Ikiru">
                <div class="card-body">
               
                  <a href="../details/ikiru-0044741.html" class="stretched-link">
                   
                    <p class="card-text text-center">Ikiru</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0208092" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTA2NDYxOGYtYjU1Mi00Y2QzLTgxMTQtMWI1MGI0ZGQ5MmU4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Snatch">
                <div class="card-body">
               
                  <a href="../details/snatch-0208092.html" class="stretched-link">
                   
                    <p class="card-text text-center">Snatch</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0095016" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BZjRlNDUxZjAtOGQ4OC00OTNlLTgxNmQtYTBmMDgwZmNmNjkxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg" class="card-img-top" alt="Die Hard">
                <div class="card-body">
               
                  <a href="../details/die-hard-0095016.html" class="stretched-link">
                   
                    <p class="card-text text-center">Die Hard</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0097576" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg" class="card-img-top" alt="Indiana Jones and the Last Crusade">
                <div class="card-body">
               
                  <a href="../details/indiana-jones-and-the-last-crusade-0097576.html" class="stretched-link">
                   
                    <p class="card-text text-center">Indiana Jones and the Last Crusade</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1832382" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BN2JmMjViMjMtZTM5Mi00ZGZkLTk5YzctZDg5MjFjZDE4NjNkXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="A Separation">
                <div class="card-body">
               
                  <a href="../details/a-separation-1832382.html" class="stretched-link">
                   
                    <p class="card-text text-center">A Separation</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0017136" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMTg5YWIyMWUtZDY5My00Zjc1LTljOTctYmI0MWRmY2M2NmRkXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Metropolis">
                <div class="card-body">
               
                  <a href="../details/metropolis-0017136.html" class="stretched-link">
                   
                    <p class="card-text text-center">Metropolis</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0040522" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNmI1ODdjODctMDlmMC00ZWViLWI5MzYtYzRhNDdjYmM3MzFjXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Bicycle Thieves">
                <div class="card-body">
               
                  <a href="../details/bicycle-thieves-0040522.html" class="stretched-link">
                   
                    <p class="card-text text-center">Bicycle Thieves</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "1255953" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMWE3MGYzZjktY2Q5Mi00Y2NiLWIyYWUtMmIyNzA3YmZlMGFhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Incendies">
                <div class="card-body">
               
                  <a href="../details/incendies-1255953.html" class="stretched-link">
                   
                    <p class="card-text text-center">Incendies</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "8579674" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@.jpg" class="card-img-top" alt="1917">
                <div class="card-body">
               
                  <a href="../details/1917-8579674.html" class="stretched-link">
                   
                    <p class="card-text text-center">1917</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0986264" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BMDhjZWViN2MtNzgxOS00NmI4LThiZDQtZDI3MzM4MDE4NTc0XkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg" class="card-img-top" alt="Like Stars on Earth">
                <div class="card-body">
               
                  <a href="../details/like-stars-on-earth-0986264.html" class="stretched-link">
                   
                    <p class="card-text text-center">Like Stars on Earth</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0372784" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg" class="card-img-top" alt="Batman Begins">
                <div class="card-body">
               
                  <a href="../details/batman-begins-0372784.html" class="stretched-link">
                   
                    <p class="card-text text-center">Batman Begins</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            <div class="col-sm-4 d-flex align-items-stretch">
              <div id = "0059578" class="card" >
                <img src="https://m.media-amazon.com/images/M/MV5BNWM1NmYyM2ItMTFhNy00NDU0LThlYWUtYjQyYTJmOTY0ZmM0XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg" class="card-img-top" alt="For a Few Dollars More">
                <div class="card-body">
               
                  <a href="../details/for-a-few-dollars-more-0059578.html" class="stretched-link">
                   
                    <p class="card-text text-center">For a Few Dollars More</p>
                  </a>
         
                </div>
              </div>
            </div>
         
            </div>
       
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>
  </body>
</html>