<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">For a Few Dollars More</h3>
          <p class="card-text mb-0">


  <span > Two bounty hunters with the same intentions team up to track down an escaped Mexican outlaw.  </span>
                          <span > Drifting from town to town, the poncho-clad Man with No Name and the lightning-fast right hand rides into the town of El Paso in search of maniacal escaped convict El Indio. It's been 18 short months since the deadly confrontation in Per un pugno di dollari (1964), and this time, the solitary stranger, now a professional bounty hunter, must go against his beliefs and do the unthinkable: join forces with hawk-eyed marksman Colonel Douglas Mortimer to collect the hefty reward. Now, as El Indio and his cut-throats have already set their sights on robbing the crammed-with-cash Bank of El Paso, the stage is set for a bloody showdown at high noon, against the backdrop of silent double-crosses and fragile allegiances. But, is it worth dicing with death for a few dollars more? -Nick Riganas.  </span>
                          <span > Manco (Clint Eastwood) is a bounty killer chasing El Indio (Gian Maria Volontè) and his gang. During his hunt he meets Colonel Douglas Mortimer (Lee Van Cleef), another bounty killer, and they decide to make a partnership, chase the bad guys together, and split the reward. During their enterprise, there will be lots of bullets and funny situations. In the end, one of the bounty hunters shows the real intention of his hunt. -Claudio Carvalho, Rio de Janeiro, Brazil.  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZDJjMjM0ZGQtNzdlNS00MTRhLTg3OTYtZDc3OTgwN2Y2OGQ1XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="For a Few Dollars More"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cabo de Gata, Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.781144</span>, <span class="lon">-2.242177</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Mini Hollywood, Desierto de Tabernas, Tabernas, Almería 04200, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.020366499999994</span>, <span class="lon">-2.4319275</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Andalucía, 04007 Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.8334620641043</span>, <span class="lon">-2.45255489213576</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cinecittà Studios, Via Tuscolana, 1055, Roma, Rome 00173, Italy </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">41.852854</span>, <span class="lon">12.575212</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Calahorra, 18220 Albolote, Granada, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.2225409475203</span>, <span class="lon">-3.64270536340856</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Desierto De Tabernas, Tabernas, Almería 04212, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.090023</span>, <span class="lon">-2.379403</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Andalucía, 04271 Sorbas, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1452098010523</span>, <span class="lon">-2.07507758056227</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Colmenar Viejo, Madrid, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.65879</span>, <span class="lon">-3.76632</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Andalucía, 18140 La Zubia, Granada, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.1202823858649</span>, <span class="lon">-3.58119996388976</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Calle Guadix, 18184 Beas de Granada, Granada, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.2208113411398</span>, <span class="lon">-3.47881706877745</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Polideportivo Hoyo de Manzanares, Av. del Parque de la Cabilda, Hoyo de Manzanares, Madrid 28240, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.624249</span>, <span class="lon">-3.905184</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tabernas, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.04989</span>, <span class="lon">-2.39138</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San José, Níjar, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.761896</span>, <span class="lon">-2.110094</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">María, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.7</span>, <span class="lon">-2.15</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Cabo de Gata, Almería, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.781144</span>, <span class="lon">-2.242177</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San José, Níjar, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.761896</span>, <span class="lon">-2.110094</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Níjar, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.96556</span>, <span class="lon">-2.20639</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Turrillas, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.03008</span>, <span class="lon">-2.26333</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Polopos, Lucainena de las Torres, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.02542</span>, <span class="lon">-2.079196</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Rodalquilar, Níjar, Almería, Spain </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">36.846802</span>, <span class="lon">-2.040604</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[36.761896, -2.110094], [36.761896, -2.110094], [36.781144, -2.242177]], "data": [{"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 37.020366499999994, "lon": -2.4319275, "name": "Mini Hollywood, Desierto de Tabernas, Tabernas, Almer\u00eda 04200, Spain"}, {"lat": 36.8334620641043, "lon": -2.45255489213576, "name": "Calle Andaluc\u00eda, 04007 Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 41.852854, "lon": 12.575212, "name": "Cinecitt\u00e0 Studios, Via Tuscolana, 1055, Roma, Rome 00173, Italy"}, {"lat": 37.2225409475203, "lon": -3.64270536340856, "name": "Calle Calahorra, 18220 Albolote, Granada, Spain"}, {"lat": 37.090023, "lon": -2.379403, "name": "Desierto De Tabernas, Tabernas, Almer\u00eda 04212, Spain"}, {"lat": 37.1452098010523, "lon": -2.07507758056227, "name": "Andaluc\u00eda, 04271 Sorbas, Almer\u00eda, Spain"}, {"lat": 40.65879, "lon": -3.76632, "name": "Colmenar Viejo, Madrid, Spain"}, {"lat": 37.1202823858649, "lon": -3.58119996388976, "name": "Calle Andaluc\u00eda, 18140 La Zubia, Granada, Spain"}, {"lat": 37.2208113411398, "lon": -3.47881706877745, "name": "Calle Guadix, 18184 Beas de Granada, Granada, Spain"}, {"lat": 40.624249, "lon": -3.905184, "name": "Polideportivo Hoyo de Manzanares, Av. del Parque de la Cabilda, Hoyo de Manzanares, Madrid 28240, Spain"}, {"lat": 37.04989, "lon": -2.39138, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 36.761896, "lon": -2.110094, "name": "San Jos\u00e9, N\u00edjar, Almer\u00eda, Spain"}, {"lat": 37.7, "lon": -2.15, "name": "Mar\u00eda, Almer\u00eda, Spain"}, {"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 36.761896, "lon": -2.110094, "name": "San Jos\u00e9, N\u00edjar, Almer\u00eda, Spain"}, {"lat": 36.96556, "lon": -2.20639, "name": "N\u00edjar, Almer\u00eda, Spain"}, {"lat": 37.03008, "lon": -2.26333, "name": "Turrillas, Almer\u00eda, Spain"}, {"lat": 37.02542, "lon": -2.079196, "name": "Polopos, Lucainena de las Torres, Almer\u00eda, Spain"}, {"lat": 36.846802, "lon": -2.040604, "name": "Rodalquilar, N\u00edjar, Almer\u00eda, Spain"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>