<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Three Billboards Outside Ebbing, Missouri</h3>
                        <p class="card-text">
                          A mother personally challenges the local authorities to solve her daughter's murder when they fail to catch the culprit.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjI0ODcxNzM1N15BMl5BanBnXkFtZTgwMzIwMTEwNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Three Billboards Outside Ebbing, Missouri"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Sylva, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.3737</span>, <span class="lon">-83.226</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Black Mountain, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.6179</span>, <span class="lon">-82.3212</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.5568849207</span>, <span class="lon">-79.3896838690365</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Maggie Valley, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.5182</span>, <span class="lon">-83.0976</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Dillsboro, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.369202</span>, <span class="lon">-83.2525</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cullowhee, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.3096</span>, <span class="lon">-83.1813</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Clyde, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.5334</span>, <span class="lon">-82.9107</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Asheville, North Carolina, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.6009</span>, <span class="lon">-82.554</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                581 W. Main Street, Sylva, North Carolina, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.37326</span>, <span class="lon">-83.22343</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>