<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Chinatown</h3>
                        <p class="card-text">
                          A private detective hired to expose an adulterer in 1930s Los Angeles finds himself caught up in a web of deceit, corruption, and murder.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOGMwYmY5ZmEtMzY1Yi00OWJiLTk1Y2MtMzI2MjBhYmZkNTQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Chinatown"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Spring Street, Chinatown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05843</span>, <span class="lon">-118.23915</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Big Tujunga Wash at Foothill Blvd., Sunland, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.2522</span>, <span class="lon">-118.2884</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Koreatown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0578</span>, <span class="lon">-118.3009</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Archer School for Girls   11725 Sunset Boulevard, Brentwood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.065284500000004</span>, <span class="lon">-118.471472</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Echo Park Lake, Echo Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.07314</span>, <span class="lon">-118.260174</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Point Fermin Park   807 W. Paseo Del Mar, San Pedro, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.72</span>, <span class="lon">-118.29</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Trident Ranch 
            </td>   
                <td class="table__cell">
                <span class="lat"> 46.261465</span>, <span class="lon">11.800703</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ord Street, Chinatown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.06034</span>, <span class="lon">-118.23965</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Catalina Casino   1 Casino Way, Avalon, Santa Catalina Island, Channel Islands, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.35</span>, <span class="lon">-118.33</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Channel Islands, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.18</span>, <span class="lon">-119.23</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Biltmore Hotel Limousine lane/V.I.P. Ramp, 530 South Grand Ave, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.13656</span>, <span class="lon">-118.161755</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Portuguese Bend Riding Club, 40 Narcissa Drive, Rancho Palos Verdes, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.74</span>, <span class="lon">-118.36</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Council Chamber, Los Angeles City Hall   200 North Spring Street, Downtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05405</span>, <span class="lon">-118.24317</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Mi Casa, 1400 1414 Havenhurst Drive, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.09621</span>, <span class="lon">-118.3674</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1972 Canyon Drive, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.10732</span>, <span class="lon">-118.31677</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                848 E Kensington Road, Echo Park, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.07222</span>, <span class="lon">-118.25257</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                5030 Lemon Grove Avenue, East Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.08601</span>, <span class="lon">-118.30622</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Brentwood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0636</span>, <span class="lon">-118.4748</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Grand Avenue, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.12134</span>, <span class="lon">-118.16284</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                The Prince   3198 W 7th St, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.05949</span>, <span class="lon">-118.29504</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bradbury Building   304 S. Broadway, Downtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.01452</span>, <span class="lon">-118.494297</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Crescent Bay, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 33.547755</span>, <span class="lon">-117.8033</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                El Rancho Escondido, 1 El Rancho Escondido Road, Avalon, Santa Catalina Island, Channel Islands, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.22</span>, <span class="lon">-119.07</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glendale, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.1423</span>, <span class="lon">-118.2484</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hollywood Boulevard, Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15843</span>, <span class="lon">-118.34964</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stone Canyon Reservoir, Santa Monica Mountains, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04</span>, <span class="lon">-118.71</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Canyon Drive, Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.11055</span>, <span class="lon">-118.31685</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Midtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.15</span>, <span class="lon">-118.76</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Silver Lake, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.0899</span>, <span class="lon">-118.2684</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                1315 South El Molino Drive, Pasadena, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.12333</span>, <span class="lon">-118.13761</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>