<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>
 <body id="2771200" class="film-location">
   <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5 "> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Beauty and the Beast</h3>
                        <p class="card-text">
                          A selfish Prince is cursed to become a monster for the rest of his life, unless he learns to fall in love with a beautiful young woman he keeps prisoner.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTUwNjUxMTM4NV5BMl5BanBnXkFtZTgwODExMDQzMTI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Beauty and the Beast"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                London, Greater London, England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.507321899999994</span>, <span class="lon">-0.12764739999999997</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                G Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Ashridge Estate, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.807665</span>, <span class="lon">-0.59325</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                H Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                A Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                B Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                C Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                D Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                E Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                F Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                R Stage, Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Backlot, Shepperton Studios, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 51.407444</span>, <span class="lon">-0.465177</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                England, UK
            </td>   
                <td class="table__cell lat-lon">
                <span class="lat"> 52.38145972</span>, <span class="lon">-0.676181762467007</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>