<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Joker</h3>
                        <p class="card-text">
                          In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Joker"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                1150 Anderson Ave, The Bronx, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.83568, -73.92426
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Harlem, Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.8079, -73.9454
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bronx, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.8501, -73.8662
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Market Street at Washington Street, Newark, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.74, -74.03
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Jersey City, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.7282, -74.0776
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Manhattan, New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.68917359673309, -73.9826731487689
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Newark Paramount Theatre, Market St, Newark, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.7357, -74.1724
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hudson County Courthouse, Jersey City, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.7320675, -74.057456
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Loew's Jersey Theatre, Jersey City, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.731967, -74.063941
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn Army Terminal, Sunset Park, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.644429, -74.02507499999999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chinatown, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.716, -73.9974
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                3396 Jerome Ave, The Bronx, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.88055, -73.88347
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, USA
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paramount Theatre, Newark, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.739998, -74.16765
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                199 Cherry St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.759159, -73.80993
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Disused lower level platforms, 9th Avenue Subway Station, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.6995455, -73.9706354
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Loew's Jersey Theatre, Jersey City, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.731967, -74.063941
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Seagram Building, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.758566, -73.972576
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Steiner Studios   15 Washington Avenue, Brooklyn Navy Yard, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.70194, -73.96704
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                West Side Highway & 136th St, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7681, -73.9741
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                20 Exchange Place, Financial District, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.70552, -74.009627
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>