<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Joker</h3>
          <p class="card-text mb-0">


  <span > A mentally troubled stand-up comedian embarks on a downward spiral that leads to the creation of an iconic villain.  </span>
                          <span > Arthur Fleck works as a clown and is an aspiring stand-up comic. He has mental health issues, part of which involves uncontrollable laughter. Times are tough and, due to his issues and occupation, Arthur has an even worse time than most. Over time these issues bear down on him, shaping his actions, making him ultimately take on the persona he is more known as...Joker. -grantss.  </span>
                          <span > Arthur Fleck is a wannabe stand-up comic who suffers from many mental illnesses, including one which causes him to laugh uncontrollably when he is nervous, and often gets him into bad situations. Arthur's mental health causes almost all people in society to reject and look down upon him, even though all he wants is to be accepted by others. After being brutally beaten, having his medication cut off, Arthur's life begins to spiral downward out-of-control into delusions, violence, and anarchy until he eventually transforms into Gotham's infamous Clown-Prince of Crime. -geometrydashbroham.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > A socially inept clown for hire - Arthur Fleck aspires to be a stand up comedian among his small job working dressed as a clown holding a sign for advertising. He takes care of his mother- Penny Fleck, and as he learns more about his mental illness, he learns more about his past. Dealing with all the negativity and bullying from society he heads downwards on a spiral, in turn showing how his alter ego "Joker", came to be. -crisspaggos.  </span>
    <span class="additional-information" > Struggling to make people laugh in grim early-1980s Gotham City, the mentally ill street clown and failed stand-up comedian, Arthur Fleck, wears his smudgy makeup every day to eke out an existence. Mocked, bullied, and above all, marginalised, Fleck's slippery grip on reality will pave the way for a gradual descent into a dark world of unrestrained violence, as a loaded revolver enters the picture offering the long-awaited liberation. Then, the medications stopped working, and troubled Arthur's fierce hatred seems to be the only way out. Is the world prepared for the gloriously malevolent advent of the grinned super-villain, Joker? -Nick Riganas.  </span>
    <span class="additional-information" > Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker. -Jwelch5742.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Joker"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1150 Anderson Avenue, Bronx, New York 10452, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.83568</span>, <span class="lon">-73.92426</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Harlem, New York, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.8079</span>, <span class="lon">-73.9454</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Bronx, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.8501</span>, <span class="lon">-73.8662</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Washington Street, New Jersey, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.74</span>, <span class="lon">-74.03</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Jersey City, New Jersey, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7282</span>, <span class="lon">-74.0776</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.68917359673309</span>, <span class="lon">-73.9826731487689</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Newark, New Jersey, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7357</span>, <span class="lon">-74.1724</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.751296</span>, <span class="lon">-73.984819</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hudson County Courthouse, 595 Newark Ave, Jersey City, New Jersey 07306, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7320675</span>, <span class="lon">-74.057456</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Landmark Loew's Jersey Theatre, 54 Journal Sq, Jersey City, New Jersey 07306, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.731967</span>, <span class="lon">-74.063941</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Brooklyn Army Terminal, 140 58th St, New York, New York 11220, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.644429</span>, <span class="lon">-74.02507499999999</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chinatown, New York, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.716</span>, <span class="lon">-73.9974</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">3396 Jerome Avenue, Bronx, New York 10467, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.88055</span>, <span class="lon">-73.88347</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">New York, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7306</span>, <span class="lon">-73.9866</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">New Jersey Performing Arts Center (NJPAC), 1 Center St, Newark, New Jersey 07102, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.739998</span>, <span class="lon">-74.16765</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">199 Cherry Avenue, Queens, New York 11355, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.759159</span>, <span class="lon">-73.80993</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">9th Avenue, Brooklyn, New York 11205, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.6995455</span>, <span class="lon">-73.9706354</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Landmark Loew's Jersey Theatre, 54 Journal Sq, Jersey City, New Jersey 07306, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.731967</span>, <span class="lon">-74.063941</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Seagram Building, 375 Park Ave, New York, New York 10152, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.758566</span>, <span class="lon">-73.972576</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">15 Washington Avenue, Brooklyn, New York 11205, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.70194</span>, <span class="lon">-73.96704</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">West Side, New York, New York, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.7681</span>, <span class="lon">-73.9741</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">20 Exchange Place, New York, New York 10005, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">40.70552</span>, <span class="lon">-74.009627</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[40.644429, -74.02507499999999], [40.68917359673309, -73.9826731487689], [40.6995455, -73.9706354]], "data": [{"lat": 40.83568, "lon": -73.92426, "name": "1150 Anderson Avenue, Bronx, New York 10452, United States"}, {"lat": 40.8079, "lon": -73.9454, "name": "Harlem, New York, New York, United States"}, {"lat": 40.8501, "lon": -73.8662, "name": "Bronx, New York, United States"}, {"lat": 40.74, "lon": -74.03, "name": "Washington Street, New Jersey, United States"}, {"lat": 40.7282, "lon": -74.0776, "name": "Jersey City, New Jersey, United States"}, {"lat": 40.68917359673309, "lon": -73.9826731487689, "name": "Prison Ship Martyrs Monument, Fort Greene Park, New York, New York 11201, United States"}, {"lat": 40.7357, "lon": -74.1724, "name": "Newark, New Jersey, United States"}, {"lat": 40.751296, "lon": -73.984819, "name": "Marriott Vacation Club Pulse, 33 West 37th Street, New York, New York 10018, United States"}, {"lat": 40.7320675, "lon": -74.057456, "name": "Hudson County Courthouse, 595 Newark Ave, Jersey City, New Jersey 07306, United States"}, {"lat": 40.731967, "lon": -74.063941, "name": "Landmark Loew\u0027s Jersey Theatre, 54 Journal Sq, Jersey City, New Jersey 07306, United States"}, {"lat": 40.644429, "lon": -74.02507499999999, "name": "Brooklyn Army Terminal, 140 58th St, New York, New York 11220, United States"}, {"lat": 40.716, "lon": -73.9974, "name": "Chinatown, New York, New York, United States"}, {"lat": 40.88055, "lon": -73.88347, "name": "3396 Jerome Avenue, Bronx, New York 10467, United States"}, {"lat": 40.7306, "lon": -73.9866, "name": "New York, New York, United States"}, {"lat": 40.739998, "lon": -74.16765, "name": "New Jersey Performing Arts Center (NJPAC), 1 Center St, Newark, New Jersey 07102, United States"}, {"lat": 40.759159, "lon": -73.80993, "name": "199 Cherry Avenue, Queens, New York 11355, United States"}, {"lat": 40.6995455, "lon": -73.9706354, "name": "9th Avenue, Brooklyn, New York 11205, United States"}, {"lat": 40.731967, "lon": -74.063941, "name": "Landmark Loew\u0027s Jersey Theatre, 54 Journal Sq, Jersey City, New Jersey 07306, United States"}, {"lat": 40.758566, "lon": -73.972576, "name": "Seagram Building, 375 Park Ave, New York, New York 10152, United States"}, {"lat": 40.70194, "lon": -73.96704, "name": "15 Washington Avenue, Brooklyn, New York 11205, United States"}, {"lat": 40.7681, "lon": -73.9741, "name": "West Side, New York, New York, United States"}, {"lat": 40.70552, "lon": -74.009627, "name": "20 Exchange Place, New York, New York 10005, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>