<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Lawrence of Arabia</h3>
                        <p class="card-text">
                          The story of T.E. Lawrence, the English officer who successfully united and led the diverse, often warring, Arab tribes during World War I in order to fight the Turks.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWY5ZjhjNGYtZmI2Ny00ODM0LWFkNzgtZmI1YzA2N2MxMzA0XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Lawrence of Arabia"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Wadi Rum, Jordan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 31.969741</span>, <span class="lon">35.900547</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Imperial Sand Dunes Recreation Area, Glamis, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.8476</span>, <span class="lon">-115.5694</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Alfonso XIII Hotel   2 San Fernando 41004, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.387389</span>, <span class="lon">-5.988953</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Aït Benhaddou, Morocco 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.3507513130338</span>, <span class="lon">-6.01707272732872</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                El Casino, Avenida de Maria Luisa, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.3786321287575</span>, <span class="lon">-5.99134781646474</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Desert South of Ouarzazate, Morocco 
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.91667</span>, <span class="lon">-6.91667</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                El Jafr, Jordan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 32.537428</span>, <span class="lon">35.851935</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Playa del Algarrobico, Carboneras, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.000426</span>, <span class="lon">-1.891478</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Chobham Common, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.3481</span>, <span class="lon">-0.6038</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Merthyr Mawr, Bridgend, Wales, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.4845</span>, <span class="lon">-3.61006</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Plaza of the Americas, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.5</span>, <span class="lon">-5.5</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.04989</span>, <span class="lon">-2.39138</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Jebel Tubeiq, Jordan 
            </td>   
                <td class="table__cell">
                <span class="lat"> 44.502425</span>, <span class="lon">-89.54316</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Desierto de Tabernas, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.090023</span>, <span class="lon">-2.379403</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Maan, Jordan
            </td>   
                <td class="table__cell">
                <span class="lat"> 30.19333</span>, <span class="lon">35.73333</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Palacio Espanol, Plaza de España, Sevilla, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.37698</span>, <span class="lon">-5.98696</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                St Paul's Cathedral, St Paul's Churchyard, City of London, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.513744</span>, <span class="lon">-0.09837950000000001</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.1452098010523</span>, <span class="lon">-2.07507758056227</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Cabo de Gata, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.781144</span>, <span class="lon">-2.242177</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                San José, Almería, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 36.761896</span>, <span class="lon">-2.110094</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.3266214954147</span>, <span class="lon">-5.96769337244481</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shepperton Studios, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.407444</span>, <span class="lon">-0.465177</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Casa de Pilatos, Plaza de Pilatos, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.3902835</span>, <span class="lon">-5.987071</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Carboneras, Almería, Andalucía, Spain
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.00046</span>, <span class="lon">-1.89189</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Parque de Maria Luisa, Avenida de Isabel la Catolica, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.403914</span>, <span class="lon">-6.185953</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Plaza de Pilatos, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.389824</span>, <span class="lon">-5.987061</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Avenida de Isabel la Catolica, Sevilla, Andalucía, Spain 
            </td>   
                <td class="table__cell">
                <span class="lat"> 37.374748785893</span>, <span class="lon">-5.98642674666078</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>