<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Lawrence of Arabia</h3>
          <p class="card-text mb-0">


  <span > The story of T.E. Lawrence, the English officer who successfully united and led the diverse, often warring, Arab tribes during World War I in order to fight the Turks.  </span>
                          <span > Due to his knowledge of the native Bedouin tribes, British Lieutenant T.E. Lawrence is sent to Arabia to find Prince Faisal and serve as a liaison between the Arabs and the British in their fight against the Turks. With the aid of native Sherif Ali, Lawrence rebels against the orders of his superior officer and strikes out on a daring camel journey across the harsh desert to attack a well-guarded Turkish port. -Jwelch5742.  </span>
                          <span > A semi-fictional account of the exploits of British military officer T.E. Lawrence during WWI is presented, plus a prologue at his 1935 funeral where his contemporaries remark or don't remark at how they consider him and his military contributions especially to the Great War. Viewed somewhat as an insolent man, he, a lieutenant in intelligence at a desk job in the Cairo bureau, is assigned to go on a reconnaissance mission to the Arabian peninsula to assess Prince Faisal's efforts against the Turks. He is assigned this job in what is considered its low importance in the British still focusing their own efforts directly on the German offensive, and because of his academic knowledge of Arabia. Against the narrow confines of his original orders and advice of ranking officers in the field, Lawrence, befriending many he meets, not only the Prince but most specifically Sherif Ali, bands with the Arabs in being able to coalesce the many disparate tribes which comprise the fighting Bedouins. Things begin to change for Lawrence when the British military as a whole gets more involved in the goings-on in Arabia - they working on the presumed goals of the politicians - and Lawrence himself changes his own outlook as a human being in being caught directly in battle. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > An inordinately complex man who has been labelled everything from hero, to charlatan, to sadist, T.E. Lawrence blazed his way to glory in the Arabian desert, then sought anonymity as a common soldier under an assumed name. The story opens with the death of Lawrence in a motorcycle accident in Dorset at the age of forty-six, then flashbacks to recount his adventures: as a young intelligence officer in Cairo in 1916, he is given leave to investigate the progress of the Arab revolt against the Turks in World War I. In the desert, he organizes a guerrilla army and, for two years, leads the Arabs in harassing the Turks with desert raids, train-wrecking, and camel attacks. Eventually, he leads his army northward and helps a British General destroy the power of the Ottoman Empire. -alfiehitchie.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYWY5ZjhjNGYtZmI2Ny00ODM0LWFkNzgtZmI1YzA2N2MxMzA0XkEyXkFqcGdeQXVyNjUwNzk3NDc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Lawrence of Arabia"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Imperial, California, United States
            </td>
                <td class="table__cell">
                32.8476, -115.5694
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Run Jordan, Shamesani, اممان, Amman, Jordan
            </td>
                <td class="table__cell">
                31.969741, 35.900547
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                41004, Sevilla, Seville, Spain
            </td>
                <td class="table__cell">
                37.387389, -5.988953
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Маракуйя, вул. Маршала Тимошенка, 29, Київ, Kyiv 04205, Ukraine
            </td>
                <td class="table__cell">
                50.512677, 30.503327
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Avenida De María Luisa, 41013 Sevilla, Seville, Spain
            </td>
                <td class="table__cell">
                37.3786321287575, -5.99134781646474
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Ouarzazate, Drâa-Tafilalet, Morocco
            </td>
                <td class="table__cell">
                30.91667, -6.91667
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Jafra, University street, يربيد, Irbid, Jordan
            </td>
                <td class="table__cell">
                32.537428, 35.851935
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Playa De Algarrobico, Carboneras, Almería 04140, Spain
            </td>
                <td class="table__cell">
                37.000426, -1.891478
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Chobham, Surrey, England, United Kingdom
            </td>
                <td class="table__cell">
                51.3481, -0.6038
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Merthyr Mawr, Pen-Y-Bont Ar Ogwr, Wales, United Kingdom
            </td>
                <td class="table__cell">
                51.4845, -3.61006
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Seville, Spain
            </td>
                <td class="table__cell">
                37.5, -5.5
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Tabernas, Almería, Spain
            </td>
                <td class="table__cell">
                37.04989, -2.39138
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Nebel Street, Jordan, Wisconsin 54481, United States
            </td>
                <td class="table__cell">
                44.502425, -89.54316
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Desierto De Tabernas, Tabernas, Almería 04212, Spain
            </td>
                <td class="table__cell">
                37.090023, -2.379403
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                ماان, Ma'an, Jordan
            </td>
                <td class="table__cell">
                30.19333, 35.73333
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Plaza de España, Av. de Isabel 'La Católica', Sevilla, Seville 41013, Spain
            </td>
                <td class="table__cell">
                37.37698, -5.98696
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                St Paul's Cathedral, St Paul's Church Yard, London, England EC4M 8AE, United Kingdom
            </td>
                <td class="table__cell">
                51.513744, -0.09837950000000001
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Andalucía, 04271 Sorbas, Almería, Spain
            </td>
                <td class="table__cell">
                37.1452098010523, -2.07507758056227
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Cabo de Gata, Almería, Almería, Spain
            </td>
                <td class="table__cell">
                36.781144, -2.242177
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                San José, Níjar, Almería, Spain
            </td>
                <td class="table__cell">
                36.761896, -2.110094
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Calle Andalucía, 41014 Sevilla, Seville, Spain
            </td>
                <td class="table__cell">
                37.3266214954147, -5.96769337244481
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saudi Arabia
            </td>
                <td class="table__cell">
                23.384784, 44.652426
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom
            </td>
                <td class="table__cell">
                51.407444, -0.465177
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Casa de Pilatos, Plaza de Pilatos, 1, Sevilla, Seville 41003, Spain
            </td>
                <td class="table__cell">
                37.3902835, -5.987071
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Carboneras, Almería, Spain
            </td>
                <td class="table__cell">
                37.00046, -1.89189
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Isabel, Sanlúcar la Mayor, Seville, Spain
            </td>
                <td class="table__cell">
                37.403914, -6.185953
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Plaza de Pilatos, Plaza de Pilatos, Sevilla, Seville 41003, Spain
            </td>
                <td class="table__cell">
                37.389824, -5.987061
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Avenida Isabel La Católica, 41013 Sevilla, Seville, Spain
            </td>
                <td class="table__cell">
                37.374748785893, -5.98642674666078
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[36.761896, -2.110094], [36.781144, -2.242177], [37.000426, -1.891478]], "data": [{"lat": 32.8476, "lon": -115.5694, "name": "Imperial, California, United States"}, {"lat": 31.969741, "lon": 35.900547, "name": "Run Jordan, Shamesani, \u0627\u0645\u0645\u0627\u0646, Amman, Jordan"}, {"lat": 37.387389, "lon": -5.988953, "name": "41004, Sevilla, Seville, Spain"}, {"lat": 50.512677, "lon": 30.503327, "name": "\u041c\u0430\u0440\u0430\u043a\u0443\u0439\u044f, \u0432\u0443\u043b. \u041c\u0430\u0440\u0448\u0430\u043b\u0430 \u0422\u0438\u043c\u043e\u0448\u0435\u043d\u043a\u0430, 29, \u041a\u0438\u0457\u0432, Kyiv 04205, Ukraine"}, {"lat": 37.3786321287575, "lon": -5.99134781646474, "name": "Avenida De Mar\u00eda Luisa, 41013 Sevilla, Seville, Spain"}, {"lat": 30.91667, "lon": -6.91667, "name": "Ouarzazate, Dr\u00e2a-Tafilalet, Morocco"}, {"lat": 32.537428, "lon": 35.851935, "name": "Jafra, University street, \u064a\u0631\u0628\u064a\u062f, Irbid, Jordan"}, {"lat": 37.000426, "lon": -1.891478, "name": "Playa De Algarrobico, Carboneras, Almer\u00eda 04140, Spain"}, {"lat": 51.3481, "lon": -0.6038, "name": "Chobham, Surrey, England, United Kingdom"}, {"lat": 51.4845, "lon": -3.61006, "name": "Merthyr Mawr, Pen-Y-Bont Ar Ogwr, Wales, United Kingdom"}, {"lat": 37.5, "lon": -5.5, "name": "Seville, Spain"}, {"lat": 37.04989, "lon": -2.39138, "name": "Tabernas, Almer\u00eda, Spain"}, {"lat": 44.502425, "lon": -89.54316, "name": "Nebel Street, Jordan, Wisconsin 54481, United States"}, {"lat": 37.090023, "lon": -2.379403, "name": "Desierto De Tabernas, Tabernas, Almer\u00eda 04212, Spain"}, {"lat": 30.19333, "lon": 35.73333, "name": "\u0645\u0627\u0627\u0646, Ma\u0027an, Jordan"}, {"lat": 37.37698, "lon": -5.98696, "name": "Plaza de Espa\u00f1a, Av. de Isabel \u0027La Cat\u00f3lica\u0027, Sevilla, Seville 41013, Spain"}, {"lat": 51.513744, "lon": -0.09837950000000001, "name": "St Paul\u0027s Cathedral, St Paul\u0027s Church Yard, London, England EC4M 8AE, United Kingdom"}, {"lat": 37.1452098010523, "lon": -2.07507758056227, "name": "Andaluc\u00eda, 04271 Sorbas, Almer\u00eda, Spain"}, {"lat": 36.781144, "lon": -2.242177, "name": "Cabo de Gata, Almer\u00eda, Almer\u00eda, Spain"}, {"lat": 36.761896, "lon": -2.110094, "name": "San Jos\u00e9, N\u00edjar, Almer\u00eda, Spain"}, {"lat": 37.3266214954147, "lon": -5.96769337244481, "name": "Calle Andaluc\u00eda, 41014 Sevilla, Seville, Spain"}, {"lat": 23.384784, "lon": 44.652426, "name": "Saudi Arabia"}, {"lat": 51.407444, "lon": -0.465177, "name": "Shepperton Studios, Studios Rd, Shepperton, England TW17 0QD, United Kingdom"}, {"lat": 37.3902835, "lon": -5.987071, "name": "Casa de Pilatos, Plaza de Pilatos, 1, Sevilla, Seville 41003, Spain"}, {"lat": 37.00046, "lon": -1.89189, "name": "Carboneras, Almer\u00eda, Spain"}, {"lat": 37.403914, "lon": -6.185953, "name": "Santa Isabel, Sanl\u00facar la Mayor, Seville, Spain"}, {"lat": 37.389824, "lon": -5.987061, "name": "Plaza de Pilatos, Plaza de Pilatos, Sevilla, Seville 41003, Spain"}, {"lat": 37.374748785893, "lon": -5.98642674666078, "name": "Avenida Isabel La Cat\u00f3lica, 41013 Sevilla, Seville, Spain"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>