<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">1917</h3>
          <p class="card-text mb-0">


  <span > April 6th, 1917. As an infantry battalion assembles to wage war deep in enemy territory, two soldiers are assigned to race against time and deliver a message that will stop 1,600 men from walking straight into a deadly trap.  </span>
                          <span > April 1917, the Western Front. Two British soldiers are sent to deliver an urgent message to an isolated regiment. If the message is not received in time the regiment will walk into a trap and be massacred. To get to the regiment they will need to cross through enemy territory. Time is of the essence and the journey will be fraught with danger. -grantss.  </span>
                          <span > April 6, 1917. On a battlefield in Northern France, Lance Corporal Tom Blake with the British Army is asked to choose one of his battalion colleagues to join him on an assignment, he choosing his best friend, Lance Corporal Will Schofield. It isn't until Blake chooses Schofield that they learn of the dangerous nature of the mission: to hand deliver a message to Colonel MacKenzie leading another nearby battalion, they having to cross no man's land to what they have been told are now the abandoned German trenches to get to MacKenzie just past the nearby town of Écoust. The message, which must reach its destination by dawn tomorrow, is for MacKenzie to abort his troop's attack then on the supposedly retreating Germans who are in reality lying in wait, the Germans having planned this deception for months. The lives of MacKenzie and his 1,600 men are at risk if the message does not make it through in time, one of those men being Blake's brother, Lt. Joseph Blake. Blake and Schofield's stories as it pertains to them as soldiers in the bigger picture of the war, as soldiers trying to stay alive, as friends, and as human beings who have their own motivations are told for as long as they are able to survive on this mission. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > It's been already three devastating years into the costly World War I, and the Imperial German Army seems to have retreated from their position in the battle-scarred Western Front--an elaborate scheme designed to lure the Allies into a deadly trap. On April 6, 1917--with the lives of 1,600 fellow soldiers hanging by a thread--the best friends and British Army Lance Corporals, Tom Blake and Will Schofield, undertake a peril-laden mission to hand-deliver an urgent, life-saving message to Colonel MacKenzie's Second Battalion of the Devonshire line infantry regiment. With this in mind, amid the horrors of an uncannily silent no man's land, the young brothers-in-arms must traverse nine long miles of hostile enemy terrain in the French countryside, to reach the 2nd Devons in time and call off the imminent attack. Now, two ordinary troopers walk into certain death. What makes a true hero? -Nick Riganas.  </span>
    <span class="additional-information" > British trenches somewhere in France. World war has been going on for the third year, heroic illusions have dissipated; general mood - boredom and fatigue. Stuff the belly, sleep, return home to Christmas Eve. On another quiet day, when nothing happens, two young soldiers, Blake and Schofield, are summoned to the general, who instructs them to send an important message to Colonel MacKenzie in the Second Devonshire Battalion, whose telephone connection was cut off by the enemy. -Peter-Patrick76 (peter-patrick@mail.com).  </span>
    <span class="additional-information" > During World War I, two British soldiers -- Lance Cpl. Schofield and Lance Cpl. Blake -- receive seemingly impossible orders. In a race against time, they must cross over into enemy territory to deliver a message that could potentially save 1,600 of their fellow comrades -- including Blake's own brother. -Jwelch5742.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="1917"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Salisbury, Wiltshire, England, United Kingdom
            </td>
                <td class="table__cell">
                51.06906129999999, -1.7954134
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Low Fell, NE9 5JJ, Gateshead, Tyne and Wear, England, United Kingdom
            </td>
                <td class="table__cell">
                54.9343411, -1.5986157
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Low Force Waterfall, Bowlees, Barnard Castle, England DL12 0XE, United Kingdom
            </td>
                <td class="table__cell">
                54.650337, -2.145402
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hyde Meadows, Bovingdon, Hemel Hempstead, HP3 0ET, United Kingdom
            </td>
                <td class="table__cell">
                51.72186, -0.534952
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                International White Water, Tees Barrage, Stockton-On-Tees, England TS18 2QW, United Kingdom
            </td>
                <td class="table__cell">
                54.565271, -1.28908
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Hankley Common, Thursley Road, Godalming, England GU8 6LL, United Kingdom
            </td>
                <td class="table__cell">
                51.161909, -0.727556
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Shepperton Studios Studios Rd, Shepperton, TW17 8EJ, United Kingdom
            </td>
                <td class="table__cell">
                51.396334, -0.453109
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Gateshead, Tyne and Wear, England, United Kingdom
            </td>
                <td class="table__cell">
                54.95, -1.6
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Glasgow, Glasgow City, Scotland, United Kingdom
            </td>
                <td class="table__cell">
                55.860982499999984, -4.2488787
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Bovingdon, Hertfordshire, England, United Kingdom
            </td>
                <td class="table__cell">
                51.72303, -0.53232
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Newbiggin, Durham, England, United Kingdom
            </td>
                <td class="table__cell">
                54.6431, -2.1311
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Newbiggin, Durham, England, United Kingdom
            </td>
                <td class="table__cell">
                54.6431, -2.1311
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Barnard Castle, Durham, England, United Kingdom
            </td>
                <td class="table__cell">
                54.55, -1.92
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Wynyard Hall, Billingham, England TS22 5SH, United Kingdom
            </td>
                <td class="table__cell">
                54.625167000000005, -1.35031
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Elstead, Surrey, England, United Kingdom
            </td>
                <td class="table__cell">
                51.184, -0.698
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[51.161909, -0.727556], [51.184, -0.698], [51.396334, -0.453109]], "data": [{"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 51.06906129999999, "lon": -1.7954134, "name": "Salisbury, Wiltshire, England, United Kingdom"}, {"lat": 54.9343411, "lon": -1.5986157, "name": "Low Fell, NE9 5JJ, Gateshead, Tyne and Wear, England, United Kingdom"}, {"lat": 54.650337, "lon": -2.145402, "name": "Low Force Waterfall, Bowlees, Barnard Castle, England DL12 0XE, United Kingdom"}, {"lat": 51.72186, "lon": -0.534952, "name": "Hyde Meadows, Bovingdon, Hemel Hempstead, HP3 0ET, United Kingdom"}, {"lat": 54.565271, "lon": -1.28908, "name": "International White Water, Tees Barrage, Stockton-On-Tees, England TS18 2QW, United Kingdom"}, {"lat": 51.161909, "lon": -0.727556, "name": "Hankley Common, Thursley Road, Godalming, England GU8 6LL, United Kingdom"}, {"lat": 51.396334, "lon": -0.453109, "name": "Shepperton Studios Studios Rd, Shepperton, TW17 8EJ, United Kingdom"}, {"lat": 54.95, "lon": -1.6, "name": "Gateshead, Tyne and Wear, England, United Kingdom"}, {"lat": 55.860982499999984, "lon": -4.2488787, "name": "Glasgow, Glasgow City, Scotland, United Kingdom"}, {"lat": 51.72303, "lon": -0.53232, "name": "Bovingdon, Hertfordshire, England, United Kingdom"}, {"lat": 54.6431, "lon": -2.1311, "name": "Newbiggin, Durham, England, United Kingdom"}, {"lat": 54.6431, "lon": -2.1311, "name": "Newbiggin, Durham, England, United Kingdom"}, {"lat": 54.55, "lon": -1.92, "name": "Barnard Castle, Durham, England, United Kingdom"}, {"lat": 54.625167000000005, "lon": -1.35031, "name": "Wynyard Hall, Billingham, England TS22 5SH, United Kingdom"}, {"lat": 51.184, "lon": -0.698, "name": "Elstead, Surrey, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>