<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">1917</h3>
                        <p class="card-text">
                          April 6th, 1917. As an infantry battalion assembles to wage war deep in enemy territory, two soldiers are assigned to race against time and deliver a message that will stop 1,600 men from walking straight into a deadly trap.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTdmNTFjNDEtNzg0My00ZjkxLTg1ZDAtZTdkMDc2ZmFiNWQ1XkEyXkFqcGdeQXVyNTAzNzgwNTg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="1917"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Salisbury Plain, Wiltshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.06906129999999</span>, <span class="lon">-1.7954134</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Govan Graving Docks, Glasgow, Glasgow City, Scotland, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.860982499999984</span>, <span class="lon">-4.2488787</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Low Fell, Gateshead, Tyne & Wear, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.9343411</span>, <span class="lon">-1.5986157</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Low Force Waterfall, Bowlees, Newbiggin, Barnard Castle, County Durham, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.650337</span>, <span class="lon">-2.145402</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bovingdon Airfield, Bovingdon, Hemel Hempstead, Hertfordshire, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.72186</span>, <span class="lon">-0.534952</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Tees Barrage International White Water Centre, Tees Barrage Way, Stockton on Tees, County Durham, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.565271</span>, <span class="lon">-1.28908</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hankley Common, Elstead, Godalming, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.161909</span>, <span class="lon">-0.727556</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Shepperton Studios, Studios Road, Shepperton, Surrey, England, UK 
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.396334</span>, <span class="lon">-0.453109</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Gateshead, Tyne & Wear, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.95</span>, <span class="lon">-1.6</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Glasgow, Glasgow City, Scotland, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 55.860982499999984</span>, <span class="lon">-4.2488787</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bovingdon, Hemel Hempstead, Hertfordshire, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.72303</span>, <span class="lon">-0.53232</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Bowlees, Newbiggin, Barnard Castle, County Durham, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.6431</span>, <span class="lon">-2.1311</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Newbiggin, Barnard Castle, County Durham, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.6431</span>, <span class="lon">-2.1311</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Barnard Castle, County Durham, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.55</span>, <span class="lon">-1.92</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Stockton on Tees, County Durham, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 54.625167000000005</span>, <span class="lon">-1.35031</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Elstead, Godalming, Surrey, England, UK
            </td>   
                <td class="table__cell">
                <span class="lat"> 51.184</span>, <span class="lon">-0.698</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>