<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">There Will Be Blood</h3>
          <p class="card-text mb-0">


  <span > A story of family, religion, hatred, oil and madness, focusing on a turn-of-the-century prospector in the early days of the business.  </span>
                          <span > The intersecting life stories of Daniel Plainview and Eli Sunday in early twentieth century California is presented. Miner turn oilman Daniel Plainview is a driven man who will do whatever it takes to achieve his goals. He works hard but he also takes advantage of those around him at their expense if need be. His business partner is his son H.W., who in reality he "acquired" when H.W.'s biological single father, who worked on one of Daniel's rigs, got killed in a workplace accident. Daniel is deeply protective of H.W. if only for what H.W. brings to the partnership. Eli Sunday is one in a pair of twins, whose family farm Daniel purchases for the major oil deposit located on it. Eli, the local preacher and a self-proclaimed faith healer, wants the money from the sale of the property to finance his own church. The lives of the two competitive men often clash as Daniel pumps oil off the property and tries to acquire all the surrounding land at bargain prices to be able to build a pipeline to the coast, and as Eli tries to build his own religious empire. -Huggo.  </span>
                          <span > Ruthless silver miner, turned oil prospector, Daniel Plainview moves to oil-rich California. Using his adopted son to project a trustworthy, family-man image, Plainview cons local landowners into selling him their valuable properties for a pittance. However, local preacher Eli Sunday suspects Plainviews motives and intentions, starting a slow-burning feud that threatens both their lives. -yusufpiskin.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > The film follows the rise to power of Daniel Plainview - a charismatic and ruthless oil prospector, driven to succeed by his intense hatred of others and desperate need to see any and all competitors fail. When he learns of oil-rich land in California that can be bought cheaply, he moves his operation there and begins manipulating and exploiting the local landowners into selling him their property. Using his young adopted son H.W. to project the image of a caring family man, Plainview gains the cooperation of almost all the locals with lofty promises to build schools and cultivate the land to make their community flourish. Over time, Plainview's gradual accumulation of wealth and power causes his true self to surface, and he begins to slowly alienate himself from everyone in his life. -Denny Gibbons.  </span>
    <span class="additional-information" > Daniel Plainview is an oil man and spends his days harvesting the money from discovered oil. When Paul Sunday asks Plainview to dig for the oil at his family home, he finds it too hard to resist. Soon, he is up in Little Boston, California. Not everyone is pleased to see him as tension builds between Daniel and preacher, Eli Sunday as well as the greed. -FilmFanUk.  </span>
    <span class="additional-information" > In the early years of the 20th century, Daniel Plainview is an oil prospector. Based on information sold to him by Paul Sunday, he travels to Little Boston, California and begins to buy land, starting with the Sunday's farm. Wanting to buy up all of the land in the area, he smooth-talks the locals into selling by promising to build roads, schools and churches. He has no intention of doing so, of course. His only purpose is to make money. Over the course of his endeavors, men die, the locals get nothing, and Plainview gets rich. In his life he makes few friends and many enemies and even his adopted son H.W. is eventually alienated. -garykmcd.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjAxODQ4MDU5NV5BMl5BanBnXkFtZTcwMDU4MjU1MQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="There Will Be Blood"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lompoc, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.6392</span>, <span class="lon">-120.4579</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Marfa, Texas, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">30.3135</span>, <span class="lon">-104.0217</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">8601 North Thorne Lane Southwest, Lakewood, Washington 98498, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">47.130295</span>, <span class="lon">-122.55136</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">El Mirage Dry Lake, 20471 Mountain View Rd, Adelanto, California 92301, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.624683</span>, <span class="lon">-117.547873</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Beverly Hills, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0736</span>, <span class="lon">-118.4004</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Clarita, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.42</span>, <span class="lon">-118.54</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Shafter, Texas, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">29.8202</span>, <span class="lon">-104.3033</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Texas, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">31.8039734986</span>, <span class="lon">-98.8223185136653</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Presidio, 911 W 11th St, Houston, Texas 77008, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">29.790724</span>, <span class="lon">-95.406735</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[34.0544, -118.2439], [34.0736, -118.4004], [34.42, -118.54]], "data": [{"lat": 34.6392, "lon": -120.4579, "name": "Lompoc, California, United States"}, {"lat": 30.3135, "lon": -104.0217, "name": "Marfa, Texas, United States"}, {"lat": 47.130295, "lon": -122.55136, "name": "8601 North Thorne Lane Southwest, Lakewood, Washington 98498, United States"}, {"lat": 34.624683, "lon": -117.547873, "name": "El Mirage Dry Lake, 20471 Mountain View Rd, Adelanto, California 92301, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.0736, "lon": -118.4004, "name": "Beverly Hills, California, United States"}, {"lat": 34.42, "lon": -118.54, "name": "Santa Clarita, California, United States"}, {"lat": 29.8202, "lon": -104.3033, "name": "Shafter, Texas, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 31.8039734986, "lon": -98.8223185136653, "name": "Texas, United States"}, {"lat": 29.790724, "lon": -95.406735, "name": "Presidio, 911 W 11th St, Houston, Texas 77008, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>