<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Back to the Future</h3>
          <p class="card-text mb-0">


  <span > Marty McFly, a 17-year-old high school student, is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his close friend, the eccentric scientist Doc Brown.  </span>
                          <span > Marty McFly, a typical American teenager of the Eighties, is accidentally sent back to 1955 in a plutonium-powered DeLorean "time machine" invented by a slightly mad scientist. During his often hysterical, always amazing trip back in time, Marty must make certain his teenage parents-to-be meet and fall in love - so he can get back to the future. -Robert Lynch .  </span>
                          <span > Marty McFly's life is a dump. His father, George, is constantly bullied by his supervisor Biff Tannen and his mother, Lorraine, is an overweight alcoholic. One day, Marty gets a call from his scientist friend Dr. "Doc" Emmet Brown telling Marty to meet him at Twin Pines Mall at 1:15 AM where Doc unveils a time machine that runs off of plutonium built into a DeLorean and demonstrates it to Marty. Marty accidentally activates the time machine, sending him back to 1955 where he accidentally gets in the way of his teenage parents meeting. Marty must find a way to convince Doc that he is from the future, reunite his parents, and ultimately get back to the future.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > In this 1980s sci-fi classic, small-town California teen Marty McFly is thrown back into the '50s when an experiment by his eccentric scientist friend Doc Brown goes awry. Traveling through time in a modified DeLorean car, Marty encounters young versions of his parents, and must make sure that they fall in love or he'll cease to exist. Even more dauntingly, Marty has to return to his own time and save the life of Doc Brown. -Jwelch5742.  </span>
    <span class="additional-information" > Marty McFly, a 17 year old high school student gets lost in 1955 by an accident, 30 years back in time. With the help of his friend Dr. Emmet Brown, he is desperately trying to find his way back to the future in the year 1985. It becomes a battle against the clock.  </span>
    <span class="additional-information" > It is the year 1985. Marty McFly, a mild-mannered high school student, stopped by Dr. Emmett L. Brown's laboratory to play around with an amplifier. Then he receives a message from Doc that he needs help from him for Doc's latest invention, a time machine made out of a DeLorean sports car that can travel through time instantaneously when it reaches a speed velocity of 88 MPH. Then, Doc was gunned down by Libyan Nationalists, Marty makes an effort to escape from the Lybians by using the time machine. Then Marty accidentally warps himself into 1955. Where he meets both of his parents when they were teenagers, then Marty unintentionally interrupts his parent's first meeting together, he then finds a younger version of Doc and together they try to find a way to get Marty's parents-to-be back together, and to get Marty back to 1985. -John Wiggins.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Back to the Future"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Whittier, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.9749</span>, <span class="lon">-118.0337</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Puente Hills Mall, 1600 S Azusa Ave, City of Industry, California 91748, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.993409</span>, <span class="lon">-117.927348</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Placerita Canyon, Newhall, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.37</span>, <span class="lon">-118.51</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1711 Bushnell Avenue, South Pasadena, California 91030, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10617</span>, <span class="lon">-118.1416</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1727 Bushnell Avenue, South Pasadena, California 91030, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10569</span>, <span class="lon">-118.1416</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pasadena, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1476</span>, <span class="lon">-118.1445</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Hollywood United Methodist Church, 6817 Franklin Ave, Los Angeles, California 90068, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1044225</span>, <span class="lon">-118.338932</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1809 Bushnell Avenue, South Pasadena, California 91030, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.10528</span>, <span class="lon">-118.14159</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">9303 Roslyndale Avenue, Pacoima, California 91331, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.23897</span>, <span class="lon">-118.43345</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Universal City Plz, Los Angeles, California 91608, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.14138</span>, <span class="lon">-118.35659</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1177 Hillcrest Avenue, Pasadena, California 91106, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.126975</span>, <span class="lon">-118.133545</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Burbank, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1816</span>, <span class="lon">-118.3259</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chino, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0134</span>, <span class="lon">-117.6901</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1515 Glenoaks Boulevard, Burbank, California 91504, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1921</span>, <span class="lon">-118.32088</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Kagel Canyon Street and N Sandusky Ave, Pacoima, California 91331, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2421781</span>, <span class="lon">-118.4332077</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Burbank, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1816</span>, <span class="lon">-118.3259</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">4730 Crystal Springs Drive, Los Angeles, California 90027, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1259</span>, <span class="lon">-118.27416</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Panorama City, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2247</span>, <span class="lon">-118.4498</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Universal City Plz, Los Angeles, California 91608, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.14138</span>, <span class="lon">-118.35659</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Clarita, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.42</span>, <span class="lon">-118.54</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Universal City Plz, Los Angeles, California 91608, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.14138</span>, <span class="lon">-118.35659</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">100 Universal City Plz, Los Angeles, California 91608, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.14138</span>, <span class="lon">-118.35659</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.9749, -118.0337], [33.993409, -117.927348], [34.0134, -117.6901]], "data": [{"lat": 33.9749, "lon": -118.0337, "name": "Whittier, California, United States"}, {"lat": 33.993409, "lon": -117.927348, "name": "Puente Hills Mall, 1600 S Azusa Ave, City of Industry, California 91748, United States"}, {"lat": 34.37, "lon": -118.51, "name": "Placerita Canyon, Newhall, California, United States"}, {"lat": 34.10617, "lon": -118.1416, "name": "1711 Bushnell Avenue, South Pasadena, California 91030, United States"}, {"lat": 34.10569, "lon": -118.1416, "name": "1727 Bushnell Avenue, South Pasadena, California 91030, United States"}, {"lat": 34.1476, "lon": -118.1445, "name": "Pasadena, California, United States"}, {"lat": 34.1044225, "lon": -118.338932, "name": "Hollywood United Methodist Church, 6817 Franklin Ave, Los Angeles, California 90068, United States"}, {"lat": 34.10528, "lon": -118.14159, "name": "1809 Bushnell Avenue, South Pasadena, California 91030, United States"}, {"lat": 34.23897, "lon": -118.43345, "name": "9303 Roslyndale Avenue, Pacoima, California 91331, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 34.126975, "lon": -118.133545, "name": "1177 Hillcrest Avenue, Pasadena, California 91106, United States"}, {"lat": 34.1816, "lon": -118.3259, "name": "Burbank, California, United States"}, {"lat": 34.0134, "lon": -117.6901, "name": "Chino, California, United States"}, {"lat": 34.1921, "lon": -118.32088, "name": "1515 Glenoaks Boulevard, Burbank, California 91504, United States"}, {"lat": 34.2421781, "lon": -118.4332077, "name": "Kagel Canyon Street and N Sandusky Ave, Pacoima, California 91331, United States"}, {"lat": 34.1816, "lon": -118.3259, "name": "Burbank, California, United States"}, {"lat": 34.1259, "lon": -118.27416, "name": "4730 Crystal Springs Drive, Los Angeles, California 90027, United States"}, {"lat": 34.2247, "lon": -118.4498, "name": "Panorama City, California, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 34.42, "lon": -118.54, "name": "Santa Clarita, California, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 34.14138, "lon": -118.35659, "name": "100 Universal City Plz, Los Angeles, California 91608, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>