<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">American Beauty</h3>
                        <p class="card-text">
                          A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTBmZWJkNjctNDhiNC00MGE2LWEwOTctZTk5OGVhMWMyNmVhXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="American Beauty"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Sacramento, California, USA::(aerial shots)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">20105 Saticoy Rd., Canoga Park, Los Angeles, California, USA::(Mr. Smiley's drive-through)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South High School - 4801 Pacific Coast Highway, Torrance, California, USA::(High school scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Police Academy - 1880 N. Academy Drive, Elysian Park, Los Angeles, California, USA::(target shooting scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">11388 Homedale Street, Brentwood, Los Angeles, California, USA::(Lester's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Alameda Avenue, Burbank, California, USA::(Lester driving scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Long Beach Polytechnic High School - 1600 Atlantic Avenue, Long Beach, California, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">330 S. Windsor Blvd., Hancock Park, Los Angeles, California, USA::(The Colonel's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chatsworth, Los Angeles, California, USA::(open house scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Bay, Los Angeles, California, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Blondie Street, Columbia/Warner Bros. Ranch - 411 North Hollywood Way, Burbank, California, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA::(studio)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>