<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Apocalypse Now</h3>
                        <p class="card-text">
                          A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDdhODg0MjYtYzBiOS00ZmI5LWEwZGYtZDEyNDU4MmQyNzFkXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Apocalypse Now"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Baler Bay, Baler, Aurora, Philippines::(beach with soldiers surfing)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baler, Aurora, Philippines::(Helicopter attack on village)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pagsanjan, Laguna, Philippines::(Do Long Bridge - Kurtz' Compound)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Iba, Zambales, Philippines::(medevac)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pagsanjan River, Pagsanjan, Laguna, Philippines::(Magdapio River - Do Long Bridge)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Laguna, Philippines</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Metro Manila, Philippines</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Philippines</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Río Chavón, La Romana, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Napa Valley, California, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>