<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Casino</h3>
                        <p class="card-text">
                          A tale of greed, deception, money, power, and murder occur between two best friends: a mafia enforcer and a casino executive compete against each other over a gambling empire, and over a fast-living and fast-loving socialite.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTcxOWYzNDYtYmM4YS00N2NkLTk0NTAtNjg1ODgwZjAxYzI3XkEyXkFqcGdeQXVyNTA4NzY1MzY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Casino"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Le Bistro Lounge, Riviera Hotel & Casino - 2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA::(Tangiers Casino)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ruth's Chris Steak House - 3900 Paradise Road, Las Vegas, Nevada, USA::(Ginger's last scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hanford, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">357 Desert Inn Road, Las Vegas, Nevada, USA::(Sam's San Diego house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Glass Pool Inn - 4613 S Las Vegas Blvd, Las Vegas, Nevada, USA::(demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tony Roma's, Main Street Station, Las Vegas, Nevada, USA::(attempt on Sam's life)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baker, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bally's Casino Resort - 3645 Las Vegas Boulevard South, Las Vegas, Nevada, USA::(additional 'Tangiers' locations)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Overton, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Peppermill Fireside Lounge, Las Vegas, Nevada, USA::(Ginger/Ace restaurant scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3515 Cochise Lane, Las Vegas, Nevada, USA::(Sam's Las Vegas house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jean Dry Lake, Nevada, USA::(meeting in the desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3010 S. Valley View Blvd, Las Vegas, Nevada, USA::(San Marino Italian Grocery)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">520 S. Fourth St., Las Vegas, Nevada, USA::(Oscar Goodman's real office)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">721 N. Main St #3., Las Vegas, Nevada, USA::(El Cortez Warehouse)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Landmark Hotel - Convention Center Drive and Paradise Road, Las Vegas, Nevada, USA::(parking foyer scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas National Golf Club, Las Vegas, Nevada, USA::(golf course)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mighty Mart - 515 E Oakey Blvd, Las Vegas, Nevada, USA::(Sam and Ginger talking in parking lot)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mojave Desert, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Moulin Rouge - 800 W Bonanza, Las Vegas, Nevada, USA::(Chicago nightclub)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Park Paseo, Las Vegas, Nevada, USA::(as Vegas Valley Country Club)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Piero's Restaurant - 355 Convention Center Drive, Las Vegas, Nevada, USA::(Nicky's restaraunt)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Regency Motel - 784 N. Main Street, Las Vegas, Nevada, USA::(Lester Diamond beating)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Riviera Hotel & Casino - 2901 Las Vegas Boulevard South, Las Vegas, Nevada, USA::(Tangiers Hotel and Casino)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Oscar's Steakhouse, Plaza Hotel, 1 Main St., Las Vegas, Nevada, USA::(Ginger & Sam argue over her spending habits during dinner)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Henderson Sky Harbor Airport, Henderson, Nevada, USA::(as Kansas City Airport)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Idle Spurs, Sandy Valley, Nevada, USA::(Sam and Nicky café meeting)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kawasaki Dealership, West Sahara, Las Vegas, Nevada, USA::(Gold Rush LTD - since been demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">La Concha Motel - 2955 Las Vegas Boulevard South, Las Vegas, Nevada, USA::(Tryst)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas Boulevard South, Las Vegas, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Our Lady of Las Vegas, Las Vegas, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rocking K Ranch, Las Vegas, Nevada, USA::(Nicky's last scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Jockey Club, Las Vegas, Nevada, USA::(Tangiers sports book/Sam's office)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Valley of Fire State Park - Route 169, Overton, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">McCarran International Airport - 5757 Wayne Newton Boulevard, Las Vegas, Nevada, USA::(as Las Vegas Airport)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jacor radio stations,1130 East Desert Inn road, Las Vegas, Nevada, USA::(Bank where Sharon Stone got cash from safety deposit box.)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>