<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Dead Poets Society</h3>
                        <p class="card-text">
                          Maverick teacher John Keating uses poetry to embolden his boarding school students to new heights of self-expression.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOGYwYWNjMzgtNGU4ZC00NWQ2LWEwZjUtMzE1Zjc3NjY3YTU1XkEyXkFqcGdeQXVyMTQxNzMzNDI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Dead Poets Society"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">St. Andrew's School - 350 Noxontown Road, Middletown, Delaware, USA::(school)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Everett Theatre - 47 West Main Street, Middletown, Delaware, USA::(A Midsummer Night's Dream performance)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New Castle, Delaware, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Middletown, Delaware, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Westover Hills, New Castle, Delaware, USA::(House of Leonard's father)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wolf Cave, Delaware, USA::(exteriors: society meetings)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rockland, Delaware, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>