<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Gone with the Wind</h3>
                        <p class="card-text">
                          The manipulative daughter of a Georgia plantation owner conducts a turbulent romance with a roguish profiteer during the American Civil War and Reconstruction periods.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYjUyZWZkM2UtMzYxYy00ZmQ3LWFmZTQtOGE2YjBkNjA3YWZlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Gone with the Wind"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">North Little Rock, Arkansas, USA::(Mill in opening credits)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Georgia, USA::(title scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Big Bear Lake, Big Bear Valley, San Bernardino National Forest, California, USA::(shantytown attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bidwell Park - Manzanita Avenue, Chico, California, USA::(shantytown attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Big Bear Valley, San Bernardino National Forest, California, USA::(shantytown attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Busch Gardens - S. Grove Avenue, Pasadena, California, USA::(Twelve Oaks gardens during barbecue)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Bernardino National Forest, California, USA::(shantytown attack)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calabasas, California, USA::(Scarlett's oath - Gerald O'Hara's last ride)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chico, California, USA::(Gerald O'Hara's first ride - Tara cottonfields)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Malibu Lake, California, USA::(Gerald O'Hara's walk with Scarlett)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Simi Valley, California, USA::(Tara cottonfields - Gerald O'Hara's last ride)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Selznick International Studios - 9336 W. Washington Blvd., Culver City, California, USA::(Twelve Oaks Mansion exterior establishing shot/most interiors of film)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Old Mill Park, Little Rock, Arkansas, USA::(Mill in opening credits)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arroyo Boulevard, Pasadena, California, USA::(Twelve Oaks' gardens)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lasky Mesa, West Hills, Los Angeles, California, USA::(Tara cottonfields - Gerald O'Hara's last ride)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pasadena, California, USA::(Twelve Oaks' gardens)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Agoura, California, USA::(Field hands "Quittin' time" scene/Jonas Wilkerson and the returning veteran)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Metro-Goldwyn-Mayer Studios - 10202 W. Washington Blvd., Culver City, California, USA::(Rhett teaching Bonnie to ride pony & Bonnie's last ride)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ahmanson Ranch, Victory Boulevard, Lasky Mesa, West Hills, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Reuss Ranch, Malibu Lake, California, USA::(Gerald O'Hara's walk with Scarlett)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paradise Apple Orchard, Chico, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paradise, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Agoura Hills, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Northern California, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">United Artists Studios - 7200 Santa Monica Boulevard, West Hollywood, California, USA::(music score)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Woodland Hills, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pentz Road, Paradise, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Hills, Los Angeles, California, USA::(Tara cottonfields - Gerald O'Hara's last ride)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arkansas, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 7, Culver Studios - 9336 W. Washington Blvd., Culver City, California, USA::(London hotel room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 8, Culver Studios - 9336 W. Washington Blvd., Culver City, California, USA::(inserts)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 9, Culver Studios - 9336 W. Washington Blvd., Culver City, California, USA::(graveyard)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 11, Culver Studios - 9336 W. Washington Blvd., Culver City, California, USA::(exterior of Oaks)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>