<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Indiana Jones and the Last Crusade</h3>
                        <p class="card-text">
                          In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Professor Henry "Indiana" Jones, Jr. finds himself up against Adolf Hitler's Nazis again to stop them from obtaining its powers.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjNkMzc2N2QtNjVlNS00ZTk5LTg0MTgtODY2MDAwNTMwZjBjXkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Indiana Jones and the Last Crusade"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Moab, Utah, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South Park Avenue, Arches National Park, Utah, USA::(opening scenes with boy scouts)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Figure 3 Ranch, Amarillo, Texas, USA::(the four riding into the sunset at the end) (coordinates: 34°59'19.7"N, 101°28'20.6"W)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Al-Khazneh, Petra, Jordan::(Temple of the Sun; exterior) (coordinates: 30°19'21"N, 35°27'06"E)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cortez, Colorado, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Guadix, Granada, Andalucía, Spain::(Iskenderun train station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arches National Park, Utah, USA::(opening scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Schloss Bürresheim, Mayen, Rhineland-Palatinate, Germany::(Castle Brunwald; exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cabo de Gata, Almería, Andalucía, Spain::(road chase; tunnel chase; beach chase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pagosa Springs, Colorado, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Administration Building, Treasure Island, San Francisco Bay, California, USA::(Tempelhof Airport Berlin; exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cumbres & Toltec Scenic Railroad, Chama, New Mexico, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chiesa di San Barnaba, Campo San Barnaba, Dorsoduro, Venice, Veneto, Italy::(exterior of library in Venice)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Desierto de Tabernas, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Alamosa, Colorado, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rickmansworth Masonic School, Rickmansworth, Hertfordshire, England, UK::(Barnett College; interior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tilbury Docks, Essex, England, UK::(speedboat chase scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fond Dogana alla Salute, Campo della Salute, Grand Canal, Venice, Vento, Italy::(Indy and Brody meet Elsa at the docks)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Campo San Barnaba, Venice, Veneto, Italy::(Indy, Brody, and Elsa enter library; Indy and Elsa emerge from sewer)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Playa de Monsul, Cabo de Gata, Almería, Andalucía, Spain::(Professor Jones scares off the seagulls)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stowe School, Buckingham, Buckinghamshire, England, UK::(Nazi rally)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Royal Horticultural Halls & Conference Centre, Vincent Square, Westminster, London, England, UK::(Tempelhof Airport Berlin; interior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palazzi Barbaro, Grand Canal, Venice, Veneto, Italy::(Indy releases Kazim after the boat chase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Blenheim Palace, Woodstock, Oxfordshire, England, UK::(book burning)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elstree Studios, Borehamwood, Hertfordshire, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baños de Alfaro, Rioja, Almeria, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rodalquilar, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Turre, Almería, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Granada, Andalucía, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Escuela de Artes de Almería, Almería, Almería, Andalucía, Spain::(Sultan's palace; interior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Weald Aerodrome, North Weald, Essex, England, UK::(Indy leaves for Venice)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cuevas de Roque, Almería, Almería, Andalucía, Spain::(caves) (demolished location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">La Alcazaba, Almería, Almería, Andalucia, Spain</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(interior of zeppelin) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 10, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(castle room; castle radio room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Exterior Tank, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(ship in Portuguese harbor; confrontation on the boat)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 6/Star Wars Stage, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(interior of Grail Temple) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Backlot, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(castle harbor)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>