<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Interstellar</h3>
                        <p class="card-text">
                          A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Interstellar"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Iceland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calgary, Alberta, Canada</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lethbridge, Alberta, Canada</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Nanton, Alberta, Canada</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">200 block of 24th St, Fort Macleod, Alberta, Canada::(exterior scenes: street in dust storm)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Canmore, Alberta, Canada::(Ha Ling) (road to NASA center)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Westin Bonaventure Hotel & Suites - 404 S. Figueroa Street, Downtown, Los Angeles, California, USA::(interiors: space research center)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Okotoks, Alberta, Canada::(baseball field)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Svínafellsjökull, Vatnajökull, Austurland, Iceland::(ice planet)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sony Pictures Studios - 10202 W. Washington Blvd., Culver City, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Altadena, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Torrance, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Warner Brothers Burbank Studios - 4000 Warner Boulevard, Burbank, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Convention Center - 1201 S. Figueroa Street, Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1525 Industrial St, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Longview, Alberta, Canada::(Cooper House)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Canada</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cheyenne Mountain Complex, Colorado, USA::(NASA, Outside when cooper parks the car and tries to cut the grid)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>