<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Joker</h3>
                        <p class="card-text">
                          In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Joker"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">1150 Anderson Ave, The Bronx, New York City, New York, USA::(Joker stairs scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Harlem, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bronx, New York City, New York, USA::(street scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Market Street at Washington Street, Newark, New Jersey, USA::(Climactic riot with Joker on top of the police car)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jersey City, New Jersey, USA::(street scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Newark Paramount Theatre, Market St, Newark, New Jersey, USA::(Arthur Fleck works as a clown in the street)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hudson County Courthouse, Jersey City, New Jersey, USA::(The Wayne Hall)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Loew's Jersey Theatre, Jersey City, New Jersey, USA::(Cinema theater exterior scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brooklyn Army Terminal, Sunset Park, Brooklyn, New York City, New York, USA::(Arkham State Hospital)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chinatown, New York City, New York, USA::(Street scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3396 Jerome Ave, The Bronx, New York City, New York, USA::(Donut shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Paramount Theatre, Newark, New Jersey, USA::(Porn theater playing "Strip Search")</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">199 Cherry St, New York City, New York, USA::(Joker runs through the tunnel scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Disused lower level platforms, 9th Avenue Subway Station, Brooklyn, New York City, New York, USA::(Subway station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Loew's Jersey Theatre, Jersey City, New Jersey, USA::(Crime Alley)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Seagram Building, New York City, New York, USA::(Wayne Industries)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Steiner Studios - 15 Washington Avenue, Brooklyn Navy Yard, Brooklyn, New York City, New York, USA::(Talk Show Set)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">West Side Highway & 136th St, New York City, New York, USA::(Ha-Ha's Talent Booking)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">20 Exchange Place, Financial District, New York City, New York, USA::(Gotham Savings Bank)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>