<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">L.A. Confidential</h3>
                        <p class="card-text">
                          As corruption grows in 1950s Los Angeles, three policemen - one strait-laced, one brutal, and one sleazy - investigate a series of murders with their own brand of justice.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMDQ2YzEyZGItYWRhOS00MjBmLTkzMDUtMTdjYzkyMmQxZTJlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="L.A. Confidential"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Frolic Room - 6245 Hollywood Blvd., Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Lovell Health House - 4616 Dundee Drive, Los Feliz, Los Angeles, California, USA::(Pierce Patchett's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Formosa Cafe - 7156 Santa Monica Blvd., West Hollywood, California, USA::(mafioso with the 'Real Lana Turner')</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1714 N Gramercy Place, Los Angeles, California, USA::("Movie Premiere pot bust")</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baldwin Hills, Los Angeles, California, USA::(Victory Motel set)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles City Hall - 200 North Spring Street, Downtown, Los Angeles, California, USA::(Closing scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">J & J Sandwich Shoppe - 119 E 6th Street, Los Angeles, California, USA::(Nite Owl Coffee Shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1279 S Cochran Ave, Los Angeles, California, USA::(Nick's Liquor Store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Crossroads of the World Center - 6671 Sunset Blvd., Hollywood, Los Angeles, California, USA::(Sid Hudgens' office)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Boardner's of Hollywood - 1652 North Cherokee Avenue, Hollywood, Los Angeles, California, USA::(Captain Smith and Bud White meeting at bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pacific Electric Building, Los Angeles, California, USA::(District Attorney's office)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pantages Theater - 6233 Hollywood Blvd., Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">501 Wilcox Avenue, Los Angeles, California, USA::(Lynn Bracken's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Former Venice Police Station Division 14, 685 Venice Blvd, Los Angeles, California, USA::(Front desk and stairs of police station on Christmas Eve)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood Center Motel - 6720 W. Sunset Blvd., Hollywood, Los Angeles, California, USA::(motel where Matt Reynolds is found dead)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lincoln Heights, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">RMS Queen Mary - 1126 Queens Highway, Long Beach, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Montecito Street, Lincoln Heights, Los Angeles, California, USA::(house where prostitute is held captive at Montecito & Ave 28)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Church of the Blessed Sacrament - 6657 W. Sunset Blvd., Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Echo Park, Los Angeles, California, USA::(Leonard Bidwell's house at 1255 Bellevue Ave)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elysian Park, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4439 Victoria Park Drive, Los Angeles, California, USA::(Brancato and Trombino killed off)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1704 Morton Avenue, Los Angeles, California, USA::(Mrs. Leffert's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5668 Berkshire Drive, Los Angeles, California, USA::(Dudley Smith's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">496 East Avenue 28, Los Angeles, California, USA::(house where the woman is being held captive)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4216 Rose Avenue, Long Beach, California, USA::(Bud White pulls the Santa Claus off the roof)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Baldwin Hills, Los Angeles, California, USA::(Victory Motel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5620 Hollywood Blvd., Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lacy Street Production Center - 2630 Lacy Street, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">501 Wilcox Avenue, Los Angeles, California, USA::(home of Lynn Bracken)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1255 Bellevue Avenue, Los Angeles, California, USA::(home of Leonard Bidwell)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1714 N Gramercy Place, Los Angeles, California, USA::(the three escaped suspects are killed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4439 Victoria Park Drive, Los Angeles, California, USA::(Mickey Cohen's men are shot)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5620 Hollywood Boulevard, Los Angeles, California, USA::(El Cortez Theatre)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Boardner's by La Belle, 1652 North Cherokee Avenue, Los Angeles, California, USA::(Smith gives White his badge back)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Crossroads of the World Center, 6671 Sunset Boulevard, Hollywood, Los Angeles, California, USA::(office of Sid Hudgens)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lincoln Heights Jail - 401 N. Avenue 19, Lincoln Heights, Los Angeles, California, USA::("Bloody Christmas")</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hollywood Center Motel, 6720 W. Sunset Boulevard, Hollywood, Los Angeles, California, USA::(discovery of Reynold's body)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>