<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Lock, Stock and Two Smoking Barrels</h3>
                        <p class="card-text">
                          Eddy persuades his three pals to pool money for a vital poker game against a powerful local mobster, Hatchet Harry. Eddy loses, after which Harry gives him a week to pay back 500,000 pounds.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTAyN2JmZmEtNjAyMy00NzYwLThmY2MtYWQ3OGNhNjExMmM4XkEyXkFqcGdeQXVyNDk3NzU2MTQ@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Lock, Stock and Two Smoking Barrels"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">St John Street, London, Greater London, England, UK::(JD's bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">19 Park Street, London, Greater London, England, UK::(the hideout)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stables Market, 842 Chalk Farm Road, Camden Town, London, Greater London, England, UK::(where Winston runs his sadly low-security dope business)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Royal Oak, 73 Columbia Road, Bethnal Green, London, Greater London, England, UK::(Samoan Jo's - the South Seas bar)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dorney Court, Court Lane, Dorney, Windsor, Buckinghamshire, England, UK::(the incompetent robbery at the country house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pedley Street, London, Greater London, England, UK::(Eddie and Bacon escape from the law)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">42-44 Cheshire Street, Bethnal Green, London, Greater London, England, UK::('Hatchet' Harry's office)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bethnal Green Town Hall, 8 Patriot Square, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Borough Market, 8 Southwark Street, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hackney, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Cheshire Street, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Repton Boxing Club, The Bath House, 116 Cheshire Street, Bethnal Green, London, Greater London, England, UK::(Boxing scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Southwark Bridge, Southwark, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Three Mills Studios, Three Mill Lane, London, Greater London, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">13-15 Park Street, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">The Bath House, 116 Cheshire Street, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">116 Cheshire Street, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Southwark, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3 Mills Studios, Three Mill Lane, London, Greater London, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Park Street, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">842 Chalk Farm Road, Camden Town, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chalk Farm Road, Camden Town, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Camden Town, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">73 Columbia Road, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Columbia Road, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">8 Patriot Square, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Patriot Square, Bethnal Green, London, Greater London, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Court Lane, Dorney, Windsor, Buckinghamshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Dorney, Windsor, Buckinghamshire, England, UK</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">England, UK</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>