<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Psycho</h3>
                        <p class="card-text">
                          A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTQwNDM1YzItNDAxZC00NWY2LTk0M2UtNDIwNWI5OGUyNWUxXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Psycho"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Psycho House, Backlot, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jefferson Hotel, 109 S. Central, Phoenix, Arizona, USA::(establishing shot: cheap hotel room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Falls Lake, Backlot, Universal Studios - 100 Universal City Plaza, Universal City, California, USA::(swamp where Marion Crane's car is sunk)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Phoenix, Arizona, USA::(opening panoramic shot)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gorman, California, USA::(establishing shot of Marion's car parked by the side of road)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4270 Lankershim Boulevard, North Hollywood, Los Angeles, California, USA::(automobile dealership exterior scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">State Route 99, California, USA::(Marion Crane's drive to the Bates Motel)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 18, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 28, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">San Fernando Valley, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Title and Trust Building, 114 West Adams Street, downtown Phoenix, Arizona, USA::(Opening sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Valley Bank and Trust Company Building, North Central Avenue and Monroe Street, downtown Phoenix, Arizona, USA::(Opening sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hotel San Carlos - 202 N. Central Avenue, Phoenix, Arizona, USA::(Opening sequence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Luhrs Tower, downtown Phoenix, Arizona, USA::(scenes deleted)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Heard Security Building, 234 North Central Avenue, downtown Phoenix, Arizona, USA::(Opening sequence - built in 1928)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown Phoenix, Arizona, USA::(Central and Monroe - Janet Leigh at stop light)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Buckeye, Arizona, USA::(freeway scenes deleted)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gila Bend, Arizona, USA::(Most freeway scenes deleted)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hotel Del Sol - 200 East 3rd Street, Yuma, Arizona, USA::(Janet Leigh hotel scenes deleted)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>