<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Pulp Fiction</h3>
                        <p class="card-text">
                          The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Pulp Fiction"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">1435 Flower Street, Glendale, California, USA::(Jack Rabbit Slims;exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">20933 Roscoe Blvd, Canoga Park, Los Angeles, California, USA::(Zed's Pawn Shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hawthorne Grill - 13763 S. Hawthorne Boulevard, Hawthorne, California, USA::(Hawthorne Grill coffee shop; currently an AutoZone store)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3519 La Clede Avenue, Los Angeles, California, USA::(Lance's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">5800 Harold Way, Los Angeles, California, USA::(Jules and Vincent visit Brett and Roger and get back the briefcase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">A & R Auto Dismantlers - 12143 Branford Street, Sun Valley, California, USA::(Monster Joe's junkyard)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">River Glen Motel - 2934 Riverside Drive, Los Angeles, California, USA::(demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">11827 Valerio Street, North Hollywood, California, USA::(Butch parks his car)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Atwater Avenue And Fletcher Drive, Los Angeles, California, USA::(Butch in his car encounters Marsellus Wallace)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">11813 Runnymede Street, North Hollywood, California, USA::(Butch's apartment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">4149 Kraft Avenue, Studio City, Los Angeles, California, USA::(Jimmie Dimmick's Home; The Bonnie Situation)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kendall Alley, Pasadena, California, USA::(Butch jumps out of window in an alley to escape the rigged boxing match)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Raymond Theatre - 129 N. Raymond Avenue, Pasadena, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hawthorne, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1541 Summitridge Dr, Beverly Hills, California, USA::(Marsellus Wallace's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Riverside Dr. & Glendale Blvd., Silver Lake, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Beverly Hills, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Hollywood, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2760 Fletcher Drive Los Angeles, California, USA::(Foster's Freeze where Butch runs down Marcellus with his car)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>