<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Ran</h3>
                        <p class="card-text">
                          In Medieval Japan, an elderly warlord retires, handing over his empire to his three sons. However, he vastly underestimates how the new-found power will corrupt them and cause them to turn on each other...and him.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNTEyNjg0MDM4OF5BMl5BanBnXkFtZTgwODI0NjUxODE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Ran"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Aso, Kumamoto, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Himeji Castle, Himeji, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kumamoto Castle, Kumamoto, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gotemba, Shizuoka, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kokonoe, Oita, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kurosawa Film Studio, Tokyo, Japan::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Nagoya Castle, Nagoya, Aichi, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shonai, Yamagata, Japan</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Toho Studios, Tokyo, Japan::(studio)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>