<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Rocky</h3>
                        <p class="card-text">
                          A small-time Philadelphia boxer gets a supremely rare chance to fight the world heavyweight champion in a bout in which he strives to go the distance for his self-respect.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTY5MDMzODUyOF5BMl5BanBnXkFtZTcwMTQ3NTMyNA@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Rocky"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">1818 East Tusculum Street, Kensington, North Philadelphia, Pennsylvania, USA::(Rocky's home)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pat's King of Steaks - 1237 S. Passyunk Avenue, Philadelphia, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2822-2824 Rosehill St, Philadelphia, Pensylvannia, USA::(Adrian and Paulie's House)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Fairmount Park, Philadelphia, Pennsylvania, USA::(running scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Philadelphia Museum of Art - 2600 Benjamin Franklin Parkway, Philadelphia, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Resurrection Gym - 1114 S. Lorena Street, East Los Angeles, California, USA::(opening shot)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">1124 Jackson street, Philadelphia ,Pennsylvania, USA::(Little Marie's house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">South 12th street & Cantrell st, Philadelphia, Pennsylvania, USA::(Atomic Hoagie Shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Main Street Gym - 318½ S Main St, Downtown, Los Angeles, California, USA::(interior: as Mighty Micks Gym, demolished)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shamrock Meats - 3461 E. Vernon Avenue, Vernon, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles Memorial Sports Arena - 3939 S. Figueroa Street, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Christopher Columbus Blvd, Philadelphia, Pennsylvania, USA::(Beginning of "Gonna Fly Now" running scene; Rocky runs through a junkyard towards Columbus Blvd)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">S. 9th Street & Washington Avenue, Philadelphia, Pennsylvania, USA::(Running scene down the Italian Market)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ice Capades Chalet - 500 Broadway, Santa Monica, California, USA::(ice skating rink, closed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Philadelphia, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2146 N Front Street, Philadelphia, Pennsylvania, USA::(Adrian's Pet Shop, closed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Olympic Auditorium - 1801 S. Grand Avenue, Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2147 N Front Street, Philadelphia, Pennsylvania, USA::(Mighty Mick's Gym exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kensington, North Philadelphia, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Philadelphia City Hall - 1450 John F. Kennedy Blvd., Philadelphia, Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">320 East Gurney Street, Philadelphia, Pennsylvania, USA::(Gazzo's Street; "you don't do the figurin, I do the figurin")</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Vernon, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Monica, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pennsylvania, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">3390 Robertson Boulevard - Culver City, California, USA::(Meat packing plant where Rocky punches the meat like a punching bag)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Culver City, California, USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>