<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Schindler's List</h3>
                        <p class="card-text">
                          In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNDE4OTMxMTctNmRhYy00NWE2LTg3YzItYTk3M2UwOTU5Njg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Schindler's List"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Auschwitz-Birkenau Concentration Camp, Oswiecim, Malopolskie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Most Pilsudskiego, Kraków, Malopolskie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Plaszów, Kraków, Malopolskie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Szeroka, Kraków, Malopolskie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kraków, Malopolskie, Poland::(main location) (as Krakow, Poland)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Józefa, Kraków, Malopolskie, Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Jerusalem, Israel</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Poland</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Israel</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>