<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Star Wars: Episode VI - Return of the Jedi</h3>
                        <p class="card-text">
                          After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's trap.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Star Wars: Episode VI - Return of the Jedi"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Miller-Rellim Redwood Company Property, Morrison Creek Road, Smith River, California, USA::(Endor forest) (now logged and deforested) (coordinates: 41°54'49.2"N, 124°07'31.4"W)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Death Valley National Park, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Buttercup Valley, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Yuma, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castle Dome Peak, Yuma, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Blue Canyon, Hopi Indian Reservation, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Owen R. Cheatham Grove, Grizzly Creek Redwoods State Park, Carlotta, California, USA::(Speeder bike chase in the forest)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Twenty Mule Team Canyon, Death Valley National Park, California, USA::(Droids going to Jabba's palace)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">White Pocket, Vermilion Cliffs National Monument, Arizona, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Imperial County, California, USA::(desert)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Elstree Studios, Borehamwood, Hertfordshire, England, UK::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 6/Star Wars Stage, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Death Star docking bay; Jabba's palace gate; Jabba's gate hallway; rebel cruiser docking bay) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 5, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(rebel briefing room; bridge of rebel starcruiser; bridge of Mon Calamari starcruisers) (demolished in 1991)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 4, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Palpatine's throne room) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Industrial Light and Magic - 3210 Kerner Boulevard, San Rafael, California, USA::(bluescreen shots)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 7, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Jabba's dungeon corridors; Jabba's boiler room; Jabba's dungeon cells; partial Rancor pit scenes; Rancor pit bluescreen scenes; Rancor pit holding tunnel; Death Star control room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 8, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(Jabba's throne room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 1, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(partial Rancor pit scenes; interior of Yoda's Dagobah hut; Dagobah scenes; interior of Endor bunker) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 9, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(partial Rancor pit scenes; observation deck of Jabba's barge; Millennium Falcon cockpit; interior of X-Wing cockpit)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 3, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(interior of Jabba's barge; Ewok village; lower deck of Endor landing platform) (demolished in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 2, Elstree Studios, Borehamwood, Hertfordshire, England, UK::(deleted scene of Tatooine sandstorm; bridge of the Executor; Chief Chirpa's hut; Endor landing pad) (demolished in 1989)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>