<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Lives of Others</h3>
                        <p class="card-text">
                          In 1984 East Berlin, an agent of the secret police, conducting surveillance on a writer and his lover, finds himself becoming increasingly absorbed by their lives.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOTQyZGFjNWMtYWFiYy00OWU1LTlhMjAtYTBiNmU5NjJiNTAzXkEyXkFqcGdeQXVyMTI3ODAyMzE2.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Lives of Others"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Gedenkstätte Hohenschönhausen, Hohenschönhausen, Berlin, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Karl-Marx-Allee, Berlin, Germany::(bookstore at N. 78)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hebbel-Theater, Berlin, Germany::(theatre)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Volksbühne am Rosa-Luxemburg-Platz, Berlin, Germany::(interiors: reception after theatre)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Schönholzer Heide, Pankow, Berlin, Germany::(Dreyman and Hauser's secret meeting at the Soviet War Memorial in Pankow)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Frankfurter Tor, Friedrichshain, Berlin, Germany::(Dreyman spots Wiesler as a mailman in 1989)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Leise Park, Prenzlauer Berg, Berlin, Germany::(Jerska's burial)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Altes Stadthaus, Klosterstraße, Berlin, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Berlin, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hufelandstraße, Prenzlauer Berg, Berlin, Germany::(Dreyman's building and apartment interiors at N. 22)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Normannenstraße, Lichtenberg, Berlin, Germany::(Stasi headquarters at the Stasimuseum)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Wedekindstraße, Friedrichshain, Berlin, Germany::(Georg Dreyman's apartment exteriors at Wedekindstraße, 21)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Germany</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>