<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Great Escape</h3>
                        <p class="card-text">
                          Allied prisoners of war plan for several hundred of their number to escape from a German camp during World War II.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzA2NmYxMWUtNzBlMC00MWM2LTkwNmQtYTFlZjQwODNhOWE0XkEyXkFqcGdeQXVyNTIzOTk5ODM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Great Escape"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Füssen, Bavaria, Germany::(motorcycle scenes; Gestapo agents chase Bartlett and MacDonald)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bavaria, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Geiselgasteig, Grünwald, Bavaria, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hamburg - Munich Railway Line, Bavaria, Germany::(railway scenes)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Munich, Bavaria, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bavaria Studios, Bavariafilmplatz 7, Geiselgasteig, Grünwald, Bavaria, Germany::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Geiselgasteig, Bavaria, Germany</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Neuschwanstein Castle, Hohenschwangau, Schwangau, Bavaria, Germany::(Hendley and Blythe fly over a castle)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Perlacher Forst, Bavaria, Germany::(exteriors of Stalag Luft Nord) (coordinates: 48°03'44.8"N, 11°33'33.1"E)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Grosshesselohe Isartal station, Pullach, Bavaria, Germany::(Neustadt Railway Station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ebersberger Straße, Markt Schwaben, Bavaria, Germany::(Sedgewick steals a bike and starts riding it)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sebastianstraße, Füssen, Bavaria, Germany::(Danny and Willie board a rowboat on the Lech River)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">St. Mary's Church, Speiden, Bavaria, Germany::(Sedgewick rides through town)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lechhalde, Füssen, Bavaria, Germany::(Danny and Willie row through the German countryside)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Pfronten-Ried station, Pfronten, Bavaria, Germany::(Sedgewick stops at a railway station and climbs onto a train)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Füssen station, Bahnhofstraße, Füssen, Bavaria, Germany::(Ashley-Pitt kills Kuhn and is killed)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Füssener Straße and Kemptener Straße, Pfronten, Bavaria, Germany::(Hilts is spotted and chased by German troops)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Malerweg, Pfronten, Bavaria, Germany::(Hilts disappears amongst the back roads)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Penzing, Bavaria, Germany::(airbase)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mariahilfer Straße, Speiden, Bavaria, Germany::(Cavendish is captured)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Frauenried, Bavaria, Germany::(the plane crashes and Blythe is shot dead)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lechhalde Bridge, Füssen, Bavaria, Germany::(Café Suzette in Toulouse)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Port of Emden, Emden, Lower Saxony, Germany::(Danny and Willie escape onto a Swedish freighter.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 4/5, Bavaria Studios, Bavariafilmplatz 7, Geiselgasteig, Grünwald, Bavaria, Germany::(interior scenes of the camp; interior scenes of the tunnels; interior train and airplane scenes; interior scenes of the S.S. headquarters)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>