<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Wolf of Wall Street</h3>
                        <p class="card-text">
                          Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Wolf of Wall Street"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Portofino, Genoa, Liguria, Italy::(when Jordan and Naomi receive news of death of aunt Emma)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Ardsley, New York, USA::(old auto body shop)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Rao's Restaurant, 455 East 114th Street, New York City, New York, USA::(meeting with private detective - actual location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Shalimar Diner, 63-68 Austin St, Rego Park, New York City, New York, USA::(Azoff approaches Belfort for work)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Closter, New Jersey, USA::(Brad arrested at Closter Plaza mall)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">White Plains, New York, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chestnut Hill Drive, Oyster Bay, New York, USA::(Belfort's estate)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas, Nevada, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mamaroneck, New York, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">300 East 55th Street, Manhattan, New York City, New York, USA::(Belfort's downtown apartment)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Air Hollywood - 13240 Weidner Street, Pacoima, Los Angeles, California, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Geneva, Canton de Genève, Switzerland::(view from swiss bank meeting room)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Trump Tower - 725 Fifth Avenue, Manhattan, New York City, New York, USA::(Belfort caught with Naomi in limo)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Harrison, New York, USA::(Stratton Oakmont headquarters on Mamaroneck Ave, and Country Club)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bayville, New York, USA::(Beach Wedding)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brooklyn, New York City, New York, USA::(night shot of bridge)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sands Point, Long Island, New York, USA::(seaside party house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Bahamas::(cited in film credits)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">North Cove Marina, 385 South End Avenue, Manhattan, New York City, New York, USA::(yacht at the marina)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">JC Studios, Brooklyn, New York City, New York, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Nassau Street, Manhattan, New York City, New York, USA::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Equitable Building - 120 Broadway, Manhattan, New York City, New York, USA::(Belfort's one-day job)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">10 Vanderbilt Drive, Sands Point, Port Washington, New York, USA::(Belfort beach house)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sands Point, Port Washington, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Port Washington, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Switzerland::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Oyster Bay, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>