<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Sting</h3>
                        <p class="card-text">
                          Two grifters team up to pull off the ultimate con.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNGU3NjQ4YTMtZGJjOS00YTQ3LThmNmItMTI5MDE2ODI3NzY3XkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Sting"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Union Station - Canal St. & Jackson Blvd., Near West Side, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Looff Hippodrome, Santa Monica Pier, Santa Monica, California, USA::(merry-go-round scene)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">LaSalle Street Station - 141 W. Van Buren Street, Downtown, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">43rd Street El Station, South Side, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Brownstone Street, Backlot, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York Street, Backlot, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Castle Green Apartments - 99 S. Raymond, Pasadena, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hugus Alley, Pasadena, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Miller Alley, Pasadena, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Biltmore Hotel - 506 S. Grand Avenue, Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Penn Central Freight Yards, Near West Side, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 28, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 32, Universal Studios - 100 Universal City Plaza, Universal City, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Gold Ballroom, Biltmore Hotel - 506 S. Grand Avenue, Downtown, Los Angeles, California, USA::(upscale restaurant)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Stage 27, Universal Studios - 100 Universal City Plaza, Universal City, California, USA::(studio)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Winston St. & Werdin Pl., Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santa Monica Pier, Santa Monica, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Near West Side, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Chicago, Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Illinois, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Downtown, Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">USA</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>