<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Godfather: Part II</h3>
                        <p class="card-text">
                          The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Godfather: Part II"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Kaiser Estate, 4000 W Lake Blvd, Homewood, Lake Tahoe, California, USA::(Corleone Compound)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">El Embajador Hotel, Santo Domingo, Dominican Republic::(Hotel Terrace, they make a deal with drinks)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Trieste, Friuli-Venezia Giulia, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Santo Domingo, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Forza d'Agrò, Messina, Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calle Duarte, Santo Domingo, Dominican Republic::(Where rebel blows up bomb)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Lake Tahoe, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">via Vecchia Pozzillo, Acireale, Catania, Italy::(Don Ciccio's villa)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Riva Nazario Sauro, Trieste, Friuli-Venezia Giulia, Italy::(fishmarket used as Ellis Island immigrant station)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Sicily, Italy</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Train Station Sparagogna, Regalbuto, Enna, Sicily, Italy::(Train Station Corleone)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Greenwich Village, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Las Vegas, Nevada, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Vazac's Bar - 108 Avenue B, East Village, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">6th Street, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Miami, Florida, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">via Vecchia Pozzillo, Acireale, Catania::(Robert de Niro revenge)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">538 E. 6th. Street, Manhattan, New York City, New York, USA::(Fanucci Residence)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hospital Padre Billini, Santo Domingo, Dominican Republic::(Hospital Execution)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Calle Hostos, Santo Domingo, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Avenida Duarte, Santo Domingo, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Avenida Mella, Santo Domingo, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">East Village, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Hotel Washington - 515 15th Street, Washington, District of Columbia, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">2045 N. Hibiscus Drive, North Miami, Florida, USA::(Hyman Roth residence.)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Tomkin's Square, Greenwich Village, Manhattan, New York City, New York, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Parque Independencia, Santo Domingo, Dominican Republic</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Palacio Nacional, Santo Domingo, Dominican Republic::(New Year party)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Los Angeles, California, USA</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Teatro de Agua y Luz, Santo Domingo, Dominican Republic::(Cuban cabaret)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Biblioteca Nacional Pedro Henríquez Ureña, Santo Domingo, Dominican Republic::(USA Embassy exterior)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Club Náutico de Santo Domingo, Andrés, Santo Domingo Este, Dominican Republic::(nautical club)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Parque Independencia, Santo Domingo, Dominican Republic::(Corleone brothers share a drink)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>