<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include(`${partials}/homeHead`, {pageTitle: 'Home'}); -%>

  <body class="film-directory">
    
       <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
   </noscript>
    <%- include(`${partials}/nav`); -%>
 

 

 
    <main class="mb-4 mt-5"> 
  
   
    
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Bridge on the River Kwai</h3>
                        <p class="card-text">
                          British POWs are forced to build a railway bridge across the river Kwai for their Japanese captors in occupied Burma, not knowing that the allied forces are planning a daring commando raid through the jungle to destroy it.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BOGY5NmNlMmQtYzRlYy00NGQ5LWFkYjYtNzExZmQyMTg0ZDA0XkEyXkFqcGdeQXVyNDIzMzcwNjc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Bridge on the River Kwai"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           
          </tr>
          <tr class="table__row">

            <td class="table__cell">Ambepussa, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kelani River, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Government Rest House, Kitulgala, Sri Lanka::(bridge site)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Colombo, Western Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kandy, Central Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Lavinia Hotel - 100 Hotel Road, Mount Lavinia, Western Province, Sri Lanka::(military hospital)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kitulgala, Sri Lanka::(Village)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mount Lavinia, Western Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Peradeniya Botanical Gardens, Central Province, Sri Lanka::(British army HQ)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Mahara, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Kalugamuwa, Gelioya, Kandy, Sri Lanka::(location)</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Central Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Royal Botanical Gardens, Peradeniya, Kandy District, Central Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">Peradeniya, Kandy District, Central Province, Sri Lanka</td>
            
            
          </tr> 
          <tr class="table__row">

            <td class="table__cell">6°59'07.0"N 80°25'33.0"E, Kelani River, Sri Lanka::(The bridge.)</td>
            
            
          </tr> 
          </table>
          </div>
        </div>
    
      </main>
    <%- include(`${partials}/footer`); -%> <%-
    include(`${partials}/homeScripts`); -%>

  </body>
</html>