<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">Before Sunset</h3>
          <p class="card-text mb-0">


  <span > Nine years after Jesse and Celine first met, they encounter each other again on the French leg of Jesse's book tour.  </span>
                          <span > Early thirty-something American Jesse Wallace is in a Paris bookstore, the last stop on a tour to promote his best selling book, This Time. Although he is vague to reporters about the source material for the book, it is about his chance encounter nine years earlier on June 15-16, 1994 with a Parisienne named Celine, and the memorable and romantic day and evening they spent together in Vienna. At the end of their encounter at the Vienna train station, which is also how the book ends, they, not providing contact information to the other, vowed to meet each other again in exactly six months at that very spot. As the media scrum at the bookstore nears its conclusion, Jesse spots Celine in the crowd, she who only found out about the book when she earlier saw his photograph promoting this public appearance. Much like their previous encounter, Jesse and Celine, who is now an environmental activist, decide to spend time together until he is supposed to catch his flight back to New York, this time only being about an hour. Beyond the issue of the six month meeting, what has happened in their lives in the intervening nine years, and their current lives, they once again talk about their philosophies of life and love, this time with the knowledge of their day together and how it shaped what has happened to them. -Huggo.  </span>
                          <span > Jesse, a writer from the US, and Celine, a Frenchwoman working for an environment protection organization, acquainted nine years ago on the train from Budapest to Vienna, meet again when Jesse arrives in Paris for a reading of his new book. As they have only a few hours until his plane leaves, they stroll through Paris, talking about their experiences, views and whether they still love each other, although Jesse is already married with a kid. -Moritz Muehlenhoff .  </span>
                          

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTQ1MjAwNTM5Ml5BMl5BanBnXkFtZTYwNDM0MTc3.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Before Sunset"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Rue Saint-Julien Le Pauvre, 75005 Paris, France
            </td>
                <td class="table__cell">
                48.852338, 2.346985
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Saint-Antoine, Doubs, France
            </td>
                <td class="table__cell">
                46.77694, 6.33778
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Paris, France
            </td>
                <td class="table__cell">
                48.85658, 2.35183
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                France
            </td>
                <td class="table__cell">
                47.8249046208979, 2.61878695312962
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[48.852338, 2.346985], [48.85658, 2.35183], [48.85658, 2.35183]], "data": [{"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.852338, "lon": 2.346985, "name": "Rue Saint-Julien Le Pauvre, 75005 Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 46.77694, "lon": 6.33778, "name": "Saint-Antoine, Doubs, France"}, {"lat": 48.85658, "lon": 2.35183, "name": "Paris, France"}, {"lat": 47.8249046208979, "lon": 2.61878695312962, "name": "France"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>