<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">



        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Grapes of Wrath</h3>
          <p class="card-text mb-0">


  <span > An Oklahoma family driven off their farm by the poverty and hopelessness of the Dust Bowl joins the westward migration to California, suffering the misfortunes of the homeless in the Great Depression.  </span>
                          <span > The Joad clan, introduced to the world in John Steinbeck's iconic novel, is looking for a better life in California. After their drought-ridden farm is seized by the bank, the family -- led by just-paroled son Tom -- loads up a truck and heads West. On the road, beset by hardships, the Joads meet dozens of other families making the same trek and holding onto the same dream. Once in California, however, the Joads soon realize that the promised land isn't quite what they hoped. -Jwelch5742.  </span>
                          <span > The story of the Joad family is told, they, poor Oklahoma sharecroppers, who, like all others in their situation, are pushed off the land by the wealthy landowners, many large corporations, during the Great Depression, and, as a result, they, again like many others in their situation, making the decision for the dozen or so of the family members, with another one on the way, to migrate to what is seen as the land of opportunity, California, where jobs, specifically as fruit pickers, are purported to be plentiful. Not only because of the jalopy of a truck they could afford to buy to make the trek and their remaining limited funds which they calculate should just be enough to get them to California where they will once again start to earn money, their trip is not without incident from unforeseen circumstances. Arriving in California, they discover that the land of opportunity is not all it was advertised to be, with they and all others like them facing different challenges to survive, where, if there are jobs to be had, they are more often than not for wages on which a family cannot survive, and with security on site with guns and clubs to control labor unrest. Often, they will have to make some difficult decisions on whether to accept work in unacceptable conditions in even attempting to survive, or hold out, like some others are doing, but who are considered "agitators" who the owners will do anything to eliminate, for good if need be. While Ma Joad believes that the family unit is the most important thing that has always gotten them through the bad times, oldest son Tom Joad may have the most holistically consequential decisions as the one on parole, he just released from prison after four years of a seven year sentence for killing a man in a bar brawl. -Huggo.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Tom Joad returns to his home after a jail sentence to find his family kicked off their farm due to foreclosure. He catches up with them on his uncle's farm and joins them the next day as they head for California and a new life - Hopefully. -Colin Tinto .  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzJiOGI2MjctYjUyMS00ZjkzLWE2ZmUtOTg4NTZkOTNhZDc1L2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Grapes of Wrath"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Santa Rosa, New Mexico, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.9387</span>, <span class="lon">-104.6825</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Needles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.8481</span>, <span class="lon">-114.6141</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Topock, Arizona, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.7183</span>, <span class="lon">-114.4872</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Tehachapi, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.1322</span>, <span class="lon">-118.449</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Daggett, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.8634</span>, <span class="lon">-116.888</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">1 Iverson Lane, Chatsworth, California 91311, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.276</span>, <span class="lon">-118.60976</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Laguna, New Mexico, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.03</span>, <span class="lon">-106.95</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">McAlester, Oklahoma, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.9335</span>, <span class="lon">-95.7698</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Gallup, New Mexico, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.5284</span>, <span class="lon">-108.7439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">University of California, Irvine, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">33.6479</span>, <span class="lon">-117.8419</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lamont, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.2597</span>, <span class="lon">-118.9143</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Petrified Forest National Park, Petrified Forest Rd., Holbrook, Arizona 85924, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.864308</span>, <span class="lon">-109.801365</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Sayre, Oklahoma, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.2912</span>, <span class="lon">-99.6401</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Thousand Oaks, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.1706</span>, <span class="lon">-118.8376</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Chatsworth, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.2596</span>, <span class="lon">-118.6023</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Pico, Santa Monica, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.02</span>, <span class="lon">-118.49</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">10201 West Pico Boulevard, Los Angeles, California 90064, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.04994</span>, <span class="lon">-118.41129</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Los Angeles, California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.0544</span>, <span class="lon">-118.2439</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.251081</span>, <span class="lon">-118.518444</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">California, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">37.0743595873</span>, <span class="lon">-119.699375153073</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">39.3812661305678</span>, <span class="lon">-97.9222112121185</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Lupton, Arizona, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.353889</span>, <span class="lon">-109.05306</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">I 40, Houck, Arizona 86512, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">35.3624471</span>, <span class="lon">-109.0467887</span></a>
                
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
             <a href="#">Historic Route 66, Santa Rosa, New Mexico 88435, United States </a>
               
            </td>
                <td class="table__cell">
                <a href="#"><span class="lat">34.94564</span>, <span class="lon">-104.66844</span></a>
                
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.6479, -117.8419], [34.02, -118.49], [34.04994, -118.41129]], "data": [{"lat": 34.9387, "lon": -104.6825, "name": "Santa Rosa, New Mexico, United States"}, {"lat": 34.8481, "lon": -114.6141, "name": "Needles, California, United States"}, {"lat": 34.7183, "lon": -114.4872, "name": "Topock, Arizona, United States"}, {"lat": 35.1322, "lon": -118.449, "name": "Tehachapi, California, United States"}, {"lat": 34.8634, "lon": -116.888, "name": "Daggett, California, United States"}, {"lat": 34.276, "lon": -118.60976, "name": "1 Iverson Lane, Chatsworth, California 91311, United States"}, {"lat": 35.03, "lon": -106.95, "name": "Laguna, New Mexico, United States"}, {"lat": 34.9335, "lon": -95.7698, "name": "McAlester, Oklahoma, United States"}, {"lat": 35.5284, "lon": -108.7439, "name": "Gallup, New Mexico, United States"}, {"lat": 33.6479, "lon": -117.8419, "name": "University of California, Irvine, California, United States"}, {"lat": 35.2597, "lon": -118.9143, "name": "Lamont, California, United States"}, {"lat": 34.864308, "lon": -109.801365, "name": "Petrified Forest National Park, Petrified Forest Rd., Holbrook, Arizona 85924, United States"}, {"lat": 35.2912, "lon": -99.6401, "name": "Sayre, Oklahoma, United States"}, {"lat": 34.1706, "lon": -118.8376, "name": "Thousand Oaks, California, United States"}, {"lat": 34.2596, "lon": -118.6023, "name": "Chatsworth, California, United States"}, {"lat": 34.02, "lon": -118.49, "name": "Pico, Santa Monica, California, United States"}, {"lat": 34.04994, "lon": -118.41129, "name": "10201 West Pico Boulevard, Los Angeles, California 90064, United States"}, {"lat": 34.0544, "lon": -118.2439, "name": "Los Angeles, California, United States"}, {"lat": 34.251081, "lon": -118.518444, "name": "San Fernando Valley Academy, 17601 Lassen St, Northridge, California 91325, United States"}, {"lat": 37.0743595873, "lon": -119.699375153073, "name": "California, United States"}, {"lat": 39.3812661305678, "lon": -97.9222112121185, "name": "United States"}, {"lat": 35.353889, "lon": -109.05306, "name": "Lupton, Arizona, United States"}, {"lat": 35.3624471, "lon": -109.0467887, "name": "I 40, Houck, Arizona 86512, United States"}, {"lat": 34.94564, "lon": -104.66844, "name": "Historic Route 66, Santa Rosa, New Mexico 88435, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})


let locationData = locations[0].data
let tableCell = document.querySelectorAll('.table__cell a')

tableCell.forEach(box => {
  box.addEventListener('click', function handleClick(event) {
    event.preventDefault()
    let target = event.target
    //console.log($(`${target} span`).first())

   let boxChildren = $(this).children()
   if(boxChildren.length < 1 ){
const found = locationData.find(element => element.name == target.innerText);

    let lat = found.lat
    let lon = found.lon
    let name = found.name
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');

   } else {

     let first = $(this).children().first().text()
     let second = $(this).children().last().text()
     let lat = parseFloat(first)
     let lon = parseFloat(second)
     console.log(lat,lon)
   map.flyTo([lat, lon])

    $('html,body').animate({                                                          //  fine in moz, still quicker in chrome.
        scrollTop: $("#map").offset().top},
        'slow');
   }


});
});



const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>