<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Grapes of Wrath</h3>
                        <p class="card-text">
                          An Oklahoma family driven off their farm by the poverty and hopelessness of the Dust Bowl joins the westward migration to California, suffering the misfortunes of the homeless in the Great Depression.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNzJiOGI2MjctYjUyMS00ZjkzLWE2ZmUtOTg4NTZkOTNhZDc1L2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Grapes of Wrath"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Santa Rosa, New Mexico, USA 
            </td>   
                <td class="table__cell">
                34.9387, -104.6825
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Needles, California, USA 
            </td>   
                <td class="table__cell">
                34.8481, -114.6141
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Tehachapi, California, USA 
            </td>   
                <td class="table__cell">
                35.1322, -118.449
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Topock, Arizona, USA 
            </td>   
                <td class="table__cell">
                34.7183, -114.4872
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Daggett, California, USA 
            </td>   
                <td class="table__cell">
                34.8634, -116.888
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Iverson Ranch   1 Iverson Lane, Chatsworth, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.276, -118.60976
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Laguna Pueblo, New Mexico, USA
            </td>   
                <td class="table__cell">
                35.03, -106.95
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                McAlester, Oklahoma, USA 
            </td>   
                <td class="table__cell">
                34.9335, -95.7698
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Gallup, New Mexico, USA
            </td>   
                <td class="table__cell">
                35.5284, -108.7439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Irvine Ranch, Tustin, California, USA
            </td>   
                <td class="table__cell">
                33.6479, -117.8419
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lamont, California, USA 
            </td>   
                <td class="table__cell">
                35.2597, -118.9143
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Petrified Forest National Park, Arizona, USA
            </td>   
                <td class="table__cell">
                34.864308, -109.801365
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sayre, Oklahoma, USA 
            </td>   
                <td class="table__cell">
                35.2912, -99.6401
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Janss Conejo Ranch, Thousand Oaks, California, USA 
            </td>   
                <td class="table__cell">
                34.1706, -118.8376
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Lasky Mesa, Chatsworth, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.2596, -118.6023
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Backlot, 20th Century Fox Studios   10201 Pico Blvd., Century City, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.02, -118.49
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 5, 20th Century Fox Studios   10201 Pico Blvd., Century City, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.04994, -118.41129
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                San Fernando Valley, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.251081, -118.518444
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                California, USA
            </td>   
                <td class="table__cell">
                37.0743595873, -119.699375153073
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Arizona Welcome Center, US Interstate 40, Lupton, Arizona, USA 
            </td>   
                <td class="table__cell">
                35.353889, -109.05306
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                US Interstate 40, Lupton, Arizona, USA 
            </td>   
                <td class="table__cell">
                35.3624471, -109.0467887
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                9 Interstate 40 Business Loop, Santa Rosa, New Mexico, USA 
            </td>   
                <td class="table__cell">
                34.94564, -104.66844
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>