<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">A Clockwork Orange</h3>
                        <p class="card-text">
                          In the future, a sadistic gang leader is imprisoned and volunteers for a conduct-aversion experiment, but it doesn't go as planned. Protagonist Alex DeLarge is an "ultraviolent" youth in futuristic Britain. As with all luck, his eventually runs out and he's arrested and convicted of murder. While in prison, Alex learns of an experimental program in which convicts are programmed to detest violence. If he goes through the program, his sentence will be reduced and he will be back on the streets sooner than expected. But Alex's ordeals are far from over once he hits the streets of Britain..::Nikki Carlyle In a near-futuristic society, late teen Alex DeLarge is the leader of a gang of thugs - his "droogs" - who commit acts of ultra-violence, often with sexual components, without any regard for their victims, and purely because it strikes their collective fancies. These acts are largely fueled by drug use. In addition, Alex is a lover of music, especially that of Ludwig van Beethoven, which, when he listens to it during these acts, intensifies his pleasure, and in turn inspires him to commit further such acts. He does not tolerate any challenge to his leadership by his droogs. Although the authorities in general know of Alex's delinquency, they have so far been unable to catch him in the act of his crimes, until one night after a sexual assault of an older woman. Alex, and Alex alone is charged, convicted and incarcerated. But Alex sees what he believes is an easy way out when the government looks for subjects to participate in a new rehabilitation therapy, the end result being release from prison after the two week therapy. The therapy ends up having consequences that Alex did not envision. The questions become how Alex will function, and how others will act toward him in his changed state.::Huggo In the future, the violent and psychopath delinquent Alex, leader of a gang of ultra-violent criminal teenagers who kill, steal and rape, falls into the hands of the police. Arrested, he receives the option to participate in a program developed by the government that can reduce his time in jail. Alex turns guinea pig for experiments intended to curb the destructive impulses of men and solve the society's crime problems, but ends up becoming powerless to deal with the violence that surrounds him.::MadMovieManiac Sentenced to fourteen years in prison after an unrestrained life of sex, violence, and murder in the mean streets of futuristic Britain, the Ludwig van Beethoven-lover and leader of an anarchic quartet of thugs, Alex DeLarge, is about to get a dose of his own medicine. As a result, after two long years in jail, the once-swaggering juvenile delinquent gets the chance to earn his freedom, by taking part in the government's experimental de-conditioning program that promises to flush one's harmful anti-social tendencies out of his mind. However, sometimes, the cure is worse than the disease. Will the new and improved Alex fit in the world he had a hand in creating?::Nick Riganas In a futuristic Britain, a gang of teenagers go on the rampage every night, beating and raping helpless victims. After one of the boys quells an uprising in the gang, they knock him out and leave him for the police to find. He agrees to try "aversion therapy" to shorten his jail sentence. When he is eventually released, he hates violence, but the rest of his gang members are still after him.::Colin Tinto <cst@imdb.com>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTY3MjM1Mzc4N15BMl5BanBnXkFtZTgwODM0NzAxMDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="A Clockwork Orange"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>
         
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Southmere Lake, Binsey Walk, London, England SE2 9UX, United Kingdom
            </td>   
                <td class="table__cell">
                51.499354, 0.123837
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.5, -0.1667
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bricket Wood, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.7067, -0.3686
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wandsworth Bridge Roundabout, York Rd, London, England SW18 1GR, United Kingdom
            </td>   
                <td class="table__cell">
                51.462149, -0.185587
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.6403, -0.2969
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shenley, Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.692, -0.282
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Blenheim Mews, Shenley, Radlett, WD7 9LR, United Kingdom
            </td>   
                <td class="table__cell">
                51.695373, -0.291266
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                the Warren, Radlett, WD7 7DJ, United Kingdom
            </td>   
                <td class="table__cell">
                51.691362, -0.314172
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kingston upon Thames, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.412, -0.3
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chelsea Embankment, Chelsea Embankment, London, England SW3 4LE, United Kingdom
            </td>   
                <td class="table__cell">
                51.4841445, -0.16051700000000002
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The White Horse, Shenley Rd, Radlett, England WD7 9EL, United Kingdom
            </td>   
                <td class="table__cell">
                51.6881535, -0.2779165
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Thamesmead, SE28 8DD, Greenwich, London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.5033, 0.1103
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom
            </td>   
                <td class="table__cell">
                51.657803, -0.269703
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hertfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.8333, -0.25
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Princess Alexandra Hospital, Hamstel Rd, Harlow, England CM20 1QX, United Kingdom
            </td>   
                <td class="table__cell">
                51.771059, 0.086307
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shipton-under-Wychwood, Oxfordshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.86, -1.596
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Southmere Lake, Binsey Walk, London, England SE2 9UX, United Kingdom
            </td>   
                <td class="table__cell">
                51.499354, 0.123837
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wansdworth, SW11 2UB, Wandsworth, London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.462909, -0.182074
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom
            </td>   
                <td class="table__cell">
                51.5483805, -0.5348885
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chelsea, SW3 5UE, Kensington and Chelsea, London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.4875167, -0.1687007
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Barnet Lane, Elstree, Borehamwood, WD6 3HF, United Kingdom
            </td>   
                <td class="table__cell">
                51.643334, -0.296915
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Aylesbury, Buckinghamshire, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.83333, -0.83333
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                West Norwood Library, Norwood High St., London, England SE27 0HY, United Kingdom
            </td>   
                <td class="table__cell">
                51.432785, -0.1039435
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                England, United Kingdom
            </td>   
                <td class="table__cell">
                52.38145972, -0.676181762467007
            </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                London, Greater London, England, United Kingdom
            </td>   
                <td class="table__cell">
                51.507321899999994, -0.12764739999999997
            </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">
var locations =[{"bbox": [[51.412, -0.3], [51.432785, -0.1039435], [51.462149, -0.185587]], "data": [{"lat": 51.499354, "lon": 0.123837, "name": "Southmere Lake, Binsey Walk, London, England SE2 9UX, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 51.5, "lon": -0.1667, "name": "Greater London, England, United Kingdom"}, {"lat": 51.7067, "lon": -0.3686, "name": "Bricket Wood, Hertfordshire, England, United Kingdom"}, {"lat": 51.462149, "lon": -0.185587, "name": "Wandsworth Bridge Roundabout, York Rd, London, England SW18 1GR, United Kingdom"}, {"lat": 51.6403, "lon": -0.2969, "name": "Elstree, Hertfordshire, England, United Kingdom"}, {"lat": 51.692, "lon": -0.282, "name": "Shenley, Hertfordshire, England, United Kingdom"}, {"lat": 51.695373, "lon": -0.291266, "name": "Blenheim Mews, Shenley, Radlett, WD7 9LR, United Kingdom"}, {"lat": 51.691362, "lon": -0.314172, "name": "the Warren, Radlett, WD7 7DJ, United Kingdom"}, {"lat": 51.412, "lon": -0.3, "name": "Kingston upon Thames, Greater London, England, United Kingdom"}, {"lat": 51.4841445, "lon": -0.16051700000000002, "name": "Chelsea Embankment, Chelsea Embankment, London, England SW3 4LE, United Kingdom"}, {"lat": 51.6881535, "lon": -0.2779165, "name": "The White Horse, Shenley Rd, Radlett, England WD7 9EL, United Kingdom"}, {"lat": 51.5033, "lon": 0.1103, "name": "Thamesmead, SE28 8DD, Greenwich, London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.657803, "lon": -0.269703, "name": "Elstree Studios, Shenley Rd, Borehamwood, England WD6 1JG, United Kingdom"}, {"lat": 51.8333, "lon": -0.25, "name": "Hertfordshire, England, United Kingdom"}, {"lat": 51.771059, "lon": 0.086307, "name": "Princess Alexandra Hospital, Hamstel Rd, Harlow, England CM20 1QX, United Kingdom"}, {"lat": 51.86, "lon": -1.596, "name": "Shipton-under-Wychwood, Oxfordshire, England, United Kingdom"}, {"lat": 51.499354, "lon": 0.123837, "name": "Southmere Lake, Binsey Walk, London, England SE2 9UX, United Kingdom"}, {"lat": 51.462909, "lon": -0.182074, "name": "Wansdworth, SW11 2UB, Wandsworth, London, Greater London, England, United Kingdom"}, {"lat": 51.5483805, "lon": -0.5348885, "name": "Pinewood Studios, Pinewood Rd, Iver, England SL0 0NH, United Kingdom"}, {"lat": 51.4875167, "lon": -0.1687007, "name": "Chelsea, SW3 5UE, Kensington and Chelsea, London, Greater London, England, United Kingdom"}, {"lat": 51.643334, "lon": -0.296915, "name": "Barnet Lane, Elstree, Borehamwood, WD6 3HF, United Kingdom"}, {"lat": 51.83333, "lon": -0.83333, "name": "Aylesbury, Buckinghamshire, England, United Kingdom"}, {"lat": 51.432785, "lon": -0.1039435, "name": "West Norwood Library, Norwood High St., London, England SE27 0HY, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}, {"lat": 52.38145972, "lon": -0.676181762467007, "name": "England, United Kingdom"}, {"lat": 51.507321899999994, "lon": -0.12764739999999997, "name": "London, Greater London, England, United Kingdom"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>