<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Shutter Island</h3>
                        <p class="card-text">
                          In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Shutter Island"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="map-container">
             <div  id="map" ></div>
            </div>
            </div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell location">
                Peddocks Island, Boston Harbor, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3605</span>, <span class="lon">-71.0596</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Acadia National Park, Maine, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 44.352142</span>, <span class="lon">-68.2296585</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Medfield State Hospital   45 Hospital Road, Medfield, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.2125115</span>, <span class="lon">-71.3354305</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Borderland State Park   259 Massapoag Avenue, Sharon, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.062417</span>, <span class="lon">-71.164669</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Whittenton Mills   437 Whittenton Street, Taunton, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.92357</span>, <span class="lon">-71.10641</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Medfield, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.1866</span>, <span class="lon">-71.3055</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Taunton, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 41.9001</span>, <span class="lon">-71.0898</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3605</span>, <span class="lon">-71.0596</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Wilson Mountain Reservation, Dedham, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.259005</span>, <span class="lon">-71.197654</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hull, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.302</span>, <span class="lon">-70.9078</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hyde Park, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.2557</span>, <span class="lon">-71.1245</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Nahant, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.4265</span>, <span class="lon">-70.9189</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Hearst Ranch, San Simeon, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 35.657178</span>, <span class="lon">-121.192077</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Boston Harbor, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.34359</span>, <span class="lon">-71.03137</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Turner Hill Golf and Racquet Club, Topsfield Road, Ipswich, Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.6793</span>, <span class="lon">-70.8412</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                433 So Spring st Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                <span class="lat"> 34.04841</span>, <span class="lon">-118.24881</span>
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell location">
                Massachusetts, USA
            </td>   
                <td class="table__cell">
                <span class="lat"> 42.3204700602</span>, <span class="lon">-71.9603257607071</span>
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>