<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Shutter Island</h3>
                        <p class="card-text">
                          In 1954, a U.S. Marshal investigates the disappearance of a murderer who escaped from a hospital for the criminally insane.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BYzhiNDkyNzktNTZmYS00ZTBkLTk2MDAtM2U0YjU1MzgxZjgzXkEyXkFqcGdeQXVyMTMxODk2OTU@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Shutter Island"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Peddocks Island, Boston Harbor, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3605, -71.0596
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Acadia National Park, Maine, USA
            </td>   
                <td class="table__cell">
                44.352142, -68.2296585
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Medfield State Hospital   45 Hospital Road, Medfield, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.2125115, -71.3354305
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Borderland State Park   259 Massapoag Avenue, Sharon, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.062417, -71.164669
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Whittenton Mills   437 Whittenton Street, Taunton, Massachusetts, USA
            </td>   
                <td class="table__cell">
                41.92357, -71.10641
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Medfield, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.1866, -71.3055
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Taunton, Massachusetts, USA
            </td>   
                <td class="table__cell">
                41.9001, -71.0898
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3605, -71.0596
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wilson Mountain Reservation, Dedham, Massachusetts, USA 
            </td>   
                <td class="table__cell">
                42.259005, -71.197654
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hull, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.302, -70.9078
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hyde Park, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.2557, -71.1245
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nahant, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.4265, -70.9189
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hearst Ranch, San Simeon, California, USA 
            </td>   
                <td class="table__cell">
                35.657178, -121.192077
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Boston Harbor, Boston, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.34359, -71.03137
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Turner Hill Golf and Racquet Club, Topsfield Road, Ipswich, Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.6793, -70.8412
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                433 So Spring st Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.04841, -118.24881
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Massachusetts, USA
            </td>   
                <td class="table__cell">
                42.3204700602, -71.9603257607071
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>