<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/movieLocationHead.ejs`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>

     <main class="mb-4 mt-5">




        <div class="container px-4 px-lg-5">


            <div class="row align-items-md-stretch">
                
              <div class="col-md-12">

                <div class="card mb-3" id="film-details">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                      <h3 class="card-title">The Best Years of Our Lives</h3>
          <p class="card-text mb-0">


  <span > Three World War II veterans, two of them traumatized or disabled, return home to the American midwest to discover that they and their families have been irreparably changed.  </span>
                          <span > The story concentrates on the social re-adjustment of three World War II servicemen, each from a different station of society. Al Stephenson returns to an influential banking position, but finds it hard to reconcile his loyalties to ex-servicemen with new commercial realities. Fred Derry is an ordinary working man who finds it difficult to hold down a job or pick up the threads of his marriage. Having had both hands burnt off during the war, Homer Parrish is unsure that his fiancée's feelings are still those of love and not those of pity. Each of the veterans faces a crisis upon his arrival, and each crisis is a microcosm of the experiences of many American warriors who found an alien world awaiting them when they came marching home. -alfiehitchie.  </span>
                          <span > At the end of World War II, a soldier, a sailor and an airman return to their home town of Boone City and must re-adjust to the society they had left several years before. Al Stephenson was a banker before joining up. He is older than your average war veteran and gets home to find that his children have grown up and faces the difficult task of re-establishing an intimate relationship with his loving wife. At work, Al is promoted but now finds it difficult to be the hardhearted banker he seemingly once was. Fred Derry was an Air Force Officer and Bombardier but realizes on his return that he has no marketable skills and finds himself in his old job at the pharmacy working as a soda jerk. He also finds that he had married in haste and that his wife, whom he'd only known for a few weeks when they married during his flight training, isn't quite as enamored with him now that he's out of uniform. Lastly, there is Homer Parrish who lost both of his hands in a shipboard fire. He's become quite adept at using the prosthetics the Navy has provided him but resents the pity he sees in others eyes. He had hoped to marry his childhood sweetheart but is no longer sure he can burden her with his own physical limitations. All three men become fast friends and with Fred Derry's marriage falling apart, he finds himself falling in love with Al's daughter, Peggy. In the end, all three finds ways to move forward with their lives. -garykmcd.  </span>
                          
                <div class="collapse" id="myCollapsible">
                    <div id = "module">



                    </div>
<span class="additional-information" > Fred, Al and Homer are three World War II veterans facing difficulties as they re-enter civilian life. Fred is a war hero who, unable to compete with more highly skilled workers, has to return to his low-wage soda jerk job. Bank executive Al gets into trouble for offering favorable loans to veterans. After losing both hands in the war, Homer returns to his loving fiancée, but must struggle to adjust. -Jwelch5742.  </span>
    </div>
                
<p>
  <a class="btn btn-link show-more-less collapsed" data-bs-toggle="collapse" href="#myCollapsible" role="button" aria-expanded="false" aria-controls="myCollapsible">

  </a>

</p>

              

                        </p>
                      </div>
                    </div>
                      <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BY2RmNTRjYzctODI4Ni00MzQyLWEyNTAtNjU0N2JkMTNhNjJkXkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Best Years of Our Lives"
                                    />
                    </div>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="col-lg-12">
  <div class="map-container">
                  <div id="map"></div>
                  <div id="loader">
                    <div class="spinner-border" role="status">
                      <span class="sr-only d-none">Loading...</span>
                    </div>
                  </div>
                </div>

            </div>

 <table class="table">
          <tr class="table__header">

            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Ontario, California, United States
            </td>
                <td class="table__cell">
                34.0658, -117.6484
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Walnut Hills, Cincinnati, Ohio, United States
            </td>
                <td class="table__cell">
                39.126, -84.4891
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Downtown Long Beach, Long Beach, California, United States
            </td>
                <td class="table__cell">
                33.77, -118.19
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                301 Baldwin Avenue, Arcadia, California 91007, United States
            </td>
                <td class="table__cell">
                34.14724, -118.05049
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                5300 Melrose Avenue, Los Angeles, California 90038, United States
            </td>
                <td class="table__cell">
                34.08336, -118.31616
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                7200 Santa Monica Boulevard, West Hollywood, California 90025, United States
            </td>
                <td class="table__cell">
                34.090713, -118.346243
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                7200 Santa Monica Boulevard, West Hollywood, California 90025, United States
            </td>
                <td class="table__cell">
                34.090713, -118.346243
            </td>
          </tr>
          </tr>

        </table>
          </div>
        </div>


    </main>



     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>

  <script type="text/javascript">

var locations =[{"bbox": [[33.77, -118.19], [34.0658, -117.6484], [34.08336, -118.31616]], "data": [{"lat": 34.0658, "lon": -117.6484, "name": "Ontario, California, United States"}, {"lat": 39.126, "lon": -84.4891, "name": "Walnut Hills, Cincinnati, Ohio, United States"}, {"lat": 33.77, "lon": -118.19, "name": "Downtown Long Beach, Long Beach, California, United States"}, {"lat": 34.14724, "lon": -118.05049, "name": "301 Baldwin Avenue, Arcadia, California 91007, United States"}, {"lat": 34.08336, "lon": -118.31616, "name": "5300 Melrose Avenue, Los Angeles, California 90038, United States"}, {"lat": 34.090713, "lon": -118.346243, "name": "7200 Santa Monica Boulevard, West Hollywood, California 90025, United States"}, {"lat": 34.090713, "lon": -118.346243, "name": "7200 Santa Monica Boulevard, West Hollywood, California 90025, United States"}]}];
var map = L.map('map').setView([0,0], 20);

const layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
})

const coords = []
    for (let index = 0; index < locations[0].data.length; index++) {
  const element = locations[0].data[index];
 coords.push([element.lat, element.lon])

  let marker = L.marker([element.lat, element.lon]);
  marker.bindPopup(element.name);
marker.addTo(map);

}

if(locations[0].bbox){

const box = locations[0].bbox
  console.log(JSON.stringify(box))
  map.fitBounds(box)
map.zoomOut(1);
}
layer.on('load', function (event) {
     document.getElementById('loader').classList.add('d-none')



});
layer.addTo(map);
</script>
  </body>
</html>