<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">The Wolf of Wall Street</h3>
                        <p class="card-text">
                          Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="The Wolf of Wall Street"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Portofino, Genoa, Liguria, Italy 
            </td>   
                <td class="table__cell">
                44.30424, 9.20716
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ardsley, New York, USA 
            </td>   
                <td class="table__cell">
                41.0107, -73.8437
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rao's Restaurant, 455 East 114th Street, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.79392, -73.93427
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shalimar Diner, 63 68 Austin St, Rego Park, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.722594, -73.851446
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Closter, New Jersey, USA 
            </td>   
                <td class="table__cell">
                40.9732, -73.9615
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                White Plains, New York, USA 
            </td>   
                <td class="table__cell">
                41.034, -73.7629
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chestnut Hill Drive, Oyster Bay, New York, USA 
            </td>   
                <td class="table__cell">
                40.84932, -73.56709
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Las Vegas, Nevada, USA 
            </td>   
                <td class="table__cell">
                36.1663, -115.1492
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.751296, -73.984819
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Mamaroneck, New York, USA 
            </td>   
                <td class="table__cell">
                40.95, -73.74
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                300 East 55th Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.757715, -73.96603
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Air Hollywood   13240 Weidner Street, Pacoima, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.27405, -118.42196
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Geneva, Canton de Genève, Switzerland 
            </td>   
                <td class="table__cell">
                46.2, 6.15
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Trump Tower   725 Fifth Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.76253, -73.97406
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Harrison, New York, USA 
            </td>   
                <td class="table__cell">
                40.969, -73.7126
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bayville, New York, USA 
            </td>   
                <td class="table__cell">
                40.9107, -73.5621
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.6501, -73.9496
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sands Point, Long Island, New York, USA 
            </td>   
                <td class="table__cell">
                40.8518, -73.7187
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                North Cove Marina, 385 South End Avenue, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7116, -74.01652
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                JC Studios, Brooklyn, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.618286, -73.9612235
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Nassau Street, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.71062, -74.00722
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Equitable Building   120 Broadway, Manhattan, New York City, New York, USA 
            </td>   
                <td class="table__cell">
                40.7086155, -74.010925
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                10 Vanderbilt Drive, Sands Point, Port Washington, New York, USA 
            </td>   
                <td class="table__cell">
                40.86303, -73.7227
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sands Point, Port Washington, New York, USA
            </td>   
                <td class="table__cell">
                40.830915, -73.68518
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Port Washington, New York, USA
            </td>   
                <td class="table__cell">
                41.100829, -72.362126
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Oyster Bay, New York, USA
            </td>   
                <td class="table__cell">
                40.8658, -73.532
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                New York, USA
            </td>   
                <td class="table__cell">
                40.7306, -73.9866
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>