<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Sunset Blvd.</h3>
                        <p class="card-text">
                          A screenwriter develops a dangerous relationship with a faded film star determined to make a triumphant return.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BMTU0NTkyNzYwMF5BMl5BanBnXkFtZTgwMDU0NDk5MTI@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Sunset Blvd."
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                10060 Sunset Blvd, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08054, -118.42477
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Getty Mansion   641 S. Irving Boulevard, Midtown, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.15, -118.76
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bel Air Country Club   10768 Bellagio Road, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0833, -118.4487
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Alto Nido Apartments   1851 N Ivar St, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.10515, -118.328303
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Schwab's Drug Store   8000 Sunset Blvd., Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.09747, -118.36513
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08918, -118.38055
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stage 18, Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0851635625, -118.3194839375
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sunset Strip, West Hollywood, California, USA 
            </td>   
                <td class="table__cell">
                34.09, -118.3617
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                8024 Sunset Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.09783, -118.36513
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Bullocks Wilshire, 3050 Wilshire Blvd Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.0268, -118.5017
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Paramount Gate, Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08363, -118.32191
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Griffith Park   4730 Crystal Springs Drive, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.1259, -118.27416
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dreier Building, Paramount Studios   5555 Melrose Avenue, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.08363, -118.32191
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood Boulevard & Vine Street, Hollywood, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.1016331, -118.3266959
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stone Canyon Rd, Bel Air, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.09264, -118.44939
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Perino's Restaurant, 3927 Wilshire Boulevard, Los Angeles, California, USA 
            </td>   
                <td class="table__cell">
                34.039818, -118.472766
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hollywood, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.095884, -118.370965
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.0544, -118.2439
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Midtown, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.15, -118.76
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wilshire Boulevard, Los Angeles, California, USA
            </td>   
                <td class="table__cell">
                34.14728, -118.2096
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>