<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/homeHead`, {pageTitle: 'Film Locations'}); -%>

  <body class="film-location">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/nav`); -%>
 
    <main class="mb-4 mt-5"> 
  
   
   
   
        <div class="container px-4 px-lg-5">
          
       
            <div class="row align-items-md-stretch">
                <div class="col-md-12">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8 px-3 py-3">
                      <div class="card-body">
                        <h3 class="card-title">Barry Lyndon</h3>
                        <p class="card-text">
                          An Irish rogue wins the heart of a rich widow and assumes her dead husband's aristocratic position in 18th-century England.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4 justify-self-end">
                      <img
                                      src="https://m.media-amazon.com/images/M/MV5BNmY0MWY2NDctZDdmMi00MjA1LTk0ZTQtZDMyZTQ1NTNlYzVjXkEyXkFqcGdeQXVyMjUzOTY1NTc@.jpg"
                                      class="img-fluid rounded-start"
                                      alt="Barry Lyndon"
                                    />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="folium-map" id="map_c2fc6f29f61843ba8f8a5d75e124e563" ></div>
 <table class="table">
          <tr class="table__header">
            
            <th class="table__cell">Location</th>
           <th class="table__cell">Coordiantes</th>
          </tr>
          <tr class="table__row">
            <td class="table__cell">
                Blenheim Palace, Woodstock, Oxfordshire, England, UK 
            </td>   
                <td class="table__cell">
                51.84242375, -1.3609806249999998
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carton House, Maynooth, County Kildare, Ireland
            </td>   
                <td class="table__cell">
                53.390557, -6.5660345
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Chatsworth House, Edensor, Derbyshire, England, UK 
            </td>   
                <td class="table__cell">
                53.228235999999995, -1.610953
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Kells, County Meath, Ireland 
            </td>   
                <td class="table__cell">
                53.6542824, -6.6923327
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Cahir Castle, County Tipperary, Ireland 
            </td>   
                <td class="table__cell">
                52.375153749999996, -7.9266665
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                The Guildhall, Lavenham, Suffolk, England, UK 
            </td>   
                <td class="table__cell">
                52.242759, 0.581383
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Royal Victoria Park, Bath, Somerset, England, UK
            </td>   
                <td class="table__cell">
                51.386223, -2.373142
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Dunrobin Castle, Sutherland, Scotland, UK 
            </td>   
                <td class="table__cell">
                56.734282295, -4.09589210432502
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Potsdam, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                52.4, 13.06667
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Huntington Castle, Clonegal, County Carlow, Ireland 
            </td>   
                <td class="table__cell">
                52.6901205, -6.6484695
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Somerset Rural Life Museum, Abbey Farm, Glastonbury, Somerset, England, UK 
            </td>   
                <td class="table__cell">
                51.14344, -2.714353
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Baden Württemberg, Germany 
            </td>   
                <td class="table__cell">
                48.53778, 9.04111
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Carrick on Suir, County Tipperary, Ireland 
            </td>   
                <td class="table__cell">
                52.3490345, -7.4045505
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Castle Howard, York, North Yorkshire, England, UK 
            </td>   
                <td class="table__cell">
                54.12058, -0.911018
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Sans Souci, Potsdam, Brandenburg, Germany 
            </td>   
                <td class="table__cell">
                52.403669, 13.038540000000001
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Shell Cottage, Carton Estate, Maynooth, Co. Kildare, Ireland 
            </td>   
                <td class="table__cell">
                53.385, -6.5936
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Castle Hohenzollern, Hechingen, Baden Württemberg, Germany 
            </td>   
                <td class="table__cell">
                48.32325025, 8.967694999999999
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Corsham Court, Wiltshire, England, UK 
            </td>   
                <td class="table__cell">
                51.4343335, -2.1824760000000003
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Hechingen, Baden Württemberg, Germany 
            </td>   
                <td class="table__cell">
                48.35167, 8.96333
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Longleat House, Wiltshire, England, UK 
            </td>   
                <td class="table__cell">
                51.1861825, -2.2759679999999998
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ludwigsburg Castle, Ludwigsburg, Baden Württemberg, Germany 
            </td>   
                <td class="table__cell">
                48.899854500000004, 9.19695125
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Ludwigsburg, Baden Württemberg, Germany 
            </td>   
                <td class="table__cell">
                48.8975, 9.19194
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Petworth House, Petworth, West Sussex, England, UK 
            </td>   
                <td class="table__cell">
                50.988816, -0.609973
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Powerscourt, County Wicklow, Ireland 
            </td>   
                <td class="table__cell">
                53.181, -6.2944
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Rathgormack, County Waterford, Ireland
            </td>   
                <td class="table__cell">
                52.276428, -7.561804
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Stourhead Garden, Warminster, Wiltshire, England, UK 
            </td>   
                <td class="table__cell">
                51.10817, -2.324088
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Wilton House, Wilton, Salisbury, Wiltshire, England, UK 
            </td>   
                <td class="table__cell">
                51.0784975, -1.8570505000000002
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Glenpatrick, County Waterford, Ireland 
            </td>   
                <td class="table__cell">
                52.316679, -7.597935
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Compton Acres, Poole, Dorset, England, UK 
            </td>   
                <td class="table__cell">
                50.707164500000005, -1.9264385000000002
                    </td>   
          </tr> 
          <tr class="table__row">
            <td class="table__cell">
                Compton Castle, Marlton, Devon, England, UK 
            </td>   
                <td class="table__cell">
                50.4725295, -3.600009
                    </td>   
          </tr> 
          </tr>
        
        </table>
          </div>
        </div>
    
       
    </main>


      
     <%- include(`${partials}/footer`); -%> <%-include(`${partials}/homeScripts`); -%>
  </body>
</html>